﻿
@font-face {
    font-family: 'SanFranciscoDisplay-Semibold';
    src: url('../fonts/SanFranciscoDisplay-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SanFranciscoDisplay-Regular';
    src: url('../fonts/SanFranciscoDisplay-Regular.otf') format('opentype');
}

.account-page #overview .heading {
    margin-top: 60px;
}

#a1 {
    /*    font-family:SanFranciscoText-Regular;*/
    font-size: 14px;
    font-weight: bolder;
}

#a2,
#a3,
#a4,
#a5,
#a6 {
    padding-top: 15px;
    /*    font-family:SanFranciscoText-Regular;*/
    color: #505050;
    font-size: 14px;
}

    #a2:hover,
    #a3:hover,
    #a4:hover,
    #a5:hover,
    #a6:hover {
        cursor: pointer;
        color: #a48d76;
        transition-duration: 0.4s;
        font-weight: bold;
    }

.lineacc {
    width: 100%;
    border-bottom: solid 1px #a87b4f;
}

.hello {
    font-weight: bold;
    font-size: 16px;
    color: #505050;
    font-family: SanFranciscoDisplay-Regular;
}

.username {
    font-weight: bold;
    font-size: 16px;
    color: #a87b4f;
    font-family: SanFranciscoDisplay-Semibold;
}

.accleftside {
    background-color: #f9f9f9;
    margin-top: 3%;
}

.accbg {
    height: 40px;
    width: 40px;
    background-color: #d8d8d8;
    margin-right: 30px;
}

.accform {
    margin-top: 3%;
}

#accform .heading {
    margin-top: 54px;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #a77b4e;
    font-weight: 700;
    letter-spacing: 1px;
}

    #accform .heading::after {
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background: #a87b4f;
        margin-top: 15px;
        margin-bottom: 60px;
    }

#accform .lb-header {
    height: 14px;
    font-size: 14px;
    color: #505050;
    padding-left: 20px;
    margin-top: 10px;
}

#accform .input-custom {
    width: 360px;
    height: 40px;
    background-color: #fbfbfb;
    border: solid 1px #e1e1e1;
    padding: 0 20px;
    margin-bottom: 30px;
}

#accform .input-custom-form {
    padding-left: 0;
}

#accform .btn-update {
    width: 140px;
    height: 40px;
    border: solid 1px #a87b4f;
    margin-bottom: 11%;
    margin-top: 10%;
    padding: 0;
}

.form-account {
    margin-top: -18px;
}

#accform .form-account input[type="radio"] {
    display: none;
}

#accform .form-account .custom-radio {
    /*    position: absolute;*/
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: solid 1px #979797;
    overflow: hidden;
    cursor: pointer;
}

#accform .form-account input[type="radio"]:checked ~ .custom-radio::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    /*    position: absolute;*/
    background: #a87b4f;
    margin: 4px;
}

#accform .form-account .custom-radio-gender {
    margin-left: 15px;
    vertical-align: top;
}

#accform .form-account .custom-radio-gender {
    margin-right: 42px;
}

.dropdown-dob {
    border-radius: 0;
    margin-right: 15px;
    width: 110px;
    height: 40px;
    padding-left: 0;
    padding-top: 0;
    font-size: 14px;
}



.title-dob {
    margin-right: 30px;
    padding-left: 20px;
    padding-top: 11px;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

#orderform {
    margin-top: 4.5%;
}

    #orderform .heading {
        margin-top: 54px;
        margin-bottom: 0;
        font-size: 20px;
        text-transform: uppercase;
        color: #a77b4e;
        font-weight: 700;
        letter-spacing: 1px;
    }

        #orderform .heading::after {
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background: #a87b4f;
            margin-top: 15px;
            margin-bottom: 60px;
        }



    #orderform thead > tr > th {
        font-size: 16px;
        font-weight: 500;
    }

    #orderform tbody > tr > td {
        font-size: 14px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

#favform {
    margin-top: 4.5%;
}

    #favform .heading {
        margin-top: 54px;
        margin-bottom: 0;
        font-size: 20px;
        text-transform: uppercase;
        color: #a77b4e;
        font-weight: 700;
        letter-spacing: 1px;
    }

        #favform .heading::after {
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background: #a87b4f;
            margin-top: 15px;
            margin-bottom: 60px;
        }

    #favform thead > tr > th {
        font-size: 16px;
        font-weight: 500;
    }

    #favform tbody > tr > td {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

        #favform tbody > tr > td > a {
            border: solid 1px #a87b4f;
            font-size: 14px;
            padding: 6% 10%;
            text-decoration: none;
            color: #a87b4f;
            font-weight: 600;
        }

.img-show {
    width: 45px;
    height: 45px;
    background-color: #d8d8d8;
    margin-right: 15px;
}


/*Tab*/


#tabs2 .list-group-item {
    border: 0px;
    background: #f9f9f9;
    font-family: SanFranciscoDisplay-Regular;
}

#tabs2 div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

#tabs2 div.bhoechie-tab-container {
    z-index: 10;
    padding-left: 0px;
    font-size: 16px;
    color: #505050;
}

#tabs2 div.bhoechie-tab-menu {
    line-height: 30px;
}

#tabs2 div.bhoechie-tab {
}


#tabs2 div.bhoechie-tab-menu div.list-group > a,
#tabs2 div.bhoechie-tab-menu div.list-group > a:focus {
    outline: none;
}

    #tabs2 div.bhoechie-tab-menu div.list-group > a:focus {
        cursor: pointer;
    }

    #tabs2 div.bhoechie-tab-menu div.list-group > a.active {
        font-size: 16px;
        font-weight: bold;
        color: #a87b4f;
        background-color: #f9f9f9;
    }

#tabs2 div.bhoechie-tab-content {
    background-color: #ffffff;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-left:50px;
}

#tabs2 .bhoechie-tab-content {
    font-size: 14px;
}




/*Address*/
.addrcontain .address-container {
    margin-top: 7px;
    margin-bottom: 35px;
}

.addrcontain .address-content {
    margin-top: 30px;
    position: relative;
}

    .addrcontain .address-content .address-text {
        border: 1px solid #a87b4f;
        padding: 19px 25px 29px;
        line-height: 30px;
        color: #505050;
        font-weight: initial;
        width: 100%;
        /* position: relative; */
        cursor: pointer;
        margin: 0;
    }

        .addrcontain .address-content .address-text:hover {
            background-color: rgba(168, 123, 79, 0.1);
        }

    .addrcontain .address-content input[type="radio"]:checked ~ label {
        border: 1px dashed #235b57;
    }

    .addrcontain .address-content .customer-name {
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
    }

    .addrcontain .address-content .customer-address {
        /* display: inline-block; */
        width: calc(100% - 100px);
        line-height: 22px;
        margin-top: 7px;
    }

    .addrcontain .address-content .customer-phone {
        line-height: 20px;
        margin-top: 4px;
    }

    .addrcontain .address-content .action {
        position: absolute;
        top: 21px;
        right: 25px;
        color: #235b57;
    }

        .addrcontain .address-content .action span:hover {
            cursor: pointer;
        }

        .addrcontain .address-content .action .btn {
            padding: 0;
            font-size: 12px;
            color: #235b57;
        }

            .addrcontain .address-content .action .btn,
            .addrcontain .address-content .action .btn:focus {
                outline: none;
                text-decoration: none;
            }

                .addrcontain .address-content .action .btn:hover {
                    text-decoration: underline;
                }

        .addrcontain .address-content .action .v-separator {
        }

#addlist .heading {
    margin-top: 54px;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #a77b4e;
    font-weight: 700;
    letter-spacing: 1px;
}

    #addlist .heading::after {
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background: #a87b4f;
        margin-top: 15px;
        margin-bottom: 60px;
    }

#addlist .lb-header {
    height: 14px;
    font-size: 14px;
    color: #505050;
    padding-left: 20px;
    margin-top: 10px;
}


/*Add Address Button*/
.addr-btn {
    color: #235b57;
    font-size: 16px;
    font-family: SanFranciscoDisplay-Regular;
    margin-left: 10px;
    vertical-align: middle;
}

#favorite-tbl > td {
    height: 75px;
}

#addDeliveryInfomb {
    text-decoration: none;
    height: 25px;
    margin-top: 30px;
    margin-left: -18px;
    margin-bottom: 50px;
    display: block;
}

#addFormmb {
    display: none;
}

    #addFormmb .option .custom-checkbox3 {
        width: 20px;
        height: 20px;
        border: solid 1px #979797;
        display: inline-block;
        position: relative;
    }

    #addFormmb .option input[type="checkbox"] {
        display: none;
    }

    #addFormmb .option input[type="radio"] {
        display: none;
    }

    #addFormmb .option .custom-checkbox3.disabled {
        background-color: #d8d8d8;
        border: solid 1px #cecece;
    }

    #addFormmb .option input[type="checkbox"]:checked ~ .custom-checkbox3::after {
        content: '';
        display: block;
        background: #a87b4f;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
    }

    #addFormmb .option input[type="radio"]:checked ~ .custom-checkbox3::after {
        content: '';
        display: block;
        background: #a87b4f;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
        border-radius: 50px;
    }

@media screen and (max-width: 768px) {
    .lineacc {
        display:none;
    }
    .accleftside {
        width: 100%;
        text-align: center;
    }

    #acc-group-list {
        display: none;
    }

    #left-side {
        display: none;
    }

    #accform .input-custom-form {
        padding-left: 15px;
        margin-top: 10px;
    }

    #accform .input-custom {
        width: 100%;
        height:35px;
        background-color:white;
        border-radius:0px!important;
    }

    #accform .lb-header {
        padding-left: 0px;
        font-weight: 500;
    }

    #gender-acc {
        margin-top: 35px;
    }

    #accform .btn-update {
        margin-left:50%;
        transform:translateX(-50%);
    }

    .addrcontain .address-content .customer-address {
        width: 100%;
    }

    #accform .heading {
        margin-top: 20px;
    }

        #accform .heading::after {
            margin-bottom: 20px;
        }

    .btcancel {
        width: 40%;
    }

    #accform .heading {
        font-size: 18px;
        padding-bottom: 20px;
    }

    #accform .form-account .custom-radio {
        width: 15px;
        height: 15px;
    }
    #accform .form-account input[type="radio"]:checked ~ .custom-radio::after {    
    width: 9px;
    height: 9px;
   
}

    #accform .form-account input[type="radio"]:checked ~ .custom-radio::after {
        margin-top:18%;
        margin-left: 16%;
    }

    #accform .input-custom {
    margin-bottom:15px;
}
}

#love-product .title-tab2 {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: #a87b4f;
    letter-spacing: 1px;
}

#love-product .line-tab2 {
    margin-top: 17px;
    width: 24px;
    height: 2px !important;
    border: solid 0px #a87b4f;
}
#love-product .tab-content2{
    margin-top:-25px!important;
}
#love-product .tab-content2 .list-product-favorite{
    margin-top:25px;
    border-bottom:1px solid #ddd;
}
#love-product .tab-content2 .list-product-favorite:nth-last-child(-n+2){ 
   border:none;
}


#love-product .tab-content2 .list-product-favorite .img-show{
    height:68px;
    margin-bottom:20px;
}
#love-product .tab-content2 .list-product-favorite .product-code-favorite {
    font-size: 12px;
    text-align: center;
    color: #235b57;
}

#love-product .tab-content2 .list-product-favorite .product-name-favorite {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    min-height:31px;
    display:block;
}
#love-product .tab-content2 .list-product-favorite .product-name-favorite a:link{
    color: #a87b4f !important;
    
}
#love-product .tab-content2 .list-product-favorite .product-name-favorite a:visited{
    color: #a87b4f !important;
    
}

#love-product .tab-content2 .list-product-favorite .product-price-favorite {
    font-size: 12px;
    text-align: left;
    color: #505050;
        
}
#managebill .tab-content2{
    margin-top:-25px!important;
}
#managebill .title-tab2 {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: #a87b4f;
    letter-spacing: 1px;
}

#managebill .line-tab2 {
    margin-top: 17px;
    width: 24px;
    height: 2px !important;
    border: solid 0px #a87b4f;
}

#managebill .tab-content2 .list-bill{
    margin-top:20px;
    border-bottom:1px solid #ddd;
  
}
#managebill .tab-content2 .list-bill:nth-last-child(-n+2){ 
   border:none;
}
#managebill .tab-content2 .list-bill .content-bill{
    display:block;
     margin-bottom:20px;
}

#managebill .tab-content2 .list-bill .title-bill{
    font-size: 14px;
  font-weight: 500;
  text-align: left;
  
}

#managebill .tab-content2 .list-bill .title-bill a:link {
    color: #a87b4f!important;
}

#managebill .tab-content2 .list-bill .title-bill a:visited{
    color: #a87b4f !important;
    
}

@media screen and (max-width: 768px) {
    #orderDetail{
        font-size:12px;
    }
}
.icon-cancelBill img{
    height:20px!important;
}
.combodate select{
    width:30%!important;
    height:40px;
    background-color:rgba(168, 123, 79, 0.05);
    border-color:#a87b4f;
    padding: 0 10px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
    border:none;
}