﻿/*
    Page: CHECKOUT PAGE
    Author: HieuTN
*/

/*Phần CSS cho form địa chỉ*/
.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .form-control {
    border-radius: 0px;
    background-color: #fbfbfb;
    border: solid 1px #e1e1e1;
    height: 40px;
}

.textadd {
    font-size: 14px;
    font-style: italic;
    color: #505050;
}

#addForm {
    display: none;
}

    #addForm .option .custom-checkbox2 {
        width: 20px;
        height: 20px;
        border: solid 1px #979797;
        display: inline-block;
        position: relative;
    }

    #addForm .option input[type="checkbox"] {
        display: none;
    }

    #addForm .option input[type="radio"] {
        display: none;
    }

    #addForm .option .custom-checkbox2.disabled {
        background-color: #d8d8d8;
        border: solid 1px #cecece;
    }

    #addForm .option input[type="checkbox"]:checked ~ .custom-checkbox2::after {
        content: '';
        display: block;
        background: #a87b4f;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
    }

    #addForm .option input[type="radio"]:checked ~ .custom-checkbox2::after {
        content: '';
        display: block;
        background: #a87b4f;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
        border-radius: 50px;
    }

.addtext {
    font-size: 14px;
    color: #505050;
    margin-left: 20px;
    vertical-align: top;
    display: inline;
    font-weight: 400;
}

.btcancel {
    width: 162px;
    height: 50px;
    border: solid 1px #d0021b;
    color: #d0021b;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0px;
    background: none;
}

    .btcancel:hover {
        background-color: #d0021b;
        color: #fbfbfb;
    }

.btorder {
    width: 255px;
    height: 50px;
    border: solid 1px #a87b4f;
}

.textlabel {
    font-size: 14px;
    font-weight: 600;
    color: #505050;
}

.spaceform {
    margin-bottom: 25px;
}
/*-----------------------*/
#checkout-page .page-title {
    margin: 60px 0 0 0;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #a87b4f;
    text-transform: uppercase;
}

#checkout-page .line {
    width: 51px;
    height: 5px;
    background: #a87b4f;
    margin-top: 15px;
    margin-bottom: 66px;
}

#checkout-page .nav {
    width: 100%;
    border-bottom: 1px solid #a87b4f;
    margin-bottom: 0;
}

    #checkout-page .nav li {
        width: calc(100%/3);
        text-align: center;
    }

        #checkout-page .nav li:first-child {
            text-align: left;
        }

        #checkout-page .nav li:last-child {
            text-align: right;
        }

    #checkout-page .nav > li.active > a {
        opacity: 1;
    }

    #checkout-page .nav > li > a {
        border: none;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #a87b4f;
        background-color: transparent;
        opacity: 0.6;
        padding-left: 0;
        padding-right: 0;
        cursor: no-drop;
    }

        #checkout-page .nav > li > a[data-toggle="tab"] {
            cursor: pointer;
        }

        #checkout-page .nav > li > a:hover {
            color: #a87b4f;
        }

#checkout-page .tab-content {
    margin-bottom: 200px;
}

    #checkout-page .tab-content #login {
        padding-top: 40px;
    }

    #checkout-page .tab-content #address {
        padding-top: 60px;
    }

    #checkout-page .tab-content #payment {
        padding-top: 60px;
    }

#checkout-page #login span {
    display: block;
    text-align: center;
}

#checkout-page #login .btn-login {
    margin-top: 40px;
    margin-bottom: 125px;
    transition-duration: .1s;
    width: 140px;
    height: 40px;
    padding: 9px 0 0 0;
    letter-spacing: 1.4px;
}


#checkout-page .pane-title {
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;
    color: #a87b4f;
    margin-top: 2px;
    margin-bottom: 31px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

#checkout-page .address-container {
    margin-top: 7px;
    margin-bottom: 35px;
}

#checkout-page .address-content {
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    margin-top: 30px;
    position: relative;
}

    #checkout-page .address-content .address-text {
        border: 1px solid #a87b4f;
        padding: 19px 25px 29px;
        line-height: 30px;
        color: #505050;
        font-weight: initial;
        width: 100%;
        /* position: relative; */
        cursor: pointer;
        margin: 0;
    }

        #checkout-page .address-content .address-text:hover {
            background-color: rgba(168, 123, 79, 0.1);
        }

    #checkout-page .address-content input[type="radio"]:checked ~ label {
        border: 1px dashed #235b57;
    }

    /*#checkout-page .address-content.active .address-text {
        border: 1px dashed #235b57;
        color: #235b57;
    }*/

    #checkout-page .address-content .customer-name {
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
    }

    #checkout-page .address-content .customer-address {
        /* display: inline-block; */
        width: calc(100% - 100px);
        height: 44px;
        line-height: 22px;
        margin-top: 7px;
    }

    #checkout-page .address-content .customer-phone {
        line-height: 20px;
        margin-top: 4px;
    }

    #checkout-page .address-content .action {
        position: absolute;
        top: 21px;
        right: 25px;
        color: #235b57;
    }

        #checkout-page .address-content .action span:hover {
            cursor: pointer;
        }

        #checkout-page .address-content .action .btn {
            padding: 0;
            font-size: 12px;
            color: #235b57;
        }

            #checkout-page .address-content .action .btn,
            #checkout-page .address-content .action .btn:focus {
                outline: none;
                text-decoration: none;
            }

                #checkout-page .address-content .action .btn:hover {
                    text-decoration: underline;
                }

        #checkout-page .address-content .action .v-separator {
        }

#checkout-page #payment .option-delivery {
    margin-bottom: 32px;
}

#checkout-page #payment .option > label {
    font-weight: normal;
    width: 100%;
    color: #505050;
    user-select: none;
    margin-bottom: 28px;
}

    #checkout-page #payment .option > label:hover {
        cursor: pointer;
    }

#checkout-page #payment .option input[type="checkbox"] {
    display: none;
}

#checkout-page #payment .option input[type="radio"] {
    display: none;
}

#checkout-page #payment .option .custom-checkbox {
    width: 20px;
    height: 20px;
    border: solid 1px #979797;
    display: inline-block;
    position: relative;
}

    #checkout-page #payment .option .custom-checkbox.disabled {
        background-color: #d8d8d8;
        border: solid 1px #cecece;
    }

#checkout-page #payment .option input[type="radio"]:checked ~ .custom-checkbox::after {
    content: '';
    display: block;
    background: #a87b4f;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
}

#checkout-page #payment .option input[type="checkbox"]:checked ~ .custom-checkbox::after {
    content: '';
    display: block;
    background: #a87b4f;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
}

#checkout-page #payment .option .option-content {
    display: inline-block;
    width: calc(100% - 52px);
    float: right;
}

    #checkout-page #payment .option .option-content span {
        letter-spacing: .9px;
    }

    #checkout-page #payment .option .option-content hr ~ span {
        font-style: italic;
    }

        #checkout-page #payment .option .option-content hr ~ span.special {
            font-size: 13px;
            font-style: italic;
            letter-spacing: 0.5px;
            color: #9b9b9b;
        }

#checkout-page #payment .option hr {
    height: 1px;
    opacity: 0.7;
    background-color: #a87b4f;
    margin-top: 8px;
    margin-bottom: 10px;
}

#checkout-page #payment .option .hr-copy {
    height: 1px;
    background-color: #a87b4f;
}

#checkout-page #payment .option .transport-fee {
    float: right;
    text-transform: uppercase;
    font-weight: 600;
}

#checkout-page #payment .btn-confirm-order {
    width: 231px;
    height: 50px;
    border: solid 1px #d0021b;
    font-size: 16px;
    font-weight: 600;
    color: #d0021b;
    margin-top: 20px;
}

#checkout-page #payment .note {
    float: right;
    margin-top: 50px;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.5px;
    color: #a87b4f;
}


#checkout-page #payment .right {
    padding-top: 33px;
}

    #checkout-page #payment .right > div {
        background-color: #f9f9f9;
        padding: 25px 25px 63px;
        line-height: 30px;
        color: #505050;
    }

        #checkout-page #payment .right > div .customer-info-content {
            margin-bottom: 35px;
        }

    #checkout-page #payment .right .title {
        font-size: 16px;
        font-weight: bold;
        color: #a87b4f;
    }

        #checkout-page #payment .right .title small {
            float: right;
            font-size: 12px;
            position: relative;
            top: 4px;
        }

            #checkout-page #payment .right .title small a {
                color: #235b57;
            }

    #checkout-page #payment .right hr {
        height: 1px;
        opacity: 0.6;
        background-color: #a87b4f;
        margin-top: 10px;
        margin-bottom: 8px;
    }

    #checkout-page #payment .right .customer-name {
        font-size: 16px;
        font-weight: bold;
        color: #505050;
    }


    /*#checkout-page #payment .right > div > div {
    margin-bottom: 40px;
}*/

    #checkout-page #payment .right > div .order-sumary {
        padding-right: 20px;
        line-height: 40px;
        margin-bottom: 35px;
    }

    #checkout-page #payment .right .order-sumary .label {
        font-size: 16px;
        font-weight: bold;
        color: #505050;
        padding-left: 0;
    }

    #checkout-page #payment .right .order-sumary .price {
        float: right;
    }

    #checkout-page #payment .right > div .ordered {
        line-height: 20px;
    }

        #checkout-page #payment .right > div .ordered .product-content {
            margin-bottom: 20px;
        }

        #checkout-page #payment .right > div .ordered .img-responsive {
            height: 100px;
        }

    #checkout-page #payment .right .product-detail {
        display: inline-block;
        color: #505050;
    }

        #checkout-page #payment .right .product-detail .product-name {
            font-size: 14px;
            font-weight: bold;
            color: #a87b4f;
            margin-bottom: 10px;
        }

        #checkout-page #payment .right .product-detail .product-code .quantity {
            font-size: 14px;
            letter-spacing: 0.5px;
            color: #505050;
            float: right;
            font-weight: normal;
        }

        #checkout-page #payment .right .product-detail .product-code {
            font-size: 12px;
        }

        #checkout-page #payment .right .product-detail .product-color-size {
            font-size: 12px;
        }

        #checkout-page #payment .right .product-detail .color {
            width: 15px;
            height: 15px;
            display: inline-block;
            margin-left: 12px;
            vertical-align: middle;
            margin-right: 17px;
        }

        #checkout-page #payment .right .product-detail .product-price {
            font-size: 13px;
        }

    #checkout-page #payment .right .ordered .all-product {
        font-size: 14px;
        font-style: italic;
        color: #235b57;
        cursor: pointer;
        text-decoration: none;
    }

#checkout-page #payment .expand-content {
    display: none;
}

    #checkout-page #payment .expand-content hr {
        margin-bottom: 7px;
        height: 2px;
    }

    #checkout-page #payment .expand-content b {
        font-weight: 500;
    }

.btn-view-order {
    cursor: pointer;
}

.add1cbx {
    width: 50%;
}

.add2xbx {
    width: 35%;
}


@media screen and (max-width: 1024px) {
    .btorder {
        width: auto;
    }
}

@media screen and (max-width: 768px) {

    #checkout-page .nav li {
        width: calc(100%/3);
        text-align: center !important;
    }

    #checkout-page .page-title {
        font-size: 28px;
        text-align: center;
    }

    #checkout-page .line {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #checkout-page .nav > li > a {
        font-size: 20px;
    }

    #checkout-page .address-content .customer-address {
        width: 100%;
    }

    .add1cbx {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    #checkout-page .nav li {
        text-align: center !important;
    }

    .line1add {
        width: 100%;
    }

    #checkout-page .pane-title {
        font-size: 12px;
        border-bottom: 1px solid rgba(168, 123, 79, 0.30);
    }

    #checkout-page #payment .option hr {
        width: 100%;
    }

    #checkout-page #payment .btn-confirm-order {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 160px;
        height: 45px;
        font-size: 12px;
    }

    #checkout-page #payment .right > div .ordered img {
        display: block;
        margin: auto;
    }

    #checkout-page #payment .right .product-detail {
        display: block;
        margin-top: 20px;
    }

    #checkout-page .nav > li > a {
        font-size: 14px !important;
    }

    #checkout-page .nav > li.active > a {
        display: inline-block;
    }

    #checkout-page .page-title {
        display: none;
    }

    #checkout-page .line {
        display: none;
    }

    #checkout-page .nav {
        margin-top: 40px;
    }

    #checkout-page #payment .option > label {
        font-size: 12px;
    }

    #checkout-page #payment .option .custom-checkbox {
        width: 13px;
        height: 13px;
        top: 2px;
    }

    #checkout-page #payment .option input[type="radio"]:checked ~ .custom-checkbox::after {
        top: 1px;
        left: 1px;
        width: 9px;
        height: 9px;
        background-color: #a87b4f;
    }

    #checkout-page #payment .option input[type="checkbox"]:checked ~ .custom-checkbox::after {
        top: 1px;
        left: 1px;
        width: 9px;
        height: 9px;
        background-color: #a87b4f;
    }

    #checkout-page #payment .option .option-content {
        width: calc(100% - 30px);
    }
}


.addForm {
    display: none;
}

    .addForm .option .custom-checkbox4 {
        width: 20px;
        height: 20px;
        border: solid 1px #979797;
        display: inline-block;
        position: relative;
    }

    .addForm .option input[type="checkbox"] {
        display: none;
    }

    .addForm .option input[type="radio"] {
        display: none;
    }

    .addForm .option .custom-checkbox4.disabled {
        background-color: #d8d8d8;
        border: solid 1px #cecece;
    }

    .addForm .option input[type="checkbox"]:checked ~ .custom-checkbox4::after {
        content: '';
        display: block;
        background: #a87b4f;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
    }

    .addForm .option input[type="radio"]:checked ~ .custom-checkbox4::after {
        content: '';
        display: block;
        background: #a87b4f;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
        border-radius: 50px;
    }

#checkout-page #payment .right .product-detail .product-color-size #pro-size {
    font-weight: bold;
}

.btn-remove-cart {
    padding: 0 !important;
    border:none;
    background:none;
}
.btn-remove-cart:hover {
    background: none;
}
