/**
    Page: FORGOT PASSWORD
    Author: DucBM
**/

#forgot-password {
    margin-bottom: 200px;
}

#forgot-password .page-title {
    margin: 120px 0 0 0;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #a87b4f;
    text-transform: uppercase;
    text-align: center;
}
#forgot-password .line {
    width: 51px;
    height: 5px;
    background: #a87b4f;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#forgot-password .section-title {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.57px;
    color: #000000;
}

#forgot-password .main-box {
    width: 472px;
    max-width: 100%;
    background-color: #f9f9f9;
    margin: 100px auto 0;
    padding: 30px 37px;
}

#forgot-password .description {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

#forgot-password .custom-text-input {
    width: 100%;
    height: 40px;
    border: solid 1px #a87b4f;
    padding: 0 20px;
    margin-top: 35px;
}

#forgot-password .go-back {
    margin-top: 15px;
}

#forgot-password .go-back a,
#forgot-password .go-back a:hover {
    font-size: 12px;
    color: #a87b4f;
}

#forgot-password .go-back .icon {
    margin-right: 3px;
}
#forgot-password .go-back .require {
    font-size: 12px;
    font-style: italic;
    color: #000000;
}

#forgot-password .btn-send {
    width: 98px;
    height: 40px;
    padding: 0;
    display: block;
    margin: 36px auto 0;
}