.form-control {
    padding: 6px 12px;
    border: 1px solid #e0e0e0;
}
body.login-content:before {
    background-color: #00AA41;
}
body.login-content .lc-block {
    margin-top: 0;
}
.header {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    font-family: Calibri;
}

.header h2 {
    color: #fff;
    font-size: 30px;
    line-height: 1.2;
    text-shadow: 1px 1px 1px #000;
}

.header span {
    display: block;
    font-size: 150%;
    font-weight: 600;
}