﻿
@font-face {
    font-family: 'SanFranciscoDisplay-Regular';
    src: url('../fonts/SanFranciscoDisplay-Regular.ttf') format('truetype');
}

.pop-center {
    margin-top: 75px;
}

.con-center {
    margin-top: 30px;
}
/*responsive 320*/
@media screen and (max-width: 321px) {
    #header .logo {
        margin-left: -10px !important;
    }
}

@media screen and (max-width: 424px) {
    #header .shopping-cart .qty {
        left: 1.5px !important;
    }

    #header .shopping-cart {
        margin-top: -3px !important;
    }

    #top-products .swiper-button-prev {
        left: -5px !important;
    }

    #top-products .swiper-button-next {
        right: -5px !important;
    }

    #top-products .swiper {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media screen and (max-width: 767px) {
    #main-slider .right {
        margin-top: 20px !important;
        margin-left: 37px !important;
        margin-bottom: 35px !important;
    }

    /*#main-slider .swiper-button-next {
        margin-top: -100px;
    }

    #main-slider .swiper-button-prev {
        margin-top: -100px;
    }*/
}
/*responsive 376*/
@media screen and (max-width: 376px) {

    #open-menu {
        height: 15px !important;
        width: 15px !important;
    }

    #close-menu {
        height: 15px !important;
        width: 15px !important;
    }

    #header .left {
        padding-top: 25px !important;
    }

    #header .right {
        padding-top: 21px !important;
    }
}

@media screen and (max-width: 426px) {
    #boiling-gif {
        display: none;
    }

    #customers {
        background: none !important;
        height: 240px !important;
    }

    .component-product-slider .name {
        font-size: 17px;
    }

    .component-product-slider .price {
    }

    .popuptitle {
        font-size: 20px;
    }

    .pop-center {
        margin-top: 40px;
    }
}

#open-menu {
    height: 20px;
    width: 20px;
}

#close-menu {
    height: 20px;
    width: 20px;
}
/*responsive at 768 to 425*/
@media only screen and (max-width: 768px) and (min-width: 425px) {
    #header .action:not(:first-child) {
        border-right: none !important;
        padding: 0 20px !important;
    }

    #header .shopping-cart .qty {
        left: 2px !important;
    }

    #shop-icon {
        width: 20px !important;
    }

    #header .icon {
        height: 25px !important;
    }

    #header .icon-account {
        width: 15px !important;
        margin-right: 0px !important;
    }
}

@media screen and (max-width: 769px) {
    #main-slider .slide-1 .right {
        padding-top: 4vw;
    }

    #main-slider .slide-title-sm {
        font-size: 16px !important;
    }

    #main-slider .slide-title-lg {
        font-size: 30px !important;
        line-height: 31px !important;
    }

    #main-slider .right {
        margin-top: 20px !important;
        margin-left: 37px !important;
        margin-bottom: 35px !important;
    }

    .icon-arrow-left, .icon-arrow-right {
        height: 19px;
        width: 10px;
    }
    /*responsive footer*/
    #footer {
        text-align: center !important;
        padding-bottom: 0px;
    }

    #top-footer {
        padding-bottom: 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    }

    #mid-foot-1, #mid-foot-2, #mid-foot-3 {
        padding-bottom: 15px !important;
    }

    #mail-foot {
        background-color: #976b40;
        /*padding-bottom: 33px !important;*/
        padding-bottom: 100px !important;
        padding-top: 0px;
    }

    #footer .feature-container .search-content input {
        width: 80%;
        background-color: #976b40;
    }

    #search-foot {
        margin-right: 10%;
    }

    .social {
        /*display: none;*/
    }

    #copyright {
        text-align: center !important;
        background-color: #a87b4f;
        color: #ffffff;
    }

        #copyright > .container-wisky > .clearfix > .pull-right {
            float: none !important;
        }

        #copyright > .container-wisky > .clearfix > .pull-left {
            float: none !important;
        }

    #logo-copyright {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /*responsive menu*/
    #accordian {
        display: block;
    }

    #nav {
        display: none;
    }

    #header .search-bar {
        display: none;
    }

    #header .logo {
        width: 99.4px;
        height: 41.9px;
    }

    #login-d {
        display: none;
    }

    #login-sm {
        display: none;
    }

    #menu-btn {
        display: block;
    }

    #head-phone {
        display: none;
    }

    #header .action:not(:first-child) {
        border-right: none;
        padding: 0px;
    }

    #header .right {
        padding-top: 20px;
    }

    #header {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #a87b4f;
    }

        #header .shopping-cart .qty {
            left: 0px;
        }

    #download-cata {
        display: none;
    }

    #header .left {
        padding-top: 20px;
    }

    #acc-icon {
        display: none !important;
    }

    .authentication {
        display: none !important;
    }
    /*responsive Index*/
    .section-title {
        font-size: 20px;
    }

    .component-product-slider .name {
        font-size: 18px;
    }

    .component-product-slider .price {
        font-size: 16px;
    }

    #customers {
        margin-top: 50px;
        padding-top: 30px;
        background: rgb(249, 249, 249);
        height: 260px;
    }

        #customers .swiper {
            margin-top: 30px;
        }
}

@media screen and (min-width: 769px) {

    #accordian {
        display: none !important;
    }

    #menu-btn {
        display: none;
    }

    #shop-icon {
        width: 19px;
    }

    #header .icon-account {
        width: 15px;
    }
}


.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    /*opacity: 0.2;*/
}

/*style menu responsive*/
#accordian {
    display: block;
    margin-top: -555px;
    position: absolute;
    z-index: 3;
    width: 100%;
    transition-duration: 0.4s;
}

#close-menu {
    display: none;
}

#accordian.panel-group {
    margin-bottom: 0px;
}

#accordian > .panel {
    border: none;
    border-radius: 0px;
    margin-top: 0px;
}

#accordian > .panel-default > .panel-heading {
    height: 39px;
    background-color: white;
    border-top: solid 1px #bebebe;
    border-radius: 0px;
}

    #accordian > .panel-default > .panel-heading > .panel-title {
        font-family: SanFranciscoDisplay-Regular;
        font-size: 14px;
        font-weight: 400;
        color: #a87b4f;
        text-decoration: none;
        text-transform: uppercase;
    }

    #accordian > .panel-default > .panel-heading > a > .panel-title {
        font-family: SanFranciscoDisplay-Regular;
        font-size: 14px;
        font-weight: 600;
        color: #a87b4f;
        text-decoration: none;
        text-transform: uppercase;
    }

    #accordian > .panel-default > .panel-heading > span {
        background: none;
    }

        #accordian > .panel-default > .panel-heading > span > i {
            color: #a87b4f;
        }

        #accordian > .panel-default > .panel-heading > span > a {
            text-decoration: none;
        }

#accordian > .panel-default > .panel-collapse > .panel-body {
    padding: 5px;
}

    #accordian > .panel-default > .panel-collapse > .panel-body > ul > li {
        color: #a87b4f;
        list-style: none;
        padding: 5px;
    }

        #accordian > .panel-default > .panel-collapse > .panel-body > ul > li > a {
            font-family: SanFranciscoDisplay-Regular;
            font-size: 12px;
            font-weight: 500;
            color: #a87b4f;
            text-decoration: none;
        }


.panel-outter {
    height: 40px;
    border-top: solid 1px #bebebe;
    background-color: white;
}

    .panel-outter > a {
        font-family: SanFranciscoDisplay-Regular;
        font-size: 14px;
        font-weight: 400;
        color: #a87b4f;
        text-decoration: none;
        display: block;
        height: 100%;
        text-transform: uppercase;
    }

        .panel-outter > a > span {
            display: block;
            margin-top: 8.5px;
            margin-left: 16px;
        }

.icon-responsive {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.icon-fb-responsive {
    height: 20px;
    width: 11px;
    display: inline-block;
}

.form-search-responsive {
    width: 100%;
    display: inline-block;
    vertical-align: sub;
    height: 30px;
}

.input-search-responsive {
    width: 100%;
    height: 100%;
    border: solid 1px rgba(168, 123, 79, 0.17);
}

.panel-bar {
    height: 40px;
    border-top: solid 1px rgba(168, 123, 79, 0.30);
    border-bottom: solid 1px rgba(168, 123, 79, 0.30) !important;
    background-color: white;
}

    .panel-bar .btn {
        padding: 0;
    }

#login-menu {
    height: 40px;
    border-top: solid 1px rgba(168, 123, 79, 0.30);
    background-color: white;
}

    #login-menu .icon-account {
        width: 12px;
    }

    #login-menu .icon {
        display: inline-block;
        margin-top: 8px;
        height: 20px;
        margin-left: 19px;
    }

    #login-menu a {
        color: #a87b4f;
        font-family: SanFranciscoDisplay-Regular;
        font-size: 14px;
        font-weight: 600;
        color: #a87b4f;
        text-decoration: none;
        vertical-align: -webkit-baseline-middle;
        display: inline;
        margin-left: 17px;
    }

.authentication-mobile {
    position: relative;
}

.add-img {
    width: 8px;
    height: 8px;
}

.minus-img {
    width: 8px;
    height: 1.1px;
}

.fade-sub {
    display: none;
}

@media only screen and (max-width: 1024px) and (min-width: 991px) {
    #right-head {
        padding-left: 0px !important;
        padding-left: 0px !important;
    }

    #header .action:not(:first-child) {
        padding: 0 10px !important;
    }

    #header .search-bar input {
        right: 44px !important;
        width: 95px !important;
    }

    #boiling {
        width: 600px;
        margin-left: -240px;
        margin-top: -30px;
    }

    .popuptitle {
        font-size: 30px;
    }

    .infopopup {
        width: 330px;
    }
}

@media only screen and (max-width: 426px) and (min-width: 376px) {
    button.close {
        height: 20px;
        width: 20px;
        margin-top: -302px;
        margin-right: -5px;
        font-size: 19px;
    }

    .infopopup {
        width: 234px;
        font-size: 12px;
    }

    #boiling {
        display: none;
    }
}

@media only screen and (max-width: 376px) {
    #boiling {
        display: none;
    }

    button.close {
        height: 20px;
        width: 20px;
        margin-top: -330px;
        margin-right: -5px;
        font-size: 19px;
    }

    .infopopup {
        width: 170px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 769px) and (min-width: 427px) {
    #boiling {
        width: 450px;
        height: auto;
        margin-left: -182px;
        margin-top: 7px;
    }

    .popuptitle {
        font-size: 20px;
    }

    .infopopup {
        width: 240px;
        font-size: 12px;
    }
}

#accordian .lang {
    border: 1px solid #a87b4f;
    border-radius: 6px;
    color: #a87b4f;
    width: 40px;
    height: auto;
    font-size: 12px;
    padding: 2px 8px;
    margin-top: 7px;
    display: block;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
    position: relative;
}

input {
    border-radius: 0px !important;
}
