﻿@font-face {
    font-family: 'SanFranciscoDisplay-Regular';
    src: url('../fonts/SanFranciscoDisplay-Regular.ttf') format('truetype');
}


.popupcontain {
    height: 390px;
    width: 60%;
    background-color: #fcfcfc;
}

#boiling {
    width: 800px;
    height: auto;
    margin-left: -310px;
    margin-top: -80px;
}

.popuptitle {
    font-family: SanFranciscoDisplay-Regular;
    font-size: 40px;
    color: #1c4a45;
}

.popuptitleline {
    width: 35px;
    height: 1px;
    border: solid 1.5px #a87b4f;
    border-radius: 20px;
}

.infopopup {
    width: 523px;
    height: 48px;
    font-family: SanFranciscoDisplay-Regular;
    font-size: 15px;
    text-align: center;
    color: #505050;
}

.closepopup:hover {
    cursor: pointer;
}

.close {
    opacity: 1.0;
}

button.close {
    height: 30px;
    width: 30px;
    border: 1.3px solid #000000;
    border-radius: 200px;
    margin-top: 15px;
    float: right;
    margin-right: 5px;
    font-family: 'Times New Roman';
    font-size: 30px;
}

button {
    outline: none;
}

a:hover {
    cursor: pointer;
}

#popupCallcenter .popupcontain {
    width: 78.3%;
    height: 621px;
    border: solid 2px #31110f;
}

#popupCallcenter #boiling {
    width: 436px;
    height: 452px;
    margin-left: 40px;
    margin-top: 86px;
}

#popupCallcenter .popuptitleline {
    width: 52px;
    height: 3px;
    border: solid 3px #a87b4f;
    border-radius: 0px;
    margin-top: 30px;
    margin-left: 100px;
}

#popupCallcenter .infopopup {
    font-size: 20px;
    line-height: 1.75;
    text-align: center;
    color: #235b57;
    min-width: 555px;
}

#popupCallcenter button.close {
    height: 35px;
    width: 35px;
    margin-right: -25px;
    margin-top: 0px;
}

#popupCallcenter .popupcontain .logo {
    width: 219px;
    height: 93px;
    margin-left: 100px;
}

#popupCallcenter .content {
    margin-top: 177px;
    margin-left: 45px;
}

#boiling1 {
    display: none;
}

@media screen and (max-width: 1024px) {
    #popupCallcenter #boiling {
        width: 218px;
        height: 226px;
        margin-left: 50px;
        display: none;
    }

    #popupCallcenter .decription {
       margin-left: 100px !important;
    margin-top:100px;
    }

    #popupCallcenter .infopopup {
        min-width: 444px;
    }

    #popupCallcenter .content {
        margin-top: 40px;
        margin-left: -50px;
    }

    #popupCallcenter .popupcontain {
        width: 100%;
        height: 90%;
        border: solid 2px #31110f;
    }

        #popupCallcenter .popupcontain .logo {
            width: 218px;
            height: 92px;
            margin-left: 70px;
        }

    #popupCallcenter .popuptitleline {
        width: 72px;
        height: 2px;
        border: solid 2px #a87b4f;
        border-radius: 0px;
        margin-top: 15px;
        margin-left: 70px;
    }

    #popupCallcenter .infopopup {
        font-size: 16px;
        line-height: 1.67;
        text-align: center;
        color: #235b57;
        margin-left: 50px;
    }

    #popupCallcenter button.close {
        position: relative;
       bottom: 360px;
        left: 600px;
        margin-right: 0px;
        margin-top: 10px;
    }

    #boiling1 {
        display: block;
        width: 336px;
        height: 348px;
        margin-left: 40px;
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    #popupCallcenter #boiling {
        width: 109px;
        height: 113px;
        margin-left: 50px;
        display: none;
    }

    #popupCallcenter .decription {
          margin-left: 0px !important;
    margin-top: 0px;
    }

    #popupCallcenter .infopopup {
        min-width: 345px;
    }

    #popupCallcenter .content {
        margin-top: 40px;
        margin-left: -50px;
    }

    #popupCallcenter .popupcontain {
        width: 100%;
        height: 90%;
        border: solid 2px #31110f;
    }

        #popupCallcenter .popupcontain .logo {
            width: 109px;
            height: 46px;
            margin-left: 70px;
        }

    #popupCallcenter .popuptitleline {
        width: 36px;
        height: 1px;
        border: solid 1px #a87b4f;
        border-radius: 0px;
        margin-top: 15px;
        margin-left: 70px;
    }

    #popupCallcenter .infopopup {
        font-size: 12px;
        line-height: 1.67;
        text-align: center;
        color: #235b57;
        margin-left: 50px;
    }

    #popupCallcenter button.close {
        position: relative;
           bottom: 460px;
    left: 0px;
        margin-right: 0px;
        margin-top: 10px;
    }

    #boiling1 {
        display: block;
        width: 168px;
        height: 174px;
        margin-left: 40px;
        margin-top: 100px;
    }
}
@media screen and (max-width: 320px) {
     #popupCallcenter .popupcontain .logo {
            width: 109px;
            height: 46px;
            margin-left: 50px;
        }
    #popupCallcenter .popupcontain {
        width: 100%;
        height: 80%;
    }

    #popupCallcenter .infopopup {
       min-width:250px;
    }
    #popupCallcenter .popuptitleline {
        
        margin-left: 50px;
    }

    #popupCallcenter button.close {
        width: 20px;
        height: 20px;
        bottom: 410px!important;
    left: 10px;
    }

    #boiling1 {
        display: block;
        width: 168px;
        height: 174px;
        margin-left: 40px;
        margin-top: 42px;
    }
}
