
@font-face {
    font-family: 'SanFranciscoDisplay-Semibold';
    src: url('../fonts/SanFranciscoDisplay-Semibold.ttf') format('truetype');
}


/**
    Page: PRODUCT DETAILS
**/
#product-detail-page #breadcum {
    margin-top: 20px;
}

#product-detail-page #product-summary {
    margin-top: 20px;
}

#product-detail-page #recomended-products {
    margin-top: 40px;
}

#product-detail-page #ads {
    margin-top: 80px;
    margin-bottom: 130px;
}

/** BREAD CUM **/
#breadcum a {
    color: #505050; /* darkgray */
}

#breadcum .fa {
    margin: 0 10px;
}
/** /BREAD CUM **/

/** PRODUCT SUMMARY **/

.btn.btn-bordered-details {
    border: solid 1px #a87b4f;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px;
    text-align: center;
    border-radius: 0;
    background: #fff;
    color: #a87b4f;
}

    .btn.btn-bordered-details:hover,
    .btn.btn-bordered-details:active {
        background: #a87b4f;
        color: #fff;
    }

#product-summary .summary-left {
    width: 100%;
}

#product-summary .summary-right {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #product-summary .summary-left {
        width: calc(486/1145*100%);
        margin-right: 74px;
    }

    #product-summary .summary-right {
        width: calc(519/1145*100%);
    }
}

@media screen and (min-width: 992px) {
    #product-summary .summary-left {
        width: calc(486/1145*100%);
    }

    #product-summary .summary-right {
        width: calc(519/1145*100%);
    }
}

@media screen and (min-width: 1200px) {
    #product-summary .summary-left {
        width: calc(486/1145*100%);
    }

    #product-summary .summary-right {
        width: calc(519/1145*100%);
    }
}


#product-images .ratio-wrapper:before {
    padding-top: calc(618/486*100%);
}

#product-images .ratio-item {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#product-images .slider-nav-wrapper {
    position: relative;
}

#product-images .slider-nav {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
}

    #product-images .slider-nav .item {
        padding: 0 10px;
    }

#product-images .slider-nav-wrapper img.icon {
    width: 14px;
    height: 27px;
    cursor: pointer;
}

#product-images .slider-nav-wrapper .slick-prev,
#product-images .slider-nav-wrapper .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#product-images .slider-nav-wrapper .slick-prev {
    left: -35px;
}

#product-images .slider-nav-wrapper .slick-next {
    right: -35px;
}

#product-images .slider-nav-wrapper .slick-slide:focus {
    outline: none;
}

#product-images .slider-nav-wrapper .slick-slide .ratio-item {
    border: solid 1px transparent;
}

#product-images .slider-nav-wrapper .slick-slide.slick-current .ratio-item {
    border-color: #a87b4f;
}
/* Hinh san pham: can giua khi con < 4 hinh; */
#product-images .slick-arrow.slick-hidden ~ .slider-nav .slick-track {
    margin-left: auto;
    margin-right: auto;
}

#product-images .slick-arrow.slick-disabled {
    display: none !important;
}

#product-items {
    margin-top: 25px;
}

    #product-items .name {
        font-size: 30px;
        font-weight: 600;
        color: #a87b4f;
    }

        #product-items .name a,
        #product-items .name a:hover {
            color: #a87b4f;
            /*text-decoration: none;*/
        }

    #product-items .price,
    #product-items .code {
        font-size: 24px;
        font-weight: 300;
        color: #a87b4f;
    }

    #product-items .line {
        border-top: solid 1px #a87b4f;
        margin-top: 30px;
        padding-bottom: 10px;
    }

    #product-items .line-blur {
        opacity: 1.0;
    }

    #product-items .title {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #a87b4f;
        text-transform: uppercase;
    }

    #product-items .detail {
        margin-top: 20px;
        line-height: 30px;
    }

    #product-items .detail-body {
        margin-top: 0px;
    }

    #product-items .rating ul {
        list-style-type: none;
        padding: 0;
    }

        #product-items .rating ul > li.star {
            display: inline-block;
        }

            #product-items .rating ul > li.star > i.glyphicon {
                font-size: 1.5em;
                color: #a87b4f;
            }

            #product-items .rating ul > li.star.hover > i.glyphicon {
            }


    #product-items .color {
        margin-top: 25px;
    }

        #product-items .color .choices {
            font-size: 0;
            margin-top: 15px;
        }

        #product-items .color input[type="radio"] {
            display: none;
        }

            #product-items .color input[type="radio"] ~ .custom-radio {
                width: 30px;
                height: 30px;
                margin-right: 30px;
                border: solid 1px #979797;
                display: inline-block;
                cursor: pointer;
                position: relative;
            }

            #product-items .color input[type="radio"]:checked ~ .custom-radio::after {
                content: '';
                display: block;
                width: calc(100% + 6px);
                height: calc(100% + 6px);
                background: none;
                position: absolute;
                top: -3px;
                left: -3px;
                border: 2px solid #a87b4f;
            }

    #product-items .size {
        margin-top: 15px;
    }

        #product-items .size .select {
            margin-top: 25px;
            width: 100%;
        }

        #product-items .size .hint {
            font-style: italic;
            color: #656565;
        }

            #product-items .size .hint a {
                color: #656565;
            }

    #product-items .quantity {
        margin-top: 15px;
    }

        #product-items .quantity .select {
            padding: 0 78px 0 7px;
            background-position: calc(100% - 7px) center;
            font-size: 16px;
        }

        #product-items .quantity .controls {
            margin-top: 25px;
        }

            #product-items .quantity .controls img {
                height: 28px;
                margin-left: 20px;
                margin-top: -19px;
            }

    #product-items .share-button {
        height: 28px;
        margin-left: 20px;
        font-size: 33px;
        color: #a87b4f;
        font-weight: 100;
    }

    #product-items .actions .btn {
        width: 100%;
        margin-top: 0px;
    }

.favorited {
    background-image: url('../images/icon/fav_icon_active.png');
    background-repeat: no-repeat;
    background-size: 31px;
}

#favorite img {
    transition: all .25s ease;
    max-width: 100%;
    max-height: 100%;
}

#favorite:active img {
    transform: scale(.85);
}

#stars {
    margin-bottom: 0px;
}
/** /PRODUCT SUMMARY **/

/** RECOMENDED PRODUCT **/
#recomended-products .component-product-slider {
    margin-top: 40px;
}
/** /RECOMENDED PRODUCT **/

/** Component: PRODUCT SLIDER **/
.component-product-slider .image {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.component-product-slider .swiper {
    position: relative;
}

.component-product-slider .swiper-button-next,
.component-product-slider .swiper-button-prev {
    transform: translateY(-100%);
}

.component-product-slider .swiper-slide {
    text-align: center;
    box-sizing: border-box;
}

    .component-product-slider .swiper-slide .ratio-wrapper.ratio-wrapper-1-1 {
        overflow: hidden;
    }

        .component-product-slider .swiper-slide .ratio-wrapper.ratio-wrapper-1-1 .ratio-item.image {
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -ms-transition: all 0.3s;
            transition: all 0.3s;
        }

            .component-product-slider .swiper-slide .ratio-wrapper.ratio-wrapper-1-1 .ratio-item.image:hover {
                transform: scale(1.06);
            }

.component-product-slider .name {
    font-weight: bold;
    color: #a87b4f;
    font-size: 20px;
    margin: 40px 0 0;
}

.component-product-slider a:hover {
    text-decoration: none;
}

.component-product-slider .price {
    color: #a87b4f;
    margin-top: 10px;
}

.component-product-slider .swiper-button-next {
    right: -45px;
}

.component-product-slider .swiper-button-prev {
    left: -45px;
}

.component-product-slider .swiper-button-disabled {
    /*display: none;*/
}
/** Component: PRODUCT SLIDER **/


/** Section Title **/
.section-title.lined {
    position: relative;
}

    .section-title.lined:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 100%;
        background: #a87b4f;
    }

    .section-title.lined .inner {
        padding-left: 30px;
        padding-right: 30px;
        background: white;
        position: relative;
        font-weight: 800;
        font-size: 24px;
        letter-spacing: .6px;
        color: #a87b4f;
    }
/** /Section Title **/

/** Section: Add Embroidery **/
.outer-embroider {
    display: table;
    height: 100%;
}

.modal-embroidery .modal-dialog {
    width: 1044px;
    max-width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.modal-embroidery .content {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}

.modal-embroidery ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .modal-embroidery ul li {
        margin: 0;
    }

.modal-embroidery .content-left {
    position: relative;
    background: white;
    width: calc(279/1044*100%);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.dropshadow( OffX=2px, OffY=4px, Color='black', Positive='false' ); /* IE 5.5 */
    border-collapse: separate; /* Required by IE 9 */
}

    .modal-embroidery .content-left .title {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #a87b4f;
        text-align: center;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .modal-embroidery .content-left .btn-close {
        background: #a87b4f;
        color: white;
        font-weight: 500;
        text-align: center;
        padding: 20px 0;
        width: 100%;
        font-size: 18px;
        border-top: 1px solid rgba(151, 151, 151, 0.25);
    }

.modal-embroidery .btn-close .fa {
    margin-right: 10px;
}

.modal-embroidery .nav li {
    margin-top: 0;
}

    .modal-embroidery .nav li a {
        border-radius: 0;
        padding: 16px 0 15px 23px;
        background: none;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #656565;
        border-top: 1px solid rgba(151, 151, 151, 0.25);
    }

    .modal-embroidery .nav li.active a {
        background: #a87b4f;
        color: white;
    }

.modal-embroidery .content-right {
    width: calc(765/1044*100%);
    padding: 26px 22px;
    background: white;
    max-height: 100%;
    overflow-y: auto;
}

    .modal-embroidery .content-right input[type="checkbox"] {
        display: none;
    }

        .modal-embroidery .content-right input[type="checkbox"] ~ .custom-checkbox {
            width: 15px;
            height: 15px;
            border: 1px solid #a87b4f;
            display: inline-block;
            cursor: pointer;
        }

        .modal-embroidery .content-right input[type="checkbox"]:checked ~ .custom-checkbox::after {
            content: '';
            display: block;
            width: 11px;
            height: 11px;
            background: #a87b4f;
            /*margin-left: 1px;*/
            margin-top: 1px;
        }

    .modal-embroidery .content-right .head .custom-checkbox {
        margin-right: 9px;
    }

    .modal-embroidery .content-right .head label {
        color: #a87b4f;
        font-size: 16px;
        margin-right: 18px;
        margin-bottom: 0;
    }

    .modal-embroidery .content-right .description {
        font-weight: 500;
        font-size: 14px;
        color: #656565;
    }

.modal-embroidery .custom-textfield {
    width: 100%;
    height: 25px;
    padding: 2px 7px 0 7px;
    border: solid 1px #a87b4f;
    outline: none;
}

    .modal-embroidery .custom-textfield::-webkit-input-placeholder {
        position: relative;
        top: -2px;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(168, 123, 79, 0.5);
    }
/* Word Embroider */
.modal-embroidery .word-embroider .checkbox-wrapper {
    margin-left: 29px;
}

.modal-embroidery .word-embroider .content-wrapper {
    margin-left: 14px;
    width: calc(100% - 60px);
}

.modal-embroidery .word-embroider .select {
    height: 25px;
    width: 100%;
    color: rgba(168, 123, 79, 0.9);
    font-size: 12px;
    line-height: normal;
    padding-left: 7px;
    padding-right: 30px;
    background-position: calc(100% - 10px) center;
}

    .modal-embroidery .word-embroider .select option {
        color: #505050;
    }

.modal-embroidery .word-embroider .body {
    margin-top: 10px;
    padding-right: 70px;
}

    .modal-embroidery .word-embroider .body .custom-checkbox {
        position: relative;
        top: 5px;
    }

    .modal-embroidery .word-embroider .body .notice {
        margin-left: 60px;
        margin-top: 16px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: .4px;
        color: #656565;
    }

.modal-embroidery .word-embroider .row {
    margin-left: -10px;
    margin-right: -10px;
}

    .modal-embroidery .word-embroider .row [class^="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }

.modal-embroidery .word-embroider ul li:not(:first-child) {
    margin-top: 10px;
}

/* Flag Embroider */
.modal-embroidery .flag-embroider {
    margin-top: 40px;
}

    .modal-embroidery .flag-embroider .item {
        max-width: 90px;
        text-align: center;
        text-transform: uppercase;
    }

    .modal-embroidery .flag-embroider .ratio-flag::before {
        padding-top: calc(54/90*100%);
    }

    .modal-embroidery .flag-embroider .ratio-item {
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .modal-embroidery .flag-embroider .body {
        max-width: 495px;
        margin-left: 60px;
        margin-top: 20px;
    }

        .modal-embroidery .flag-embroider .body .name {
            margin-top: 11px;
            font-size: 12px;
            font-weight: normal;
        }

        .modal-embroidery .flag-embroider .body .item {
            margin-bottom: 27px;
            display: block;
            max-width: 93px;
        }

        .modal-embroidery .flag-embroider .body input[type="checkbox"] {
            display: none;
        }

        .modal-embroidery .flag-embroider .body .flag-radio {
            position: relative;
            cursor: pointer;
        }

        .modal-embroidery .flag-embroider .body input[type="checkbox"]:checked ~ .flag-radio::after {
            content: '';
            display: block;
            position: absolute;
            left: -4px;
            right: -4px;
            top: -4px;
            bottom: -4px;
            border: 2px solid #a87b4f;
        }
/* Logo Embroider */
.modal-embroidery .logo-embroider .head {
    margin-left: 26px;
}

.modal-embroidery .logo-embroider .body {
    width: calc(100% - 135px);
}
/** /Section: Add Embroidery **/

/*pop-up add to cart*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* The actual popup */
.popuptext {
    visibility: hidden;
    background-color: #fff;
    color: black;
    width: 300px;
    height: 200px;
    padding: 8px 0;
    position: absolute;
    z-index: 21;
    top: 200px;
    opacity: 0;
    margin-left: 880px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
}

    /* Popup arrow */
    .popuptext::after {
        content: "";
        position: absolute;
        margin-left: -36px;
        margin-top: -6.5px;
        border-width: 10px;
        box-sizing: border-box;
        border: 10px solid black;
        border-color: transparent transparent white white;
        transform-origin: 0 0;
        transform: rotate(135deg);
        box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    }
/*Inside Popup*/
.popbutton {
    width: 124px;
    height: 30px;
    border: solid 1px #a87b4f;
    font-size: 12px;
    color: #a87b4f;
    text-align: center;
    font-weight: bold;
}

    .popbutton:hover {
        background-color: #a87b4f;
        color: white;
    }

.popimg {
    height: 60px;
    width: 50px;
}

.pophead {
    font-size: 12px;
    color: #a87b4f;
    text-align: center;
    font-family: SanFranciscoDisplay-Semibold;
}

.popcontain {
    font-size: 12px;
    font-family: SanFranciscoDisplay-Regular;
    color: #505050;
}

.popbody {
    margin-top: 15px;
}

/* Toggle this class - hide and show the popup */
.show {
    top: 113px;
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.5s;
    transition-duration: 0.5s;
}

#popbtn {
    background-color: #a87b4f;
    color: #fff;
}

    #popbtn:hover {
        background-color: #fff !important;
        border: solid 1px #a87b4f !important;
        color: #a87b4f !important;
    }


.rating #userStar {
    border: none;
    outline: none !important;
}

.rating .rating-star {
    margin-top: -24px !important;
    margin-left: 164px !important;
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    #product-items .name {
        font-size: 20px;
    }

    #product-items .price, #product-items .code {
        font-size: 18px;
    }

    .rating-xs {
        font-size: 18px;
    }

    #star-rating {
        margin-top: -5px;
    }

    #product-items .detail-body {
        line-height: 25px;
    }

    product-items .size .hint a {
        margin-right: 67px;
    }

    #product-items .line-blur {
        margin-top: 60px;
    }

    #product-items .actions .btn {
        margin-top: 20px;
        font-size: 12px;
    }

    #product-detail ul li {
        font-size: 13px;
    }

    #product-detail #productDetail .detail-content span {
        width: 75%;
    }

    #product-detail #productDetail .detail-content label {
        width: 20%;
    }
}

@media screen and (min-width: 427px) {
    #detail-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 426px) {
    .container-wisky {
        font-size: 12px !important;
    }

    #product-items .name {
        font-size: 20px !important;
    }

    #product-items .price, #product-items .code {
        font-size: 16px;
    }

    #product-items .title {
        font-size: 14px;
    }

    .rating-xs {
        font-size: 14px;
    }

    #star-rating {
        margin-top: -7px;
    }

    .rate-info {
        display: none;
    }

    #product-items .detail-body {
        line-height: 25px;
    }

    #product-items .line-blur {
        margin-top: 30px;
    }

    #product-items .actions .btn {
        font-size: 12px;
        width: auto;
        margin-top: 10px;
    }

    #detail-desktop {
        display: none;
    }

    #detail-mobile {
        display: block !important;
    }

    #product-detail {
        margin-top: 30px;
    }

    #btn-add {
        text-align: center;
    }

    .section-title.lined .inner {
        font-size: 14px;
    }

    #product-detail-page #recomended-products {
        margin-top: 40px;
    }

    .btn.btn-bordered-details {
        border: solid 1px #a87b4f;
        background: #a87b4f;
        color: white;
    }

        .btn.btn-bordered-details:active {
            border: solid 1px white;
            background: #a87b4f;
            color: #a87b4f;
        }

    #popbtn {
        background-color: #a87b4f;
        color: #fff;
    }

        #popbtn:active {
            background-color: #a87b4f;
            color: #fff;
        }

    .btn.btn-bordered-details {
        border: solid 1px #a87b4f;
        background: #fff;
        color: #a87b4f;
    }

        .btn.btn-bordered-details:active {
            border: solid 1px #a87b4f;
            background: #a87b4f;
            color: white;
        }

    #product-items .line {
        border-top: solid 1px #a87b4f;
        margin-top: 30px;
        padding-bottom: 0px;
    }

    #product-detail .rating {
        margin-top: 1px;
        text-align: center;
    }

    #product-detail .plain-text-box {
        padding-left: 10px;
        padding-right: 10px;
    }

    #product-detail .comment-box {
        padding-left: 10px;
        padding-right: 10px;
    }

    #product-detail .commented-box {
        padding-left: 10px;
        padding-right: 10px;
    }

    .detail-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    #product-detail .size-table-box {
        padding-left: 10px;
        padding-right: 10px;
    }

    #readmore2 {
        max-width: 100px;
        margin-left: 50%;
        transform: translateX(-50%);
        border: none !important;
        background: none;
        outline: none;
        font-style: italic;
    }

    #cmtArea2 .commented-box {
        display: none;
    }

        #cmtArea2 .commented-box:nth-child(-n+3) {
            display: block;
        }
}

.component-product-slider .swiper-button-next {
    right: -10px;
}

.component-product-slider .swiper-button-prev {
    left: -10px;
}

.slider-nav > .slick-list {
    overflow: visible;
}

#detail-mobile {
    display: block;
    position: relative;
    z-index: 3;
    width: 100%;
    transition-duration: 0.4s;
}

#close-menu {
    display: none;
}

#detail-mobile.panel-group {
    margin-bottom: 0px;
}

#detail-mobile > .panel {
    border: none;
    border-radius: 0px;
    margin-top: 0px;
    box-shadow: none;
}

#detail-mobile > .panel-default > .panel-heading {
    height: 39px;
    background-color: white;
    border: none;
    border-radius: 0px;
}

    #detail-mobile > .panel-default > .panel-heading > .panel-title {
        font-family: SanFranciscoDisplay-Regular;
        font-size: 14px;
        font-weight: 400;
        color: #a87b4f;
        text-decoration: none;
        text-transform: uppercase;
    }

    #detail-mobile > .panel-default > .panel-heading > a > .panel-title {
        font-family: SanFranciscoDisplay-Regular;
        font-size: 14px;
        font-weight: 600;
        color: #a87b4f;
        text-decoration: none;
        text-transform: uppercase;
    }

    #detail-mobile > .panel-default > .panel-heading > .panel-title > span {
        background: none;
    }

        #detail-mobile > .panel-default > .panel-heading > .panel-title > span > i {
            color: #a87b4f;
        }

        #detail-mobile > .panel-default > .panel-heading > .panel-title > span > a {
            text-decoration: none;
        }

#detail-mobile > .panel-default > .panel-collapse > .panel-body {
    padding: 5px;
}

    #detail-mobile > .panel-default > .panel-collapse > .panel-body > ul > li {
        color: #a87b4f;
        list-style: none;
        padding: 5px;
    }

        #detail-mobile > .panel-default > .panel-collapse > .panel-body > ul > li > a {
            font-family: SanFranciscoDisplay-Regular;
            font-size: 12px;
            font-weight: 500;
            color: #a87b4f;
            text-decoration: none;
        }


html {
    overflow-x: hidden;
    height: 100%;
}


@media screen and (max-width: 1024px) and (min-width: 991px) {
    .controls .pull-right {
        float: left;
        margin-top: 20px;
        margin-left: -20px;
    }

    #product-items .quantity .select {
        width: 100%;
    }

    .controls .pull-left {
        width: 100%;
    }

    #nav li > a {
        font-size: 13px !important;
    }

    .popuptext {
        margin-left: 66.1%;
    }
}

.old-price {
    font-family: 'San Francisco Text',sans-serif;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #505050 !important;
    text-decoration: line-through;
    text-decoration-color: #d0011b;
    margin-left: 5px;
}

.discount-details {
    width: 89px;
    height: 66px;
    background-image: url('../images/icon/sale_icon_2x.png');
    background-size: 100% 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'San Francisco Text';
    margin-left: 400px;
    position: absolute;
}

.rate-detail {
    display: -webkit-inline-box;
    vertical-align: -webkit-baseline-middle;
    margin-top: 22%;
}

@media screen and (max-width: 1024px) and (min-width:770px) {
    .discount-details {
        margin-left: 320px;
    }
}

@media screen and (max-width: 769px) and (min-width:501px) {
    .discount-details {
        width: 69px;
        height: 56px;
        font-size: 22px;
        margin-left: 280px
    }
}

@media screen and (max-width: 500px) {
    .discount-details {
        margin-left: 73%;
        width: 69px;
        height: 56px;
        font-size: 22px;
    }
}

@media screen and (max-width: 321px) {
    .discount-details {
        margin-left: 70% !important;
    }
}
