﻿#register-page .lb-header {
    height: 19px;
    font-size: 16px;
    color: #505050;
}

#register-page .input-custom-long {
    width: 100%;
    height: 50px;
    background-color: #fbfbfb;
    border: solid 1px #e1e1e1;
    padding: 0 20px;
}

#register-page .input-custom {
    width: 100%;
    height: 50px;
    background-color: #fbfbfb;
    border: solid 1px #e1e1e1;
    padding: 0 20px;
}

#register-page .custom-checkbox {
    width: 20px;
    height: 20px;
    border: solid 1px #e1e1e1;
    display: inline-block;
    margin-left: 1.2%;
    margin-top: 2%;
    margin-right: 1%;
    position: relative;
}

#register-page input[type="checkbox"] {
    display: none;
}

    #register-page input[type="checkbox"]:checked ~ .custom-checkbox::after {
        content: '';
        display: block;
        background: black;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
    }

#register-page .btn-sign-up {
    width: 195px;
    height: 50px;
    border: solid 1px #a87b4f;
    margin-bottom: 11%;
    /*margin-left: 1.2%;*/
    margin-top: 2%;
}

#register-page .check-box-confirm {
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    #register-page .input-custom {
        width: 200px;
        height: 50px;
        background-color: #fbfbfb;
        border: solid 1px #e1e1e1;
    }
}
