/**
    Page: SHOPPING CART
    Author: DucBM
**/
#shopping-cart-page .page-title {
    margin: 60px 0 0 0;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #a87b4f;
    text-transform: uppercase;
}

#shopping-cart-page .line {
    width: 51px;
    height: 5px;
    background: #a87b4f;
    margin-top: 15px;
    margin-bottom: 58px;
}

#shopping-cart-page .table-cart thead th {
    border-bottom: 1px solid #a87b4f;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5px;
    color: #a87b4f;
    text-transform: uppercase;
    padding-bottom: 12px;
}

#shopping-cart-page .table-cart .info,
#shopping-cart-page .table-cart .action a {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5px;
    color: #505050;
    padding: 0;
    margin-bottom: 20px;
}

#shopping-cart-page .table-cart .name {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #a87b4f;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 9px;
}

#shopping-cart-page .table-cart .info .custom-requirement {
    margin-top: 13px;
    position: relative;
}

    #shopping-cart-page .table-cart .info .custom-requirement .head .requirmentbtn {
        outline: none;
    }

    #shopping-cart-page .table-cart .info .custom-requirement .body {
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #d0021b;
        margin-top: 9px;
    }

#shopping-cart-page .table-cart .info .head-content {
    position: absolute;
    margin-top: 27px;
    display: none;
    width: 170%;
    top: 20px;
    /*z-index: 100;*/
}



#shopping-cart-page .table-cart .info .head-hidden {
    position: relative;
    height: 176px;
    top: 0;
    margin-bottom: 20px;
}

#shopping-cart-page .table-cart .info .custom-requirement table {
    width: 163%;
    height: 100%;
    background-color: #f9f9f9;
    border: solid 1px #bebebe;
    margin-top: 10px;
    margin-bottom: 20px;
}

#shopping-cart-page .table-cart .info .head-table {
    text-align: center;
    width: 231px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 35px;
    letter-spacing: normal;
    color: #4a4a4a;
    border: none;
    height: 35px;
    background-color: #dcdcdc;
    padding: 0;
}

#shopping-cart-page .table-cart .info .foot-table {
    height: 40px;
    background-color: #f9f9f9;
    border: solid 1px #bebebe;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #235b57;
    text-transform: uppercase;
}

#shopping-cart-page .table-cart .info table tbody {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

#shopping-cart-page .table-cart .info thead th {
    text-align: center;
    padding: 10px;
    border: 1px solid #bebebe;
    border-top: 0;
}

#shopping-cart-page .table-cart .info tbody td {
    padding: 15px;
    border: 1px solid #bebebe;
    border-top: 0;
}

#shopping-cart-page .table-cart .image {
    width: 150px;
}

    #shopping-cart-page .table-cart .image .ratio-item {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

#shopping-cart-page .table-cart .color {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    margin-left: 8px;
}

#shopping-cart-page .table-cart .td-image {
    padding-top: 25px;
    width: 187px;
    padding-bottom: 46px;
}

#shopping-cart-page .table-cart .image {
    width: 150px;
}

#shopping-cart-page .table-cart .td-detail {
    position: relative;
    padding-top: 41px;
}

#shopping-cart-page .table-cart .action {
    /*position: absolute;*/
    /*bottom: 47px;*/
}

#shopping-cart-page .table-cart .custom-qty-input {
    max-width: 83px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#shopping-cart-page .table-cart .custom-qty-input {
    border: 1px solid #a87b4f;
    border-radius: 0;
    margin-top: 10px;
}

    #shopping-cart-page .table-cart .custom-qty-input .btn-number,
    #shopping-cart-page .table-cart .custom-qty-input .input-number {
        border: none;
        height: 28px;
        line-height: 0;
        text-align: center;
        color: #505050;
        font-weight: 500;
    }

    #shopping-cart-page .table-cart .custom-qty-input .btn-number {
        font-size: 12px;
        outline: none;
        padding-left: 10px;
        padding-right: 6px;
        border-radius: 0;
    }

    #shopping-cart-page .table-cart .custom-qty-input .input-number {
        padding: 0;
        font-size: 12px;
    }

        #shopping-cart-page .table-cart .custom-qty-input .input-number::-webkit-outer-spin-button,
        #shopping-cart-page .table-cart .custom-qty-input .input-number::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

#shopping-cart-page .table-cart .td-unit-price {
    font-size: 16px;
    padding-top: 38px;
    padding-right: 116px;
    text-align: right;
}

#shopping-cart-page .table-cart .td-qty {
    padding-top: 32px;
}

#shopping-cart-page .table-cart .td-subtotal {
    font-size: 16px;
    padding-top: 42px;
    text-align: right;
}

#shopping-cart-page .table-cart .th-remove {
    width: 110px;
}

#shopping-cart-page .table-cart .td-remove {
    padding-top: 39px;
    text-align: right;
}

    #shopping-cart-page .table-cart .td-remove .btn {
        padding: 0;
        border: none;
        outline: none;
    }

#shopping-cart-page .table-cart .th-unit-price,
#shopping-cart-page .table-cart .td-remove {
    text-align: center;
}

#shopping-cart-page .table-cart .th-subtotal,
#shopping-cart-page .table-cart .th-qty,
#shopping-cart-page .table-cart .td-qty {
    text-align: center;
}

#shopping-cart-page .table-cart .th-unit-price,
#shopping-cart-page .table-cart .td-unit-price {
    padding-right: 38px;
}

#shopping-cart-page .table-cart tbody,
#shopping-cart-page .table-cart tbody tr,
#shopping-cart-page .table-cart tbody td {
    border: none;
}

#shopping-cart-page hr {
    border-top: 1px solid #a87b4f;
    margin-bottom: 0;
}

#shopping-cart-page .table-total {
    margin-top: 16px;
    margin-bottom: 25px;
    max-width: 260px;
}

table.table.table-total {
}

#shopping-cart-page .table-total th,
#shopping-cart-page .table-total td {
    border: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 23px;
    letter-spacing: normal;
    color: #505050;
}

#shopping-cart-page .table-total td {
    text-align: right;
}

#shopping-cart-page .btn-checkout {
    transition-duration: .1s;
    width: 270px;
    height: 40px;
    padding: 0;
    letter-spacing: 1.4px;
    padding-top: 2.5%;
}

#shopping-cart-page .section-checkout {
    margin-bottom: 470px;
}

    #shopping-cart-page .section-checkout hr {
        margin: 25px auto 25px 0;
        border-top: 1px solid #a87b4f;
        max-width: calc(100% - 41px);
    }

#shopping-cart-page .gift-code {
    margin-top: 25px;
}

    #shopping-cart-page .gift-code .head {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: .4px;
        color: #a87b4f;
    }

    #shopping-cart-page .gift-code .body {
        margin-top: 17px;
    }

    #shopping-cart-page .gift-code .form-control {
        width: 360px;
        height: 40px;
        background-color: #ffffff;
        border: solid 1px #cccccc;
        border-radius: 0;
        margin-right: 47px;
    }

    #shopping-cart-page .gift-code .btn-apply {
        width: 121px;
        height: 40px;
        border: solid 1px #a87b4f;
        letter-spacing: 2px;
        padding: 0;
    }

.shopping-cart-mobile {
    display: none;
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    #shopping-cart-page .btn-checkout {
        transition-duration: .1s;
        width: 270px;
        height: 40px;
        padding: 0;
        letter-spacing: 1.4px;
        padding-top: 1.5%;
    }
}

@media screen and (max-width: 769px) {
    #shopping-cart-page .page-title {
        font-size: 18px;
    }

    #shopping-cart-page .line {
        width: 24px;
        height: 2px;
        margin-top: 17px;
    }

    .shopping-cart-mobile {
        display: block;
        border-bottom: 1px solid #a87b4f;
        margin-top: 19px;
    }

        .shopping-cart-mobile .row {
            margin-bottom: 20px;
        }

        .shopping-cart-mobile .image a {
            background-size: cover;
            background-repeat: no-repeat;
        }

    .table-cart {
        display: none;
    }

    .shopping-cart-mobile .info-mobile {
        line-height: 25px;
    }

        .shopping-cart-mobile .info-mobile .name {
            color: #a87b4f;
            font-size: 12px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .shopping-cart-mobile .info-mobile .code {
            font-size: 12px;
        }

        .shopping-cart-mobile .info-mobile .color {
            display: inline-block;
            width: 15px;
            height: 15px;
            position: relative;
            top: 3px;
            margin-left: 8px;
        }

    .shopping-cart-mobile .action-mobile a {
        color: #505050;
        padding: 0 6px 0 0;
    }

    .shopping-cart-mobile .action-mobile button {
        border: none;
        padding: 0 0 0 5px;
        margin-bottom: 4px;
        /*border-left: 1px solid #505050;*/
        border-radius: 0;
    }

    .shopping-cart-mobile .custom-qty-input {
        border: 1px solid #a87b4f;
        border-radius: 0;
        max-width: 80px;
        height: 30px !important;
        margin-left: 0;
        margin-right: auto;
    }

        .shopping-cart-mobile .custom-qty-input .btn-number {
            font-size: 12px;
            outline: none;
            padding-left: 10px;
            padding-right: 6px;
            border-radius: 0;
            border: none;
            height: 28px;
            line-height: 0;
            text-align: center;
            color: #505050;
            font-weight: 500;
        }

        .shopping-cart-mobile .custom-qty-input .input-number {
            height: 30px !important;
            box-shadow: none;
            border: none;
            text-align: center;
        }

    .shopping-cart-mobile .total-price {
        margin-top: 10px;
    }

    .section-checkout {
        text-align: center;
    }

    #shopping-cart-page .table-total {
        max-width: 100%;
        font-size: 12px;
    }

    #shopping-cart-page .section-checkout {
        margin-bottom: 0px;
        padding-bottom: 32px;
    }

        #shopping-cart-page .section-checkout hr {
            max-width: 100%;
        }
}

.discount-order {
    font-size: 14px;
    text-align: left;
    color: #d0011b;
    display: block;
    margin-top: 9px;
    float: right;
}

.removecart {
    width: 20px;
    float: right;
    margin-right: 8%;
}

.info-mobile > h2 {
    line-height: 1.9;
}

@media screen and (max-width: 769px) {
    .discount-order {
        font-size: 13px;
        margin-left: 5px;
        margin-top: 0px;
        float: none;
        display: unset;
    }

    .rowmb {
        background-color: rgba(216, 216, 216, 0.14);
    }

    #shopping-cart-page .gift-code .form-control {
        width: 60%;
        height: 35px;
        background-color: #ffffff;
        border: solid 1px #cccccc;
        border-radius: 0;
        margin-right: 0px;
        margin-bottom: 55px;
    }

    #shopping-cart-page .gift-code .btn-apply {
        width: 30%;
        height: 35px;
        border: solid 1px #a87b4f;
        letter-spacing: 2px;
        margin-left: 10%;
        display: inline-block;
        font-size: 12px;
    }

    #shopping-cart-page .table-total th, #shopping-cart-page .table-total td {
        font-size: 12px;
    }

    #shopping-cart-page hr {
        display: none;
    }
}

@media screen and (max-width: 1024px) and (min-width: 770px) {
    #shopping-cart-page .table-cart .info, #shopping-cart-page .table-cart .action a {
        font-size: 12px;
    }

    #shopping-cart-page .table-cart .name {
        font-size: 12px;
    }

    #shopping-cart-page .table-cart .td-unit-price {
        font-size: 14px;
        padding-top: 38px;
        padding-right: 0px !important;
        text-align: right;
    }

    .discount-order {
        font-size: 14px;
        text-align: left;
        color: #d0011b;
        margin-top: 7px;
        display: block;
    }

    #shopping-cart-page .table-cart .custom-qty-input {
        margin-top: 10px;
    }

    #shopping-cart-page .table-cart .th-subtotal, #shopping-cart-page .table-cart .th-qty, #shopping-cart-page .table-cart .td-qty {
        padding-left: 21px;
    }

    #shopping-cart-page .table-cart .td-subtotal {
        font-size: 14px;
    }
}

@media screen and (max-width: 426px) {
    #cart-mobile .ratio-wrapper > .ratio-item {
        height: 125%;
    }
}

#shopping-cart-page .shopping-cart-mobile table {
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}
    #shopping-cart-page .shopping-cart-mobile table th {
       padding:5px;
       text-align:center;
    }
    #shopping-cart-page .shopping-cart-mobile table td {
        padding: 5px;
    }
