/**
    Page: SIGN IN
    Author: DucBM
**/

@media (min-width: 992px) {
    #sign-in-page {
        width: 944px;
    }
}

#sign-in-page .page-title {
    margin: 120px 0 0 0;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #a87b4f;
    text-transform: uppercase;
    text-align: center;
}

#sign-in-page .line {
    width: 51px;
    height: 5px;
    background: #a87b4f;
    margin-top: 15px;
    margin-bottom: 58px;
    margin-left: auto;
    margin-right: auto;
}

#sign-in-page .main {
    margin-bottom: 213px;
}

#sign-in-page .section-title {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

#sign-in-page .use-mine .section-title {
    margin-top: 14px;
}

#sign-in-page .custom-text-input {
    width: 250px;
    height: 40px;
    border: solid 1px #a87b4f;
    padding: 0 17px;
}

@media (min-width: 1200px) {
    #sign-in-page .custom-text-input {
        width: 285px;
    }
}

#sign-in-page .table-form {
    margin: 15px auto 0;
    width: auto;
    border-collapse: separate;
    border-spacing: 16px;
    position: relative;
    left: -30px;
}

@media (min-width: 768px) {
    #sign-in-page .table-form {
        margin: 15px auto 0 10px;
        position: static;
    }
}

#sign-in-page .table-form .icon {
    margin-right: 12px;
}

#sign-in-page .table-form th,
#sign-in-page .table-form td {
    border: none;
}

#sign-in-page .table-form .btn-sign-in {
    width: 140px;
    height: 40px;
    padding: 0;
    margin-top: 14px;
}

#sign-in-page .table-form .help,
#sign-in-page .table-form .help a {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

#sign-in-page .custom-checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px #000000;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
}

#sign-in-page input[type="checkbox"] {
    display: none;
}

    #sign-in-page input[type="checkbox"]:checked ~ .custom-checkbox::after {
        content: '';
        display: block;
        background: black;
        position: absolute;
        top: 1px;
        left: 1px;
        width: 6px;
        height: 6px;
    }

#sign-in-page .custom-checkbox-label {
    font-weight: 500;
    display: block;
    margin: 0;
}

#sign-in-page .btn-sign-up {
    width: 281px;
    height: 40px;
    padding: 0;
    display: block;
    margin: 25px auto 0;
    padding-top: 9px;
}

#sign-in-page .create-new {
    background-color: #f9f9f9;
    padding: 24px 35px 40px;
}

#sign-in-page .description {
    margin-top: 20px;
}

#sign-in-page .description {
    margin-top: 20px;
    font-weight: 500;
}

#sign-in-page .btn-facebook {
    width: 281px;
    height: 40px;
    padding: 0;
    display: block;
    margin: 20px auto 0;
    border-color: #39579a;
    color: #39579a;
}

    #sign-in-page .btn-facebook:hover {
        color: white;
        background: #39579a;
    }

    #sign-in-page .btn-facebook .pull-left {
        height: 100%;
        width: 43px;
        border-right: solid 1px #39579a;
        padding: 7px 0 0 0;
    }

    #sign-in-page .btn-facebook:hover .pull-left {
        border-right-color: white;
    }

    #sign-in-page .btn-facebook .fa {
        font-size: 24px;
        line-height: 26px;
    }

    #sign-in-page .btn-facebook .pull-right {
        height: 100%;
        width: calc(100% - 43px);
        padding-top: 9px;
    }


#sign-in-page .btn-google {
    width: 281px;
    height: 40px;
    padding: 0;
    display: block;
    margin: 20px auto 0;
    border-color: #db4437;
    color: #db4437;
}

    #sign-in-page .btn-google:hover {
        color: white;
        background: #db4437;
    }

    #sign-in-page .btn-google .pull-left {
        height: 100%;
        width: 43px;
        border-right: solid 1px #db4437;
        padding: 7px 0 0 0;
    }

    #sign-in-page .btn-google:hover .pull-left {
        border-right-color: white;
    }

    #sign-in-page .btn-google .fa {
        font-size: 24px;
        line-height: 26px;
    }

    #sign-in-page .btn-google .pull-right {
        height: 100%;
        width: calc(100% - 43px);
        padding-top: 9px;
    }

    #icon-user{
    height:44px;
    width:26px;
}

#icon-password{
    height:30px;
    width:30px;
}
@media (max-width: 321px){
    #sign-in-page .btn-sign-up {
        width: 100%;
    }
    #sign-in-page .btn-google {
        width: 100%;
    }
    #sign-in-page .btn-facebook {
        width: 100%;
    }
    #sign-in-page .table-form .icon {
        margin-right: 0px;
    }
    #icon-user{
        height:35px;
        width:20px;
        margin-left:10px;
    }

    #icon-password{
        height:26px;
        width:26px;
        margin-left:8px;
    }
    #sign-in-page .table-form .btn-sign-in {
        margin-left:-25px!important;
    }
    #sign-in-page .page-title {
        font-size: 40px;
    }
    #sign-in-page .table-form {
        left: -30px!important;
    }
}
@media (max-width: 376px){
    #sign-in-page .table-form {
        left: 0px;
    }
    #sign-in-page .table-form .btn-sign-in {
        margin-left:-50px;
    }
}

