﻿/*#E62727*/
#main-menu.navbar {
    background-color: #E62727;
}

#main-menu .navbar-nav > li a {
    color: #fff;
    font-weight: 600;
}


.side-heading {
    background-color: #E62727;
    color: #fff;
}

#main-menu .navbar-nav > li > a:hover,
#main-menu .navbar-nav > li > a:focus,
#main-menu .navbar-nav > li.open > a {
    background-color: white !important;
    color: #E62727;
    font-weight: bold;
}

.menu {
    border-color: #E62727;
}

    .menu .menu-details ul > li:hover {
        background-color: #E62727;
    }

    .menu .menu-details ul > li a {
        color: #E62727;
    }

    .menu .menu-details ul > li i {
        background-color: #E62727;
    }

    .menu .menu-details ul > li:hover i {
        background-color: white;
        color: #E62727;
    }

.menu-sublist {
    border: 1px solid #E62727;
}

.brand-name h3,
.brand-slogan {
    color: #1A9A54;
}

.brand-hotline {
    color: #E62727;
}

.brand-slogan {
    color: #fff;
}

ul.nav > li.open > a {
    background-color: #E62727 !important;
}
.product-head {
    color: #1A9A54;
}

.product-col .price {
    color: #1A9A54;
}

.list-item .btn-cart {
    background-color: #E62727;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #E62727;
}

.panel-smart .panel-body button {
    background-color: #E62727;
}
footer {
    background-color: #E62727;
}

.footer-info {
    color: #fff;
}

.pages-header h2 {
    color: #1A9A54;
    font-weight: 600;
}

#main-menu .dropdown-menu {
    border-top: 1px solid #fff;
    background-color: #E62727;
}