﻿/*======== GENERAL =======*/
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenSans' !important;
}

body {
    display: block;
}

.btn {
    border-radius: 5px !important;
}
/*======== /GENERAL =======*/

/*======== LAYOUT =======*/
/*======== HEADER =======*/
header {
    position: relative;
    /*background-image: url("/Content/images/bg-bida.jpg");
    background-size: cover;*/
}

    header > .main-header, header > .navbar {
        z-index: 2;
    }

.navbar {
    min-height: 60px;
}

.navbar-nav > li > a {
    padding: 20px;
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 30px 0 50px 0;
}

.brand-hotline {
    margin-top: 50px;
    font-size: x-large;
    font-weight: 700;
}

.wrapper {
    background-color: #fff;
    padding-top: 60px;
}

#header-area {
    margin-bottom: 0;
}

#main-menu.navbar {
    border-radius: 0;
}

.main-heading {
    margin-top: 0;
}

.side-heading {
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    font-weight: 700;
}

.list-group, .list-group-item:first-child {
    border-radius: 0;
}

.list-group, .list-group-item:last-child {
    border-radius: 0 0 5px 5px;
}

.navbar-header {
    padding: 5px 0;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    /*padding: 6px 15px;*/
    background-color: #fff;
    border-radius: 5px;
    margin-left: 0;
    padding: 2px 5px;
}

.navbar-brand img {
    height: 100%;
    width: auto;
}

.brand-logo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 25px;
    top: 30px;
}

    .brand-logo img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

.brand-name h3 {
    font-size: 50px;
    font-weight: 700;
}

.brand-slogan {
    font-size: 16px;
}

.slider {
    position: relative;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

/*======== /HEADER =======*/

/*======== SOCIAL ICON =======*/
.social-icon {
}

.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

    /* Circle */
    .icon-button span {
        border-radius: 0;
        display: block;
        height: 0;
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        width: 0;
    }

    .icon-button:hover span {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 3.6rem;
        margin: -1.8rem;
    }

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.google-plus span {
    background-color: #db5a3c;
}

/* Icons */
.icon-button i {
    background: none;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.icon-button .fa-twitter {
    color: #4099ff;
}

.icon-button .fa-facebook {
    color: #3B5998;
}

.icon-button .fa-google-plus {
    color: #db5a3c;
}

.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-google-plus {
    color: white;
}

/*======== /SOCIAL ICON =======*/

/*======== MENU =======*/
.menu {
    border: 1px solid #ddd;
}

    .menu .menu-details ul {
        margin-bottom: 0;
    }

        .menu .menu-details ul > li {
            position: relative;
            cursor: pointer;
            background-color: white;
            border-top: 1px dashed rgba(0,0,0,0.15);
        }

    .menu .menu-details li .menu-list-item {
        padding: 0;
    }

    .menu .menu-details ul > li:first-child {
        border-top: none;
    }

    .menu .menu-details ul > li a {
        padding: 12px 15px;
        display: inline-block;
        width: 100%;
        line-height: 20px;
        text-decoration: none;
    }

    .menu .menu-details ul > li:hover > .menu-list-item > a {
        color: white;
    }

    .menu .menu-details ul > li span {
        background: none;
    }

    .menu .menu-details ul > li i {
        margin-right: 0;
    }

.menu-sublist {
    width: 100%;
    z-index: 200;
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.menu .menu-details ul > li:hover > .menu-sublist {
    display: block;
}
/*======== /MENU =======*/

/*======== FOOTER =======*/
.footer-information-table tbody td {
    padding-left: 10px;
}

.footer-information-table {
    margin-bottom: 20px;
}

#search {
    padding: 10px 0;
}

    .input-group input, #search .input-group .btn {
        height: 40px;
    }

    #search .input-group .form-control {
        border-radius: 5px 0 0 5px;
    }

.btn-search {
    border-radius: 0 5px 5px 0 !important;
}

/*======== /FOOTER =======*/

/* Others*/
#main-container {
    margin-top: 30px;
}

.product-head {
    font-weight: 600;
}

.product-col .image {
    border: 1px solid #ddd;
}

    .product-col .image img {
        position: absolute;
        top: 50%;
        left: 0;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.product-col .caption {
    padding: 0 0 10px 0;
}

    .product-col .caption h4 {
        margin: 10px 0 5px 0;
        height: 34px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

.product-col .price {
    padding: 0;
}

#main-menu .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    border: none;
    padding: 0;
}

/*======== /LAYOUT =======*/

/*======== NEWS =======*/
.pages-header h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

.list-item {
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

    .list-item:last-of-type {
        border-bottom: none;
    }

    .list-item .news-title h3 {
        margin-top: 0;
    }

.overlay-container {
    position: relative;
    display: block;
    overflow: hidden;
    height: 200px;
}

div.list-item .overlay-container > img {
    width: 100%;
    height: 100%;
}

.news-content {
    text-align: justify;
    margin: 0 50px 0 50px;
}

.list-item .btn-cart {
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/*======== /NEWS =======*/

/*======== CONTACT =======*/

/*======== /CONTACT =======*/

/*======== MAP =======*/
#map-wrapper {
    width: 100%;
    height: 200px;
}
/*======== /MAP =======*/

.gsc-control-cse {
    padding: 2px !important;
}

form.gsc-search-box {
    margin: 0 !important;
}

.gsc-input-box {
    height: 30px !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0 !important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    height: 25px !important;
}

.gsc-search-button {
    display: none !important;
}
