/* main color: #a87b4f */


/** GENERAL **/
@font-face {
    font-family: 'SanFranciscoDisplay-Semibold';
    src: url('../fonts/SanFranciscoDisplay-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'SanFranciscoDisplay-Regular';
    src: url('../fonts/SanFranciscoDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Ultralight.eot');
    src: url('../fonts/SanFranciscoDisplay-Ultralight.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Ultralight.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Ultralight.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Ultralight.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Ultralight.svg#SanFranciscoDisplay-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Thin.eot');
    src: url('../fonts/SanFranciscoDisplay-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Thin.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Thin.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Thin.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Thin.svg#SanFranciscoDisplay-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Light.eot');
    src: url('../fonts/SanFranciscoDisplay-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Light.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Light.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Light.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Light.svg#SanFranciscoDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Regular.eot');
    src: url('../fonts/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Regular.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Regular.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Regular.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Regular.svg#SanFranciscoDisplay-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Regular.eot');
    src: url('../fonts/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Regular.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Regular.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Regular.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Regular.svg#SanFranciscoDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Medium.eot');
    src: url('../fonts/SanFranciscoDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Medium.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Medium.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Medium.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Medium.svg#SanFranciscoDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Semibold.eot');
    src: url('../fonts/SanFranciscoDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Semibold.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Semibold.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Semibold.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Semibold.svg#SanFranciscoDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Bold.eot');
    src: url('../fonts/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Bold.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Bold.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Bold.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Bold.svg#SanFranciscoDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Bold.eot');
    src: url('../fonts/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Bold.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Bold.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Bold.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Bold.svg#SanFranciscoDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Heavy.eot');
    src: url('../fonts/SanFranciscoDisplay-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Heavy.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Heavy.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Heavy.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Heavy.svg#SanFranciscoDisplay-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Black.eot');
    src: url('../fonts/SanFranciscoDisplay-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Black.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Black.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Black.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Black.svg#SanFranciscoDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

body {
    color: #505050;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'San Francisco', sans-serif;
    letter-spacing: 0.41px;
}

.btn-link,
.btn-link:active,
.btn-link:focus {
    outline: none !important;
}

.text-12 {
    font-size: 12px !important;
}

.section-title {
    text-align: center;
    font-size: 30px;
    color: #a87b4f;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.icon-arrow-left,
.icon-arrow-right {
    height: 27px;
    width: 14px;
}

/** Customized Select tag **/
.select {
    margin: 0;
    padding: 0 51px 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../images/icon/icon_arrow_down_2x.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 14px 7px;
    border: solid 1px #a87b4f;
    height: 30px;
}

    .select:focus {
        outline: none;
    }

/** Bordered button **/
.btn.btn-bordered {
    border: solid 1px #a87b4f;
    color: #a87b4f;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px;
    text-align: center;
    background: none;
    border-radius: 0;
}

    .btn.btn-bordered:hover,
    .btn.btn-bordered:active {
        background: #a87b4f;
        color: white !important;
        outline: none;
        border: none !important;
    }

.highlight-url,
.highlight-url:hover {
    font-weight: bold;
    color: #a87b4f;
}
/** /Bordered button **/

/** /GENERAL **/


/** HEADER **/

#header {
    color: #a87b4f;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 12px;
    font-weight: 600;
    z-index: 21;
    position: relative;
    /*height: 100px;*/
}

    #header a {
        color: #a87b4f;
    }

    #header .center {
        text-align: center;
    }

    #header .logo {
        width: 167px;
        height: 70px;
    }

    #header .right {
        font-weight: 500;
    }

        #header .right .authenticated {
            display: inline-block;
            position: relative;
            top: -1px;
        }

        #header .right .authentication {
            position: relative;
            top: -3px;
        }

@media screen and (min-width: 768px) {
    #header .left {
        padding-top: 58px;
    }

    #header .right {
        padding-top: 45px;
    }
}

#header .lang {
    border: 1px solid #a87b4f;
    border-radius: 6px;
    color: #a87b4f;
    margin-right: 17px;
    width: auto;
    height: auto;
    font-size: 12px;
    padding: 2px 8px;
}

#header .action:first-child {
    padding-left: 20px;
}

#header .action:not(:first-child) {
    border-right: 1px solid #a87b4f;
    padding: 0 20px;
}

#header .icon-account {
    margin-right: 5px;
    width: 15px;
}

#header .icon {
    display: inline-block;
    vertical-align: baseline;
    height: 25px;
}

#header .btn-search {
    font-size: 0;
    padding: 0;
    outline: none;
    border: none;
}

#header .search-bar {
    position: relative;
    display: block;
}

    #header .search-bar input {
        position: absolute;
        top: 0;
        border: 1px solid #a87b4f;
        right: 50px;
        height: 25px;
        padding: 0 7px;
        font-weight: normal;
        color: #505050;
        outline: none;
    }

#header .shopping-cart {
    position: relative;
    display: block;
}

    #header .shopping-cart .qty {
        position: absolute;
        left: 2px;
        top: 9px;
        width: 15px;
        height: 15px;
        /* background: #a87b4f; */
        color: #a87b4f;
        text-align: center;
        border-radius: 50%;
        padding-top: 1px;
        font-size: 9px;
        font-weight: bold;
        margin: 0 auto;
        display: block;
    }

/** /HEADER **/


/** NAV **/

#nav {
    background: #a87b4f;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 20;
    border-left: none;
    border-right: none;
}

    #nav li > a {
        /* padding: 0; */
        padding-right: 0;
        padding-left: 0;
        color: white;
        text-transform: uppercase;
        height: 60px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
    }


.headerFixed {
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 1000;
    height: 60px;
    animation: fixedMoveHeader 1.5s none;
}

@keyframes fixedMoveHeader {
    from {
        top: -60px;
    }

    to {
        top: 0px;
    }
}

.homeLogo {
    height: 50px;
}

    .homeLogo img {
        margin-top: -10px;
        height: 20px !important;
    }

.logoFixed {
    height: 50px;
    margin-top: -10px;
}

.logoSearchFixed {
    margin-bottom: 5px;
}

.logoAccountFixed {
    margin-bottom: 5px;
    margin-right: 40px;
}

.liLogoAccountFixed .authentication a {
    font-size: 14px;
    font-weight: 500;
    color: #a87b4f;
}

    .liLogoAccountFixed .authentication a:last-child {
        margin-right: 45px;
    }


.logoCartFixed {
    border-right: 1px solid #a87b4f;
    border-left: 1px solid #a87b4f;
    padding: 0 18px;
    margin-bottom: 5px;
    position: absolute;
    right: -5.5px;
}

.liLogoCartFixed .qty {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    right: 19.5px;
}

#filter-panel .panel-default {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

#filter-panel {
    margin-top: -6px;
}

    #filter-panel input {
        width: 100%;
        border: none;
        font-size: 16px;
        outline: none;
    }

@media (min-width: 992px) {
    #nav li > a {
        font-size: 16px;
    }
}

#nav .navbar-toggle:focus {
    background: none;
}

#nav .navbar-toggle:hover {
    background: white;
}

#nav .icon-bar {
    background: white;
}

#nav .navbar-toggle:hover .icon-bar {
    background: #a87b4f;
}

#nav ul.nav {
    position: relative;
}

    #nav ul.nav li {
        position: static;
    }

@media screen and (min-width: 768px) {
    #nav ul.nav {
        float: none;
        text-align: justify;
        font-size: 0;
        letter-spacing: 0;
        /* white-space: nowrap; */
        /* margin-left: -35px; */
        /* margin-right: -15px; */
    }

        #nav ul.nav::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 0;
        }

        #nav ul.nav li {
            display: inline-block;
            float: none;
            font-size: initial;
            transition-duration: .2s;
            width: auto;
            white-space: nowrap;
            text-align: center;
        }

    #nav .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}



/*#nav ul.nav li:hover {
    background: rgba(255, 255, 255, .3);
}*/

#nav ul.nav li.active > a {
    background: rgba(255, 255, 255, .3);
}

#nav ul.nav li:hover > a {
    position: relative;
}

#nav ul.nav li.dropdown:hover > a:after {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    display: inline-block;
    border: solid transparent;
    border-width: 15px;
    border-bottom-color: white;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-width: 10px;
}

a.fixedAfter:after {
    border-bottom-color: #ffffff !important;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    bottom: 6px !important;
}




/** /NAV **/


/** MAIN SLIDER **/

#main-slider .slide-title-sm {
    font-size: 2.0vw;
    color: #505050;
    font-weight: normal;
    margin: 0;
}

#main-slider .ratio-wrapper .ratio-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#main-slider .slide-title-lg {
    font-size: 4vw;
    line-height: 4vw;
    color: #505050;
    font-weight: normal;
    font-weight: bolder;
    margin: 0;
    margin-top: 0.2vw;
}

    #main-slider .slide-title-lg span {
        color: #a87b4f;
    }

#main-slider .slide-1 .shop-now {
    border: 0.2vw solid #a87b4f;
    padding: 0.65vw 1.9vw;
    /*color: #a87b4f;*/
    display: inline-block;
    margin-top: 1.9vw;
    font-weight: 600;
    font-size: 1.2vw;
}

#main-slider .ratio-wrapper-team-img::before {
    padding-top: 45%;
}

#main-slider .swiper-button-next {
    text-align: right;
    right: 5px;
}

#main-slider .swiper-button-prev {
    text-align: left;
    left: 5px;
}

@media screen and (min-width: 992px) {
    #main-slider .swiper-button-next {
        right: 68px;
    }

    #main-slider .swiper-button-prev {
        left: 68px;
    }
}

#main-slider .swiper-slide {
    overflow: hidden;
}

#main-slider .swiper-pagination-bullet {
    border: 1px solid #ffffff;
    border-radius: 50%;
    background: none;
    height: 12px;
    width: 12px;
    opacity: 1;
}

#main-slider .swiper-pagination-bullet-active {
    background: #ffffff;
}

#main-slider .slide-1 .right {
    padding-top: 8vw;
}


/*@media screen and (min-width: 768px) {
        }*/


/** /MAIN SLIDER **/


/** CATEGORIES **/

#categories {
    margin-top: 20px;
    margin-bottom: 20px;
}

    #categories .col-sm-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    #categories .breaker {
        min-height: 20px;
    }

@media (max-width:768px) {
    #categories .breaker {
        display: none;
    }
}

.frame {
    position: relative;
    /*margin: 2%;*/
    overflow: hidden;
    /*width: 100%;*/
    height: 100%
}

#categories .image {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

    #categories .image::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 86px;
        background: #EF0E0E;
        background: -moz-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
        background: -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
        background: -o-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
        background: -ms-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
        background: linear-gradient(top bottom, transparent 0, rgba(0, 0, 0, .7) 100%);
    }

#categories .image-half {
    /*margin-bottom: 20px;*/
}

#categories .image-half,
#categories .image-full {
    height: 260px;
    transition: all 0.3s;
}

@media screen and (min-width: 768px) {
    #categories .image-full {
        height: 540px;
    }
}

#categories a.image-half:hover, #categories a.image-full:hover {
    -webkit-transform: scale(1.05); /* Safari and Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* IE 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
}

#categories .cate {
    position: absolute;
    left: 35px;
    bottom: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    font-size: 30px;
}


/** /CATEGORIES **/


/** ADS **/

#ads .image {
    /*display: block;*/
}

    #ads .image img {
        height: auto;
        width: 100%;
    }

#ads .row div img {
    transition: all 0.3s;
}

#ads .row div:first-child img:hover {
    -webkit-transform: scale(1.05); /* Safari and Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* IE 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
    z-index: 3;
}

#ads .row div:not(:first-child) img:hover {
    -webkit-transform: scale(1.05); /* Safari and Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* IE 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
    z-index: 3;
}

/*#ads .row {
    margin: 0;
}*/
#ads .row .col-sm-6 {
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

#ads .row > * {
    transition: all 0.3s;
}


/** /ADS **/


/** TOP PRODUCTS **/

#top-products {
    margin-top: 80px;
}

    #top-products .swiper-container {
        padding: 10px;
    }

    #top-products .swiper-slide {
        transition: all 0.3s;
        padding-bottom: 10px;
        padding-top: 5px;
    }

        /*#top-products .swiper-slide:hover {
            -webkit-box-shadow: 0 0 10px 0px gray;
            -moz-box-shadow: 0 0 10px 0px gray;
            box-shadow: 0 0 10px 0px gray;
        }*/

@media (max-width:420px) {
}
/** /TOP PRODUCTS **/


/** CUSTOMERS **/

#customers {
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 80px;
    background: rgb(249, 249, 249);
    height: 360px;
}

    #customers .image {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 120px;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        opacity: 0.7;
        transition-duration: 0.3s;
    }

        #customers .image:hover,
        #customers .image:active {
            -webkit-filter: grayscale(0);
            /* Safari 6.0 - 9.0 */
            filter: grayscale(0);
            opacity: 1;
        }

    #customers .swiper {
        margin-top: 50px;
        position: relative;
    }


/*#customers .swiper-button-next,
    #customers .swiper-button-prev {
        background: none;
        color: #a87b4f;
        font-size: 30px;
        transform: translateY(-22px);
        }*/


/** /CUSTOMERS **/


/** Modify Swipers **/

.swiper-button-next,
.swiper-button-prev {
    text-align: center;
    background: none;
    color: #a87b4f;
    font-size: 22px;
}

#top-products .section-title {
    margin-bottom: 60px;
}

#top-products .swiper-button-next,
#customers .swiper-button-next {
    right: -45px;
}

#top-products .swiper-button-prev,
#customers .swiper-button-prev {
    left: -45px;
}

#top-products .swiper,
#customers .swiper {
    margin-left: 45px;
    margin-right: 45px;
}

@media screen and (min-width: 1200px) {
    #top-products .swiper,
    #customers .swiper {
        margin-left: 0;
        margin-right: 0;
    }
}


/** /Modify Swipers * **/

#footer {
    background-color: #a87b4f;
    color: white;
    padding: 45px 0;
}

    #footer .feature-container .logo {
        display: block;
        margin-bottom: -8px;
        margin-top:-25px;
        /*background: url("../images/logo/MC_Logo-01.png");
    background-size: 100% 140px;
    background-repeat: no-repeat;
    background-position: -24px -14px;*/
        width: 100%;
        height: 92px;
    }

        #footer .feature-container .logo img {
            width: 170px;
            height: 70px;
        }

    #footer .feature-container .description label {
        display: block;
        font-weight: normal;
    }

    #footer .feature-container .feature {
        padding: 0;
    }

        #footer .feature-container .feature ul {
            list-style: none;
            margin-left: -37px;
        }

            #footer .feature-container .feature ul li:first-child {
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
            }

            #footer .feature-container .feature ul li {
                margin-top: 13px;
            }

                #footer .feature-container .feature ul li a {
                    color: white;
                }

                    #footer .feature-container .feature ul li a:hover {
                        text-decoration: none;
                    }

    #footer .feature-container .search-content {
        margin-top: 13px;
        position: relative;
    }

        #footer .feature-container .search-content input {
            width: 100%;
            height: 40px;
            background-color: #a87b4f;
            outline: none;
            padding: 15px 20px;
            border: 1px solid white;
        }

            #footer .feature-container .search-content input::-webkit-input-placeholder {
                color: white;
                font-weight: 100;
            }

        #footer .feature-container .search-content button {
            position: absolute;
            top: 50%;
            right: 0;
            color: #a87b4f;
            background-color: white;
            width: 40px;
            height: 40px;
            border: 0 white;
            outline: none;
            transform: translateY(-50%);
            padding: 0 13px;
        }

            #footer .feature-container .search-content button img {
                width: 100%;
                height: 23px;
            }

    #footer .feature-container .social {
        margin-top: 15px;
    }

        #footer .feature-container .social a {
            display: inline-block;
            height: 20px;
            padding: 0px;
        }

            #footer .feature-container .social a img {
                height: 100%;
                text-align: left;
            }

#copyright {
    color: #a87b4f;
    padding: 15px;
    font-size: 14px;
}

    #copyright .left {
        padding-top: 15px;
    }

/*design for contact*/


/*design for map*/



#contact .maps {
    margin-top: 30px;
    margin-bottom: 10px;
}

    #contact .maps #map-canvas {
        width: 100%;
        height: 448px;
    }


/*end map*/
#contact .content-title {
    margin-bottom: 45px;
    text-transform: uppercase;
    color: #a77b4e;
    font-weight: bold;
}

#contact .discription-content {
    margin-bottom: 45px;
}

    #contact .discription-content p {
        font-weight: 500;
        max-width: 756px;
    }

    #contact .discription-content .line {
        width: 51px;
        height: 5px;
        background: #a87b4f;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    #contact .discription-content span {
        margin-bottom: 12px;
        margin-top: 12px;
        display: block;
        font-size: 14px;
        line-height: 24px;
    }

    #contact .discription-content .here {
        text-decoration: none;
        color: #505050;
        font-weight: bold;
        font-size: 14px;
    }

#contact .contact-content .left {
    font-weight: 500;
    color: #505050;
}

    #contact .contact-content .left ul {
        list-style: none;
        padding: 0;
        font-weight: 500;
    }

        #contact .contact-content .left ul .title {
            margin-top: 15px;
            color: #505050;
            display: inline-block;
        }

    #contact .contact-content .left > h4 {
        text-transform: uppercase;
        color: #a87b4f;
        font-weight: bold;
        margin-top: 25px;
        font-size: 16px;
    }

    #contact .contact-content .left .company-name {
        margin-top: 35px;
        margin-bottom: 0;
        text-transform: none;
    }

    #contact .contact-content .left .title {
        color: #505050;
        margin-bottom: 5px;
        font-weight: 700;
    }

#contact .contact-content .right .form-group label {
    margin-bottom: 0;
    margin-top: 9px;
    font-size: 16px;
    font-weight: bold;
    color: #505050;
}

#contact .contact-content .right .form-group input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #505050;
    border-radius: 0;
}

#contact .contact-content .right .form-group textarea {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #505050;
    resize: none;
    margin-top: 23px;
    height: 192px;
}

#contact .contact-content .right .form-group select {
    box-shadow: none;
    border: 1px solid #505050;
    border-radius: 0;
    height: 40px;
    margin-top: 18px;
    color: #505050;
    font-weight: 500;
}

#contact .contact-content .right input[type="button"] {
    border: none;
    background-color: #a87b4f;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    font-weight: 600;
}

#contact .contact-content input[type="radio"] {
    display: none;
}

#contact .contact-content .select {
    border-radius: 0px;
    border: 1px solid #ccc;
}

#contact .contact-content .custom-radio {
    /*position: absolute;*/
    width: 18px;
    height: 18px;
    border-radius: 100px;
    border: solid 1px #ccc;
    overflow: hidden;
    cursor: pointer;
    margin-top: 2px;
}

#contact .contact-content input[type="radio"]:checked ~ .custom-radio::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    background: black;
    margin: 2px;
}

#contact .contact-content .custom-radio-gender {
    margin-right: 30px;
}

#contact .contact-content .custom-radio-gender {
    margin-left: 7px;
    vertical-align: top;
}


#contact .contact-content .right fieldset {
    border: 1px double #a87b4f;
    padding: 5px 36px 25px;
}

#contact .contact-content .right {
    padding: 20px;
}

    #contact .contact-content .right legend {
        width: auto;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        color: #a87b4f;
        font-size: 30px;
        margin-bottom: 17px;
        padding-left: 10px;
        padding-right: 10px;
    }

#contact .contact-content input[type="button"] {
    border: none;
    background-color: #a87b4f;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    font-weight: 600;
}

.navigator {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: auto;
    background: white;
    z-index: 10;
    margin-left: -69px;
    margin-right: -69px;
    padding-top: 0;
    text-align: left;
    overflow: hidden;
    width: 1276px;
}

#nav a {
    cursor: pointer;
    height: 25px;
}

.navigator > .col-left {
    float: left;
    padding-right: 33px;
    padding-top: 20px;
    -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.17);
    height: 444px;
    /*width: calc(449/1278*100%);*/
    /*width:27.5%;*/
    width: 351px;
    overflow-y: auto;
}

.navigator .scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}


.navigator > .col-center {
    float: left;
    /*width: calc(362/1278*100%);*/
    padding: 30px 30px;
    /*width:19.7%;*/
    height: 410px;
    width: 284px;
}

.navigator > .col-right {
    float: right;
    /*width: calc(449/1278*100%);*/
    /*width:44.5%;*/
    width: 641px;
    padding-top: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 40px !important;
}

    .navigator > .col-center .sub-cate,
    .navigator > .col-right .sub-cate {
        display: none;
    }

        .navigator > .col-center .sub-cate > a {
            display: none;
        }

        .navigator > .col-center .sub-cate:last-child,
        .navigator > .col-right .image:last-child {
            display: block;
        }

.navigator > .col-center .cate-name {
    font-size: 20px;
    font-weight: 600;
    color: #a87b4f;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    height: 28px;
    white-space: pre-wrap;
    word-break: keep-all;
}

.navigator > .col-center .cate-description {
    font-size: 14px;
    line-height: 1.57;
    color: #505050;
    white-space: normal;
    margin-top: 19px;
    padding-left: 1px;
    height: 300px;
    overflow: auto;
}

.navigator > .col-center .btn-more {
    margin-top: 30px;
    margin-left: 2px;
    width: 164px;
    height: 48px;
    font-size: 16px;
    line-height: 10px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
}

.navigator a:hover {
    text-decoration: none;
    opacity: 1 !important;
}

.navigator .image-wrapper {
    height: 443px;
    overflow: hidden;
    padding: 0;
    padding-top: 1px;
}

    .navigator .image-wrapper .image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

@media (min-width: 768px) {
    .navigator > .col-left {
        padding-left: 69px;
    }
}

.navigator .sub-menu a {
    color: #777;
    margin-top: 10px;
    display: inline-block;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 18px;
    white-space: normal;
}

    .navigator .sub-menu a:hover {
        color: #a87b4f;
        opacity: 1;
    }

@media (min-width: 992px) {
    .navigator .sub-menu a {
        font-size: 16px;
        line-height: 18px;
        height: 30px;
        /*white-space: nowrap;*/
        margin-top: 10px;
    }
}

.dark-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 19;
    display: none;
}

#download-cata {
    background: #a87b4f;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    transform-origin: bottom right;
    position: fixed;
    right: 0;
    top: 50%;
    display: inline-block;
    z-index: 18;
    transform: rotate(-90deg);
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    padding: 0 25px;
    margin-top: -140px;
    width: 250px;
}

    #download-cata > a:hover {
        text-decoration: none;
    }

.fixedScroll {
    position: absolute !important;
    /*top: 319% !important;*/
}


#download-cata img {
    width: 20px;
    height: 25px;
    margin-right: 8px;
    position: relative;
    top: -6px;
    vertical-align: -webkit-baseline-middle;
}

#download-cata span {
    position: relative;
    top: -5px;
    vertical-align: -webkit-baseline-middle;
}

/** Component: PRODUCT SLIDER **/

.component-product-slider .image {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.component-product-slider .swiper {
    position: relative;
}

.component-product-slider .swiper-button-next,
.component-product-slider .swiper-button-prev {
    transform: translateY(-100%);
}

.component-product-slider .swiper-slide {
    text-align: center;
    box-sizing: border-box;
}

.component-product-slider .name {
    font-weight: bold;
    color: #a87b4f;
    font-size: 20px;
    margin: 15px 0 0;
    text-transform: uppercase;
}

.component-product-slider a:hover {
    text-decoration: none;
}

.component-product-slider .price {
    color: #a87b4f;
    margin-top: 10px;
    font-size: 18px;
}

.component-product-slider .swiper-button-next {
    right: -45px;
}

.component-product-slider .swiper-button-prev {
    left: -45px;
}

.component-product-slider .swiper-button-disabled {
    /*display: none;*/
}


/** Component: PRODUCT SLIDER **/

@media(min-width: 1440px) {
    .container-wisky {
        width: 1170px;
    }
}

@media(min-width: 1600px) {
    .container-wisky {
        width: 1170px;
    }
}


/*Product details css*/

#product-detail {
    margin-top: 45px;
}

    #product-detail ul {
        list-style: none;
        font-size: 0;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 0 15px 0;
        border-bottom: 1px solid #a87b4f;
        margin-bottom: 40px;
        text-align: justify;
    }

        #product-detail ul li {
            display: inline-block;
            width: auto;
            font-size: 16px;
            text-align: justify;
        }

        #product-detail ul::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 0;
        }

        #product-detail ul li:first-child {
            text-align: left;
        }

        #product-detail ul li:last-child {
            text-align: right;
        }

        #product-detail ul li a {
            color: rgba(168, 123, 79, 0.6);
            font-weight: bold;
        }

        #product-detail ul li.active a {
            color: #a87b4f;
        }

        #product-detail ul li a:hover,
        #product-detail ul li a:focus {
            text-decoration: none;
        }

    #product-detail #productDetail .detail-content {
        display: block;
        line-height: 30px;
    }

        #product-detail #productDetail .detail-content label {
            width: 13%;
            color: #505050;
        }

        #product-detail #productDetail .detail-content span {
            width: 87%;
            float: right;
        }

    #product-detail .plain-text-box {
        max-width: 747px;
    }

    #product-detail .size-table-box {
        max-width: 558px;
        margin-left: auto;
        margin-right: auto;
    }

    #product-detail .comment-box {
        max-width: 628px;
        margin: 25px auto 0;
    }

        #product-detail .comment-box .rating {
            text-align: center;
            font-size: 6px;
        }

        #product-detail .comment-box .rating-star #userStar1 {
            border: none;
            outline: none !important;
            color: transparent;
        }

    #product-detail .comment-description {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #505050;
        text-align: center;
    }

    #product-detail .commented-box {
        margin-top: 20px;
        margin-bottom: 20px;
    }

        #product-detail .commented-box .title-commented {
            margin-bottom: 20px;
        }

        #product-detail .commented-box .time-cmt {
            font-size: 14px;
            font-weight: 300;
            font-style: italic;
            text-align: left;
            color: #a87b4f;
        }

        #product-detail .commented-box .cmtContent {
            font-size: 14px;
            text-align: left;
            color: #a87b4f;
        }

        #product-detail .commented-box .username-cmt {
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            color: #a87b4f;
        }

        #product-detail .commented-box .rating-star {
            font-size: 10px;
            margin-top: 0px !important;
        }

            #product-detail .commented-box .rating-star input {
                border: none !important;
            }

#btn-readMore {
    text-align: center;
}

#product-detail .comment-title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #505050;
    text-align: center;
    margin: 17px 0 0 0;
    text-transform: uppercase;
}


#product-detail .comment-form {
    margin-top: 20px;
}

#product-detail input {
    border: solid 1px rgba(168, 123, 79, .65);
    height: 40px;
    padding: 0 12px;
    width: 100%;
}

#product-detail .customer-email {
    margin-top: 25px;
}

#product-detail .rating {
    margin-top: 16px;
    text-align: right;
}

    #product-detail .rating .title {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #505050;
        margin-right: 106px;
    }

#product-detail textarea {
    border: solid 1px rgba(168, 123, 79, .65);
    padding: 12px 15px;
    width: 100%;
}

#product-detail .btn-send-comment {
    margin: 20px auto 0;
    display: block;
    width: 110px;
    height: 48px;
    font-size: 16px;
}

#product-detail .star-rating {
    display: inline-block;
    position: relative;
    top: -2px;
}

    #product-detail .star-rating .item {
        width: 16px;
    }

#readmore {
    max-width: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: none !important;
    background: none;
    outline: none;
    font-style: italic;
}

#cmtArea .commented-box {
    display: none;
}

    #cmtArea .commented-box:nth-child(-n+3) {
        display: block;
    }

.spinner-group {
    z-index: 99;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

    .spinner-group .spinner-box {
        text-align: center;
        /*background: white;*/
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*padding: 30px 50px;*/
    }

    .spinner-group .fa {
        color: white;
        font-size: 60px;
    }

    .spinner-group .spinner-text {
        color: white;
        margin-top: 10px;
    }

/*Scroll to top*/
.scrollup {
    background: url('../images/scroll2top.png') no-repeat;
    background-size: 40px, 40px, auto;
    width: 40px;
    height: 40px;
    color: #a77b4e;
    bottom: 55px;
    position: fixed;
    right: 0px;
    text-indent: -999px;
    display: none;
    cursor: pointer;
    z-index: 50;
}

.ajs-message {
    background: #a87b4f !important;
    color: white !important;
}

.contact-head {
    font-size: 48px;
    text-transform: uppercase;
    color: #a77b4e;
    font-weight: bold;
}

.contact-info-head {
    text-transform: uppercase;
    color: #a77b4e;
    font-weight: bold;
    margin-top: 25px;
}

@media screen and (max-width: 768px) {
    .contact-head {
        font-size: 30px !important;
        text-align: center;
        padding-bottom: 20px;
        margin-top: 30px;
    }

    #contact .content-title {
        margin-bottom: 30px;
        font-size: 30px;
        text-transform: uppercase;
        color: #a77b4e;
        font-weight: bold;
    }

    #contact .discription-content .line {
        display: none;
    }

    .contact-info-head {
        font-size: 20px;
    }

    #contact .contact-content .left {
        margin-left: 20px;
        margin-right: 10px;
    }

    #contact .contact-content .right legend {
        font-size: 19px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 426px) {
    #contact .contact-content .right fieldset {
        padding: 5px 20px 20px !important;
    }

    #contact .content-title {
        margin-bottom: 15px;
        font-size: 20px;
        text-transform: uppercase;
        color: #a77b4e;
        font-weight: bold;
    }

    #contact .contact-content .right .form-group label {
        margin-bottom: 0;
        margin-top: 9px;
        font-size: 14px;
        font-weight: bold;
        color: #505050;
    }

    #contact .contact-content .right input[type="button"] {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

[type="checkbox"]:hover {
    cursor: pointer;
}

.custom-checkbox2:hover {
    cursor: pointer;
}

.hangdaudis {
    color: #d0011b;
    font-size: 18px;
}

@media screen and (max-width: 769px) {
    .hangdaudis {
        color: #d0011b;
        font-size: 16px;
    }
}

.populate {
    font-family: 'San Francisco Text';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
    color: white;
    background-image: url(../images/icon/sale_icon_2x.png);
    height: 44px;
    width: 60px;
    background-size: 100% 100%;
    text-align: center;
    margin-left: 80%;
}

@media screen and (max-width: 769px) and (min-width: 426px) {
    .populate {
        height: 33px;
        width: 44px;
        margin-left: 77%;
    }

        .populate > #dis-rate {
            font-size: 13px;
        }
}

@media screen and (max-width: 376px) {
    .populate {
        margin-left: 77%;
    }
}

/*Popup - CallCenter*/
.callCenter {
    background: url('../images/icon/icon_callcenter_2x.png') no-repeat;
    background-size: 100% 100%;
    width: 44px !important;
    height: 44px !important;
    position: fixed;
    top: 80%;
    right: 10px;
    z-index: 10;
    display: block;
    animation: shake infinite 1s;
    cursor: pointer;
    border-radius: 50%;
}

.pulse-ring {
    content: '';
    width: 44px;
    height: 44px;
    border: 10px solid #235b57;
    border-radius: 50%;
    position: absolute;
    animation: pulsate infinite 2s;
    z-index: -1;
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0.1;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(10deg);
    }

    90% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}


/*Popup - CallCenter*/
#promotion-page {
    margin-top: 40px;
}

    #promotion-page .promotion-content {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

        #promotion-page .promotion-content .heading {
            margin-bottom: 30px;
        }

#deal-page {
    margin-top: 40px;
}

    #deal-page .deal-content {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

        #deal-page .deal-content .heading {
            margin-bottom: 50px;
        }

    #deal-page .heading::after {
        content: '';
        display: block;
        width: 50px;
        height: 5px;
        background: #a87b4f;
        margin-top: 15px;
        margin-bottom: 0;
    }

#contact .banner {
    width: 100%;
}
