@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
* {
  box-sizing: border-box;
}
h1, h2, h3{
    margin-bottom:0px !important;
}


.content:before {
  content: "";
  display: block;
  top: 0;
  
  height: 100%;
  
  z-index: -1;
  background: inherit;
}
.row {
  position: relative;
  z-index: 1;
  
}
.row:before {
  content: "";
  display: block;
  top: 0;
  
  height: 100%;
  
  z-index: -1;
  background: inherit;
}

.span {
  position: relative;
  display: inline-block;
  
}

label{

    color:white;
}


.gate {
  display: inline-block;
  
  width: 100%;
  padding: 14px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: darkgray;
  background-color: whitesmoke;
  border: 0;
  
  border-radius: 3px;
  outline: 0;
  
  transition: all .3s ease-in-out;
}

.gate::-webkit-input-placeholder {
  color: darkgray;
  text-indent: 0;
  font-weight: 300;
}
.gate + label {
  
  height:44px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  text-shadow: 0 1px 0 #ff0000;
  background: #ff0000;
  transition: all .4s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: left bottom;
  z-index: 99;
}
.gate + label:before, .gate + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background: #ff0000;
  transform-origin: left bottom;
  transition: all .4s ease-in-out;
  pointer-events: none;
  z-index: -1;
  
}
.gate + label:before {
  background: rgba(120, 120, 120, 0.14);
  z-index: -2;
  right: 20%;
}



/*span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active {
  text-indent: 0;
}*/

.gate:focus,
.gate:active {
  color: #000000;
  text-indent: 0;
  background: whitesmoke;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.gate:focus::-webkit-input-placeholder,
.gate:active::-webkit-input-placeholder {
  color: #aaa;
}
.gate:focus + label,
.gate:active + label {
  transform: rotate(-66deg);
  border-radius: 3px;
}
.gate:focus + label:before,
.gate:active + label:before {
  transform: rotate(10deg);
}

@keyframes swing {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(116deg);
  }
  40% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(98deg);
  }
  80% {
    transform: rotate(76deg);
  }
  100% {
    transform: rotate(82deg);
  }
}
@keyframes swing-back {
  0% {
    transform: rotate(82deg);
  }
  100% {
    transform: rotate(0);
  }
}
