
/*BANNER*/

#banner {
  background: url('./assets/images/gioithieu_banner.png');
  height: 450px;
}

/*BANNER*/


/*TABS*/

#tabs {
  padding-bottom: 150px;
  padding-top: 25px;
}

#tabs div.bhoechie-tab-container{
  z-index: 10;  
  margin-top: 20px;
  padding-left: 0px;
  font-size: 16px;
  color: #505050;
}

#tabs div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  line-height: 30px;
}

#tabs div.bhoechie-tab {
  padding-left: 83px;
  margin-top: -5px;
}

#tabs .list-group-item{
  border: 0px;
  background: white;
}

#tabs div.bhoechie-tab-menu div.list-group>a.active {
  font-size: 16px;
  font-weight: bold;
  color: #a87b4f;  
  background-color: #ffffff;
}

#tabs div.bhoechie-tab-content{
  background-color: #ffffff;
  padding-left: 129px;
  margin-top: -8px;
  padding-bottom: 213px;
}

#tabs .bhoechie-tab-content{
  border-left: solid 1px #a87b4f;
  font-size: 14px;
}

#tabs .tab-content1 {
  padding-top: 48px;
  line-height: 25px;
  width: 87%;
}

#tabs .tab-content2 {
  padding-top: 55px;
  margin-left: -2px;
  line-height: 25px;
  width: 87%;
}

#tabs .tab-content3 {
  width: 86%;
  padding-top: 45px;
}

#tabs .tab-content4 {
  width: 87%;
  padding-top: 47px;
  font-size: 14px;
  line-height: 24px;
}

#tabs div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

/* tab1 */
#tabs .line-tab1 {
  height: 5px;
  background-color: #a87b4f;
  width: 45px;
  position: absolute;
  margin-top: 3px;
  margin-left: -2px;
}

#tabs .title-tab1 {
  font-size: 60px;
  letter-spacing: 2px;
}


/* tab2 */

#tabs .title-tab2 {
  font-size: 36px;
  padding-top: 24px;
  letter-spacing: 1px;
}

#tabs .line-tab2 {
  height: 5px;
  background-color: #a87b4f;
  width: 45px;
  position: absolute;
  margin-top: 11px;
  margin-left: -3px
}

#tabs .tab-content2 .title {
  font-size: 24px;
  font-weight: bold;
  color: #a87b4f;
  text-transform: uppercase;
  padding-top: 42px;
}

#tabs .tab-content2 .table1 {
  margin-top: 6px;
  margin-left: 3px;
}

#tabs .tab-content2 .content {
 font-size: 16px;
 line-height: 1.88;
 color: #505050;
 padding-top: 32px;
 letter-spacing: 1px;
}

#tabs .tab-content2 .a {
  font-size: 30px;
  font-weight: bold;
  color: #a87b4f;
  padding-right: 18px;
  padding-top: 21px;
}

#tabs .tab-content2 .c { 
  font-size: 16px;
  font-weight: 600;
  color: #505050;
  padding-top: 22px;
}

#tabs .tab-content2 .a1 {
  font-size: 30px;
  font-weight: bold;
  color: #a87b4f;
  float: left;
  width: 5%;
}

#tabs .tab-content2 .s {
  padding-top: 31px;
  padding-left: 5px;
}

#tabs .tab-content2 .h {
  padding-top: 115px;
  padding-left: 3px;
}

#tabs .tab-content2 .aa {
  padding-top: 87px;
  padding-left: 3px;
}

#tabs .tab-content2 .r {
  padding-top: 87px;
  padding-left: 3px;
}

#tabs .tab-content2 .e {
  padding-top: 65px;
  padding-left: 4px;
}

#tabs .tab-content2 .a2 {
  font-size: 16px;
  font-weight: 600;
  color: #505050;  
  padding-left: 10px;
  float: right;
  width: 95%;
}


/* tab3 */

#tabs .tab-content2 .a3 {
  font-size: 14px;
  color: #505050;
  font-weight: 400;
  padding-top: 10px;
  line-height: 26px; 
}


/* tab4 */

#tabs .img-tab4 {
  background-image: url('./assets/images/logo_khachhang.png');
  width: 687px;
  height: 427px;
  position: relative;
  top: 53px;
  left: -61px;
}

/*CONTENT*/


