﻿@model Wisky.SkyUp.Website.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <p>N/A</p>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Login", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button class="btn btn-bordered btn-@p.AuthenticationType.ToLower() clearfix" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"  title="Đănh nhập bằng tài khoản @p.Caption">
                            <div class="pull-left">
                                <i class="fa fa-@p.AuthenticationType.ToLower() fa-2x"></i>
                            </div>
                            <div class="pull-right text-center" data-lang="Sign_In_Via_@p.AuthenticationType">
                                Đăng nhập bằng @p.AuthenticationType
                            </div>
                        </button>
                    }
                </p>
            </div>
        }
    }

}
