﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/MacChefWeb/_LayoutExternalLogin.cshtml";
}
<div id="forgot-password" class="container">
    <h1 class="page-title">Lỗi</h1>
    <div class="line"></div>

    <div class="main-box">
        <h2 class="section-title">Đã có lỗi xảy ra</h2>
        <div class="description" data-lang="">
            Đã có lỗi xảy ra trong quá trình xử lý<br>
            Vui lòng thử lại
        </div>
        <div class="go-back clearfix">
            <div class="text-center">
                <a href="@(Html.UrlWithDirectory("dang-nhap"))">
                    <img width="15" height="10" class="icon" src="/Content/images/icon/icon_backarrow_2x.png">
                    Quay về trang đăng nhập
                </a>
            </div>
        </div>
        <div class="text-center" style="margin-top:20px">
            <a href="/" class="btn btn-bordered ">Về trang chủ</a>
        </div>
    </div>
</div>