﻿@{
    ViewBag.Title = "Stores";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Store List</h2>
            </div>
            <div class="col-md-4 text-right">
                <a href="@this.Url.Action("Create")" class="btn btn-primary btn-icon-text waves-effect">
                    <i class="zmdi zmdi-plus"></i> Create Store
                </a>
            </div>
        </div>
    </div>
    <table id="lst-items" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th data-column-id="Name">Name</th>
                <th data-column-id="ShortName">Short Name</th>
                <th data-column-id="HasNews" data-formatter="Check">Has News</th>
                <th data-column-id="HasProducts" data-formatter="Check">Has Products</th>
                <th data-column-id="HasImageCollections" data-formatter="Check">Has Image Collections</th>
                <th data-column-id="HasMultipleLanguage" data-formatter="Check">Has Multiple Language</th>
                <th data-column-id="commands" data-formatter="Commands" data-sortable="false"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<template id="command-template" class="hidden">
    <div>
        <a class="btn btn-info btn-sm"
           data-toggle="tooltip" title="Domains">
            <i class="fa fa-globe"></i>
        </a>
        <a class="btn btn-info btn-sm"
           data-toggle="tooltip" title="Routes">
            <i class="fa fa-map-signs"></i>
        </a>
        <a class="btn btn-primary btn-sm"
           data-toggle="tooltip" title="Edit">
            <i class="fa fa-pencil"></i>
        </a>
        <button onclick="onDeleteButtonClick(this);" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</template>

@section scripts {
    <script>
        $(function () {
            var commandTemplate = $("#command-template").html();

            $("#lst-items").bootgrid({
                rowCount: [10, 20, 50, ],

                ajax: true,
                url: "@this.Url.Action("IndexList")",

                formatters: {
                    "Check": function(column, row) {
                        var icon = row[column.id] ? "fa-check" : "fa-remove";

                        return "<i class='fa " + icon + "'></i>";
                    },
                    "Commands": function (column, row) {
                        var template = $(commandTemplate);

                        template.find("[title=Domains]").attr("href", "@(this.Url.Action("Store", "Domain"))/" + row.ID);
                        template.find("[title=Routes]").attr("href", "@(this.Url.Action("Store", "WebRoute"))/" + row.ID);
                        template.find("[title=Edit]").attr("href", "@(this.Url.Action("Edit"))/" + row.ID);
                        template.find("[title=Delete]").attr("data-id", row.ID);

                        return template[0].outerHTML;
                    },
                },
            });
        });

        function onDeleteButtonClick(btn) {
            if (confirm("Are you sure to delete this record?")) {
                var id = $(btn).attr("data-id");
                window.location.href = "@this.Url.Action("Delete")/" + id;
            }
        }

    </script>
}