﻿@using HmsService.ViewModels;
@{
    var user = HttpContext.Current.User;
}


<li>
    <a href="@Url.Action("Index","Brand", new { area= "SysAdmin" })"><i class="zmdi zmdi-coffee"></i> Quản lí Thương Hiệu</a>
</li>
<li>
    <a href="@Url.Action("Index","Store", new { area= "SysAdmin" })"><i class="zmdi zmdi-coffee"></i> Danh sách cửa hàng</a>
</li>
<li>
    <a href="@Url.Action("Index","SysAccount", new { area= "SysAdmin" })"><i class="zmdi zmdi-account"></i> Quản lí Tài Khoản</a>
</li>
<li>
    <a href="@Url.Action("Index","Theme", new { area = "SysAdmin"  })"><i class="zmdi zmdi-account"></i> Quản lí Theme</a>
</li>
@*<li>
    <a href="@Url.Action("Index","WebRouteSetting", new { area = "SysAdmin"  })"><i class="zmdi zmdi-account"></i> Cấu hình Web Route</a>
</li>*@
<li>
    <a href="@Url.Action("Index","PosFile", new { area = "SysAdmin"  })"><i class="zmdi zmdi-account"></i> Quản lý POS file</a>
</li>