﻿@model List<Wisky.SkyAdmin.Manage.Controllers.HomeController.menuItem>
@using HmsService.ViewModels;
@{
    var user = HttpContext.Current.User;
    var currentStore = HmsService.Models.Utils.GetStore();
    var storeId = ViewBag.storeId as string;
    var storeName = ViewBag.storeName as string;
    var brandId = HmsService.Models.Utils.GetBrandId();
    var currentStoreDomain = this.ViewBag.CurrentDomain as StoreDomainViewModel;
}

@if (user.IsInRole("ProductManager"))
{
    <li class="sub-menu" id="menuSanPham">
        <a href="#"><i class="zmdi zmdi-cloud-box"></i> Sản phẩm</a>
        <ul>
            <li class="submenu-style" id="subMenuDanhSachSanPham"><a href="@Url.Action("Index", "Product", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-view-module"></i> Danh sách sản phẩm</a></li>
            <li class="submenu-style" id="subMenuDanhSachDongSanPham"><a href="@Url.Action("Index", "ProductGeneral", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-view-module"></i> Danh sách dòng sản phẩm</a></li>
        </ul>
    </li>
}
@if (user.IsInRole("BrandManager"))
{
    <li id="menuTongQuan"><a href="@Url.Action("Index", "DateDashBoard", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "DashBoard" })"><i class="zmdi zmdi-present-to-all"></i> Tổng quan</a></li>

    <li class="sub-menu" id="menuHoatDongKinhDoanh">
        <a href="#"><i class="zmdi zmdi-trending-up"></i> Hoạt động kinh doanh</a>
        <ul>
            <li class="submenu-style" id="subMenuDanhSachHoaDon"><a href="@Url.Action("Index", "Order", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Orders" })"><i class="zmdi zmdi-trending-flat"></i> Danh sách hóa đơn</a></li>
            <li class="submenu-style hidden" id="subMenuDanhSachThuChi"><a href="@Url.Action("CostManagement", "CostManage", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "CostManager" })"><i class="zmdi zmdi-balance-wallet"></i> Danh sách thu/chi</a></li>
            <li class="submenu-style hidden" id="subMenuDanhSachGiaoDich"><a href="@Url.Action("Index", "Transaction", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "CRM" })"><i class="zmdi zmdi-trending-flat"></i> Danh sách giao dịch</a></li>
        </ul>
    </li>
    <li class="sub-menu" id="menuBaoCao">
        <a href="#"><i class="zmdi zmdi-receipt"></i> Báo cáo</a>
        <ul>
            <li class="submenu-style" id="subMenuBaoCaoKinhDoanh"><a href="@Url.Action("Index", "TimeReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "SystemReport" })"><i class="zmdi zmdi-receipt"></i> Báo cáo kinh doanh</a></li>
            <li class="submenu-style hidden" id="subMenuBaoCaoTheoKhuyenMai"><a href="@Url.Action("Index", "PromotionReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "SystemReport" })"><i class="zmdi zmdi-receipt"></i> Báo cáo theo khuyến mãi</a></li>
            <li class="sub-menu submenu-style" id="subMenuBaoCaoSanPham">
                <a href="#"><i class="zmdi zmdi-receipt"></i> Báo cáo sản phẩm</a>
                <ul>
                    <li id="subsubMenuBaoCaoDienTienSanPham"><a href="@Url.Action("IndexProductLineReport", "ProductReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "SystemReport" })"><i class="zmdi zmdi-trending-flat"></i> Báo cáo diễn tiến sản phẩm</a></li>
                    <li id="subsubMenuBaoCaoDoanhThuSanPham"><a href="@Url.Action("IndexProductCategoryReport", "ProductReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "SystemReport" })"><i class="zmdi zmdi-trending-flat"></i> Báo cáo doanh thu sản phẩm</a></li>
                </ul>
            </li>
            <li class="sub-menu submenu-style hidden" id="subMenuBaoCaoDoiSanh">
                <a href="#"><i class="zmdi zmdi-receipt"></i> Báo cáo đối sánh</a>
                <ul>
                    <li id="subsubMenuDoiSanhDoanhThu"><a href="@Url.Action("Index", "ComparisonReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "SystemReport" })"><i class="zmdi zmdi-trending-flat"></i> Đối sánh doanh thu</a></li>
                    <li id="subsubMenuDoiSanhSanPham"><a href="@Url.Action("IndexProduct", "ComparisonReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "SystemReport" })"><i class="zmdi zmdi-trending-flat"></i> Đối sánh sản phẩm</a></li>
                </ul>
            </li>
            <li class="submenu-style hidden" id="subMenuBaoCaoThanhToan">
                <a href="@Url.Action("Index", "PaymentReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "SystemReport" })"><i class="zmdi zmdi-receipt"></i> Báo cáo thanh toán</a>
            </li>
        </ul>
    </li>
    <li class="sub-menu" id="menuSanPham">
        <a href="#"><i class="zmdi zmdi-cloud-box"></i> Sản phẩm</a>
        <ul>
            <li class="submenu-style" id="subMenuDanhSachSanPham"><a href="@Url.Action("Index", "Product", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-view-module"></i> Danh sách sản phẩm</a></li>
            <li class="submenu-style" id="subMenuDanhSachDongSanPham"><a href="@Url.Action("Index", "ProductGeneral", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-view-module"></i> Danh sách dòng sản phẩm</a></li>
        </ul>
    </li>
    <li class="sub-menu hidden" id="menuQuanLyKho">
        <a href="#"><i class="zmdi zmdi-receipt"></i> Quản lý kho</a>
        <ul>
            <li class="submenu-style" id="subMenuQuanLyNguyenLieu"><a href="@Url.Action("Index", "ProductItem", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-trending-flat"></i> Quản lý nguyên liệu</a></li>
            <li class="submenu-style" id="subMenuDinhMucNguyenLieu"><a href="@Url.Action("Index", "Products", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Products" })"><i class="zmdi zmdi-trending-flat"></i> Định mức nguyên liệu</a></li>
            <li class="submenu-style" id="subMenuTonKhoCuoiNgay"><a href="@Url.Action("Index", "Inventory", new { brandId = brandId, storeId = storeId, area = "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Tồn kho cuối ngày</a></li>
            <li class="submenu-style" id="subMenuTonKhoCuoiThang"><a href="@Url.Action("IndexMonth", "Inventory", new { brandId = brandId, storeId = storeId, area = "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Tồn kho cuối tháng</a></li>
            <li class="submenu-style" id="subMenuTonKhoHienTai"><a href="@Url.Action("IndexInDate", "Inventory", new { brandId = brandId, storeId = storeId, area = "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Tồn kho hiện tại</a></li>
            <li class="submenu-style" id="subMenuTonKhoTheoThoiGian"><a href="@Url.Action("IndexTimeRange", "Inventory", new { brandId = brandId, storeId = storeId, area = "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Tồn kho theo thời gian</a></li>
        </ul>
    </li>
    <li class="sub-menu hidden" id="menuKeToan">
        <a href="#"><i class="zmdi zmdi-receipt"></i> Kế toán</a>
        <ul>
            <li class="submenu-style" id="subMenuVAT"><a href="@Url.Action("Index", "VATOrder", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "VATOrders" })"><i class="zmdi zmdi-money"></i> VAT (Testing)</a></li>
        </ul>
    </li>
    <li class="sub-menu" id="menuCRM">
        <a href="#"><i class="zmdi zmdi-account"></i> CRM</a>
        <ul>
            <li class="submenu-style" id="subMenuDanhSachKhachHang"><a href="@Url.Action("Index", "Customer", new { brandId = brandId, storeId = storeId, area = "CRM" })"><i class="zmdi zmdi-accounts-alt"></i> Danh sách khách hàng</a></li>
            <li class="submenu-style" id="subMenuBoLocKhachHang"><a href="@Url.Action("CustomerFilter", "Customer", new { brandId = brandId, storeId = storeId, area = "CRM" })"><i class="zmdi zmdi-filter-tilt-shift"></i> Bộ lọc khách hàng</a></li>
            <li class="submenu-style hidden" id="subMenuCoupon"><a href="@Url.Action("CouponCampaign", "Coupon", new { brandId = brandId, storeId = storeId, area = "Coupon" })"><i class="zmdi zmdi-card-giftcard"></i> Coupon</a></li>
            <li class="submenu-style" id="subMenuKhuyenMai"><a href="@Url.Action("IndexPromotion", "Promotion", new { brandId = brandId, storeId = storeId, area = "Promotion" })"><i class="zmdi zmdi-exposure-alt"></i> Khuyến mãi</a></li>
            <li class="submenu-style hidden" id="subMenuTheThanhVien"><a href="@Url.Action("Index", "MembershipCard", new { brandId = brandId, storeId = storeId, area = "MembershipCard" })"><i class="zmdi zmdi-card-membership"></i> Thẻ thành viên</a></li>
            <li class="submenu-style hidden" id="subMenuTheMau"><a href="@Url.Action("Index", "MembershipCardSample", new { brandId = brandId, storeId = storeId, area = "MembershipCard" })"><i class="zmdi zmdi-card-membership"></i> Thẻ mẫu</a></li>
            <li class="submenu-style hidden">@*<a href="@Url.Action("editcard", "MembershipCard", new { brandId = brandId, storeId = storeId, area = "MembershipCard" })"><i class="zmdi zmdi-card-travel"></i> Edit membershipcard</a>*@</li>

        </ul>
    </li>
    <li class="sub-menu hidden" id="menuDoiTac">
        <a href="#"><i class="zmdi zmdi-accounts-outline"></i> Đối tác</a>
        <ul>
            <li class="submenu-style" id="subMenuQuanLyNhaCungCap"><a href="@Url.Action("IndexProvider", "ProviderManage", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "ProviderManager" })"><i class="zmdi zmdi-account-circle"></i> Quản lý nhà cung cấp</a></li>
            <li class="submenu-style" id="subMenuNhaCungCapCoupon"><a href="@Url.Action("CouponProvider", "Coupon", new { brandId = brandId, storeId = storeId, area = "Coupon" })"><i class="zmdi zmdi-accounts-list-alt"></i> Nhà cung cấp Coupon</a></li>
        </ul>
    </li>
    <li class="sub-menu" id="menuDanhMuc">
        <a href="#"><i class="zmdi zmdi-format-list-bulleted"></i> Danh mục</a>
        <ul>
            <li class="submenu-style" id="subMenuNhomSanPham"><a href="@Url.Action("Index", "ProductCategory", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-trending-flat"></i> Nhóm sản phẩm</a></li>
            <li class="submenu-style" id="subMenuBoSuuTap"><a href="@Url.Action("Index", "ProductCollection", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-trending-flat"></i> Bộ sưu tập</a></li>  
            <li class="submenu-style hidden" id="subMenuNhomNguyenLieu"><a href="@Url.Action("Index", "ProductItemCategory", new { brandId = brandId, storeId = storeId, area = "Admin" })"><i class="zmdi zmdi-trending-flat"></i> Nhóm nguyên liệu</a></li>
            <li class="submenu-style" id="subMenuNhomKhachHang"><a href="@Url.Action("Index", "CustomerType", new { brandId = brandId, storeId = storeId, area = "CRM" })"><i class="zmdi zmdi-view-array"></i> Nhóm khách hàng</a></li>
            <li class="submenu-style hidden" id="subMenuNhomThuChi"><a href="@Url.Action("IndexCostManage", "CostManage", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "CostManager" })"><i class="zmdi zmdi-money"></i> Nhóm thu chi</a></li>
            <li class="submenu-style hidden" id="subMenuNhomKhuyenMai"><a href="@Url.Action("Index", "Group", new { brandId = brandId, storeId = storeId, area = "Promotion" })"><i class="zmdi zmdi-exposure-alt"></i> Nhóm khuyến mãi</a></li>
            <li class="submenu-style hidden" id="subMenuNhomCuaHang"><a href="@Url.Action("Index", "StoreGroup", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-view-list"></i> Nhóm cửa hàng</a></li>
            @*<li class="submenu-style"><a href="@Url.Action("Index", "GroupMembershipCard", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-card-membership"></i> Nhóm thẻ thành viên</a></li>*@
            <li class="submenu-style hidden" id="subMenuLoaiTheTHanhVIen"><a href="@Url.Action("Index", "MembershipCardType", new { brandId = brandId, storeId = storeId, area = "MembershipCard" })"><i class="zmdi zmdi-view-week"></i> Loại thẻ thành viên</a></li>
        </ul>
    </li>

    <li class="sub-menu" id="menuDelivery">
        <a href="#"><i class="fa fa-truck"></i> Cấu hình Delivery Price</a>
        <ul>
            <li class="submenu-style" id="submenuDelivery"><a href="@Url.Action("Index", "AreaDelivery", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="fa fa-truck"></i> Cấu hình giá khu vực</a></li>
            <li class="submenu-style" id="subMenuProvince"><a href="@Url.Action("Index", "Province", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="fa fa-map-marker"></i>Cấu hình giá theo tỉnh</a></li>
        </ul>
    </li>

    <li class="sub-menu" id="menuNguoiDung">
        <a href="#"><i class="zmdi zmdi-settings"></i> Người dùng</a>
        <ul>
            <li class="submenu-style" id="subMenuPhanCongNguoiDung"><a href="@Url.Action("Index", "Store", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-view-list"></i> Phân công người dùng</a></li>
            <li class="submenu-style" id="subMenuPhanQuyenNguoiDung"><a href="@Url.Action("Index", "AccountBrandManager", new { brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin" })"><i class="zmdi zmdi-view-list"></i> Phân quyền người dùng</a></li>
        </ul>
    </li>
    if (currentStore?.HasCustomerFeedbacks ?? true)
    {
        <li id="subMenuTinNhanKhachHang"><a href="@this.Url.Action("Index", "CustomerFeedback", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-labels"></i> Tin nhắn khách hàng</a></li>
    }
    if (currentStore?.HasImageCollections ?? true)
    {
        <li id="subMenuThuVienAnh"><a href="@this.Url.Action("Index","ImageCollection", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-labels"></i> Thư viện ảnh</a></li>
    }
    if (currentStore?.HasWebPages ?? true)
    {
        <li id="subMenuQuanLyTrang"><a href="@this.Url.Action("Index", "WebPage", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-storage"></i>Quản lý trang</a></li>

    }
    <li id="subMenuQuanLyWebsite"><a href="@this.Url.Action("Index", "WebSettings", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-settings"></i>Quản lý Website</a></li>
    <li id="subMenuQuanLyComment"><a href="@this.Url.Action("Index", "Comment", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-settings"></i>Quản lý bình Luận</a></li>

    <li id="subMenuReDateReport"><a href="@this.Url.Action("Index", "ReDateReport", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "ReRunReport"  })"><i class="zmdi zmdi-settings"></i>Chạy lại báo cáo</a></li>
}
<style>
    .sub-menu ul > li ul {
        margin: 0px !important;
    }

    .sub-menu .sub-menu:first-child > a:before, .sub-menu:first-child .sub-menu > a:after {
        top: 11px;
    }
</style>
<script>
    $(document).ready(function () {
        @if (Model != null)
        {
            for(int i = 0; i < Model.Count(); i++)
            {
                if (Model[i].enable == false)
                {
                    <text>
                    if (document.getElementById("@Model[i].name") != null) {
                        document.getElementById("@Model[i].name").setAttribute("hidden", "true");
                    }
                    </text>
                }
            }
        }
    });


</script>