﻿@model List<Wisky.SkyAdmin.Manage.Controllers.HomeController.menuItem>
@using HmsService.ViewModels;
@using Wisky.SkyAdmin.Manage.Controllers
@{
    var user = HttpContext.Current.User;
    var currentStore = HmsService.Models.Utils.GetStore();
    var storeId = ViewBag.storeId as string;
    var storeName = ViewBag.storeName as string;
    var brandId = HmsService.Models.Utils.GetBrandId();
    StoreTypeEnum storeType = (StoreTypeEnum)ViewBag.storeType;
    var currentStoreDomain = this.ViewBag.CurrentDomain as StoreDomainViewModel;
}

@if (storeType != StoreTypeEnum.Website)
{
    if ((user.IsInRole("BrandManager") || user.IsInRole("StoreManager") || user.IsInRole("StoreReportViewer") || user.IsInRole("Booking")) && (storeType == StoreTypeEnum.Store || storeType == StoreTypeEnum.CallCenter))
    {
        <li id="menuTongQuan">
            <a href="@Url.Action("Index","DateDashBoard", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "DashBoard" })"><i class="zmdi zmdi-present-to-all"></i> Tổng quan</a>

        </li>

    }
    @*if (user.IsInRole("ProductManager"))
        {
            <li class="sub-menu">
                <a href="#"><i class="zmdi zmdi-settings"></i> Cấu hình sản phẩm</a>
                <ul>
                    <li><a href="@Url.Action("Index","Product", new { brandId = brandId, storeId = storeId, storeName = storeName, area="Admin"})"><i class="zmdi zmdi-trending-flat"></i> Sản phẩm</a></li>
                    <li><a href="@Url.Action("Index","ProductCategory", new { brandId = brandId, storeId = storeId, storeName = storeName, area="Admin"})"><i class="zmdi zmdi-trending-flat"></i> Loại sản phẩm</a></li>
                    <li><a href="@Url.Action("Index","ProductItemCategory", new { brandId = brandId, storeId = storeId, storeName = storeName, area="Admin"})"><i class="zmdi zmdi-trending-flat"></i> Loại nguyên liệu</a></li>
                    <li><a href="@Url.Action("Index","ProductItem", new { brandId = brandId, storeId = storeId, storeName = storeName, area="Admin"})"><i class="zmdi zmdi-trending-flat"></i> Nguyên liệu</a></li>
                    <li><a href="@Url.Action("Index","Products", new { brandId = brandId, storeId = storeId, storeName = storeName, area="Products"})"><i class="zmdi zmdi-trending-flat"></i> Cấu hình thành phần</a></li>
                </ul>
            </li>
        }*@
if ((user.IsInRole("BrandManager") || user.IsInRole("StoreManager") || user.IsInRole("StoreReportViewer")) && (storeType == StoreTypeEnum.Store))
{
    <li id="menuHoaDon">
        <a href="@Url.Action("Index", "Order", new { area = "Orders" })"><i class="zmdi zmdi-assignment"></i> Hóa đơn</a>
    </li>
    @*<li>
            <a href="@Url.Action("Index", "VATOrder", new { area = "VATOrders" })"><i class="zmdi zmdi-assignment"></i> Hóa đơn VAT (Testing)</a>
        </li>*@
}
if ((user.IsInRole("BrandManager") || user.IsInRole("Manager") || user.IsInRole("Booking")) && storeType == StoreTypeEnum.CallCenter)
{
    <li>
        <a href="@Url.Action("Index", "Order", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "Orders" })"><i class="zmdi zmdi-assignment"></i> Hóa Đơn</a>
    </li>
    <li>
        <a href="@Url.Action("Create", "Delivery", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "Delivery" })"><i class="zmdi zmdi-notifications-add"></i> Đặt hàng mới</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Delivery", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "Delivery" })"><i class="zmdi zmdi-view-list"></i> Danh sách đặt hàng</a>
    </li>
    }
    if ((user.IsInRole("BrandManager") || user.IsInRole("StoreManager") || user.IsInRole("StoreReportViewer")) && storeType == StoreTypeEnum.Store)
    {
        <li class="sub-menu submenu-style" id="menuBaoCao">
            <a href="#"><i class="zmdi zmdi-collection-text"></i> Báo cáo tổng hợp</a>
            <ul>
                <li class="submenu-style" id="subMenuBaoCaoKinhDoanh">
                    <a href="@Url.Action("Index","TimeReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area="StoreReport"})">
                        <i class="zmdi zmdi-trending-flat">
                        </i> Báo cáo kinh doanh
                    </a>
                </li>
                <li class="submenu-style" id="subMenuBaoCaoTheoKhuyenMai"><a href="@Url.Action("Index","PromotionReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area="StoreReport"})"><i class="zmdi zmdi-receipt"></i> Báo cáo theo khuyến mãi</a></li>

                <li class="sub-menu submenu-style" id="subMenuBaoCaoSanPham">
                    <a href="#"><i class="zmdi zmdi-receipt"></i> Báo cáo sản phẩm</a>
                    <ul>
                        <li id="subsubMenuBaoCaoDienTienSanPham"><a href="@Url.Action("StoreProductDateProgress","ProductReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area="StoreReport"})"><i class="zmdi zmdi-trending-flat"></i> Báo cáo diễn tiến sản phẩm</a></li>
                        <li id="subsubMenuBaoCaoDoanhThuSanPham"><a href="@Url.Action("StoreProductProgress","ProductReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area="StoreReport"})"><i class="zmdi zmdi-trending-flat"></i> Báo cáo doanh thu sản phẩm</a></li>
                    </ul>
                </li>
                <li class="sub-menu submenu-style" id="subMenuBaoCaoDoiSanh">
                    <a href="#"><i class="zmdi zmdi-receipt"></i> Báo cáo đối sánh</a>
                    <ul>
                        <li id="subsubMenuDoiSanhSanPham"><a href="@Url.Action("Index","ComparisonReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area="StoreReport"})"><i class="zmdi zmdi-trending-flat"></i> Đối sánh sản phẩm</a></li>
                    </ul>
                </li>
                <li class="submenu-style" id="subMenuBaoCaoThanhToan">
                    <a href="@Url.Action("Index","PaymentReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area="StoreReport"})">
                        <i class="zmdi zmdi-trending-flat">
                        </i> Báo cáo thanh toán
                    </a>
                </li>
                @*<li class="sub-menu">
                        <a href="#"><i class="zmdi zmdi-time"></i> Theo thời gian</a>
                    <ul>
                        <li><a href="@Url.Action("HourReport","TimeReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "StoreReport" })"><i class="zmdi zmdi-trending-flat"></i>Báo cáo theo giờ</a></li>
                        <li><a href="@Url.Action("StoreShiftReport","StoreReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "PosReport" })"><i class="zmdi zmdi-trending-flat"></i>Báo cáo theo ca</a></li>
                        <li><a href="@Url.Action("StoreRevenueReport","StoreReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "PosReport" })"><i class="zmdi zmdi-trending-flat"></i>Doanh thu theo ngày</a></li>
                        <li><a href="@Url.Action("StoreDateReport","StoreReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "PosReport" })"><i class="zmdi zmdi-trending-flat"></i>Doanh thu chi tiết ngày</a></li>
                        <li><a href="@Url.Action("DayOfWeekReport","StoreReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "PosReport" })"><i class="zmdi zmdi-trending-flat"></i>Báo cáo theo thứ</a></li>
                        <li><a href="@Url.Action("IndexDayOfWeekReport","TimeReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "StoreReport" })"><i class="zmdi zmdi-trending-flat"></i>Báo cáo theo thứ temp</a></li>
                        <li><a href="@Url.Action("MonthReport","TimeReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "StoreReport" })"><i class="zmdi zmdi-trending-flat"></i>Báo cáo theo tháng</a></li>
                    </ul>
                    </li>*@
                @*<li class="sub-menu">
                        <a href="#"><i class="zmdi zmdi-trending-up"></i> Diễn tiến sản phẩm</a>
                        <ul>
                            <li><a href="@Url.Action("StoreProductDateProgress","StoreReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "PosReport" })"><i class="zmdi zmdi-trending-flat"></i>Diễn tiến sản phẩm theo ngày</a></li>
                            <li><a href="@Url.Action("StoreProductMonthProgress","StoreReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "PosReport" })"><i class="zmdi zmdi-trending-flat"></i>Diễn tiến sản phẩm theo tháng</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("StoreCategoryReport","StoreReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "PosReport" })"><i class="zmdi zmdi-trending-flat"></i>Báo cáo theo ngành hàng</a></li>
                    <li><a href="@Url.Action("StoreProductCategoryReport","StoreReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "PosReport" })"><i class="zmdi zmdi-trending-flat"></i>Báo cáo theo sản phẩm</a></li>
                    <li><a href="@Url.Action("StoreQuantitativeReport","StoreReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "PosReport" })"><i class="zmdi zmdi-trending-flat"></i>Báo cáo COS</a></li>*@

            </ul>
        </li>

        @*<li class="sub-menu submenu-style">
                <a href="#"><i class="zmdi zmdi-receipt"></i> Báo cáo</a>
                <ul>
                    <li class="sub-menu submenu-style">
                        <a href="#"><i class="zmdi zmdi-receipt"></i> Báo cáo kinh doanh</a>
                        <ul>
                            <li><a href="@Url.Action("HourReport","TimeReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area="StoreReport"})"><i class="zmdi zmdi-trending-flat"></i> Báo cáo theo giờ</a></li>
                            <li><a href="@Url.Action("IndexDayOfWeekReport","TimeReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area="StoreReport"})"><i class="zmdi zmdi-trending-flat"></i> Báo cáo theo thứ</a></li>
                            <li><a href="@Url.Action("DayReport","TimeReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area="StoreReport"})"><i class="zmdi zmdi-trending-flat"></i> Báo cáo theo ngày</a></li>
                            <li><a href="@Url.Action("MonthReport","TimeReport", new { brandId = brandId, storeId = storeId, storeName = storeName, area="StoreReport"})"><i class="zmdi zmdi-trending-flat"></i> Báo cáo theo tháng</a></li>
                        </ul>
                    </li>
                </ul>
            </li>*@
    }
    if ((user.IsInRole("BrandManager") || user.IsInRole("StoreManager")) && storeType == StoreTypeEnum.Store)
    {
        <li class="sub-menu" id="menuKho">
            <a href="#"><i class="sub-menu zmdi zmdi-widgets"></i> Kho</a>
            <ul>
                <li class="sub-menu submenu-style" id="subMenuTinhTrangKho">
                    <a href="#"><i class="zmdi zmdi-tune"></i> Tình trạng kho</a>
                    <ul>
                        <li id="subsubMenuTonKhoCuoiNgay"><a href="@Url.Action("Index","Inventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Tồn kho cuối ngày</a></li>
                        <li id="subsubMenuTonKhoCuoiThang"><a href="@Url.Action("IndexMonth","Inventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Tồn kho cuối tháng</a></li>
                        <li id="subsubMenuTonKhoHienTai"><a href="@Url.Action("IndexInDate","Inventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Tồn kho hiện tại</a></li>
                        <li id="subsubMenuTonKhoTheoThoiGian"><a href="@Url.Action("IndexTimeRange","Inventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Tồn kho theo thời gian</a></li>
                    </ul>
                </li>
                <li class="sub-menu submenu-style" id="subMenuThaoTacKho">
                    <a href="#"><i class="zmdi zmdi-exposure-alt"></i> Thao tác kho</a>
                    <ul>
                        <li id="subsubMenuNhapKho"><a href="@Url.Action("ListImportInventory","ProductInventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Nhập Kho</a></li>
                        <li id="subsubMenuXuatKho"><a href="@Url.Action("ListExportInventory","ProductInventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Xuất Kho</a></li>
                        <li id="subsubMenuChuyenKhoDi"><a href="@Url.Action("ListTransferInventory","ProductInventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Chuyển Kho Đi</a></li>
                        <li id="subsubMenuChuyenKhoDen"><a href="@Url.Action("ListGetTransferInventory","ProductInventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Chuyển Kho Đến</a></li>
                    </ul>
                </li>
                <li class="submenu-style" id="subMenuDanhSachPhieuKho"><a href="@Url.Action("InventoryReceiptList","Inventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-exposure-alt"></i> Danh sách phiếu kho</a></li>
                <li class="submenu-style" id="subMenuBaoCaoNhapHang"><a href="@Url.Action("ImportReportList","Provider", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-square-right"></i> Báo cáo nhập hàng</a></li>
            </ul>
        </li>

        @*<li class="sub-menu submenu-style">
                <a href="#"><i class="zmdi zmdi-exposure-alt"></i> Báo cáo kho tổng</a>
                <ul>
                    <li><a href="@Url.Action("InventoryReceiptList","Inventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-trending-flat"></i> Danh sách phiếu kho</a></li>
                </ul>
            </li>*@

    }
    if ((user.IsInRole("BrandManager") || user.IsInRole("StoreManager") || user.IsInRole("ProductManager")) && storeType == StoreTypeEnum.Store)
    {
        <li id="menuSanPham"><a href="@Url.Action("SettingAtStore","ProductSetting", new { brandId = brandId, storeId = storeId, storeName = storeName, area="Admin"})"><i class="zmdi zmdi-trending-flat"></i> Sản phẩm</a></li>
    }
    if ((user.IsInRole("BrandManager") || user.IsInRole("StoreManager") || user.IsInRole("StoreReportViewer")) && storeType == StoreTypeEnum.Store)
    {
        <li id="menuThemTheThanhVien"><a href="@Url.Action("CreateMembershipCardStore","MembershipCard", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "MembershipCard" })"><i class="zmdi zmdi-card-membership"></i> Thêm thẻ thành viên</a></li>
        <li id="menuQuanlyGiaoDich">
            <a href="@Url.Action("Index", "Transaction", new { brandId = brandId, storeId = storeId, storeName = storeName, area="Transaction"})"><i class="zmdi zmdi-swap"></i> Quản lý giao dịch</a>
        </li>
    }
    if (user.IsInRole("Inventory") && !user.IsInRole("BrandManager") && storeType == StoreTypeEnum.Store)
    {
        <li class="sub-menu" id="menuTinhTrangKho">
            <a href="#"><i class="sub-menu zmdi zmdi-widgets"></i> Tình trạng kho</a>
            <ul>
                <li class="submenu-style" id="subMenuTonKhoCuoiNgay"><a href="@Url.Action("Index","Inventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-exposure-alt"></i> Tồn kho cuối ngày</a></li>
                <li class="submenu-style" id="subMenuTonKhoCuoiThang"><a href="@Url.Action("IndexMonth","Inventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-exposure-alt"></i> Tồn kho cuối tháng</a></li>
                <li class="submenu-style" id="subMenuTonKhoHienTai"><a href="@Url.Action("IndexInDate","Inventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-exposure-alt"></i> Tồn kho hiện tại</a></li>
                <li class="submenu-style" id="subMenuTonKhoTheoThoiGian"><a href="@Url.Action("IndexTimeRange","Inventory", new { brandId = brandId, storeId = storeId, area= "Inventory" })"><i class="zmdi zmdi-exposure-alt"></i> Tồn kho theo thời gian</a></li>
            </ul>
        </li>
    }
    if ((user.IsInRole("BrandManager") || user.IsInRole("StoreManager")) && storeType == StoreTypeEnum.Store)
    {
        <li id="menuQuanLyThuChi">
            <a href="@Url.Action("CostManagement", "CostManage", new { brandId = brandId, storeId = storeId, storeName = storeName, area="CostManager"})"><i class="zmdi zmdi-money"></i> Quản lý thu chi</a>
        </li>
    }
    if ((user.IsInRole("BrandManager") || user.IsInRole("StoreManager") || user.IsInRole("StoreManager")) && (storeType == StoreTypeEnum.Store))
    {
        <li id="menuQuanLyNhanVienCuaHang">
            <a href="@Url.Action("Index","StoreManager", new { brandId = brandId, storeId = storeId, storeName = storeName, area= "Admin" })"><i class="zmdi zmdi-accounts"></i> Quản lý nhân viên cửa hàng</a>
        </li>
    }
}
else if ((user.IsInRole("BrandManager") || user.IsInRole("StoreManager")) && storeType == StoreTypeEnum.Website)
{
    <li class="sub-menu submenu-style">
        <a href="#"><i class="zmdi zmdi-laptop-chromebook" id="menuWebsite"></i>Website</a>
        <ul>
            <li id="subMenuXemTrangChinh"><a href="/@(currentStoreDomain.Directory)" target="_blank"><i class="zmdi zmdi-home"></i> Xem trang chính</a></li>
            @if (currentStore?.HasProducts ?? true)
            {
                <li class="sub-menu" id="subMenuSanPham">
                    <a href="#"><i class="zmdi zmdi-labels"></i> Sản phẩm</a>
                    <ul>
                        @* <li><a href="@this.Url.Action("Index", "Product", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-trending-flat"></i> Quản lý sản phẩm</a></li>*@
                        <li id="subsubMenuSanPham"><a href="@Url.Action("SettingAtStore","ProductSetting", new { brandId = brandId, storeId = storeId, storeName = storeName, area="Admin"})"><i class="zmdi zmdi-trending-flat"></i> Sản phẩm</a></li>
                        <li id="subsubMenuQuanLyLoaiSanPham"><a href="@this.Url.Action("Index", "ProductCategory", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-trending-flat"></i> Quản lý loại sản phẩm</a></li>
                        <li id="subsubMenuQuanLyNhom"><a href="@this.Url.Action("Index", "ProductCollection", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-trending-flat"></i> Quản lý nhóm</a></li>
                    </ul>
                </li>
            }
            @if (currentStore?.HasOrder ?? false)
            {
                <li id="subMenuQuanLyDonHang"><a href="@this.Url.Action("Index", "Order", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-settings"></i>Quản lý đơn hàng</a></li>
            }
            @if (currentStore?.HasNews ?? true)
            {
                <li class="sub-menu" id="subMenuBaiViet">
                    <a href="#"><i class="zmdi zmdi-labels"></i> Bài viết</a>
                    <ul>
                        <li id="subsubMenuQuanLyBaiViet"><a href="@this.Url.Action("Index", "BlogPost", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-trending-flat"></i> Quản lý bài viết</a></li>
                        <li id="subsubMenuQuanLyChuyenMuc"><a href="@this.Url.Action("Index", "BlogPostCollection", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-trending-flat"></i> Quản lý chuyên mục</a></li>
                    </ul>
                </li>
            }
            @if (currentStore?.HasCustomerFeedbacks ?? true)
            {
                <li id="subMenuTinNhanKhachHang"><a href="@this.Url.Action("Index", "CustomerFeedback", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-labels"></i> Tin nhắn khách hàng</a></li>
            }
            @if (currentStore?.HasImageCollections ?? true)
            {
                <li id="subMenuThuVienAnh"><a href="@this.Url.Action("Index","ImageCollection", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-labels"></i> Thư viện ảnh</a></li>
            }

            @if (currentStore?.HasWebPages ?? true)
            {
                <li id="subMenuQuanLyTrang"><a href="@this.Url.Action("Index", "WebPage", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-storage"></i>Quản lý trang</a></li>

            }
            <li id="subMenuQuanLyTheme"><a href="@this.Url.Action("Index", "Theme", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-storage"></i>Quản lý Theme</a></li>
            <li id="subMenuQuanLyWebsite"><a href="@this.Url.Action("Index", "WebSettings", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="zmdi zmdi-settings"></i>Quản lý Website</a></li>

            <li class="sub-menu" hidden>
                <a href="#"><i class="zmdi zmdi-settings"></i> Quản lý Website</a>
                <ul>
                    <li><a href="@this.Url.Action("GeneralInformation", "WebInformation", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="md"></i> Thông tin chung</a></li>
                    <li><a href="@this.Url.Action("SocialNetwork", "WebInformation", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="md"></i> Mạng xã hội</a></li>
                    <li><a href="@this.Url.Action("ViewCount", "WebInformation", new { parameters = currentStoreDomain.Directory, brandId = brandId, storeId = storeId, storeName = storeName, area = "Admin"  })"><i class="md"></i> Lượt view</a></li>
                </ul>
            </li>
        </ul>
    </li>
}

<style>
    .sub-menu ul > li ul {
        margin: 0px !important;
    }

    .sub-menu .sub-menu:first-child > a:before, .sub-menu:first-child > a:after {
        top: 11px;
    }
</style>
<script>
    $(document).ready(function () {
        @if (Model != null)
        {
            for(int i = 0; i < Model.Count(); i++)
            {
                if (Model[i].enable == false)
                {
                    <text>
                    if (document.getElementById("@Model[i].name") != null) {
                        document.getElementById("@Model[i].name").setAttribute("hidden", "true");
                    }
                    </text>
                }
            }
        }

    });
</script>