﻿@using HmsService
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int NewTransaction = (int)TransactionStatus.New;
    int ApprovedTransaction = (int)TransactionStatus.Approve;
    int CanceledTransaction = (int)TransactionStatus.Cancel;
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h3>Quản lý giao dịch</h3>
                <h5 class="smallDate" data-role="small-date"></h5>
            </div>
        </div>
        <hr />
    </div>

    <div class="card-body">
        
        <div class="row" style="margin: 10px; margin-left:160px;" >
            <div class="col-md-5" style="margin-right:10px">
                <div id="1stPanel" class="bgm-green" style="border-radius:5px;">
                    <div class="clearfix">
                        <div id="active1" style="margin:5px;">
                            <h3 class="detailPanelTitle" style="text-align: center; font-weight:bold"><i class="ace-icon fa fa-2x fa-money"></i> Tổng tiền nạp</h3>
                            <h4 style="color:white;">Dự kiến: <i class="" style="padding-right:50px;"></i><span style="color:blue;font-size:17px" id="tongDoanhThudk">0 VNĐ</span> </h4>
                            <h4 style="color:white;">Thực tế: <i class="" style="padding-right:50px;"></i><span style="color:blue;font-size:17px" id="tongDoanhThu">0 VNĐ</span> </h4>
                            <h4 style="color:white;">Đã hủy: <i class="" style="padding-right:50px;"></i><span style="color:blue;font-size:17px" id="tongDoanhThuHuy">0 VNĐ</span> </h4>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="1stPanel" class="bgm-amber" style="border-radius:5px;">
                    <div class="clearfix">
                        <div id="active1" style="margin:5px;">
                            <h3 class="detailPanelTitle" style="text-align: center; font-weight:bold"><i class="ace-icon fa fa-2x fa-money"></i> Tổng tiền trừ</h3>
                            <h4 style="color:white;">Dự kiến: <i class="" style="padding-right:50px;"></i><span style="color:blue;font-size:17px" id="sauGiamGiadk">0 VNĐ</span></h4>
                            <h4 style="color:white;">Thực tế: <i class="" style="padding-right:50px;"></i><span style="color:blue;font-size:17px" id="sauGiamGia">0 VNĐ</span></h4>
                            <h4 style="color:white;">Đã hủy: <i class="" style="padding-right:50px;"></i><span style="color:blue;font-size:17px" id="sauGiamGiaHuy">0 VNĐ</span> </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-padding">
            <!-- Customer Table -->
            <div class="row">
                <div class="col-md-3 pull-right">
                    <div class="input-group pull-right">
                        <div class="dateTime width230 pull-right">
                            <div class="fg-line m-t-5">
                                <div id="reportrange">
                                    <input id="date-string" readonly class="form-control text-center">
                                    <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="sTime" />
                        <input type="hidden" id="eTime" />
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" id="filter-toggle" data-target="#filter-container" data-toggle="collapse" onclick="toggleIcon()"><i id="icon" class="fa fa-plus"></i> Bộ lọc</button>
                </div>
            </div>
            <div class="collapse" id="filter-container">
                <div class="row m-t-10">
                    <div class="col-md-9">
                        <div class="col-md-2 p-l-0 p-r-0">
                            <label class="control-label p-t-5">Trạng thái:</label>
                        </div>
                        <div class="group-radio-buttons col-md-10 p-l-0">
                            <div class="medium-radio-button-width col-md-3 p-l-0">
                                <input type="radio" name="status-filter" value="-1" class="nice-check" id="no-filter" checked />
                                <label for="no-filter"><span>Tất cả</span></label>
                            </div>
                            <div class="medium-radio-button-width col-md-3 p-l-0">
                                <input type="radio" name="status-filter" value="0" class="nice-check" id="filter" />
                                <label for="filter"><span>Chưa duyệt</span></label>
                            </div>
                            <div class="medium-radio-button-width col-md-3 p-l-0">
                                <input type="radio" name="status-filter" value="1" class="nice-check" id="filter2" />
                                <label for="filter2"><span>Đã duyệt</span></label>
                            </div>
                            <div class="medium-radio-button-width col-md-3 p-l-0">
                                <input type="radio" name="status-filter" value="2" class="nice-check" id="filter3" />
                                <label for="filter3"><span>Đã hủy</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-9">
                        <div class="col-md-2 p-l-0 p-r-0">
                            <label class="control-label p-t-5">Loại giao dịch:</label>
                        </div>
                        <div class="group-radio-buttons col-md-10 p-l-0">
                            <div class="medium-radio-button-width col-md-3 p-l-0">
                                <input type="radio" name="type-filter" value="-1" class="nice-check" id="no-filter1" checked />
                                <label for="no-filter1"><span>Tất cả</span></label>
                            </div>
                            <div class="medium-radio-button-width col-md-3 p-l-0">
                                <input type="radio" name="type-filter" value="0" class="nice-check" id="filter4" />
                                <label for="filter4"><span>Tăng</span></label>
                            </div>
                            <div class="medium-radio-button-width col-md-3 p-l-0">
                                <input type="radio" name="type-filter" value="1" class="nice-check" id="filter5" />
                                <label for="filter5"><span>Giảm</span></label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Datatable -->
            <div class="row m-t-25">
                <div class="col-md-12">
                    <table id="TransactionDatatable" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <label class="">STT</label>
                                </th>
                                <th>
                                    <label class="">Mã thẻ thành viên</label>
                                </th>
                                <th>
                                    <label class="">Tên khách hàng</label>
                                </th>
                                <th>
                                    <label class="">Giá trị</label>
                                </th>
                                @*<th>
                                        <label class="">Đơn vị</label>
                                    </th>*@
                                @*<th>
                                    <label class="">FCAmount</label>
                                </th>*@
                                <th>
                                    <label class="">Ngày tạo</label>
                                </th>
                                <th>
                                    <label class="">Ghi chú</label>
                                </th>
                                <th>
                                    <label class="">Cửa Hàng</label>
                                </th>
                                <th>
                                    <label class="">Trạng thái</label>
                                </th>
                                
                                <th>
                                    <label class="">Tùy chọn</label>
                                </th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editTransaction" class="modal fade" data-backdrop="static" data-keyboard="true"></div>
<div id="verifyTransaction" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="width: 80%">
            <div class="modal-header">
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Xác nhận giao dịch</h3>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <input type="hidden" id="transactionId" data-id="" />
                    <div class="col-md-6"><button onclick="verifyTransaction(true)" class="btn btn-success">Duyệt Giao dịch</button></div>
                    <div class="col-md-6"><button onclick="verifyTransaction(false)" class="btn btn-danger">Hủy Giao dịch</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var naptien = 0;
    var trutien = 0;
    var naptiendk = 0;
    var trutiendk = 0;
    var naptienhuy = 0;
    var trutienhuy = 0;
    $(document).ready(function () {
        SetupDaterangePicker();
        //InitTransactionDatatable();
        //RefreshTransactionDatatable();
    });

    function RefreshTransactionDatatable() {
        var oTable = $("#TransactionDatatable").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    }
    function SetupDaterangePicker() {
        cb(moment(), moment(), "Hôm nay");
        $('#reportrange').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Tuần này': [moment().startOf('isoweek'), moment().endOf('isoweek')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('isoweek'), moment().subtract(1, 'week').endOf('isoweek')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);


    }
    function cb(start, end, label) {
        var startTime = start.format("DD/MM/YYYY"),
            endTime = end.format("DD/MM/YYYY"),
            dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

        if (label != "Tùy chọn") {
            $('#date-string').val(label);
        } else {
            $("#date-string").val(dateString);
        }

        $("#sTime").val(startTime);
        $("#eTime").val(endTime);
        $('[data-role=small-date]').html(dateString);
        getTotalTransaction();
        InitTransactionDatatable();
        //RefreshTransactionDatatable();
        //RefreshDatatable();
    }


    function showEditTransaction(transactionId) {
        $.ajax({
            type: "GET",
            url: "@(Url.Action("Edit", "Transaction"))",
            data: { id: transactionId },
            success: function (result) {
                $('#editTransaction').html(result);
                $('#editTransaction').modal('show');
                //setModalHeaderWidth();
            },
            error: function (error) {
                alert("Error Occured")
            }
        });
    }

    $('input[name=status-filter]').on('change', function () {
        RefreshTransactionDatatable();
    });

    $('input[name=type-filter]').on('change', function () {
        RefreshTransactionDatatable();
    });

    function toggleIcon() {
        $('#icon').toggleClass("fa-plus");
        $('#icon').toggleClass("fa-minus");
    }
    function getTotalTransaction() {
        naptien = 0;
        trutien = 0;
        naptiendk = 0;
        trutiendk = 0;
        naptienhuy = 0;
        trutienhuy = 0;
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadTransaction", "Transaction")',
            data: { 'transactionStatus': $('input[name=status-filter]:checked').val(), 'transactionType': $('input[name=type-filter]:checked').val(), 'startDate': $('#sTime').val(), 'endDate': $('#eTime').val() },
            success: function (result) {
                var testResult = result;
                for (var i = 0; i < result.iTotalRecords; i++) {
                    if (result.totalData[i][2]) {
                        if (result.totalData[i][1] == '1') {
                            naptien = naptien + result.totalData[i][0];
                            naptiendk = naptiendk + result.totalData[i][0];
                        } else
                            if (result.totalData[i][1] == '2') {
                                naptienhuy = naptienhuy + result.totalData[i][0];
                            } else
                                if (result.totalData[i][1] == '0') {
                                    naptiendk = naptiendk + result.totalData[i][0];
                                }
                    } else {
                        if (result.totalData[i][1] == '1') {
                            trutien = trutien + result.totalData[i][0];
                            trutiendk = trutiendk + result.totalData[i][0];
                        } else
                            if (result.totalData[i][1] == '2') {
                                trutienhuy = trutienhuy + result.totalData[i][0];
                            } else
                                if (result.totalData[i][1] == '0') {
                                    trutiendk = trutiendk + result.totalData[i][0];
                                }
                    }
                }
                $('#tongDoanhThu').text(toMoney(naptien, ',', ' VNĐ'));
                $('#sauGiamGia').text(toMoney(trutien, ',', ' VNĐ'));
                $('#tongDoanhThudk').text(toMoney(naptiendk, ',', ' VNĐ'));
                $('#sauGiamGiadk').text(toMoney(trutiendk, ',', ' VNĐ'));
                $('#tongDoanhThuHuy').text(toMoney(naptienhuy, ',', ' VNĐ'));
                $('#sauGiamGiaHuy').text(toMoney(trutienhuy, ',', ' VNĐ'));
            }
            //DoanhThuChart1(result.dataChart)
        });
    }

    function InitTransactionDatatable() {
        $("#TransactionDatatable").dataTable({
            "bSort": false,
            "bRetrieve": false,
            "bDestroy": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "@Url.Action("LoadTransaction","Transaction")",
            "bDeferRender": true,
            "bProcessing": true,

            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "transactionType", "value": $('input[name=type-filter]:checked').val() },
                    { "name": "transactionStatus", "value": $('input[name=status-filter]:checked').val() },
                    { "name": "startDate", "value": $('#sTime').val() },
                    { "name": "endDate", "value": $('#eTime').val() }
                );
            },
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sSearchPlaceholder": "Mã thẻ",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "sInfoEmpty": "Không có dữ liệu",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6, 7],
                    "className": "dt-center"

                },
                {
                    "aTargets": [2],
                    "order": ["asc"],
                    "mRender": function (name, type, row) {
                        var data = row[9];
                        var detail = "<a href='@Url.Action("CustomerDetail", "Customer")\/" + data + "\'>" + name + "</a>";
                        return detail;
                    }
                },
                {
                    "aTargets": [3],
                    "bSortable": false,
                    "mRender": function (data, type, row) {
                        var increase = '';
                        var color = '';
                        var icon = '';
                        if (row[10]) {
                            color = 'green';
                            icon = 'fa fa-level-up';
                        } else {
                            color = 'orange';
                            icon = 'fa fa-level-down';
                            decrease = '-'
                        }
                        return "<strong style='color:" + color + "'><i class='" + icon + "'></i> " + increase + toMoney(data, ',', ' VNĐ') + "</strong>";
                    }
                },
                {
                    "aTargets": [7],
                    "bSortable": false,
                    "mRender": function (data, type, row) {
                        var html = "";
                        if (data == '@NewTransaction') {
                            html = "<div title='Bấm vào để xác nhận' onclick='ShowVerification(" + row[8] + ")' class='label label-warning pointer'>Chưa duyệt</div>";
                        }
                        else if (data == '@ApprovedTransaction') {
                            html = "<div class='label label-success'>Đã duyệt</div>"
                        }
                        else {
                            html = "<div class='label label-danger'>Đã hủy</div>"
                        }
                        return html;
                    }

                },
                {
                    "aTargets": [8],
                    "mRender": function (data, type, row) {
                        var newTransaction = row[7];
                        var edit = "";
                        if (newTransaction == '@NewTransaction') {
                            edit = "<a title='Chỉnh sửa' class='btn btn-sm btn-primary' onclick='showEditTransaction(" + data + ")'><i class='glyphicon glyphicon-pencil'></i></a>";
                        } else {
                            edit = "<a title='Chi tiết' class='btn btn-sm btn-primary' onclick='showEditTransaction(" + data + ")'><i class='glyphicon  glyphicon-eye-open'></i></a>";
                        }
                        //var result = "<a class='btn btn-sm btn-primary' onclick='edit(" + data + ")'>Edit</a>";
                        @*var detail = "<a title='Chi tiết'class='btn btn-sm btn-success'href='@Url.Action("CustomerDetail")\/" + data + "\'><i class='glyphicon glyphicon-eye-open'></i></a>";*@

                        // var deleteCustomer = "<a class='btn btn-sm btn-danger' onclick='Delete(" + data + ") '><i class='glyphicon glyphicon-trash'></i></a>";
                        return edit;// + " " + deleteCustomer;
                    },
                    "bSortable": false,
                    "sClass": "text-center",
                }
            ],
            "bAutoWidth": false,
        }).fnSetFilteringDelay(800);

    }

    function verifyTransaction(isApproved) {
        var id = $('#transactionId').data('id');
        $('#verifyTransaction').modal('hide');
        var title;
        var message;
        var style;
        if (isApproved) {
            title = "Xác nhận giao dịch";
            message = "Giao dịch đã được duyệt";
            style = "success";
        } else {
            title = "Xác nhận giao dịch";
            message = "Giao dịch đã bị hủy";
            style = "warning";
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Approve")',
            data: { transactionId: id, isApproved: isApproved },
            success: function (result) {
                if (result.success) {
                    swal(title, message, style);
                    RefreshTransactionDatatable();
                }
            },
            error: function () {
                swal(":(", "Có lỗi xảy ra", "error");
            }
        });



    }

    function ShowVerification(id) {
        $('#verifyTransaction').modal('show');
        $('#transactionId').data('id', id);
    }

</script>
<style>
    .label {
        font-size:90%;
        padding:7px;
        display:block;
    }
    .pointer:hover{
        cursor: pointer;
        background-color: #e88a00
    }
</style>
