﻿@model HmsService.ViewModels.OrderViewModel
@using Wisky.SkyAdmin.Manage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3 id="date"></h3>
            </div>
            <div class="col-md-6">
                <div style="text-align: right">
                    <button type="submit" id="exportOrderToExcel" class="btn btn-primary btn-sm waves-effect">
                        <i class="fa fa-download"></i>
                        Xuất ra file Excel
                    </button>
                    <form class="hidden" id="formOrderReportExcel" action="@Url.Action("ExportOrderToExcel","Order")">
                        <input type="hidden" name="selectedstoreId" id="selectedstoreId" value="" />
                        <input type="hidden" name="startDate" id="startDate" value="" />
                        <input type="hidden" name="endDate" id="endDate" value="" />
                        <input type="hidden" name="status" id="status" value="" />
                        <input type="hidden" name="type" id="type" value="" />
                    </form>
                </div>
            </div>
        </div>
        <hr />
    </div>

    <div class="card-padding">
        <div class="row" style="margin-top:-10px;margin-bottom:10px">
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo" style="margin-bottom:10px !important">Bộ lọc hóa đơn</button>
            </div>
            <div class="col-md-4" id="listStore">
                <select class="selectpicker" id="listStoreId">
                    <option value="0">Tất cả cửa hàng</option>
                </select>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="dateTime width230 pull-right">
                        <div class="fg-line m-t-5">
                            <div id="dateRangePicker">
                                <input id="date-string" readonly class="input-group-addon form-control myInputCelender" style="padding-left: 0px !important;height: 37px; margin-top: -1px;">
                                <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="sTime" />
                    <input type="hidden" id="eTime" />
                    <div class="input-group-btn">
                        <a class="btn btn-primary btn-sm" id="btnSearch">
                            <i class="left-icon fa fa-search"></i>     Tìm
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="demo" class="collapse">
            <div class="group-radio-buttons myGroup-radio-buttons " style="padding-bottom: 10px">
                <div class="col-md-12">
                    <h4 style="margin-bottom:20px;font-weight:bold;">Tình trạng hóa đơn</h4>
                </div>
                <div class="row small-margin">
                    <div class="col-md-2">
                        <input type="radio" name="report-filter-status" value="0" class="nice-check" id="filter1" checked />
                        <label for="filter1"><span>Tất cả</span></label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="report-filter-status" value="8" class="nice-check" id="filter5" style="margin-top: 0px!important;" />
                        <label for="filter5"><span>Mới</span></label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="report-filter-status" value="10" class="nice-check" id="filter4" style="margin-top: 0px!important;" />
                        <label for="filter4"><span>Đang chờ</span></label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="report-filter-status" value="2" class="nice-check" id="filter2" />
                        <label for="filter2"><span>Hoàn thành</span></label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="report-filter-status" value="3" class="nice-check" id="filter3" style="margin-top: 0px!important;" />
                        <label for="filter3"><span>Hủy</span></label>
                    </div>

                </div>
            </div>
            @*<div class="group-radio-buttons myGroup-radio-buttons" style="padding-bottom:15px">
                    <div class="col-md-12">
                        <h4 style="margin-bottom:20px;font-weight:bold;">Loại hóa đơn</h4>
                    </div>
                    <div class="row small-margin">
                        <div class="col-md-3">
                            <input type="radio" name="report-filter-type" value="0" class="nice-check" id="filter-type1" checked />
                            <label for="filter-type1"><span>Tất cả</span></label>
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="report-filter-type" value="4" class="nice-check" id="filter-type2" />
                            <label for="filter-type2"><span>Tại quán</span></label>
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="report-filter-type" value="6" class="nice-check" id="filter-type3" style="margin-top: 0px!important;" />
                            <label for="filter-type3"><span>Giao hàng</span></label>
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="report-filter-type" value="5" class="nice-check" id="filter-type4" style="margin-top: 0px!important;" />
                            <label for="filter-type4"><span>Mang đi</span></label>
                        </div>
                    </div>
                </div>*@
        </div>


        <div style="padding-top:5px;overflow-x:scroll;">
            <table id="tblOrderDetail" class="table table-striped table-bordered table-hover" style="overflow-x: scroll;">
                <thead>
                    <tr>
                        <th>
                            <label class="">STT</label>
                        </th>
                        <th>
                            <label class="">Mã hóa đơn</label>
                        </th>
                        <th>
                            <label class="">Số lượng</label>
                        </th>
                        <th>
                            <label class="">Tổng cộng</label>
                        </th>
                        <th>
                            <label class="">Tình Trạng</label>
                        </th>
                        <th>
                            <label class="">Thời gian</label>
                        </th>
                        <th>
                            <label class="">Trạng thái</label>
                        </th>
                        <th>
                            <label class="">Tài khoản</label>
                        </th>
                        <th>
                            <label class="">Thanh toán</label>
                        </th>
                        <th>
                            <label class="">Giao hàng</label>
                        </th>
                        <th>
                            <label class="">Tùy chọn</label>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
    <div class="modal fade " tabindex="-1" id="order-detail-report-modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Chi tiết hóa đơn</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix" style="margin-bottom: 20px;">
                        <div class="col-md-6 float-left">
                            <label class="col-md-5 no-padding text-bold float-left" style="font-weight:bold">Tên khách hàng:</label>
                            <label class="control-label float-left" data-role="customer-name"></label>
                            <br />
                            <div class="col-md-12 no-padding" id="delivery">
                                <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Địa chỉ giao:</label>
                                <label class="control-label float-left" data-role="delivery-address"></label>
                                <br />
                            </div>
                            <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Điện thoại:</label>
                            <label class="control-label float-left" data-role="customer-phone"></label>
                            <br />
                            <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Tài khoản khách hàng:</label>
                            <label class="control-label float-left" data-role="cashier">
                            </label>
                            <br />
                            <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Cửa hàng:</label>
                            <label class="control-label float-left" data-role="store">
                            </label>
                            <br />
                            <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Thời gian đặt:</label>
                            <label class="control-label float-left " data-role="order-time"></label>
                            <br />
                            <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Phân loại:</label>
                            <label class="control-label float-left" data-role="status">
                            </label>
                        </div>
                        <div class="col-md-6 float-right">
                            <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Mã hóa đơn:</label>
                            <label class="control-label float-left" data-role="invoiceid">
                            </label>
                            <br />
                            <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Tổng cộng:</label>
                            <label class="control-label float-left" data-role="total-amount">
                            </label>
                            <br />
                            <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Giảm giá:</label>
                            <label class="control-label float-left" data-role="discount">
                            </label>
                            <br />
                            <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Yêu cầu hóa đơn đỏ:</label>
                            <label class="control-label float-left" data-role="customer-required">
                            </label>
                            <br />
                            <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Thanh toán:</label>
                            <label class="control-label float-left" data-role="final-amount">
                            </label>
                            <br />
                            @*<label class="control-label text-bold float-left" style="font-weight:bold">Hình thức thanh toán:</label>
                                <label class="control-label float-left" data-role="payment-type">
                                </label>
                                <br />*@
                            <label class="control-label text-bold float-left" style="font-weight:bold">Ghi chú:</label>
                            <label class="control-label float-left" data-role="notes">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-7">
                        <button type="submit" id="exportEx" class="btn btn-primary btn-sm pull-right">
                            <i class="fa fa-download"></i>
                            Xuất ra file Excel
                        </button>
                    </div>
                    <table class="table table-bordered table-condensed table-striped table-hover" id="order-report-detail-table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Màu sắc</th>
                                <th>Size</th>
                                <th>Nội dung</th>
                                <th>Hình ảnh</th>
                                <th>Giá sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giảm giá</th>
                                <th>Thành tiền</th>
                                @*<th>RentID</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th style="text-align:left" colspan="6"></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <form class="hidden" id="formDetailReportExcel" action="@Url.Action("ExportOrderTableToExcel","Order")">
                        <input type="hidden" name="_id" id="RentID" value="" />
                    </form>
                </div>
                @*<div class="modal-footer">
                        <a class="btn btn-success" id="order-detail-submit">Lưu thay đổi</a>
                        <a class="btn btn-default close" data-dismiss="modal" aria-label="Close">Thoát</a>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div id="editTransaction" class="modal fade" data-backdrop="static" data-keyboard="true"></div>
<div id="editOrderStatus" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Chuyển đổi trạng thái hóa đơn</h3>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <input type="hidden" id="transactionId" data-id="" />
                    <div class="col-md-3"><button onclick="UpdateOrrderStatus(@((int)DeliveryStatus.Fail))" class="btn btn-danger">Hủy</button></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><button onclick="UpdateOrrderStatus(@((int)DeliveryStatus.Delivery))" class="btn btn-warning">Đang Giao Hàng</button></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3"><button onclick="UpdateOrrderStatus(@((int)DeliveryStatus.Finish))" class="btn btn-success">Hoàn Thành</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="CurrentSelectedOrder" />

<div id="ChangPayment" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Loại hình thanh toán</h3>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <input type="hidden" id="transactionId" data-id="" />
                    <div class="col-md-6"><button onclick="ChangePayment(@((int)PaymentTypeEnum.Cash))" class="btn btn-success">Tiền mặt</button></div>
                    <div class="col-md-6"><button onclick="ChangePayment(@((int)PaymentTypeEnum.Transfer))" class="btn btn-danger">Chuyển khoản</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    $('#btnSearch').click(function () {
        RefreshOrderTable();
        $('#date').text('');
        $('#date').append('Hoá đơn ngày ' + $('#sTime').val() + ($('#sTime').val() == $('#eTime').val() ? "" : " - " + $('#eTime').val()));
    });

    var orderDetailTable = null;
    var currentId = -1;
    var totalamount = 0;
    var finalomount = 0;
    var totaldiscount = 0;
    function GetStoreList() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadStoreList", "Order")',
            jsonp: "$callback",
            success: function (result) {
                for (var i = 0; i < result.store.length; i++) {
                    $('#listStoreId').append('<option value="' + result.store[i].ID + '">' + result.store[i].Name + '</option>')
                }
                $('#listStoreId').selectpicker('refresh');
            }
        });
    }
    $(document).ready(function () {
        $('#datetimepicker').datetimepicker({
            'maxDate': moment(),
            format: 'DD/MM/YYYY',
            defaultDate: moment(),
        });

        cb(moment().startOf('month'), moment().endOf('month'), "Tháng này");
        $('#dateRangePicker').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Tuần này': [moment().startOf('isoweek'), moment().endOf('isoweek')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('isoweek'), moment().subtract(1, 'week').endOf('isoweek')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        //GetStoreList();
        InitOrderDatatable();
        $('#date').text('');
        $('#date').append('Hoá đơn ngày ' + $('#sTime').val() + ($('#sTime').val() == $('#eTime').val() ? "" : " - " + $('#eTime').val()));
        $('#product-list').select2();
        $('#searchResult').on("click", function (e) {
            RefreshOrderTable();
        });

        $('#clearResult').on("click", function (e) {
            $('#product-list').select2('val', []);
            $('#largerPrice').val('');
            $('#smallerPrice').val('');
            RefreshOrderTable();
        });

        //$('#product-list').on("change", function (e) {
        //    RefreshOrderTable();
        //});
        //$('#largerPrice').on("keyup", function (e) {
        //    RefreshOrderTable();
        //});
        //$('#smallerPrice').on("keyup", function (e) {
        //    RefreshOrderTable();
        //});
        $("#showSearch").click(function () {
            $("#searchFunction").fadeToggle();
        });

        $("#searchFunction").hide();
    });

    function RefreshOrderTable() {
        var oTable = $("#tblOrderDetail").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    }
    $(document).ready(function () {
        if (@ViewBag.storeId == 0) {
            GetStoreList();
        } else {
            $('#listStore').hide();
            $('.card  .card-padding .col-md-4').addClass('col-md-6').removeClass('col-md-4');
            $("#listStoreId option:first").val(@ViewBag.storeId);
        }
        InitOrderDatatable();
        $('[name="report-filter-status"]').change(function (e) {
            RefreshTableFilter("#tblOrderDetail", true);

        });
        $('[name="report-filter-type"]').change(function (e) {
            RefreshTableFilter("#tblOrderDetail", true);
        });
    });

    function cb(start, end, label) {
        var startTime = start.format("DD/MM/YYYY"),
            endTime = end.format("DD/MM/YYYY"),
            dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

        if (label != "Tùy chọn") {
            $('#date-string').val(label);
        } else {
            $("#date-string").val(dateString);
        }

        $("#sTime").val(startTime);
        $("#eTime").val(endTime);
    };
    function InitOrderDatatable() {
        $("#tblOrderDetail").dataTable({
            "bSort": false,
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "@Url.Action("LoadOrder","Order")",
            "bProcessing": true,
            "iDisplayLength": 10,
            "aLengthMenu": [10, 50, 100],
            "bFilter": true,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "selectedstoreId", "value": $('#listStoreId').val() }),
                aoData.push({ "name": "startDate", "value": $('#sTime').val() }),
                aoData.push({ "name": "endDate", "value": $('#eTime').val() }),
                aoData.push({ "name": "status", "value": $('input[name=report-filter-status]:checked').val() }),
                aoData.push({ "name": "type", "value": 0 })
            },
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                },
                "sSearchPlaceholder": "Mã hóa đơn"
            },
            "aoColumnDefs": [
               {
                   "aTargets": [0, 2, 3, 4, 5],
                   "sClass": "text-center"
               },
               {
                   "aTargets": [3],
                   "mRender": function (data, type, row) {
                       //var money = o.aData[5];
                       var data = row[3];
                       return toMoney(data, ',', '');
                   }
               },
               {
                   "aTargets": [4],
                   "mRender": function (data,type,row){
                       var result = "";
                       if (data.length == 0){
                           var btn = '<button class="btn btn-sm btn-danger" type="button" data-action="edit-child-general" onclick="onEditPayment(this);" data-id="' + row[8] +'"data-status="0" id="changePaymentUnpaid">Unpaid</button>'
                           result = btn;
                       }
                       for(i = 0; i < data.length; i++){
                           result += data[i];
                           if(i < data.length - 1){
                               result += "<br/>";
                           }
                       }
                       return result;
                   }

               },
               @*{
                   "aTargets": [6],
                   "mRender": function (data, type, row) {
                       var status = "";
                       var color = "";
                       var colorS = "";
                       status = row[9];

                       switch (data) {
                           case 4:
                               type = "@Resources.EnumLanguage.View_AtStore";
                               color = "<div class='label label-primary myCategory'>";
                               break;
                           case 5:
                               type = "@Resources.EnumLanguage.View_TakeAway";
                               color = "<div class='label label-success myCategory'>";
                               break;
                           case 6:
                               type = "@Resources.EnumLanguage.View_Delivery";
                               color = "<div class='label label-warning myCategory'>";
                               break;
                           case 1:
                               type = "@Resources.EnumLanguage.View_OnlineProduct";
                               color = "<div class='label label-warning myCategory'>";
                               break;
                           default:
                               type = "@Resources.EnumLanguage.Unknown";
                               color = "<div class='label label-default myCategory'>";
                       }

                       //return color + type + '</div></hr>' + colorS + status + '</div>';
                       return color + type + '</div>';
                   }
               },*@
               {
                   "aTargets": [6],
                   "mRender": function (data, type, row) {
                       var status = "";
                       var colorS = "";
                       var status = row[6];

                       switch (status) {
                           case @((int)DeliveryStatus.Finish):
                               status = "@Resources.EnumLanguage.View_Finish";
                               colorS = "<div class='label label-success myCategory'>";
                               break;
                           case @((int)DeliveryStatus.Delivery):
                               status = "Đang giao hàng";
                               colorS = "<div class='label label-warning myCategory'>";
                               break;
                           case @((int)DeliveryStatus.Fail):
                               status = "Hủy";
                               colorS = "<div class='label label-danger myCategory'>";
                               break;
                           case @((int)DeliveryStatus.New):
                               status = "Mới";
                               colorS = "<div class='label label-primary myCategory'>";
                               break;
                           case @((int)DeliveryStatus.Assigned):
                               status =  "Mới"
                               colorS = "<div class='label label-primary myCategory'>";
                               break;
                       }
                       return colorS + status + '</div>';
                   }
               },
               {
                   "aTargets": [7],
                   "mRender": function (data, type, row) {
                       var data = row[7];
                       return data;
                   }
               },
               {
                   "aTargets": [8],
                   "mRender": function (data, type, row) {
                       var data = row[16];
                       var status = "";
                       var colorS = "";
                       switch (data) {
                           case @((int)PaymentMethod.Cash):
                               status = "Tiền mặt";
                               colorS = "<div class='label label-success myCategory'>";
                               break;
                           case @((int)PaymentMethod.Card):
                               status = "Chuyển khoản";
                               colorS = "<div class='label label-warning myCategory'>";
                               break;
                       }
                       return colorS + status + '</div>';
                   }
               },
               {
                   "aTargets": [9],
                   "mRender": function (data, type, row) {
                       var data = row[17];
                       var status = "";
                       var colorS = "";
                       switch (data) {
                           case @((int)DeliveryTypeEnum.Fast):
                               status = "Hỏa tốc";
                               colorS = "<div class='label label-success myCategory'>";
                               break;
                           case @((int)DeliveryTypeEnum.Standard):
                               status = "Thường";
                               colorS = "<div class='label label-warning myCategory'>";
                               break;
                       }
                       return colorS + status + '</div>';
                   }
               },
               {
                   "aTargets": [10],
                   "mRender": function (data, type, row) {
                       var data = row[8];
                       //tester = row[14];
                       var btn = $('<a/>', {
                           'class': 'btn btn-primary',
                           'html': $('<i/>', {
                               'class': 'glyphicon glyphicon-eye-open'
                           }),
                           'data-customer-name': row[9],
                           'data-delivery-address': row[10],
                           'data-customer-phone': row[11],
                           'data-invoiceid': row[1],
                           'data-cashier': row[7],
                           //'data-store': row[15],
                           'data-id': row[8],
                           'data-order-time': row[5],
                           'data-status': row[6],
                           'data-store-name': row[15],
                           'data-notes': row[12],
                           'data-total-amount': toMoney(row[13], ',', ''),
                           'data-final-amount': toMoney(row[3], ',', ''),
                           'data-discount': toMoney(row[14], ',', ''),
                           'data-customer-required': row[18],
                           'data-role': 'detail'
                       });

                       var editButton = '<button title="Chuyển đổi trạng thái" onclick="onEditStatus(this);" data-id="' + row[8] + '" ' +
                                'class="btn btn-success" data-toggle="tooltip" >' +
                                '<i class="glyphicon glyphicon-pencil"></i></button>';
                       return btn[0].outerHTML +"&nbsp"+ editButton;
                   }
               }

            ],
            "bAutoWidth": false
        });
    }
    function onEditStatus(btn){
        var id = $(btn).attr("data-id");
        $("#CurrentSelectedOrder").val("");
        $("#CurrentSelectedOrder").val(id);
        $('#editOrderStatus').modal('show');
    }

    function onEditPayment(btn){
        var id = $(btn).attr("data-id");
        $("#CurrentSelectedOrder").val("");
        $("#CurrentSelectedOrder").val(id);
        $('#ChangPayment').modal('show');
    }

    function ChangePayment(type){
        var idUpdate =  $("#CurrentSelectedOrder").val();
        $.ajax({
            type: "POST",
            data: {"id": idUpdate, "type": type},
            url: "@Url.Action("UpdatePayment")",
            dataType: "json",
            success: function(result){
                if (result.success){
                    RefreshOrderTable();
                    swal("Thành Công","Đã chuyển đổi trạng thái thanh toán đơn hàng","success");
                    $('#ChangPayment').modal('hide');
                } else {
                    swal("Lỗi","Có lỗi trong quá trình xử lý","error");
                    $('#ChangPayment').modal('hide');
                }
            },
            error: function(){
                ShowMessage("Có lỗi xảy ra", 1);
                $('#editOrderStatus').modal('hide');
            }
        });
    }

    function UpdateOrrderStatus(status){
        var idUpdate =  $("#CurrentSelectedOrder").val();
        $.ajax({
            type: "POST",
            data: {"id": idUpdate, "status": status},
            url: "@Url.Action("UpdateOrderStatus")",
            dataType: "json",
            success: function(result){
                if (result.success){
                    RefreshOrderTable();
                    swal("Thành Công","Đã chuyển đổi trạng thái đơn hàng","success");
                    $('#editOrderStatus').modal('hide');
                } else {
                    swal("Lỗi","Có lỗi trong quá trình xử lý","error");
                    $('#editOrderStatus').modal('hide');
                }
            },
            error: function(){
                ShowMessage("Có lỗi xảy ra", 1);
                $('#editOrderStatus').modal('hide');
            }
        });
    }

    $(document).on('click', '[data-role=detail]', function () {
        currentId = $(this).data('id');
        $("#RentID").val(currentId);
        finalamount = $(this).data('final-amount');
        $('#order-detail-report-modal [data-role=order-time]').html($(this).data('order-time'));
        $('#order-detail-report-modal [data-role=invoiceid]').html($(this).data('invoiceid'));
        $('#order-detail-report-modal [data-role=cashier]').html($(this).data('cashier'));
        $('#order-detail-report-modal [data-role=customer-required]').html($(this).data('customer-required'));

        $('#order-detail-report-modal').modal('show');
        //$('#order-detail-report-modal [data-role=customer-name]').html($(this).data('customer-name'));
        //$('#order-detail-report-modal [data-role=delivery-address]').html($(this).data('delivery-address'));
        //$('#order-detail-report-modal [data-role=customer-phone]').html($(this).data('customer-phone'));
        //$('#order-detail-report-modal [data-role=store-name]').html($(this).data('delivery-address'));
        //$('#order-detail-report-modal [data-role=order-time]').html($(this).data('order-time'));
        //$('#order-detail-report-modal [data-role=invoiceid]').html($(this).data('invoiceid'));
        //$('#order-detail-report-modal [data-role=cashier]').html($(this).data('cashier'));
        //$('#order-detail-report-modal [data-role=store]').html($(this).data('store'));
        //$('#order-detail-report-modal [data-role=notes]').html($(this).data('notes'));
        //$('#order-detail-report-modal [data-role=total-amount]').html($(this).data('total-amount'));
        //$('#order-detail-report-modal [data-role=final-amount]').html($(this).data('final-amount'));
        //$('#order-detail-report-modal [data-role=discount]').html($(this).data('discount'));
        switch ($(this).data('status')) {
            case 4:
                $('#order-detail-report-modal [data-role=status]').html("<div class='label label-primary myCategory'>@Resources.EnumLanguage.View_AtStore</div>")
                break;
            case 5:
                $('#order-detail-report-modal [data-role=status]').html("<div class='label label-success myCategory'>@Resources.EnumLanguage.View_TakeAway</div>")
                break;
            case 6:
                $('#order-detail-report-modal [data-role=status]').html("<div class='label label-warning myCategory'>@Resources.EnumLanguage.View_Delivery</div>")
                break;
        }
        $('#order-detail-report-modal [data-role=store-name]').html($(this).data('store-name'));
        if ($(this).data('status') == 6 || $(this).data('status') == 1) {
            $('#delivery').show();
        }
        else {
            $('#delivery').hide();
        }
        $.ajax({
            type: "GET",
            data: {"id": currentId},
            url: "@Url.Action("LoadOrderDetail")",
            dataType: "json",
            success: function(result){
                getOrderDetailsGeneralData(result.lblData)
                orderDetailTable(result.dataTable);
            },
            error: function(){
                ShowMessage("Có lỗi xảy ra", 1);
            }
        });

        //RefreshTableOrderDetail();
        //orderDetailTable._fnPageChange(0);
        //orderDetailTable._fnAjaxUpdate();
    });

    var getOrderDetailsGeneralData = function(data){
        totalamount = data.totalAmount;
        totaldiscount = data.totalDiscount * (-1);

        $('#order-detail-report-modal [data-role=customer-name]').html(data.cusName);
        $('#order-detail-report-modal [data-role=delivery-address]').html(data.cusAddr);
        $('#order-detail-report-modal [data-role=customer-phone]').html(data.cusPhone);

        $('#order-detail-report-modal [data-role=store]').html(data.store);
        $('#order-detail-report-modal [data-role=notes]').html(data.notes);
        $('#order-detail-report-modal [data-role=total-amount]').html(toMoney(totalamount, ',', ''));
        $('#order-detail-report-modal [data-role=discount]').html(toMoney(totaldiscount, ',', ''));

        var html = "";
        if (data.payment.length ==0){
            html += "N/A";
            $('#order-detail-report-modal [data-role=final-amount]').html(html);
        }
        for(var i = 0; i < data.payment.length; i++){
            html += toMoney(data.payment[i].amount, ',', '') + " (" + data.payment[i].type + ")<br/>";
            $('#order-detail-report-modal [data-role=final-amount]').html(html);
        }

    }

    var orderDetailTable = function (data) {
        $('#order-report-detail-table').dataTable({
            "footerCallback": function (row, data, start, end, display) {
                var cells = row.getElementsByTagName('th');
                cells[0].innerHTML = "Tổng cộng: " + toMoney(totalamount, ',', '');
                cells[1].innerHTML = toMoney(totaldiscount, ',', '');
                cells[2].innerHTML = toMoney(finalamount, ',', '');
            },

            "bFilter": false,
            "bRetrieve": false,
            "bDestroy": true,
            "bServerSide": false,
            "bScrollCollapse": true,
            @*"sAjaxSource": "@Url.Action("LoadOrderDetail")",*@
            "bProcessing": true,
            //"fnServerParams": function (aoData) {
            //    aoData.push({ "name": "id", "value": currentId });
            //},
            "data": data,
            "oLanguage": {
                "sSearch": "Tên Phòng:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }

            },
            "aoColumnDefs": [
                { "aTargets": [0, 1, 2, 3, 4, 5, 6, 7], "bSortable": false },
                { "aTargets": [2, 3, 4, 5], "sClass": "text-center" },
                {
                    "aTargets": [1],
                    "mRender": function (data, type, row) {
                        var data = row[10];
                        var result = "";
                        if (data == '@((int)ProductTypeEnum.Embroidery)') {
                            result = '<div style="padding-left:15px">' + row[1] + '</div>';
                        } else {
                            result = '<div>' + row[1] + '</div>';
                        }
                        return result;
                    }
                },
                {
                    "aTargets": [2],
                    "mRender": function (data, type, row) {
                        //var money = o.aData[5];
                        var data = row[2];
                        var result = "";
                        if (data != null && data != ""){
                            result  =  '<div style="width:20px;height:20px; margin-left: auto;margin-right: auto; background-color:'+ data + '; "></div>'
                        }
                        return result;
                    }
                },
                {
                    "aTargets": [5],
                    "mRender": function (data, type, row) {
                        //var money = o.aData[5];
                        var src = row[5];                        
                        return "<img style='width:60px' src='" + src +"'/>";
                    }
                },
                {
                    "aTargets": [6],
                    "mRender": function (data, type, row) {
                        //var money = o.aData[5];
                        var data = row[6];
                        return toMoney(data, ',', '');
                    }
                },
                {
                    "aTargets": [8],
                    "mRender": function (data, type, row) {
                        //var money = o.aData[5];
                        var data = row[8];
                        return toMoney(data, ',', '');
                    }
                },
                {
                    "aTargets": [9],
                    "mRender": function (data, type, row) {
                        //var money = o.aData[5];
                        var data = row[9];
                        return toMoney(data, ',', '');
                    }
                },
                {
                    "aTargets": [10],
                    "sClass": "hidden",
                }@*,
                {
                    "aTargets": [4],
                    "mRender": function (data, type, row) {
                        var type = "";
                        var color = "";
                        data = row[4];
                        switch (data) {
                            case 11:
                                type = "@Resources.EnumLanguage.View_PosFinished";
                                color = "<div class='label label-success myCategory'>";
                                break;
                            case 12:
                                type = "@Resources.EnumLanguage.View_PosPreCancel";
                                color = "<div class='label label-warning myCategory'>";
                                break;
                            case 13:
                                type = "@Resources.EnumLanguage.View_PosCancel";
                                color = "<div class='label label-warning myCategory'>";
                                break;
                            default:
                                type = "---";
                                color = "<div>";

                        }
                        return color + type + '</div>';
                    }

                },*@
            ],
            "bAutoWidth": false
        });
    };

    function RefreshTableOrderDetail() {
        var oTable = $("#order-report-detail-table").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    }
    // export to excel
    $(document).on('click', '#exportEx', function () {
        if (@ViewBag.storeId != 0) {
            $('#storeId').val(@ViewBag.storeId);
        } else {
            $('#storeId').val($('#listStoreId').val());
        }

        $('#formDetailReportExcel').submit();
    });
    $(document).on('click', '#exportOrderToExcel', function () {
        if (@ViewBag.storeId != 0) {
            $('#selectedstoreId').val(@ViewBag.storeId);
        } else {
            $('#selectedstoreId').val($('#listStoreId').val());
        }
        $('#startDate').val($('#sTime').val());
        $('#endDate').val($('#eTime').val());
        $('#status').val($('input[name=report-filter-status]:checked').val());
        $('#type').val(0);
        $('#formOrderReportExcel').submit();
    });


</script>

<style>
    .modal-content {
        // width: 630px !important;
    }

    .no-padding {
        padding: 0;
    }
</style>