﻿/* **********************************************************************

Table of content  


  1. General

  2. Utilities Classes

  3. Heading 

  4. Buttons /.btn

  5. Interaction states

  6. Header / #header
      
      6.1 Header top bar/ .header-top-bar 
      6.2 Header sociaal button / .header-social
      6.3 Header top bar call-us-section / .call-us
      6.4 Header main menu / .header-nav-bar
      6.5 Dropdown menu / .dropdown 
      6.7 Header small-menu / .small-menu

  7. Master slide

  8. Footer 

      8.1 Footer subscribe / .footer-subscribe
      8.2 Copyright / .footer-copyright

  9. Home landing page style

      9.1 Landing page links / .landing-link 
      9.2 Landing page social links / .finding-social

  10. Home page begin

      10.1 Call to action section / .call-to-action-section
      10.2 Category boxes / .category-boxes-icon
      10.3 Chef welcome section / .chef-welcome 
      10.4 home page small-slide section / #sm-slide-section
      10.5 latest from blog / .latest-from-blog

  11. Menu page style begin 

      11.1 thembnail slide section / #thumbnail-slide
      11.2 Menu side panel / .side-panel

          11.2.1 side panel toggle content / .toggle-main-title
          11.2.2 Search keyword section / .search-keyword
          11.2.3 side panel category .category
          11.2.4 Miscellaneous / .miscellaneous
          11.2.5 Price range / .price-filter
          11.2.6 Map section / .find-on-map

      11.3 Menu details

          11.3.1 view-style / .view-style 
          11.3.2 pagination / .pagination
          11.3.3 Menu with right chekout / .my-check-right
          11.3.4 Menu view-2 style begin 

              11.3.4.1 mega call-us section / .mega-call-us
          
          11.3.5 All menu details / .all-menu-details

              11.3.5.1 Price option / .price-option
              11.3.5.2 Qty cart option / .qty-cart
          
          11.3.6 Menu with image / .list-image 
          11.3.7 Menu with 2 grid view style / .menu-with-2grid
          11.3.8 Menu with details begin / .emnu-with-details
          11.3.9 Single menu  / .single-menu
          11.3.10 Menu without side panel / .menu-without-side

      11.4 Dropdown option for menu / .dropdown-option
    
  12. Chef.html page begin 

      12.1 chef details social link / .share-this
      12.2 Chef-description / . chef-description
      12.3 Comment section begin / .comment-section
      12.4 Leave reply begin / .leave-reply
      12.5 General info about chef / .general-info

  13. Our-team page style / .out-team

  14. Contact-us begin / .contact-us

      14.1 Contact-us send message begin / .send-message

  15. News & Event page begin / .news-events-blog

      15.1 Tag list / .tag-list
      15.2 Search section / .event-side-panel .search-keyword

  16. Custom select-box style 

  17. Map style begin 

  18.  News-events-blog side panel .events-side-panel

  19. Start blog-list style 

      19.1 Blog-list image styel / .blog-list-img 

  20. Blog-post page begin 

  21. Dish.html page begin 

  22 Event-page begin 

      22.1 Event page tab / .nab-tabs

  23. Custom ui calende section / .calender-input

  24. Custom Checkbox

  25. Custom Radio button 



***************************************************************************/




/***************************************************/

/* General */

/***************************************************/

body {
    background: #ffffff;
    color: #423338;
    font-size: 16px;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 24px;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}

    body.loaded {
        opacity: 1;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }

#main-wrapper {
    overflow: hidden;
}

#page-content {
    padding: 0;
}

a {
    color: #343434;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

    a:hover {
        text-decoration: none;
        color: #343434;
    }

    a:focus {
        outline: none;
    }

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

p {
    margin: 0 0 10px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

    ul ul, ol ul, ul ol, ol ol {
        margin-bottom: 0;
    }

abbr[title], abbr[data-original-title] {
    border-bottom: 1px dotted #ced6da;
    cursor: help;
}




/***************************************************/

/* Utilities Classes */

/***************************************************/

.css-table {
    display: table;
}

.css-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

    .list-inline > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }

        .list-inline > li:first-child {
            padding-left: 0;
        }

.mb60 {
    padding-bottom: 30px;
}

.mt30 {
    margin-top: 30px;
    margin-bottom: 40px;
}

.mt60 {
    margin-top: 60px;
}





/***************************************************/

/* Headings */

/***************************************************/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-weight: normal;
    font-family: inherit;
    line-height: 1.1;
}

    h4 small, h5 small, h6 small, h4 .small, h5 .small, h6 .small {
        font-size: 75%;
    }

h1, .h1 {
    font-size: 50px;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 30px;
}

h4, .h4 {
    font-size: 24px;
}

h5, .h5 {
    font-weight: 700;
    font-size: 18px;
}

h6, .h6 {
    font-weight: 700;
    font-size: 16px;
}




/* ********************************************** */

/* Buttons */

/***************************************************/

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 3px 15px;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-image: none;
    color: #291f23;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.loaded .btn {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.shortcodes-star .fa {
    color: #e00000;
}


.btn .fa {
    margin-right: 5px;
    font-size: 14px;
}

.btn-icon .fa {
    margin: 0;
}

.btn:hover, .btn:focus {
    text-decoration: none;
}

.btn:focus {
    outline: 0;
}

.btn:active, .btn.active {
    outline: 0;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 100%;
}




/***************************************************/

/* Default btn */

/****************************************************/

.btn-Default {
    padding: 5px 15px 5px 15px;
    border: 1px solid #fefefe;
    color: #fff;
    position: absolute;
    right: 0;
    border-radius: 7px;
    font-size: 16px;
}

    .btn-Default > .fa {
        font-size: 17px !important;
        padding: 5px;
    }

    .btn-Default:hover,
    .btn-Default:focus,
    .btn-Default:active,
    .btn-Default.active {
        outline: 0;
        border-color: #e00000;
        background: #fff;
        color: #e00000;
    }



/***************************************************/

/* btn black */

/***************************************************/

.btn-default-black {
    padding: 2px 10px;
    border: 1px solid #666;
    background: transparent;
    color: #999;
    border-radius: 7px;
    font-size: 16px;
    margin: 15px 5px;
}




/***************************************************/

/* btn white */

/***************************************************/

.btn-default-white {
    padding: 5px 15px 5px 15px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 7px;
    font-size: 16px;
    -webkit-transition: all .4s ease;
}

    .btn-default-white > .fa {
        font-size: 17px;
        padding: 5px;
    }

    .btn-default-white:hover,
    .btn-default-white:focus,
    .btn-default-white:active,
    .btn-default-white.active {
        outline: 0;
        border-color: #e00000;
        background-color: #fff;
        color: #e00000;
    }




/***************************************************/

/* btn red */

/***************************************************/

.btn-default-red {
    padding: 5px 15px 5px 15px;
    border: 1px solid #e00000;
    background: transparent;
    color: #e00000;
    border-radius: 7px;
    font-size: 16px;
}

    .btn-default-red > .fa {
        font-size: 17px;
        padding: 5px;
    }

    .btn-default-red:hover,
    .btn-default-red:focus,
    .btn-default-red:active,
    .btn-default-red.active {
        outline: 0;
        background-color: #e00000;
        color: #fff;
    }




/***************************************************/

/* btn red-inverse */

/***************************************************/

.btn-default-red-inverse {
    padding: 5px 15px 5px 10px;
    border: 1px solid #e00000;
    background: #e00000;
    color: #fff;
    border-radius: 7px;
    font-size: 16px;
}

    .btn-default-red-inverse > .fa {
        font-size: 20px;
        padding: 5px;
    }



    .btn-default-red-inverse:hover,
    .btn-default-red-inverse:focus,
    .btn-default-red-inverse:active,
    .btn-default-red-inverse.active {
        outline: 0;
        background-color: #fff;
        color: #e00000;
    }




/***************************************************/

/* Interaction states */

/***************************************************/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: none;
    color: #666;
    font-weight: normal;
}

    .ui-state-default a,
    .ui-state-default a:link,
    .ui-state-default a:visited {
        color: #eeeeee;
        text-decoration: none;
    }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #e00000;
    color: #fff;
    font-weight: normal;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background: none;
    color: #423338;
    font-weight: normal;
}

    .ui-state-active a,
    .ui-state-active a:link,
    .ui-state-active a:visited {
        color: #eeeeee;
        text-decoration: none;
    }

.ui-datepicker-calendar .ui-datepicker-unselectable span {
    color: #999;
    cursor: default;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
    background: none;
}






/***************************************************/


/***************************************************/

/* thumbnail-slide section start*/

/***************************************************/

#thumbnail-slide {
    position: relative;
    width: 100%;
    height: 87px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #CCC;
}

    #thumbnail-slide #thumb-slide {
        position: relative;
        margin: 0 26px;
        padding: 0;
        height: 87px;
    }

    #thumbnail-slide #thumb-slide-section .item {
        background: transparent;
        padding: 0;
        margin: 0px;
        color: #FFF;
        height: 87px;
        text-align: center;
        border-right: 1px solid #ccc;
    }



/***************************************************/

/* start menu page side-panel section */

/***************************************************/

#main-wrapper .side-panel {
    background-color: #f3f3f3;
    height: auto;
    width: 100%;
    padding: 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
}

    #main-wrapper .side-panel h6 {
        margin: 0;
        font-weight: normal;
        padding: 12px 30px 5px 25px;
        width: 100%;
        height: 40px;
        background: #d9d9d9;
        font-size: 16px !important;
    }

        #main-wrapper .side-panel h6:after {
            font-family: 'FontAwesome';
        }

    #main-wrapper .side-panel .sd-panel-heading {
        padding: 0 25px 0px 25px;
        position: relative;
    }

        #main-wrapper .side-panel .sd-panel-heading h5 {
            margin: 0;
            padding: 20px 0px;
            font-weight: bold;
            color: #323430;
        }

            #main-wrapper .side-panel .sd-panel-heading h5:after {
                display: block;
                position: absolute;
                top: 25px;
                right: 27px;
                font-size: 14px;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                color: #e00000;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\f078";
            }

            #main-wrapper .side-panel .sd-panel-heading h5.active:after {
                content: "\f077";
                color: #e00000;
            }

        #main-wrapper .side-panel .sd-panel-heading .checkout {
            margin: 0 0 20px 0;
            padding: 0;
            text-align: center;
        }

        #main-wrapper .side-panel .sd-panel-heading ul {
            margin: 0;
            padding: 0;
        }

            #main-wrapper .side-panel .sd-panel-heading ul li {
                width: 100%;
                height: auto;
                padding: 15px 0;
                border-top: 1px solid #ccc;
                position: relative;
                line-height: 5px;
                color: #323430;
            }

                #main-wrapper .side-panel .sd-panel-heading ul li p .icon-link .fa {
                    margin-left: 22px;
                    color: #e00000;
                    cursor: pointer;
                }

                #main-wrapper .side-panel .sd-panel-heading ul li p .icon-link {
                    margin-left: 30px;
                    position: absolute;
                    right: 0;
                    top: 18px;
                }

                #main-wrapper .side-panel .sd-panel-heading ul li .price {
                    color: #e00000;
                }

                #main-wrapper .side-panel .sd-panel-heading ul li .price-total {
                    color: #e00000;
                    font-weight: bold;
                    position: absolute;
                    top: 15px;
                    right: 0;
                }



/***************************************************/

/* side panel toggle content start */

/***************************************************/

.toggle-main-title {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    cursor: pointer;
}

    .toggle-main-title:after {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 14px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: #e00000;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f078";
    }

    .toggle-main-title.active:after {
        content: "\f077";
        color: #e00000;
    }

    .toggle-main-title .sd-panel-heading .toggle-title {
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 1.125em;
        cursor: pointer;
    }

        .toggle-main-title .sd-panel-heading .toggle-title:after {
            display: block;
            position: absolute;
            top: 25px;
            right: 0px;
            font-size: 14px;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            color: #e00000;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f078";
        }

    .toggle-main-title .sd-panel-heading title.active:after {
        content: "\f077";
        color: #e00000;
    }



/***************************************************/

/* side panel search section */

/***************************************************/

.search-keyword {
    position: relative;
    margin: 0;
    padding: 20px 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

    .search-keyword input[type="text"] {
        margin: 0;
        padding: 3px 15px;
        width: 100%;
        height: 30px;
        outline: 0;
        color: #333;
        font-size: 14px;
        border: 1px solid #ccc;
        -webkit-border-radius: 7px 0 0 7px;
        border-radius: 7px 0 0 7px;
        background: #fff;
        line-height: 24px;
    }

    .search-keyword button[type="submit"] {
        position: absolute;
        top: 20px;
        right: 20px;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        outline: 0;
        border: 1px solid #ccc;
        border-left: none;
        -webkit-border-radius: 0 7px 7px 0;
        border-radius: 0 7px 7px 0;
        background: #fff;
        color: #e00000;
        font-size: 14px;
        font-family: 'FontAwesome';
        content: '\f002';
    }


/***************************************************/

/* side panel category start */

/***************************************************/

#main-wrapper .category {
    padding: 20px 25px;
    position: relative;
}

    #main-wrapper .category h5 {
        margin: 0;
        padding: 0 0 20px 0;
        font-weight: bold;
        color: #323430;
    }

    #main-wrapper .category .toggle-content .toggle-title {
        padding-bottom: 10px;
        padding-left: 30px;
        font-size: 14px;
        position: relative;
        cursor: pointer;
        font-weight: normal;
        text-transform: capitalize;
    }

    #main-wrapper .category .toggle-content h5.active {
        font-weight: bold;
    }

    #main-wrapper .category .toggle-content ul li span input {
        cursor: pointer;
    }

    #main-wrapper .category ul li span {
        display: block;
        margin: 5px 0 0 10px;
    }

    #main-wrapper .category .toggle-content span label {
        padding-left: 5px;
        margin: 0;
        font-size: 15px;
    }

    #main-wrapper .category .toggle-content .toggle-title:before {
        font-family: 'FontAwesome';
        content: "\f067";
        position: absolute;
        top: 0;
        left: 0;
        height: 17px;
        width: 18px;
        color: #e00000;
        cursor: pointer;
        border: 1px solid #ccc;
        line-height: 17px;
        text-align: center;
        font-size: 10px;
        font-weight: 200;
        border-radius: 5px;
    }

    #main-wrapper .category .toggle-content .toggle-title.active:before {
        font-family: 'FontAwesome';
        content: "\f068";
        position: absolute;
        top: 0;
        left: 0;
        height: 17px;
        width: 18px;
        color: #e00000;
        cursor: pointer;
        border: 1px solid #ccc;
        line-height: 17px;
        text-align: center;
        font-size: 10px;
        font-weight: 200;
        border-radius: 5px;
    }




/***************************************************/

/* side panel miscellaneous section start */

/***************************************************/

#main-wrapper .miscellaneous {
    padding: 0 25px 0px 25px;
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

    #main-wrapper .miscellaneous h5 {
        margin: 0;
        padding: 20px 0 20px 0;
        font-weight: bold;
        color: #323430;
    }

    #main-wrapper .miscellaneous .radio {
        margin: 15px 0;
        padding: 0;
    }

        #main-wrapper .miscellaneous .radio .radio-input label {
            padding: 0;
        }

    #main-wrapper .miscellaneous .checkbox-input {
        display: inline-block;
        padding: 10px 10px 10px 0;
        margin: 0;
    }

        #main-wrapper .miscellaneous .checkbox-input:first-child {
            margin-left: 20px;
        }

    #main-wrapper .miscellaneous ul li {
        margin: 5px 0;
    }

        #main-wrapper .miscellaneous ul li a {
            color: #333;
            padding: 4px 7px;
            border: 1px solid #ccc;
            border-radius: 7px;
        }




/***************************************************/

/* price range begin  */

/***************************************************/

.properties-search-filter {
    padding: 0 25px 0px 25px;
    position: relative;
    border-bottom: 1px solid #ccc;
}

    .properties-search-filter .filter-title {
        margin: 0 0 10px 0;
        font-size: 1.5em;
    }

    .properties-search-filter .toggle-title {
        position: relative;
        margin: 0;
        padding: 10px 30px 10px 0;
        font-size: 1.125em;
        cursor: pointer;
    }

        .properties-search-filter .toggle-title:after {
            display: block;
            position: absolute;
            top: 14px;
            right: 0;
            font-size: 14px;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f077";
        }

    .properties-search-filter .toggle-content {
        padding-bottom: 10px;
    }

    .properties-search-filter .closed .toggle-title:after {
        content: "\f078";
    }

    .properties-search-filter .price-filter .slider-range {
        display: block;
        position: relative;
        margin: 2px 0 15px 0;
        height: 5px;
        line-height: 1px;
        border-radius: 7px;
    }

        .properties-search-filter .price-filter .slider-range .ui-slider-range {
            display: block;
            position: absolute;
            top: 0;
            height: 5px;
            line-height: 1px;
            border-radius: 7px;
        }

        .properties-search-filter .price-filter .slider-range .ui-slider-handle {
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            top: -6px;
            border-radius: 50%;
            border: 3px solid transparent;
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
        }

            .properties-search-filter .price-filter .slider-range .ui-slider-handle:active {
                outline: 0;
            }

            .properties-search-filter .price-filter .slider-range .ui-slider-handle:last-child {
                margin-left: -14px;
            }

    .properties-search-filter .price-filter .range-from,
    .properties-search-filter .price-filter .range-to {
        width: 90px;
    }

    .properties-search-filter .price-filter .range-from {
        float: left;
    }

    .properties-search-filter .price-filter .range-to {
        float: right;
    }

    .properties-search-filter .price-filter .slider-range {
        background-color: #e6e6e6;
    }

    .properties-search-filter .price-filter .ui-slider-range {
        background-color: rgba(228, 49, 49, .6);
    }

    .properties-search-filter .price-filter .slider-range .ui-slider-handle {
        background-color: #e43131;
    }

    .properties-search-filter .price-filter h5 {
        margin: 0;
        padding: 20px 0 25px 0;
    }

    .properties-search-filter .price-filter .slider-range-container input[type=text].range-from, .properties-search-filter .price-filter .slider-range-container input[type=text].range-to {
        margin: 5px 0 20px 0;
        padding: 4px 0;
        width: 30%;
        border-radius: 6px;
        border: 1px solid #ccc;
        text-align: center;
        font: 16px'Varela Round', sans-serif;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }



/***************************************************/

/* map section */

/***************************************************/

#main-wrapper .find-on-map {
    padding: 0 25px;
}

    #main-wrapper .find-on-map h5 {
        padding: 20px 0 20px 0;
        margin: 0;
    }

    #main-wrapper .find-on-map .map-section {
        height: 200px;
    }





/***************************************************/

/* start menu details section style */

/***************************************************/



/***************************************************/

/* view-style beging (grid-list-details view ) */

/***************************************************/


#main-wrapper .view-style {
    width: 100%;
    position: relative;
    padding-top: 20px;
    margin-bottom: 10px;
}


    #main-wrapper .view-style .list-grid-view button {
        margin: 0 7px 0 0;
        height: 30px;
        width: 30px;
        border: 1px solid #ccc;
        text-align: center;
        border-radius: 7px;
        background: #fff;
        outline: none;
        float: left;
    }

        #main-wrapper .view-style .list-grid-view button.active {
            background: #e00000;
            color: #fff;
            border: none;
        }



    /***************************************************/

    /* pagination beging */

    /***************************************************/

    #main-wrapper .view-style .page-list ul li {
        margin: 0 0 0 5px;
        height: 30px;
        width: 30px;
        border: 1px solid transparent;
        text-align: center;
        border-radius: 7px;
    }

        #main-wrapper .view-style .page-list ul li a {
            color: #343434;
            line-height: 30px;
            padding-left: 5px;
        }

        #main-wrapper .view-style .page-list ul li.active,
        #main-wrapper .view-style .page-list ul li.active a {
            background: #e00000;
            color: #fff;
            border: none;
        }

#main-wrapper .pagination {
    position: relative;
    width: 100%;
    height: 40px;
    float: left;
    margin-bottom: 0;
}

    #main-wrapper .pagination ul li {
        margin: 0 0 0 5px;
        height: 30px;
        width: 30px;
        border: 1px solid transparent;
        text-align: center;
        border-radius: 7px;
    }

        #main-wrapper .pagination ul li a {
            color: #343434;
            padding-left: 5px;
            line-height: 30px;
        }

        #main-wrapper .pagination ul li.active,
        #main-wrapper .pagination ul li.active a {
            background: #e00000;
            color: #fff;
            border: none;
        }




/***************************************************/

/*  Menu with right checkout page style begin */

/***************************************************/

#main-wrapper .my-check-right {
    background-color: #f3f3f3;
    height: auto;
    width: 250px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
}

    #main-wrapper .my-check-right h5 {
        margin: 0;
        padding: 20px 0px;
        font-weight: bold;
        text-align: center;
        color: #323430;
        border-bottom: 1px solid #ccc;
    }


    #main-wrapper .my-check-right .checkout {
        margin: 0 0 20px 0;
        padding: 0;
        text-align: center;
    }

    #main-wrapper .my-check-right ul {
        margin: 0;
        padding: 0 20px;
    }

        #main-wrapper .my-check-right ul li {
            width: 100%;
            height: auto;
            padding: 10px 0;
            border-top: 1px solid #ccc;
            position: relative;
            line-height: 5px;
            color: #323430;
            font-size: 15px;
        }

            #main-wrapper .my-check-right ul li:first-child {
                border-top: none;
            }

            #main-wrapper .my-check-right ul li p .icon-link .fa {
                margin-left: 5px;
                color: #e00000;
                cursor: pointer;
            }

            #main-wrapper .my-check-right ul li p .icon-link {
                position: absolute;
                right: 0;
                top: 10px;
            }

            #main-wrapper .my-check-right ul li .price {
                color: #e00000;
            }

            #main-wrapper .my-check-right ul li .price-total {
                color: #e00000;
                font-weight: bold;
                position: absolute;
                top: 15px;
                right: 0;
            }

#main-wrapper .all-menu-details .right-checkout .details {
    width: 64%;
    height: inherit;
    padding: 10px 10px;
    position: relative;
    float: left;
}


/***************************************************/

/* end right checkout */

/***************************************************/





/***************************************************/

/* start menu view-2 section */

/***************************************************/




/***************************************************/

/* mega call-us section begin */

/***************************************************/

#main-wrapper .mega-call-us {
    width: 100%;
    padding: 60px 0 40px 0;
    background: url(../img/content/menu-heading.jpg) top center no-repeat;
    background-size: cover;
    margin: 0;
    margin-bottom: 30px;
}

    #main-wrapper .mega-call-us .call-mega-us {
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        float: left;
    }

        #main-wrapper .mega-call-us .call-mega-us .fa {
            font-size: 56px;
            color: #e00000;
            margin-bottom: 20px;
        }

    #main-wrapper .mega-call-us .open-now {
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        float: right;
    }

        #main-wrapper .mega-call-us .open-now .fa {
            font-size: 56px;
            color: #80c200;
            margin-bottom: 20px;
        }




/***************************************************/

/* menu card all-menu-details section begin */

/***************************************************/

#main-wrapper .all-menu-details {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
}

    #main-wrapper .all-menu-details h5 {
        margin: 10px 0 20px 0;
        font-weight: bold;
        text-transform: uppercase;
    }

    #main-wrapper .all-menu-details .item-list {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        float: left;
    }

        #main-wrapper .all-menu-details .item-list .m-with-details {
            display: none;
        }

#main-wrapper .thumb .item-list .list-image {
    display: none;
}

#main-wrapper .thumb .item-list .all-details {
    padding-left: 0 !important;
}

#main-wrapper .all-menu-details > .item-list:nth-child(odd) {
    background-color: #f7f7f7;
}




/***************************************************/

/* menu with image style */

/***************************************************/

#main-wrapper .all-menu-details .item-list .list-image {
    position: relative;
    width: 131px;
    height: 125px;
    padding: 4px;
    float: left;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: none !important;
}

    #main-wrapper .all-menu-details .item-list .list-image img {
        margin: 0;
        height: 100%;
        width: 100%;
        padding: 0;
    }



/***************************************************/

/* all menu details */

/***************************************************/

#main-wrapper .all-menu-details .item-list .all-details {
    width: 100%;
    padding-left: 135px;
    border-left: 1px solid transparent;
    position: relative;
}

    #main-wrapper .all-menu-details .item-list .all-details .visible-option {
        position: relative;
        width: 100%;
        height: 125px;
        overflow: hidden;
        border: 1px solid #ccc;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

#main-wrapper .all-menu-details .details {
    width: 70%;
    height: inherit;
    padding: 10px 15px;
    position: relative;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


    #main-wrapper .all-menu-details .details h6 {
        padding: 5px 0 10px 0;
        margin: 0;
        font-size: 20px;
    }

        #main-wrapper .all-menu-details .details h6:hover a {
            color: #e00000;
        }

    #main-wrapper .all-menu-details .details .share-this {
        color: #343434;
        font-size: 18px;
        position: absolute;
        right: 20px;
        top: 10px;
    }

        #main-wrapper .all-menu-details .details .share-this > li:hover ul li a {
            visibility: visible;
        }

        #main-wrapper .all-menu-details .details .share-this > li ul li a {
            visibility: hidden;
        }

        #main-wrapper .all-menu-details .details .share-this ul li:hover a {
            color: #e00000;
        }

        #main-wrapper .all-menu-details .details .share-this ul {
            margin-top: -6px;
        }



/***************************************************/

/* start price-option  */

/***************************************************/

#main-wrapper .all-menu-details .price-option {
    width: 15%;
    height: inherit;
    position: relative;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#main-wrapper .all-menu-details .right-checkout .price-option {
    width: 18%;
    height: inherit;
    position: relative;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#main-wrapper .all-menu-details .price-option h4 {
    text-align: center;
    margin: 0;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

#main-wrapper .all-menu-details .fl {
    float: left;
}

#main-wrapper .all-menu-details .price-option button {
    position: relative;
    border: none;
    outline: none;
    background: transparent;
    color: #e00000;
    width: 100%;
    text-align: center;
    padding: 7px 5px 8px 5px;
}

    /*#main-wrapper .all-menu-details .price-option button:before {
  font-family: 'FontAwesome';
  content: "\f107";
  position: absolute;
  top: 7px;
  left: 10px;
  color: #e00000;
  font-size: 20px;
  font-weight: bold;
}*/

    #main-wrapper .all-menu-details .price-option button.active {
        background-color: #e00000;
        color: #fff;
    }

        #main-wrapper .all-menu-details .price-option button.active:before {
            font-family: 'FontAwesome';
            content: "\f106";
            position: absolute;
            top: 7px;
            left: 10px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
        }

    #main-wrapper .all-menu-details .price-option button.active {
        outline: none;
        border: none;
    }




/***************************************************/

/* start qty and cart option */

/***************************************************/


#main-wrapper .all-menu-details .qty-cart {
    width: 15%;
    height: inherit;
    position: relative;
    float: left;
}

#main-wrapper .all-menu-details .right-checkout .qty-cart {
    width: 18%;
    height: inherit;
    position: relative;
    float: left;
}

#main-wrapper .all-menu-details .qty-cart h6 {
    margin: 0;
    padding: 10px 0;
    font-weight: normal;
    padding-bottom: 23px;
}

#main-wrapper .all-menu-details .qty-cart input.input-quantity {
    text-align: center;
    height: 30px;
    width: 60px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

#main-wrapper .all-menu-details .qty-cart input:focus,
#main-wrapper .all-menu-details .qty-cart input:active {
    outline: none;
}

#main-wrapper .all-menu-details .qty-cart button {
    position: relative;
    background: transparent;
    border-radius: 7px;
    height: 30px;
    width: 60px;
    color: #e00000;
    outline: none;
    border: 1px solid #e00000;
    margin: 10px 0;
    padding-left: 20px;
}

    #main-wrapper .all-menu-details .qty-cart button:before {
        font-family: 'FontAwesome';
        content: "\f067";
        position: absolute;
        top: 5px;
        left: 10px;
    }

    #main-wrapper .all-menu-details .qty-cart button.active:before {
        font-family: 'FontAwesome';
        content: "\f068";
        position: absolute;
        top: 3px;
        left: 10px;
    }


/***************************************************/

/* end qty-cart class style */

/***************************************************/





/***************************************************/

/* menu-with-2grid style start */

/***************************************************/

#main-wrapper .all-menu-details.menu-with-2grid.thumb .item-list:nth-child(even) {
    background-color: #f7f7f7;
}

#main-wrapper .all-menu-details.menu-with-2grid.thumb .details {
    width: 64%;
    height: inherit;
    padding: 10px 15px;
    position: relative;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#main-wrapper .all-menu-details.menu-with-2grid.thumb .price-option {
    width: 18%;
    height: inherit;
    position: relative;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


#main-wrapper .all-menu-details.menu-with-2grid.thumb .qty-cart {
    width: 18%;
    height: inherit;
    position: relative;
    float: left;
}



/***************************************************/

/* end menu-with-2grid end */

/***************************************************/





/***************************************************/

/* menu with details style begin */

/***************************************************/

#main-wrapper .all-menu-details .menu-with-details {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
}

    #main-wrapper .all-menu-details .menu-with-details .for-list {
        display: none;
    }

#main-wrapper .all-menu-details > .menu-with-details:nth-child(odd) {
    background-color: #f7f7f7;
}

#main-wrapper .all-menu-details .menu-with-details .list-image {
    position: relative;
    width: 240px;
    height: 240px;
    padding: 4px;
    float: left;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

    #main-wrapper .all-menu-details .menu-with-details .list-image img {
        margin: 0;
        height: 100%;
        width: 100%;
        padding: 0;
    }

#main-wrapper .all-menu-details .menu-with-details .all-details {
    width: 100%;
    padding-left: 239px;
    border-left: 1px solid transparent;
    position: relative;
}

    #main-wrapper .all-menu-details .menu-with-details .all-details .visible-option {
        position: relative;
        width: 100%;
        height: 240px;
        overflow: hidden;
        border: 1px solid #ccc;
    }

        #main-wrapper .all-menu-details .menu-with-details .all-details .visible-option.red {
            border-bottom-color: #e00000 !important;
        }

#main-wrapper .all-menu-details .menu-with-details .details {
    width: 82%;
    height: inherit;
    padding: 10px 10px;
    position: relative;
    float: left;
}



/***************************************************/

/* menu with details with right checkout */

/***************************************************/


#main-wrapper .all-menu-details .menu-with-details.right-checkout .details {
    width: 78%;
    height: inherit;
    padding: 10px 10px;
    position: relative;
    float: left;
}

#main-wrapper .all-menu-details .menu-with-details.right-checkout .price-option {
    width: 22%;
    height: inherit;
    position: relative;
    border-left: 1px solid #ccc;
    border-right: none;
}

#main-wrapper .all-menu-details .menu-with-details.right-checkout .qty-cart {
    width: 22%;
    height: 116px;
    position: absolute;
    top: 86px;
    right: 0;
    border-bottom: 1px solid #ccc;
}


/***************************************************/

/* end menu-with details right checkout */

/***************************************************/


#main-wrapper .all-menu-details .menu-with-details .details h6 {
    padding: 5px 0 10px 0;
    margin: 0;
    font-size: 20px;
}

#main-wrapper .all-menu-details .menu-with-details .details p {
    line-height: 20px;
}

#main-wrapper .all-menu-details .menu-with-details .details h6:hover a {
    color: #e00000;
}

#main-wrapper .all-menu-details .menu-with-details .details .share-this {
    display: none;
}



/***************************************************/

/* start price-option  */

/***************************************************/

#main-wrapper .all-menu-details .menu-with-details .price-option {
    width: 18%;
    height: inherit;
    position: relative;
    border-left: 1px solid #ccc;
    border-right: none;
}

    #main-wrapper .all-menu-details .menu-with-details .price-option h4 {
        text-align: center;
        margin: 0;
        padding: 30px 0;
        width: 101%;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
    }

#main-wrapper .all-menu-details .menu-with-details .fl {
    float: left;
}

#main-wrapper .all-menu-details .menu-with-details .price-option button {
    position: absolute;
    bottom: 0;
    border: none;
    outline: none;
    background: transparent;
    color: #e00000;
    width: 101%;
    padding: 7px 5px 8px 20px;
}

    #main-wrapper .all-menu-details .menu-with-details .price-option button:before {
        font-family: 'FontAwesome';
        content: "\f107";
        position: absolute;
        top: 7px;
        left: 10px;
        color: #e00000;
        font-size: 20px;
        font-weight: bold;
    }

    #main-wrapper .all-menu-details .menu-with-details .price-option button.active {
        background-color: #e00000;
        color: #fff;
        box-shadow: none;
    }

        #main-wrapper .all-menu-details .menu-with-details .price-option button.active:before {
            font-family: 'FontAwesome';
            content: "\f106";
            position: absolute;
            top: 7px;
            left: 10px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
        }

    #main-wrapper .all-menu-details .menu-with-details .price-option button:active {
        outline: none;
        border: none;
    }



/***************************************************/

/* start qty and cart option */

/***************************************************/

#main-wrapper .all-menu-details .menu-with-details .qty-cart {
    width: 18%;
    height: 116px;
    position: absolute;
    top: 86px;
    right: 0;
    border-bottom: 1px solid #ccc;
}

    #main-wrapper .all-menu-details .menu-with-details .qty-cart h6 {
        margin: 0;
        padding: 10px 0;
        font-weight: normal;
    }

    #main-wrapper .all-menu-details .menu-with-details .qty-cart input[type="text"] {
        text-align: center;
        height: 30px;
        width: 60px;
        padding: 5px 10px;
        border-radius: 7px;
        border: 1px solid #ccc;
    }

    #main-wrapper .all-menu-details .menu-with-details .qty-cart button {
        position: relative;
        background: transparent;
        border-radius: 7px;
        height: 30px;
        width: 60px;
        color: #e00000;
        outline: none;
        border: 1px solid #e00000;
        margin: 10px 0 0 0;
        padding-left: 20px;
    }

        #main-wrapper .all-menu-details .menu-with-details .qty-cart button:before {
            font-family: 'FontAwesome';
            content: "\f067";
            position: absolute;
            top: 5px;
            left: 10px;
        }

        #main-wrapper .all-menu-details .menu-with-details .qty-cart button.active:before {
            font-family: 'FontAwesome';
            content: "\f068";
            position: absolute;
            top: 3px;
            left: 10px;
        }


/***************************************************/

/* end qty-cart class style */

/***************************************************/




/***************************************************/

/* start single menu style */

/***************************************************/

#main-wrapper .all-menu-details .single-menu {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
}

    #main-wrapper .all-menu-details .single-menu .list-image {
        position: relative;
        width: 50%;
        height: 500px;
        padding: 0;
        float: left;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

        #main-wrapper .all-menu-details .single-menu .list-image img {
            margin: 0;
            height: 100%;
            width: 100%;
            padding: 0;
        }

    #main-wrapper .all-menu-details .single-menu .all-details {
        width: 50%;
        padding-left: 0;
        position: relative;
        float: left;
    }

    #main-wrapper .all-menu-details .single-menu p strong {
        display: block;
        padding-bottom: 5px;
    }

    #main-wrapper .all-menu-details .single-menu .all-details .share-this {
        top: 40px;
    }

    #main-wrapper .all-menu-details .single-menu .all-details .visible-option {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
        border: 1px solid #ccc;
    }

.visible-option.red {
    border-bottom: 2px solid #e00000 !important;
}

#main-wrapper .all-menu-details .single-menu .details {
    width: 100%;
    height: auto;
    padding: 40px;
    position: relative;
}

    #main-wrapper .all-menu-details .single-menu .details h6 {
        padding: 5px 0 10px 0;
        margin: 0;
        font-size: 20px;
    }

    #main-wrapper .all-menu-details .single-menu .details p {
        line-height: 20px;
    }

    #main-wrapper .all-menu-details .single-menu .details h6:hover a {
        color: #e00000;
    }



/***************************************************/

/* start price-option  */

/***************************************************/

#main-wrapper .all-menu-details .single-menu .price-option {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
}

    #main-wrapper .all-menu-details .single-menu .price-option h4 {
        position: absolute;
        left: 0;
        margin: 0;
        padding: 20px 0;
        width: 46%;
        height: 70px;
        border-right: 1px solid #ccc;
        font-weight: bold;
    }

    #main-wrapper .all-menu-details .single-menu .price-option button {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        outline: none;
        background: transparent;
        color: #e00000;
        width: 20%;
        height: 70px;
        padding: 7px 5px 8px 20px;
    }

        #main-wrapper .all-menu-details .single-menu .price-option button:before {
            font-family: 'FontAwesome';
            content: "\f107";
            position: absolute;
            top: 25px;
            left: 15px;
            color: #e00000;
            font-size: 20px;
            font-weight: bold;
        }

        #main-wrapper .all-menu-details .single-menu .price-option button.active {
            background-color: #e00000;
            color: #fff;
            box-shadow: none;
        }

            #main-wrapper .all-menu-details .single-menu .price-option button.active:before {
                font-family: 'FontAwesome';
                content: "\f106";
                position: absolute;
                top: 25px;
                left: 15px;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
            }

        #main-wrapper .all-menu-details .single-menu .price-option button:active {
            outline: none;
            border: none;
        }



/***************************************************/

/* start qty and cart option */

/***************************************************/


#main-wrapper .all-menu-details .single-menu .qty-cart {
    position: absolute;
    bottom: 0px;
    left: 46%;
    padding-top: 10px;
    width: 34%;
    height: 70px;
    text-align: center;
    border-right: 1px solid #ccc;
}

    #main-wrapper .all-menu-details .single-menu .qty-cart h6 {
        margin: 0;
        margin-right: 10px;
        padding: 14px 0 10px 10px;
        font-weight: normal;
        float: left;
    }

    #main-wrapper .all-menu-details .single-menu.qty-cart input[type="text"] {
        text-align: center;
        height: 30px;
        width: 60px;
        padding: 5px 10px;
        border-radius: 7px;
        border: 1px solid #ccc;
        margin: 0 20px;
    }

    #main-wrapper .all-menu-details .single-menu .qty-cart button {
        position: relative;
        background: transparent;
        border-radius: 7px;
        height: 30px;
        width: 60px;
        color: #e00000;
        outline: none;
        border: 1px solid #e00000;
        margin: 10px 10px;
        padding-left: 20px;
    }

        #main-wrapper .all-menu-details .single-menu .qty-cart button:before {
            font-family: 'FontAwesome';
            content: "\f067";
            position: absolute;
            top: 3px;
            left: 10px;
        }

        #main-wrapper .all-menu-details .single-menu .qty-cart button.active:before {
            font-family: 'FontAwesome';
            content: "\f068";
            position: absolute;
            top: 3px;
            left: 10px;
        }



/***************************************************/

/* end single -menu */

/***************************************************/




/***************************************************/

/* menu wihtout side-panel style begin */

/***************************************************/

#main-wrapper .all-menu-details {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
    float: left;
}

    #main-wrapper .all-menu-details .menu-without-side {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        margin-bottom: 20px;
        float: left;
    }

        #main-wrapper .all-menu-details .menu-without-side .list-image {
            position: relative;
            width: 100%;
            height: 500px;
            padding: 0;
            border: 1px solid transparent;
            border-bottom: none;
        }

            #main-wrapper .all-menu-details .menu-without-side .list-image img {
                margin: 0;
                height: 100%;
                width: 100%;
                padding: 0;
            }

        #main-wrapper .all-menu-details .menu-without-side .all-details {
            width: 100%;
            padding-left: 0;
            border-left: 1px solid transparent;
            position: relative;
        }

            #main-wrapper .all-menu-details .menu-without-side .all-details .visible-option {
                position: relative;
                width: 100%;
                height: 240px;
                overflow: hidden;
                border: 1px solid #ccc;
            }

        #main-wrapper .all-menu-details .menu-without-side .details {
            width: 82%;
            height: inherit;
            padding: 10px 10px;
            position: relative;
        }

        #main-wrapper .all-menu-details .menu-without-side .price-option {
            width: 18%;
            height: inherit;
            position: relative;
            border-left: 1px solid #ccc;
            border-right: none;
        }




        /***************************************************/

        /* start price-option  */

        /***************************************************/

        #main-wrapper .all-menu-details .menu-without-side .price-option {
            width: 18%;
            height: inherit;
            position: relative;
            border-left: 1px solid #ccc;
            border-right: none;
        }

            #main-wrapper .all-menu-details .menu-without-side .price-option h4 {
                text-align: center;
                margin: 0;
                padding: 30px 0;
                width: 101%;
                border-bottom: 1px solid #ccc;
                font-weight: bold;
            }

            #main-wrapper .all-menu-details .menu-without-side .price-option button {
                position: absolute;
                bottom: 0;
                border: none;
                outline: none;
                background: transparent;
                color: #e00000;
                width: 101%;
                padding: 7px 5px 8px 20px;
            }

                #main-wrapper .all-menu-details .menu-without-side .price-option button:before {
                    font-family: 'FontAwesome';
                    content: "\f107";
                    position: absolute;
                    top: 7px;
                    left: 10px;
                    color: #e00000;
                    font-size: 20px;
                    font-weight: bold;
                }

                #main-wrapper .all-menu-details .menu-without-side .price-option button.active {
                    background-color: #e00000;
                    color: #fff;
                    box-shadow: none;
                }

                    #main-wrapper .all-menu-details .menu-without-side .price-option button.active:before {
                        font-family: 'FontAwesome';
                        content: "\f106";
                        position: absolute;
                        top: 7px;
                        left: 10px;
                        color: #fff;
                        font-size: 20px;
                        font-weight: bold;
                    }

                #main-wrapper .all-menu-details .menu-without-side .price-option button:active {
                    outline: none;
                    border: none;
                }



        /***************************************************/

        /* start qty and cart option */

        /***************************************************/

        #main-wrapper .all-menu-details .menu-without-side .qty-cart {
            width: 18%;
            height: 116px;
            position: absolute;
            top: 86px;
            right: 0;
            border-bottom: 1px solid #ccc;
        }

            #main-wrapper .all-menu-details .menu-without-side .qty-cart h6 {
                margin: 0;
                padding: 10px 0;
                font-weight: normal;
            }

            #main-wrapper .all-menu-details .menu-without-side .qty-cart input[type="text"] {
                text-align: center;
                height: 30px;
                width: 60px;
                padding: 5px 10px;
                border-radius: 7px;
                border: 1px solid #ccc;
            }


            #main-wrapper .all-menu-details .menu-without-side .qty-cart button {
                position: relative;
                background: transparent;
                border-radius: 7px;
                height: 30px;
                width: 60px;
                color: #e00000;
                outline: none;
                border: 1px solid #e00000;
                margin: 10px 0 0 0;
                padding-left: 20px;
            }

                #main-wrapper .all-menu-details .menu-without-side .qty-cart button:before {
                    font-family: 'FontAwesome';
                    content: "\f067";
                    position: absolute;
                    top: 5px;
                    left: 10px;
                }

                #main-wrapper .all-menu-details .menu-without-side .qty-cart button.active:before {
                    font-family: 'FontAwesome';
                    content: "\f068";
                    position: absolute;
                    top: 3px;
                    left: 10px;
                }


    /***************************************************/

    /* end qty-cart class style */

    /***************************************************/





    /***************************************************/

    /* end menu-without-side panel */

    /***************************************************/




    /***************************************************/

    /*  start dropdown-option detail style */

    /***************************************************/

    #main-wrapper .all-menu-details .dropdown-option {
        position: relative;
        width: 100%;
        display: block;
        z-index: 30;
    }

        #main-wrapper .all-menu-details .dropdown-option .dropdown-details {
            position: relative;
            width: 100%;
            padding: 15px 0 15px 20px;
            border-top: none;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            box-sizing: border-box !important;
            -webkit-box-sizing: border-box !important;
        }

            #main-wrapper .all-menu-details .dropdown-option .dropdown-details h5 {
                margin: 0;
                font-size: 15px;
                text-transform: uppercase;
            }

            #main-wrapper .all-menu-details .dropdown-option .dropdown-details h6 {
                margin: 0;
                padding: 15px 0;
            }

            #main-wrapper .all-menu-details .dropdown-option .dropdown-details .radio-input {
                display: block;
            }

            #main-wrapper .all-menu-details .dropdown-option .dropdown-details .checkbox-input {
                position: relative;
            }

            #main-wrapper .all-menu-details .dropdown-option .dropdown-details label {
                display: inline;
            }

                #main-wrapper .all-menu-details .dropdown-option .dropdown-details label .price {
                    position: absolute;
                    top: 0;
                    left: 220px;
                    color: #e00000;
                    display: inline;
                }

            #main-wrapper .all-menu-details .dropdown-option .dropdown-details textarea {
                display: block;
                height: 100px;
                width: 250px;
                resize: none;
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 7px;
                font-size: 15px;
            }

                #main-wrapper .all-menu-details .dropdown-option .dropdown-details textarea:focus {
                    outline: none;
                }

            #main-wrapper .all-menu-details .dropdown-option .dropdown-details .btn-default-red {
                margin: 15px 0;
                padding: 2px 10px;
            }



/***************************************************/

/* end menu dropsown option */

/***************************************************/










/***************************************************/

/* start 3grid layout style */

/***************************************************/










/***************************************************/

/* tag list */

/***************************************************/

.page-content .news-events-blog .blog-list .tag-list {
    padding-top: 0px;
}

.page-content .news-events-blog .blog-list ul li {
    padding: 10px 70px 0 0;
}

    .page-content .news-events-blog .blog-list ul li span {
        padding: 0 4px;
    }

.page-content .news-events-blog .blog-list .bl-sort {
    color: #999;
}

.page-content .news-events-blog .blog-list .fa {
    padding-right: 7px;
}

.page-content .news-events-blog .view-style {
    padding-top: 30px;
}

.page-content .news-events-blog .events-side-panel {
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border-radius: 6px;
    border: 1px solid #ccc;
}




    /***************************************************/

    /* side panel search section */

    /***************************************************/

    .page-content .news-events-blog .events-side-panel .search-keyword {
        position: relative;
        margin: 0;
        padding: 0 20px;
        border: none;
    }

        .page-content .news-events-blog .events-side-panel .search-keyword input[type="text"] {
            margin: 0;
            padding: 3px 15px;
            width: 99%;
            height: 30px;
            outline: 0;
            color: #333;
            font-size: 14px;
            border: 1px solid #ccc;
            -webkit-border-radius: 7px 0 0 7px;
            border-radius: 7px 0 0 7px;
            background: #fff;
            line-height: 24px;
        }

        .page-content .news-events-blog .events-side-panel .search-keyword button[type="submit"] {
            position: absolute;
            top: 0px;
            right: 18px;
            margin: 0;
            padding: 0;
            width: 30px;
            height: 30px;
            outline: 0;
            border: 1px solid #ccc;
            border-left: none;
            -webkit-border-radius: 0 7px 7px 0;
            border-radius: 0 7px 7px 0;
            background: #fff;
            color: #e00000;
            font-size: 14px;
            font-family: 'FontAwesome';
            content: '\f002';
        }

    .page-content .news-events-blog .events-side-panel .find-on-map {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-top: 20px;
        padding: 0 20px;
    }

        .page-content .news-events-blog .events-side-panel .find-on-map h5 {
            padding: 20px 0 10px 0;
            margin: 0;
        }





/***************************************************/

/* custom select-box style */

/***************************************************/

.select-box {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

    .select-box .fa {
        position: absolute;
        top: 8px;
        right: 12px;
        font-size: 14px;
        cursor: pointer;
        color: #e00000;
    }

    .select-box .value-holder {
        position: relative;
        width: 100%;
        padding: 2px 10px;
        border: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        outline: none;
    }

    .select-box .select-clone {
        display: none;
        position: absolute;
        top: 32px;
        left: 0;
        padding-top: 5px;
        width: 100%;
        max-height: 250px;
        overflow-y: auto;
        z-index: 30;
        border-radius: 0 0 5px 5px;
        border: 1px solid #ccc;
        border-top: 0;
        background: #fff;
    }

        .select-box .select-clone > li {
            padding: 5px 10px;
            margin: 0;
            text-align: left;
            cursor: pointer;
        }

            .select-box .select-clone > li:last-child {
            }

    .select-box select {
        display: none;
    }

.banner-search {
    width: 100%;
}

.banner-search-inner {
    padding: 0;
}

.banner-search .tab-title:hover {
    margin-top: -5px;
    padding-bottom: 5px;
}

.banner-search .tab-title.active:hover {
    margin-top: 0;
    padding-bottom: 0;
}

.banner-search .tab-content-list {
    padding: 0;
}

.banner-search .tab-content {
    display: none;
}

    .banner-search .tab-content.active {
        display: block;
    }

.banner-search form {
    margin: 0;
    text-align: center;
}

.banner-search input {
    width: 100%;
}

.banner-search .search-input {
    display: inline-block;
    width: 100%;
}

.banner-search .select-box {
    text-align: left;
}

    .banner-search .select-box .select-clone {
    }

.custom-list {
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
}

    .custom-list > li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .custom-list > li:before {
            display: none;
        }

        .custom-list > li:hover {
            background: #f3f3f3;
        }

.banner-search .map-section {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    /*background: url(../img/content/map-1.jpg) top center no-repeat;*/
    background-size: cover;
}




/***************************************************/

/* map style begin  */

/***************************************************/

#map_canvas {
    width: 100%;
    height: 100%;
}

    #map_canvas .gm-style img {
        max-width: none;
    }

    #map_canvas .gm-style label {
        display: inline;
        width: auto;
    }












/***************************************************/

/* start event-page style */

/***************************************************/


/***************************************************/
/* event page tab  style */
/***************************************************/

.nav-tabs {
    border-bottom: 3px solid #e00000;
}

    .nav-tabs > li a:hover {
        border: 1px solid #ccc;
        border-bottom-color: #e00000;
    }

    .nav-tabs > li.active a:hover {
        border: 1px solid #e00000;
        color: #fff;
    }

    .nav-tabs > li a {
        border: 1px solid #ccc;
        border-bottom-color: #e00000;
    }

        .nav-tabs > li:hover a, .nav-tabs > li a.active:hover {
            background-color: transparent;
            border-bottom-color: #e00000;
        }

    .nav-tabs > li.active > a {
        background: #e00000;
        border: 1px solid #e00000;
    }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background: #e00000;
            color: #fff;
            border-color: #e00000;
        }



/***************************************************/






/***************************************************/

/* custom CHECKBOX */

/***************************************************/

.checkbox-input {
    margin: 0 7px;
    white-space: nowrap;
    display: block;
}

    .checkbox-input:first-child {
        margin-left: 0;
    }

    .checkbox-input:last-child {
        margin-right: 0;
    }

    .checkbox-input label {
        cursor: pointer;
        font-weight: normal;
    }

        .checkbox-input label:before {
            display: inline-block;
            position: relative;
            top: 3px;
            margin-right: 10px;
            content: "";
            width: 16px;
            height: 16px;
            line-height: 1em;
            font-size: 12px;
            text-align: center;
            border-radius: 2px;
            border: 1px solid #ccc;
        }

    .checkbox-input.active label:before {
        top: -2px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f00c";
        color: #e00000;
    }

    .checkbox-input input {
        display: none;
    }




/***************************************************/

/* custom RADIO button */

/***************************************************/

.radio-input {
    margin: 0px 7px;
    white-space: nowrap;
}

    .radio-input:first-child { /*margin-left: 0;*/
    }

    .radio-input:last-child { /*margin-right: 0;*/
    }

    .radio-input label {
        cursor: pointer;
        font-weight: normal;
    }

        .radio-input label:before {
            display: inline-block;
            position: relative;
            top: 3px;
            margin-right: 10px;
            content: "";
            width: 17px;
            height: 17px;
            line-height: 0;
            font-size: 0;
            border-radius: 50%;
            border: 1px solid #ccc;
        }

    .radio-input input {
        display: none;
    }

    .radio-input.active label:before {
        display: inline-block;
        position: relative;
        top: 3px;
        margin-right: 10px;
        content: "";
        width: 17px;
        height: 17px;
        line-height: 0;
        font-size: 0;
        border-radius: 50%;
        border: 5px solid #ccc;
        background-color: #e00000;
    }


.cart-fixex-top-right {
    position: fixed;
    margin-top: 30px;
    top: 0;
    right: 59.3px;
    /* right: 0; */
    /* background-color: black; */
    z-index: 1000;
}

.banner-search #map {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    /*background: url(../img/content/map-1.jpg) top center no-repeat;*/
    background-size: cover;
}

#editQuantity {
    text-align: center;
    height: 30px;
    width: 60px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

/* EXTRA BUTTONS */
.extra-item {
    margin-top: 15px;
}

.extra-count .extra-quantity {
    background: white;
    border: 2px solid #607D8B;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: #F44336;
    font-weight: bold;
    text-align: center;
    padding-top: 9px;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    cursor: pointer;
}

.extra-count .extra-minus {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
    background: #9E9E9E;
    bottom: 0px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 10px;
    cursor: pointer;
}

    .extra-count .extra-minus i.fa {
        position: relative;
        top: -1px;
    }

/* INCREMENTER */
.incrementer .inc-input {
    border-radius: 8px;
    padding: 4px 8px;
    border: 2px solid lightgray;
}

.sub-rows{
    list-style-type: none;
}


/*tr {
width: 100%;
display: inline-table;
}*/

/*thead{
    width: 100%;
}

table{
 height:380px;
}*/