﻿@{
    ViewBag.Title = "Quản lý giao hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<link href="~/Content/jquery.ui.combify.css" rel="stylesheet" />
<script src="~/Content/jquery.ui.combify.js"></script>*@

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3>Quản lý giao hàng</h3>
            </div>
            <div class="col-md-6">
                @*<a class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#modalNewDelivery">
                        <i class="left-icon fa fa-plus"></i>Thêm mới
                    </a>*@
                @*<a class="btn btn-success btn-sm pull-right" data-action="open-create-delivery-modal">
                        <i class="left-icon fa fa-plus"></i>Thêm mới
                    </a>*@
                <a class="btn btn-primary btn-sm pull-right" href="@Url.Action("Create","Delivery")">
                    <i class="zmdi zmdi-plus"></i> Thêm mới
                </a>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="card-padding">
            <div class="row" style="height:30px;">
                <div class="col-md-12" style="">
                    <div class="group-radio-buttons" style="margin-top:-20px;">
                        <div class="mySmall-margin">
                            <div class="col-md-4" style="padding-left:100px">
                                <input type="radio" name="searchBy" value="1" class="nice-check" id="byCode" checked />
                                <label for="byCode"><span>Tìm mã hóa đơn</span></label>
                            </div>
                            <div class="col-md-4" style="padding-left:100px">
                                <input type="radio" name="searchBy" value="0" class="nice-check" id="byName" />
                                <label for="byName"><span>Tìm tên khách hàng</span></label>
                            </div>
                            <div class="col-md-4" style="padding-left:100px">
                                <input type="radio" name="searchBy" value="2" class="nice-check" id="byPlace" />
                                <label for="byPlace"><span>Tìm địa chỉ giao hàng</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <table id="orders-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã hóa đơn</th>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ giao hàng</th>
                            <th>Điện thoại</th>
                            <th>Thời gian đặt hàng</th>
                            <th>Cửa hàng</th>
                            <th>Trạng thái</th>
                            <th>Tùy chọn</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " tabindex="-1" id="orderDetailPanel" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

</div>

<template id="templateOrderParent">
    <tr class="bold main-order-row">
        <td><span data-role="name"></span><span class="red">(*)</span></td>
        <td class="align-right" data-role="unitPrice"></td>
        <td class="align-center" data-role="quantity"></td>
        <td class="align-right" data-role="totalPrice"></td>

        <td>
            <a class="blue"
               data-orderid=""
               data-action="open-edit-order-modal"
               data-type=""
               data-hasextra="">
                <i class="fa fa-pencil"></i>
            </a>
        </td>
        <td class="align-center">
            <a class="red" data-id="" data-action="remove-single-order"><i class="fa fa-times"></i></a>
        </td>
    </tr>
</template>

<template id="templateOrderChildren">
    <tr class="italic">
        <td class="pl-20" data-role="name"></td>
        <td class="align-right" data-role="unitPrice"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</template>

<template id="paymentRow">
    <tr class="payment-row">
        <td data-role="icon"><i class="fa"></i></td>
        <td data-role="due"></td>
        <td data-role="tender" class="payment-tender" contenteditable="true"></td>
        <td data-role="change" class="payment-change"></td>
        <td data-role="description" contenteditable="true" data-ph="Ghi chú..."></td>
        <td data-role="control"><a class="btn-remove" data-action="remove-payment-item"><i class="fa fa-times"></i></a></td>
    </tr>
</template>

<script>
    var currentId = -1;
    var orderDetailTable = null;
    var ordersTable = null;
    $(document).ready(function () {
        $('[name=searchBy]').change(function () {
            RefreshOrderTable();
        });
        ordersTable = $('#orders-table').dataTable({
            "bSort": false,
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": '@Url.Action("LoadDeliveryOrders")',
            "bProcessing": true,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "check", "value": $('input:radio[name=searchBy]:checked').val() });
            },
            "bStateSave": true,
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 4, 7, 8],
                    "sClass": "text-center"
                },
                { "aTargets": [0, 1, 2, 3, 4], "bSortable": false },
                {
                    "aTargets": [8],
                    "mRender": function (data, type, o) {
                        var btn = $('<a/>', {
                            'class': 'btn btn-sm btn-primary',
                            'html': $('<span/>', {
                                'class': 'glyphicon glyphicon-eye-open'
                            }),
                            'data-id': o[8],
                            'data-customer-name': o[2],
                            'data-customer-phone': o[4],
                            'data-delivery-address': o[3],
                            'data-store-name': o[6],
                            'data-order-time': o[5],
                            'data-status': o[10],
                            'data-storeId': o[9],
                            'data-role': 'detail'
                        });

                        var trash = "<button id='delOrderOnline' class='btn btn-sm btn-danger' onclick='DeleteOrderOnline(" + o[8] + ")' style='display:none'><span class='glyphicon glyphicon-trash icon-white'></span></button>";
                        return btn[0].outerHTML + trash;
                        //return "<a class='btn btn-sm btn-info' data-action='open-edit-delivery-modal' data-rentId='" + o.aData[8] + "'><span class='icon-edit icon-white'></span></a>";
                    }
                },
                {
                    "aTargets": [7],
                    "mRender": function (data, type, o) {
                        var status = "";
                        var color = "";
                        var text = HMS.deliveryManagement.getDeliveryStatusText(o[7]);
                        var btn = $('<span/>', {
                            'class': 'label label-' + text.color,
                            'html': text.status
                        });
                        return btn[0].outerHTML;
                    }
                },
                {
                    "aTargets": [9],
                    "mRender": function (data, type, o) {
                        return o[11];
                    }
                }
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);

        function RefreshOrderTable() {
            var oTable = $("#orders-table").dataTable();
            oTable._fnPageChange(0);
            oTable._fnAjaxUpdate();
        }

        //dont need this reload --> no idea why this here
        //setInterval(function () { RefreshOrderTable(); }, 10000);


        $(document).on('click', '[data-role=detail]', function () {
            currentId = $(this).attr('data-id');
            statusInt = $(this).attr('data-status');
            $.ajax({
                url: '@Url.Action("OrderDetail","Delivery")',
                type: 'GET',
                data: {
                    Id: currentId
                },
                dataType: 'html',
                success: function (result) {
                    $('#orderDetailPanel').html(result);
                    $('#orderDetailPanel').modal('show');
                    setStatus(statusInt);
                    initOrderDetailTable();
                },
                error: function (error) {
                    ShowMessage("Error Occured", 1);
                }
            });
        });

        function setStatus(statusInt) {
            var status = HMS.deliveryManagement.getDeliveryStatusText(parseInt(statusInt));
            //if ($(this).attr('data-status') == 9 || $(this).attr('data-status') == 0 || $(this).attr('data-status') == 4) {
            if (statusInt == 5 || statusInt == 0) {
                $('#order-detail-submit').show();
            } else {
                $('#order-detail-submit').hide();
            }
            var btn = $('<span/>', {
                'class': 'label label-' + status.color,
                'html': status.status
            });
            $('#orderDetailPanel [data-role=status]').html(btn);
        }

        function initOrderDetailTable() {
            $('#order-detail-table').dataTable({
                "bRetrieve": true,
                "bServerSide": true,
                "bScrollCollapse": true,
                "sAjaxSource": "@Url.Action("LoadOrderDetail")",
                "bProcessing": true,
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "id", "value": currentId },
                                { "name": "check", "value": $('input:radio[name=searchBy]:checked').val() });
                },
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "Tên sản phẩm",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }

                },
                "aoColumnDefs": [
                    { "aTargets": [0, 1, 2, 3, 4], "bSortable": false },
                    //{
                    //    "aTargets": [2],
                    //    "fnRender": function (o) {
                    //        var money = o.aData[2].toMoney(0, ',', '.');
                    //        return money;
                    //    }
                    //}
                ],
                "bAutoWidth": false
            }).fnSetFilteringDelay(delaySearch);
        }


        $(document).on('click', '#order-detail-submit', function () {
            //console.log(currentId, $('#store-list').val());
            $.ajax({
                url: '@Url.Action("ChangeDeliveryStore","Delivery")',
                type: 'POST',
                data: {
                    id: currentId,
                    newStoreId: $('#store-list').val()
                },
                success: function (rp) {
                    if (rp.success) {
                        ShowMessage('Thay đổi cửa hàng thành công', 2);
                        RefreshOrderTable();
                        $('#orderDetailPanel').modal('hide');
                    } else {
                        ShowMessage('Thay đổi cửa hàng thất bại', 1);
                    }
                },
                fail: function () {
                    ShowMessage('Thay đổi cửa hàng thất bại', 1);
                }
            });
        });
    });
    //function DeleteOrderOnline(orderId) {
    //    bootbox.dialog({
    //        title: "<h5>Xác nhận<h5>",
    //        message: "<div style='font-size:15px'>Bạn có muốn xóa hóa đơn này không?</div>",
    //        buttons: {
    //            "ok": {
    //                "label": "<i class='fa fa-ok'></i> Đồng ý",
    //                "className": "btn-sm btn-success",
    //                "callback": function () {
    //                    window.OnlineOrder.removeOrderDetail(orderId);
    //                }
    //            },
    //            "close": {
    //                "label": "<i class='fa fa-remove'></i> Đóng",
    //                "className": "btn-sm btn-danger",
    //                "callback": function () {
    //                    bootbox.hideAll();
    //                }
    //            }
    //        }
    //    });
    //}

    //$.fn.serializeObject = function () {
    //    var o = {};
    //    var a = this.serializeArray();
    //    $.each(a, function () {
    //        if (o[this.name] !== undefined) {
    //            if (!o[this.name].push) {
    //                o[this.name] = [o[this.name]];
    //            }
    //            o[this.name].push(this.value || '');
    //        } else {
    //            o[this.name] = this.value || '';
    //        }
    //    });
    //    return o;
    //};
</script>
