﻿@model HmsService.ViewModels.OrderViewModel

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Chi tiết hóa đơn</h4>
        </div>
        <div class="modal-body">
            <div class="clearfix">
                <div class="col-md-12">
                    <label class="control-label text-left text-bold col-md-6">Tên khách hàng:</label>
                    <label class="control-label text-left col-md-6" data-role="customer-name"> @(this.Model.CustomerName!= null? this.Model.CustomerName: "Chưa có khách hàng")</label>
                </div>
                <div class="col-md-12">
                    <label class="control-label text-left text-bold col-md-6">Địa chỉ giao hàng:</label>
                    <label class="control-label text-left col-md-6" data-role="delivery-address"> @this.Model.DeliveryAddress</label>
                </div>
                <div class="col-md-12">
                    <label class="control-label text-left text-bold col-md-6">Điện thoại:</label>
                    <label class="control-label text-left col-md-6" data-role="customer-phone"> @(this.Model.Customer != null ? this.Model.Customer.Phone: "Chưa có khách hàng")</label>
                </div>
                <div class="col-md-12">
                    <label class="control-label text-left text-bold col-md-6">Thời gian đặt hàng:</label>
                    <label class="control-label text-left col-md-6" data-role="order-time"> @(this.Model.CheckInDate.HasValue ? this.Model.CheckInDate.Value.ToString("dd/MM/yyyy H:mm:ss") : "N/A")</label>
                </div>
                <div class="col-md-12">
                    <label class="control-label text-left text-bold col-md-6 p-t-10">Cửa hàng:</label>

                    @*<label id="store" class="control-label text-left col-md-6" data-role="storeId-name"> </label>*@
                    <div class="fg-line col-md-6 myOrderDetail">
                        <div class="select">
                            <select id="store-list" class="control-label text-left form-control valid ">
                                @foreach (var item in this.Model.AvailableStore)
                                {
                                    <option value="@item.Value" @(item.Selected ? "selected" : null)>@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 assignStore">
                    <label class="control-label text-left text-bold col-md-6">Trạng thái:</label>
                    <div class="col-md-6">
                        @*<input data-role="status" checked="" type="checkbox" class="ace ace-switch ace-switch-5">*@
                        <label class="control-label text-left col-md-6" data-role="status"> </label>
                        <span class="lbl middle"></span>
                    </div>
                </div>
            </div>
            @*<div id="Item-order">

                </div>*@
            <table class="table table-bordered table-hover" id="order-detail-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giảm giá (%)</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="modal-footer">
            <a class="btn btn-success" data-dismiss="modal" aria-label="Close">Thoát</a>
            <a class="btn btn-primary" id="order-detail-submit">Xác nhận</a>
        </div>
    </div>
</div>