﻿@model ProductItemCategoryViewModel
@{
    ViewBag.Title = "Nhóm nguyên liệu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h3>Danh sách nhóm nguyên liệu</h3>
            </div>
                <div class="col-md-4">
                    <a href="#" id="btnCreate" role="button" data-toggle="modal" data-target="#Modal-addNewCategory" class="btn btn-primary pull-right ">
                        <i class="zmdi zmdi-plus"></i>   Thêm nhóm nguyên liệu
                    </a>
                </div>
        </div>
        <hr />
    </div>

    <!-- Customer Table -->
    <div class="card-padding">
        <div class="row">
            <div role="tabpanel" class="tab-pane active" id="allcust">
                <!-- Datatable -->
                <div class="col-md-12">
                    <table id="itemCategoryDatatable" class="table table-striped table-bordered table-hover" style="width: 100% !important">
                        <thead>
                            <tr>
                                <th>
                                    <label class="">STT</label>
                                </th>
                                <th>
                                    <label class="">Nhóm nguyên liệu</label>
                                </th>
                                <th>
                                    <label class="">Phân loại</label>
                                </th>
                                <th>
                                    <label class="">Tùy chọn</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<div id="Modal-addNewCategory" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thêm nhóm nguyên liệu</h4>
            </div>
            <div class="modal-body">
                <form id="CreateEditForm">
                    <input type="hidden" name="FormMode" value="Create" />
                    <input type="hidden" name="CateID" value="" />

                    <div class="form-horizontal">
                        <div id="FormError" class="alert alert-danger" style="display: none; padding: 10px; margin-left: 10px"></div>
                        <div id="FormSuccess" class="alert alert-success" style="display: none; padding: 10px; margin-left: 10px"></div>
                        <div class="form-group">
                            @Html.Label("Tên nhóm nguyên liệu", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.CateName, new { @class = "col-sm-12 form-control" })
                                    @*@Html.TextBox("CateName", "", new { @class = "col-sm-12" })*@
                                    @Html.ValidationMessage("CateName", htmlAttributes: new { @class = "error-message", style = "color: red;" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Phân loại", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.Type, new { @class = "col-sm-12 form-control" })
                                    @*@Html.TextBox("Type", "", new { @class = "col-sm-12" })*@
                                    @Html.ValidationMessage("Type", htmlAttributes: new { @class = "error-message", style = "color: red;" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input name="Active" id="Active" type="hidden" value="" />
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">

                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnSubmit" class="btn btn-primary">Hoàn tất</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {
        InitDatatable();

        function ProductItemCategoryDataProcess() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllItemCategory", "ProductItemCategory")',

                success: function (result) {

                    //console.log(result.aaData);
                    InitDatatable(result.aaData);
                }
            });
        };
        function InitDatatable() {
            $("#itemCategoryDatatable").dataTable({
                "sAjaxSource": "@Url.Action("GetAllItemCategory", "ProductItemCategory")",
                "bSort": true,
                "bRetrieve": true,
                "bScrollCollapse": true,
                //"data": data,
                "bProcessing": true,
                "iDisplayLength": 10,
                "aLengthMenu": [10, 25, 50],
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    },
                    "sSearchPlaceholder": "Nhóm nguyên liệu"

                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0,2],
                        "sClass": "text-center",
                        "bSortable": false,
                        "bSearchable": false
                    },
                    {
                        "aTargets": [1],
                        "bSortable": false,
                        "sClass": "text-center",
                        "bSearchable": true
                    },
                    {
                        "aTargets": [3],
                        "mRender": function (data, type, row) {
                            var data = row[3]
                            return "<a class='btn btn-sm btn-primary' id='edit-category-btn' data-id='" + data
                                + "' title='Chỉnh sửa' onclick='EditCategory(" + data + ")'><i class='glyphicon  glyphicon-pencil'></i></a>"
                       + " <a class='btn btn-sm btn-danger' id='edit-category-btn' data-id='" + data
                                + "' title='Xóa' onclick='deleteItem(" + data + ")'><i class='glyphicon  glyphicon-trash'></i></a>";
                        },
                        "bSortable": false
                    }
                ],
                "bAutoWidth": false,

            });
        }
        $("#btnCreate").click(function () {
            $('#CateName').val("");
            $('#CateNameEng').val("");
            $('#Type').val("");
            $("input[name='FormMode']").val("Create");
            $(".modal-title").html("Thêm nhóm nguyên liệu");
        });

        // Button submit on modal form
        $("#btnSubmit").click(function () {
            // clear error
            $(".error-message").html("");
            $("#FormError").hide();
            $("#FormError").html("");
            $("#FormSuccess").hide();
            $("#FormSuccess").html("");

            var hasError = false;

            // validating
            if ($("input[name='CateName']").val() == "") {
                $("span[data-valmsg-for='CateName']").html("Tên nhóm nguyên liệu không được bỏ trống");
                hasError = true;
            }

            var type = $("input[name='Type']").val();
            if (type == "") {
                $("span[data-valmsg-for='Type']").html("Vui lòng nhập loại nhóm nguyên liệu.");
                hasError = true;
            } else {
                if (!/^[0-9 ]+$/.test(type) || type.length > 15) {
                    $("span[data-valmsg-for='Type']").html("Phân loại nhóm nguyên liệu không hợp lệ.");
                    hasError = true;
                }
            }


            // submit
            if (!hasError) {
                $("#CreateEditForm").submit();
            }
        });


        // Initial submit form
        $("#CreateEditForm").submit(function () {
            var formData = new FormData($(this)[0]);
            $.ajax({
                url: '@Url.Action("CreateEditCategory")',
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                    if (data.success) {
                        if (data.type == "create") {
                            $("#Modal-addNewCategory").modal("hide");
                            $("#CreateEditForm")[0].reset();
                            RefreshTable();
                            ShowMessage("Thêm nhóm nguyên liệu thành công", 2);

                        } else if (data.type == "edit") {
                            //$("#FormSuccess").html(data.msg);
                            //$("#FormSuccess").show();
                            $("#Modal-addNewCategory").modal("hide");
                            RefreshTable();
                            ShowMessage("Cập nhật nhóm nguyên liệu thành công", 2);
                        }
                        modalModified = true;
                    } else {
                        $("#FormError").html(data.msg);
                        $("#FormError").show();
                        RefreshTable();
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });

            return false;
        });

        // Button close on modal form
        $("#btnModalClose").click(function () {
            $("#Modal-addNewCategory").modal("hide");
            if (modalModified) location.reload();
        });
    })

    // Edit a category
    function EditCategory(id) {

        $.ajax({
            url: '@Url.Action("GetCategoryJSon")',
            type: 'POST',
            data: 'id=' + id,
            success: function (data) {
                if (data.success) {
                    // clear error
                    $(".error-message").html("");
                    $("#FormError").hide();
                    $("#FormError").html("");
                    $("#FormSuccess").hide();
                    $("#FormSuccess").html("");
                    $("#CreateEditForm")[0].reset();

                    $(".modal-title").html("Sửa thông tin nhóm nguyên liệu");
                    $("#Modal-addNewCategory").modal("show");
                    $("input[name='FormMode']").val("Edit");
                    $("input[name='CateID']").val(data.info.CateID);
                    $("input[name='CateName']").val(data.info.CateName);
                    $("input[name='Type']").val(data.info.Type);
                    $("input[name='Active']").val(data.info.Active);
                    $("#btnSubmit").val("Lưu lại");

                    modalModified = false;
                } else {
                    ShowMessage("Không thể lấy dữ liệu của nhóm nguyên liệu này. Xin vui lòng thử lại sau!", 1);
                }
            },
            error: function (e) {
                ShowMessage("Không thể lấy dữ liệu của nhóm nguyên liệu này. Xin vui lòng thử lại sau!", 1);
            }
        });

        modalModified = false;
    }
    function RefreshTable() {
        var oTable = $("#itemCategoryDatatable").dataTable();
        //oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    }

    function deleteItem(x) {
        ShowConfirm("Bạn có muốn xóa?", function () {
            $.ajax({
                url: "@this.Url.Action("DeleteCategory")",
                type: 'POST',
                data: { id: x },
                error: function () {
                    ShowAlert("Không thể xóa. Xin vui lòng thử lại sau!", 1);
                },
                success: function (data) {
                    if (data == "1") {
                        ShowAlert("Xóa nhóm nguyên liệu thành công", 2);
                        RefreshTable();
                    } else {
                        ShowAlert("Không thể xóa. Tồn tại nguyên liệu thuộc nhóm nguyên liệu này!", 1);
                    }
                }
            });
        });
    }

</script>




