﻿@*@model RoutedPageViewModel*@
@{
    ImageCollectionDetailsViewModel imageCollection;
    var username = this.User.Identity.Name;
    var userId = HmsService.Models.Utils.getUserIdFromUsername(username);
    var language = "";
    if (Request.Cookies["language"] != null && "en" == Request.Cookies["language"].Value)
    {
        language = "en";
    }
    else
    {
        language = "vi";
    }
}
<!DOCTYPE html>
<html lang="en" xmlns:input="http://www.w3.org/1999/html">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <title>@(ViewBag.Title) | UniChef.vn</title>
    <!--[if IE]><link rel="shortcut icon" href="/Content/images/icon/fav_32.ico"><![endif]-->
    <link rel="icon" href="/Content/images/icon/fav_32.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/Content/css/popup.css" rel="stylesheet" />
    <link href="~/Content/css/MenuResponsive.css" rel="stylesheet" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="OrderApp" class="ng-cloak">
    <div id="headerNavFixed">
        <header id="header">
            <div class="container container-wisky">
                <div class="row">
                    <!-- Center -->
                    <div class="left col-lg-4 col-sm-4 col-xs-4" id="head-phone">
                        <a class="lang">ENG</a>
                        <a><span>HOTLINE: +84 966 290 290</span></a>
                    </div>
                    <div class="left col-sm-4 col-xs-4" id="menu-btn">
                        <img onclick="openNav()" id="open-menu" src="~/Content/images/icon/hamburgericon2x.png" />
                        <img onclick="closeNav()" id="close-menu" src="~/Content/images/icon/cancel_2x.png" />
                    </div>
                    <!-- /Center -->
                    <!-- Right -->

                    <div class="center col-lg-4 col-sm-4 col-xs-4" align="center">
                        <a href="@Html.UrlWithDirectory("trang-chu")">
                            <img class="logo" width="166px" height="70px" src="/Content/images/icon/logo_header_2x.png">
                            <!-- <div class="logo"></div> -->
                        </a>
                    </div>
                    <!-- /Right -->
                    <!-- Left -->
                    <div class="right col-lg-4  col-sm-4 col-xs-4" id="right-head">
                        <div class="clearfix">
                            <div class="action pull-right">
                                <a class="shopping-cart" href="@Html.UrlWithDirectory("gio-hang")"
                                   ng-controller="orderController as vm">
                                    <div class="qty">{{vm.getTotalQuantity()}}</div>
                                    <img class="icon" src="/Content/images/icon/icon_shoppingcart_2x.png" id="shop-icon">
                                </a>
                            </div>
                            <div class="action pull-right">
                                @if (this.User.Identity.Name != null && this.User.Identity.Name != "")
                                {
                                    <span class="authentication">
                                        <img class="icon icon-account" src="/Content/images/icon/icon_signin_2x.png" id="acc-icon">
                                        <a class="sign-in desk-log" href="@Html.UrlWithDirectory("profile")">@(this.User.Identity.Name)</a> -
                                        <a href="/Login/Logoff" onclick="return localStorage.clear()" class="desk-log" data-lang="SignOut">Đăng xuất</a>
                                    </span>
                                    @*<div class="authenticated">
                                            <a>Tài khoản của tôi</a>
                                            <span>&nbsp;-&nbsp;</span>
                                            <a>Đăng xuất</a>
                                        </div>*@
                                }
                                else
                                {
                                    <img class="icon icon-account" src="/Content/images/icon/icon_signin_2x.png" id="acc-icon">
                                    <a class="sign-in" href="@Html.UrlWithDirectory("dang-nhap")" data-lang="SignIn" id="login-d">Đăng Nhập</a>
                                }
                            </div>
                            <div class="action pull-right search-bar" id="search-bar">
                                <button type="button" class="btn btn-link btn-search">
                                    <img class="icon" src="/Content/images/icon/icon_search_2x.png" id="search-icon">
                                </button>
                                <form action="" id="search-form">
                                    <input type="text" name="search-value" value="" placeholder="Tìm kiếm..." required hidden />
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /Left -->
                </div>
            </div>
        </header>
        <div class="panel-group category-products" id="accordian">
            <div id="login-menu">
                @if (this.User.Identity.Name != null && this.User.Identity.Name != "")
                {
                    <span class="authentication-mobile">
                        <img class="icon icon-account" src="/Content/images/icon/icon_signin_2x.png">
                        <a class="sign-in" href="@Html.UrlWithDirectory("profile")">@(this.User.Identity.Name)</a>
                        <a href="/Login/Logoff" style="margin-left:2.5px;" data-lang="SignOut"> - Đăng xuất</a>
                    </span>
                }
                else
                {
                    <img class="icon icon-account" src="/Content/images/icon/icon_signin_2x.png">
                    <a class="sign-in" href="@Html.UrlWithDirectory("dang-nhap")" data-lang="SignIn">Đăng Nhập</a>
                }
            </div>
            <div class="panel-bar">
                <div class="col-xs-1" align="center" style="margin-top:7px">
                    <button type="button" class="btn btn-link btn-search">
                        <img class="icon-responsive" src="/Content/images/icon/icon_search_2x.png" />
                    </button>
                </div>
                <div class="col-xs-8" style="margin-top:3.5px">
                    <form action="" id="search-form" class="form-search-responsive">
                        <input type="text" name="search-value" value="" class="input-search-responsive" />
                    </form>
                </div>
                <div class="col-xs-1" align="center" style="margin-top:7px">
                    <img src="~/Content/images/icon/icon_facebook_2x.png" class="icon-fb-responsive" />
                </div>
                <div class="col-xs-1" align="center" style="margin-top:7px">
                    <img src="~/Content/images/icon/icon_instagram_2x.png" class="icon-responsive" />
                </div>


            </div>
            <div class="panel-bar">
                <a class="lang">ENG</a>

            </div>
        </div>


    </div>

    @RenderBody()
    @* Pop-up coming soon *@
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div align="center">
                <!-- Modal content-->
                <div class="popupcontain" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)">
                    <div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3" style="overflow: hidden;">
                            <img src="~/Content/images/bitmap/comming-soon.gif" id="boiling" />
                        </div>
                        <div class="col-sm-7">
                            <div align="center" style="margin-top:75px;">
                                <img class="logo" style="width:151px; height:66px" src="/Content/images/icon/logo_header_2x.png">
                                <p class="popuptitle">We are launching soon! </p><br />
                                <div class="popuptitleline"></div>
                                <div style="margin-top:30px;">
                                    <p class="infopopup">
                                        Chúng tôi sẽ cập nhật trong thời gian sớm nhất.
                                    </p>
                                    <div class="infopopup" style="margin-top:-27px;">
                                        Mọi thắc mắc và yêu cầu vui lòng gửi email về địa chỉ sales@unichef.vn
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollup"></div>
    <footer id="footer">
        <div class="container container-wisky">
            <div class="row feature-container">
                <div class="col-md-3" id="top-footer">
                    <div class="logo">
                        <a href="@Html.UrlWithDirectory("trang-chu")">
                            <img src="/Content/images/icon/logo_footer_2x.png">
                        </a>
                    </div>
                    <div class="description">
                        <label>138/66 Trương Công Định,</label>
                        <label>Phường 14, Quận Tân Bình, TP.HCM</label>
                        <label style="margin-top: 10px;"><a style="color:white" href="mailto:info@unichef.vn">info@unichef.vn</a> - <a style="color:white" href="mailto:sale@unichef.vn">sale@unichef.vn</a></label>
                    </div>
                </div>
                <div class="col-md-6" style="padding-top: 10px;">
                    <div class="col-md-4 feature" id="mid-foot-1">
                        <ul>
                            <li data-lang="Company">Công ty</li>
                            <li><a href="/gioi-thieu/gioi-thieu" data-lang="Introduction">Giới thiệu</a></li>
                            <li><a href="/gioi-thieu/phuong-cham" data-lang="Value">Giá trị M.A.C</a></li>
                            <li>
                                <a href="/gioi-thieu/doi-tac" data-lang="Partner">Đối tác</a>
                                -
                                <a href="/gioi-thieu/khach-hang" data-lang="Customer">Khách hàng</a>
                            </li>
                            <li><a href="/gioi-thieu/nghe-nghiep" data-lang="MAC_Careers">Nghề nghiệp M.A.C</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 feature" id="mid-foot-2">
                        <ul>
                            <li data-lang="Buy">mua hàng</li>
                            <li><a data-lang="Custom_Requirement" data-toggle="modal" data-target="#myModal">Yêu cầu riêng</a></li>
                            <li><a href="/bang-kich-co" data-lang="Size_Table">Bảng kích cỡ</a></li>
                            <li><a href="@Html.UrlWithDirectory("uu-dai")" data-lang="Deal">Ưu đãi</a></li>
                            <li><a href="~/Upload/MacChef_Catelogue.pdf" data-lang="Get_Catalog">Nhận Catalog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 feature" id="mid-foot-3">
                        <ul>
                            <li data-lang="Customer_Service">dịch vụ khách hàng</li>
                            <li><a href="@Html.UrlWithDirectory("lien-he")" data-lang="Contact">Liên hệ</a></li>
                            <li><a data-lang="Transportation" href="@Html.UrlWithDirectory("phi-van-chuyen")">Vận chuyển</a></li>
                            <li><a data-lang="Account_Information" data-toggle="modal" data-target="#myModal">Thông tin tài khoản</a></li>
                            <li><a data-lang="Policy" href="/doi-tra">Chính sách đổi trả</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 feature" style="padding-top: 10px;" id="mail-foot">
                    <ul>
                        <li data-lang="Get_News">nhận tin tức mới</li>
                    </ul>
                    <div class="search-content">
                        <input placeholder="Địa chỉ email" type="text" name="search-input" data-lang-placeholder="EmailAddress">
                        <button id="search-foot"><img src="/Content/images/icon/icon_arrow_right_2x.png"></button>
                    </div>
                    <div class="social">
                        <a style="margin-right: 40px"><img src="/Content/images/icon/icon_facebook_footer_2x.png"></a>
                        <a><img style="width: 30px" src="/Content/images/icon/icon_instagram_footer_2x.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <nav id="copyright">
        <div class="container container-wisky">
            <div class="clearfix">
                <div class="left pull-left" data-lang="Copyright">&copy 2016 Bản quyền thuộc về UniChef Corp.</div>
                <div class="pull-right">
                    <img id="logo-copyright" src="/Content/images/da-dang-ky-bo-cong-thuong.png" height="45">
                </div>
            </div>
        </div>
    </nav>
    <a href="~/Upload/MacChef_Catelogue.pdf" target="_blank" id="download-cata">
        <img src="/Content/images/icon/icon_document_2x.png"><span data-lang="Download"></span>
    </a>
    <div class="dark-bg" hidden></div>
    <div class="spinner-group">
        <div class="spinner-box">
            <i class="fa fa-spinner fa-spin"></i>
            <div class="spinner-text">Đang xử lý...</div>
        </div>
    </div>
    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", false)
    <script>

        USER_ID = '@(userId)';

        var accordian = $("#accordian");
        function openNav() {
            accordian.css('margin-top', 0 + 'px');
            $("#open-menu").css('display', 'none');
            $("#close-menu").css('display', 'block');
        }

        function closeNav() {
            var resHeight = $("#accordian").height();
            accordian.css('margin-top', -resHeight + 'px');
            $("#open-menu").css('display', 'block');
            $("#close-menu").css('display', 'none');
        }


        $('#accordian .panel-default .panel-heading').click(
           function () {
               $('#accordian .panel-default .panel-heading').find('.minus-img').not($(this).find('.minus-img')).addClass('fade-sub');
               $('#accordian .panel-default .panel-heading').find('.add-img').not($(this).find('.add-img')).removeClass('fade-sub');
               if ($(this).find('.minus-img').hasClass('fade-sub')) {
                   $(this).find('.add-img').addClass('fade-sub');
                   $(this).find('.minus-img').removeClass('fade-sub');
               }
               else {
                   $(this).find('.minus-img').addClass('fade-sub');
                   $(this).find('.add-img').removeClass('fade-sub');
               }

           });

        jQuery(document).ready(function ($) {
            //selector đến menu cần làm việc
            var TopFixMenu = $("#nav");
            var abovemenu = $("#header");

            // dùng sự kiện cuộn chuột để bắt thông tin đã cuộn được chiều dài là bao nhiêu.
            $(window).scroll(function () {
                // Nếu cuộn được hơn 150px rồi
                if ($(this).scrollTop() >= (TopFixMenu.innerHeight() + abovemenu.innerHeight())) {
                    // Tiến hành show menu ra

                    TopFixMenu.addClass("headerFixed");

                    $(".liLogoFixed").removeClass("hidden");
                    $(".liLogoFixed").css("vertical-align", "top");
                    $(".logoFixed").removeClass("hidden");
                    $(".liLogoSearchFixed").removeClass("hidden");
                    $(".liLogoSearchFixed").css("vertical-align", "top");
                    $(".liLogoSearchFixed").css("margin-top", "8px");
                    $(".logoSearchFixed").removeClass("hidden");
                    $(".liLogoAccountFixed").removeClass("hidden");
                    $(".logoAccountFixed").css("vertical-align", "top");
                    $(".logoAccountFixed").css("margin-top", "-5px");
                    $(".logoAccountFixed").removeClass("hidden");
                    $(".liLogoCartFixed").removeClass("hidden");
                    $(".liLogoCartFixed").css("vertical-align", "top");
                    $(".logoCartFixed").removeClass("hidden");
                    $("#filter-panel").removeClass("hidden");
                    $(".navigator ").css("margin-top", "-7px");


                    TopFixMenu.css("background", "#fff");
                    $("#nav li > a").css("color", "#a87b4f");
                    $('.liItem').css("padding-top", "5px");

                    if (!$("#nav ul.nav li.dropdown > a").hasClass("fixedAfter")) {
                        $("#nav ul.nav li.dropdown > a").addClass("fixedAfter");
                    }

                } else {
                    // Ngược lại, nhỏ hơn 150px thì hide menu đi.
                    //marginNav.css('margin-top', 'unset');

                    TopFixMenu.removeClass("headerFixed");

                    $(".liLogoFixed").addClass("hidden");
                    $(".logoFixed").addClass("hidden");
                    $(".liLogoSearchFixed").addClass("hidden");
                    $(".logoSearchFixed").addClass("hidden");
                    $(".liLogoAccountFixed").addClass("hidden");
                    $(".logoAccountFixed").addClass("hidden");
                    $(".liLogoCartFixed").addClass("hidden");
                    $(".logoCartFixed").addClass("hidden");
                    $("#filter-panel").addClass("hidden");
                    $(".navigator ").css("margin-top", "0px");
                    TopFixMenu.css("background", "#a87b4f");

                    $("#nav li > a").css("color", "#fff");
                    $('.liItem').css("padding-top", "0px");

                    $("#nav ul.nav li.dropdown > a").removeClass("fixedAfter");
                }

            }
            )
        })
        function scrollUpBtn() {
            var y = $('body').scrollTop();
            var height = $('body').height();
            var heightFooter = $('#footer').outerHeight() + $('#copyright').outerHeight();
            if (height - y <= 1120) {
                $('.scrollup').addClass("fixedScroll");
                $('.scrollup').css("top", ((height - 50) - heightFooter) + "px");
            }
            else {
                $('.scrollup').removeClass("fixedScroll");
                $('.scrollup').css("top", "90%");
            }
        }


        $(document).ready(function () {
            var TopFixMenu = $("#nav");
            var abovemenu = $("#header");
            $(window).scroll(function () {
                scrollUpBtn();
                if ($(this).scrollTop() >= (TopFixMenu.innerHeight() + abovemenu.innerHeight())) {
                    $('.scrollup').fadeIn();
                } else {
                    $('.scrollup').fadeOut();
                }
            });

            $('.scrollup').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 500);
                return false;
            });

        });
    </script>
</body>
</html>
