﻿@model RoutedPageViewModel
@{
    var categoriesTree = Model.ViewModel<IEnumerable<ProductCategoryTreeViewModel>>("CategoriesTree");
    var saleProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("SaleProduct");
    var trendingProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("TrendingProduct");
    var webSettings = Model.ViewModel<IEnumerable<StoreWebSettingViewModel>>("Settings");
    var coats = Model.ViewModel<ImageCollectionDetailsViewModel>("Coats");
    var pants = Model.ViewModel<ImageCollectionDetailsViewModel>("Pants");
    var apron = Model.ViewModel<ImageCollectionDetailsViewModel>("Apron");
    var listExtraCategoryLayout = Model.ViewModel<IEnumerable<ProductCategoryViewModel>>("ExtraCategoryLayout");
    ImageCollectionDetailsViewModel imageCollection;
    var username = this.User.Identity.Name;
    var userId = HmsService.Models.Utils.getUserIdFromUsername(username);
    var language = "";
    if (Request.Cookies["language"] != null && "en" == Request.Cookies["language"].Value)
    {
        language = "en";
    }
    else
    {
        language = "vi";
    }
}
<!DOCTYPE html>
<html lang="en" xmlns:input="http://www.w3.org/1999/html">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <title>@(ViewBag.Title) | UniChef.vn</title>
    <!--[if IE]><link rel="shortcut icon" href="/Content/images/icon/fav_32.ico"><![endif]-->
    @RenderSection("SEO", false)

    <link rel="icon" href="/Content/images/icon/fav_32.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/Content/css/popup.css" rel="stylesheet" />
    <link href="~/Content/css/MenuResponsive.css" rel="stylesheet" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    @*<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-599eadceab82e479"></script>*@
</head>
<body ng-app="OrderApp" class="ng-cloak">
    <div id="headerNavFixed">
        <header id="header">
            <div class="container container-wisky">
                <div class="row">
                    <!-- Center -->
                    <div class="left col-lg-4 col-sm-4 col-xs-4" id="head-phone">
                        <a class="lang">ENG</a>
                        <a href="tel:@Html.Raw(Html.GetWebSetting(webSettings, "Phone").ToString().Trim())"><span>HOTLINE: @Html.Raw(Html.GetWebSetting(webSettings, "Phone"))</span></a>
                    </div>
                    <div class="left col-sm-4 col-xs-4" id="menu-btn">
                        <img onclick="openNav()" id="open-menu" src="~/Content/images/icon/hamburgericon2x.png" />
                        <img onclick="closeNav()" id="close-menu" src="~/Content/images/icon/cancel_2x.png" />
                    </div>
                    <!-- /Center -->
                    <!-- Right -->

                    <div class="center col-lg-4 col-sm-4 col-xs-4" align="center">
                        <a href="@Html.UrlWithDirectory("trang-chu")">
                            <img class="logo" width="166px" height="70px" src="/Content/images/icon/logo_header_2x.png">
                            <!-- <div class="logo"></div> -->
                        </a>
                    </div>
                    <!-- /Right -->
                    <!-- Left -->
                    <div class="right col-lg-4  col-sm-4 col-xs-4" id="right-head">
                        <div class="clearfix">
                            <div class="action pull-right">
                                <a class="shopping-cart" href="@Html.UrlWithDirectory("gio-hang")"
                                   ng-controller="orderController as vm">
                                    <div class="qty">{{vm.getTotalQuantity()}}</div>
                                    <img class="icon" src="/Content/images/icon/icon_shoppingcart_2x.png" id="shop-icon">
                                </a>
                            </div>
                            <div class="action pull-right">
                                @if (this.User.Identity.Name != null && this.User.Identity.Name != "")
                                {
                                    <span class="authentication">
                                        <img class="icon icon-account" src="/Content/images/icon/icon_signin_2x.png" id="acc-icon">
                                        <a class="sign-in desk-log" href="@Html.UrlWithDirectory("profile")">@(this.User.Identity.Name)</a> -
                                        <a href="/Login/Logoff" onclick="return localStorage.clear()" class="desk-log" data-lang="SignOut">Đăng xuất</a>
                                    </span>
                                    @*<div class="authenticated">
                                            <a>Tài khoản của tôi</a>
                                            <span>&nbsp;-&nbsp;</span>
                                            <a>Đăng xuất</a>
                                        </div>*@
                                }
                                else
                                {
                                    <img class="icon icon-account" src="/Content/images/icon/icon_signin_2x.png" id="acc-icon">
                                    <a class="sign-in" href="@Html.UrlWithDirectory("dang-nhap")" data-lang="SignIn" id="login-d">Đăng Nhập</a>
                                }
                            </div>
                            <div class="action pull-right search-bar" id="search-bar">
                                <button type="button" class="btn btn-link btn-search">
                                    <img class="icon" src="/Content/images/icon/icon_search_2x.png" id="search-icon">
                                </button>
                                <form action="" id="search-form">
                                    <input type="text" name="search-value" value="" placeholder="Tìm kiếm..." required hidden />
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /Left -->
                </div>
            </div>
        </header>
        <div class="panel-group category-products" id="accordian">

            @foreach (var category in categoriesTree)
            {

                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordian" href="#@category.Category.CateID">
                        <a class="panel-title" href="/danh-muc/@(category.Category.SeoName)">

                            @if (language == "vi")
                            {
                                @category.Category.CateName
                            }
                            else
                            {
                                @category.Category.CateNameEng
                            }

                        </a>
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>
                    </div>
                    <div id="@category.Category.CateID" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                @if (new[] { "ao-bep", "quan-bep", "tap-de" }.Contains(category.Category.SeoName))
                                {
                                    if (language == "vi")
                                    {
                                        <li>
                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-economy">DÒNG ECONOMY</a>
                                        </li>
                                        <li>
                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-standard">DÒNG STANDARD</a>
                                        </li>
                                        <li>
                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-premium">DÒNG PREMIUM</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-economy">ECONOMY</a>
                                        </li>
                                        <li>
                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-standard">STANDARD</a>
                                        </li>
                                        <li>
                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-premium">PREMIUM</a>
                                        </li>
                                    }

                                }
                                @{
                                    foreach (var subCate in category.Subcategories.Where(a => a.Category.IsDisplayed == true))
                                    {
                                        <li>
                                            @if (language == "vi")
                                            {
                                                <a href="/danh-muc/@(subCate.Category.SeoName)">@subCate.Category.CateName</a>
                                            }
                                            else
                                            {
                                                <a href="/danh-muc/@(subCate.Category.SeoName)">@subCate.Category.CateNameEng</a>
                                            }

                                        </li>
                                    }
                                    @*if (category.Category.CateName == "Phụ kiện nhà bếp")
                                        {
                                            <li>
                                                <a href="/danh-muc/@(category.Category.SeoName)">Toàn bộ <br /> @category.Category.CateName</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="/danh-muc/@(category.Category.SeoName)">Toàn bộ @category.Category.CateName</a>
                                            </li>
                                        }*@
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                                    }
            @if (language == "vi")
            {
                <div class="panel-outter">
                    <a href="@(Html.UrlWithDirectory("bo-suu-tap", saleProducts.ProductCollection.SEO))">
                        <span>@saleProducts.ProductCollection.Name</span>
                    </a>
                </div>
                <div class="panel-outter">
                    <a href="@(Html.UrlWithDirectory("bo-suu-tap", trendingProducts.ProductCollection.SEO))">
                        <span>@trendingProducts.ProductCollection.Name</span>
                    </a>
                </div>
            }
            else
            {
                <div class="panel-outter">
                    <a href="@(Html.UrlWithDirectory("bo-suu-tap", saleProducts.ProductCollection.SEO))">
                        <span>@saleProducts.ProductCollection.NameEng</span>
                    </a>
                </div>
                <div class="panel-outter">
                    <a href="@(Html.UrlWithDirectory("bo-suu-tap", trendingProducts.ProductCollection.SEO))">
                        <span>@trendingProducts.ProductCollection.NameEng</span>
                    </a>
                </div>
            }

            <div class="panel-outter">
                <a href="@Html.UrlWithDirectory("b2b")">
                    <span data-lang="B2b_design">
                        Thiết kế B2B
                    </span>
                </a>
            </div>
            <div id="login-menu">
                @if (this.User.Identity.Name != null && this.User.Identity.Name != "")
                {
                    <span class="authentication-mobile">
                        <img class="icon icon-account" src="/Content/images/icon/icon_signin_2x.png">
                        <a class="sign-in" href="@Html.UrlWithDirectory("profile")">@(this.User.Identity.Name)</a>
                        <a href="/Login/Logoff" style="margin-left:2.5px;" data-lang="SignOut"> - Đăng xuất</a>
                    </span>
                }
                else
                {
                    <img class="icon icon-account" src="/Content/images/icon/icon_signin_2x.png">
                    <a class="sign-in" href="@Html.UrlWithDirectory("dang-nhap")" data-lang="SignIn">Đăng Nhập</a>
                }
            </div>
            <div class="panel-bar">
                <div class="col-xs-1" align="center" style="margin-top:7px">
                    <button type="button" class="btn btn-link btn-search">
                        <img class="icon-responsive" src="/Content/images/icon/icon_search_2x.png" />
                    </button>
                </div>
                <div class="col-xs-8" style="margin-top:3.5px">
                    <form action="" id="search-form2" class="form-search-responsive">
                        <input type="text" name="search-value" value="" class="input-search-responsive" />
                    </form>
                </div>
                <div class="col-xs-1" align="center" style="margin-top:7px">
                    <img src="~/Content/images/icon/icon_facebook_2x.png" class="icon-fb-responsive" />
                </div>
                <div class="col-xs-1" align="center" style="margin-top:7px">
                    <img src="~/Content/images/icon/icon_instagram_2x.png" class="icon-responsive" />
                </div>


            </div>
            <div class="panel-bar">
                <a class="lang">ENG</a>

            </div>
        </div>

        <nav class="navbar navbar-default" id="nav">
            <div class="container container-wisky">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="liLogoFixed hidden">
                            <a href="@Html.UrlWithDirectory("trang-chu")">
                                <img src="~/Content/images/logo.png" class="logoFixed hidden" />
                            </a>
                        </li>
                        <li class="homeLogo">
                            <a href="/">
                                <span>
                                    <img src="~/Content/images/icon/home_2x.png" />
                                </span>
                            </a>
                        </li>
                        @foreach (var category in categoriesTree)
                        {
                            <li class="dropdown liItem">
                                @if (language == "vi")
                                {
                                    <a href="/danh-muc/@(category.Category.SeoName)">@category.Category.CateName</a>
                                }
                                else
                                {
                                    <a href="/danh-muc/@(category.Category.SeoName)">@category.Category.CateNameEng</a>
                                }

                                <div class="navigator">
                                    <div class="col-left">
                                        <div class="row sub-menu">
                                            @if (new[] { "ao-bep", "quan-bep", "tap-de" }.Contains(category.Category.SeoName))
                                            {
                                                if (language == "vi")
                                                {
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-economy">DÒNG ECONOMY</a>
                                                        </div>
                                                        <div>
                                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-standard">DÒNG STANDARD</a>
                                                        </div>
                                                        <div>
                                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-premium">DÒNG PREMIUM</a>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-economy">ECONOMY</a>
                                                        </div>
                                                        <div>
                                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-standard">STANDARD</a>
                                                        </div>
                                                        <div>
                                                            <a href="/danh-muc/@(category.Category.SeoName)/dong-premium">PREMIUM</a>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            @{
                                                foreach (var subCate in category.Subcategories.Where(a => a.Category.IsDisplayed == true))
                                                {
                                                    <div class="col-sm-12">
                                                        @if (language == "vi")
                                                        {
                                                            <a href="/danh-muc/@(subCate.Category.SeoName)">@subCate.Category.CateName</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/danh-muc/@(subCate.Category.SeoName)">@subCate.Category.CateNameEng</a>
                                                        }

                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="col-center">
                                        @if (new[] { "ao-bep" }.Contains(category.Category.SeoName))
                                        {
                                            imageCollection = coats;
                                        }
                                        else if (new[] { "quan-bep" }.Contains(category.Category.SeoName))
                                        {
                                            imageCollection = pants;
                                        }
                                        else if (new[] { "tap-de" }.Contains(category.Category.SeoName))
                                        {
                                            imageCollection = apron;
                                        }
                                        else
                                        {
                                            imageCollection = null;
                                        }
                                        @if (imageCollection != null)
                                        {
                                            if (language == "vi")
                                            {
                                                <div class="sub-cate">
                                                    <div class="cate-name">@(Html.Raw(imageCollection.Items.Where(q => q.Position == 1).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 1).FirstOrDefault().Title : "DÒNG ECONOMY"))</div>
                                                    <div class="cate-description">
                                                        @(Html.Raw(imageCollection.Items.Where(q => q.Position == 1).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 1).FirstOrDefault().Description : ""))
                                                    </div>
                                                    <a class="btn btn-bordered btn-more" href="/danh-muc/@(category.Category.SeoName)/dong-economy">
                                                        Xem Thêm
                                                    </a>
                                                </div>
                                                <div class="sub-cate">
                                                    <div class="cate-name">@(Html.Raw(imageCollection.Items.Where(q => q.Position == 2).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 2).FirstOrDefault().Title : "DÒNG STANDARD"))</div>
                                                    <div class="cate-description">
                                                        @(Html.Raw(imageCollection.Items.Where(q => q.Position == 2).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 2).FirstOrDefault().Description : ""))
                                                    </div>
                                                    <a class="btn btn-bordered btn-more" href="/danh-muc/@(category.Category.SeoName)/dong-standard">
                                                        Xem Thêm
                                                    </a>
                                                </div>
                                                <div class="sub-cate">
                                                    <div class="cate-name">@(Html.Raw(imageCollection.Items.Where(q => q.Position == 3).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 3).FirstOrDefault().Title : "DÒNG PREMIUM"))</div>
                                                    <div class="cate-description">
                                                        @(Html.Raw(imageCollection.Items.Where(q => q.Position == 3).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 3).FirstOrDefault().Description : ""))
                                                    </div>
                                                    <a class="btn btn-bordered btn-more" href="/danh-muc/@(category.Category.SeoName)/dong-premium">
                                                        Xem Thêm
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="sub-cate">
                                                    <div class="cate-name">@(Html.Raw(imageCollection.Items.Where(q => q.Position == 1).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 1).FirstOrDefault().TitleEng : "ECONOMY"))</div>
                                                    <div class="cate-description">
                                                        @(Html.Raw(imageCollection.Items.Where(q => q.Position == 1).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 1).FirstOrDefault().DescriptionEng : ""))
                                                    </div>
                                                    <a class="btn btn-bordered btn-more" href="/danh-muc/@(category.Category.SeoName)/dong-economy">
                                                        See more
                                                    </a>
                                                </div>
                                                <div class="sub-cate">
                                                    <div class="cate-name">@(Html.Raw(imageCollection.Items.Where(q => q.Position == 2).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 2).FirstOrDefault().TitleEng : "STANDARD"))</div>
                                                    <div class="cate-description">
                                                        @(Html.Raw(imageCollection.Items.Where(q => q.Position == 2).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 2).FirstOrDefault().DescriptionEng : ""))
                                                    </div>
                                                    <a class="btn btn-bordered btn-more" href="/danh-muc/@(category.Category.SeoName)/dong-standard">
                                                        See more
                                                    </a>
                                                </div>
                                                <div class="sub-cate">
                                                    <div class="cate-name">@(Html.Raw(imageCollection.Items.Where(q => q.Position == 3).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 3).FirstOrDefault().TitleEng : "PREMIUM"))</div>
                                                    <div class="cate-description">
                                                        @(Html.Raw(imageCollection.Items.Where(q => q.Position == 3).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 3).FirstOrDefault().DescriptionEng : ""))
                                                    </div>
                                                    <a class="btn btn-bordered btn-more" href="/danh-muc/@(category.Category.SeoName)/dong-premium">
                                                        See more
                                                    </a>
                                                </div>
                                            }

                                        }
                                        @{foreach (var subCate in category.Subcategories.Where(a => a.Category.IsDisplayed == true))
                                            {
                                                if (language == "vi")
                                                {
                                                    <div class="sub-cate">
                                                        <div class="cate-name">@(subCate.Category.CateName)</div>
                                                        <div class="cate-description">
                                                            @(Html.Raw(subCate.Category.Description))
                                                        </div>
                                                        <a class="btn btn-bordered btn-more" href="/danh-muc/@(subCate.Category.SeoName)">
                                                            Xem Thêm
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="sub-cate">
                                                        <div class="cate-name">@(subCate.Category.CateNameEng)</div>
                                                        <div class="cate-description">
                                                            @(Html.Raw(subCate.Category.DescriptionEng))
                                                        </div>
                                                        <a class="btn btn-bordered btn-more" href="/danh-muc/@(subCate.Category.SeoName)">
                                                            See more
                                                        </a>
                                                    </div>
                                                }
                                            }
                                            if (language == "vi")
                                            {
                                                <div class="sub-cate">
                                                    <div class="cate-name">@(category.Category.CateName)</div>
                                                    <div class="cate-description">
                                                        @(Html.Raw(category.Category.Description))
                                                    </div>
                                                    <a class="btn btn-bordered btn-more" href="/danh-muc/@(category.Category.SeoName)">
                                                        Xem Thêm
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="sub-cate">
                                                    <div class="cate-name">@(category.Category.CateNameEng)</div>
                                                    <div class="cate-description">
                                                        @(Html.Raw(category.Category.DescriptionEng))
                                                    </div>
                                                    <a class="btn btn-bordered btn-more" href="/danh-muc/@(category.Category.SeoName)">
                                                        See more
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="col-right image-wrapper">
                                        @{
                                            if (imageCollection != null)
                                            {
                                                <div class="image" data-href="/danh-muc/@(category.Category.SeoName)/dong-economy" style="background-image: url('@Html.Raw(imageCollection.Items.Where(q => q.Position == 1 && q.ImageUrl.Length!=0).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 1).FirstOrDefault().ImageUrl : category.Category.PicUrl)')"></div>
                                                <div class="image" data-href="/danh-muc/@(category.Category.SeoName)/dong-standard" style="background-image: url('@Html.Raw(imageCollection.Items.Where(q => q.Position == 2 && q.ImageUrl.Length!=0).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 2).FirstOrDefault().ImageUrl : category.Category.PicUrl)')"></div>
                                                <div class="image" data-href="/danh-muc/@(category.Category.SeoName)/dong-premium" style="background-image: url('@Html.Raw(imageCollection.Items.Where(q => q.Position == 3 && q.ImageUrl.Length!=0).FirstOrDefault() != null ? imageCollection.Items.Where(q => q.Position == 3).FirstOrDefault().ImageUrl : category.Category.PicUrl)')"></div>
                                            }
                                            else
                                            {
                                                <div class="image" data-href="/danh-muc/@(category.Category.SeoName)/dong-economy" style="background-image: url('@Html.Raw(category.Category.PicUrl)')"></div>
                                                <div class="image" data-href="/danh-muc/@(category.Category.SeoName)/dong-standard" style="background-image: url('@Html.Raw(category.Category.PicUrl)')"></div>
                                                <div class="image" data-href="/danh-muc/@(category.Category.SeoName)/dong-premium" style="background-image: url('@Html.Raw(category.Category.PicUrl)')"></div>
                                            }

                                            foreach (var subCate in category.Subcategories.Where(a => a.Category.IsDisplayed == true))
                                            {
                                                var picUrl = subCate.Category.PicUrl;
                                                if (picUrl == null || picUrl == "")
                                                {
                                                    picUrl = category.Category.PicUrl;
                                                }
                                                <div class="image" data-href="/danh-muc/@(subCate.Category.SeoName)" style="background-image: url('@picUrl')"></div>
                                            }
                                            <div class="image" data-href="/danh-muc/@(category.Category.SeoName)" style="background-image: url('@Html.Raw(category.Category.PicUrl)')"></div>
                                        }
                                    </div>
                                </div>
                            </li>
                                            }

                        @if (language == "vi")
                        {
                            <li class="liItem">
                                <a href="@(Html.UrlWithDirectory("bo-suu-tap", saleProducts.ProductCollection.SEO))">@saleProducts.ProductCollection.Name</a>
                            </li>
                            <li class="liItem">
                                <a href="@(Html.UrlWithDirectory("bo-suu-tap", trendingProducts.ProductCollection.SEO))">@trendingProducts.ProductCollection.Name</a>
                            </li>
                        }
                        else
                        {
                            <li class="liItem">
                                <a href="@(Html.UrlWithDirectory("bo-suu-tap", saleProducts.ProductCollection.SEO))">@saleProducts.ProductCollection.NameEng</a>
                            </li>
                            <li class="liItem">
                                <a href="@(Html.UrlWithDirectory("bo-suu-tap", trendingProducts.ProductCollection.SEO))">@trendingProducts.ProductCollection.NameEng</a>
                            </li>
                        }

                        <li class="liItem">
                            <a href="@Html.UrlWithDirectory("b2b")" data-lang="B2b_design">Thiết kế B2B</a>
                        </li>
                        <li class="liLogoAccountFixed hidden">
                            @if (this.User.Identity.Name != null && this.User.Identity.Name != "")
                            {
                                <span class="authentication">
                                    <a class="sign-in" href="@Html.UrlWithDirectory("profile")">@(this.User.Identity.Name)</a> -
                                    <a href="/Login/Logoff" data-lang="SignOut">Đăng xuất</a>
                                </span>
                            }
                            else
                            {
                                <a class="sign-in" href="@Html.UrlWithDirectory("dang-nhap")">
                                    <img src="~/Content/images/icon-account.png" class="logoAccountFixed hidden" />
                                </a>
                            }

                        </li>
                        <li class="liLogoCartFixed hidden">
                            <a class="shopping-cart" href="@Html.UrlWithDirectory("gio-hang")"
                               ng-controller="orderController as vm">
                                <div class="qty">{{vm.getTotalQuantity()}}</div>
                                <img src="~/Content/images/icon-shopping-bag.png" class="logoCartFixed hidden" />
                            </a>
                        </li>
                        <li class="liLogoSearchFixed hidden">
                            <button type="button" class="btn btn-link btn-search" style="padding-left:0;" data-toggle="collapse" data-target="#filter-panel">
                                <img src="/Content/images/icon-search.png" class="icon logoSearchFixed hidden">
                            </button>
                        </li>
                    </ul>
                </div>
                <div id="filter-panel" class="collapse filter-panel hidden">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="" id="search-form1">
                                <input type="text" name="search-value" value="" placeholder="Tìm kiếm..." />
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

    </div>

    @RenderBody()
    @* Pop-up coming soon *@
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div align="center">
                <!-- Modal content-->
                <div class="popupcontain" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)">
                    <div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3" style="overflow: hidden;">
                            <img src="~/Content/images/bitmap/comming-soon.gif" id="boiling" />
                        </div>
                        <div class="col-sm-7">
                            <div align="center" style="margin-top:75px;">
                                <img class="logo" style="width:151px; height:66px" src="/Content/images/icon/logo_header_2x.png">
                                <p class="popuptitle">We are launching soon! </p><br />
                                <div class="popuptitleline"></div>
                                <div style="margin-top:30px;">
                                    <p class="infopopup">
                                        Chúng tôi sẽ cập nhật trong thời gian sớm nhất.
                                    </p>
                                    <div class="infopopup" style="margin-top:-27px;">
                                        Mọi thắc mắc và yêu cầu vui lòng gửi email về địa chỉ sales@unichef.vn
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollup"></div>
    <footer id="footer">
        <div class="container container-wisky">
            <div class="row feature-container">
                <div class="col-md-4" id="top-footer">
                    <div class="logo">
                        <a href="@Html.UrlWithDirectory("trang-chu")">
                            <img src="/Content/images/icon/logo_footer_2x.png">
                        </a>
                    </div>
                    <div class="description">
                        @*<label>138/66 Trương Công Định,</label>
                            <label>Phường 14, Quận Tân Bình, TP.HCM</label>*@
                        @*<label>@(Html.GetWebSetting(webSettings, "Address"))</label>*@
                        @*<label style="margin-top: 10px;"><a style="color:white" href="mailto:@(Html.GetWebSetting(webSettings, "MailInfo"))">@(Html.GetWebSetting(webSettings, "MailInfo"))</a> - <a style="color:white" href="mailto:@(Html.GetWebSetting(webSettings, "MailSale"))">@(Html.GetWebSetting(webSettings, "MailSale"))</a></label>*@
                        <label>@(Html.GetWebSetting(webSettings, "CompanyInfo"))</label>
                    </div>
                </div>
                <div class="col-md-5" style="padding-top: 10px;">
                    <div class="col-md-4 feature" id="mid-foot-1">
                        <ul>
                            <li data-lang="Company">Công ty</li>
                            <li><a href="/gioi-thieu/gioi-thieu" data-lang="Introduction">Giới thiệu</a></li>
                            <li><a href="/gioi-thieu/phuong-cham" data-lang="Value">Giá trị M.A.C</a></li>
                            <li>
                                <a href="/gioi-thieu/doi-tac" data-lang="Partner">Đối tác</a>
                                -
                                <a href="/gioi-thieu/khach-hang" data-lang="Customer">Khách hàng</a>
                            </li>
                            <li><a href="/gioi-thieu/nghe-nghiep" data-lang="MAC_Careers">Nghề nghiệp M.A.C</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 feature" id="mid-foot-2">
                        <ul>
                            <li data-lang="Buy">mua hàng</li>
                            <li><a data-lang="Custom_Requirement" data-toggle="modal" data-target="#modal-embroidery-layout">Yêu cầu riêng</a></li>
                            <li><a href="/bang-kich-co" data-lang="Size_Table">Bảng kích cỡ</a></li>
                            <li><a href="@Html.UrlWithDirectory("uu-dai")" data-lang="Deal">Ưu đãi</a></li>
                            <li><a href="~/Upload/MacChef_Catelogue.pdf" data-lang="Get_Catalog">Nhận Catalog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 feature" id="mid-foot-3">
                        <ul>
                            <li data-lang="Customer_Service">dịch vụ khách hàng</li>
                            <li><a href="@Html.UrlWithDirectory("lien-he")" data-lang="Contact">Liên hệ</a></li>
                            <li><a data-lang="Transportation" href="@Html.UrlWithDirectory("phi-van-chuyen")">Vận chuyển</a></li>
                            <li><a data-lang="Account_Information" href="@Html.UrlWithDirectory("profile")">Thông tin tài khoản</a></li>
                            <li><a data-lang="Return_Policy" href="/doi-tra">Chính sách đổi trả</a></li>
                            <li><a data-lang="Terms_and_policies" href="/chinh-sach">Chính sách đổi trả</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 feature" style="padding-top: 10px;" id="mail-foot">
                    <ul>
                        <li data-lang="Get_News">nhận tin tức mới</li>
                    </ul>
                    <div class="search-content">
                        <input placeholder="Địa chỉ email" type="text" name="search-input" id="register-email" data-lang-placeholder="EmailAddress">
                        <button id="search-foot" onclick="submitEmail()"><img src="/Content/images/icon/icon_arrow_right_2x.png"></button>
                    </div>
                    <div class="social">
                        <div class="col-xs-12" style="padding:0px;margin-bottom:15px;">
                            <a href="@Html.Raw(Html.GetWebSetting(webSettings, "Link Facebook").ToString().Trim())" target="_blank" class="col-xs-4 col-sm-4 col-md-3"><img src="~/Content/images/icon/icon_facebook_footer_2x.png"></a>
                            <a href="@Html.Raw(Html.GetWebSetting(webSettings, "Link Twitter").ToString().Trim())" target="_blank" class="col-xs-4 col-sm-4 col-md-3"><img src="~/Content/images/icon/Twitter_2x.png"></a>
                            <a href="@Html.Raw(Html.GetWebSetting(webSettings, "Link Google +").ToString().Trim())" target="_blank" class="col-xs-4 col-sm-4 col-md-3"><img src="~/Content/images/icon/GooglePlus_2x.png"></a>
                        </div>
                        <div class="col-xs-12" style="padding:0px">
                            <a href="@Html.Raw(Html.GetWebSetting(webSettings, "Link Pinterest").ToString().Trim())" target="_blank" class="col-xs-4 col-sm-4 col-md-3"><img src="~/Content/images/icon/pinterest_2x.png"></a>
                            <a href="@Html.Raw(Html.GetWebSetting(webSettings, "Link Instagram").ToString().Trim())" target="_blank" class="col-xs-4 col-sm-4 col-md-3"><img src="/Content/images/icon/icon_instagram_footer_2x.png"></a>
                            <a href="@Html.Raw(Html.GetWebSetting(webSettings, "Link Youtube").ToString().Trim())" target="_blank" class="col-xs-4 col-sm-4 col-md-3"><img src="~/Content/images/icon/youtube_2x.png"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <nav id="copyright">
        <div class="container container-wisky">
            <div class="clearfix">
                <div class="left pull-left" data-lang="Copyright">&copy 2016 Bản quyền thuộc về UniChef Corp.</div>
                <div class="pull-right">
                    @*<img id="logo-copyright" src="/Content/images/da-dang-ky-bo-cong-thuong.png" height="45">*@
                </div>
            </div>
        </div>
    </nav>
    <a href="~/Upload/MacChef_Catelogue.pdf" target="_blank" id="download-cata">
        <img src="~/Content/images/icon/icon_document_2x.png"><span data-lang="Download"></span>
    </a>
    <div class="callCenter" data-toggle="modal" data-target="#popupCallcenter">
        <div class="pulse-ring"></div>
    </div>

    <!-- Modal: ADD EMBROIDERY -->
    <section id="add-embroidery-layout">
        <!-- Modal -->
        <div id="modal-embroidery-layout" class="modal fade modal-embroidery" role="dialog" align="center" style="width:100%; height:100%">
            <div class="outer-embroider">
                <div class="modal-dialog">
                    <div class="clearfix content">
                        <div class="content-left pull-left">
                            <!-- Nav tabs -->
                            <div class="title" data-lang="All_Positions">Tất cả vị trí</div>
                            <ul class="nav nav-pills nav-stacked" role="tablist">
                                @foreach (var extraCate in listExtraCategoryLayout)
                                {
                                    if (language == "vi")
                                    {
                                        <li><a href="#@extraCate.CateID@extraCate.SeoName" data-toggle="tab">@extraCate.CateName</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#@extraCate.CateID@extraCate.SeoName" data-toggle="tab">@extraCate.CateNameEng</a></li>
                                    }

                                }
                            </ul>
                            <button class="btn btn-link btn-close" data-dismiss="modal">
                                <i class="fa fa-times"></i>
                                <span data-lang="Close">Đóng</span>
                            </button>
                        </div>
                        <div class="content-right pull-right">
                            <!-- Tab panes -->
                            <div class="tab-content">

                                @foreach (var extraCate in listExtraCategoryLayout)
                                {
                                    <div class="tab-pane" id="@extraCate.CateID@extraCate.SeoName">
                                        <div class="section word-embroider">
                                            <div class="head">
                                                <label data-lang="Embroidered_name_letter">
                                                    @*<input type="checkbox" name="HasWordEmbroidery" hidden>
                                                        <span class="custom-checkbox"></span>*@
                                                    Thêu tên/chữ *
                                                </label>
                                                <span class="description" data-lang="moneyPerLine">100.000 VNĐ mỗi dòng</span>
                                            </div>
                                            <div class="body">
                                                <ul>
                                                    @foreach (var extraProduct in extraCate.Products.Where(q => q.Att1.Contains("Text")))
                                                    {
                                                    <li class="clearfix">
                                                        @*<div class="checkbox-wrapper pull-left">
                                                                <label>
                                                                    <input type="checkbox" name="line-1">
                                                                    <span class="custom-checkbox" ng-click="vm.addExtraToProduct('@extraProduct.ProductID','@extraProduct.ProductName','@extraProduct.Price','1',vm.Att1[@extraProduct.ProductID], vm.Att2[@extraProduct.ProductID],vm.Att3[@extraProduct.ProductID])"></span>
                                                                </label>
                                                            </div>*@
                                                        <div class="content-wrapper pull-right">
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <input class="custom-textfield" type="text" placeholder="17 character maximum">
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <select class="select">
                                                                        <option value="White">White</option>
                                                                        <option value="Black">Black</option>
                                                                        <option value="Purple">Purple</option>
                                                                        <option value="Blue">Blue</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <select class="select">
                                                                        <option value="Dynamic">Dynamic</option>
                                                                        <option value="Classic">Classic</option>
                                                                        <option value="Mesh">Mesh</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="checkbox-wrapper pull-left">
                                                            <label>
                                                                <input type="checkbox" name="line-1">
                                                                <span class="custom-checkbox"></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    }
                                                </ul>
                                                <div class="notice" data-lang="Embroidered_notice">* Văn bản thêu sẽ được xuất hiện chính xác như đánh máy</div>
                                            </div>
                                        </div>
                                        <div class="section flag-embroider">
                                            <div class="head">
                                                <label data-lang="Embroidered_flag">
                                                    @*<input type="checkbox" name="HasFlagEmbroidery" hidden>
                                                        <span class="custom-checkbox"></span>*@
                                                    Thêu cờ
                                                </label>
                                                <span class="description" data-lang="Embroidered_flag_description">120.000 VND /cờ. Kích thước 2x3.2cm</span>
                                            </div>
                                            <div class="body">
                                                <div class="row">
                                                    @foreach (var extraProduct in extraCate.Products.Where(q => q.Att1.Contains("Flag") && q.ProductType != (int)HmsService.Models.ProductTypeEnum.EmbroideryCustom))
                                                    {
                                                        <div class="col-sm-4">
                                                            <label class="item">
                                                                <input type="checkbox" name="flag">
                                                                <div class="ratio-wrapper ratio-flag flag-radio">
                                                                    <div class="ratio-item" style="background-image: url('@extraProduct.PicURL')">
                                                                    </div>
                                                                </div>
                                                                @if (language == "vi")
                                                                {
                                                                    <div class="name">@extraProduct.ProductName</div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="name">@extraProduct.ProductNameEng</div>
                                                                }

                                                            </label>
                                                        </div>
                                                    }

                                                </div>
                                                <span class="description">Tùy chỉnh</span>
                                                <div class="row">
                                                    @foreach (var extraProduct in extraCate.Products.Where(q => q.Att1.Contains("Flag") && q.ProductType == (int)HmsService.Models.ProductTypeEnum.EmbroideryCustom))
                                                    {
                                                        <div class="col-sm-4">
                                                            <label class="item">
                                                                <input type="checkbox" name="flag">
                                                                <div class="ratio-wrapper ratio-flag flag-radio">
                                                                    <div class="ratio-item" style="background-image: url('@extraProduct.PicURL')">
                                                                    </div>
                                                                </div>
                                                                @if (language == "vi")
                                                                {
                                                                    <div class="name">@extraProduct.ProductName</div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="name">@extraProduct.ProductNameEng</div>
                                                                }

                                                            </label>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <div class="section logo-embroider">
                                            <div class="clearfix">
                                                <div class="head pull-left">
                                                    <label>
                                                        Logo
                                                    </label>
                                                </div>
                                                <div class="body pull-left" data-lang="Embroidered_contact">
                                                    Đội ngũ tư vấn thiết kế của UniChef luôn sẵn sàng hỗ trợ Quý khách cho việc thiết kế in/thêu logo trên trang phục. Nếu Quý khách có sẵn logo, vui lòng gửi email về địa chỉ mail sales@unichef.vn hoặc liên hệ Hotline 0966.290.290 để được hỗ trợ tư vấn cho việc đặt hàng.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- /Modal: ADD EMBROIDERY -->
    @* Pop-up call center *@
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="popupCallcenter" role="dialog">
            <div align="center">
                <!-- Modal content-->
                <div class="popupcontain" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);border:hidden; max-width: 1127px;">
                    <div>

                        <div class="col-md-4 col-xs-12">
                            <img src="~/Content/images/bitmap/callcenter_bitmap_2x.png" id="boiling" />
                            <img src="~/Content/images/bitmap/callcenter_bitmap_2x.png" id="boiling1" hidden />
                        </div><br />
                        <div class="col-md-6 col-xs-12 decription" style="margin-left: 55px;">
                            <div align="center" class="content" style="">
                                <img class="logo" style="" src="/Content/images/icon/logo_header_2x.png">
                                <div class="popuptitleline"></div>
                                <div style="margin-top:30px;">
                                    <p class="infopopup">
                                        Chúng tôi rất vui lòng được đáp ứng nhu cầu của quý khách.
                                        Vui lòng liên hệ chúng tôi qua số điện thoại <a href="tel:0966290290">0966290290</a>
                                        hoặc email <a href="mailto:sales@unichef.vn">sales@unichef.vn</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-bg" hidden></div>
    <div class="spinner-group">
        <div class="spinner-box">
            <i class="fa fa-spinner fa-spin"></i>
            <div class="spinner-text">Đang xử lý...</div>
        </div>
    </div>
    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", false)
    <script>

        USER_ID = '@(userId)';

            var accordian = $("#accordian");
            function openNav() {
                accordian.css('margin-top', 0 + 'px');
                $("#open-menu").css('display', 'none');
                $("#close-menu").css('display', 'block');
            }

            function closeNav() {
                var resHeight = $("#accordian").height();
                accordian.css('margin-top', -resHeight + 'px');
                $("#open-menu").css('display', 'block');
                $("#close-menu").css('display', 'none');
            }


            $('#accordian .panel-default .panel-heading').click(
               function () {
                   $('#accordian .panel-default .panel-heading').find('.minus-img').not($(this).find('.minus-img')).addClass('fade-sub');
                   $('#accordian .panel-default .panel-heading').find('.add-img').not($(this).find('.add-img')).removeClass('fade-sub');
                   if ($(this).find('.minus-img').hasClass('fade-sub')) {
                       $(this).find('.add-img').addClass('fade-sub');
                       $(this).find('.minus-img').removeClass('fade-sub');
                   }
                   else {
                       $(this).find('.minus-img').addClass('fade-sub');
                       $(this).find('.add-img').removeClass('fade-sub');
                   }

               });


            $('.panel-title').click(function (event) {
                event.stopImmediatePropagation();
            });


            jQuery(document).ready(function ($) {

                //selector đến menu cần làm việc
                var TopFixMenu = $("#nav");
                var abovemenu = $("#header");

                // dùng sự kiện cuộn chuột để bắt thông tin đã cuộn được chiều dài là bao nhiêu.
                $(window).scroll(function () {
                    // Nếu cuộn được hơn 150px rồi
                    if ($(this).scrollTop() >= (TopFixMenu.innerHeight() + abovemenu.innerHeight())) {
                        // Tiến hành show menu ra

                        TopFixMenu.addClass("headerFixed");

                    $(".liLogoFixed").removeClass("hidden");
                    $(".liLogoFixed").css("vertical-align", "top");
                    $(".homeLogo").addClass("hidden");
                    $(".logoFixed").removeClass("hidden");
                    $(".liLogoSearchFixed").removeClass("hidden");
                    $(".liLogoSearchFixed").css("vertical-align", "top");
                    $(".liLogoSearchFixed").css("margin-top", "8px");
                    $(".logoSearchFixed").removeClass("hidden");
                    $(".liLogoAccountFixed").removeClass("hidden");
                    $(".logoAccountFixed").css("vertical-align", "top");
                    $(".logoAccountFixed").css("margin-top", "-5px");
                    $(".logoAccountFixed").removeClass("hidden");
                    $(".liLogoCartFixed").removeClass("hidden");
                    $(".liLogoCartFixed").css("vertical-align", "top");
                    $(".logoCartFixed").removeClass("hidden");
                    $("#filter-panel").removeClass("hidden");
                    $(".navigator ").css("margin-top", "-6px");
                    //$("#nav ul.nav li.dropdown").hover(function () {
                    //    this.find("after").css("margin-bottom", "0px");
                    //})



                        TopFixMenu.css("background", "#fff");
                        $("#nav li > a").css("color", "#a87b4f");
                        $('.liItem').css("padding-top", "5px");

                        if (!$("#nav ul.nav li.dropdown > a").hasClass("fixedAfter")) {
                            $("#nav ul.nav li.dropdown > a").addClass("fixedAfter");
                        }

                    } else {
                        // Ngược lại, nhỏ hơn 150px thì hide menu đi.
                        //marginNav.css('margin-top', 'unset');

                        TopFixMenu.removeClass("headerFixed");

                    $(".liLogoFixed").addClass("hidden");
                    $(".logoFixed").addClass("hidden");
                    $(".homeLogo").removeClass("hidden");
                    $(".liLogoSearchFixed").addClass("hidden");
                    $(".logoSearchFixed").addClass("hidden");
                    $(".liLogoAccountFixed").addClass("hidden");
                    $(".logoAccountFixed").addClass("hidden");
                    $(".liLogoCartFixed").addClass("hidden");
                    $(".logoCartFixed").addClass("hidden");
                    $("#filter-panel").addClass("hidden");
                    $(".navigator ").css("margin-top", "0px");
                    //$("#nav ul.nav li.dropdown:hover > a:after ").css("margin-bottom", "-6px");
                    TopFixMenu.css("background", "#a87b4f");

                    $("#nav li > a").css("color", "#fff");
                    $('.liItem').css("padding-top", "0px");

                        $("#nav ul.nav li.dropdown > a").removeClass("fixedAfter");
                    }

                }
                )
            })
            function scrollUpBtn() {
                var y = $('body').scrollTop();
                var height = $('body').height();
                var heightFooter = $('#footer').outerHeight() + $('#copyright').outerHeight();
                if (height - y <= 1180) {
                    $('.scrollup').addClass("fixedScroll");
                    $('.scrollup').css("top", ((height - 50) - heightFooter) + "px");
                }
                else {
                    $('.scrollup').removeClass("fixedScroll");
                    $('.scrollup').css("top", "90%");
                }
            }


            $(document).ready(function () {
                $(".navigator .col-left").niceScroll();
                $(".navigator > .col-center .cate-description").niceScroll();

                var TopFixMenu = $("#nav");
                var abovemenu = $("#header");
                $(window).scroll(function () {
                    scrollUpBtn();
                    if ($(this).scrollTop() >= (TopFixMenu.innerHeight() + abovemenu.innerHeight())) {
                        $('.scrollup').fadeIn();
                    } else {
                        $('.scrollup').fadeOut();
                    }
                });

                $('.scrollup').click(function () {
                    $("html, body").animate({ scrollTop: 0 }, 500);
                    return false;
                });
                $('.modal-embroidery .nav.nav-pills.nav-stacked li:first-child').addClass('active');
                $('.modal-embroidery .tab-pane:first-child').addClass('active');
            });

            function submitEmail() {
                $.ajax({
                    url: 'SWFeedback/SubmitEmail',
                    method: 'POST',
                    data: {
                        Email: $('#register-email').val(),
                        Title: 'Register Email',
                        Content: 'Đăng kí email nhận thông tin',
                        returnUrl: "/",
                    },
                    success: function (data) {
                        swal('Success', 'Đã đăng kí email thành công','success')
                    },
                    error: function (data) {
                        swal('Error', 'Đăng kí email không thành công', 'error')
                    }
                })
            }


    </script>
</body>
</html>
