﻿@model RoutedPageViewModel
@{
    Layout = null;
    var About1 = Model.ViewModel<WebPageViewModel>("About1");
    var About2 = Model.ViewModel<WebPageViewModel>("About2");
    var About3 = Model.ViewModel<WebPageViewModel>("About3");
    var About4 = Model.ViewModel<WebPageViewModel>("About4");
    var About5 = Model.ViewModel<WebPageViewModel>("About5");
    ViewBag.Title = "Giới thiệu";
}
@section SEO{
    <meta name="keywords" content="@Html.Raw(!string.IsNullOrWhiteSpace(About1.MetaKeyword)?About1.MetaKeyword:"")" />
    <meta name="title" content="@Html.Raw(!string.IsNullOrWhiteSpace(About1.SeoName)?About1.SeoName:"")">
    <meta name="description" content="@Html.Raw(!string.IsNullOrWhiteSpace(About1.MetaDescription)?About1.MetaDescription:"")">
    <meta name="keywords" content="@Html.Raw(!string.IsNullOrWhiteSpace(About2.MetaKeyword)?About2.MetaKeyword:"")" />
    <meta name="title" content="@Html.Raw(!string.IsNullOrWhiteSpace(About2.SeoName)?About2.SeoName:"")">
    <meta name="description" content="@Html.Raw(!string.IsNullOrWhiteSpace(About2.MetaDescription)?About2.MetaDescription:"")">
    <meta name="keywords" content="@Html.Raw(!string.IsNullOrWhiteSpace(About3.MetaKeyword)?About3.MetaKeyword:"")" />
    <meta name="title" content="@Html.Raw(!string.IsNullOrWhiteSpace(About3.SeoName)?About3.SeoName:"")">
    <meta name="description" content="@Html.Raw(!string.IsNullOrWhiteSpace(About3.MetaDescription)?About3.MetaDescription:"")">
    <meta name="keywords" content="@Html.Raw(!string.IsNullOrWhiteSpace(About4.MetaKeyword)?About4.MetaKeyword:"")" />
    <meta name="title" content="@Html.Raw(!string.IsNullOrWhiteSpace(About4.SeoName)?About4.SeoName:"")">
    <meta name="description" content="@Html.Raw(!string.IsNullOrWhiteSpace(About4.MetaDescription)?About4.MetaDescription:"")">
    <meta name="keywords" content="@Html.Raw(!string.IsNullOrWhiteSpace(About5.MetaKeyword)?About5.MetaKeyword:"")" />
    <meta name="title" content="@Html.Raw(!string.IsNullOrWhiteSpace(About5.SeoName)?About5.SeoName:"")">
    <meta name="description" content="@Html.Raw(!string.IsNullOrWhiteSpace(About5.MetaDescription)?About5.MetaDescription:"")">
}

<!-- BANNER -->
<img id="banner" src="/Content/images/gioithieu_banner.png">
<!-- BANNER -->
<!-- TABS -->
<div id="tabs">
    <!-- <div class="line"></div> -->
    <div class="container">
        <div class="row">
            <div class="bhoechie-tab-container">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
                    <div class="list-group">
                        <a class="list-group-item active" id="gioi-thieu">
                            @Html.Raw(About1.Title)
                        </a>
                        <a class="list-group-item" id="phuong-cham">
                            @Html.Raw(About2.Title)
                        </a>
                        <a class="list-group-item" id="doi-tac">
                            @Html.Raw(About3.Title)
                        </a>
                        <a class="list-group-item" id="khach-hang">
                            @Html.Raw(About4.Title)
                        </a>
                        <a class="list-group-item" id="nghe-nghiep">
                            @Html.Raw(About5.Title)
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
                    <div class="bhoechie-tab-content ">
                        <div class="title-tab1">@Html.Raw(About1.PageTitle)</div>
                        <div class="line-tab1"></div>
                        <div class="tab-content1">
                            @Html.Raw(About1.PageContent)
                        </div>
                    </div>
                    <div class="bhoechie-tab-content active">
                        <div class="title-tab2">@Html.Raw(About2.PageTitle)</div>
                        <div class="line-tab2"></div>
                        <div class="tab-content2">
                            @Html.Raw(About2.PageContent)
                        </div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="title-tab2">@Html.Raw(About3.PageTitle)</div>
                        <div class="line-tab2"></div>
                        <div class="tab-content3">
                            @Html.Raw(About3.PageContent)
                        </div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="title-tab2">@Html.Raw(About4.PageTitle)</div>
                        <div class="line-tab2"></div>
                        <div class="tab-content4">
                            @Html.Raw(About4.PageContent)
                        </div>
                        <div class="img-tab4"></div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="title-tab2">@Html.Raw(About5.PageTitle)</div>
                        <div class="line-tab2"></div>
                        <div class="tab-content4">
                            @Html.Raw(About5.PageContent)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel-group category-products" id="about-mobile" style="padding-bottom:92px; margin-top:20px">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#about-mobile" href="#gioithieucty">
                <a class="panel-title">
                    <span class="badge pull-right">
                        <i>
                            <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                            <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                        </i>
                    </span>

                    @Html.Raw(About1.Title)
                </a>
            </div>
            <div id="gioithieucty" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="title-tab1">@Html.Raw(About1.PageTitle)</div>
                    <div class="line-tab1"></div>
                    <div class="tab-content1">
                        @Html.Raw(About1.PageContent)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#about-mobile" href="#phuongcham">
                <a class="panel-title">
                    <span class="badge pull-right">
                        <i>
                            <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                            <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                        </i>
                    </span>

                    @Html.Raw(About2.Title)
                </a>
            </div>
            <div id="phuongcham" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="title-tab2">@Html.Raw(About2.PageTitle)</div>
                    <div class="line-tab2"></div>
                    <div class="tab-content2">
                        @Html.Raw(About2.PageContent)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#about-mobile" href="#doitac">
                <a class="panel-title">
                    <span class="badge pull-right">
                        <i>
                            <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                            <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                        </i>
                    </span>

                    @Html.Raw(About3.Title)
                </a>
            </div>
            <div id="doitac" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="title-tab2">@Html.Raw(About3.PageTitle)</div>
                    <div class="line-tab2"></div>
                    <div class="tab-content3">
                        @Html.Raw(About3.PageContent)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#about-mobile" href="#khachhang">
                <a class="panel-title">
                    <span class="badge pull-right">
                        <i>
                            <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                            <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                        </i>
                    </span>

                    @Html.Raw(About4.Title)
                </a>
            </div>
            <div id="khachhang" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="title-tab2">@Html.Raw(About4.PageTitle)</div>
                    <div class="line-tab2"></div>
                    <div class="tab-content4">
                        @Html.Raw(About4.PageContent)
                    </div>
                    <div class="img-tab4"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#about-mobile" href="#mac">
                <a class="panel-title">
                    <span class="badge pull-right">
                        <i>
                            <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                            <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                        </i>
                    </span>

                    @Html.Raw(About5.Title)
                </a>
            </div>
            <div id="mac" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="title-tab2">@Html.Raw(About5.PageTitle)</div>
                    <div class="line-tab2"></div>
                    <div class="tab-content2" style="padding-left: 3px">
                        @Html.Raw(About5.PageContent)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- TABS -->

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#gioi-thieu, #phuong-cham').click(function () {
                console.log('gioi thieu');
                $('#banner').attr('src', '/Content/images/gioithieu_banner.png');
            });

            $('#doi-tac, #khach-hang').click(function () {
                console.log('doi tac');
                $('#banner').attr('src', '/Content/images/doitac_banner.png');
            });

            $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });

            var urlPieces = window.location.href.split('/');
            if (urlPieces.length > 1) {
                var tab = urlPieces[urlPieces.length - 1];
                switch (tab) {
                    case "gioi-thieu":
                        $('#gioi-thieu').click();
                        break;
                    case "phuong-cham":
                        $('#phuong-cham').click();
                        break;
                    case "doi-tac":
                        $('#doi-tac').click();
                        break;
                    case "khach-hang":
                        $('#khach-hang').click();
                        break;
                    case "nghe-nghiep":
                        $('#nghe-nghiep').click();
                        break;
                }
            }

        });

        $('#about-mobile .panel-default .panel-heading').click(
            function () {
                $('#about-mobile .panel-default .panel-heading').find('.minus-img').not($(this).find('.minus-img')).addClass('fade-sub');
                $('#about-mobile .panel-default .panel-heading').find('.add-img').not($(this).find('.add-img')).removeClass('fade-sub');
                if ($(this).find('.minus-img').hasClass('fade-sub')) {
                    $(this).find('.add-img').addClass('fade-sub');
                    $(this).find('.minus-img').removeClass('fade-sub');
                }
                else {
                    $(this).find('.minus-img').addClass('fade-sub');
                    $(this).find('.add-img').removeClass('fade-sub');
                }

            });
    </script>
}
