﻿@model RoutedPageViewModel
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var webPage = Model.ViewModel<WebPageViewModel>("B2B");
    var webPageEng = Model.ViewModel<WebPageViewModel>("B2BEng");
    var success = Request.Params["success"] != null;
    var b2bImageCollection = Model.ViewModel<ImageCollectionDetailsViewModel>("B2B");
    var bannerUrl = "";
    if (b2bImageCollection != null && b2bImageCollection.Items != null)
    {
        bannerUrl = b2bImageCollection.Items.FirstOrDefault().ImageUrl;
    };
    var language = "";
    if (Request.Cookies["language"] != null && "en" == Request.Cookies["language"].Value)
    {
        language = "en";
    }
    else
    {
        language = "vi";
    }
}
@section SEO{
    <meta name="keywords" content="@Html.Raw(webPage.MetaKeyword)" />
    <meta name="title" content="@Html.Raw(@webPage.SeoName)">
    <meta name="description" content="@Html.Raw(@webPage.MetaDescription)">
}
<!-- CONTACT MAIN -->
<section id="contact">
    <img class="banner" src="@bannerUrl" onerror="this.onerror = null; this.src = '/Content/images/product-page/banner.png'">
    <div class="container">
        <div class="col-md-8 discription-content" style="padding-left:0px;padding-right:0px">
            @if (language == "vi")
            {
                <h1 class="contact-head" style="margin-top:60px">@Html.Raw(webPage.PageContent)</h1>
                <div class="line"></div>
                @Html.Raw(webPage.PageContent)
            }
            else
            {
                <h1 class="contact-head" style="margin-top:60px">@Html.Raw(webPageEng.PageContent)</h1>
                <div class="line"></div>
                @Html.Raw(webPageEng.PageContent)
            }

        </div>
    </div>


    <div class="container container-wisky" style="margin-bottom: 55px">
        <div class="row contact-content">
            <div class="col-md-6">
                <form id="form-feedback" action="@(Url.Action("Submit","Feedback"))" method="POST">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="StoreId" value="@(Model.StoreInfo.ID)" />
                    <input type="hidden" name="Active" value="true" />
                    <input type="hidden" name="returnUrl" value="@(Html.UrlWithDirectory("b2b"))" />
                    <input type="hidden" name="Title" value="Thiết kế B2B" />
                    <fieldset>
                        <h2 class="content-title" data-lang="SendUsInformation">Hãy gửi thông tin cho chúng tôi</h2>
                        <div class="form-group">
                            <label data-lang="Fullname_required">Họ và tên*</label>
                            <input type="text" name="Fullname" data-role="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email*</label>
                            <input type="email" name="Email" data-role="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label data-lang="Company">Công ty</label>
                            <input type="text" name="Company" data-role="company" class="form-control">
                        </div>
                        <div class="form-group">
                            <label data-lang="IntentDeliveryArea">Khu vực giao hàng dự kiến</label>
                            <input type="text" id="IntentDeliveryArea" data-role="IntentDeliveryArea" class="form-control">
                        </div>
                        <div class="form-group">
                            <div style="display:inline-block;margin-right:30px">
                                <label data-lang="EmployeeNumber">Số lượng nhân sự</label>
                                <select class="form-control select" id="EmployeeNumber">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                    <option>> 100</option>
                                </select>
                            </div>
                            <div style="display:inline-block;margin-right:30px">
                                <label data-lang="UniformNumber">Số lượng đồng phục/ nhân sự</label>
                                <select class="form-control select" id="UniformNumber">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                    <option>> 100</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label data-lang="BuyUniformTime">Số lần bạn mua đồng phục trong một năm</label>
                            <input type="text" name="DeliveryArea" id="BuyUniformTime" class="form-control">
                        </div>
                        <div class="form-group">
                            <label data-lang="BuyUniformCost">Ngân sách cho một bộ đồng phục (áo & quần)</label>
                            <input type="text" name="DeliveryArea" id="BuyUniformCost" class="form-control">
                        </div>
                        <div class="form-group">
                            <label data-lang="HowDoYouKnownUs">Làm thế nào bạn biết đến chúng tôi</label>
                            <input type="hidden" id="HowDoYouKnownUs" value="" />
                            <div class="col-xs-12" style="padding-left:0px;padding-right:0px;padding-top:10px;margin-bottom: 20px">
                                <label id="">
                                    <input type="radio" id="Friend" value="0">
                                    <div class="custom-radio" data-radio="Friend"></div>
                                </label><span class="custom-radio-gender" data-lang="Friend">Bạn bè</span>
                                <label id="">
                                    <input type="radio" id="Catalog" value="0">
                                    <div class="custom-radio" data-radio="Catalog"></div>
                                </label><span class="custom-radio-gender">Catalog</span>
                                <label id="">
                                    <input type="radio" id="SearchOnInternet" value="0">
                                    <div class="custom-radio" data-radio="SearchOnInternet"></div>
                                </label><span class="custom-radio-gender" data-lang="SearchOnInternet">Tìm kiếm trên internet</span>
                                <label id="">
                                    <input type="radio" id="Other" value="0">
                                    <div class="custom-radio" data-radio="Other"></div>
                                </label><span class="custom-radio-gender" data-lang="Other">Khác</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label data-lang="CanWeHelpYou">Chúng tôi có thể giúp gì cho bạn</label>
                            <input type="hidden" name="Content" id="HiddenContent" />
                            <textarea rows="8" class="form-control" data-role="note" id="Content"></textarea>
                        </div>
                        <input type="button" value="GỬI" id="btn-send" data-lang-value="SEND" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">

        $(document).on('click', '#btn-send', function() {
            sendMess();
        });

        function sendMess() {
            // debugger
            var emailReg = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var nameReg = /[a-zA-Z\s?]$/;
            var phoneReg = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
            if (!nameReg.test($('[data-role="name"]').val())) {
                $('[data-role="name"]').focus();
                swal("Warning!", "Vui lòng nhập họ và tên");
                return;
            }
            if (!emailReg.test($('[data-role="email"]').val())) {
                $('[data-role="email"]').focus();
                swal("Warning!", "Email không chính xác");
                return;
            }
            var other_content = "<br/>";
            other_content = other_content + "Khu vực giao hàng dự kiến: " + $("#IntentDeliveryArea").val() + "<br/>"
                + "Số lượng nhân sự: " + $("#EmployeeNumber").val() + "<br/>"
                + "Số lượng đồng phục/ nhân sự: " + $("#UniformNumber").val() + "<br/>"
                + "Số lần bạn mua đồng phục trong năm: " + $("#BuyUniformTime").val() + "<br/>"
                + "Ngân sách cho một bộ đồng phục: " + $("#BuyUniformCost").val() + "<br/>"
                + "Làm thế nào bạn biết đến chúng tôi: " + $("#HowDoYouKnownUs").val() + "<br/>"
                ;
            $('#HiddenContent').val($('#Content').val() + other_content);

            //if (!phoneReg.test($('[data-role="phone"]').val())) {
            //    $('[data-role="phone"]').focus();
            //    swal("Warning!", "Vui lòng nhập số điện thoại");
            //    return;
            //}
            //if ($('[data-role="note"]').val() == '') {
            //    $('[data-role="note"]').focus();
            //    swal("Warning!", "Vui lòng nhập nội dung tin nhắn");
            //    return;
            //}
            $('#form-feedback').submit();
            //swal("Thành Công", "Yêu cầu của bạn đã được gửi! Xin cảm ơn!", "success")
        }

        $(document).ready(function () {
            $('.custom-radio').click(function () {
                $('#' + $('.custom-radio').data('radio')).attr('checked', true);
                $('#HowDoYouKnownUs').val($(this).data('radio'));
                $('.custom-radio').not(this).each(function () {
                    $('#' + $(this).data('radio')).attr('checked', false);
                });
            });
            @if (success)
            {
                <text>
                    swal("Thành công", "Yêu cầu của bạn đã được gửi! Xin cảm ơn!", "success");
                </text>
            }
        })



    </script>
}