﻿@model RoutedPageViewModel
@using HmsService.Models;
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/MacChefWeb/_Layout.cshtml";
    var username = this.User.Identity.Name;
    var userId = HmsService.Models.Utils.getUserIdFromUsername(username);
    bool hasLogedIn = this.User.Identity.IsAuthenticated && userId != null;
    var brandId = Model.StoreInfo.BrandId;
}

<div id="checkout-page" class="container order-controller" ng-controller="orderController as vm"
     @if (hasLogedIn) { <text> ng-init="vm.loadAllUserDeliveryInfor('@(userId)')" </text>       }>
    <div ng-init="vm.getDeliveryInfo().checkInPerson ='@(username)'"></div>
    <div ng-init="vm.getDeliveryInfo().brandId = @brandId"></div>
    <h1 class="page-title" data-lang="Checkout">Thanh toán</h1>
    <div class="line"></div>
    <!--Tabs-->
    <ul class="nav nav-tabs" align="center">
        <li id="dangnhap" class="active">
            <a @(!hasLogedIn ? "data-toggle=tab" : "") href="#login" data-lang="Checkout_SignIn">1. Đăng nhập</a>
        </li>
        <li id="diachi">
            <a @(hasLogedIn ? "data-toggle=tab" : "") href="#address" data-lang="Checkout_DeliveryAddress" ng-show="'@hasLogedIn'=='True'" ng-click="vm.clearDeliveryInfor(); vn.clearLastTotalDiscount()">2. Địa chỉ giao hàng</a>
        </li>
        <li id="thanhtoan">
            <a @(hasLogedIn ? "data-toggle=tab" : "") href="#payment" data-lang="Checkout_Checkout" ng-click="vm.submitVoucherNoVoucher()" ng-show="vm.selectedUserDeliveryInforIndex >= 0">3. Thanh toán</a>
        </li>
    </ul>
    <!-- Tabs content -->
    <div class="tab-content">
        <!--Checkout step 1-->
        <div id="login" class="tab-pane fade in active">
            <span data-lang="SigninIntro">Bạn đã có tài khoản? Hãy đăng nhập để lưu đơn hàng và tiến hành thanh toán.</span>
            <center><a href="/dang-nhap" class="btn btn-bordered btn-login" data-lang="SignIn">đăng nhập</a></center>
        </div>
        <!--Checkout step 2-->
        <div id="address" class="tab-pane fade" ng-show="@(hasLogedIn?"true":"false")">
            <h3 class="pane-title" data-lang="DeliveryAddress">Địa chỉ giao hàng</h3>
            <span data-lang="PleaseChooseAddress"></span><br />
            <span ng-show="vm.userDeliveryInfors.length == 0" data-lang="NoAddress">
                Bạn chưa có địa chỉ nào.
            </span>
            <div ng-show="vm.userDeliveryInfors.length > 0">
                <span data-lang="ChooseAddress">Chọn địa chỉ giao hàng có sẵn bên dưới:</span>
                <div class="row address-container" id="address-list">
                    <div class="col-sm-8" ng-repeat="address in vm.userDeliveryInfors">
                        <div class="address-content">
                            <input id="address-{{$index}}" type="radio" ng-model="vm.selectedUserDeliveryInforIndex" ng-value="{{$index}}" hidden />
                            <div class="address-text" for="address-{{$index}}" id="label-{{$index}}">
                                <div class="customer-name">
                                    {{address.name}}
                                </div>
                                <div class="customer-address">
                                    <span data-lang="Customer_Address">Địa chỉ</span>
                                    <span>: {{address.address}}, {{address.ward}}, {{address.district}}, {{address.city}}</span>
                                </div>
                                <div class="customer-phone">
                                    <span data-lang="Customer_Phone">Điện thoại</span>
                                    <span>: {{address.phone}}</span>
                                </div>
                            </div>
                            <div class="action">
                                <button class="btn btn-link btn-edit" data-id="{{address.id}}" data-lang="Edit">Chỉnh sửa</button>
                                <span class="v-separator">|</span>
                                <button class="btn btn-link btn-delete" data-id="{{address.id}}" data-lang="Delete">Xoá</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span ng-show="vm.userDeliveryInfors.length > 0" data-lang="Deliver_to_other_address">Bạn muốn giao hàng đến địa chỉ khác?</span>
            <button id="addDeliveryInfo" type="button" class="btn btn-link"><i data-lang="Add_new_address">Thêm địa chỉ giao hàng mới.</i></button>
            <br />
            @* Phần form địa chỉ *@
            <div id="addForm" class="addForm" style="margin-top:40px;">
                <form class="form-horizontal">
                    @* tên *@
                    <div class="form-group spaceform">
                        <label class="col-sm-2 control-label textlabe" data-lang="Fullname_required">Họ tên*</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="nameInput" type="text" data-lang-placeholder="Input_fullname">
                        </div>
                        <label></label>
                    </div>
                    @* sđt *@
                    <div class="form-group spaceform">
                        <label class="col-sm-2 control-label textlabe" data-lang="Phone_Number_required">Điện thoại di động*</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="phoneInput" type="text" data-lang-placeholder="Input_phone">
                        </div>
                    </div>
                    @* tỉnh/thành phố *@
                    <div class="form-group spaceform">
                        <label class="col-sm-2 control-label textlabel" data-lang="Province">Tỉnh/Thành phố*</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="cityInput" type="text" placeholder="Nhập tên tỉnh/thành phố"></select>
                        </div>
                    </div>
                    @* quận/huyện *@
                    <div class="form-group spaceform">
                        <label class="col-sm-2 control-label textlabel" data-lang="District">Quận/Huyện*</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="districtInput" type="text" placeholder="Nhập tên quận/huyện">
                                <option>Vui lòng chọn quận/huyện</option>
                            </select>
                        </div>
                    </div>
                    @* phường/xã *@
                    <div class="form-group spaceform">
                        <label class="col-sm-2 control-label textlabel" data-lang="Ward">Phường/Xã*</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="wardInput" type="text" placeholder="Nhập tên phường/xã">
                                <option>Vui lòng chọn phường/xã</option>
                            </select>
                        </div>
                    </div>
                    @* địa chỉ cụ thể *@
                    <div class="form-group spaceform">
                        <label class="col-sm-2 control-label textlabel" data-lang="Customer_Address_required">Địa chỉ*</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="addressInput" type="text" data-lang-placeholder="Input_address">
                        </div>
                    </div>
                    <div class="form-group spaceform">
                        <label class="col-sm-2 control-label textlabel"></label>
                        <div class="col-sm-6">
                            <p class="textadd" data-lang="Address_type">Để nhận hàng thuận tiện hơn vui lòng cho UniChef biết loại địa chỉ nhận hàng</p>
                        </div>
                    </div>
                    @* radio chọn loại địa chỉ *@
                    <div class="form-group">
                        <label class="col-sm-2 control-label textlabel" data-lang="Type_of_address">Loại địa chỉ</label>
                        <div class="col-sm-5">
                            <div class="customer-info">
                                <div class="option">
                                    <label for="typeAdd1" class="add1cbx">
                                        <input type="radio" id="typeAdd1" name="addr4" />
                                        <span class="custom-checkbox4" style="border-radius:50px;"></span><div class="addtext" data-lang="House">Nhà riêng / Chung cư</div>
                                    </label>
                                    <label for="typeAdd2" style="display:inline-block;" class="add2xbx">
                                        <input type="radio" id="typeAdd2" name="addr4" />
                                        <span class="custom-checkbox4" style="border-radius:50px;"></span><div class="addtext" data-lang="Company_receive">Cơ quan</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-7 line1add" style="border-bottom: solid 1px #dcdcdc;"></label>
                    </div>
                    @*checkbox đặt địa chỉ làm mặc định *@
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <div class="customer-info">
                                <div class="option">
                                    <label for="addDefault" style="width:100%;">
                                        <input type="checkbox" id="addDefault" />
                                        <div id="checkDefaultck" class="custom-checkbox4"></div><span class="addtext" data-lang="Set_as_default">Đặt làm mặc định</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* nút hủy bỏ và order *@
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-5">
                            <button type="reset" class="btn btcancel btn-confirm-order " id="cancelbtn" data-lang="Cancel">HỦY BỎ</button>
                            <button type="button" class="btn btn-bordered btn-confirm-order btorder" style="float:right;" id="orderbtn" data-toggle="tab" data-lang="Proceed_to_payment">TIẾN HÀNH ĐẶT MUA</button>
                        </div>
                    </div>
                </form>
            </div>
            <span ng-show="vm.userDiliveryInfor.length > 0" data-lang="Deliver_to_other_address">Bạn muốn giao hàng đến địa chỉ khác?</span>
        </div>

        <!--Checkout step 3-->
        <div id="payment" class="tab-pane" ng-show="@(hasLogedIn?"true":"false")">
            <div class="row">
                <div class="col-md-8" style="overflow:hidden">
                    <div class="option-delivery">
                        <h3 class="pane-title" data-lang="Gift_code">Gift code hoặc voucher</h3>
                        <div @*class="option-delivery" ng-controller="deliveryController as vm"*@>
                            <div class="body clearfix">
                                <form accept-charset="UTF-8" ng-submit="vm.submitVoucher()">
                                    <input type="text" ng-model="vm.getDeliveryInfo().voucherCode" name="gift-code" class="form-control pull-left" style="width:360px;height:40px;margin-right: 47px;">
                                    <button class="btn btn-bordered" data-lang="Apply" type="submit"
                                            style="width: 121px; height: 40px; border: solid 1px #a87b4f; letter-spacing: 2px; padding: 0;">
                                        Áp dụng
                                    </button>
                                </form>
                                <div id="validVoucher" hidden style="margin-top:20px">
                                    <span data-lang="Valid_voucher" style="color:forestgreen"></span>
                                </div>
                                <div id="invalidVoucher" hidden style="margin-top:20px">
                                    <span data-lang="Invalid_voucher" style="color:orangered"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="pane-title" data-lang="Form_of_delivery">Hình thức giao hàng</h3>
                    <div class="option-delivery" ng-init="vm.clearDeliveryInfor()">
                        <div class="option">
                            <label for="delivery1" id="normalDelivery" ng-click="vm.getDeliveryInfo().deliveryType = @((int)DeliveryTypeEnum.Standard); vm.getDeliveryInfo().deliveryCost = vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].deliveryCost">
                                <input type="radio" id="delivery1" name="delivery" />
                                <div class="custom-checkbox"></div>
                                <div class="option-content">
                                    <span data-lang="Standard_delivery">Giao hàng tiêu chuẩn</span>
                                    @*<span class="transport-fee">Miễn phí</span>*@
                                    <hr />
                                    <span data-lang="Three_days">Dự kiến giao hàng vào 3 ngày sau khi đặt hàng.</span>
                                </div>
                            </label>
                            <label for="delivery2" id="fastDelivery" ng-click="vm.getDeliveryInfo().deliveryType = @((int)DeliveryTypeEnum.Fast); vm.getDeliveryInfo().deliveryCost = vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].deliveryCost + 50000">
                                <input type="radio" id="delivery2" name="delivery" />
                                <div class="custom-checkbox"></div>
                                <div class="option-content">
                                    <span data-lang="Fast_delivery">Giao hàng hoả tốc (trong 24h)</span>
                                    <span class="transport-fee">50.000 VND</span>
                                    <hr />
                                    <span data-lang="Next_day">Dự kiến giao hàng từ 9:00 - 12:00 ngày hôm sau.</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <h3 class="pane-title" data-lang="Form_of_payment">HÌNH THỨC THANH TOÁN</h3>
                    <div class="option-payment">
                        <div class="option">
                            <label for="payment1" id="cashPayment" ng-click="vm.getDeliveryInfo().paymentMethod = @((int)PaymentMethod.Cash)">
                                <input type="radio" id="payment1" name="payment" />
                                <div class="custom-checkbox"></div>
                                <div class="option-content">
                                    <span data-lang="COD">Thanh toán tiền mặt khi nhận hàng (Ship COD)</span>
                                </div>
                            </label>
                            <label for="payment2" ng-click="vm.getDeliveryInfo().paymentMethod = @((int)PaymentMethod.Card)">
                                <input type="radio" id="payment2" class="toggle-radio" name="payment" data-target="#personal-transfer" />
                                <div class="custom-checkbox"></div>
                                <div class="option-content">
                                    <span data-lang="Personal_transfer">Chuyển khoản cá nhân</span>
                                    <div class="expand-content" id="personal-transfer">
                                        <hr />
                                        <span data-lang="Required_information_to_transfer">
                                            Để hoàn thành thủ tục thanh toán,
                                            xin quý khách vui lòng chuyển khoản theo thông tin sau đây:
                                        </span>
                                        <br /><br />
                                        <i data-lang="Bank_name">[Tên ngân hàng - Chi nhánh ngân hàng]</i>
                                        <br />
                                        <b data-lang="Account_number">Số Tài Khoản</b>: <i data-lang="Account_number2">[số tài khoản]</i>
                                        <br />
                                        <b data-lang="Account_holder">Chủ Tài Khoản</b>: <i data-lang="Fullname_account_holder">[Họ và tên chủ tài khoản]</i>
                                        <br /><br />
                                        <span data-lang="Info">
                                            Sau khi giao dịch thành công, UniChef sẽ liên hệ với quý khách bằng điện thoại trong vòng 3 ngày
                                            để xác nhận đơn hàng.
                                            Cảm ơn quý khách đã tin tưởng và sử dụng dịch vụ của UniChef.
                                        </span>
                                    </div>
                                </div>
                            </label>
                            <label for="payment3" ng-click="vm.getDeliveryInfo().paymentMethod" ng-value="">
                                <input type="radio" id="payment3" disabled="disabled" name="payment" />
                                <div class="custom-checkbox disabled"></div>
                                <div class="option-content">
                                    <span data-lang="Internet_banking">Thanh toán qua thẻ ATM đăng ký Internet Banking (Miễn phí thanh toán)</span>
                                </div>
                            </label>
                            <label for="payment4" ng-click="vm.getDeliveryInfo().paymentMethod" ng-value="">
                                <input type="radio" id="payment4" disabled="disabled" name="payment" />
                                <div class="custom-checkbox disabled"></div>
                                <div class="option-content">
                                    <span data-lang="Visa">Thanh toán qua thẻ thanh toán Quốc tế (Visa, Master Card v…v)</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <h3 class="pane-title" data-lang="Customer_information">THÔNG TIN NGƯỜI MUA</h3>
                    <div class="customer-info">
                        <div class="option">
                            <label for="info1" ng-click="">
                                <input type="checkbox" id="info1" name="info" />
                                <div class="custom-checkbox"></div>
                                <div class="option-content">
                                    <span data-lang="Address_using">Sử dụng họ tên và số điện thoại của địa chỉ giao hàng.</span>
                                </div>
                            </label>
                            <label for="info2" ng-init="vm.getDeliveryInfo().requiredCustomer = 0" ng-click="vm.getDeliveryInfo().requiredCustomer = 1">
                                <input type="checkbox" id="info2" name="info" />
                                <div class="custom-checkbox"></div>
                                <div class="option-content">
                                    <span data-lang="Red_invoice">Yêu cầu xuất hoá đơn đỏ.</span>
                                    @*<hr class="hr-copy" />
                                        <span class="special" data-lang="Next_day">Dự kiến giao hàng từ 9:00 - 12:00 ngày hôm sau.</span>*@
                                </div>
                            </label>
                            <label for="info3" ng-init="vm.getDeliveryInfo().aggrement = false" ng-click="vm.getDeliveryInfo().aggrement = true">
                                <input type="checkbox" id="info3" name="info" />
                                <div class="custom-checkbox"></div>
                                <div class="option-content">
                                    <span data-lang="Aggreement">Tôi đồng ý điều khoản và chính sách của UniChef.</span>
                                </div>
                            </label>
                        </div>
                    </div>

                    <span class="note" data-lang="Note">(Lưu ý: Vui lòng kiểm tra đơn hàng kĩ trước khi đặt mua)</span>
                </div>
                <div class="col-md-4 right">
                    <div>
                        <div ng-show="vm.selectedUserDeliveryInforIndex != -1">
                            <h4 class="title" data-lang="DeliveryAddress">
                                ĐỊA CHỈ GIAO HÀNG
                                <small><a id="editAddress" data-lang="Edit">Chỉnh sửa</a></small>
                            </h4>
                            <hr />
                            <div class="customer-info-content" ng-model="vm.getDeliveryInfo().name = vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].name">
                                <div class="customer-name">
                                    {{vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].name}}
                                </div>
                                <div class="customer-address" ng-model="vm.getDeliveryInfo().address = vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].address +', '+ vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].ward +', '+ vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].district +', '+ vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].city">
                                    <span data-lang="Address2">Địa chỉ:</span> <span>{{vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].address}}, {{vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].ward}}, {{vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].district}}, {{vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].city}}</span>
                                </div>
                                <div class="customer-phone" ng-model="vm.getDeliveryInfo().phone = vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].phone">
                                    <span data-lang="Phone2"> Điện thoại:</span> <span>{{vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].phone}}</span>
                                </div>
                                <div class="customer-phone" ng-model="vm.getDeliveryInfo().areaId = vm.userDeliveryInfors[vm.selectedUserDeliveryInforIndex].areaId"></div>
                            </div>
                        </div>
                        <h4 class="title" data-lang="Ordered_product">
                            SẢN PHẨM ĐÃ ĐẶT
                        </h4>
                        <hr />
                        <div class="ordered">
                            <div ng-init="limit = 2"></div>
                            <div class="row product-content" ng-repeat="orderItem in vm.getShoppingCart() | limitTo: limit">
                                <div class="col-sm-4">
                                    <img class="img-responsive" ng-src="{{orderItem.image}}" />
                                </div>

                                <div class="col-sm-6 product-detail">
                                    <div class="product-name">
                                        {{orderItem.name}}
                                    </div>
                                    <div class="product-code">
                                        {{orderItem.code}}
                                        <span class="quantity">x&nbsp;{{orderItem.quantity}}</span>
                                    </div>
                                    <div class="product-color-size">
                                        <span data-lang="Color">Màu sắc</span>
                                        <div class="color" style="border:solid 0.2px #979797;background-image:url('{{orderItem.colorUrl}}')"></div>
                                    </div>
                                    <div class="product-color-size">
                                        <span>Size&nbsp;</span>
                                        <span id="pro-size">{{orderItem.size}}</span>
                                    </div>
                                    <div class="product-price">{{orderItem.price - (orderItem.price*orderItem.dispercent/100) | currency : "" : 0}} VND</div>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-default btn-remove-cart" id="remove-cart-checkout" ng-click="vm.removeOrder(orderItem)">
                                        <img height="20" width="20" src="/Content/images/icon/icon_remove_2x.png">
                                    </button>
                                </div>
                            </div>
                            <center><a ng-hide="limit === vm.getShoppingCart().length" ng-show="limit === 2" ng-click="limit = vm.getShoppingCart().length" class="all-product" data-lang="Show_all">Xem tất cả</a></center>
                            <center><a ng-hide="limit === 2" ng-click="limit = 2" ng-show="limit === vm.getShoppingCart().length" class="all-product" data-lang="Hide2">Thu gọn</a></center>
                        </div>
                        <h4 class="title" data-lang="Total_order_value">
                            TỔNG GIÁ TRỊ ĐƠN HÀNG
                        </h4>
                        <hr />
                        <div class="order-sumary">
                            <div>
                                <span class="label" data-lang="Subtotal">Tạm tính</span>
                                <span class="price">{{vm.getTotalCost() | currency : "" : 0}} VND</span><br />
                                <span class="label" data-lang="Shipping_Fee">Phí vận chuyển</span>
                                <span class="price">
                                    {{vm.getDeliveryInfo().deliveryCost| currency : "" : 0}} VND
                                </span>
                                <br />
                                <span class="label" data-lang="Discount">Giảm giá</span>
                                <span class="price">{{vm.getLastTotalDiscount() | currency : "" : 0}} VND</span><br />
                                <span class="label" data-lang="Total">Tổng cộng</span>
                                <span class="price" style="color:red;font-size:20px;">{{vm.getTotalCost() + vm.getDeliveryInfo().deliveryCost - vm.getLastTotalDiscount() | currency : "" : 0}} VND</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-bordered btn-confirm-order" ng-click="vm.submitOrder(@(brandId))" data-lang="Proceed_to_payment"> TIẾN HÀNH ĐẶT MUA</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                translation();
            },3000)
        });
        function translation() {
            if (typeof (Storage) !== "undefined") {
                var langMode = localStorage.getItem('langMode');
                if (langMode != null) {
                    langObj = lang[langMode];
                    $('.lang').text(langMode === "en" ? "VI" : "ENG");
                } else {
                    langObj = lang['vi'];
                }
            }
            // Set inner HTML
            $('[data-lang]').each(function () {
                var s = $(this).data('lang');
                $(this).html(langObj[s]);
            });
            // Set placeholder
            $('[data-lang-placeholder]').each(function () {
                var s = $(this).data('lang-placeholder');
                $(this).attr('placeholder', langObj[s]);
            });
            // Set value
            $('[data-lang-value]').each(function () {
                var s = $(this).data('lang-value');
                $(this).attr('value', langObj[s]);
            });
        };
        var hasLogedIn = @(hasLogedIn?"true":"false");

        $(document).on('click', '.address-text', function() {
            $('#addForm').hide();
            $('[href=#payment]').click();
            setTimeout(function () {
                setDefaultDeliveryAndPayment()
            },500);
        });
        $(document).on('click', '#editAddress', function () {
            $('[href="#address"]').click();
        });
        $(document).on('click', '#remove-cart-checkout', function () {
            $('[href=#payment]').click();
        });


        //$('[href=#payment]').on('click', function () {
        //    //setDefaultDeliveryAndPayment();
        //    alert('clicked');
        //});
        function setDefaultDeliveryAndPayment() {
            if (typeof (Storage) !== "undefined") {
                if (JSON.parse(localStorage.getItem("ngStorage-deliveryInfo")).deliveryType == "") {
                    $('#normalDelivery').click();
                }
                if (JSON.parse(localStorage.getItem("ngStorage-deliveryInfo")).paymentMethod == "") {
                    $('#cashPayment').click();
                }
            }
        }
        $(document).ready(function () {
            loadAddress();
            // Default tab-pane
            if (hasLogedIn) {
                $('[href="#address"]').click();
            }
            $('#normalDelivery').on('click', function () {
                setTimeout(function () {
                    $('[href="#payment"]').click();
                },200)
            });
            $('#fastDelivery').on('click', function () {
                setTimeout(function () {
                    $('[href=#payment]').click();
                }, 200)                
            });

        });
        //var closetab = document.getElementById("cancelbtn");
        //closetab.addEventListener('click', function () {
        //    document.getElementById("addForm").class="fade";


    </script>

}
