﻿@model RoutedPageViewModel
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var webPage = Model.ViewModel<WebPageViewModel>("ContactIntro");
    var success = Request.Params["success"] != null;
}
@section SEO{
    <meta name="keywords" content="@Html.Raw(webPage.MetaKeyword)" />
    <meta name="title" content="@Html.Raw(@webPage.SeoName)">
    <meta name="description" content="@Html.Raw(@webPage.MetaDescription)">
}
<!-- CONTACT MAIN -->
<section id="contact">
    <div class="container">
        <div class="col-md-5 discription-content">
            <h1 class="contact-head" data-lang="Contact">liên hệ</h1>
            <div class="line"></div>
            @Html.Raw(webPage.PageContent)
        </div>
        <div class="col-md-7 maps">
            <div id="map-canvas" style="margin-left:5px;"></div>
        </div>
    </div>


    <div class="container container-wisky" style="margin-bottom: 55px">
        <div class="row contact-content">
            <div class="col-md-5 left">
                <h2 class="contact-info-head" data-lang="Contact_Information">thông tin liên lạc</h2>
                <h4 class="company-name" data-lang="Nam_An_Company">Công ty TNHH TMDV SXPT NAM AN</h4>
                <ul>
                    <li class="title" data-lang="Sales_Office">Văn phòng giao dịch</li>
                    <li data-lang="Address">138/66 Trương Công Định, Phường 14, Quận Tân Bình, TP HCM</li>
                    <li class="title" data-lang="Showroom">Cửa hàng trưng bày (sắp khai trương)</li>
                    <li data-lang="Showroom_Address">36/6 Bàu Cát 1, Phường 14, Quận Tân Bình, TP HCM</li>
                    <li class="title" data-lang="Office">Văn phòng</li>
                    <li data-lang="Office_Address">7 Hoàng Diệu, Phường 10, Quận Phú Nhuận, TP HCM</li>
                    <li>
                        <span class="title" data-lang="Business_Code">Mã số doanh nghiệp</span>
                        <span>0312449545</span>
                    </li>
                </ul>
                <h4 style="margin-top: 20px;" data-lang="Phone">Điện THoại</h4>
                <span class="title " data-lang="Office">Văn phòng</span>&nbsp +84 8 66851736
                <br />
                <span class="title " data-lang="Hotline">Đường dây nóng</span>&nbsp +84 966 290 290
                <h4>Email</h4>
                <span>info@unichef.com.vn <br /> sale@unichef.com.vn</span>
            </div>
            <div class="col-md-7 right ">
                <form id="form-feedback" action="@(Url.Action("Submit","Feedback"))" method="POST">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="StoreId" value="@(Model.StoreInfo.ID)" />
                    <input type="hidden" name="Active" value="true" />
                    <input type="hidden" name="returnUrl" value="@(Html.UrlWithDirectory("lien-he"))" />
                    <fieldset>
                        <legend data-lang="Requirement_Information">Thông tin yêu cầu</legend>
                        <div class="form-group">
                            <label data-lang="Fullname">Họ và tên*</label>
                            <input type="text" name="Fullname" data-role="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email*</label>
                            <input type="email" name="Email" data-role="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label data-lang="Phone_Number">Số điện thoại*</label>
                            <input type="text" name="Phone" data-role="phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label data-lang="Order_Number">Đơn hàng số (Nếu có)</label>
                            <input type="text" name="CustomFields" data-role="invoiceId" class="form-control">
                        </div>
                        <div class="form-group">
                            <label data-lang="Requirement_Type">Loại yêu cầu*</label>
                            <select class="form-control select" data-role="order">
                                <option data-lang="Order">Đặt hàng</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label data-lang="Message">Tin nhắn*</label>
                            <textarea rows="8" class="form-control" data-role="note" name="Content"></textarea>
                        </div>
                        <input type="button" value="GỬI" id="btn-send" data-lang-value="SEND" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgeQ3Yw2ALqFlargaigB__2Es8DtI8K7Q&callback=initMap" async defer></script>

    <script type="text/javascript">
        /*Bản đồ*/
        function initMap() {
            var myLatLng = {
                lat: 10.794973,
                lng: 106.640430
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'), {
                center: {
                    lat: 10.794973,
                    lng: 106.640430
                },
                zoom: 18,
                scrollwheel: false,
                mapTypeControl: false,
            });

            // Create a marker and set its position
            var marker = new google.maps.Marker({
                map: map,
                position: myLatLng,
                title: 'UniChef',
            });
            google.maps.event.trigger(map, 'resize');
            google.maps.event.addListener(map, 'click', function(event){
                this.setOptions({scrollwheel:true});
            });
            google.maps.event.addListener(map, 'mouseout', function(event){
                this.setOptions({scrollwheel:false});
            });
        }

        //end maps
        $(document).on('click', '#btn-send', function() {
            sendMess();
        });

        function sendMess() {
            // debugger
            var emailReg = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var nameReg = /[a-zA-Z\s?]$/;
            var phoneReg = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
            if (!nameReg.test($('[data-role="name"]').val())) {
                $('[data-role="name"]').focus();
                swal("Warning!", "Vui lòng nhập họ và tên");
                return;
            }
            if (!emailReg.test($('[data-role="email"]').val())) {
                $('[data-role="email"]').focus();
                swal("Warning!", "Email không chính xác");
                return;
            }
            if (!phoneReg.test($('[data-role="phone"]').val())) {
                $('[data-role="phone"]').focus();
                swal("Warning!", "Vui lòng nhập số điện thoại");
                return;
            }
            if ($('[data-role="note"]').val() == '') {
                $('[data-role="note"]').focus();
                swal("Warning!", "Vui lòng nhập nội dung tin nhắn");
                return;
            }
            $('#form-feedback').submit();
            //swal("Thành Công", "Yêu cầu của bạn đã được gửi! Xin cảm ơn!", "success")
        }

        $(document).ready(function() {
            @if (success)
            {
                <text>
                    swal("Thành công", "Yêu cầu của bạn đã được gửi! Xin cảm ơn!", "success");
                </text>
            }
        })
    </script>
}