﻿@model RoutedPageViewModel
@{
    var language = "";
    if (Request.Cookies["language"] != null && "en" == Request.Cookies["language"].Value)
    {
        language = "en";
        ViewBag.Title = "Deals";
    }
    else
    {
        language = "vi";
        ViewBag.Title = "Ưu đãi";
    }

    var webPage = Model.ViewModel<WebPageViewModel>("Deals1");
    var webPageEng = Model.ViewModel<WebPageViewModel>("DealsEng1");
}
@section SEO{
    <meta name="keywords" content="@Html.Raw(webPage.MetaKeyword)" />
    <meta name="title" content="@Html.Raw(webPage.SeoName)">
    <meta name="description" content="@Html.Raw(webPage.MetaDescription)">
}

<!-- PRODUCT PAGE's BODY -->
<div id="promotion-page">
    <!-- BREADCUM -->
    <section id="breadcum">
        <div class="container container-wisky">
            @if (language == "vi")
            {
                <a href="@Html.UrlWithDirectory("trang-chu")">Trang chủ</a>
            }
            else
            {
                <a href="@Html.UrlWithDirectory("trang-chu")">Home Page</a>
            }

            <i class="fa fa-angle-right"></i>
            @if (language == "vi")
            {
                <a href="@Html.UrlWithDirectory("uu-dai")">Ưu đãi</a>
            }
            else
            {
                <a href="@Html.UrlWithDirectory("uu-dai")">Promotion</a>
            }

        </div>
    </section>
    <!-- /BREADCUM -->
    <!-- Section: OVERVIEW -->
    <section>
        <div class="container">
            <div class="col-sm-9 promotion-content">
                @if (language == "vi")
                {
                    <h1 class="heading">@Html.Raw(webPage.PageTitle)</h1>
                    <div class="description">
                        @Html.Raw(webPage.PageContent)
                    </div>
                }
                else
                {
                    <h1 class="heading">@Html.Raw(webPageEng.PageTitle)</h1>
                    <div class="description">
                        @Html.Raw(webPageEng.PageContent)
                    </div>
                }
                
            </div>            
        </div>
    </section><!-- /Section: OVERVIEW -->
</div><!-- /PRODUCT PAGE's BODY -->

