﻿@model RoutedPageViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
}

<div id="forgot-password" class="container">
    <h1 class="page-title">Quên mật khẩu</h1>
    <div class="line"></div>

    <div class="main-box">
        <form>
            <h2 class="section-title">Bạn quên mật khẩu?</h2>
            <div class="description" data-lang="">
                Vui lòng nhập địa chỉ email của bạn dưới đây. <br>
                Chúng tôi sẽ gửi link khởi tạo mật khẩu mới qua email của bạn.
            </div>
            <input type="text" name="username" class="custom-text-input" placeholder="* Email Address" data-lang-placeholder="">
            <div class="go-back clearfix">
                <div class="pull-left">
                    <a href="@(Html.UrlWithDirectory("dang-nhap"))">
                        <img width="15" height="10" class="icon" src="/Content/images/icon/icon_backarrow_2x.png">
                        Quay về trang đăng nhập
                    </a>
                </div>
                <div class="pull-right require">
                    * Bắt buộc
                </div>
            </div>
            <button type="button" class="btn btn-bordered btn-send">GỬI</button>
        </form>
    </div>
</div>