﻿@model RoutedPageViewModel
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slider = Model.ViewModel<ImageCollectionDetailsViewModel>("Slider");
    var hotProduct = Model.ViewModel<ProductCollectionDetailsViewModel>("HotProducts");
    var customerImage = Model.ViewModel<ImageCollectionDetailsViewModel>("Customer");
    var saleProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("SaleProduct");
    var trendingProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("TrendingProduct");
    var topicHomepage = Model.ViewModel<ImageCollectionDetailsViewModel>("TopicHomepage");
    var webPage = Model.ViewModel<WebPageViewModel>("Index");
    var language = "";
    if (Request.Cookies["language"] != null && "en" == Request.Cookies["language"].Value)
    {
        language = "en";
    }
    else
    {
        language = "vi";
    }
}
@section SEO{
    <meta name="keywords" content="@Html.Raw(webPage.MetaKeyword)" />
    <meta name="title" content="@Html.Raw(webPage.SeoName)">
    <meta name="description" content="@Html.Raw(webPage.MetaDescription)">
}
<div class="home">
    <h1 hidden>@webPage.PageTitle</h1>
    <!-- MAIN SLIDER -->
    <section id="main-slider" class="">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var item in slider.Items)
                {
                    <div class="swiper-slide slide-1">
                        <div class="row">
                            <div class="col-sm-12 left">
                                <div class="ratio-wrapper ratio-wrapper-team-img">
                                    <a href="@Html.Raw(item.Link)"><img class="ratio-item" style="display: block;margin: 0 auto; height:auto" align="middle" src="@item.ImageUrl"></a>
                                </div>
                            </div>
                            @*<div class="col-md-5 right">
                                    <h3 class="slide-title-sm">M.A.C Collection</h3>
                                    <h1 class="slide-title-lg">
                                        THE NEW<br>
                                        <span>SPRING</span><br>
                                        COLLECTION
                                    </h1>
                                </div>*@
                        </div>
                    </div>
                }
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next">
                <img class="icon icon-arrow-right" src="/Content/images/icon/icon_arrow_right_2x.png">
            </div>
            <div class="swiper-button-prev">
                <img class="icon icon-arrow-left" src="/Content/images/icon/icon_arrow_left_2x.png">
            </div>
        </div>
    </section>
    <!-- /MAIN SLIDER -->
    <!-- CATEGORIES -->
    <section id="categories">
        <div class="container container-wisky">
            <div class="row">
                <div class="col-sm-4">
                    <div class="frame">
                        <a href="@Html.UrlWithDirectory("danh-muc", "ao-bep")" class="image image-full" style="background-image: url('@topicHomepage.Items.Where(q=> q.Position ==1).FirstOrDefault().ImageUrl')">
                            
                        </a>
                        @if (language == "vi")
                        {
                            <h3 class="cate">@topicHomepage.Items.Where(q => q.Position == 1).FirstOrDefault().Title</h3>
                        }
                        else
                        {
                            <h3 class="cate">@topicHomepage.Items.Where(q => q.Position == 1).FirstOrDefault().TitleEng</h3>
                        }
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="frame">
                        <a href="@Html.UrlWithDirectory("danh-muc", "tap-de")" class="image image-half" style="background-image: url('@topicHomepage.Items.Where(q=> q.Position ==2).FirstOrDefault().ImageUrl')">
                            
                        </a>
                        @if (language == "vi")
                        {
                            <h3 class="cate">@topicHomepage.Items.Where(q => q.Position == 2).FirstOrDefault().Title</h3>
                        }
                        else
                        {
                            <h3 class="cate">@topicHomepage.Items.Where(q => q.Position == 2).FirstOrDefault().TitleEng</h3>
                        }
                    </div>
                    <div class="breaker"></div>
                    <div class="frame">
                        <a href="@Html.UrlWithDirectory("danh-muc", "non-bep-va-khan-co")" class="image image-half" style="background-image: url('@topicHomepage.Items.Where(q=> q.Position ==3).FirstOrDefault().ImageUrl')">
                            
                        </a>
                        @if (language == "vi")
                        {
                            <h3 class="cate">@topicHomepage.Items.Where(q => q.Position == 3).FirstOrDefault().Title</h3>
                        }
                        else
                        {
                            <h3 class="cate">@topicHomepage.Items.Where(q => q.Position == 3).FirstOrDefault().TitleEng</h3>
                        }
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="frame">
                        <a href="@Html.UrlWithDirectory("danh-muc","quan-bep")" class="image image-full" style="background-image: url('@topicHomepage.Items.Where(q=> q.Position ==4).FirstOrDefault().ImageUrl')">
                            
                        </a>
                        @if (language == "vi")
                        {
                            <h3 class="cate">@topicHomepage.Items.Where(q => q.Position == 4).FirstOrDefault().Title</h3>
                        }
                        else
                        {
                            <h3 class="cate">@topicHomepage.Items.Where(q => q.Position == 4).FirstOrDefault().TitleEng</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /CATEGORIES -->
    <!-- ADS -->
    <section id="ads">
        <div class="container container-wisky">
            <div class="row">
                <div class="col-sm-6">
                    <div class="frame">
                        <a href="@Html.UrlWithDirectory("bo-suu-tap", saleProducts.ProductCollection.SEO)" class="image">
                            <img src="@saleProducts.ProductCollection.Link">
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="frame">
                        <a href="@Html.UrlWithDirectory("bo-suu-tap", trendingProducts.ProductCollection.SEO)" class="image">
                            <img src="@trendingProducts.ProductCollection.Link">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /ADS -->
    <!-- TOP PRODUCTS -->
    <section id="top-products">
        <div class="container container-wisky">
            <h2 class="section-title" data-lang="TopProducts">SẢN PHẨM HÀNG ĐẦU</h2>

            <!-- Component: Product Slider -->
            <div class="component-product-slider">
                <div class="swiper">
                    <!-- Swiper -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (var item in hotProduct.Items)
                            {
                                <div class="swiper-slide">
                                    <div style="height:35px; width:100%">
                                        @{
                                            if (item.Product.DiscountPercent > 0)
                                            {
                                                <div class="populate">
                                                    <span id="dis-rate">
                                                        @item.Product.DiscountPercent%
                                                    </span>
                                                </div>
                                            }

                                        }
                                    </div>
                                    <div class="ratio-wrapper ratio-wrapper-1-1">
                                        <a href="@Html.UrlWithDirectory("san-pham", item.Product.SeoName)" class="ratio-item image" style="background-image: url('@Html.Raw(item.Product.PicURL)')"></a>
                                    </div>
                                    <a href="@Html.UrlWithDirectory("san-pham", item.Product.SeoName)">
                                        @if (language == "vi")
                                        {
                                            <h3 class="name">@item.Product.ProductName</h3>
                                        }
                                        else
                                        {
                                            <h3 class="name">@item.Product.ProductNameEng</h3>
                                        }
                                    </a>
                                    @{
                                        if (item.Product.DiscountPercent > 0)
                                        {
                                            <div class="price" style="font-size:13px; text-decoration:line-through; color:#505050;">@String.Format("{0:0,0} VND", item.Product.Price)</div>
                                            var discounted = (item.Product.Price * item.Product.DiscountPercent / 100);
                                            <span class="hangdaudis">@String.Format("{0:0,0 VNĐ}", item.Product.Price - discounted)</span>

                                        }
                                        else
                                        {
                                            <div class="price">@String.Format("{0:0,0} VND", item.Product.Price)</div>
                                        }
                                    }
                                </div>
                                        }
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next">
                        <img class="icon icon-arrow-right" src="/Content/images/icon/icon_arrow_right_2x.png">
                    </div>
                    <div class="swiper-button-prev">
                        <img class="icon icon-arrow-left" src="/Content/images/icon/icon_arrow_left_2x.png">
                    </div>
                </div>
            </div><!-- /Component: Product Slider -->

        </div>
    </section>
    <!-- /TOP PRODUCTS -->
    <!-- CUSTOMERS -->
    <section id="customers">
        <div class="container container-wisky">
            <h1 class="section-title" data-lang="Customers">KHÁCH HÀNG</h1>
            <div class="swiper">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var item in customerImage.Items)
                        {
                            <div class="swiper-slide">
                                <a href="#" class="image" style="background-image: url('@item.ImageUrl')"></a>
                            </div>
                        }
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <img class="icon icon-arrow-left" src="/Content/images/icon/icon_arrow_right_2x.png">
                </div>
                <div class="swiper-button-prev">
                    <img class="icon icon-arrow-right" src="/Content/images/icon/icon_arrow_left_2x.png">
                </div>
            </div>
        </div>
    </section>
    <!-- /CUSTOMERS -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {

        })

    </script>

}