﻿@model RoutedPageViewModel
@*@model Wisky.SkyUp.Website.Models.ForgotPasswordViewModel*@
@using HmsService.Models;

@{
    ViewBag.Title = "Tài Khoản Của Tôi";
    Layout = "~/Views/MacChefWeb/_Layout.cshtml";

    var username = this.User.Identity.Name;
    var userId = HmsService.Models.Utils.getUserIdFromUsername(username);
    if (userId == null)
    {
        Response.Redirect("~/");
    }
}
<style>
    select {
        /*-webkit-appearance: none;
        -moz-appearance: none;*/
        text-overflow: '';
    }
</style>
<!-- Account Body Start -->
<input type="hidden" value="@username" id="username_custom" />
<div class="account-page order-controller" ng-controller="orderController as vm" ng-init="vm.loadAllUserDeliveryInfor('@(userId)');">
    @*<input id="username" value="@username" type="hidden"/>*@
    <!-- Overview Start-->
    <section id="overview">
        <div class="container">
            <h1 class="heading" data-lang="My_account">TÀI KHOẢN CỦA TÔI</h1>
        </div>
    </section>
    <div class="container">
        @* phần popup *@
        <div class="popuptext" id="myPopup">
            <div class="col-sm-12" style="margin-top:5px;">
                <h5 class="pophead" data-lang="Add_product_success">SẢN PHẨM ĐÃ ĐƯỢC THÊM THÀNH CÔNG</h5>
            </div>
            @* phần nội dung *@
            <div class="col-sm-12 popbody">
                <div class="col-sm-3">
                    <img src="" class="popimg" />
                </div>

                <div class="col-sm-9">
                    <span class="popcontain"></span><br />
                    <span class="popcontain"></span><br />
                    <span class="popcontain"></span><br />
                </div>
            </div>
            @* nút xem giỏ hàng (gắn link href vào) *@
            <a class="col-sm-12" style="margin-top:25px;" href="@Html.UrlWithDirectory("gio-hang")">
                <div class="col-sm-6">
                    <div class="popbutton">
                        <p style="margin-top:8px" data-lang="View_cart">
                            XEM GIỎ HÀNG
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Overview End-->
    <div id="tabs2">
        <!-- <div class="line"></div> -->
        <div class="container">
            <div class="row">
                <div class="bhoechie-tab-container">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu accleftside" style="background-color:#f9f9f9; margin-bottom:50px;">
                        <div class="container" style="margin-top:25px; margin-bottom:10px; height:55px">

                            <div style="margin-top:-10px;width:100%;">
                                <span class="hello" data-lang="Hi">Xin chào</span><br />
                                <span class="username" id="user-name"></span>
                            </div>
                        </div>
                        <div class="container" style="height:5px;width:100%;">
                            <div class="lineacc"></div>
                        </div>
                        <div class="list-group" style="background-color:#f9f9f9;" id="acc-group-list">
                            <a class="list-group-item active" id="thong-tin" data-lang="Account_Information">
                                Thông tin tài khoản
                            </a>
                            <a class="list-group-item" id="doi-password" data-lang="Change_password">
                                Thay đổi mật khẩu
                            </a>
                            <a class="list-group-item" id="quan-ly" data-lang="Order_management">
                                Quản lý đơn hàng
                            </a>
                            <a class="list-group-item" id="dia-chi" data-lang="Addresses">
                                Số địa chỉ
                            </a>
                            <a class="list-group-item" id="san-pham" data-lang="Favorite_products">
                                Sản phẩm yêu thích
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab accform" id="left-side">
                        <div class="bhoechie-tab-content active">
                            <div id="accform">
                                <h1 class="heading" data-lang="Account_Information">THÔNG TIN TÀI KHOẢN</h1>
                                <form method="post" class="form-account">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h3 class="lb-header" data-lang="Fullname2">Họ tên</h3>
                                        </div>
                                        <div class="col-md-7 input-custom-form" style="padding-left: 34px;">
                                            <input class="input-custom" id="username" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h3 class="lb-header">Email</h3>
                                        </div>
                                        <div class="col-md-7 input-custom-form" style="padding-left: 34px;">
                                            <input class="input-custom" id="email-address" value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h3 class="lb-header" style="margin-top: 2px;" data-lang="Gender">
                                                Giới tính
                                            </h3>
                                        </div>
                                        <div class="col-md-7 input-custom-form" style="padding-left: 34px; padding-bottom:18px;">
                                            <label id="">
                                                <input type="radio" id="gender-male" name="gender" value="0">
                                                <div class="custom-radio" onclick="setGender(1)"></div>
                                            </label><span class="custom-radio-gender" data-lang="Male">Nam</span>
                                            <label id="">
                                                <input type="radio" id="gender-female" name="gender" value="0">
                                                <div class="custom-radio" onclick="setGender(0)"></div>
                                            </label><span class="custom-radio-gender" data-lang="Female">Nữ</span>
                                            <input type="radio" id="gender" name="gender" value="" hidden>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="width: 172px;">
                                            <h3 class="lb-header" style="margin-bottom:0;" data-lang="Date_of_birth">Ngày sinh</h3><span style="padding-left: 20px;" data-lang="Optional">(không bắt buộc)</span>
                                        </div>
                                        <div class="col-md-7 dropdown input-custom-form" style="padding-left: 0px;">
                                            <input type="text" class="input-custom" id="birthDate" data-format="DD/MM/YYYY" data-template="D    MM    YYYY" name="datetime" value="01-01-2000">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-7 input-custom-form" style="padding-left: 34px;">
                                            <button class="btn btn-bordered btn-update" id="Updatebtn" data-lang="Update">CẬP NHẬT</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="bhoechie-tab-content">
                            @*<div class="" id="accform">
                                    <h1 class="heading">THAY ĐỔI MẬT KHẨU</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="lb-header">Một email sẽ được gửi đến địa chỉ email của bạn để tiến hành thay đổi mật khẩu</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input name="Email" id="email-reset" type="hidden" />
                                            <div class="col-md-7 input-custom-form" style="padding-left: 34px;">
                                                <button type="submit" class="btn btn-bordered btn-update" data-lang="Update">Thay đổi mật khẩu</button>
                                            </div>
                                        }
                                    </div>
                                </div>*@
                            <div id="accform">
                                <h1 class="heading" data-lang="Change_password">THAY ĐỔI MẬT KHẨU</h1>
                                <form method="post" id="changePassword" class="form-account">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h3 class="lb-header" data-lang="Old_password">Mật khẩu cũ</h3>
                                        </div>
                                        <div class="col-md-7 input-custom-form" style="padding-left: 34px;">
                                            <input type="password" class="input-custom" id="password-old" name="OldPassword" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h3 class="lb-header" data-lang="New_password">Mật khẩu mới</h3>
                                        </div>
                                        <div class="col-md-7 input-custom-form" style="padding-left: 34px;">
                                            <input type="password" class="input-custom" id="password-new" name="NewPassword" value="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h3 class="lb-header" data-lang="Confirm_password">Nhập lại mật khẩu</h3>
                                        </div>
                                        <div class="col-md-7 input-custom-form" style="padding-left: 34px;">
                                            <input type="password" class="input-custom" id="password-confirm" name="ConfirmPassword" value="" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-7 input-custom-form" style="padding-left: 34px;">
                                            <button class="btn btn-bordered btn-update" id="Updatebtn1" data-lang="Update">CẬP NHẬT</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="bhoechie-tab-content">
                            <div ng-init="vm.getListOrdered('@(username)')"></div>
                            <div class="" id="filter-results" style="width:100%!important; padding-left:unset!important">
                                <div id="accform">
                                    <h1 class="heading" data-lang="Order_management">Quản lý đơn hàng</h1>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th data-lang="Code_order">Mã đơn hàng</th>
                                            <th data-lang="Date">Ngày mua</th>
                                            <th data-lang="Total2">Tổng tiền</th>
                                            <th data-lang="Order_status2">Trạng thái đơn hàng</th>
                                            <th data-lang="Checkout">Thanh toán</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-show="vm.ordered.length == 0"><tr><td colspan="5" class="text-center" data-lang="No_order">Chưa có đơn hàng</td></tr></tbody>
                                    <tbody ng-show="vm.ordered.length > 0" dir-paginate="order in vm.ordered | itemsPerPage: 5" pagination-id="order">
                                        <tr>
                                            <td><a type="text/html" href="#1" ng-click="vm.viewOrderDetail(order.orderCode,order.orderDetails,order.totalAmount,order.totalDiscount)">{{order.orderCode}}</a></td>
                                            <td>{{order.checkInDate}}</td>
                                            <td class="text-right">{{order.totalAmount}} VND</td>
                                            <td>{{order.orderStatus}}</td>
                                            <td>{{order.deliveryPayment}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls pagination-id="order"></dir-pagination-controls>
                            </div>
                        </div>
                        <div class="bhoechie-tab-content">
                            <div id="accform">
                                <h1 class="heading" data-lang="Addresses">SỔ ĐỊA CHỈ</h1>
                            </div>
                            @*<div style="height:114px; width:85%; border: 1px dashed #235b57">*@

                            <span ng-show="vm.userDeliveryInfors.length == 0" data-lang="No_address">
                                Bạn chưa có địa chỉ nào.
                            </span>
                            <div ng-show="vm.userDeliveryInfors.length > 0">
                                <span data-lang="Select_address">Chọn địa chỉ giao hàng có sẵn bên dưới:</span>
                                <div class="row address-container" id="address-list">
                                    <div class="col-sm-12 addrcontain" ng-repeat="address in vm.userDeliveryInfors">
                                        <div class="address-content">
                                            <input id="address-{{$index}}" type="radio" ng-model="vm.selectedUserDeliveryInforIndex" ng-value="{{$index}}" hidden />
                                            <label class="address-text" for="address-{{$index}}" id="label-{{$index}}">
                                                <div class="customer-name">
                                                    {{address.name}}
                                                </div>
                                                <div class="customer-address">
                                                    Địa chỉ: <span>{{address.address}}, {{address.ward}}, {{address.district}}, {{address.city}}</span>
                                                </div>
                                                <div class="customer-phone">
                                                    Điện thoại: <span>{{address.phone}}</span>
                                                </div>
                                            </label>
                                            <div class="action">
                                                <button class="btn btn-link btn-edit" data-id="{{address.id}}">Chỉnh sửa</button>
                                                <span class="v-separator">|</span>
                                                <button class="btn btn-link btn-delete" data-id="{{address.id}}">Xoá</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a id="addDeliveryInfo" class="col-sm-12" style="text-decoration:none;height:25px; margin-top:30px;margin-left:-18px;margin-bottom:50px;">
                                <img src="~/Content/images/icon/add_icon-2.png" style="height:25px; width:25px;" />
                                <span class="addr-btn" data-lang="Add_new_address">Thêm địa chỉ mới</span>
                            </a>

                            @* Phần form địa chỉ *@
                            <div id="addForm" style="margin-top:40px;">
                                <form class="form-horizontal" style="margin-top:100px">
                                    @* tên *@
                                    <div class="form-group spaceform">
                                        <label class="col-sm-2 control-label textlabel" data-lang="Fullname_required">Họ tên*</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" id="nameInput" type="text" data-lang-placeholder="Input_fullname" placeholder="Nhập họ tên">
                                        </div>
                                        <label></label>
                                    </div>
                                    @* sđt *@
                                    <div class="form-group spaceform">
                                        <label class="col-sm-2 control-label textlabel" data-lang="Cellphone">Điện thoại di động*</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" id="phoneInput" type="text" data-lang-placeholder="Input_phone" placeholder="Nhập số điện thoại">
                                        </div>
                                    </div>
                                    @* tỉnh/thành phố *@
                                    <div class="form-group spaceform">
                                        <label class="col-sm-2 control-label textlabel" data-lang="Province">Tỉnh/Thành phố*</label>
                                        <div class="col-sm-7">
                                            <select class="form-control" id="cityInput" type="text"></select>
                                        </div>
                                    </div>
                                    @* quận/huyện *@
                                    <div class="form-group spaceform">
                                        <label class="col-sm-2 control-label textlabel" data-lang="District">Quận/Huyện*</label>
                                        <div class="col-sm-7">
                                            <select class="form-control" id="districtInput" type="text">
                                                <option data-lang="Input_district">Vui lòng chọn quận/huyện</option>
                                            </select>
                                        </div>
                                    </div>
                                    @* phường/xã *@
                                    <div class="form-group spaceform">
                                        <label class="col-sm-2 control-label textlabel" data-lang="Ward">Phường/Xã*</label>
                                        <div class="col-sm-7">
                                            <select class="form-control" id="wardInput" type="text">
                                                <option data-lang="Input_ward">Vui lòng chọn phường/xã</option>
                                            </select>
                                        </div>
                                    </div>
                                    @* địa chỉ cụ thể *@
                                    <div class="form-group spaceform">
                                        <label class="col-sm-2 control-label textlabel" data-lang="Customer_Address">Địa chỉ*</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" id="addressInput" type="text" data-lang-placeholder="Input_address" placeholder="Nhập địa chỉ">
                                        </div>
                                    </div>
                                    <div class="form-group spaceform">
                                        <label class="col-sm-2 control-label textlabel"></label>
                                        <div class="col-sm-7">
                                            <p class="textadd" data-lang="Address_type">Để nhận hàng thuận tiện hơn vui lòng cho UniChef biết loại địa chỉ nhận hàng</p>
                                        </div>
                                    </div>
                                    @* radio chọn loại địa chỉ *@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label textlabel" data-lang="Type_of_address">Loại địa chỉ</label>
                                        <div class="col-sm-7">
                                            <div class="customer-info">
                                                <div class="option">
                                                    <label for="typeAdd1" style="width:50%;">
                                                        <input type="radio" id="typeAdd1" name="addr" />
                                                        <span class="custom-checkbox2" style="border-radius:50px;"></span><div class="addtext" data-lang="House">Nhà riêng/ Chung cư</div>
                                                    </label>
                                                    <label for="typeAdd2" style="width:35%; display:inline-block;">
                                                        <input type="radio" id="typeAdd2" name="addr" />
                                                        <span class="custom-checkbox2" style="border-radius:50px;"></span><div class="addtext" data-lang="Company_receive">Cơ quan</div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-9" style="border-bottom: solid 1px #dcdcdc;"></label>
                                    </div>
                                    @*checkbox đặt địa chỉ làm mặc định *@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-7">
                                            <div class="customer-info">
                                                <div class="option">
                                                    <label for="addDefault" style="width:100%;">
                                                        <input type="checkbox" id="addDefault" />
                                                        <div id="checkDefault" class="custom-checkbox2"></div><span class="addtext" data-lang="Set_as_default">Đặt làm mặc định</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @* nút hủy bỏ và order *@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-7">
                                            <button type="reset" class="btn btcancel btn-confirm-order " id="cancelbtn" data-lang="Cancel">HỦY BỎ</button>
                                            <button type="button" class="btn btn-bordered btn-confirm-order btorder" style="margin-left: 15px; width: 140px" id="orderbtn" data-toggle="tab" href="#address" data-lang="Save">LƯU</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="bhoechie-tab-content">
                            <div ng-init="vm.getFavoriteProductActive('@(username)')"></div>
                            <div class="" id="filter-results" style="width:100%!important; padding-left:unset!important">
                                <div id="accform">
                                    <h1 class="heading" data-lang="Favorite_products">Sản phẩm yêu thích</h1>
                                </div>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-2 text-center" data-lang="Product_code">Mã sản phẩm</th>
                                            <th></th>
                                            <th class="col-sm-4 text-center" data-lang="Product">Sản phẩm</th>
                                            <th class="col-sm-2 text-center" data-lang="Unit_Price">Đơn giá</th>
                                            <th class="col-sm-2"></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-show="vm.favoriteProduct.length == 0"><tr><td colspan="5" class="text-center" data-lang="No_favorite_product">Chưa có sản phẩm yêu thích nào</td></tr></tbody>
                                    <tbody ng-show="vm.favoriteProduct.length > 0" dir-paginate="product in vm.favoriteProduct | itemsPerPage: 5" pagination-id="favoriteProduct" style="border-top:1px solid #ddd">
                                        <tr id="favorite-tbl">
                                            <td style="vertical-align:middle" align="center">{{product.ProductCode}}</td>
                                            <td style="vertical-align:middle" align="center"><img class="img-show" style="width:unset" ng-src="{{product.ProductImg}}" /></td>
                                            <td style="vertical-align:middle" align="center"><a target="_blank" href="/san-pham/{{product.SeoName}}">{{product.ProductName}}</a></td>
                                            <td style="vertical-align:middle" align="center">{{product.DisplayPrice}} VND</td>
                                            <td style="vertical-align:middle" align="center">
                                                <button id="popbtn" class="btn btn-bordered" style="padding:4px" data-lang="Add_To_Cart"
                                                        ng-click="vm.addToCart(product.ProductID,product.ProductName,product.DiscountPercent,product.ProductImg,product.ProductCode,product.ProductPrice,product.SeoName,'null',product.DisplayPrice)">
                                                    Thêm vào giỏ hàng
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls pagination-id="favoriteProduct"></dir-pagination-controls>
                            </div>
                            <div class="bhoechie-tab-content">
                                <div id="accform">
                                    <h1 class="heading" data-lang="Favorite_products">SẢN PHẨM YÊU THÍCH</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel-group category-products" id="about-mobile" style="padding-bottom:92px; margin-top:20px">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#about-mobile" href="#accinfo">
                    <a class="panel-title">
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>
                        <span data-lang="Account_Information">
                            THÔNG TIN TÀI KHOẢN
                        </span>
                    </a>
                </div>
                <div id="accinfo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="accform">
                            <h1 class="heading" data-lang="Account_Information">THÔNG TIN TÀI KHOẢN</h1>
                            <form method="post" class="form-account">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h3 class="lb-header" data-lang="Fullname2">Họ tên</h3>
                                    </div>
                                    <div class="col-md-7 input-custom-form">
                                        <input class="input-custom" id="usernamemb" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <h3 class="lb-header">Email</h3>
                                    </div>
                                    <div class="col-md-7 input-custom-form">
                                        <input class="input-custom" id="email-addressmb" value="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <h3 class="lb-header" style="margin-top: 2px;" data-lang="Gender">
                                            Giới tính
                                        </h3>
                                    </div>
                                    <div class="col-md-7 input-custom-form" style="padding-bottom:18px;" id="gender-acc">
                                        <label id="">
                                            <input type="radio" id="gender-malemb" name="gender" value="0">
                                            <div class="custom-radio" onclick="setGenderMb(1)"></div>
                                        </label><span class="custom-radio-gender" data-lang="Male">Nam</span>
                                        <label id="">
                                            <input type="radio" id="gender-femalemb" name="gender" value="0">
                                            <div class="custom-radio" onclick="setGenderMb(0)"></div>
                                        </label><span class="custom-radio-gender" data-lang="Female">Nữ</span>
                                        <input type="radio" id="gendermb" name="gender" value="" hidden>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2" style="display:flex;">
                                        <h3 class="lb-header" data-lang="Date_of_birth">Ngày sinh</h3><span style="padding-left:7px;padding-top:7px;" data-lang="Optional">(không bắt buộc)</span>
                                    </div>
                                    <div class="col-md-7 dropdown input-custom-form">
                                        <input type="text" class="input-custom" id="birthDatemb" data-format="DD/MM/YYYY" data-template="D    MM    YYYY" name="datetime" value="01-01-2000">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-7 input-custom-form">
                                        <button class="btn btn-bordered btn-update" id="Updatebtnmb" data-lang="Update">CẬP NHẬT</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#about-mobile" href="#changepass">
                    <a class="panel-title">
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>
                        <span data-lang="Change_password">
                            THAY ĐỔI MẬT KHẨU
                        </span>
                    </a>
                </div>
                <div id="changepass" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="accform">
                            <h1 class="heading"  data-lang="Change_password">THAY ĐỔI MẬT KHẨU</h1>
                            <form method="post" id="changePassword" class="form-account">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h3 class="lb-header" data-lang="Old_password">Mật khẩu cũ</h3>
                                    </div>
                                    <div class="col-md-7 input-custom-form">
                                        <input type="password" class="input-custom" id="password-oldmb" name="OldPassword" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <h3 class="lb-header" data-lang="New_password">Mật khẩu mới</h3>
                                    </div>
                                    <div class="col-md-7 input-custom-form">
                                        <input type="password" class="input-custom" id="password-newmb" name="NewPassword" value="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <h3 class="lb-header" data-lang="Confirm_password">Nhập lại mật khẩu</h3>
                                    </div>
                                    <div class="col-md-7 input-custom-form">
                                        <input type="password" class="input-custom" id="password-confirmmb" name="ConfirmPassword" value="" style="margin-bottom:0px;" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-7 input-custom-form">
                                        <button class="btn btn-bordered btn-update" id="Updatebtn1mb" data-lang="Update">CẬP NHẬT</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#about-mobile" href="#managebill">
                    <a class="panel-title">
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>
                        <span data-lang="Order_management">
                            QUẢN LÝ ĐƠN HÀNG
                        </span>
                    </a>
                </div>
                <div id="managebill" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-init="vm.getListOrdered('@(username)')"></div>
                        <div class="title-tab2"><span data-lang="Order_management">QUẢN LÝ ĐƠN HÀNG</span></div>
                        <div class="line-tab2"></div>
                        <div class="tab-content2" style="padding-left: 3px" id="filter-results">
                            <div class="row">
                                <div class="col-xs-12" ng-show="vm.ordered.length == 0" data-lang="No_order">Chưa có đơn hàng</div>
                            </div>
                            <div class="row list-bill" ng-show="vm.ordered.length > 0" dir-paginate="order in vm.ordered | itemsPerPage: 5" pagination-id="order">
                                <div class="col-xs-10">
                                    <span class="title-bill">
                                        <a type="text/html" href="#1" ng-click="vm.viewOrderDetail(order.orderCode,order.orderDetails,order.totalAmount,order.totalDiscount)">{{order.orderCode}}</a>
                                    </span>
                                    <span class="content-bill" id="{{order.orderStatus}}">
                                        <span data-lang="Date2">Ngày đặt hàng:</span> {{order.checkInDate}}
                                        <br /><span data-lang="Status">Trạng thái:</span> <b>{{order.orderStatus}}</b>
                                    </span>
                                </div>
                                <div class="col-xs-2 icon-confirm-bill">
                                    @*<div class="icon-successBill">
                                            <img src='~/Content/images/icon/successBill_2x.png' />
                                        </div>
                                        <div class='icon-cancelBill'>
                                            <img src='~/Content/images/icon/cancelBill-2x.png' />
                                        </div>*@


                                </div>
                            </div>
                            <dir-pagination-controls pagination-id="order"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#about-mobile" href="#add-list">
                    <a class="panel-title">
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>
                        <span data-lang="Addresses">
                            SỔ ĐỊA CHỈ
                        </span>
                    </a>
                </div>
                <div id="add-list" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="accform">
                            <h1 class="heading" data-lang="Addresses">SỔ ĐỊA CHỈ</h1>
                        </div>
                        @*<div style="height:114px; width:85%; border: 1px dashed #235b57">*@

                        <span ng-show="vm.userDeliveryInfors.length == 0" data-lang="No_address">
                            Bạn chưa có địa chỉ nào.
                        </span>
                        <div ng-show="vm.userDeliveryInfors.length > 0">
                            <span data-lang="ChooseAddress">Chọn địa chỉ giao hàng có sẵn bên dưới:</span>
                            <div class="row address-container" id="address-list">
                                <div class="col-sm-12 addrcontain" ng-repeat="address in vm.userDeliveryInfors">
                                    <div class="address-content">
                                        <input id="address-{{$index}}" type="radio" ng-model="vm.selectedUserDeliveryInforIndex" ng-value="{{$index}}" hidden />
                                        <label class="address-text" for="address-{{$index}}" id="label-{{$index}}">
                                            <div class="customer-name">
                                                {{address.name}}
                                            </div>
                                            <div class="customer-address">
                                                <span data-lang="Address2">Địa chỉ:</span> <span>{{address.address}}, {{address.ward}}, {{address.district}}, {{address.city}}</span>
                                            </div>
                                            <div class="customer-phone">
                                                <span data-lang="Phone2">Điện thoại:</span> <span>{{address.phone}}</span>
</div>
                                        </label>
                                        <div class="action">
                                            <button class="btn btn-link btn-editmb" data-id="{{address.id}}" data-lang="Edit">Chỉnh sửa</button>
                                            <span class="v-separator">|</span>
                                            <button class="btn btn-link btn-delete" data-id="{{address.id}}" data-lang="Delete">Xoá</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a id="addDeliveryInfomb" class="col-sm-12">
                            <img src="~/Content/images/icon/add_icon-2.png" style="height:25px; width:25px;" />
                            <span class="addr-btn" data-lang="Add_new_address">Thêm địa chỉ mới</span>
                        </a>

                        @* Phần form địa chỉ *@
                        <div id="addFormmb">
                            <form class="form-horizontal" style="margin-top:50px">
                                @* tên *@
                                <div class="form-group spaceform">
                                    <label class="col-sm-2 control-label textlabel" data-lang="Fullname_required">Họ tên*</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="nameInput2" type="text" data-lang-placeholder="Input_fullname" placeholder="Nhập họ tên">
                                    </div>
                                    <label></label>
                                </div>
                                @* sđt *@
                                <div class="form-group spaceform">
                                    <label class="col-sm-2 control-label textlabel" data-lang="Cellphone">Điện thoại di động*</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="phoneInput2" type="text" data-lang-placeholder="Input_phone" placeholder="Nhập số điện thoại">
                                    </div>
                                </div>
                                @* tỉnh/thành phố *@
                                <div class="form-group spaceform">
                                    <label class="col-sm-2 control-label textlabel" data-lang="Province">Tỉnh/Thành phố*</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="cityInput2" type="text" data-lang-placeholder="Input_province" placeholder="Nhập tên tỉnh/thành phố"></select>
                                    </div>
                                </div>
                                @* quận/huyện *@
                                <div class="form-group spaceform">
                                    <label class="col-sm-2 control-label textlabel" data-lang="District">Quận/Huyện*</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="districtInput2" type="text" data-lang-placeholder="Input_district_name" placeholder="Nhập tên quận/huyện">
                                            <option data-lang="Input_district">Vui lòng chọn quận/huyện</option>
                                        </select>
                                    </div>
                                </div>
                                @* phường/xã *@
                                <div class="form-group spaceform">
                                    <label class="col-sm-2 control-label textlabel" data-lang="Ward">Phường/Xã*</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="wardInput2" type="text" data-lang-placeholder="Input_ward_name" placeholder="Nhập tên phường/xã">
                                            <option data-lang="Input_ward">Vui lòng chọn phường/xã</option>
                                        </select>
                                    </div>
                                </div>
                                @* địa chỉ cụ thể *@
                                <div class="form-group spaceform">
                                    <label class="col-sm-2 control-label textlabel" data-lang="Address_required">Địa chỉ*</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="addressInput2" type="text" data-lang-placeholder="Input_address" placeholder="Nhập địa chỉ">
                                    </div>
                                </div>
                                <div class="form-group spaceform">
                                    <label class="col-sm-2 control-label textlabel"></label>
                                    <div class="col-sm-7">
                                        <p class="textadd" data-lang="Address_type">Để nhận hàng thuận tiện hơn vui lòng cho UniChef biết loại địa chỉ nhận hàng</p>
                                    </div>
                                </div>
                                @* radio chọn loại địa chỉ *@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label textlabel" data-lang="Type_of_address">Loại địa chỉ</label>
                                    <div class="col-sm-7">
                                        <div class="customer-info">
                                            <div class="option">
                                                <label for="typeAdd1m" style="width:100%;">
                                                    <input type="radio" id="typeAdd1m" name="addrm" />
                                                    <span class="custom-checkbox3" style="border-radius:50px;"></span><div class="addtext" data-lang="House">Nhà riêng/ Chung cư</div>
                                                </label>
                                                <label for="typeAdd2m" style="width:100%; display:inline-block;">
                                                    <input type="radio" id="typeAdd2m" name="addrm" />
                                                    <span class="custom-checkbox3" style="border-radius:50px;"></span><div class="addtext" data-lang="Company_receive">Cơ quan</div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-12" style="border-bottom: solid 1px #dcdcdc;"></label>
                                </div>
                                @*checkbox đặt địa chỉ làm mặc định *@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-7">
                                        <div class="customer-info">
                                            <div class="option">
                                                <label for="addDefaultm" style="width:100%;">
                                                    <input type="checkbox" id="addDefaultm" />
                                                    <div id="checkDefaultm" class="custom-checkbox3"></div><span class="addtext" data-lang="Set_as_default">Đặt làm mặc định</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* nút hủy bỏ và order *@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-7">
                                        <button type="reset" class="btn btcancel btn-confirm-order " id="cancelbtnmb" data-lang="Cancel">HỦY BỎ</button>
                                        <button type="button" class="btn btn-bordered btn-confirm-order btorder" style="margin-left: 50px; width: 40%; display:inline" id="orderbtnmb" data-toggle="tab" href="#address" data-lang="Save">LƯU</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#about-mobile" href="#love-product">
                    <a class="panel-title">
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>
                        <span data-lang="Favorite_products">
                            SẢN PHẨM YÊU THÍCH
                        </span>
                    </a>
                </div>
                <div id="love-product" class="panel-collapse collapse">
                    <div class="panel-body">
                        @* To Do *@
                        <div ng-init="vm.getFavoriteProductActive('@(username)')"></div>
                        <div class="title-tab2"><span data-lang="Favorite_products">SẢN PHẨM YÊU THÍCH</span></div>
                        <div class="line-tab2"></div>
                        <div class="tab-content2" style="padding-left: 3px" id="filter-results">
                            <div class="row">
                                <div class="col-xs-12" ng-show="vm.favoriteProduct.length == 0" data-lang="No_favorite_product">Chưa có sản phẩm yêu thích nào</div>
                            </div>
                            <div class="row list-product-favorite" ng-show="vm.favoriteProduct.length > 0" dir-paginate="product in vm.favoriteProduct | itemsPerPage: 5" pagination-id="favoriteProduct">
                                <div class="col-xs-3">
                                    <img class="img-show" style="width:unset" ng-src="{{product.ProductImg}}" />
                                </div>
                                <div class="col-xs-9">
                                    <span class="product-code-favorite">{{product.ProductCode}}</span>
                                    <span class="product-name-favorite">
                                        <a target="_blank" href="/san-pham/{{product.SeoName}}">{{product.ProductName}}</a>
                                    </span>
                                    <span class="product-price-favorite">
                                        {{product.DisplayPrice}} VND
                                    </span>
                                </div>
                            </div>
                            <dir-pagination-controls pagination-id="favoriteProduct"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="orderDetail" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center"></h4>
            </div>
            <div class="modal-body">
                <div class="bhoechie-tab-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th data-lang="Product_name">Tên sản phẩm</th>
                                <th data-lang="Quantity">Số lượng</th>
                                <th data-lang="Unit_Price">Đơn giá</th>
                                <th data-lang="Price2">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center-format-col">Sản phẩm 1</td>
                                <td class="center-format-col">2</td>
                                <td class="center-format-col">170,000 VND</td>
                                <td class="center-format-col">340,000VND</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-lang-value="Close">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Account Body End-->
@section scripts{
    <script type="text/javascript">
        window.location.hash = "no-back-button";
        window.location.hash = "Again-No-back-button";//again because google chrome don't insert first hash into history
        window.onhashchange = function () { window.location.hash = "no-back-button"; }

        /*chuyển tab*/
        $(document).ready(function () {
            loadAddress();
            $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });


            $('#birthDate').combodate({
                customClass: "input-custom"
            });
        });

        $(function () {
            $.ajax({
                url: '@Url.Action("ShowInformation", "Login", new { area = "" })',
                type: 'POST',
                data: {
                    username: '@username',
                },
                success: function (result) {
                    if (result.success) {
                        $('#user-name').html(result.fullname);
                        $('#username').val(result.fullname);
                        $('#email-address').val(result.email);
                        if (result.gender == true) {
                            $('#gender-male').attr('checked', true);
                        } else if (result.gender == false) {
                            $('#gender-female').attr('checked', true);
                        }
                        $('#birthDate').combodate('setValue', result.birthDay);
                    } else {
                        $('.spinner-group').hide();
                        //swal("Lỗi", "Sai UserName hoặc Password", "error");
                    }
                },
                error: function () {
                    $('.spinner-group').hide();
                    console.log('Có lỗi xảy ra khi đăng nhập');
                }
            });
        });
        $(document).ready(function () {
            $("#Updatebtn").on("click", function () {
                var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                var isValid = true;
                var username = $("#username").val();
                if (username == "") {
                    isValid = false;
                    swal({
                        title: "Thông Báo",
                        text: "Bạn chưa nhập họ tên",
                        type: "warning"
                    }, function () {
                        setTimeout(function () {
                            $("#username").focus();
                        }, 100);
                        return;
                    });
                    return;
                }

                var email = $("#email-address").val();
                if (email == "") {
                    isValid = false;
                    swal({
                        title: "Thông Báo",
                        text: "Bạn chưa nhập Email",
                        type: "warning"
                    }, function () {
                        setTimeout(function () {
                            $("#email-address").focus();
                        }, 100);
                        return;
                    });

                    return;
                }
                if (!re.test(email)) {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Email không đúng định dạng",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#email-address").focus();
                        }, 100);
                    });
                    isValid = false;
                    return;
                }
                var gender = $("#gender").val();
                if (gender == null || gender == "") {
                    gender = 1;
                }
                var birthDay = $('#birthDate').combodate('getValue');
                if (isValid) {
                    $.ajax({
                        url: '@Url.Action("UpdateProfile", "Login")',
                        type: 'POST',
                        data: {
                            name: username,
                            email: email,
                            gender: gender,
                            birthDay: birthDay
                        },
                        success: function (result) {
                            if (result.success) {
                                swal("Thành công", result.message, "success");
                                window.location.reload();
                            } else {
                                swal("Lỗi", result.message, "error");
                            }

                        },
                        error: function () {
                            swal("Lỗi", "Đã có lỗi trong quá trình xử lý", "error");
                        }
                    });
                }
            });
            $("#Updatebtn1").on("click", function () {

                var isValid = true;
                var passwordOld = $("#password-old").val();
                if (passwordOld == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Bạn chưa nhập mật khẩu cũ",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-old").focus();
                        }, 100);
                        return;
                    });
                    return;
                }

                var passwordNew = $("#password-new").val();
                if (passwordNew == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Bạn chưa nhập mật khẩu mới",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-new").focus();
                        }, 100);
                        return;
                    });
                    return;
                }

                if (passwordNew == passwordOld) {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Mật khẩu mới bị trùng mật khẩu cũ",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-new").focus();
                        }, 100);
                        return;
                    });
                    return;
                }
                var passwordConfrim = $("#password-confirm").val();
                if (passwordConfrim == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Vui lòng xác thực mật khẩu mới",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-confirm").focus();
                        }, 100);
                        return;
                    });
                    return;
                }
                if (passwordNew != passwordConfrim) {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Xác nhận mật khẩu không khớp với mật khẩu mới",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-confirm").focus();
                        }, 100);
                        return;
                    });
                    return;
                };

                if (isValid) {
                    $.ajax({
                        url: '@Url.Action("ChangePassword", "Login", new { area = "" })',
                        type: 'POST',
                        data: {
                            OldPassword: passwordOld,
                            NewPassword: passwordNew,
                            ConfirmPassword: passwordConfrim
                        },
                        success: function (result) {
                            if (result.success) {
                                swal("Cập nhật thành công", "Đã cập nhật mật khẩu thành công", "success");
                                window.location.href = "/";
                            } else {
                                swal("Lỗi", result.message, "error");
                            }

                        },
                        error: function () {
                            swal("Lỗi", "Đã có lỗi xảy ra", "error");
                        }
                    });
                }
            });
        });


        function setGender(data) {
            $("#gender").val(data)
        }


        $('#addDeliveryInfomb').click(function () {
            var flagEdit = false;
            idEdit = -1;
            $("#addFormmb form")[0].reset();
            $('#addFormmb').show();
        })
        $('#cancelbtnmb').click(function () {
            $('#addFormmb').hide();
        })



        $(function () {
            $.ajax({
                url: '@Url.Action("ShowInformation", "Login", new { area = "" })',
                type: 'POST',
                data: {
                    username: '@username',
                },
                success: function (result) {
                    if (result.success) {
                        $('#user-namemb').html(result.fullname);
                        $('#usernamemb').val(result.fullname);
                        $('#email-addressmb').val(result.email);
                        if (result.gender == true) {
                            $('#gender-malemb').attr('checked', true);
                        } else if (result.gender == false) {
                            $('#gender-femalemb').attr('checked', true);
                        }
                        $('#birthDatemb').combodate('setValue', result.birthDay);
                    } else {
                        $('.spinner-group').hide();
                        //swal("Lỗi", "Sai UserName hoặc Password", "error");
                    }
                },
                error: function () {
                    $('.spinner-group').hide();
                    console.log('Có lỗi xảy ra khi đăng nhập');
                }
            });
        });
        $(document).ready(function () {
            $("#Updatebtnmb").on("click", function () {
                var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                var isValid = true;
                var username = $("#usernamemb").val();
                if (username == "") {
                    isValid = false;
                    swal({
                        title: "Thông Báo",
                        text: "Bạn chưa nhập họ tên",
                        type: "warning"
                    }, function () {
                        setTimeout(function () {
                            $("#usernamemb").focus();
                        }, 100);
                        return;
                    });
                    return;
                }

                var email = $("#email-addressmb").val();
                if (email == "") {
                    isValid = false;
                    swal({
                        title: "Thông Báo",
                        text: "Bạn chưa nhập Email",
                        type: "warning"
                    }, function () {
                        setTimeout(function () {
                            $("#email-addressmb").focus();
                        }, 100);
                        return;
                    });

                    return;
                }
                if (!re.test(email)) {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Email không đúng định dạng",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#email-addressmb").focus();
                        }, 100);
                    });
                    isValid = false;
                    return;
                }
                var gender = $("#gendermb").val();
                if (gender == null || gender == "") {
                    gender = 1;
                }
                var birthDay = $('#birthDatemb').combodate('getValue');
                if (isValid) {
                    $.ajax({
                        url: '@Url.Action("UpdateProfile", "Login")',
                        type: 'POST',
                        data: {
                            name: username,
                            email: email,
                            gender: gender,
                            birthDay: birthDay
                        },
                        success: function (result) {
                            if (result.success) {
                                swal("Thành công", result.message, "success");
                                window.location.reload();
                            } else {
                                swal("Lỗi", result.message, "error");
                            }

                        },
                        error: function () {
                            swal("Lỗi", "Đã có lỗi trong quá trình xử lý", "error");
                        }
                    });
                }
            });
            $("#Updatebtn1mb").on("click", function () {

                var isValid = true;
                var passwordOld = $("#password-oldmb").val();
                if (passwordOld == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Bạn chưa nhập mật khẩu cũ",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-oldmb").focus();
                        }, 100);
                        return;
                    });
                    return;
                }

                var passwordNew = $("#password-newmb").val();
                if (passwordNew == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Bạn chưa nhập mật khẩu mới",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-newmb").focus();
                        }, 100);
                        return;
                    });
                    return;
                }

                if (passwordNew == passwordOld) {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Mật khẩu mới bị trùng mật khẩu cũ",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-newmb").focus();
                        }, 100);
                        return;
                    });
                    return;
                }
                var passwordConfrim = $("#password-confirmmb").val();
                if (passwordConfrim == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Vui lòng xác thực mật khẩu mới",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-confirmmb").focus();
                        }, 100);
                        return;
                    });
                    return;
                }
                if (passwordNew != passwordConfrim) {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Xác nhận mật khẩu không khớp với mật khẩu mới",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-confirmmb").focus();
                        }, 100);
                        return;
                    });
                    return;
                };

                if (isValid) {
                    $.ajax({
                        url: '@Url.Action("ChangePassword", "Login", new { area = "" })',
                        type: 'POST',
                        data: {
                            OldPassword: passwordOld,
                            NewPassword: passwordNew,
                            ConfirmPassword: passwordConfrim
                        },
                        success: function (result) {
                            if (result.success) {
                                swal("Cập nhật thành công", "Đã cập nhật mật khẩu thành công", "success");
                                window.location.href = "/";
                            } else {
                                swal("Lỗi", result.message, "error");
                            }

                        },
                        error: function () {
                            swal("Lỗi", "Đã có lỗi xảy ra", "error");
                        }
                    });
                }
            });
        });


        function setGenderMb(data) {
            $("#gendermb").val(data)
        }

        $('#about-mobile .panel-default .panel-heading').click(
           function () {
               $('#about-mobile .panel-default .panel-heading').find('.minus-img').not($(this).find('.minus-img')).addClass('fade-sub');
               $('#about-mobile .panel-default .panel-heading').find('.add-img').not($(this).find('.add-img')).removeClass('fade-sub');
               if ($(this).find('.minus-img').hasClass('fade-sub')) {
                   $(this).find('.add-img').addClass('fade-sub');
                   $(this).find('.minus-img').removeClass('fade-sub');
               }
               else {
                   $(this).find('.minus-img').addClass('fade-sub');
                   $(this).find('.add-img').removeClass('fade-sub');
               }


           });


    </script>
}
