﻿@model RoutedPageViewModel
@{
    ViewBag.UseLayout = false;
    Layout = null;
}

<link href="~/Content/Stores/SW.UniHouseCoffee/assets/css/check_out.css" rel="stylesheet" type="text/css" media="all">
<link href="~/Content/Stores/SW.UniHouseCoffee/assets/css/check_out(1).css" rel="stylesheet" type="text/css" media="all">

<div id="StayFocusd-infobar" style="display: none; top: 0px;">
    <img src="chrome-extension://laankejkbhbdhmipfmgcngdelahlfoji/common/img/eye_19x19_red.png">
    <span id="StayFocusd-infobar-msg"></span>
    <span id="StayFocusd-infobar-links">
        <a id="StayFocusd-infobar-never-show">hide forever</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a id="StayFocusd-infobar-hide">hide once</a>
    </span>
</div>

<div class="pay-page" ng-controller="deliveryController as vm">

    <a href="/" ng-click="vm.clearStorage()">
        <h1 class="header">
            <span class="btn-back">
                Về trang chủ
            </span>
            Đặt hàng thành công
        </h1>
    </a>

    <div class="clearfix">
        <span class="fbtracker-checkout-complete"></span>
        <div class="checkout-complete col-12">
            <div class="box-complete">
                <h3>Đơn hàng của bạn @*<strong>#100005</strong>*@</h3>
                <table class="cart-items">
                    <tr class="cart-item" ng-repeat="product in vm.getLastOrders()">
                        <td class="product-img"><img alt="{{ product.name }}" class="image_thumb" ng-src="{{product.image}}"></td>

                        <td class="product-name"><span ng-bind="product.name"></span> <b> ({{product.price | currency : "" : 0 }} ₫) </b></td>
                        <td class="product-extra">
                            <ul class="extra-show" ng-show="!vm.isEmptyExtraList(product.tempId)">
                                <li><span>Mỗi ly dùng thêm bao gồm</span></li>
                                <li ng-repeat="extra in product.extraList | filter: vm.hasExtra()">
                                    <div ng-show="extra.quantity">
                                        {{extra.quantity || 0}}  x  {{extra.name}}
                                        ({{extra.price | currency : "" : 0}} ₫)
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="quantity">{{ product.quantity }} </td>
                    </tr>
                </table>

                <div class="payment_methol">
                    <p>
                        <b>Giá trị đơn hàng:</b>
                        <span> {{ vm.getLastTotalCost() | currency : "" : 0 }} ₫</span>
                    </p>
                    @*<p>
                            <b>Tổng cộng:</b>
                            <span class="totalpayment"> {{  vm.getLastTotalCost() | currency : "" : 0 }}₫</span>
                        </p>*@
                    <p>
                        <b>Phương thức thanh toán:</b>
                        <span> Thanh toán khi giao hàng (COD)</span>
                    </p>
                    <p>

                    </p>
                </div>
                <p>Cảm ơn bạn đã lưa chọn: <a class="linkshopname" href="/" ng-click="vm.clearStorage()">UniSpace Coffee</a></p>
            </div>
        </div>
        <!-- /end step3 -->
    </div>
</div>

