﻿@model RoutedPageViewModel
@{
    var language = "";
    if (Request.Cookies["language"] != null && "en" == Request.Cookies["language"].Value)
    {
        language = "en";
        ViewBag.Title = "Policies & Regulations";
    }
    else
    {
        language = "vi";
        ViewBag.Title = "Chính sách và Quy định";
    }

    var webPage = Model.ViewModel<WebPageViewModel>("Policy");
    var webPageEng = Model.ViewModel<WebPageViewModel>("PolicyEng");
}
@section SEO{
    <meta name="keywords" content="@Html.Raw(webPage.MetaKeyword)" />
    <meta name="title" content="@Html.Raw(webPage.SeoName)">
    <meta name="description" content="@Html.Raw(webPage.MetaDescription)">
}

<!-- PRODUCT PAGE's BODY -->
<div id="deal-page">

    <!-- Section: OVERVIEW -->
    <section>
        <div class="container">
            <div class="col-sm-12 deal-content">
                @if (language == "vi")
                {
                    <h1 class="heading">@Html.Raw(webPage.PageTitle)</h1>
                    <div class="description">
                        @Html.Raw(webPage.PageContent)
                    </div>
                }
                else
                {
                    <h1 class="heading">@Html.Raw(webPageEng.PageTitle)</h1>
                    <div class="description">
                        @Html.Raw(webPageEng.PageContent)
                    </div>
                }

            </div>
        </div>
    </section><!-- /Section: OVERVIEW -->
</div><!-- /PRODUCT PAGE's BODY -->