﻿@model RoutedPageViewModel
@{
    Layout = null;
    var listCate = Model.ViewModel<IEnumerable<ProductCategoryViewModel>>("ListCategories");
    var products = Model.ViewModel<ProductCategoryDetailsViewModel>("Products");
    var category = Model.ViewModel<IEnumerable<ProductCategoryDetailsViewModel>>("SubCate");
    var cateParentName = "";
    var cateParent = new ProductCategoryViewModel();
    var cateBannerUrl = products.Category.BannerUrl;
    var isAllProduct = false;
    var path = Request.Url.ToString();
    var subPath = path.Substring(path.LastIndexOf("/") + 1);
    //var groupCate = subCate.GroupBy(q => q.Category.GroupCate);
    var language = "";
    if (Request.Cookies["language"] != null && "en" == Request.Cookies["language"].Value)
    {
        language = "en";
    }
    else
    {
        language = "vi";
    }
    if (cateBannerUrl == null)
    {
        cateBannerUrl = "/Content/images/product-page/banner.png";
    }
    if (category != null)
    {
        foreach (var item in listCate)
        {
            if (products.Category.ParentCateId == item.CateID)
            {
                cateParent = products.Category;
                if (language == "vi")
                {
                    cateParentName = cateParent.CateName;
                }
                else
                {
                    cateParentName = cateParent.CateNameEng;
                }

                break;
            }
        }
        if (cateParentName.Equals(""))
        {
            cateParent = products.Category;
            if (language == "vi")
            {
                cateParentName = products.Category.CateName;
            }
            else
            {
                cateParentName = products.Category.CateNameEng;
            }
            isAllProduct = true;
        }

    }
    var saleProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("SaleProduct");
    var trendingProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("TrendingProduct");
    ViewBag.Title = "Bộ sưu tập";

}

@section SEO{
    <meta name="keywords" content="@Html.Raw(!string.IsNullOrWhiteSpace(cateParent.SeoKeyword) ? cateParent.SeoKeyword : "") " />
    <meta name="title" content="@Html.Raw(!string.IsNullOrWhiteSpace(cateParent.SeoName) ? cateParent.SeoName : "")">
    <meta name="description" content= "@Html.Raw(!string.IsNullOrWhiteSpace(cateParent.SeoDescription) ? cateParent.SeoDescription : "")" >
}

<!-- PRODUCT PAGE's BODY -->
<div id="product-page" ng-controller="productController as vm">
    <!-- Section: OVERVIEW -->
    <section id="overview">
        @*<img class="banner" src="@cateBannerUrl" onerror="this.onerror = null; this.src = '/Content/images/product-page/banner.png'">*@
        <div class="container" id="product-top">
            @if (language == "vi")
            {
                if (subPath == "dong-economy")
                {
                    <h1 class="heading">Dòng economy</h1>

                }
                if (subPath == "dong-premium")
                {
                    <h1 class="heading">Dòng premium</h1>

                }
                if (subPath == "dong-standard")
                {
                    <h1 class="heading">Dòng standard</h1>

                }
                if (subPath != "dong-economy" && subPath != "dong-premium" && subPath != "dong-standard")
                {
                    <h1 class="heading">@cateParentName</h1>
                }
            }
            else
            {
                if (subPath == "dong-economy")
                {
                    <h1 class="heading">Economy</h1>

                }
                if (subPath == "dong-premium")
                {
                    <h1 class="heading">Premium</h1>

                }
                if (subPath == "dong-standard")
                {
                    <h1 class="heading">Standard</h1>

                }
                if (subPath != "dong-economy" && subPath != "dong-premium" && subPath != "dong-standard")
                {
                    <h1 class="heading">@cateParentName</h1>
                }
            }


            @if (language == "vi")
            {
                <div class="description">
                    @Html.Raw(cateParent.BannerDescription)
                </div>
            }
            else
            {
                <div class="description">
                    @Html.Raw(cateParent.BannerDescriptionEng)
                </div>
            }
            @*Hãy mang lại dấu ấn riêng của cá nhân bạn bằng cách thêm vào tên của bạn, logo hoặc những thiết kế khác lên trên các sản phẩm của Mac Chef. Các sản phẩm về áo, tạp dề, nón … đều có thể thực hiện để tạo sự ấn tượng của riêng bạn. Hãy liên hệ với nhân viên tư vấn của chúng tôi đối với những thiết kế về logo hoặc thương hiệu của bạn nhé. Vui lòng gửi email về địa chỉ <a href="#">sales@unichef.vn</a> hoặc liên hệ <a href="#">Hotline: 0966.290.290</a>*@
        </div>

        <div id="filter-res" onclick="openNavFilter()">
            <i class="fa fa-bars" aria-hidden="true" id="filter-nav"></i>
            <span> &nbsp; BỘ LỌC</span>
            <button id="rs-mobile" class="btn btn-link spinner" ng-click="vm.clearAllFilters()" title="Refresh">
                <img id="img-rs" src="~/Content/images/icon/Comp-2.gif">
            </button>
        </div>
    </section><!-- /Section: OVERVIEW -->
    <!-- Section: FILTER TOPBAR -->
    <section id="filter-topbar">
        <div class="container">
            <div class="clearfix">
                <div class="heading pull-left">
                    <h2 data-lang="Filter">Bộ lọc</h2>
                    <button class="btn btn-link spinner" ng-click="vm.clearAllFilters()" title="Refresh">
                        <img src="~/Content/images/icon/refresh-nau.png" />
                    </button>
                </div>
                <div class="sorting pull-left">
                    <h3 data-lang="Sort">Sắp xếp</h3>
                    <select class="select" name="sorting" ng-model="vm.sortBy">
                        <option name="sort-by-price" value="+price" data-lang="Price_Low_High">VND thấp - cao</option>
                        <option name="sort-by-price" value="-price" data-lang="Price_High_Low">VND cao - thấp</option>
                    </select>
                </div>
                <div class="showing pull-left">
                    <h3 data-lang="Showing">Hiển thị</h3>
                    <select class="select" name="showing" ng-init="itemsPerPage = 9" ng-model="itemsPerPage">
                        <option value="9">9</option>
                        <option value="12">12</option>
                        <option value="15">15</option>
                        <option value="18">18</option>
                    </select>
                </div>
            </div>
        </div>
    </section><!-- /Section: FILTER TOPBAR -->
    <div class="container clearfix">
        <!-- Section: FILTER SIDEBAR -->
        <section id="filter-sidebar" class="pull-left">
            <div class="inner">
                <div class="filter-field togglable active">
                    <div class="head">
                        <span data-lang="Price">Giá</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <div class="body text-12">
                        <label onclick="filterPrice(1)">
                            100.000 - 200.000
                            <input type="radio" ng-model="vm.price_range" ng-value="{min:100000, max:200000}" />
                            <div class="custom-radio"></div>
                        </label>
                        <label onclick="filterPrice(2)">
                            200.000 - 500.000
                            <input type="radio" ng-model="vm.price_range" ng-value="{min:200000, max:500000}" />
                            <div class="custom-radio"></div>
                        </label>
                        <label onclick="filterPrice(3)">
                            Trên 500.000
                            <input type="radio" ng-model="vm.price_range" ng-value="{min:500000, max:1000000}" />
                            <div class="custom-radio"></div>
                        </label>
                    </div>
                </div>
                <div class="filter-field no-border-top">
                    <div class="head">
                        <span data-lang="From_To">Từ - đến</span>
                    </div>
                    <div class="body">
                        <input type="text" id="amount" readonly hidden>
                        <input id="range-slider-min" type="text" ng-model="vm.price_range.min" ng-init="vm.price_range.min=0" hidden />
                        <input id="range-slider-max" type="text" ng-model="vm.price_range.max" ng-init="vm.price_range.max=1000000" hidden />
                        <div id="slider-range"></div>
                        <div class="clearfix price-range">
                            <div id="price-min" ng-model="vm.price_range.min" class="pull-left">{{vm.price_range.min}}</div>
                            <div id="price-max" ng-model="vm.price_range.max" class="pull-right">{{vm.price_range.max}}</div>
                        </div>
                    </div>
                </div>

            </div>
            @if (subPath != "dong-economy" && subPath != "dong-standard" && subPath != "dong-premium")
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>Dòng sản phẩm</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <div class="body">
                        <label>
                            Sản phẩm tiết kiệm
                            <input type="radio" ng-model="kind" name="kind" value="economy">
                            <div class="custom-radio"></div>
                        </label>
                        <label>
                            Sản phẩm tiêu chuẩn
                            <input type="radio" ng-model="kind" name="kind" value="standard">
                            <div class="custom-radio"></div>
                        </label>
                        <label>
                            Sản phẩm cao cấp
                            <input type="radio" ng-model="kind" name="kind" value="premium">
                            <div class="custom-radio"></div>
                        </label>
                    </div>
                </div>
            }



            @if (!String.IsNullOrWhiteSpace(cateParent.Att1))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>
                            @if (cateParent.Att1.Split(':')[0].Split('|').Length == 2)
                            {
                                if (language == "vi")
                                {
                                    @cateParent.Att1.Split(':')[0].Split('|').GetValue(0)
                                }
                                else
                                {
                                    @cateParent.Att1.Split(':')[0].Split('|').GetValue(1)
                                }
                            }
                            else
                            {
                                @cateParent.Att1.Split(':')[0]
                            }
                        </span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att1.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @if (item.Split('|').Length == 2)
                                {
                                    if (language == "vi")
                                    {
                                        @item.Split('|').GetValue(0)
                                    }
                                    else
                                    {
                                        @item.Split('|').GetValue(1)
                                    }
                                }
                                else
                                {
                                    @item
                                }
                                <input type="radio" ng-model="att1" name="@cateParent.Att1.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att2))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>
                            @if (cateParent.Att2.Split(':')[0].Split('|').Length == 2)
                            {
                                if (language == "vi")
                                {
                                    @cateParent.Att2.Split(':')[0].Split('|').GetValue(0)
                                }
                                else
                                {
                                    @cateParent.Att2.Split(':')[0].Split('|').GetValue(1)
                                }
                            }
                            else
                            {
                                @cateParent.Att2.Split(':')[0]
                            }
                        </span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att2.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @if (item.Split('|').Length == 2)
                                {
                                    if (language == "vi")
                                    {
                                        @item.Split('|').GetValue(0)
                                    }
                                    else
                                    {
                                        @item.Split('|').GetValue(1)
                                    }
                                }
                                else
                                {
                                    @item
                                }
                                <input type="radio" ng-model="att2" name="@cateParent.Att2.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att3))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>
                            @if (cateParent.Att3.Split(':')[0].Split('|').Length == 2)
                            {
                                if (language == "vi")
                                {
                                    @cateParent.Att3.Split(':')[0].Split('|').GetValue(0)
                                }
                                else
                                {
                                    @cateParent.Att3.Split(':')[0].Split('|').GetValue(1)
                                }
                            }
                            else
                            {
                                @cateParent.Att3.Split(':')[0]
                            }
                        </span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att3.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @if (item.Split('|').Length == 2)
                                {
                                    if (language == "vi")
                                    {
                                        @item.Split('|').GetValue(0)
                                    }
                                    else
                                    {
                                        @item.Split('|').GetValue(1)
                                    }
                                }
                                else
                                {
                                    @item
                                }
                                <input type="radio" ng-model="att3" name="@cateParent.Att3.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att4))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>
                            @if (cateParent.Att4.Split(':')[0].Split('|').Length == 2)
                            {
                                if (language == "vi")
                                {
                                    @cateParent.Att4.Split(':')[0].Split('|').GetValue(0)
                                }
                                else
                                {
                                    @cateParent.Att4.Split(':')[0].Split('|').GetValue(1)
                                }
                            }
                            else
                            {
                                @cateParent.Att4.Split(':')[0]
                            }
                        </span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att4.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @if (item.Split('|').Length == 2)
                                {
                                    if (language == "vi")
                                    {
                                        @item.Split('|').GetValue(0)
                                    }
                                    else
                                    {
                                        @item.Split('|').GetValue(1)
                                    }
                                }
                                else
                                {
                                    @item
                                }
                                <input type="radio" ng-model="att4" name="@cateParent.Att4.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att5))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>
                            @if (cateParent.Att5.Split(':')[0].Split('|').Length == 2)
                            {
                                if (language == "vi")
                                {
                                    @cateParent.Att5.Split(':')[0].Split('|').GetValue(0)
                                }
                                else
                                {
                                    @cateParent.Att5.Split(':')[0].Split('|').GetValue(1)
                                }
                            }
                            else
                            {
                                @cateParent.Att5.Split(':')[0]
                            }
                        </span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att5.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @if (item.Split('|').Length == 2)
                                {
                                    if (language == "vi")
                                    {
                                        @item.Split('|').GetValue(0)
                                    }
                                    else
                                    {
                                        @item.Split('|').GetValue(1)
                                    }
                                }
                                else
                                {
                                    @item
                                }
                                <input type="radio" ng-model="att5" name="@cateParent.Att5.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att6))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>
                            @if (cateParent.Att6.Split(':')[0].Split('|').Length == 2)
                            {
                                if (language == "vi")
                                {
                                    @cateParent.Att6.Split(':')[0].Split('|').GetValue(0)
                                }
                                else
                                {
                                    @cateParent.Att6.Split(':')[0].Split('|').GetValue(1)
                                }
                            }
                            else
                            {
                                @cateParent.Att6.Split(':')[0]
                            }
                        </span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att6.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @if (item.Split('|').Length == 2)
                                {
                                    if (language == "vi")
                                    {
                                        @item.Split('|').GetValue(0)
                                    }
                                    else
                                    {
                                        @item.Split('|').GetValue(1)
                                    }
                                }
                                else
                                {
                                    @item
                                }
                                <input type="radio" ng-model="att6" name="@cateParent.Att6.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att7))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>
                            @if (cateParent.Att7.Split(':')[0].Split('|').Length == 2)
                            {
                                if (language == "vi")
                                {
                                    @cateParent.Att7.Split(':')[0].Split('|').GetValue(0)
                                }
                                else
                                {
                                    @cateParent.Att7.Split(':')[0].Split('|').GetValue(1)
                                }
                            }
                            else
                            {
                                @cateParent.Att7.Split(':')[0]
                            }
                        </span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att7.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @if (item.Split('|').Length == 2)
                                {
                                    if (language == "vi")
                                    {
                                        @item.Split('|').GetValue(0)
                                    }
                                    else
                                    {
                                        @item.Split('|').GetValue(1)
                                    }
                                }
                                else
                                {
                                    @item
                                }
                                <input type="radio" ng-model="att7" name="@cateParent.Att7.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att8))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>
                            @if (cateParent.Att8.Split(':')[0].Split('|').Length == 2)
                            {
                                if (language == "vi")
                                {
                                    @cateParent.Att8.Split(':')[0].Split('|').GetValue(0)
                                }
                                else
                                {
                                    @cateParent.Att8.Split(':')[0].Split('|').GetValue(1)
                                }
                            }
                            else
                            {
                                @cateParent.Att8.Split(':')[0]
                            }
                        </span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att8.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @if (item.Split('|').Length == 2)
                                {
                                    if (language == "vi")
                                    {
                                        @item.Split('|').GetValue(0)
                                    }
                                    else
                                    {
                                        @item.Split('|').GetValue(1)
                                    }
                                }
                                else
                                {
                                    @item
                                }
                                <input type="radio" ng-model="att8" name="@cateParent.Att8.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att9))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>
                            @if (cateParent.Att9.Split(':')[0].Split('|').Length == 2)
                            {
                                if (language == "vi")
                                {
                                    @cateParent.Att9.Split(':')[0].Split('|').GetValue(0)
                                }
                                else
                                {
                                    @cateParent.Att9.Split(':')[0].Split('|').GetValue(1)
                                }
                            }
                            else
                            {
                                @cateParent.Att9.Split(':')[0]
                            }
                        </span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att9.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @if (item.Split('|').Length == 2)
                                {
                                    if (language == "vi")
                                    {
                                        @item.Split('|').GetValue(0)
                                    }
                                    else
                                    {
                                        @item.Split('|').GetValue(1)
                                    }
                                }
                                else
                                {
                                    @item
                                }
                                <input type="radio" ng-model="att9" name="@cateParent.Att9.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att10))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>
                            @if (cateParent.Att10.Split(':')[0].Split('|').Length == 2)
                            {
                                if (language == "vi")
                                {
                                    @cateParent.Att10.Split(':')[0].Split('|').GetValue(0)
                                }
                                else
                                {
                                    @cateParent.Att10.Split(':')[0].Split('|').GetValue(1)
                                }
                            }
                            else
                            {
                                @cateParent.Att10.Split(':')[0]
                            }
                        </span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att10.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @if (item.Split('|').Length == 2)
                                {
                                    if (language == "vi")
                                    {
                                        @item.Split('|').GetValue(0)
                                    }
                                    else
                                    {
                                        @item.Split('|').GetValue(1)
                                    }
                                }
                                else
                                {
                                    @item
                                }
                                <input type="radio" ng-model="att10" name="@cateParent.Att10.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }

            <div class="filter-field togglable active">
                <div class="head">
                    <span>Sự lựa chọn</span>
                    <button class="btn btn-link">
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
                <div class="body">
                    <label>
                        New item
                        <input type="radio" ng-model="choice" name="choice" value="new">
                        <div class="custom-radio"></div>
                    </label>
                    <label>
                        On sale
                        <input type="radio" ng-model="choice" name="choice" value="on sale">
                        <div class="custom-radio"></div>
                    </label>
                </div>
            </div>
            <button class="btn btn-bordered btn-filter" data-lang="Search">
                Tìm kiếm
            </button>
        </section><!-- /Section: FILTER SIDEBAR -->
        <!-- Section: FILTER RESULTS -->
        <section id="filter-results" class="pull-left">
            @{ if (isAllProduct == false)
                {
                    <div class="row">
                        <!--Product by category-->
                        <div class="product col-sm-4"
                             dir-paginate="product in vm.productList
                             | filter: vm.filterPrice
                             | filter:{ specification: { name: $, value: att1} }:true
                             | filter:{ specification: { name: $, value: att2} }:true
                             | filter:{ specification: { name: $, value: att3} }:true
                             | filter:{ specification: { name: $, value: att4} }:true
                             | filter:{ specification: { name: $, value: att5} }:true
                             | filter:{ specification: { name: $, value: att6} }:true
                             | filter:{ specification: { name: $, value: att7} }:true
                             | filter:{ specification: { name: $, value: att8} }:true
                             | filter:{ specification: { name: $, value: att9} }:true
                             | filter:{ specification: { name: $, value: att10} }:true
                             | filter:{ specification: { name: $, value: choice} }:true
                             | filter:{ specification: { name: $, value: kind} }:true
                             | orderBy: vm.sortBy | itemsPerPage: itemsPerPage">
                            <div style="height:45px; width:100%">
                                <div id="discount-percent" ng-show="product.dispercent>0">
                                    <span id="dis-rate">
                                        {{product.dispercent}}%
                                    </span>
                                </div>
                            </div>
                            <div class="ratio-wrapper">
                                <a href="/san-pham/{{product.seoName}}" class="ratio-item" style="background-image: url('{{product.image}}')"></a>
                            </div>
                            <div class="color">
                                <div ng-repeat="color in product.specification | filter: {name: 'color'}" style="background-image :  url('{{color.ImageUrl}}')"></div>
                                @*<div style="background: #ffffff"></div>
                                    <div style="background: #000000"></div>
                                    <div style="background: #d0021b"></div>
                                    <div style="background: #571e7f"></div>
                                    <div style="background: #760000"></div>*@
                            </div>
                            <div class="info">
                                <div class="clearfix sp">
                                    <div class="format-name-price col-md-12">
                                        @if (language == "en")
                                        {
                                            <a class="name" href="/san-pham/{{product.seoName}}">
                                                {{product.nameEng}}
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="name" href="/san-pham/{{product.seoName}}">
                                                {{product.name}}
                                            </a>
                                        }

                                    </div>
                                    <div class="pro-code col-sm-6 col-xs-6">
                                        {{product.code}}
                                    </div>
                                    <div class="price col-sm-6 col-xs-6">
                                        <span ng-if="product.dispercent>0" class="linethrough">
                                            {{product.price | currency : "" : 0}} VNĐ
                                        </span>
                                        <span ng-if="product.dispercent<=0">
                                            {{product.price | currency : "" : 0}} VNĐ
                                        </span>
                                    </div>
                                    <div class="discount col-md-12" style="height:20px">
                                        <span ng-show="product.dispercent>0">{{product.price - (product.price*product.dispercent/100) | currency : "" : 0}} VNĐ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <!--All product-->
            @{
                var paginateAllProduct = "product in vm.productListOfCateParent " +
                                   "| filter: vm.filterPrice" +
                                   "| filter:{ specification: { name: $, value: att1} }:true" +
                                   "| filter:{ specification: { name: $, value: att2} }:true" +
                                   "| filter:{ specification: { name: $, value: att3} }:true" +
                                   "| filter:{ specification: { name: $, value: att4} }:true" +
                                   "| filter:{ specification: { name: $, value: att5} }:true" +
                                   "| filter:{ specification: { name: $, value: att6} } :true" +
                                   "| filter:{ specification: { name: $, value: att7} }:true" +
                                   "| filter:{ specification: { name: $, value: att8} }:true" +
                                   "| filter:{ specification: { name: $, value: att9} }:true" +
                                   "| filter:{ specification: { name: $, value: att10} }:true" +
                                   "| filter:{ specification: { name: $, value: choice} }:true";
                if (subPath == "dong-economy")
                {
                    paginateAllProduct = paginateAllProduct + "| filter:{specification: {name: $, value: 'economy'}}:true";
                }
                else if (subPath == "dong-premium")
                {
                    paginateAllProduct = paginateAllProduct + "| filter:{specification: {name: $, value: 'premium'}}:true";
                }
                else if (subPath == "dong-standard")
                {
                    paginateAllProduct = paginateAllProduct + "| filter:{specification: {name: $, value: 'standard'}}:true";
                }
                paginateAllProduct = paginateAllProduct + "| orderBy: vm.sortBy | itemsPerPage: itemsPerPage";
            }
            @{if (isAllProduct == true)
                {
                    <div class="row">
                        <div class="product col-sm-4" dir-paginate="@Html.Raw(paginateAllProduct)">
                            <div style="height:45px; width:100%">
                                <div id="discount-percent" ng-show="product.dispercent>0">
                                    <span id="dis-rate">
                                        {{product.dispercent}}%
                                    </span>
                                </div>
                            </div>
                            <div class="ratio-wrapper">
                                <a href="/san-pham/{{product.seoName}}" class="ratio-item" style="background-image: url('{{product.image}}')"></a>
                            </div>
                            <div class="color">
                                <div ng-repeat="color in product.specification | filter: {name: 'color'}" style="background-image : url('{{color.ImageUrl}}')"></div>
                            </div>
                            <div class="info">
                                <div class="clearfix sp">
                                    <div class="format-name-price col-md-12">
                                        @if (language == "en")
                                        {
                                            <a class="name" href="/san-pham/{{product.seoName}}">
                                                {{product.nameEng}}
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="name" href="/san-pham/{{product.seoName}}">
                                                {{product.name}}
                                            </a>
                                        }

                                    </div>
                                    <div class="pro-code col-sm-6 col-xs-6">
                                        {{product.code}}
                                    </div>
                                    <div class="price col-sm-6 col-xs-6">
                                        <span ng-if="product.dispercent>0" class="linethrough">
                                            {{product.price | currency : "" : 0}} VNĐ
                                        </span>
                                        <span ng-if="product.dispercent<=0">
                                            {{product.price | currency : "" : 0}} VNĐ
                                        </span>

                                    </div>
                                    <div class="discount col-md-12" style="height:20px">
                                        <span ng-show="product.dispercent>0">{{product.price - (product.price*product.dispercent/100) | currency : "" : 0}} VNĐ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <dir-pagination-controls></dir-pagination-controls>
        </section><!-- /Section: FILTER RESULTS -->
    </div>
</div><!-- /PRODUCT PAGE's BODY -->
@section scripts{
    <script>
        angular.module('OrderApp').controller('productController', function ($scope, $modal, productService) {
            var vm = this;
            vm.productList = [];
            vm.productFilter = [];
            vm.getAllProducts = function (cateId) {
                var promise = productService.loadAllProducts(cateId);
                promise.then(function (products) {
                    vm.productList = products;
                    document.querySelector('.spinner-group').style.display = 'none';

                });
            }
            vm.productListOfCateParent = [];
            vm.getAllProductsOfCateParent = function (cateId) {
                var promise = productService.loadAllProductsOfCateParent(cateId);
                promise.then(function (products) {
                    vm.productListOfCateParent = products;
                    document.querySelector('.spinner-group').style.display = 'none';
                });
            }

            vm.filterPrice = function (product) {
                if (!angular.isUndefined(vm.price_range)) {
                    return product.price >= vm.price_range.min && product.price <= vm.price_range.max;
                } else {
                    return product.price >= 0 && product.price <= 1000000;
                }
            }



            vm.clearAllFilters = function () {
                $scope.att1 = undefined;
                $scope.att2 = undefined;
                $scope.att3 = undefined;
                $scope.att4 = undefined;
                $scope.att5 = undefined;
                $scope.att6 = undefined;
                $scope.att7 = undefined;
                $scope.att8 = undefined;
                $scope.att9 = undefined;
                $scope.att10 = undefined;
                $scope.choice = undefined;
                $scope.kind = undefined;
                vm.price_range = { min: 0, max: 1000000 };
                resetSlider();
            }

            angular.element(document).ready(function () {
                vm.getAllProducts(@products.Category.CateID);
                vm.getAllProductsOfCateParent(@products.Category.CateID);
                document.querySelector('.spinner-group').style.display = 'block';
            });
        });

        function resetSlider() {
            $(".ui-slider-handle:nth-child(2)").css("left", "0%");
            $(".ui-slider-handle:nth-child(3)").css("left", "100%");
            $(".ui-widget-header").css("left", "0%");
            $(".ui-widget-header").css("width", "100%");
        }

        function filterPrice(type) {
            if (type == 1) {
                $(".ui-slider-handle:nth-child(2)").css("left", "10%");
                $(".ui-slider-handle:nth-child(3)").css("left", "20%");
                $(".ui-widget-header").css("left", "10%");
                $(".ui-widget-header").css("width", "10%");
                $('#range-slider-min').val(100000);
                $('#range-slider-max').val(200000);
                $('#range-slider-min').trigger('input');
                $('#range-slider-max').trigger('input');
            }
            if (type == 2) {
                $(".ui-slider-handle:nth-child(2)").css("left", "20%");
                $(".ui-slider-handle:nth-child(3)").css("left", "50%");
                $(".ui-widget-header").css("left", "20%");
                $(".ui-widget-header").css("width", "30%");
                $('#range-slider-min').val(200000);
                $('#range-slider-max').val(500000);
                $('#range-slider-min').trigger('input');
                $('#range-slider-max').trigger('input');
            }
            if (type == 3) {
                $(".ui-slider-handle:nth-child(2)").css("left", "50%");
                $(".ui-slider-handle:nth-child(3)").css("left", "100%");
                $(".ui-widget-header").css("left", "50%");
                $(".ui-widget-header").css("width", "50%");
                $('#range-slider-min').val(500000);
                $('#range-slider-max').val(1000000);
                $('#range-slider-min').trigger('input');
                $('#range-slider-max').trigger('input');
            }
        }

        $(document).ready(function () {

            // Slider range config
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [0, 1000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    $('#range-slider-min').val(ui.values[0] * 1000);
                    $('#range-slider-max').val(ui.values[1] * 1000);
                    $('#range-slider-min').trigger('input');
                    $('#range-slider-max').trigger('input');
                }
            });


            //  Sidebar toggling config
            $('.filter-field button').click(function () {
                var wrapper = $(this).closest('.filter-field');
                var body = wrapper.find('.body');
                if (wrapper.hasClass('active')) {
                    wrapper.removeClass('active');
                    body.slideUp(300);
                } else {
                    wrapper.addClass('active');
                    body.slideDown(300);
                }
            })
            $(window).resize(function () {
                if ($(window).width() > 991) {
                    var filter1 = $("#filter-sidebar");
                    var resHeight1 = $("#filter-sidebar").height();
                    filter1.css('margin-top', 0 + 'px');
                }
            });
            $('.filter-field.togglable.active .body').show(0);

        });


        if (parseInt($(window).width()) < 769) {
            $('.filter-field').removeClass('active');
        }

        var filter = $("#filter-sidebar");
        var flag = 0;
        function openNavFilter() {

            if (flag == 0) {
                filter.css('margin-top', 0 + 'px');
                flag = 1;
            }
            else if ((flag == 1) && ($(window).width() < 990)) {
                var resHeight = $("#filter-sidebar").height();
                filter.css('margin-top', -resHeight + 'px');
                flag = 0;
            }


        }
    </script>
}