﻿@model RoutedPageViewModel
@{
    //Layout = null;
    //var products = Model.ViewModel<ProductCategoryDetailsViewModel>("Products");
    //var subCate = Model.ViewModel<IEnumerable<ProductCategoryDetailsViewModel>>("SubCate");

    //var groupCate = subCate.GroupBy(q => q.Category.GroupCate);

    var productCollection = Model.ViewModel<ProductCollectionDetailsViewModel>("ProductCollection");
    //productCollection.ProductCollection.
    var saleProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("SaleProduct");
    var trendingProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("TrendingProduct");
    var bannerUrl = productCollection.ProductCollection.BannerUrl != null ? productCollection.ProductCollection.BannerUrl.ToString() : "/Content/images/product-page/banner.png";
    ViewBag.Title = productCollection.ProductCollection.Name;
    var language = "";
    if (Request.Cookies["language"] != null && "en" == Request.Cookies["language"].Value)
    {
        language = "en";
    }
    else
    {
        language = "vi";
    }
}
@section SEO{
    <meta name="keywords" content="@Html.Raw(!string.IsNullOrWhiteSpace(productCollection.ProductCollection.SEOKeyword)?productCollection.ProductCollection.SEOKeyword:"")" />
    <meta name="title" content="@Html.Raw(!string.IsNullOrWhiteSpace(productCollection.ProductCollection.SEO)?productCollection.ProductCollection.SEO:"")">
    <meta name="description" content="@Html.Raw(!string.IsNullOrWhiteSpace(productCollection.ProductCollection.SEODescription)?productCollection.ProductCollection.SEODescription:"")">
}
<!-- PRODUCT PAGE's BODY -->
<div id="product-page">
    <!-- Section: OVERVIEW -->
    <section id="overview">
        <div class="container">
            @if (language == "vi")
            {
                <h1 class="heading">@(productCollection.ProductCollection.Name)</h1>
            }
            else
            {
                <h1 class="heading">@(productCollection.ProductCollection.NameEng)</h1>
            }
            @*<div class="description">
                    Hãy mang lại dấu ấn riêng của cá nhân bạn bằng cách thêm vào tên của bạn, logo hoặc những thiết kế khác lên trên các sản phẩm của Mac Chef. Các sản phẩm về áo, tạp dề, nón … đều có thể thực hiện để tạo sự ấn tượng của riêng bạn. Hãy liên hệ với nhân viên tư vấn của chúng tôi đối với những thiết kế về logo hoặc thương hiệu của bạn nhé. Vui lòng gửi email về địa chỉ <a href="#">sales@unichef.vn</a> hoặc liên hệ <a href="#">Hotline: 0966.290.290</a>
                </div>*@
            @if (language == "vi")
            {
                <div class="description">
                    @Html.Raw(productCollection.ProductCollection.Description)
                </div>
            }
            else
            {
                <div class="description">
                    @Html.Raw(productCollection.ProductCollection.DescriptionEng)
                </div>
            }
        </div>
    </section><!-- /Section: OVERVIEW -->
    <!-- Section: FILTER TOPBAR -->
    <section id="filter-topbar">
        <div class="container">
            <div class="clearfix">
                <div class="heading pull-left">
                    <h2 data-lang="Filter">Bộ lọc</h2>
                    <div class="spinner">
                        <img src="~/Content/images/icon/refresh-nau.png" />
                    </div>
                </div>
                <div class="sorting pull-left">
                    <h3 data-lang="Sort">Sắp xếp</h3>
                    <select class="select" name="sorting">
                        <option data-lang="Price_Low_High">VND thấp - cao</option>
                        <option data-lang="Price_High_Low">VND cao - thấp</option>
                    </select>
                </div>
                <div class="showing pull-left">
                    <h3 data-lang="Showing">Hiển thị</h3>
                    <select class="select" name="showing">
                        <option value="8">8</option>
                        <option value="12">12</option>
                        <option value="16">16</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>
    </section><!-- /Section: FILTER TOPBAR -->
    <!-- Section: FILTER RESULTS -->
    <section id="filter-results" style="width: 100%; padding: 0;">
        <div class="container">
            <div class="row">
                @if (productCollection.Items.Count() > 0)
                {
                    foreach (var item in productCollection.Items)
                    {
                        <div class="product col-md-3 col-sm-4">
                            <div style="height:45px; width:100%">
                                @{
                                    if (item.Product.DiscountPercent > 0)
                                    {
                                        <div id="discount-percent">
                                            <span id="dis-rate">
                                                @item.Product.DiscountPercent%
                                            </span>
                                        </div>
                                    }

                                }
                            </div>
                            <div class="ratio-wrapper">
                                <a href="@Html.UrlWithDirectory("san-pham", item.Product.SeoName)" class="ratio-item" style="background-image: url('@item.Product.PicURL')"></a>
                            </div>
                            <div class="color">
                                @foreach (var specification in item.ProductSpecifications)
                                {
                                    if (specification.Name.ToLower() == "color")
                                    {
                                        <div style="background: @specification.Value"></div>

                                    }
                                    @*<div style="background: #000000"></div>
                                        <div style="background: #d0021b"></div>
                                        <div style="background: #571e7f"></div>
                                        <div style="background: #760000"></div>*@
                                }
                            </div>
                            <div class="info">
                                <div class="clearfix col-md-12" style="padding-left:0px; padding-right:0px;">
                                    @if (language == "vi")
                                    {
                                        <a class="name pull-left" href="@Html.UrlWithDirectory("san-pham", item.Product.SeoName)">
                                            @item.Product.ProductName
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="name pull-left" href="@Html.UrlWithDirectory("san-pham", item.Product.SeoName)">
                                            @item.Product.ProductNameEng
                                        </a>
                                    }

                                </div>
                                <div class="col-sm-6 col-xs-6 code pull-left">
                                    @item.Product.Code
                                </div>
                                @{
                                    if (item.Product.DiscountPercent <= 0)
                                    {
                                        <div class="price pull-right col-sm-6 col-xs-6">
                                            @String.Format("{0:0,0 VNĐ}", item.Product.Price)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price pull-right col-sm-6 linethrough col-xs-6">
                                            @String.Format("{0:0,0 VNĐ}", item.Product.Price)
                                        </div>
                                    }
                                }
                                <div class="discount col-md-12" style="height:20px; padding-left:0px; padding-right:0px">
                                    @{
                                        if (item.Product.DiscountPercent > 0)
                                        {
                                            var discounted = (item.Product.Price * item.Product.DiscountPercent / 100);
                                            <span>@String.Format("{0:0,0 VNĐ}", item.Product.Price - discounted)</span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="promt-collection col-sm-offset-4 col-sm-12" data-lang="Updating_product">Sản phẩm đang được cập nhật. Cảm ơn!</div>
                                        }
            </div>
            @*<div class="pagi">
                    <a href="#">
                        <img class="icon icon-pagi-next" src="/Content/images/icon/icon_arrow_left_2x.png">
                    </a>
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">
                        <img class="icon icon-pagi-next" src="/Content/images/icon/icon_arrow_right_2x.png">
                    </a>
                </div>*@
        </div>
    </section><!-- /Section: FILTER RESULTS -->
</div><!-- /PRODUCT PAGE's BODY -->
@section scripts{
    <script>
        $(document).ready(function () {
            // Slider range config
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [0, 1000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    $("#price-min").html(ui.values[0] * 1000);
                    $("#price-max").html(ui.values[1] * 1000);
                }
            });

            //  Sidebar toggling config
            $('.filter-field button').click(function () {
                var wrapper = $(this).closest('.filter-field');
                var body = wrapper.find('.body');
                if (wrapper.hasClass('active')) {
                    wrapper.removeClass('active');
                    body.slideUp(300);
                } else {
                    wrapper.addClass('active');
                    body.slideDown(300);
                }
            })
            $('.filter-field.togglable.active .body').show(0);
        });
    </script>
}