﻿@model RoutedPageViewModel
@{
    var username = this.User.Identity.Name;
}


<style>
    .loading-gif {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        height: 100%;
        /*background: rgba(0, 0, 0, 0.1);*/
        background: none;
        text-align: center;
        display: none;
    }

        .loading-gif img {
            width: 190px;
            height: auto;
            position: absolute;
            bottom: 15px;
            left: 35px;
        }
</style>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productDetail = Model.ViewModel<ProductDetailsViewModel>("ProductDetails");
    var listExtraCategory = Model.ViewModel<IEnumerable<ProductCategoryViewModel>>("ExtraCategory");
    var colors = productDetail.ProductSpecifications.Where(a => a.Name == "color");
    var relatedProducts = Model.ViewModel<IEnumerable<ProductViewModel>>("RelatedProducts");
    var saleProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("SaleProduct");
    var trendingProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("TrendingProduct");
    var hotProduct = Model.ViewModel<ProductCollectionDetailsViewModel>("HotProducts");
    var webSettings = Model.ViewModel<IEnumerable<StoreWebSettingViewModel>>("Settings");
    ViewBag.Title = productDetail.Product.ProductName;
    var id = productDetail.Product.ProductID;
    var name = productDetail.Product.ProductName;
    var dispercent = productDetail.Product.DiscountPercent;
    var code = productDetail.Product.Code;
    var image = productDetail.Product.PicURL;
    var price = productDetail.Product.Price;
    var seoName = productDetail.Product.SeoName;

    var tempId = Request.Params["tempId"];
    var ratingProduct = 0;
    var cmtRatingProduct = Model.ViewModel<RatingProductViewModel>("ReviewContent");

    var productName = "";

    if (productDetail.Product.NumOfUserVoted != null && productDetail.Product.RatingTotal != null && productDetail.Product.NumOfUserVoted != 0)
    {
        ratingProduct = productDetail.Product.RatingTotal.Value / productDetail.Product.NumOfUserVoted.Value;
    }
    var language = "";
    if (Request.Cookies["language"] != null && "en" == Request.Cookies["language"].Value)
    {
        language = "en";
        productName = productDetail.Product.ProductNameEng;
    }
    else
    {
        language = "vi";
        productName = productDetail.Product.ProductName;
    }
}
@section SEO{
    <meta name="keywords" content="@Html.Raw(!string.IsNullOrWhiteSpace(productDetail.Product.SeoKeyWords) ? productDetail.Product.SeoKeyWords : "")" />
    <meta name="title" content="@Html.Raw(!string.IsNullOrWhiteSpace(productDetail.Product.SeoName) ? productDetail.Product.SeoName : "")">
    <meta name="description" content="@Html.Raw(!string.IsNullOrWhiteSpace(productDetail.Product.SeoDescription) ? productDetail.Product.SeoDescription : "")">
    <meta name="author" content="UniChef" />
    <meta name="robots" content="UniChef, UniChef" />
}
@*Dung check stt trai tim*@
<input type="hidden" value="0" id="FLAG_Favorite" />
<input type="hidden" value="@(productDetail.Product.ProductID)" id="productId_An" />
<input type="hidden" value="@username" id="username_An" />

<div class="loading-gif" id="loading-gif">
    <img src="~/Content/images/loading_bar_animated.gif" />
</div>
<div id="product-detail-page" ng-controller="productDetailController as vm">
    <!-- BREADCUM -->
    <section id="breadcum">
        <div class="container container-wisky">
            @if (language == "vi")
            {
                <a href="@Html.UrlWithDirectory("trang-chu")">Trang chủ</a>
            }
            else
            {
                <a href="@Html.UrlWithDirectory("trang-chu")">Home Page</a>
            }

            <i class="fa fa-angle-right"></i>
            @if (language == "vi")
            {
                if (productDetail.ProductCategory.ProductCategory2 != null)
                {
                    <a href="@Html.UrlWithDirectory("danh-muc", productDetail.ProductCategory.ProductCategory2.SeoName)">
                        @Html.Raw(productDetail.ProductCategory.ProductCategory2.CateName)
                    </a>
                    <i class="fa fa-angle-right"></i>
                }
                <a href="@Html.UrlWithDirectory("danh-muc", productDetail.ProductCategory.SeoName)">
                    @Html.Raw(productDetail.ProductCategory.CateName)
                </a>
            }
            else
            {
                if (productDetail.ProductCategory.ProductCategory2 != null)
                {
                    <a href="@Html.UrlWithDirectory("danh-muc", productDetail.ProductCategory.ProductCategory2.SeoName)">
                        @Html.Raw(productDetail.ProductCategory.ProductCategory2.CateNameEng)
                    </a>
                    <i class="fa fa-angle-right"></i>
                }
                <a href="@Html.UrlWithDirectory("danh-muc", productDetail.ProductCategory.SeoName)">
                    @Html.Raw(productDetail.ProductCategory.CateNameEng)
                </a>
            }

            <i class="fa fa-angle-right"></i>
            <a href="@Html.UrlWithDirectory("san-pham", productDetail.Product.SeoName)" class="productName">
                @if (language == "en")
                {
                    @Html.Raw(productDetail.Product.ProductNameEng);
                }
                else
                {
                    @Html.Raw(productDetail.Product.ProductName);
                }
            </a>

        </div>
    </section>
    <!-- /BREADCUM -->
    <!-- PRODUCT SUMMARY -->
    <section id="product-summary">
        @if (colors != null && colors.Count() > 0)
        {
            <div ng-init="vm.initProduct(@id, '@(productName)', @dispercent, '@(image)', '@(code)', @price, '@(seoName)', @(tempId==null?"null":tempId), '@colors.FirstOrDefault().ImageUrl', '@colors.FirstOrDefault().Value')"></div>
        }
        else
        {
            <div ng-init="vm.initProduct(@id, '@(productName)', @dispercent, '@(image)', '@(code)', @price, '@(seoName)', @(tempId==null?"null":tempId), '', '')"></div>
        }

        <div class="container container-wisky">
            <div class="clearfix">
                @* phần popup *@
                <div class="popuptext" id="myPopup">
                    <div class="col-sm-12" style="margin-top:5px;">
                        <h5 class="pophead" data-lang="addcartsuccess" ng-show="!vm.isUpdatingCart">SẢN PHẨM ĐÃ ĐƯỢC THÊM THÀNH CÔNG</h5>
                        <h5 class="pophead" data-lang="updatecartsuccess" ng-show="vm.isUpdatingCart">SẢN PHẨM ĐÃ ĐƯỢC CẬP NHẬT THÀNH CÔNG</h5>
                    </div>
                    @* phần nội dung *@
                    <div class="col-sm-12 popbody">
                        <div class="col-sm-3">
                            <img src="@Html.Raw(productDetail.Product.PicURL)" class="popimg" />
                        </div>

                        <div class="col-sm-9">
                            <span class="popcontain"> &nbsp; @Html.Raw(productDetail.Product.Code)</span><br />
                            <span class="popcontain productName">
                                &nbsp;
                                @if (language == "en")
                                {
                                    @Html.Raw(productDetail.Product.ProductNameEng);
                                }
                                else
                                {
                                    @Html.Raw(productDetail.Product.ProductName);
                                }
                            </span><br />
                            <span class="popcontain">{{vm.product.quantity}} x &nbsp;@Html.Raw(!string.IsNullOrWhiteSpace(productDetail.Product.FormattedDiscountPrice) ? productDetail.Product.FormattedDiscountPrice : productDetail.Product.FormattedPrice) VND</span><br />
                            <span>{{vm.product.size}}</span><span style="margin-left: 20px"><img style="height:15px;width:15px;border-color: #979797" ng-src="{{vm.product.colorUrl}}" /></span>
                        </div>
                    </div>
                    @* nút xem giỏ hàng (gắn link href vào) *@
                    <a class="col-sm-12" style="margin-top:20px;" href="@Html.UrlWithDirectory("gio-hang")">
                        <div class="col-sm-6">
                            <div class="popbutton">
                                <p style="margin-top:6.5px" data-lang="ViewCart">
                                    XEM GIỎ HÀNG
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pull-left summary-left">
                    <!-- PRODUCT IMAGES -->

                    <div id="product-images">
                        @{
                            if (productDetail.Product.DiscountPercent > 0)
                            {
                                <div class="discount-details">
                                    <span class="rate-detail">@productDetail.Product.DiscountPercent%</span>
                                </div>

                            }
                        }
                        <div class="slider-for">
                            @foreach (var item in productDetail.ProductImages)
                            {
                                <div class="item">
                                    <div class="ratio-wrapper">
                                        <div class="ratio-item" style="background-image: url('@(item.ImageUrl)')"></div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="slider-nav-wrapper">
                            <div class="slick-prev">
                                <img class="icon" src="/Content/images/icon/icon_arrow_left_2x.png">
                            </div>
                            <div class="slick-next">
                                <img class="icon" src="/Content/images/icon/icon_arrow_right_2x.png">
                            </div>
                            <div class="slider-nav">
                                @foreach (var item in productDetail.ProductImages)
                                {
                                    <div class="item">
                                        <div class="ratio-wrapper">
                                            <div class="ratio-item" style="background-image: url('@(item.ImageUrl)')"></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- /PRODUCT IMAGES -->
                </div>
                <div class="pull-left summary-right">
                    <!-- PRODUCT ITEMS -->
                    <div id="product-items">
                        <h1 class="name productName">
                            @if (language == "en")
                            {
                                @Html.Raw(productDetail.Product.ProductNameEng);
                            }
                            else
                            {
                                @Html.Raw(productDetail.Product.ProductName);
                            }
                            @*<a href="@(Html.UrlWithDirectory("san-pham", productDetail.Product.SeoName))">
                                </a>*@
                        </h1>
                        <div class="clearfix">
                            <div class="pull-left price">
                                @if (productDetail.Product.Price == 0)
                                {
                                    <text>Liên hệ</text>
                                }
                                else if (productDetail.Product.DiscountPercent > 0)
                                {
                                    var discounted = (productDetail.Product.Price * productDetail.Product.DiscountPercent / 100);
                                    <span>@String.Format("{0:0,0 VNĐ}", productDetail.Product.Price - discounted)</span>
                                    <span>
                                        <text class="old-price">@Html.Raw(productDetail.Product.FormattedPrice) VND</text>
                                    </span>
                                }
                                else
                                {
                                    <text>@Html.Raw(productDetail.Product.FormattedPrice) VND</text>
                                }
                            </div>
                            <div class="pull-right code">
                                @Html.Raw(productDetail.Product.Code)
                            </div>
                        </div>
                        <hr class="line" style="margin-top: 10px">
                        <div class="detail">
                            <div class="detail-head clearfix">
                                <div class="pull-left title" data-lang="Product_Detail">
                                    Chi tiết sản phẩm
                                </div>
                                <div class="pull-right rating" style="display:inline-block">
                                    <input id="rated" type="text" title="" value="0" data-disabled="true" />
                                    @*@{
                                            if (productDetail.Product.NumOfUserVoted != null && productDetail.Product.RatingTotal != null && productDetail.Product.NumOfUserVoted != 0)
                                            {
                                                <div class="rate-info">(@Html.Raw(ratingProduct) / @Html.Raw(productDetail.Product.NumOfUserVoted.Value) người)</div>
                                            }
                                            else
                                            {
                                                <div class="rate-info">(0/0 người)</div>
                                            }
                                        }*@

                                </div>
                            </div>
                            <div class="detail-body">
                                @if (productDetail.Product.Description == null || productDetail.Product.Description.IsEmpty())
                                {
                                    <span>Chưa có nội dung.</span>
                                }
                                else
                                {
                                    if (language == "en")
                                    {
                                        @Html.Raw(productDetail.Product.DescriptionEng);
                                    }
                                    else
                                    {
                                        @Html.Raw(productDetail.Product.Description);
                                    }
                                }
                            </div>
                        </div>
                        <hr class="line">
                        <div class="color">
                            <div class="title" data-lang="Color">
                                MÀU SẮC
                            </div>
                            <div class="choices">
                                @if (colors != null && colors.Count() > 0)
                                {
                                    foreach (var color in colors)
                                    {
                                        <label>
                                            <input type="radio" name="color" @*ng-model="vm.product.color"*@ value="@(color.Value)" />
                                            <div class="custom-radio" style="background-image: url('@color.ImageUrl')" @*ng-model="vm.product.colorUrl"*@
                                                 ng-click="vm.product.color='@(color.Value)';vm.product.colorUrl='@(color.ImageUrl)'"></div>
                                        </label>
                                    }
                                }
                                else
                                {
                                    <span>Chưa có thông tin.</span>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="size">
                                    <div class="clearfix">
                                        <div class="pull-left title" data-lang="Size">
                                            Kích thước
                                        </div>
                                        <div class="pull-right hint">
                                            <a href="@(Html.UrlWithDirectory("bang-kich-co"))" target="_blank" data-lang="Size_Table">Bảng kích cỡ</a>
                                        </div>
                                    </div>
                                    <select class="select" ng-model="vm.product.size"
                                            ng-options="x as ('Size '+x) for x in vm.sizeArray"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="quantity">
                                    <div class="title" data-lang="Quantity">
                                        Số lượng
                                    </div>
                                    <div class="controls clearfix">
                                        <div class="pull-left">
                                            <select class="select" ng-model="vm.product.quantity" ng-options="x for x in vm.quantityArray"></select>
                                        </div>
                                        <div class="pull-right" id="danhgia">
                                            <a href="" id="favorite"><img class="favorite" src="/Content/images/icon/icon_favorite_2x.png" id="icon-favorite"></a>
                                            <a data-toggle="modal" data-target="#ShareModal"><i class="share-button fa fa-share-alt"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="line line-blur" />
                        <div class="row actions" id="btn-add">
                            <div class="col-xs-6">
                                <button class="btn btn-bordered-details" data-lang="Add_To_Cart" id="popbtn" style="outline:none;"
                                        ng-click="vm.addToCart()" ng-show="!vm.isUpdatingCart">
                                    Thêm vào giỏ hàng
                                </button>
                                <button class="btn btn-bordered-details" id="updatebtn" style="outline:none;"
                                        ng-click="vm.updateCart()" ng-show="vm.isUpdatingCart">
                                    Cập nhật giỏ hàng
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-bordered-details" data-toggle="modal" data-target="#modal-embroidery" data-lang="Custom_Requirement" style="outline:none;">
                                    Yêu cầu riêng
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /PRODUCT ITEMS -->
                </div>
            </div>
        </div>
    </section>




    <!-- /PRODUCT SUMMARY -->
    <!-- PRODUCT DETAIL -->
    <section id="product-detail">
        <div class="container container-wisky" id="detail-desktop">
            <ul class="tab tab-nav">
                <li class="active">
                    <a href="#productDetail" data-toggle="tab" data-lang="Product_Information">
                        Thông tin sản phẩm
                    </a>
                </li>
                <li>
                    <a href="#specification" data-toggle="tab" data-lang="Specification">
                        Thông số kỹ thuật
                    </a>
                </li>
                <li>
                    <a href="#comment" data-toggle="tab" data-lang="Comments">
                        Đóng góp ý kiến
                    </a>
                </li>
                <li>
                    <a href="#warranty" data-toggle="tab" data-lang="Policy">
                        Chính sách đổi trả hàng
                    </a>
                </li>
                <li>
                    <a href="#delivery" data-toggle="tab" data-lang="Delivery_Information">
                        Thông tin giao hàng
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="productDetail" class="tab-pane fade in active">
                    <div class="detail-content">
                        @if (language == "vi")
                        {
                            @Html.Raw(productDetail.Product.Introduction)
                        }
                        else
                        {
                            @Html.Raw(productDetail.Product.IntroductionEng)
                        }
                    </div>
                </div>
                <div id="specification" class="tab-pane fade">
                    <div class="size-table-box">
                        <img class="img-responsive" src="~/Content/images/size-table/table_coatmen_2x.png" />
                    </div>
                </div>
                <div id="comment" class="tab-pane fade">
                    <div class="comment-box">
                        <div class="description" data-lang="Comment_intro">
                            Hãy là người đầu tiên chia sẻ suy nghĩa của bạn về sản phẩm và Dịch vụ của chúng tôi.
                        </div>
                        <h3 class="comment-title" data-lang="Your_comment">
                            Nhận xét của bạn

                        </h3>
                        <div class="rating">
                            <span class="title" data-lang="Product_Rating">Xếp hạng sản phẩm</span>
                            <div class="rating-star">
                                <input id="userStar1" class="rating rating-loading" data-min="0" data-max="5" data-step="1" />
                            </div>
                        </div>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-8" align="center">

                                    <textarea class="comment-content" rows="7" id="content-comment" placeholder="Nội dung" data-lang-placeholder="Content"></textarea>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                            <button type="button" class="btn btn-bordered btn-send-comment" id="submit-feedback" data-lang="SEND"></button>
                        </form>

                    </div>
                    <div id="cmtArea">


                    </div>
                    <button type="button" class="btn btn-link btn-readmore" id="readmore" data-lang="Seemore"></button>
                </div>
                <div id="warranty" class="tab-pane fade">
                    <div class="plain-text-box">
                        @if (language == "vi")
                        {
                            @Html.Raw(Html.GetWebSetting(webSettings, "CHÍNH SÁCH ĐỔI TRẢ").ToString().Trim())
                        }
                        else
                        {
                            @Html.Raw(Html.GetWebSetting(webSettings, "RETURNS AND EXCHANGES").ToString().Trim())
                        }
                    </div>
                </div>
                <div id="delivery" class="tab-pane fade">
                    <div class="plain-text-box">
                        @if (language == "vi")
                        {
                            @Html.Raw(Html.GetWebSetting(webSettings, "THÔNG TIN GIAO HÀNG").ToString().Trim())
                        }
                        else
                        {
                            @Html.Raw(Html.GetWebSetting(webSettings, "DELIVERY INFORMATION").ToString().Trim())
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group category-products" id="detail-mobile">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#detail-mobile" href="#thongtin">
                    <a class="panel-title">
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>

                        THÔNG TIN SẢN PHẨM
                    </a>
                </div>
                <div id="thongtin" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="detail-content">
                            @if (language == "vi")
                            {
                                @Html.Raw(productDetail.Product.Introduction)
                            }
                            else
                            {
                                @Html.Raw(productDetail.Product.IntroductionEng)
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#detail-mobile" href="#kythuat">
                    <a class="panel-title">
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>

                        THÔNG SỐ KỸ THUẬT
                    </a>
                </div>
                <div id="kythuat" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="size-table-box">
                            <img class="img-responsive" src="~/Content/images/size-table/table_coatmen_2x.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#detail-mobile" href="#binhluan">
                    <a class="panel-title">
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>

                        ĐÓNG GÓP Ý KIẾN
                    </a>
                </div>
                <div id="binhluan" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="comment-box">
                            <div class="description">
                                Hãy là người đầu tiên chia sẻ suy nghĩa của bạn về sản phẩm và Dịch vụ của chúng tôi.
                            </div>
                            <h3 class="comment-title">
                                Nhận xét của bạn
                            </h3>
                            <form class="comment-form">
                                <div class="row">
                                    <div class="col-sm-5">
                                        @*<input type="text" name="CustomerName" id="customers-name" data-lang="Customer_Name" placeholder="Tên khách hàng">
                                            <input class="customer-email" type="email" id="customers-email" name="CustomerEmail" placeholder="Email">*@
                                        <div class="rating">
                                            <span class="title" data-lang="Product_Rating">Xếp hạng sản phẩm</span>
                                            <div class="rating-star">
                                                <input id="userStar" class="rating rating-loading" data-min="0" data-max="5" data-step="1" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <textarea class="comment-content" rows="7" id="content-comment2" placeholder="Nội dung" data-lang-placeholder="Content"></textarea>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-bordered btn-send-comment" id="submit-feedback2" data-lang="SEND"></button>
                            </form>
                        </div>
                        <div id="cmtArea2">

                        </div>
                        <input type="button" class="btn btn-link btn-readmore" id="readmore2" data-lang="" value="Xem thêm" />

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#detail-mobile" href="#doitra">
                    <a class="panel-title">
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>

                        CHÍNH SÁCH ĐỔI TRẢ
                    </a>
                </div>
                <div id="doitra" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="plain-text-box">
                            @if (language == "vi")
                            {
                                @Html.Raw(Html.GetWebSetting(webSettings, "CHÍNH SÁCH ĐỔI TRẢ").ToString().Trim())
                            }
                            else
                            {
                                @Html.Raw(Html.GetWebSetting(webSettings, "RETURNS AND EXCHANGES").ToString().Trim())
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#detail-mobile" href="#giaohang">
                    <a class="panel-title">
                        <span class="badge pull-right">
                            <i>
                                <img src="~/Content/images/icon/add_icon.png" class="add-img" />
                                <img src="~/Content/images/icon/minus_icon.png" class="minus-img fade-sub" />
                            </i>
                        </span>

                        CHÍNH SÁCH GIAO HÀNG
                    </a>
                </div>
                <div id="giaohang" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="plain-text-box">
                            @if (language == "vi")
                            {
                                @Html.Raw(Html.GetWebSetting(webSettings, "THÔNG TIN GIAO HÀNG").ToString().Trim())
                            }
                            else
                            {
                                @Html.Raw(Html.GetWebSetting(webSettings, "DELIVERY INFORMATION").ToString().Trim())
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- /PRODUCT DETAIL -->
    <!-- RECOMENDED PRODUCTS -->
    <section id="recomended-products">
        <div class="container container-wisky">
            <h1 class="section-title lined">
                <span class="inner" data-lang="You_might_be_like">CÓ THỂ BẠN SẼ THÍCH</span>
            </h1>
            <!-- Component: Product Slider -->
            <div class="component-product-slider">
                <div class="swiper">
                    <!-- Swiper -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (var item in hotProduct.Items)
                            {
                                <div class="swiper-slide">
                                    <div class="slider-hover">
                                        <div style="height:35px; width:100%">
                                            @{
                                                if (item.Product.DiscountPercent > 0)
                                                {
                                                    <div class="populate">
                                                        <span id="dis-rate">
                                                            @item.Product.DiscountPercent%
                                                        </span>
                                                    </div>
                                                }

                                            }
                                        </div>
                                        <div class="ratio-wrapper ratio-wrapper-1-1">
                                            <a href="@Html.UrlWithDirectory("san-pham", item.Product.SeoName)" class="ratio-item image" style="background-image: url('@Html.Raw(item.Product.PicURL)')"></a>
                                        </div>
                                        <a href="@Html.UrlWithDirectory("san-pham", item.Product.SeoName)">
                                            @if (language == "en")
                                            {
                                                <h3 class="name recomendedProduct">@item.Product.ProductNameEng</h3>
                                            }
                                            else
                                            {
                                                <h3 class="name recomendedProduct">@item.Product.ProductName</h3>
                                            }
                                        </a>
                                        @{
                                            if (item.Product.DiscountPercent > 0)
                                            {
                                                <div class="price" style="font-size:13px; text-decoration:line-through; color:#505050;">@String.Format("{0:0,0} VND", item.Product.Price)</div>
                                                var discounted = (item.Product.Price * item.Product.DiscountPercent / 100);
                                                <span style="color:#d0011b; font-size:18px;">@String.Format("{0:0,0 VNĐ}", item.Product.Price - discounted)</span>

                                            }
                                            else
                                            {
                                                <div class="price">@String.Format("{0:0,0} VND", item.Product.Price)</div>
                                            }
                                        }
                                    </div>

                                </div>
                                            }
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next">
                        <img class="icon icon-arrow-right" src="/Content/images/icon/icon_arrow_right_2x.png">
                    </div>
                    <div class="swiper-button-prev">
                        <img class="icon icon-arrow-left" src="/Content/images/icon/icon_arrow_left_2x.png">
                    </div>
                </div>
            </div><!-- /Component: Product Slider -->
        </div>
    </section>
    <!-- /RECOMENDED PRODUCTS -->
    <!-- ADS -->
    <section id="ads">
        <div class="container container-wisky">
            <div class="row">
                <div class="col-sm-6">
                    @*<a href="@Html.UrlWithDirectory("bo-suu-tap", saleProducts.ProductCollection.SEO)" class="image">*@
                    <a href="#" class="image">
                        <img src="@saleProducts.ProductCollection.Link">
                    </a>
                </div>
                <div class="col-sm-6">
                    @*<a href="@Html.UrlWithDirectory("bo-suu-tap", trendingProducts.ProductCollection.SEO)" class="image">*@
                    <a href="#" class="image">
                        <img src="@trendingProducts.ProductCollection.Link">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- /ADS -->
    <!-- Modal: ADD EMBROIDERY -->
    <section id="add-embroidery">
        <!-- Modal -->
        <div id="modal-embroidery" class="modal fade modal-embroidery" role="dialog" align="center" style="width:100%; height:100%">
            <div class="outer-embroider">
                <div class="modal-dialog">
                    <div class="clearfix content">
                        <div class="content-left pull-left">
                            <!-- Nav tabs -->
                            <div class="title" data-lang="All_Positions">Tất cả vị trí</div>
                            <ul class="nav nav-pills nav-stacked" role="tablist">
                                @foreach (var extraCate in listExtraCategory)
                                {
                                    if (language == "vi")
                                    {
                                        <li><a href="#@extraCate.CateID@extraCate.SeoName" data-toggle="tab">@extraCate.CateName</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#@extraCate.CateID@extraCate.SeoName" data-toggle="tab">@extraCate.CateNameEng</a></li>
                                    }

                                }
                            </ul>
                            <button class="btn btn-link btn-close" data-dismiss="modal">
                                <i class="fa fa-times"></i>
                                <span data-lang="Close">Đóng</span>
                            </button>
                        </div>
                        <div class="content-right pull-right">
                            <!-- Tab panes -->
                            <div class="tab-content">

                                @foreach (var extraCate in listExtraCategory)
                                {
                                    <div class="tab-pane" id="@extraCate.CateID@extraCate.SeoName">
                                        <div class="section word-embroider">
                                            <div class="head">
                                                <label data-lang="Embroidered_name_letter">
                                                    @*<input type="checkbox" name="HasWordEmbroidery" hidden>
                                                        <span class="custom-checkbox"></span>*@
                                                    Thêu tên/chữ *
                                                </label>
                                                <span class="description" data-lang="moneyPerLine">100.000 VNĐ mỗi dòng</span>
                                            </div>
                                            <div class="body">
                                                <ul>
                                                    @foreach (var extraProduct in extraCate.Products.Where(q => q.Att1.Contains("Text")))
                                                    {

                                                        <li class="clearfix" ng-model="extra_@extraProduct.ProductID" ng-init="extra_@extraProduct.ProductID = vm.getProductExtra('@extraProduct.ProductID')">
                                                            <div class="content-wrapper pull-right">
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input class="custom-textfield" ng-disabled="checked_@extraProduct.ProductID" type="text" placeholder="17 character maximum" ng-model="Att1_@extraProduct.ProductID" ng-init="Att1_@extraProduct.ProductID=(extra_@extraProduct.ProductID!=null ? vm.getProductExtra('@extraProduct.ProductID').text:'')">
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <select class="select" ng-disabled="checked_@extraProduct.ProductID" ng-model="Att2_@extraProduct.ProductID" ng-init="Att2_@extraProduct.ProductID=(extra_@extraProduct.ProductID!=null ? vm.getProductExtra('@extraProduct.ProductID').color:'White')">
                                                                            <option value="White">White</option>
                                                                            <option value="Black">Black</option>
                                                                            <option value="Purple">Purple</option>
                                                                            <option value="Blue">Blue</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <select class="select" ng-disabled="checked_@extraProduct.ProductID" ng-model="Att3_@extraProduct.ProductID" ng-init="Att3_@extraProduct.ProductID=(extra_@extraProduct.ProductID!=null ? vm.getProductExtra('@extraProduct.ProductID').style:'Dynamic')">
                                                                            <option value="Dynamic">Dynamic</option>
                                                                            <option value="Classic">Classic</option>
                                                                            <option value="Mesh">Mesh</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="checkbox-wrapper pull-left">
                                                                <label>
                                                                    <div ng-model="checked_@extraProduct.ProductID" ng-init="checked_@extraProduct.ProductID=(extra_@extraProduct.ProductID == null ? false :true)"></div>
                                                                    <input type="checkbox" name="line-1" ng-checked="checked_@extraProduct.ProductID">
                                                                    <span class="custom-checkbox checkbox-embroidery" ng-click="vm.addExtraToProduct('@extraProduct.ProductID','@extraProduct.ProductName','@extraProduct.Price','@extraProduct.Code','1',Att1_@extraProduct.ProductID,Att2_@extraProduct.ProductID,Att3_@extraProduct.ProductID)"></span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                                <div class="notice" data-lang="Embroidered_notice">* Văn bản thêu sẽ được xuất hiện chính xác như đánh máy</div>
                                            </div>
                                        </div>
                                        <div class="section flag-embroider">
                                            <div class="head">
                                                <label data-lang="Embroidered_flag">
                                                    @*<input type="checkbox" name="HasFlagEmbroidery" hidden>
                                                        <span class="custom-checkbox"></span>*@
                                                    Thêu cờ
                                                </label>
                                                <span class="description" data-lang="Embroidered_flag_description">120.000 VND /cờ. Kích thước 2x3.2cm</span>
                                            </div>
                                            <div class="body">
                                                <div class="row">
                                                    @foreach (var extraProduct in extraCate.Products.Where(q => q.Att1.Contains("Flag") && q.ProductType != (int)HmsService.Models.ProductTypeEnum.EmbroideryCustom))
                                                    {
                                                        <div class="col-sm-4" ng-model="extra_@extraProduct.ProductID" ng-init="extra_@extraProduct.ProductID = vm.getProductExtra('@extraProduct.ProductID')">
                                                            <label class="item">
                                                                <div ng-model="checked_@extraProduct.ProductID" ng-init="checked_@extraProduct.ProductID=(extra_@extraProduct.ProductID == null ? false :true)"></div>
                                                                <input type="checkbox" name="flag" ng-checked="checked_@extraProduct.ProductID">
                                                                <div class="ratio-wrapper ratio-flag flag-radio" ng-click="vm.addExtraToProduct('@extraProduct.ProductID','@extraProduct.ProductName','@extraProduct.Price','@extraProduct.Code','1','n/a','n/a','n/a','')">
                                                                    <div class="ratio-item" style="background-image: url('@extraProduct.PicURL')">
                                                                    </div>
                                                                </div>
                                                                @*<div class="ratio-wrapper ratio-flag flag-radio" ng-show="vm.isUpdatingCart" ng-click="vm.addExtraToProduct('@extraProduct.ProductID','@extraProduct.ProductName','@extraProduct.Price','@extraProduct.Code','1','n/a','n/a','n/a', true)">
                                                                        <div class="ratio-item" style="background-image: url('@extraProduct.PicURL')">
                                                                        </div>
                                                                    </div>*@
                                                                @if (language == "vi")
                                                                {
                                                                    <div class="name">@extraProduct.ProductName</div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="name">@extraProduct.ProductNameEng</div>
                                                                }

                                                            </label>
                                                        </div>
                                                    }

                                                </div>
                                                <span class="description">Tùy chỉnh</span>
                                                <div class="row">
                                                    @foreach (var extraProduct in extraCate.Products.Where(q => q.Att1.Contains("Flag") && q.ProductType == (int)HmsService.Models.ProductTypeEnum.EmbroideryCustom))
                                                    {
                                                        <div class="col-sm-6" ng-model="extra_@extraProduct.ProductID" ng-init="extra_@extraProduct.ProductID = vm.getProductExtra('@extraProduct.ProductID')">
                                                            <label class="item">
                                                                <div ng-model="checked_@extraProduct.ProductID" ng-init="checked_@extraProduct.ProductID=(extra_@extraProduct.ProductID == null ? false :true)"></div>
                                                                <input type="checkbox" name="flag" ng-checked="checked_@extraProduct.ProductID">
                                                                <input style="display:none" name="imageurl" ng-model="extraImage_@extraProduct.ProductID" ng-init="extraImage_@extraProduct.ProductID=''" />
                                                                <div class="ratio-wrapper ratio-flag flag-radio" ng-click="vm.addExtraToProduct('@extraProduct.ProductID','@extraProduct.ProductName','@extraProduct.Price','@extraProduct.Code','1','n/a','n/a','n/a',extraImage_@extraProduct.ProductID)">
                                                                    <div class="ratio-item" style="background-image: url('@extraProduct.PicURL')">
                                                                    </div>
                                                                </div>
                                                                <input type="file" accept="image/*" style="margin-top:20px;margin-left:10px;overflow: hidden;text-overflow: ellipsis;white-space:normal;width: 76px;" onchange="encodeImageFileAsURL(this)" />

                                                                @if (language == "vi")
                                                                {
                                                                    <div class="name">@extraProduct.ProductName</div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="name">@extraProduct.ProductNameEng</div>
                                                                }

                                                            </label>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <div class="section logo-embroider">
                                            <div class="clearfix">
                                                <div class="head pull-left">
                                                    <label>
                                                        Logo
                                                    </label>
                                                </div>
                                                <div class="body pull-left" data-lang="Embroidered_contact">
                                                    Đội ngũ tư vấn thiết kế của UniChef luôn sẵn sàng hỗ trợ Quý khách cho việc thiết kế in/thêu logo trên trang phục. Nếu Quý khách có sẵn logo, vui lòng gửi email về địa chỉ mail sales@unichef.vn hoặc liên hệ Hotline 0966.290.290 để được hỗ trợ tư vấn cho việc đặt hàng.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- /Modal: ADD EMBROIDERY -->
</div>
<!-- Modal -->
<div id="ShareModal" class="modal fade" role="dialog" style="margin-top:20%">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-lang="Share">Chia sẻ</h4>
            </div>
            <div class="modal-body">
                <div id="shareDiv"></div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function encodeImageFileAsURL(element) {
            var file = element.files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                $(element).parent().find(".ratio-item").css("background-image", "url('" + reader.result + "')");
                $(element).parent().find("input[name='imageurl']").first().val(reader.result).trigger('change');
                //console.log('RESULT', reader.result)
            }
            reader.readAsDataURL(file);
        }
        loadComment();
        var timeout;
        var button = document.getElementById("popbtn");
        button.addEventListener('click', function () {
            clearTimeout(timeout);
            if ($("#myPopup").hasClass('show'))
                document.getElementById("myPopup").classList.toggle('show');

            if (!$("#myPopup").hasClass('show')) {
                document.getElementById("myPopup").classList.toggle('show');
                window.scrollTo(0, 0);
                timeout = setTimeout(function () {
                    document.getElementById("myPopup").classList.toggle('show');
                }, 3000);
            }
        });
        var button = document.getElementById("updatebtn");
        button.addEventListener('click', function () {
            clearTimeout(timeout);
            if ($("#myPopup").hasClass('show'))
                document.getElementById("myPopup").classList.toggle('show');

            if (!$("#myPopup").hasClass('show')) {
                document.getElementById("myPopup").classList.toggle('show');
                window.scrollTo(0, 0);
                timeout = setTimeout(function () {
                    document.getElementById("myPopup").classList.toggle('show');
                }, 3000);
            }
        });
        //swal({
        //    title: "Bạn chưa đăng nhập",
        //    text: "Vui lòng đăng nhập để sử dụng tính năng này",
        //    type: "warning",
        //    showCancelButton: true,
        //    confirmButtonColor: "#DD6B55",
        //    confirmButtonText: "Đăng nhập",
        //    cancelButtonText: "Hủy",
        //    closeOnConfirm: false
        //},
        //    function () {
        //        window.location.href = "/dang-nhap";
        //    });
        $("#submit-feedback").on("click", function () {

            if ($("#userStar1").val().length == 0) {
                swal("Cảnh báo", "Vui lòng nhập số sao cần đánh giá!!!", "warning");
                return;
            }
            if ('@username.IsEmpty()'=='True') {
                swal({
                    title: "Bạn chưa đăng nhập",
                    text: "Vui lòng đăng nhập để sử dụng tính năng này",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Đăng nhập",
                    cancelButtonText: "Hủy",
                    closeOnConfirm: false
                },
                    function () {
                        window.location.href = "/dang-nhap";
                    });
                return;
            }

            $.ajax({
                url: '@Url.Action("SendEmailFeedBack", "Feedback", new { area = "" })',
                type: 'POST',
                data: {
                    //customerName: $("#customers-name").val(),
                    // customerEmail: $("#customers-email").val(),
                    contentFeedBack: $("#content-comment").val(),
                    userName: $("#username_An").val(),
                    proId: $("#productId_An").val(),
                    rate: $("#userStar1").val(),

                },
                success: function (result) {
                    //customerName: $("#customers-name").val("");
                    //customerEmail: $("#customers-email").val("");
                    if(result.success){
                        //contentFeedBack: $("#content-comment").val("");
                        //$("#userStar1").val("");
                        swal("Thành công", "Cám ơn bạn đã đóng góp ý kiến!!!", "success");
                        window.location.reload();
                    } else {
                        if (!result.logged) {
                            swal({
                                title: "Bạn chưa đăng nhập",
                                text: "Vui lòng đăng nhập để sử dụng tính năng này",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Đăng nhập",
                                cancelButtonText: "Hủy",
                                closeOnConfirm: false
                            },
                                function () {
                                    window.location.href = "/dang-nhap";
                                });
                        }
                        //swal("Thất bại", "Bạn cần phải đăng nhập để đóng góp ý kiến!!!", "error");
                    }
                },
                error: function () {
                    swal("Thất bại", "Vui lòng thử lại sau", "error");
                }
            });
        });


        $("#submit-feedback2").on("click", function () {
            if ($("#userStar").val().length == 0) {
                swal("Cảnh báo", "Vui lòng nhập số sao cần đánh giá!!!", "warning");
                return;
            }
            if ('@username.IsEmpty()'=='True') {
                swal({
                    title: "Bạn chưa đăng nhập",
                    text: "Vui lòng đăng nhập để sử dụng tính năng này",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Đăng nhập",
                    cancelButtonText: "Hủy",
                    closeOnConfirm: false
                },
                    function () {
                        window.location.href = "/dang-nhap";
                    });
                return;
            }
            $.ajax({
                url: '@Url.Action("SendEmailFeedBack", "Feedback", new { area = "" })',
                type: 'POST',
                data: {
                    //customerName: $("#customers-name").val(),
                    // customerEmail: $("#customers-email").val(),
                    contentFeedBack: $("#content-comment2").val(),
                    userName: $("#username_An").val(),
                    proId: $("#productId_An").val(),
                    rate: $("#userStar").val(),

                },
                success: function (result) {
                    //customerName: $("#customers-name").val("");
                    //customerEmail: $("#customers-email").val("");
                    if(result.success){
                        //contentFeedBack: $("#content-comment").val("");
                        //$("#userStar1").val("");
                        swal("Thành công", "Cám ơn bạn đã đóng góp ý kiến!!!", "success");
                        window.location.reload();
                    } else {
                        if (!result.logged) {
                            swal({
                                title: "Bạn chưa đăng nhập",
                                text: "Vui lòng đăng nhập để sử dụng tính năng này",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Đăng nhập",
                                cancelButtonText: "Hủy",
                                closeOnConfirm: false
                            },
                                function () {
                                    window.location.href = "/dang-nhap";
                                });
                        }
                        //swal("Thất bại", "Bạn cần phải đăng nhập để đóng góp ý kiến!!!", "warning");
                    }
                },
                error: function () {
                    swal("Thất bại", "Vui lòng thử lại sau", "error");
                }
            });
        });


        $(document).bind('ajaxStart', function () {
            $('.loading-gif').fadeIn();
        }).bind('ajaxStop', function () {
            $('.loading-gif').fadeOut();
        });

        $(document).ready(function () {
            loadFavoriteStt();
            $("#shareDiv").jsSocials({
                showLabel: false,
                showCount: false,
                shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon", "whatsapp"]
            });
        });

        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: false,
            centerMode: false,
            focusOnSelect: true,
            arrows: false,
            infinite: false,
            autoplay: true,
            autoplaySpeed: 3000,
            arrows: true,
            prevArrow: '.slick-prev',
            nextArrow: '.slick-next'
        });

        $('#favorite').click(function () {
            if (($("#FLAG_Favorite").val()) == 0) {
                $("#FLAG_Favorite").val(1)
            } else {
                $("#FLAG_Favorite").val(0)
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateSttFavorite", "Favorite", new { area = ""})',

                data: {
                    'favoriteStt': $("#FLAG_Favorite").val(),
                    'userName': $("#username_An").val(),
                    'proId': $("#productId_An").val(),
                },

                success: function (data) {
                    if (data.result) {
                        $('.favorite').toggleClass("favorited");
                        swal("Thành công", "Đã thêm sản phẩm yêu thích", "success");
                    } else {
                        if (!data.loged) {
                            swal({
                                title: "Bạn chưa đăng nhập",
                                text: "Vui lòng đăng nhập để sử dụng tính năng này",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Đăng nhập",
                                cancelButtonText: "Hủy",
                                closeOnConfirm: false
                            },
                                function () {
                                    window.location.href = "/dang-nhap";
                                });
                        }
                        $('.favorite').toggleClass();
                    }
                },
                error: function (error) {
                    $('.favorite').toggleClass();
                    swal("Thất bại", "Vui lòng thử lại sau", "error");
                }
            });

        });


        function loadFavoriteStt() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadSttFavorite", "Favorite", new { area = ""})',
                data: {
                    'userName': $("#username_An").val(),
                    'proId': $("#productId_An").val(),
                },

                success: function (data) {
                    if (data.result == true) {
                        $("#icon-favorite").addClass("favorited");
                        $("#FLAG_Favorite").val(1);
                    } else {
                        $("#icon-favorite").addClass("favorite");
                        $("#FLAG_Favorite").val(0);
                    }
                },
                error: function (error) {

                }
            });

        };

        $('#rated').rating({
            min: 0,
            max: 5,
            step: 1,
            size: 'xs',
            showClear: false,
            showCaption: false,
            'starCaptions': { 1: 'Poor', 2: 'Fair', 3: 'Good', 4: 'Excellent', 5: 'WOW!!!' }
        });

        $('#rated').rating('update',@ratingProduct);
        $('#rated').on('change', function () {

        })
        $('#userStar').rating({
            min: 0,
            max: 5,
            step: 1,
            //size: 'rating-xs',
            showClear: false,
            showCaption: false,
            'starCaptions': { 1: 'Poor', 2: 'Fair', 3: 'Good', 4: 'Excellent', 5: 'WOW!!!' }
        });
        $('#userStar1').rating({
            min: 1,
            max: 5,
            step: 1,
            //size: 'rating-xs',
            showClear: false,
            showCaption: false,
            'starCaptions': { 1: 'Poor', 2: 'Fair', 3: 'Good', 4: 'Excellent', 5: 'WOW!!!' }
        });

        //$('.userStar-cmt').rating({
        //    min: 1,
        //    max: 5,
        //    step: 1,
        //    size: 'xs',
        //    disabled: true,
        //    showClear: false,
        //    showCaption: false,
        //    'starCaptions': { 1: 'Poor', 2: 'Fair', 3: 'Good', 4: 'Excellent', 5: 'WOW!!!' }
        //});
        //$(document).ready(function () {
        //    /* 1. Visualizing things on Hover - See next part for action on click */
        //    $('#stars li').on('mouseover', function () {
        //        var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

        //        // Now highlight all the stars that's not after the current hovered star
        //        $(this).parent().children('li.star').each(function (e) {
        //            if (e < onStar) {
        //                $(this).addClass('hover');
        //            }
        //            else {
        //                $(this).removeClass('hover');
        //            }
        //        });

        //    }).on('mouseout', function () {
        //        $(this).parent().children('li.star').each(function (e) {
        //            $(this).removeClass('hover');
        //        });
        //    });


        //    /* 2. Action to perform on click */
        //    $('#stars li').on('click', function () {
        //        var onStar = parseInt($(this).data('value'), 10); // The star currently selected
        //        var stars = $(this).parent().children('li.star');

        //        for (i = 0; i < stars.length; i++) {
        //            $($(stars[i]).find("i")).removeClass('glyphicon-star-empty');
        //            $($(stars[i]).find("i")).removeClass('glyphicon-star');
        //        }

        //        for (i = 0; i < stars.length; i++) {
        //            if (i < onStar) {
        //                $($(stars[i]).find("i")).addClass('glyphicon-star');
        //            } else {
        //                $($(stars[i]).find("i")).addClass('glyphicon-star-empty');
        //            }
        //        }

        //        // JUST RESPONSE (Not needed)
        //        var ratingValue = parseInt($('#stars li i.glyphicon-star').last().parent().data('value'), 10);

        //    });


        //});
        $('#detail-mobile .panel-default .panel-heading').click(
          function () {
              $('#detail-mobile .panel-default .panel-heading').find('.minus-img').not($(this).find('.minus-img')).addClass('fade-sub');
              $('#detail-mobile .panel-default .panel-heading').find('.add-img').not($(this).find('.add-img')).removeClass('fade-sub');
              if ($(this).find('.minus-img').hasClass('fade-sub')) {
                  $(this).find('.add-img').addClass('fade-sub');
                  $(this).find('.minus-img').removeClass('fade-sub');
              }
              else {
                  $(this).find('.minus-img').addClass('fade-sub');
                  $(this).find('.add-img').removeClass('fade-sub');
              }

          });
        function loadComment(){
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadCmt", "Favorite", new { area = ""})',
                data: {
                    'proId': $("#productId_An").val(),
                },

                success: function (data) {
                    data.result.reverse().forEach(drawCmt);

                },
                error: function (error) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        }
        function drawCmt(item, index) {
            $("#cmtArea").append("<div class='commented-box'><div class='row title-commented'><div class='col-md-1'></div><div class='col-md-2'><span class='username-cmt'>"+item.UserName+"</span></div><div class='col-md-7 time-cmt'>"+item.CreateTime+"</div></div><div class='row description-commented'><div class='col-md-1'></div><div class='col-md-2'><div class='rating-star'><input id='ratingStar_"+index+"' type='text' class='userStar-cmt rating rating-loading' data-min='0' data-max='5' data-step='1'/></div></div><div class='col-md-7 cmtContent'>"+item.ReviewContent+"</div></div> </div>")
            $("#cmtArea2").append("<div class='commented-box'><div class='row title-commented'><div class='col-md-1'></div><div class='col-md-2'><span class='username-cmt'>"+item.UserName+"</span></div><div class='col-md-7 time-cmt'>"+item.CreateTime+"</div></div><div class='row description-commented'><div class='col-md-1'></div><div class='col-md-2'><div class='rating-star'><input id='ratingStar2_"+index+"' type='text' class='userStar-cmt rating rating-loading' data-min='0' data-max='5' data-step='1'/></div></div><div class='col-md-7 cmtContent'>"+item.ReviewContent+"</div></div> </div>")
            $('#ratingStar_'+index).rating({
                min: 1,
                max: 5,
                step: 1,
                size: 'xs',
                disabled: true,
                showClear: false,
                showCaption: false,
            });
            $('#ratingStar2_'+index).rating({
                min: 1,
                max: 5,
                step: 1,
                size: 'xs',
                disabled: true,
                showClear: false,
                showCaption: false,
            });
            $('#ratingStar_'+index).rating('update',item.Star);
            $('#ratingStar2_'+index).rating('update',item.Star);

        }

        $(document).ready(function () {
            $("#cmtArea .commented-box").
            noOfCmt = $("#cmtArea .commented-box").size();
            $("#cmtArea .commented-box").slice(0, 3).css('display','block');
            $("#readmore").on('click', function (e) {
                e.preventDefault();
                $("#cmtArea .commented-box:hidden").slice(0, 3).slideDown();
                if ($("#cmtArea .commented-box:hidden").length == 0) {
                    $("#readmore").fadeOut('slow');
                }
            });
        });
        $(document).ready(function () {
            $("#cmtArea2 .commented-box").
            noOfCmt = $("#cmtArea2 .commented-box").size();
            $("#cmtArea2 .commented-box").slice(0, 3).css('display','block');
            $("#readmore2").on('click', function (e) {
                e.preventDefault();
                $("#cmtArea2 .commented-box:hidden").slice(0, 3).slideDown();
                if ($("#cmtArea2 .commented-box:hidden").length == 0) {
                    $("#readmore2").fadeOut('slow');
                }
            });
            $(".checkbox-embroidery").on("click", function () {
                var input = $(this).parent().find("input");
                if (input.is(":checked")) {
                    $(this).parent().parent().parent().find("input.custom-textfield").prop('disabled', false);
                    $(this).parent().parent().parent().find("select").prop('disabled', false);
                } else {
                    $(this).parent().parent().parent().find("input.custom-textfield").prop('disabled', true);
                    $(this).parent().parent().parent().find("select").prop('disabled', true);
                }
            })
        });
    </script>
}