﻿@model RoutedPageViewModel
@{
    Layout = null;
    var listCate = Model.ViewModel<IEnumerable<ProductCategoryViewModel>>("ListCategories");
    var products = Model.ViewModel<ProductCategoryDetailsViewModel>("Products");
    var category = Model.ViewModel<IEnumerable<ProductCategoryDetailsViewModel>>("SubCate");
    var cateParent = products.Category;
    //var isAllProduct = false;
    //var groupCate = subCate.GroupBy(q => q.Category.GroupCate);
    //if (category != null)
    //{

    //    foreach (var item in listCate)
    //    {
    //        if (products.Category.ParentCateId == item.CateID)
    //        {
    //            cateParentName = item.CateName;
    //            break;
    //            isAllProduct = false;
    //        }
    //    }
    //    if (cateParentName.Equals(""))
    //    {
    //        cateParentName = products.Category.CateName;
    //        isAllProduct = true;
    //    }

    //}
    var saleProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("SaleProduct");
    var trendingProducts = Model.ViewModel<ProductCollectionDetailsViewModel>("TrendingProduct");
    ViewBag.Title = products.Category.CateName;
}
<!-- PRODUCT PAGE's BODY -->
<div id="product-page" ng-controller="productController as vm">
    <!-- Section: OVERVIEW -->
    <section id="overview">
        <img class="banner" src="@(products.Category.BannerUrl)">
        <div class="container">
            <h1 class="heading">@products.Category.CateName</h1>
            <div class="description">
                Hãy mang lại dấu ấn riêng của cá nhân bạn bằng cách thêm vào tên của bạn, logo hoặc những thiết kế khác lên trên các sản phẩm của Mac Chef. Các sản phẩm về áo, tạp dề, nón … đều có thể thực hiện để tạo sự ấn tượng của riêng bạn. Hãy liên hệ với nhân viên tư vấn của chúng tôi đối với những thiết kế về logo hoặc thương hiệu của bạn nhé. Vui lòng gửi email về địa chỉ <a href="#">sales@unichef.vn</a> hoặc liên hệ <a href="#">Hotline: 0966.290.290</a>
            </div>
        </div>
    </section><!-- /Section: OVERVIEW -->
    <!-- Section: FILTER TOPBAR -->
    <section id="filter-topbar">
        <div class="container">
            <div class="clearfix">
                <div class="heading pull-left">
                    <h2 data-lang="Filter">Bộ lọc</h2>
                    <button class="btn btn-link spinner" ng-click="vm.clearAllFilters()" title="Refresh">
                        <img src="~/Content/images/icon/Comp-2.gif">
                    </button>
                </div>
                <div class="sorting pull-left">
                    <h3 data-lang="Sort">Sắp xếp</h3>
                    <select class="select" name="sorting" ng-model="vm.sortBy">
                        <option name="sort-by-price" value="+price" data-lang="Price_Low_High">VND thấp - cao</option>
                        <option name="sort-by-price" value="-price" data-lang="Price_High_Low">VND cao - thấp</option>
                    </select>
                </div>
                <div class="showing pull-left">
                    <h3 data-lang="Showing">Hiển thị</h3>
                    <select class="select" name="showing" ng-init="itemsPerPage = 9" ng-model="itemsPerPage">
                        <option value="9">9</option>
                        <option value="12">12</option>
                        <option value="15">15</option>
                        <option value="18">18</option>
                    </select>
                </div>
            </div>
        </div>
    </section><!-- /Section: FILTER TOPBAR -->
    <div class="container clearfix">
        <!-- Section: FILTER SIDEBAR -->
        <section id="filter-sidebar" class="pull-left">
            <div class="inner">
                <div class="filter-field togglable active">
                    <div class="head">
                        <span data-lang="Price">Giá</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <div class="body text-12">
                        <label onclick="filterPrice(1)">
                            100.000 - 200.000
                            <input type="radio" ng-model="vm.price_range" ng-value="{min:100000, max:200000}" />
                            <div class="custom-radio"></div>
                        </label>
                        <label onclick="filterPrice(2)">
                            200.000 - 500.000
                            <input type="radio" ng-model="vm.price_range" ng-value="{min:200000, max:500000}" />
                            <div class="custom-radio"></div>
                        </label>
                        <label onclick="filterPrice(3)">
                            Trên 500.000
                            <input type="radio" ng-model="vm.price_range" ng-value="{min:500000, max:1000000}" />
                            <div class="custom-radio"></div>
                        </label>
                    </div>
                </div>
                <div class="filter-field no-border-top">
                    <div class="head">
                        <span data-lang="From_To">Từ - đến</span>
                    </div>
                    <div class="body">
                        <input type="text" id="amount" readonly hidden>
                        <input id="range-slider-min" type="text" ng-model="vm.price_range.min" ng-init="vm.price_range.min=0" hidden />
                        <input id="range-slider-max" type="text" ng-model="vm.price_range.max" ng-init="vm.price_range.max=1000000" hidden />
                        <div id="slider-range"></div>
                        <div class="clearfix price-range">
                            <div id="price-min" ng-model="vm.price_range.min" class="pull-left">{{vm.price_range.min}}</div>
                            <div id="price-max" ng-model="vm.price_range.max" class="pull-right">{{vm.price_range.max}}</div>
                        </div>
                    </div>
                </div>
            </div>
            @if (!String.IsNullOrWhiteSpace(cateParent.Att1))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>@cateParent.Att1.Split(':')[0]</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att1.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @item
                                <input type="radio" ng-model="att1" name="@cateParent.Att1.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att2))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>@cateParent.Att2.Split(':')[0]</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att2.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @item
                                <input type="radio" ng-model="att2" name="@cateParent.Att2.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att3))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>@cateParent.Att3.Split(':')[0]</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att3.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @item
                                <input type="radio" ng-model="att3" name="@cateParent.Att3.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att4))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>@cateParent.Att4.Split(':')[0]</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att4.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @item
                                <input type="radio" ng-model="att4" name="@cateParent.Att4.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att5))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>@cateParent.Att5.Split(':')[0]</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att5.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @item
                                <input type="radio" ng-model="att5" name="@cateParent.Att5.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att6))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>@cateParent.Att6.Split(':')[0]</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att6.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @item
                                <input type="radio" ng-model="att6" name="@cateParent.Att6.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att7))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>@cateParent.Att7.Split(':')[0]</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att7.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @item
                                <input type="radio" ng-model="att7" name="@cateParent.Att7.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att8))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>@cateParent.Att8.Split(':')[0]</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att8.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @item
                                <input type="radio" ng-model="att8" name="@cateParent.Att8.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att9))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>@cateParent.Att9.Split(':')[0]</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att9.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @item
                                <input type="radio" ng-model="att9" name="@cateParent.Att9.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            @if (!String.IsNullOrWhiteSpace(cateParent.Att10))
            {
                <div class="filter-field togglable active">
                    <div class="head">
                        <span>@cateParent.Att10.Split(':')[0]</span>
                        <button class="btn btn-link">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    @foreach (var item in @cateParent.Att10.Split(':')[1].Split(';'))
                    {
                        <div class="body">
                            <label>
                                @item
                                <input type="radio" ng-model="att10" name="@cateParent.Att10.Split(':')[0]" value="@item">
                                <div class="custom-radio"></div>
                            </label>
                        </div>
                    }

                </div>
            }
            <div class="filter-field togglable active">
                <div class="head">
                    <span data-lang="Choice">Sự lựa chọn</span>
                    <button class="btn btn-link">
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
                <div class="body">
                    <label>
                        New item
                        <input type="radio" ng-model="choice" name="choice" value="new">
                        <div class="custom-radio"></div>
                    </label>
                    <label>
                        On sale
                        <input type="radio" ng-model="choice" name="choice" value="on sale">
                        <div class="custom-radio"></div>
                    </label>
                </div>
            </div>
            <button class="btn btn-bordered btn-filter" data-lang="Search">
                Tìm kiếm
            </button>
        </section><!-- /Section: FILTER SIDEBAR -->
        <!-- Section: FILTER RESULTS -->
        <section id="filter-results" class="pull-left">
            <!--All product-->
            @*@if (isAllProduct == true)
                {*@
            <div class="row">
                <div ng-init="productFilter = vm.productListOfCateParent | filter:{specification: {name: $, value: economy}}:true "></div>
                <div class="product col-sm-4"
                     dir-paginate="product in productFilter | filter: vm.filterPrice
                     | filter:{specification: {name: $, value: coat_style}}:true | filter:{specification: {name: $, value: color}}:true
                     | filter:{specification: {name: $, value: pants_style}}:true | filter:{specification: {name: $, value: aprons_style}}:true
                     | filter:{specification: {name: $, value: department}}:true | filter:{specification: {name: $, value: headwear_style}} :true
                     | filter:{specification: {name: $, value: standard}}:true | filter:{specification: {name: $, value: sleeve_length}}:true
                     | filter:{specification: {name: $, value: pants_leg}}:true | filter:{specification: {name: $, value: pockets}}:true
                     | filter:{specification: {name: $, value: gender}}:true | filter:{specification: {name: $, value: choice}}:true
                     | orderBy: vm.sortBy | itemsPerPage: itemsPerPage">
                    <div class="ratio-wrapper">
                        <a href="/san-pham/{{product.seoName}}" class="ratio-item" style="background-image: url('{{product.image}}')"></a>
                    </div>
                    <div class="color">
                        <div ng-repeat="color in product.specification | filter: {name: 'color'}" style="background-image :url('{{color.ImageUrl}}')"></div>
                    </div>
                    <div class="info">
                        <div class="clearfix">
                            <div class="format-name-price pull-left">
                                <a class="name" href="/san-pham/{{product.seoName}}">
                                    {{product.name}}
                                </a>
                            </div>
                            <div class="price pull-right">
                                {{product.price | currency : "" : 0}} VNĐ
                            </div>
                        </div>
                        <div class="code">
                            {{product.code}}
                        </div>
                    </div>
                </div>
            </div>
            @*}*@
            <dir-pagination-controls></dir-pagination-controls>
        </section><!-- /Section: FILTER RESULTS -->
    </div>
</div><!-- /PRODUCT PAGE's BODY -->
@section scripts{
    <script>
        angular.module('OrderApp').controller('productController', function ($scope, $modal, productService) {
            var vm = this;
            vm.productList = [];
            vm.getAllProducts = function () {
                var promise = productService.loadAllProducts();
                promise.then(function (products) {
                    vm.productList = products;
                });
            }
            vm.productListOfCateParent = [];
            vm.getAllProductsOfCateParent = function (cateId) {
                var promise = productService.loadAllProductsOfCateParent(cateId);
                promise.then(function (products) {
                    vm.productListOfCateParent = products;
                });
            }

            vm.filterPrice = function (product) {
                if (!angular.isUndefined(vm.price_range)) {
                    return product.price >= vm.price_range.min && product.price <= vm.price_range.max;
                } else {
                    return product.price >= 0 && product.price <= 1000000;
                }
            }

            vm.clearAllFilters = function () {
                $scope.att1 = undefined;
                $scope.att2 = undefined;
                $scope.att3 = undefined;
                $scope.att4 = undefined;
                $scope.att5 = undefined;
                $scope.att6 = undefined;
                $scope.att7 = undefined;
                $scope.att8 = undefined;
                $scope.att9 = undefined;
                $scope.att10 = undefined;
                $scope.choice = undefined;
                vm.price_range = { min: 0, max: 1000000 };
                resetSlider();
            }

            angular.element(document).ready(function () {
                vm.getAllProducts();
                vm.getAllProductsOfCateParent(@products.Category.CateID);
            });
        });

        function resetSlider() {
            $(".ui-slider-handle:nth-child(2)").css("left", "0%");
            $(".ui-slider-handle:nth-child(3)").css("left", "100%");
            $(".ui-widget-header").css("left", "0%");
            $(".ui-widget-header").css("width", "100%");
        }

        function filterPrice(type) {
            if(type == 1){
                $(".ui-slider-handle:nth-child(2)").css("left", "10%");
                $(".ui-slider-handle:nth-child(3)").css("left", "20%");
                $(".ui-widget-header").css("left", "10%");
                $(".ui-widget-header").css("width", "10%");
                $('#range-slider-min').val(100000);
                $('#range-slider-max').val(200000);
                $('#range-slider-min').trigger('input');
                $('#range-slider-max').trigger('input');
            }
            if(type == 2){
                $(".ui-slider-handle:nth-child(2)").css("left", "20%");
                $(".ui-slider-handle:nth-child(3)").css("left", "50%");
                $(".ui-widget-header").css("left", "20%");
                $(".ui-widget-header").css("width", "30%");
                $('#range-slider-min').val(200000);
                $('#range-slider-max').val(500000);
                $('#range-slider-min').trigger('input');
                $('#range-slider-max').trigger('input');
            }
            if(type == 3){
                $(".ui-slider-handle:nth-child(2)").css("left", "50%");
                $(".ui-slider-handle:nth-child(3)").css("left", "100%");
                $(".ui-widget-header").css("left", "50%");
                $(".ui-widget-header").css("width", "50%");
                $('#range-slider-min').val(500000);
                $('#range-slider-max').val(1000000);
                $('#range-slider-min').trigger('input');
                $('#range-slider-max').trigger('input');
            }
        }

        $(document).ready(function () {
            // Slider range config
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [0, 1000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    $('#range-slider-min').val(ui.values[0] * 1000);
                    $('#range-slider-max').val(ui.values[1] * 1000);
                    $('#range-slider-min').trigger('input');
                    $('#range-slider-max').trigger('input');
                }
            });


            //  Sidebar toggling config
            $('.filter-field button').click(function () {
                var wrapper = $(this).closest('.filter-field');
                var body = wrapper.find('.body');
                if (wrapper.hasClass('active')) {
                    wrapper.removeClass('active');
                    body.slideUp(300);
                } else {
                    wrapper.addClass('active');
                    body.slideDown(300);
                }
            })
            $('.filter-field.togglable.active .body').show(0);
        });
    </script>
}
