﻿@model RoutedPageViewModel
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/MacChefWeb/_Layout.cshtml";
    var brandId = Model.StoreInfo.BrandId;
    if (this.User.Identity.IsAuthenticated)
    {
        Response.Redirect("/");
    }
}

<div id="register-page">
    <section id="overview">
        <div class="container">
            <h1 class="heading">Tạo tài khoản mới</h1>
            <div class="description">
                Bằng cách tạo tài khoản, bạn sẽ có thể mua sắm trực tuyến một cách dễ dàng, lưu lại các sản phẩm yêu thích <br /> và tiết kiệm thời gian mua sắm. Hãy tạo tài khoản ngay!
            </div>
        </div>
    </section>

    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <h3 class="lb-header">Họ và tên*</h3>
                    <input class="input-custom-long" placeholder="Nhập Họ Tên" id="cus-name" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <h3 class="lb-header">Username*</h3>
                    <input class="input-custom" placeholder="Nhập Họ Tên" id="user-name" />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <h3 class="lb-header">Email*</h3>
                    <input class="input-custom" placeholder="Nhập Email" id="email-address" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <h3 class="lb-header">Mật khẩu*</h3>
                    <input class="input-custom" placeholder="Nhập mật khẩu từ 6 đến 32 ký tự" type="password" id="password" />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <h3 class="lb-header">Nhập lại mật khẩu*</h3>
                    <input class="input-custom" placeholder="Nhập mật khẩu từ 6 đến 32 ký tự" type="password" id="password-confirm" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="check-box-confirm" for="confirm">
                        <input type="checkbox" id="confirm" />
                        <div class="custom-checkbox"></div>
                        Tôi đồng ý thực hiện mọi giao dịch mua bán theo <a href="/chinh-sach" target="_blank">điều kiện sử dụng và chính sách</a> của UniChef
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-bordered btn-sign-up" id="SignUpbtn" data-lang="SignUp">Đăng ký</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SignUpbtn").on("click", function () {
                var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                var isValid = true;
                var customerName = $("#cus-name").val();
                if (username == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Bạn chưa nhập họ tên",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#cus-name").focus();
                        }, 100);
                        return;
                    });
                    return;
                }

                var username = $("#user-name").val();
                if (username == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Bạn chưa nhập tên đăng nhập",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#user-name").focus();
                        }, 100);
                        return;
                    });
                    return;
                }

                var email = $("#email-address").val();
                if (email == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Bạn chưa nhập Email",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#email-address").focus();
                        }, 100);
                        return;
                    });

                    return;
                }
                if (!re.test(email)) {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Email không đúng định dạng",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#email-address").focus();
                        }, 100);
                    });
                    isValid = false;
                    return;
                }
                var password = $("#password").val();
                if (password == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Bạn chưa nhập Password",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password").focus();
                        }, 100);
                        return;
                    });
                    return;
                }
                var passwordConfrim = $("#password-confirm").val();
                if (passwordConfrim == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Bạn chưa nhập PasswordConfirm",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-confirm").focus();
                        }, 100);
                        return;
                    });
                    return;
                }
                if (password != passwordConfrim) {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Password và PasswordConfirm không khớp",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $("#password-confirm").focus();
                        }, 100);
                        return;
                    });
                    return;
                };

                var applyPolicy = $('#confirm').is(':checked');
                if (!applyPolicy) {
                    isValid = false;
                    swal({
                        title: "Thông báo",
                        text: "Bạn chưa đồng ý với chính sách của UniChef",
                        type: "info"
                    }, function () {
                        setTimeout(function () {
                            $("#password-confirm").focus();
                        }, 100);
                        return;
                    });
                    return;
                };


                if (isValid) {
                    $.ajax({
                        url: '@Url.Action("RegisterAccount", "Login", new { area = "" })',
                        type: 'POST',
                        data: {
                            customername: customerName,
                            username: username,
                            email: email,
                            password: password,
                            brandId: @brandId,
                        },
                        success: function (result) {
                            if (result.success) {
                                swal({
                                    title: "Đã đăng ký thành công",
                                    text: "Email xác thực đã được gửi. Vui lòng kiểm tra email để hoàn tất đăng ký",
                                    type: "info"
                                }, function () {
                                        window.location.href = "/dang-nhap";
                                });

                            } else {
                                swal("Lỗi", result.message, "error");
                            }

                        },
                        error: function () {
                            swal("Lỗi", "Đăng kí không thành công. Vui lòng thử lại sau", "error");
                        }
                    });
                }
            });
        });
    </script>
}