﻿@model RoutedPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var language = "";
    if (Request.Cookies["language"] != null && "en" == Request.Cookies["language"].Value)
    {
        language = "en";
        ViewBag.Title = "Exchange Policy";
    }
    else
    {
        language = "vi";
        ViewBag.Title = "Chính sách đổi trả";
    }

    var webPage = Model.ViewModel<WebPageViewModel>("ExchangePolicy");
    var webPageEng = Model.ViewModel<WebPageViewModel>("ExchangePocilyEng");
}

<div id="return-exchange-page">
    <div class="container">

        @if (language == "vi")
        {
            <h1 class="heading">
                @Html.Raw(webPage.PageTitle)
            </h1>
                @Html.Raw(webPage.PageContent)
        }
        else
        {
            <h1 class="heading">
                @Html.Raw(webPageEng.PageTitle)
            </h1>
            @Html.Raw(webPageEng.PageContent)
        }
        @*<h1 class="heading">CHÍNH SÁCH ĐỔI/ TRẢ HÀNG</h1>

            <section class="method">
                <h2 class="section-title">CÁCH THỨC ĐỔI/ TRẢ HÀNG</h2>
                <h3 class="section-intro">Chính sách trả hàng như sau</h3>
                <ul>
                    <li>Quý khách vui lòng điền thông tin vào biểu mẫu trả hàng tại <a class="highlight-url" href="~/Upload/exchangesform.pdf" download>ĐÂY</a>.</li>
                    <li>Thời gian trả hàng trong vòng 10 ngày kể từ ngày nhận hàng.</li>
                    <li>Hàng hóa phải còn nguyên tem, nhãn mác. Hộp và bao bì phải còn dán mã sản phẩm của UniChef.</li>
                    <li>Hàng hóa chưa qua sử dụng và giặt ủi, không bị dơ bẩn.</li>
                    <li>Trong trường hợp đơn hàng có xuất hóa đơn VAT thì hóa đơn phải còn nguyên vẹn, không thay đổi và chắp vá.</li>
                    <li>
                        Quý khách vui lòng tự thanh toán phí vận chuyển sản phẩm và gửi trả về văn phòng giao dịch của chúng tôi tại địa chỉ sau.
                        <ul>
                            <li><i><b>Văn phòng giao dịch:</b> 138/66 Trương Công Định, phường 14, quận Tân Bình, Thành phố Hồ Chí Minh.</i></li>
                        </ul>
                    </li>
                    <li>Sau khi chúng tôi nhận được sản phẩm hoàn trả, chúng tôi sẽ hoàn phí vào tài khoản của quý khách.</li>
                </ul>
            </section>

            <section class="policy">
                <h2 class="section-title">CHÍNH SÁCH ĐỔI HÀNG</h2>
                <h3 class="section-intro">Chính sách đổi sản phẩm</h3>
                <ul>
                    <li>Thời gian trả hàng trong vòng 10 ngày kể từ ngày nhận hàng.</li>
                    <li>Hàng hóa phải còn nguyên tem, nhãn mác. Hộp và bao bì phải còn dán mã sản phẩm của UniChef.</li>
                    <li>Hàng hóa chưa qua sử dụng và giặt ủi, không bị dơ bẩn.</li>
                    <li>Trong trường hợp đơn hàng có xuất hóa đơn VAT thì hóa đơn phải còn nguyên vẹn, không thay đổi và chắp vá.</li>
                    <li>UniChef chỉ đồng ý đổi sản phẩm cùng loại nhưng khác màu, khác kích cỡ.</li>
                    <li>UniChef hỗ trợ miễn phí giao hàng để đổi sản phẩm khác.</li>
                    <li>
                        Quý khách vui lòng tự thanh toán phí vận chuyển sản phẩm và gửi trả về văn phòng giao dịch của chúng tôi tại địa chỉ sau:
                        <ul>
                            <li><i><b>Văn phòng giao dịch:</b> 138/66 Trương Công Định, phường 14, quận Tân Bình, Thành phố Hồ Chí Minh.</i></li>
                        </ul>
                    </li>
                </ul>
            </section>*@
    </div>

</div>
