﻿@model RoutedPageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giỏ hàng";
}
<div id="shopping-cart-page" class="container" ng-controller="orderController as vm">
    <h1 class="page-title" data-lang="Shopping_Cart">Giỏ hàng</h1>
    <div class="line"></div>
    <!-- Cart has product(s) -->
    <div ng-show="vm.isShoppingCartEmpty()==false">
        <div class="shopping-cart-mobile" ng-repeat="orderItemMobile in vm.getShoppingCart()">
            <div class="row">
                <div class="col-xs-4" id="cart-mobile">
                    <div class="image ratio-wrapper ratio-wrapper-1-1">
                        <a href="#" class="ratio-item" style="background-image: url('{{orderItemMobile.image}}')"></a>
                    </div>
                </div>
                <div class="col-xs-8" style="padding-left:0px; padding-right:0px; font-size:12px">
                    <div class="info-mobile">
                        <span class="code">{{orderItemMobile.code}}</span>
                        <img class="removecart" src="~/Content/images/icon/xbutton.png" ng-click="vm.removeOrder(orderItemMobile)" />
                        <h2 class="name">{{orderItemMobile.name}}<span style="color:#d0011b" ng-show="orderItemMobile.dispercent>0">&emsp;-{{orderItemMobile.dispercent}}%</span></h2>
                        <span data-lang="Color">Màu sắc</span>
                        <span class="color" style="border: solid 0.5px black;background-image:url('{{orderItem.colorUrl}}')"></span>
                        <br />
                        <span data-lang="Size">Kích cỡ</span>
                        <span class="size">{{orderItemMobile.size}}</span>
                    </div>

                    <div class="custom-qty-input input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number"
                                    ng-click="vm.changeProductQuantity(false, orderItemMobile.tempId)">
                                -
                            </button>
                        </span>
                        <input type="text" class="form-control input-number" ng-model="orderItemMobile.quantity" min="1" max="10">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number"
                                    ng-click="vm.changeProductQuantity(true, orderItemMobile.tempId)">
                                +
                            </button>
                        </span>
                    </div>
                    <div class="total-price">
                        <span style="font-size:10px">{{orderItemMobile.price | currency : "" : 0}} VNĐ</span>
                        <span class="discount-order" ng-show="orderItemMobile.dispercent>0">GIẢM CÒN {{orderItemMobile.price - (orderItemMobile.price*orderItemMobile.dispercent/100) | currency : "" : 0}} VNĐ</span>
                    </div>
                    
                </div>
                <div class="col-xs-12" style="padding:25px">
                    <span data-lang="Custom_Requirement" ng-show="orderItemMobile.extraList.length>0">Yêu cầu riêng</span>:
                    <table ng-show="orderItemMobile.extraList.length>0">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Đặc điểm</th>
                                <th>Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="extra in orderItemMobile.extraList">
                                <td>
                                    {{extra.name}}
                                </td>
                                <td>
                                    Chữ viết: {{extra.text}}, Màu sắc: {{extra.color}}, Kiểu: {{extra.style}}
                                </td>
                                <td style="text-align:right;">{{extra.price | currency : "" : 0}} VND</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="action-mobile" style="margin-top:22px;">
                        <a href="/san-pham/{{orderItemMobile.seoName}}?tempId={{orderItemMobile.tempId}}" data-lang="Edit">Chỉnh sửa </a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <table class="table table-cart">
            <thead>
                <tr>
                    <th class="th-image"></th>
                    <th class="th-detail" data-lang="Product">Sản phẩm</th>
                    <th class="th-unit-price" data-lang="Unit_Price">Đơn giá</th>
                    <th class="th-qty" data-lang="Quantity">Số lượng</th>
                    <th class="th-subtotal" data-lang="Price">Giá</th>
                    <th class="th-remove"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orderItem in vm.getShoppingCart()">
                    <td class="td-image">
                        <div class="image ratio-wrapper ratio-wrapper-1-1">
                            <a href="#" class="ratio-item" style="background-image: url('{{orderItem.image}}')"></a>
                        </div>
                    </td>
                    <td class="td-detail">
                        <div class="info">
                            <h2 class="name">{{orderItem.name}} <span style="color:#d0011b" ng-show="orderItemMobile.dispercent>0">&emsp;-{{orderItem.dispercent}}%</span></h2>

                            <span class="code">{{orderItem.code}}</span>
                            &nbsp; - &nbsp;
                            <span data-lang="Color">Màu sắc</span>
                            <span class="color" style="border: solid 0.5px black;background-image:url('{{orderItem.colorUrl}}')"></span>
                            &nbsp;&nbsp; - &nbsp;&nbsp;
                            <span data-lang="Size">Kích cỡ</span>
                            <span class="size">{{orderItem.size}}</span>

                            <div class="custom-requirement" ng-show="orderItem.extraList.length>0">
                                <div class="head">
                                    <span data-lang="Custom_Requirement">Yêu cầu riêng</span>:
                                    @*<button class="btn-link requirmentbtn">
                                            <span data-lang="View">Xem</span>
                                            <span data-lang="Hide" hidden>Ẩn</span>
                                        </button>*@
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Tên</th>
                                            <th>Đặc điểm</th>
                                            <th>Giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="extra in orderItem.extraList">
                                            <td>
                                                {{extra.name}}
                                            </td>
                                            <td>
                                                Chữ viết: {{extra.text}}, Màu sắc: {{extra.color}}, Kiểu: {{extra.style}}
                                            </td>
                                            <td style="text-align:right;">{{extra.price | currency : "" : 0}} VND</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>




                            <!--
                            @*  Tạm comment. Phần này chưa xài. - DucBM
                                <div class="custom-requirement">
                                <div class="head">
                                    <span data-lang="Custom_Requirement">Yêu cầu riêng</span>:
                                    <button class="btn-link requirmentbtn">
                                        <span data-lang="View">Xem</span>
                                        <span data-lang="Hide" hidden>Ẩn</span>
                                    </button>
                                </div>
                                <div class="head-content head-hidden">

                                </div>
                                <div class="head-content">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th colspan="3" class="head-table">giá dành cho một sản phẩm</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Trước khi tùy chỉnh<br />
                                                    Giá một sản phẩm
                                                </td>
                                                <td></td>
                                                <td style="text-align:right;">{{orderItem.price}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Tay Trái
                                                </td>
                                                <td></td>
                                                <td style="text-align: right;">250.000 VND</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="3" class="foot-table">chỉnh sửa yêu cầu riêng</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="body">
                                    Please allow an additional 2 weeks for embroidery.
                                </div>
                            </div>*@-->
                        </div>
                        <div class="action">
                            <a href="/san-pham/{{orderItem.seoName}}?tempId={{orderItem.tempId}}" data-lang="Edit">Chỉnh sửa</a>

                        </div>
                    </td>
                    <td class="td-unit-price">
                        {{orderItem.price | currency : "" : 0}} VND<br />
                        <span class="discount-order" ng-show="orderItem.dispercent>0">GIẢM CÒN {{orderItem.price - (orderItem.price*orderItem.dispercent/100) | currency : "" : 0}} VNĐ</span>
                    </td>
                    <td class="td-qty">
                        <div class="custom-qty-input input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number"
                                        ng-click="vm.changeProductQuantity(false, orderItem.tempId)">
                                    -
                                </button>
                            </span>
                            <input type="text" class="form-control input-number" ng-model="orderItem.quantity" min="1" max="10">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number"
                                        ng-click="vm.changeProductQuantity(true, orderItem.tempId)">
                                    +
                                </button>
                            </span>
                        </div>
                    </td>
                    <td class="td-subtotal">
                        {{vm.getOrderCost(orderItem) | currency : "" : 0}} VND
                    </td>
                    <td class="td-remove">
                        <button class="btn btn-default" ng-click="vm.removeOrder(orderItem)">
                            <img height="20" width="20" src="/Content/images/icon/icon_remove_2x.png" />
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>
        <div class="row">
            @*<div class="col-md-8">
                    <div class="gift-code" ng-controller="deliveryController as vm">
                        <div class="head" data-lang="Gift_Code_Voucher">
                            Gift code hoặc voucher
                        </div>
                        <div class="body clearfix">
                            <form accept-charset="UTF-8" ng-submit="vm.submitVoucher()">
                                <input type="text" name="gift-code" class="form-control pull-left">
                                <button class="btn btn-bordered btn-apply pull-left" data-lang="Apply" type="submit">
                                    Áp dụng
                                </button>
                            </form>
                        </div>
                    </div>
                </div>*@
            <div class="col-md-4 col-md-offset-8 rowmb" id="cart-css">
                <div class="section-checkout">
                    <table class="table table-total">
                        <tr>
                            <th data-lang="Subtotal">Tạm tính</th>
                            <td>{{vm.getTotalCost() | currency : "" : 0}} VND</td>
                        </tr>
                        @*<tr>
                                <th data-lang="Total">Tổng cộng</th>
                                <td>{{vm.getTotalCost() | currency : "" : 0}} VND</td>
                            </tr>*@
                    </table>
                    <hr>
                    <a href="@Html.UrlWithDirectory("thanh-toan")" class="btn btn-bordered btn-checkout" data-lang="Proceed_To_Checkout">Tiến hành thanh toán</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart is empty -->
    <div ng-show="vm.isShoppingCartEmpty()">
        <p class="alert alert-warning">Chưa có sản phẩm nào trong giỏ hàng!</p>
    </div>
</div>
@section scripts{
    <script>

        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $(document).on("click", '.requirmentbtn', function () {
            // debugger
            var $root = $(event.toElement).parents('.custom-requirement');
            var isShow = $root.find('.head-content').hasClass("active");
            $root.find('.head-content').slideDown(200);
            $root.find('.head-content').addClass("active");
            $(this).find('[data-lang="View"]').hide(0);
            $(this).find('[data-lang="Hide"]').show(0);
            if (isShow) {
                $root.find('.head-content').slideUp(200);
                $root.find('.head-content').removeClass("active");
                $(this).find('[data-lang="Hide"]').hide(0);
                $(this).find('[data-lang="View"]').show(0);
            }
        });
    </script>
}