﻿@using Wisky.SkyUp.Website.Models
@model RoutedPageViewModel
<style>
    .loading-gif {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        height: 100%;
        /*background: rgba(0, 0, 0, 0.1);*/
        background: none;
        text-align: center;
        display: none;
    }

        .loading-gif img {
            width: 190px;
            height: auto;
            position: absolute;
            bottom: 15px;
            left: 35px;
        }
</style>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng nhập";
    if (this.User.Identity.IsAuthenticated)
    {
        Response.Redirect("/");
    }
}

<div class="loading-gif" id="loading-gif">
    <img src="~/Content/images/loading_bar_animated.gif" />
</div>
<div id="sign-in-page" class="container">
    <h1 class="page-title" data-lang="SignIn">Đăng nhập</h1>
    <div class="line"></div>

    <div class="main row">
        <div class="use-mine col-sm-6">
            <h2 class="section-title" data-lang="I_Have_Registered">Tôi đã đăng ký tài khoản</h2>
            <form>
                <table class="table-form" cellspacing="10px">
                    <tr>
                        <td>
                            <img class="icon" src="/Content/images/icon/chef_2x.png" id="icon-user">
                        </td>
                        <td>
                            <input type="text" name="username" id="username" class="custom-text-input" placeholder="Username" data-lang-placeholder="Username_Email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon" src="/Content/images/icon/lock_2x.png" id="icon-password">
                        </td>
                        <td>
                            <input type="password" name="password" id="password" class="custom-text-input" placeholder="Mật khẩu" data-lang-placeholder="Password">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="help">
                            <div class="pull-left">
                                <label class="custom-checkbox-label">
                                    <input type="checkbox" name="remember-me" id="rememberme" data-lang="Remember_Me">
                                    <div class="custom-checkbox"></div>
                                    <span data-lang="Remember_Me">Ghi nhớ</span>
                                </label>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("ForgotPassword","Login")" data-lang="Forgot_Password">Quên mật khẩu?</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-center">
                            <button class="btn btn-bordered btn-sign-in" id="Loginbtn" data-lang="SignIn">Đăng nhập</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="create-new col-sm-6">
            <h2 class="section-title" data-lang="No_Account">Bạn chưa có tài khoản?</h2>
            <div class="description" data-lang="Create_Account_Description">
                Bằng cách tạo một tài khoản với cửa hàng của chúng tôi, bạn sẽ có thể di chuyển qua các quy trình kiểm tra nhanh hơn, lưu trữ nhiều địa chỉ gửi hàng, xem và theo dõi đơn đặt hàng của bạn trong tài khoản của bạn và nhiều hơn nữa.
            </div>
            <a href="@Html.UrlWithDirectory("dang-ky")" class="btn btn-bordered btn-sign-up" data-lang="Create_A_New_Account">Tạo tài khoản mới</a>
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = "/" })
            </section>
        </div>
    </div>
</div>

<div id="externalLoginModal" class="modal fade" role="dialog" hidden>
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

@section scripts{
    <script type="text/javascript">
        history.forward();
        //$(document).bind('ajaxStart', function () {
        //    $('.spinner-group').show();
        //}).bind('ajaxStop', function () {
        //    $('.spinner-group').hide();
        //});
        function validationForm(username, password) {
            //Minimum 6 letter 1 alphabet 1 number
            //var regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/;
            if (username.trim() == "") {
                swal("Lỗi", "Xin vui lòng nhập UserName", "error");
                $('.spinner-group').hide();
                return false;
            }
            //if (!regex.test(password)) {
            if (password == null || password == "") {
                swal("Lỗi", "Mật khẩu phải có ít nhất 6 ký tự, 1 ký tự alphabet, 1 ký tự số", "error");
                $('.spinner-group').hide();
                return false;
            }
            return true;
        }

        $(document).ready(function () {

            $("#Loginbtn").on("click", function () {
                $('.spinner-group').show();
                var username = $("#username").val();
                var password = $("#password").val();
                var rememberme = $("#rememberme").is(":checked");
                if (validationForm(username, password)) {
                    $.ajax({
                        url: '@Url.Action("Login", "Login", new { area = "" })',
                        type: 'POST',
                        data: {
                            userName: username,
                            password: password,
                            rememberme: rememberme
                        },
                        success: function (result) {
                            if (result.success) {
                                window.location.href = "/profile";
                            } else if (result.success == null) {
                                $('.spinner-group').hide();
                                $('#externalLoginModal').modal('show');
                                $('#externalLoginModal .modal-content').html(result);
                                bindingResendEmail();
                            } else {
                                $('.spinner-group').hide();
                                swal("Lỗi", "Sai UserName hoặc Password", "error");
                            }

                        },
                        error: function () {
                            $('.spinner-group').hide();
                            swal("Lỗi", "Có lỗi xảy ra khi đang nhập. Vui lòng thử lại sau", "error");
                        }
                    });
                }

            });

        });

        var bindingResendEmail = function () {
            $('#ResendEmailConfirm').on('click', function () {
                var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

                var email = $('#ConfirmEmail').val();
                if (email == "") {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Bạn chưa nhập Email",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $('#ConfirmEmail').focus();
                        }, 100);
                        return;
                    });

                    return;
                }
                if (!re.test(email)) {
                    isValid = false;
                    swal({
                        title: "Lỗi",
                        text: "Email không đúng định dạng",
                        type: "error"
                    }, function () {
                        setTimeout(function () {
                            $('#ConfirmEmail').focus();
                        }, 100);
                    });
                    isValid = false;
                    return;
                }
                $.ajax({
                        url: '@Url.Action("ResendConfirmEmail", "Login", new { area = "" })',
                        type: 'POST',
                        data: {
                            email: email
                        },
                        success: function (result) {
                            $('.spinner-group').hide();
                            swal({
                                title: "Đã gửi",
                                text: "Đã gửi email xác nhận! Vui lòng kiểm tra hộp thư",
                                type: "success"
                            },
                                function () {
                                    window.location.href = "/";
                                });
                        },
                        error: function () {
                            $('.spinner-group').hide();
                            swal("Đã gửi", "Đã gửi email xác nhận! Vui lòng kiểm tra hộp thư", "success");
                        }
                    });
            });
        }

    </script>
}
