﻿@model RoutedPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Bảng kích cỡ";
}

<div id="size-chart-page">
    <img class="banner" src="~/Content/images/size-table/size-chart-banner.png">
    <div class="container">
        <h1 class="heading">Bảng kích cỡ</h1>

        <section id="measuring">
            <h2 class="section-title">Cách đo kích cỡ</h2>
            <div class="row body">
                <div class="col-md-5">
                    <img class="image" src="/Content/images/size-table/cach-do.png">
                </div>
                <div class="col-md-6 content">
                    <h3>Chest / Bust</h3>
                    <ul>
                        <li>Đo ngay trên quần áo đang mặc trên người.</li>
                        <li>Đo hết một vòng tròn quanh thân người.</li>
                        <li>Luôn luôn đặt thước dây thẳng và song song sàn nhà.</li>
                    </ul>
                    <h3>Inseam</h3>
                    <ul>
                        <li>Nếu số đo nằm giữa 2 size,vui lòng chọn size lớn hơn</li>
                    </ul>
                    <h3>Lưu ý khi đo vòng eo</h3>
                    <ul>
                        <li>Đo ngay vùng rốn dưới sườn.</li>
                        <li>Đo khi thở thoải mái và không hóp bụng vào.</li>
                    </ul>
                    <h3>Hướng dẫn cách đo</h3>
                    <ul>
                        <li>Cách đo chiều rộng vai: Đo từ bờ vai này đến bờ vai kia.</li>
                        <li>Cách đo vòng ngực: Đo vòng ngực thì phải đo phần đầy nhất của ngực.</li>
                        <li>Cách đo vòng eo: Bạn đo vòng eo quanh chỗ bé nhất.</li>
                        <li>Cách đo vòng mông: Đo quanh vòng mông chỗ lớn nhất.</li>
                        <li>Cách đo dài tay: Đo từ mép bờ vai đến vị trí yêu cầu.</li>
                        <li>Cách đo dài quần: Đo từ vòng eo bên hông xuống ngay mắt cá chân.</li>
                        <li>Cách đo vòng đùi: Do quanh vòng đùi nơi lớn nhất.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="size-table">
            <h2 class="section-title">Bảng thông số kỹ thuật</h2>
            <div class="row">
                <div class="col-md-6">
                    <img class="coat-women" src="/Content/images/size-table/table_coatwomen_2x.png">
                </div>
                <div class="col-md-6">
                    <img class="coat-men" src="/Content/images/size-table/table_coatmen_2x.png">
                </div>
            </div>
            <img class="pants-men" src="/Content/images/size-table/table_pantsmen_2x.png">
            <img class="pants-women" src="/Content/images/size-table/table_pantswomen_2x.png">
        </section>

    </div>
</div>
