﻿<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang quản trị UniChef</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/dt-1.10.10/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/t/dt/dt-1.10.10/datatables.min.js"></script>

    <!-- Vendor CSS -->
    <link href="/Content/template/template-material/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="/Content/template/template-material/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Content/template/template-material/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="/Content/template/template-material/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="/Content/template/template-material/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="/Content/template/template-material/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <link href="~/Content/template/template-material/vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">
    

    <!-- CSS -->
    <link href="/Content/template/template-material/css/app.min.1.css" rel="stylesheet">
    <link href="/Content/template/template-material/css/app.min.2.css" rel="stylesheet">

    <!-- Plugins -->
    @*<link href="/Content/plugins/select2/css/select2.min.css" rel="stylesheet" />*@
    <link href="/Content/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="/Content/plugins/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom -->
    <link href="/Content/css/custom-ckeditor.css" rel="stylesheet" />
    <link href="/Content/css/theme.css" rel="stylesheet" />
    <link href="/Content/css/admin.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

</head>
<body class="toggled sw-toggled">
    <header id="header" class="clearfix" data-current-skin="blue">
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo hidden-xs">
                <a href="/Admin">Chào mừng đến với trang quản trị UniChef</a>
            </li>

            @*<li class="pull-right">
                    <ul class="top-menu">
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#"><i class="tm-icon zmdi zmdi-more-vert"></i></a>
                            <ul class="dropdown-menu dm-icon pull-right">

                                <li>
                                    <a href="#"><i class="zmdi zmdi-settings"></i> Other Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>*@
        </ul>
    </header>

    <section id="main" data-layout="layout-1">
        <aside id="sidebar" class="sidebar c-overflow">
            <div class="profile-menu">
                <a href="#">
                    <div class="profile-pic">
                        <img src="/Content/template/template-material/img/profile-pics/1.jpg" alt="">
                    </div>

                    <div class="profile-info">
                        Xin chào, @(this.User.Identity.Name)

                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </a>

                <ul class="main-menu">
                    <li>
                        <a href="@this.Url.Action("LogOff", "Account", new { area = "Admin", })"><i class="zmdi zmdi-time-restore"></i> Đăng xuất</a>
                    </li>
                </ul>
            </div>
            <ul class="main-menu">
                <li><a href="@this.Url.Action("Index", "Account")"><i class="fa fa-users"></i> Accounts</a></li>
                <li><a href="@this.Url.Action("Index", "Store")"><i class="fa fa-building"></i> Stores</a></li>
            </ul>
        </aside>

        <section id="content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </section>

    <footer id="footer">
        @*Copyright &copy; 2015 Material Admin*@

        <ul class="f-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="preloader pls-blue">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
            </svg>

            <p>Please wait...</p>
        </div>
    </div>

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="/Content/template/template-material/img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="/Content/template/template-material/img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="/Content/template/template-material/img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="/Content/template/template-material/img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="/Content/template/template-material/img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Javascript Libraries -->
    <script src="/Content/template/template-material/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/flot/jquery.flot.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
    <script src="/Content/template/template-material/vendors/sparklines/jquery.sparkline.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

    <script src="/Content/template/template-material/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="/Content/template/template-material/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>


    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="/Content/template/template-material/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    <script src="/Content/plugins/bootbox-4.4.0/bootbox.js"></script>
    <script src="/Content/plugins/ckeditor/ckeditor.js"></script>
    <script src="/Content/plugins/ckeditor/adapters/jquery.js"></script>
    <script src="~/Content/template/template-material/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
    <script src="/Content/template/template-material/js/flot-charts/curved-line-chart.js"></script>
    <script src="/Content/template/template-material/js/flot-charts/line-chart.js"></script>
    <script src="/Content/template/template-material/js/charts.js"></script>
    <!-- Plugins -->
    <script src="/Content/plugins/select2/js/select2.full.min.js"></script>
    <script src="/Content/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="/Content/plugins/DataTables/DataTables-1.10.10/js/jquery.dataTables.js"></script>
    <script src="/Content/template/template-material/js/functions.js"></script>

    <!-- Custom -->
    <script src="/Content/js/script.js"></script>

    @RenderSection("scripts", false)
    <script>
        $(function () {
            SKYWEB.Admin.General.init();
        });

        function notify(from, align, title, message, icon, type, animIn, animOut) {
            $.growl({
                icon: icon,
                title: title,
                message: message,
                url: ''
            }, {
                element: 'body',
                type: type,
                allow_dismiss: true,
                placement: {
                    from: from,
                    align: align
                },
                offset: {
                    x: 20,
                    y: 85
                },
                spacing: 10,
                z_index: 1031,
                delay: 2500,
                timer: 1000,
                url_target: '_blank',
                mouse_over: false,
                animate: {
                    enter: animIn,
                    exit: animOut
                },
                icon_type: 'class',
                template: '<div data-growl="container" class="alert" role="alert">' +
                                '<button type="button" class="close" data-growl="dismiss">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '<span class="sr-only">Close</span>' +
                                '</button>' +
                                '<span data-growl="icon"></span>' +
                                '<span data-growl="title"></span>' +
                                '<span data-growl="message"></span>' +
                                '<a href="#" data-growl="url"></a>' +
                            '</div>'
            });
        };
    </script>

    @if (this.TempData["message"] != null)
    {
        <script>
            $(function () {
                notify("top", "right", "", "@(this.TempData["message"])");
            });
        </script>
    }

</body>

</html>
