﻿
@{
    ViewBag.Title = "Home Page";
    var storeId = ViewBag.storeId;
    var storeName = ViewBag.storeName;
    var brandId = ViewBag.brandId;


    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@if (ViewBag.isConnected == true)
{
    <div class="card" id="profile-main">
        <div class="pm-header clearfix">
            <ul class="tab-nav tn-justified">
                <li class="active"><a href="#">Tên cửa hàng</a></li>
            </ul>


            @if (!string.IsNullOrEmpty(ViewBag.About) || !string.IsNullOrEmpty(ViewBag.Description))
            {

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-equalizer m-r-10"></i>Mô tả</h2>
                    </div>

                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            @if (!string.IsNullOrEmpty(ViewBag.About))
                            {
                                @ViewBag.About
                            }
                            @*@if (!string.IsNullOrEmpty(ViewBag.Description))
                                {
                                @ViewBag.Description
                                }*@
                        </div>
                    </div>
                </div>



            }


            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-phone m-r-10"></i> Thông tin liên hệ</h2>
                </div>
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view">
                        @if (!string.IsNullOrEmpty(ViewBag.Phone))
                        {
                            <dl class="dl-horizontal">
                                <dt>Điện thoại</dt>
                                <dd>@ViewBag.Phone</dd>
                            </dl>
                        }
                        @if (ViewBag.Email != null)
                        {
                            <dl class="dl-horizontal">
                                <dt>Email</dt>
                                @foreach (var email in ViewBag.Email)
                                {
                                    <dd>@email</dd>
                                }

                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.Address))
                        {
                            <dl class="dl-horizontal">
                                <dt>Địa chỉ</dt>
                                <dd>@ViewBag.Address</dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.Website))
                        {
                            <dl class="dl-horizontal">
                                <dt>Trang web</dt>
                                <dd><a href="@ViewBag.Website">@ViewBag.Website</a></dd>
                            </dl>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="card" id="page-wrapper t-view">
        <div class="card-header">
            <h3 style="color:green" class="text-center">Chưa có cửa hàng kết nối</h3>
            <hr />
        </div>
        <div class="card-body">
            <h4 class="text-center" id="not-login" hidden>Bạn chưa đăng nhập</h4>
            <div class="row" id="loged-in" hidden>
                <h4 class="text-center">Bạn đã đăng nhập với tư cách</h4>
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="list-group-item media">
                        <div class="pull-left">
                            <a id="link-facebook-user" target="_blank" href=""><img id="user-avatar" class="lgi-img" src="" alt=""></a>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading"><strong id="user-name" style="font-size:17px"></strong></div>
                            @*<div>
                                <button type="button" id="logout-fb" class="btn bgm-lightblue btn-xs waves-effect">Đăng xuất</button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            
            <br />
            <div class="text-center">
                <button class="btn bgm-green waves-effect" onclick="addPage()"><i class="zmdi zmdi-plus"></i>&nbsp;Thêm cửa hàng</button>
            </div>
        </div>

    </div>
}


<!-- Modal Default -->
<div class="modal fade" id="listPage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Danh sách các trang của bạn</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>




<script>

    //Facebook JS SDK
    window.fbAsyncInit = function () {
        FB.init({
            appId: @ViewBag.fbAppId,
            xfbml: true,
            version: 'v2.8'
        });
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                console.log("Đã kết nối ứng dụng");
                FB.api('me?fields=picture,name', 'get', function (response) {
                    $('#user-name').text(response.name);
                    $('#user-avatar').attr("src", response.picture.data.url);
                    $('#link-facebook-user').attr("href", "https://www.facebook.com/" + response.id);
                    $('#loged-in').show();
                });

            } else if (response.status === 'not_authorized') {
                console.log("Chưa ủy quyền ứng dụng");
                FB.api('me?fields=picture,name', 'get', function (response) {
                    $('#user-name').text(response.name);
                    $('#user-avatar').attr("src", response.picture.data.url);
                    $('#link-facebook-user').attr("href", "https://www.facebook.com/" + response.id);
                    $('#loged-in').show();
                });
            } else {
                $('#not-login').show();
                console.log("Chưa đăng nhập");
            }
        });

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // ./Facebook JS SDK

    $('#logout-fb').click(function () {
        FB.logout(function (response) { });
        location.reload();
    })

    // Add Facebook page to store
    function addPage() {
        FB.logout(function(response) {});
        FB.login(function (response) {
            if (response.status === 'connected') {
                getListPage(response.authResponse.accessToken);
            } else if (response.status === 'not_authorized') {
                console.log("Chưa ủy quyền ứng dụng");
                getListPage(response.authResponse.accessToken);
            } else {
                console.log("Chưa đăng nhập");
            }
        },
        {scope: 'public_profile,manage_pages,pages_messaging,publish_pages,read_page_mailboxes'});
        //Check login status
        //FB.getLoginStatus(function (response) {
        //    if (response.status === 'connected') {
        //        console.log("Đã kết nối ứng dụng");
        //        console.log(response.authResponse.accessToken);
        //        getListPage(response.authResponse.accessToken);
        //    } else if (response.status === 'not_authorized') {
        //        console.log("Chưa ủy quyền ứng dụng");
        //        getListPage(response.authResponse.accessToken);
        //    } else {
        //        console.log("Chưa đăng nhập");
        //        FB.login(function (response) {
        //            if (response.status === 'connected') {
        //                getListPage(response.authResponse.accessToken);
        //            } else if (response.status === 'not_authorized') {
        //                console.log("Chưa ủy quyền ứng dụng");
        //                getListPage(response.authResponse.accessToken);
        //            } else {
        //                console.log("Chưa đăng nhập");
        //            }
        //        }, {scope: 'public_profile,manage_pages,pages_messaging,publish_pages,read_page_mailboxes'});
        //    }
        //});
    }

    //Get long-live User access token and page list
    function getListPage(shortLiveAccessToken){
        $("#listPage").find("div.modal-body").empty();
        $.ajax({
            url: '@Url.Action("GetLongLiveUserAccessToken", "LoginFacebook", new { Area = "Facebook" })',
            data: { shortToken: shortLiveAccessToken },
            type: "Post",
            async: false,
            dataType: "json",
            success: function (data) {
                if(data.longToken!=null){
                    FB.api('/me/accounts', 'get', { access_token: data.longToken }, function (response) {
                        for(var i=0;i<response.data.length;i++){
                            $("#listPage").find("div.modal-body").append("<div class='row'>"+
                                            "<div class='col-sm-8'><h4>"+response.data[i].name+"</h4></div>"+
                                            "<div class='col-sm-2'><a target='_blank' href='https://www.facebook.com/"+response.data[i].id+"'><h5>Xem trang</h5></a></div>"+
                                            "<div class='col-sm-2'><button class='btn bgm-lightgreen waves-effect' onclick='AddTab("+response.data[i].id+",\""+response.data[i].access_token+"\")'>Thêm</button></div>"+
                                            "</div>");
                        }
                        $("#listPage").modal("show");
                    });
                }
            },
            error: function (data){
                console.log("Đã có lỗi khi lấy mã truy cập dài hạn");
            }
        })
    }

    //Add tab to a page
    function AddTab(pageId, accessToken){
        $.ajax({
            url: '@Url.Action("AddTab", "LoginFacebook", new { Area = "Facebook" })',
            data: {
                pageId: pageId,
                pageAccessToken: accessToken,
                storeId: @ViewBag.storeId,
            },
            type: "post",
            dataType: "json",
            success: function(data){
                if(data.success==true){
                    console.log("Đã thêm tab thành công");
                    location.reload();
                }else{
                    console.log("Đã có lỗi khi thêm tab");
                }
            },
            error: function(data){
                console.log("Đã có lỗi khi thêm tab");
            },
        })
    }



</script>
