.cp-cart-icon {
    text-align: center;
    width: 120px;
    height: 120px;
    position: fixed;
    top: 30%;
    right: 15px;
    z-index: 99999;
    background: #C13100;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,.3) -5px 5px 15px;
    transform: rotate(10deg) translateY(-50%);
}

    .cp-cart-icon i {
        margin: 20px auto 8px;
        position: relative;
        color: white;
    }

.cp-quantity {
    position: absolute;
    color: #C13100;
    font-size: 20px;
    top: 18px;
    left: 0;
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
}

.cp-cart-icon .cp-price {
    color: white;
    font-weight: bold;
}

.cp-cart-column-product img {
    width: 100%;
}

.modal.cp-cart-modal {
    z-index: 999999;
}

@media (min-width: 768px) {
    .modal-dialog.cp-modal-dialog {
        width: 700px;
    }

    .cp-cart-column-product {
        /*width: 50%;*/
    }
}

.modal.cp-cart-modal .modal-body {
    padding-bottom: 0;
}

.modal.cp-cart-modal .modal-footer {
    margin-top: 0;
    padding-right: 50px;
}

.cp-product-wrapper {
    width: 75px;
    overflow-x: auto;
}

.modal.cp-cart-modal .table {
    width: 668px;
    margin-bottom: 0;
    position: relative;
}

.cp-product-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.cp-table-wrapper {
    position: relative;
    overflow-x: auto;
}

.cp-table thead {
    width: 100%;
}

.cp-table {
    height: 300px;
    overflow-y: hidden;
}

    .cp-table tbody {
        width: 100%;
        overflow-y: scroll;
        height: 340px;
        position: absolute;
    }

    .cp-table tr th:nth-child(1),
    .cp-table tr td:nth-child(1) {
        width: 41px;
    }

    .cp-table tr th:nth-child(2) {
        width: 300px;
    }

    .cp-table tr td:nth-child(2) {
        width: 356px;
    }

    .cp-table tr th:nth-child(3),
    .cp-table tr td:nth-child(3) {
        width: 97px;
    }

    .cp-table tr th:nth-child(4),
    .cp-table tr td:nth-child(4) {
        width: 95px;
    }

    .cp-table tr th:nth-child(5),
    .cp-table tr td:nth-child(5) {
        width: 62px;
    }

@media screen and (max-width: 499px) {
    .cp-cart-modal .modal-footer .cp-btn-clear {
        width: 100%;
    }

    .cp-cart-modal .modal-footer .cp-btn-checkout {
        margin-top: 10px;
        margin-left: 0 !important;
        width: 100%;
    }
}
