﻿<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Danh sách nhóm</h2>
            </div>
            <div class="col-md-4 text-right">
                <a data-toggle="modal" href="#modalWider" class="btn btn-primary btn-icon-text waves-effect">
                    <i class="zmdi zmdi-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <table id="data-table-command" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th data-column-id="id" data-type="numeric">ID</th>
                <th data-column-id="sender">Sender</th>
                <th data-column-id="received" data-order="desc">Received</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10239</td>
                <td>lila@google.com</td>
                <td>15.10.2013</td>
            </tr>
            <tr>
                <td>10244</td>
                <td>lila@google.com</td>
                <td>20.10.2013</td>
            </tr>
            <tr>
                <td>10249</td>
                <td>lila@google.com</td>
                <td>25.10.2013</td>
            </tr>
            <tr>
                <td>10237</td>
                <td>robert@bingo.com</td>
                <td>13.10.2013</td>
            </tr>
            <tr>
                <td>10242</td>
                <td>robert@bingo.com</td>
                <td>18.10.2013</td>
            </tr>
            <tr>
                <td>10247</td>
                <td>robert@bingo.com</td>
                <td>23.10.2013</td>
            </tr>
            <tr>
                <td>10252</td>
                <td>robert@bingo.com</td>
                <td>28.10.2013</td>
            </tr>
            <tr>
                <td>10236</td>
                <td>simon@yahoo.com</td>
                <td>12.10.2013</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal Large -->
<div class="modal fade" id="modalWider" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3><i class="zmdi zmdi-info m-r-5"></i> Thông tin đơn hàng</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Người đặt hàng</h4>
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>Họ tên</dt>
                                <dd>Trung Nguyen</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Điện thoại</dt>
                                <dd>0603651003</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Email</dt>
                                <dd>trungndt@gmail.com</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Địa chỉ</dt>
                                <dd>Quận 12</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Phương thức</dt>
                                <dd>Chuyển khoản</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Người nhận hàng</h4>
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>Họ tên</dt>
                                <dd>Trung Nguyen</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Điện thoại</dt>
                                <dd>0603651003</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Địa chỉ</dt>
                                <dd>Quận 12</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <br />
                <h3><i class="zmdi zmdi-shopping-basket m-r-5"></i> Danh sách sản phẩm</h3>
                <table class="table table-striped table-vmiddle table-bordered">
                    <thead>
                        <tr>
                            <th>Mã SP</th>
                            <th>Hình ảnh</th>
                            <th>Sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SP001</td>
                            <td>
                                <div class="img-container w-100">
                                    <div class="ratio-wrapper ratio-wrapper-3-2">
                                        <div class="ratio-item">
                                            <img class="img-responsive" src="~/Content/images/default_product.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h4>Máy lạnh Daikin 1,0 Hp</h4>
                                <p># FTKC25PVMV</p>
                            </td>
                            <td>
                                <p>7.600.000 VND</p>
                            </td>
                            <td>
                                <p>1</p>
                            </td>
                            <td><p>7.600.000 VND</p></td>
                        </tr>
                        <tr>
                            <td>SP001</td>
                            <td>
                                <div class="img-container w-100">
                                    <div class="ratio-wrapper ratio-wrapper-3-2">
                                        <div class="ratio-item">
                                            <img class="img-responsive" src="~/Content/images/default_product.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h4>Máy lạnh Daikin 1,0 Hp</h4>
                                <p># FTKC25PVMV</p>
                            </td>
                            <td>
                                <p>7.600.000 VND</p>
                            </td>
                            <td>
                                <p>1</p>
                            </td>
                            <td><p>7.600.000 VND</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    @*<link href="/Content/template-material/vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">
        <script src="/Content/template-material/vendors/bootgrid/jquery.bootgrid.min.js"></script>*@
    <!-- Data Table -->
    <script type="text/javascript">

    </script>
}