﻿@using HmsService.Models
@{
    ViewBag.Title = "CreateInvoice";
    var user = HttpContext.Current.User.Identity.Name;
}

<style>
    .tab-nav.tn-justified > li {
        width: 33% !important;
        padding: 0px;
    }

    .dropdown-menu.open {
        max-height: 200px !important;
        overflow: visible !important;
    }

    .dropdown-menu.inner {
        max-height: 200px !important;
    }

    .highcharts-container {
        width: 100% !important;
    }
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            display: none;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 13px;
            width: 13px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 17px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<div class="card">
    <div class="card-header" style="padding-bottom: 5px">
        <div class="row">
            <div class="col-md-4">
                <h3>Quản lí hóa đơn</h3>
            </div>
        </div>
        <ul id="TabList" class="tab-nav tn-justified" style="overflow: hidden;width: 100%">
            <li class="active waves-effect col-lg-6"><a data-toggle="tab" onclick="openCity(event, 'tab1')" href="#storesTab" id="tab01"><i @*class="fa fa-home"*@ class="fa fa-users"></i> Tiền khách hàng nợ</a></li>
            <li class="waves-effect col-lg-6"><a data-toggle="tab" onclick="openCity(event, 'tab3')" href="#all" id="tab03"><i class="fa fa-globe"></i> Thu tiền tài khoản</a></li>
            <li class="waves-effect col-lg-6"><a data-toggle="tab" onclick="openCity(event, 'tab2')" href="#storesGroupTab" id="tab02"><i class="fa fa-users"></i> Khoản thu khác</a></li>
        </ul>
    </div>
    <div class="card-body card-padding">
        <div class="row">
            <form id="form-create-session" class="form-inline">
                <div class="col-md-12">
                    <div class="col-md-3" id="select-type">
                        <label hidden>Chọn nhà cung cấp: &nbsp;</label>
                        <select class="selectpicker" id="itemlist" data-live-search="true"></select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" id="btnInvoice">Chọn hóa đơn</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" style="padding:10px; margin:10px">
            <div class="card col-md-7" style="padding:10px;">
                <h3 style="text-align:center" class="card-header">Thông tin khách hàng</h3>
                <div id="txtBox" class="form-group row">
                    <label class="col-md-4">Khách hàng: </label>
                    <div class="col-md-8">
                        <div class="fg-line">
                            <input readonly class="form-control" id="provider" />
                        </div>
                    </div>
                </div>
                <div id="txtBox" class="form-group row">
                    <label class="col-md-4">Địa chỉ: </label>
                    <div class="col-md-8">
                        <div class="fg-line">
                            <input readonly class="form-control" id="address" />
                        </div>
                    </div>
                </div>
                <div id="txtBox" class="form-group row">
                    <label class="col-md-4">Nội dung: </label>
                    <div class="col-md-8">
                        <div class="fg-line">
                            <input readonly class="form-control" id="descipt" />
                        </div>
                    </div>
                </div>
                <div id="txtBox" class="form-group row">
                    <label class="col-md-4">Nhân viên: </label>
                    <div class="col-md-8">
                        <div class="fg-line">
                            <input readonly class="form-control" id="empId" />
                        </div>
                    </div>
                </div>
            </div>
            <div role="form" class="card col-md-5" style="padding:10px;">
                <h3 style="text-align:center" class="card-header">Hóa đơn</h3>
                <div id="txtBox" class="form-group row">
                    <label class="col-md-4">Mã hóa đơn: </label>
                    <div class="col-md-8">
                        <div class="fg-line">
                            <input readonly class="form-control" id="invoiceCode" />
                        </div>
                    </div>
                </div>

                <div id="txtBox" class="form-group row">
                    <label class="col-md-4">Ngày tạo: </label>
                    <div class="col-md-8">
                        <div class="fg-line">
                            <input readonly class="form-control" id="createDate" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-success" style="float:right ;margin-right:30px">Tạo</button>
        </div>
    </div>
</div>
<script>
    function LoadProvider() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadAllProvider", "Invoice")',
            success: function (result) {
                for (var i = 0; i < result.provider.length; i++) {
                    $('#itemlist').append('<option value="' + result.provider[i].providerId + '">' + result.provider[i].providerName + '</option>')
                }
                $('#itemlist').val(result.provider[0].providerId);
                $('#itemlist').selectpicker('refresh');
                GetProviderDetail();
                GetInvoiceCode();
            }
        });
    }

    function GetProviderDetail() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadProviderDetail", "Invoice")',
            data: {
                'providerId': $('#itemlist').val(),
                //'providerId': providerId
            },
            success: function (result) {
                $('#provider').val(result.providerDetail.ProviderName);
                $('#address').val(result.providerDetail.Address);
                $('#empId').val('@user');
                $('#createDate').val('@Utils.GetCurrentDateTime().ToString("dd/MM/yyyy")');
            }
        });
    }

    function GetInvoiceCode() {
        var form = $(this);
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetInvoiceCode", "Invoice")',
            
            success: function (result) {
                $('#invoiceCode').val(result.InvoiceCode);
            }
        });
    }

    $(document).ready(function () {
        LoadProvider();

    });

    $("#itemlist").on("change", function () {
        GetProviderDetail();
        GetInvoiceCode();
    });
</script>
