﻿@model HmsService.ViewModels.CostViewModel
@using HmsService.Models
@{
    ViewBag.Title = "Quản lý thu chi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var storeId = 0;
    if (ViewContext.RouteData.Values["storeId"] != null)
    {
        storeId = int.Parse(ViewContext.RouteData.Values["storeId"]?.ToString());
    }
}

@*<span>@ViewBag.Date</span>
    <span>@ViewBag.Time</span>*@
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    .Quản lý thu chi.
                </h3>
                <h5 class="smallDate" data-role="small-date"></h5>
            </div>
            @if (storeId != 0)
            {
                <div class="col-md-4 pull-right ">
                    <a id="receive-cost-btn" class="btn btn-success btn-sm pull-right" data-id="@((int)CostTypeEnum.ReceiveCost)">
                        Lập phiếu thu
                    </a>
                    <a id="add-cost-btn" class="btn btn-primary btn-sm pull-right" data-id="@((int)CostTypeEnum.SpendingCost)" style="margin-right: 5px;">
                        Lập phiếu chi
                    </a>
                </div>


            }
            else
            {
                <div class="col-md-6">

                </div>
            }
        </div>
        <hr />
        <div class="row" style="margin-top: 10px">

            <div class="col-md-6">
                <div class="group-radio-buttons myChoosebox" style="margin-right:25px;">
                    <div class="row small-margin">
                        <div class="col-md-4">
                            <input type="radio" name="report-filter" value="3" class="nice-check" id="filter4" checked />
                            <label for="filter4"><span>Tất cả</span></label>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" name="report-filter" value="1" class="nice-check" id="filter1">
                            <label for="filter1"><span>Phiếu thu</span></label>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" name="report-filter" value="2" class="nice-check" id="filter2">
                            <label for="filter2"><span>Phiếu chi</span></label>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-6">
                <div class="input-group">
                    <!-- Daterange picker -->
                    @*<div class="date-picker text-right">
                            <input id="datestring" hidden />
                            <div id="reportrange">
                                <input class="p-7 width230" type="text" id="date-string" readonly />
                                <a id="" class="CelenderA"><i class="fa fa-calendar"></i></a>
                            </div>
                        </div>*@
                    <div class="dateTime width230 pull-right">
                        <div class="fg-line m-t-5">
                            <input id="datestring" hidden />
                            <div id="reportrange">
                                <input id="date-string" readonly class="form-control text-center">
                                <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <a class="btn btn-primary btn-sm" id="btnSearch">
                            <i class="left-icon fa fa-search"></i>  Tìm
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal" id="infoIndex">

        </div>
    </div>

    <div class="card-padding">
        <table class="table table-hover" id="cost-main-table">
            <thead>
                <tr>
                    <th><label>Ngày</label></th>
                    <th><label>Đối tượng</label></th>
                    <th><label>Loại</label></th>
                    <th><label>Nội dung</label></th>
                    <th><label>Giá tiền</label></th>
                    <th><label>Trạng thái</label></th>
                    <th><label>Tùy chọn</label></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div id="add-cost-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

</div>
<input type="hidden" id="startDate" />
<input type="hidden" id="endDate" />

<style>
    .input-group .input-group-btn > a.btn {
        margin-top: 0px !important;
    }
</style>

<script>
    var status = 3;
    var test;
    $(function () {
        // Daterange picker
        function cb(start, end, label) {
            if (label != "Tùy chọn") {
                $('#date-string').val(label);
            } else if (start.format('DD/MM/YYYY') == end.format('DD/MM/YYYY')) {
                $('#date-string').val(start.format('DD/MM/YYYY'));
            } else {
                $('#date-string').val(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
            }
            $('#startDate').val(start.format('DD/MM/YYYY'));
            $('#endDate').val(end.format('DD/MM/YYYY'));
            var startTime = start.format('DD/MM/YYYY'),
                endTime = end.format('DD/MM/YYYY');
            $('[data-role=small-date]').html('(' + startTime + (startTime == endTime ? '' : ' - ' + endTime) + ')');
        };
        cb(moment(), moment(), 'Hôm nay');

        $('#reportrange').daterangepicker({
            "opens": "left",
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Tuần này': [moment().startOf('isoweek'), moment().endOf('isoweek')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('isoweek'), moment().subtract(1, 'week').endOf('isoweek')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Toàn bộ': ['01/01/2010', '01/01/2100']
            }
        }, cb);

        $(document).ready(function () {
            loadDataTableCost();
            //HMS.Cost.loadOverViewCost('@Url.Action("CostOverview","CostManage")');

            $('[name="report-filter"]').change(function (e) {
                status = $(this).val();
                RefreshTable();
            });
        });
    });


    var loadDataTableCost = function () {
            window.dt = $("#cost-main-table").dataTable({
                "bSortable": false,
                "sAjaxSource": "@Url.Action("GetData")",
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "startTime", "value": $('#startDate').val() });
                    aoData.push({ "name": "endTime", "value": $('#endDate').val() });
                },
                "sServerMethod": "GET",
                "oLanguage": {
                    "sSearchPlaceholder": "Danh mục",
                    "sSearch": "Tìm kiếm:",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "sInfoEmpty": "Không có dữ liệu",
                },
                "bAutoWidth": false,
                "aoColumnDefs": [
                ],
                "columns": [
                    { "data": "invoiceDate" },
                    { "data": "cusId" },
                    { "data": "proId" },
                    { "data": "type" },
                    { "data": "amout" },
                    { "data": "status" },
                    { "data": "storeId" },
                ]
            }).fnSetFilteringDelay(delaySearch);
    }

    $('#btnSearch').on('click', function () {
        if ($("#endDate").val().length > 16 || $("#startDate").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            //HMS.Cost.loadOverViewCost('@Url.Action("CostOverview","CostManage")');
            RefreshTable();
        }
    });

    function RefreshTable() {
        var oTable = $("#cost-main-table").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    function GetCreatingForm(type) {
        if (type == '@((int)CostTypeEnum.SpendingCost)') {
            $("#roomModalTitle").html('Phiếu chi');
            $('#add-cost-modal').html("");
            $.ajax({
                url: "@Url.Action("CreatingSpendForm")",
                dataType: "HTML",
                data: { 'costCategoryType': type },
                beforeSend: function () {

                },
                success: function (result) {
                    $('#add-cost-modal').html(result);
                    $('#add-cost-modal').modal('show');
                }
            });
        }
        else {
            $("#roomModalTitle").html('Phiếu thu');
            $('#add-cost-modal').html("");

            $.ajax({
                url: "@Url.Action("CreatingReceiptForm")",
                dataType: "HTML",
                data: { 'costCategoryType': type },
                beforeSend: function () {

                },
                success: function (result) {
                    $('#add-cost-modal').html(result);
                    $('#add-cost-modal').modal('show');
                }
            });
        }

    }

    $('#add-cost-btn').on('click', function (e) {
        GetCreatingForm(e.currentTarget.getAttribute("data-id"));
    });
    $('#receive-cost-btn').on('click', function (e) {
        GetCreatingForm(e.currentTarget.getAttribute("data-id"));
    });


    function CancelCost(CostID) {
        $.ajax({
            url: "@Url.Action("CancelCost")",
            type: 'POST',
            data: {
                "CostID": CostID,
            },
            error: function () {
                ShowMessage("Không thể hủy. Xin vui lòng thử lại sau!", 1);
            },
            success: function (data) {
                if (data.success) {
                    ShowMessage("Đã hủy thành công!", 2);
                    RefreshTable();
                } else {
                    ShowMessage("Không thể hủy. Xin vui lòng thử lại sau!", 1);
                }
            }
        });
    }
</script>
