﻿
@{
    ViewBag.Title = "Home Page";
    var storeId = ViewBag.storeId;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .btnChange {
        text-align: center;
        float: left;
        margin-top: 10px;
        background-color: #244363!important;
        border-color: #244363;
        color:white;
        font-style: normal;
    }
</style>
<div class="card" id="page-wrapper">
    <div class="card-header" id="date-header">
        <div class="row small-margin">
            <div class="col-md-3 col-xs-12">
                <h3>Tổng quan ngày</h3>
                <h5 data-role="small-date" id="dateRange"></h5>
                @*<input class="inline-group" id="changeToMonth-btn" type="button" value="Text1" />*@
            </div>
            <div class="col-md-3 col-xs-12">
                <a class="btn btn-primary btnChange" id="changeToMonth-btn">Xem tổng quan tháng</a>
            </div>
            <div class="col-lg-3 col-lg-offset-3 col-md-5 col-md-offset-1 col-xs-12">
                <div class="pull-right text-right myDatetimePicker">
                    <div class="input-group">
                        <!-- Daterange picker -->
                        <input id="datestring" hidden />
                        <div class="dateTime width230 pull-right">
                            <div class="fg-line m-t-5">
                                <div id="reportrange">
                                    <input id="date-string" readonly class="form-control text-center">
                                    <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                                </div>
                            </div>
                            @*<div class="fg-line m-t-5">
                                <div class="input-group date" id="datetimepicker2" style="float: right">
                                    <input id="endDate" type='text' class="form-control" style="width: 100px" />
                                    @*<input id="endDate" type='text' class="form-control" />*@
                            @*<span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>*@
                        </div>
                        <div class="input-group-btn FindButtonDateTime">
                            <a class="btn btn-primary btn-sm FindDateTime btn-search" style="margin-top: -5px;">
                                <i class="left-icon fa fa-search"></i> Tìm
                            </a>
                        </div>

                    </div>
                    <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                    <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" hidden="hidden" />
                </div>
            </div>
        </div>
        <hr />
        <input type="hidden" id="startDate" />
        <input type="hidden" id="endDate" />
    </div>
    @*Tong quan thang header*@
    <div class="card-header" id="month-header" style="display:none">
        <div class="row small-margin">
            <div class="col-md-3 col-xs-12">
                <h3>Tổng quan tháng</h3>
                <h5 data-role="small-date" id="monthRange"></h5>
            </div>
            <div class="col-md-3 col-xs-12">
                <a class="btn btn-primary btnChange" id="changeToDate-btn">Xem tổng quan ngày</a>
            </div>
            <div class="col-lg-3 col-lg-offset-3 col-md-5 col-md-offset-1 col-xs-12">

                <div class="pull-right text-right myDatetimePicker">
                    <div class="input-group">
                        <!-- Daterange picker -->
                        <input id="datestring" hidden />
                        <div class="dateTime width230 pull-right">
                            <div class="fg-line m-t-5">
                                <input name="startYear1" id="startYear1" onchange="smallDateChange()" readonly class="date-picker-year form-control text-center" />
                                @*<a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>*@
                            </div>
                        </div>
                        <div class="input-group-btn FindButtonDateTime">
                            <a class="btn btn-primary btn-sm FindDateTime btn-search" style="margin-top: -5px;">
                                <i class="left-icon fa fa-search"></i> Tìm
                            </a>
                        </div>

                    </div>
                    @*<input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                    <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" hidden="hidden" />*@
                </div>
            </div>
        </div>
        <hr />
        @*<input type="hidden" id="startMonth" />
        <input type="hidden" id="endMonth" />*@
    </div>
    <div class="card-padding">
        @{Html.RenderAction("GetDashboardPartial", "DashBoard");}
    </div>
</div>

@section scripts {
    <script>
        var domain = 'Date';
        $(document).ready(function () {
            if (@ViewBag.storeId == 0) { //Thêm tab cửa hàng khi load dữ liệu theo brand
                $("#storeTab").parent().siblings().children("a.active").removeClass("active");
                $("#storeTab").addClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content#storeContent").addClass("active");
                $("#storeTab").show();
                //initStoreDatatable();
            } else {
                $("#storeTab").hide();
            }
        });

        $(function () {
            HMS.Dashboard.init('Date');
            HMS.Dashboard.setupDatePicker();
            var month = $('#sTime').val().substring(3);
            $('#startYear1').val(month);
            //smallDateChange();
            $('.date-picker-year').datepicker({
                changeYear: true,
                showButtonPanel: true,
                format: 'mm/yyyy',
                viewMode: "months",
                orientation: "left",
                endDate: new Date(),
                autoclose: true,
                minViewMode: "months",
                onClose: function (dateText, inst) {
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, 1));
                }
            });
            $(".date-picker-year").focus(function () {
                $(".ui-datepicker-month").hide();
            });
        });
        $('#changeToMonth-btn').on('click', function () {
            domain = 'Month';
            $('#date-header').slideUp();
            $('#month-header').slideDown();
            smallDateChange();
            HMS.Dashboard.init('Month');
        });
        $('#changeToDate-btn').on('click', function () {
            domain = 'Date';
            $('#month-header').slideUp();
            $('#date-header').slideDown();
            $("#sTime").val($('#date-string').val().substring(1, 10));
            $("#eTime").val($('#date-string').val().substring(1, 10));
            $('#startDate').val($('#date-string').val().substring(1, 11));
            $('#endDate').val($('#date-string').val().substring(1,11));
            HMS.Dashboard.init('Date');
        });
        function smallDateChange() {
            $('#monthRange').html('(' + $('#startYear1').val() + ')');
            $("#sTime").val($('#startYear1').val());
            var month = $('#startYear1').val().substring(0, 2);
            //if (month == "02")
            //    $("#eTime").val("29/" + $('#startYear1').val());
            //if (month == "01" || month == "03" || month == "05" || month == "07"
            //    || month == "08" || month == "10" || month == "12")
            //    $("#eTime").val($('#startYear1').val());
            //else {
            $("#eTime").val($('#startYear1').val());
            //}
            //$("#date-string").html(dateString);
            //$("#dateRange").html(dateString);
            $('#startDate').val($("#sTime").val());
            $('#endDate').val($("#eTime").val());
            debugger
        };
        $('.btn-search').on('click', function () {
            if (domain == 'Month') {
                HMS.Dashboard.init('Month');
            } else {
                $("#sTime").val($('#date-string').val().substring(1, 10));
                $("#eTime").val($('#date-string').val().substring(1, 10));
                $('#startDate').val($('#date-string').val().substring(1, 11));
                $('#endDate').val($('#date-string').val().substring(1, 11));
                HMS.Dashboard.init('Date');
            }
        });
    </script>
}
