﻿/*Design for only facebook*/
body.sw-toggled #content > .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.sw-toggled #menu-trigger {
    display: block;
}

#sidebar.toggled {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

body.sw-toggled #sidebar {
    -webkit-transform: translate3d(-268px, 0, 0);
    transform: translate3d(-268px, 0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1200px) {
    body.sw-toggled #content {
        padding-left: 0;
    }
}

#main {
    padding-bottom: 0;
    padding-top: 70px;
}

#footer {
    display: none;
}

.m-sidebar, .m-body {
    height: calc(100% - 15px);
}

.img-attachment {
    height: 120px;
    width: 120px;
    padding: 1px;
    border: solid 1px #EEE;
    object-fit: contain;
}

.messages {
    height: calc(100% - 72px);
    background-color: white;
    position: fixed;
}



    /*.messages .m-sidebar, .messages .m-body {
    width: 20%;
    display: inline-block;
}*/

    /*@media (min-width: 1100px) {
    .messages {
        position: relative;
    }
}*/

    .messages header .actions {
        position: absolute;
        top: 12px;
        right: 13px;
    }

        .messages header .actions > li {
            display: inline-block;
            vertical-align: baseline;
            width: 30px;
        }

    .messages .m-sidebar .tab-content {
        padding-top: 0;
    }

    /*.messages .active {
    color: green;
}*/

    /*Design for left sidebar*/
    .messages .m-sidebar {
        background-color: white;
    }

        .messages .m-sidebar header h2 {
            border-bottom: 1px dashed black;
        }

        .messages .m-sidebar header ul li {
            text-align: center;
            padding: 0;
        }

        .messages .m-sidebar ul.tab-nav {
            box-shadow: none;
        }

    .messages .ms-search {
        padding: 5px 10px;
        position: relative;
    }

        .messages .ms-search .fg-line:not([class*=has-]):after {
            background: #4caf50;
        }

        .messages .ms-search .zmdi-search {
            position: absolute;
            left: 0;
            top: 8px;
            font-size: 20px;
            left: 8px;
        }

        .messages .ms-search input {
            padding-left: 30px !important;
            border: none;
        }

    .messages .m-sidebar .list-group {
        height: calc(82% - 50px);
        padding-right: 5px;
    }

    .messages .list-group .media {
        margin-top: 0;
    }

    .messages .list-group .list-group-item {
        border: 0;
        margin: 0;
        padding: 15px 10px;
        color: black;
    }

        .messages .list-group .list-group-item:hover, .messages .list-group .list-group-item:focus {
            background-color: #00aa41;
        }

    .messages .list-group .media > .pull-left {
        padding-right: 0;
    }

    .messages .mCustomScrollBox {
        box-shadow: none;
        background: white;
    }

    /*Design for messages body*/
    .messages .m-body {
        background-color: white;
        border-left: 1px dashed #808080;
        border-right: 1px dashed #808080;
    }

        .messages .m-body .mb-header {
            border-bottom: 1px dashed black;
            padding: 9px 0;
        }

    .messages .img-user {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: left;
        margin-right: 15px;
    }

    .messages .mb-header .p-t-5 {
        display: inline-block;
    }

    .messages .m-body .mb-list {
        height: calc(100% - 50px);
    }

    .messages .mb-list .mblm-item {
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .messages .m-body .mb-list .mbl-messages {
        height: 90%;
        padding-right: 5px;
    }

    .messages .m-body .mblm-item-left > div {
        background-color: #eee;
        border-radius: 5px;
    }

    .messages .mblm-item > div {
        display: inline-block;
        max-width: 70%;
        padding: 12px 15px;
        border-radius: 2px;
    }

    .messages .m-body .mblm-item small {
        display: block;
        color: #777;
        padding: 5px 20px;
    }

    .messages .m-body .mblm-item-right {
        text-align: right;
    }

        .messages .m-body .mblm-item-right > div {
            background-color: #00aa41;
            color: #000;
            border-radius: 5px;
            text-align: left;
        }

    .messages .m-body .mblmi-img {
        margin: -10px -15px;
        cursor: pointer;
    }

    .messages .m-body .attachments .mblmi-img {
        margin: 1px;
    }

    .messages .m-body .mblmi-img img {
        max-width: 250px;
        border-radius: 2px;
    }

    .messages .m-body .mblm-item .img-user {
        margin-top: 10px;
    }

    .messages .m-body .mblm-item-right .img-user {
        margin-right: 0;
        margin-left: 15px;
    }

    .messages .m-body .mbl-compose {
        height: 10%;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px 65px 15px 15px;
    }

        .messages .m-body .mbl-compose textarea {
            height: 40px;
            width: 100%;
            border-radius: 2px;
            border: 0;
            resize: none;
            background: #eee;
            padding: 5px 10px;
            color: #5E5E5E;
            -webkit-transition: background-color;
            -o-transition: background-color;
            transition: background-color;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
        }

        .messages .m-body .mbl-compose button {
            position: absolute;
            top: 22px;
            right: 15px;
            background: 0 0;
            border: 0;
            font-size: 25px;
        }

            .messages .m-body .mbl-compose button:hover {
                color: #333;
            }

    /*Design for right sidebar (info and bill)*/
    .messages .items-container {
        padding-top: 10px;
        border-right: 1px dashed black;
    }

    .messages .m-sidebar .info-customer {
        margin-top: 10px;
    }

    .messages .info-customer .info-item {
        position: relative;
        margin-top: 15px;
        width: 100%;
    }

    .messages .edit-info > .zmdi {
        margin-right: 10px;
    }

    .messages .edit-info-cancel > .zmdi {
        margin-left: 10px;
    }



    .messages .info-customer .info-item input {
        padding-left: 30px;
        padding-right: 45px;
        width: 100%;
        height: 32px;
        outline: 3px solid #00aa41 !important;
    }

    .messages .info-customer .info-item textarea {
        padding-left: 25px;
        width: 100%;
        height: auto;
        resize: none;
    }

    .messages .info-customer .info-item > .zmdi {
        font-size: 18px;
        position: absolute;
        left: 8px;
        top: 7px;
    }

    .messages .info-customer .info-item .button-map {
        left: 93%;
        cursor: pointer;
        font-size: 22px;
        top: 5px;
    }

    .messages .note header {
        margin-bottom: 10px;
    }

        .messages .note header h5 {
            display: inline-block;
            margin: 0;
            text-decoration: underline;
            opacity: 0.5;
        }

    .messages .note textarea {
        width: 100%;
        height: 95px;
        border: none;
        resize: none;
    }

    .messages .m-sidebar .invoice-container {
        width: 100%;
        overflow-y: scroll;
        max-height: 38%;
    }

        .messages .m-sidebar .invoice-container table td {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
            max-width: 150px;
        }

    .messages .m-sidebar #invoice-content .order-container {
        height: 37%;
        width: calc(100% + 20px);
        overflow: visible;
        padding-left: 0;
        margin-left: -10px;
        padding-right: 0;
    }

    .messages #invoice-content .table-striped > tbody > tr {
        background-color: #f4f4f4;
    }

        .messages #invoice-content .table-striped > tbody > tr[data-role="extra"] {
            background-color: #dddddd;
        }

            .messages #invoice-content .table-striped > tbody > tr[data-role="extra"] > td {
                font-size: 12px;
            }

    .messages .items-container .service-item .ace-spinner .input-group {
        position: relative;
        padding: 0 60px 0 30px;
        display: block;
    }

    .messages .m-sidebar #invoice-content .btn-order {
        margin-top: 10px;
        padding: 5px;
    }



    .messages .items-container input.form-control:not(.fc-alt) {
        padding-left: 10px;
        min-width: 20px;
    }

@media(max-width: 1420px) {
    .messages .items-container input.form-control:not(.fc-alt) {
        padding-left: 0;
    }
}

/*Design for map*/
.messages .m-sidebar #invoice-content .info-customer {
    position: relative;
}
/*Design for modal product infomation*/
.modalInfoProduct .modal-dialog .modal-content {
    border-radius: 10px;
}

.modalInfoProduct .modal-dialog .modal-header {
    padding: 10px 20px;
}

    .modalInfoProduct .modal-dialog .modal-header button {
        border: 0;
    }

        .modalInfoProduct .modal-dialog .modal-header button:hover {
            border: 0;
        }

.modalInfoProduct .modal-body img {
    max-width: 150px;
}

.modalInfoProduct .modal-body .product-name {
    font-size: 30px;
    color: #00aa41;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 15px;
    display: inline-block;
}

.modalInfoProduct .modal-body small {
    font-size: 20px;
}

.modalInfoProduct .modal-body .form-group {
    height: 40px;
}


.modalInfoProduct .modal-body .col-md-8 label {
    font-weight: 700;
}

.modalInfoProduct .modal-body .form-group .order-quantity {
    font-size: 28px;
    user-select: none;
}

.modalInfoProduct .order-quantity .button:hover {
    color: #00aa41;
    cursor: pointer;
}

.modalInfoProduct .order-quantity #quantity {
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
    text-align: center;
    display: inline-block;
}

.modalInfoProduct .order-quantity #edit-quantity {
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
    text-align: center;
    display: inline-block;
}

.modalInfoProduct .extra-container .tab-nav {
    font-size: 9px;
    box-shadow: none;
}

.modalInfoProduct .modal-footer > label {
    color: #00aa41;
    font-weight: 700;
    font-size: 14px;
}

    .modalInfoProduct .modal-footer > label > i {
        margin-right: 5px;
    }

.modalInfoProduct .modal-footer > button {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

    .modalInfoProduct .modal-footer > button > i {
        margin-right: 5px;
    }

.modalInfoProduct .extra-container .extra-content {
    list-style: none;
    user-select: none;
}

.modalInfoProduct .extra-container .extra-item {
    font-size: 14px;
    padding: 0;
    width: calc(50% - 2px);
    display: inline-block;
}

    .modalInfoProduct .extra-container .extra-item .extra-quantity {
        margin: 5px;
    }

    .modalInfoProduct .extra-container .extra-item > .button {
        font-size: 25px;
    }

        .modalInfoProduct .extra-container .extra-item > .button:hover {
            cursor: pointer;
            color: #00aa41;
        }

    .modalInfoProduct .extra-container .extra-item .extra-name {
        margin-left: 10px;
        width: 110px;
        display: inline-block;
    }


@media (max-height: 620px) {
    /*.messages .m-sidebar .invoice-container {
        max-height: calc(21% - 20px) !important;
    }*/
    .messages {
        position: relative;
        left: -10px;
        height: 650px;
        margin: 0;
    }

        .messages .m-sidebar #invoice-content .order-container {
            height: calc(37% - 30px);
        }
}

@media (max-height: 720px) {
    .messages .m-sidebar .invoice-container {
        max-height: calc(30% - 20px) !important;
    }

    .messages .m-sidebar #invoice-content .order-container {
        height: calc(32% - 20px);
    }
}

@media (max-height: 790px) {
    .messages .m-sidebar .invoice-container {
        max-height: calc(37% - 40px);
    }
}

@media (min-height: 830px) {
    .messages .m-sidebar #invoice-content .order-container {
        height: calc(32% - 20px);
    }
}

@media (max-width: 1200px) {
    .messages {
        position: relative;
        left: -10px;
        width: 1145px;
        height: 650px;
        margin: 0;
    }
}

@media(min-width: 1920px) {
    .messages .m-sidebar #invoice-content .order-container {
        height: calc(57% - 40px);
    }

    .messages .m-sidebar .invoice-container {
        max-height: calc(62% - 30px);
    }
}

@media(min-width: 2290px) {
    .messages .m-sidebar #invoice-content .order-container {
        height: calc(65% - 40px);
    }

    .messages .m-sidebar .invoice-container {
        max-height: calc(61% - 30px);
    }
}
