﻿/*.dataTables_wrapper .dataTables_filter {
    padding: 0 18px;
    }*/
/*BaoTD*/
.toggle-switch {
    padding-left: 0px;
    padding-right: 0px;
}

/* =============================================== */
    
    .btn.btn-default{
        border:none;
        /*border-right: solid 1px #e0e0e0;*/
        background-color: #f9f9f9;
    }

    .btn.btn-default:hover:not(.dropdown-toggle){
        border-right: solid 1px #e0e0e0;
        background-color: #f9f9f9;

    }


    .dataTables_wrapper .dataTables_filter input {
        border: 1px solid #e0e0e0;
        padding: 10px;
        height: 35px;
    }

    .dataTables_wrapper .dataTables_length {
        padding: 0px;
        margin-bottom: 19px;
    }

    .dataTables_wrapper .dataTables_length select {
        border: 1px solid #e0e0e0;
        padding: 0 5px;
        height: 35px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        padding: 1em 0.6em;
        background-color: #e2e2e2;
        margin: 5px;
    }

    /*.dataTables_wrapper .dataTables_paginate .paginate_button previous {
        }*/

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: #d7d7d7 !important;
            color: #000 !important;
            border: none;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            background: #A77B4E !important;
            color: #fff !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            background: #A77B4E !important;
            color: #fff !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
            background: #EEEEEE;
            cursor: not-allowed !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
            background: #EEEEEE !important;
        }

        .dataTables_info {
            padding: 20px;
        }

        .dataTables_paginate.paging_simple_numbers {
            padding: 10px;
            padding-right: 0px;
        }

/*
    *Phuong - Employee templete
    */
    .box-card {
        padding: 20px 20px 0px 20px;
        border: 1px #e2e2e2 solid;
        margin-bottom: 10px;
    }

    .submenu-style i {
        padding: 0px 8px;
    }

    .fix-top {
        display: block;
        position: fixed;
        top: 90px;
        right: 30px;
        z-index: 1000;
    }

/*
Author: Yan Hoàng
General
*/
.card-header h1 {
    margin-top: 10px;
}

.card-header hr {
    border-color: lightgray;
    margin-bottom: 0px;
}

.dataTables_wrapper .dataTables_filter {
    /*padding-right: 25px;*/
    margin-bottom: 19px; /*warning*/
}

table.dataTable.no-footer {
    border-bottom-color: lightgray;
}

/*table > thead > tr {
    border-bottom: 1px solid black;
    }*/

    .btn {
        display: inline-block;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25) !important;
        background-image: none !important;
        box-shadow: none !important;
        cursor: pointer;
        vertical-align: middle;
        margin: 0;
        position: relative;
        border: 2px solid;
        padding: 5px 8px;
        margin-bottom: 3px !important;
    }

    .btn-primary {
        background-color: #244363;
        border-color: #244363;
    }

    .btn-primary:hover:hover {
        background-color: #112b44;
        border-color: #244363;
    }

    .btn-danger {
        border-color: #F44336;
    }

    .btn-danger:hover:hover {
        background: #d6281b;
        border-color: #F44336;
    }

    .btn-warning {
        background-color: #bf7033;
        border-color: #bf7033;
    }

    .btn-warning:hover:hover {
        border-color: #FF9800;
        background-color: #bf7033;
    }

    .btn-success {
        border-color: #4CAF50;
    }

    .btn-success:hover:hover {
        background: #38933b;
        border-color: #4CAF50;
    }

    .btn-info {
        border-color: #4f99c6;
        background: #4f99c6;
    }

    .btn-info:hover:hover {
        border-color: #4f99c6;
        background: #317ba5;
    }

/*
Author: Yan Hoàng
Page: CostManage/IndexCostManage
*/


.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #BDBDBD !important;
}
/*
    MODIFY HEADER
    Author: DucBM
    */
    #modalDieuHuong-content {
        background: #3a3738;
    }

    #modalDieuHuong i.fa,
    .btn-dieu-huong i.fa {
        margin-right: 10px;
    }

    #modalDieuHuong a.btn-view-all-stores {
        display: block;
        width: 100%;
        font-size: 16x;
        color: #6fb3e0;
        padding: 7px;
        background: white;
        border: 5px solid white;
        text-shadow: none !important;
        font-weight: 600;
    }

    #modalDieuHuong a.btn-view-all-stores:hover,
    #modalDieuHuong a.btn-view-all-stores:active {
        background: #ededed;
    }

    #modalDieuHuong .choose {
        color: #d1cdd2;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 10px;
    }

    #modalDieuHuong .modal-header {
        padding-top: 15px;
        padding-bottom: 12px;
    }

    #modalDieuHuong .btn-close {
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
        margin-bottom: 10px;
    }

    #modalDieuHuong .inner-box {
        width: 100%;
        padding: 10px;
        text-align: center;
        background: #6fb3e0;
        color: white;
        font-style: italic;
        cursor: pointer;
        /*box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);*/
    }

    #modalDieuHuong .inner-box:hover {
        background: #74bbe8;
    }

    #modalDieuHuong .inner-box strong {
        font-size: 16px;
        font-weight: bold;
        color: #252525;
        font-style: normal;
    }


    @media screen and (min-width: 768px) {
        #modalDieuHuong .inner-box {
            width: auto;
        }

        #modalDieuHuong .modal-body .row {
            margin-left: -5px;
            margin-right: -5px;
        }

        #modalDieuHuong .modal-body .row > div {
            padding: 5px;
        }

        #modalDieuHuong .modal-dialog {
            width: 700px;
        }
    }
/*MyNVT
  Report
  */
  .myDatetimePicker .FindButtonDateTime {
    /*padding-top: 4px; -- BaoTD what for??*/
  }

.FindDateTime {
    padding: 3.3px 9px;
}

.btn-Export {
    padding-top: 20px;
}

.table > thead:first-child > tr:first-child > th {
    background: #A77B4E !important;
    color: white;
}

.myButtonExtraReport {
    text-align: right;
    padding-top: 13px;
}


#dateRange {
    font-weight: 600;
}

.myGroupChooseWeek {
    padding-top: 5px;
}

.formIndexHourReport {
    width: 250px !important;
}

.myGroupChoose {
    float: right;
    padding-top: 13px;
    margin-left: 17px;
}

.bg-warning {
    text-align: center;
    color: white;
    font-weight: 900;
    background: brown;
}
/*mynvt
 AccountBrandManager
 */

 .tab-content {
    padding: 0;
}

.badge {
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.btn-addAccount {
    padding-top: 11px;
}
/*checkbox*/
.checkbox label,
.radio label {
    padding-left: 30px;
    position: relative;
}

.checkbox input,
.radio input {
    top: 0;
    left: 0;
    margin-left: 0 !important;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 0;
}

.checkbox .input-helper:before,
.radio .input-helper:before,
.checkbox .input-helper:after,
.radio .input-helper:after {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    content: "";
}

.checkbox .input-helper:before,
.radio .input-helper:before {
    left: 0;
    border: 1px solid #ccc;
}

.checkbox.disabled,
.radio.disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.checkbox input {
    width: 17px;
    height: 17px;
}

.checkbox input:checked + .input-helper:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.checkbox input:checked + .input-helper:after {
    -webkit-transform: scale(1) rotate(-50deg);
    -ms-transform: scale(1) rotate(-50deg);
    -o-transform: scale(1) rotate(-50deg);
    transform: scale(1) rotate(-50deg);
    opacity: 1;
    filter: alpha(opacity=100);
}

.checkbox .input-helper:before {
    top: 0;
    width: 17px;
    height: 17px;
}

.checkbox .input-helper:after {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0) rotate(80deg);
    -ms-transform: scale(0) rotate(80deg);
    -o-transform: scale(0) rotate(80deg);
    transform: scale(0) rotate(80deg);
    width: 22px;
    height: 9px;
    border-bottom: 2px solid #009688;
    border-left: 2px solid #009688;
    border-bottom-left-radius: 2px;
    left: -1px;
    top: 1px;
}

.radio input {
    width: 19px;
    height: 19px;
}

.radio input:checked + .input-helper:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.radio .input-helper:before {
    top: -1px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
}

.radio .input-helper:after {
    width: 11px;
    height: 11px;
    background: #009688;
    border-radius: 50%;
    top: 3px;
    left: 4px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.checkbox-inline,
.radio-inline {
    vertical-align: top;
    margin-top: 0;
    padding-left: 25px;
}

.radio, .checkbox {
    display: inline-block;
}
/*IndexCostManage*/
.myStatus {
    display: block !important;
    margin: 0 auto;
    width: 110px;
    border-radius: 2px;
    text-align: center;
    padding: 7px;
    color: white;
}

.myInventoryReceiptItem {
    margin-left: 10px;
    border-radius: 2px;
    text-align: center;
    padding: 5px 25px;
    color: white;
}

.myInventoryReceiptItem.not-approved, .myInventoryReceiptItem.not-confirmed, .myStatus.not-approved, .myStatus.not-confirmed {
    background: #F19E02;
}

.myInventoryReceiptItem.approved, .myStatus.approved {
    background: #4CAF50;
}

.myInventoryReceiptItem.no, .myStatus.no, .myInventoryReceiptItem.canceled, .myInventoryReceiptItem.rejected, .myStatus.canceled, .myStatus.rejected {
    background: #D15B47;
}

.myInventoryReceiptItem.no, .myStatus.yes, .myInventoryReceiptItem.closed, .myStatus.closed {
    background: #4f99c6;
}

.myInventoryReceiptItem.requestCancel, .myStatus.requestCancel {
    background: #F57336;
}

.myInventoryReceiptItem.WaitRequestCancel {
    background: yellow;
}

#F57336 .nearby-stores {
    list-style: none;
    margin: 0;
}

.nearby-stores > li {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

.nearby-stores > li.active label {
    font-weight: 700;
    font-size: 120%;
}

/*
    Date: Thurs 23/06/16
    Author: Yan Hoàng
    General
    */
    .card-header h3 {
        margin-top: 7px;
        color: #A77B4E;
    }

    .card-padding {
        padding-left: 25px;
        padding-right: 25px;
    }

    .card-padding.custom {
        padding-bottom: 40px;
    }

    .mCustomScrollBox {
        background: rgba(255,255,255,0.7);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    }

    .main-menu {
        margin: 0px;
    }

    .main-menu > li > a {
        border-bottom: 1px solid #c9c9c9;
        background: #f2f2f2;
        color: black;
    }

    .main-menu > li > a:hover {
        background: #dbdbdb;
    }

.profile-menu > a {
    margin-bottom: 0px;
    background: url(/Content/images/login-logo.png) no-repeat;
    background-size: contain;
    background-color: white;
}

    #header {
        z-index: 1000;
    }
/*
    Date: Thurs 23/06/16
    Author: Yan Hoàng
    For Table
    */
    .card .dataTables_info {
        padding: 0px;
        padding-top: 2em;
    }

    .table > tbody > tr:last-child > td, .table > tfoot > tr:last-child > td {
        padding-bottom: 10px;
    }

    .group-radio-buttons {
        /*z-index: 99;
        width: 500px;
        position: absolute;
        top: 26px;
        right: 135px;*/
        color: #333;
    }

    .group-radio-buttons.custom {
        width: 620px;
        right: 180px;
        /*top: 15px;*/
    }

    .group-radio-buttons input {
        display: none;
    }

    .group-radio-buttons label {
        padding-left: 40px;
        position: relative;
        cursor: pointer;
    }

    .group-radio-buttons label:before, .group-radio-buttons label:after {
        content: '';
        display: block;
        position: absolute;
        cursor: pointer;
    }

    .group-radio-buttons label:before {
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border: 2px #244363 solid;
        border-radius: 50%;
    }

    .group-radio-buttons label:after {
        content: '\f00c';
        font: normal normal normal 18px/1 FontAwesome;
        color: white;
        left: 6px;
        top: 7px;
        display: none;
    }

    .group-radio-buttons label > span {
        position: relative;
        top: 5px;
        margin-left: -3px;
    }

    .group-radio-buttons input:checked ~ label:before {
        background: #244363;
    }

    .group-radio-buttons input:checked ~ label:after {
        display: block;
    }

    .table-bordered > tbody > tr > td {
        border: 0.1px dotted #ddd !important;
    }

    .table > tbody > tr > td:last-child {
        padding-right: 9px;
    }

    .table > thead:first-child > tr:first-child > th {
        text-align: center;
    }

    .modal-body {
        padding: 0;
    }

    .report-date-button {
        position: absolute;
        right: 25px;
        margin-top: 2%;
    }

    table thead th {
        text-align: center;
    }

    .table-bordered tbody > tr > td {
        border: 0.1px solid #e0e0e0 !important;
        /*word-break: break-word;*/
    }

    .table-bordered thead > tr > th {
        border: 0.1px solid #72ba3b !important;
    }

    .table thead > tr th:last-child, .table tbody tr td:last-child {
        padding-right: 10px;
    }

    .table thead tr th:first-child, .table tbody tr td:first-child {
        padding-left: 10px;
    }

    .table tbody tr td:last-child {
        text-align: center;
    }

    .modal-body {
        padding: 0;
    }

    #container {
        margin-bottom: 40px;
    }

    .form-absolute.custom {
        position: absolute;
        top: 106px;
        left: 25px;
        z-index: 999;
    }
/*

*/
.control-label-frame {
    text-align: right;
}

.form-horizontal .control-label {
    padding-top: 10px;
}

.control-label i {
    margin-right: 10px;
}

.tab-content {
    padding-top: 15px;
}

.tab-styling {
    position: relative;
}

.tab-styling:after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #A77B4E;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    background: #ecf0f1;
    border-bottom: none;
}

.nav-tabs > li:hover .tab-styling:after {
    display: block;
}

.nav-tabs > li > a {
    color: #A77B4E;
    font-weight: 600;
}

.nav-tabs > li > a:hover {
    border-bottom: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 1px solid #ddd;
    border-bottom-color: white;
    color: black;
}

.nav-tabs > li.active > a.tab-styling:after {
    display: block;
}


.paginate_button.previous, .paginate_button.next {
    padding-top: 16px !important;
}

.glyphicon-remove {
    color: #F44336;
}

.glyphicon-ok {
    color: #4CAF50;
}

/*.btn-group > .btn:first-child, .btn-group .btn-default {
    border: none;
    background: none;
    }*/

    .actionBar .btn-group {
        border: 1px solid;
        /*margin-top: -2px;*/
    }

    .btn-group .glyphicon-refresh {
        padding-top: 7px;
    }

    .bootgrid-table th > .column-header-anchor > .text {
        color: white;
    }

    .table > thead > tr > th {
        border: 0.1px solid #ccc !important;
        font-weight: bold !important;
    }

    .margin-bottom30 {
        margin-bottom: 30px;
    }

    .myComeback {
        padding: 5px 11px 23px 11px;
    }

    .myCerlender {
        position: absolute;
        z-index: 2;
        line-height: 2.85;
        width: -6px;
        left: 7px;
    }

    .myFormDate {
        padding: 5px 54px !important;
    }

    .m-t-5 {
        margin-top: 4.45px !important;
    }

    .myCheckbox {
        margin-left: 30px !important;
        margin-top: 10px !important;
    }

    .control-label .label-default {
        line-height: 2;
    }

    .smallDate {
        font-weight: 600;
    }

    .myChoosebox {
        top: 28px;
        right: 190px;
    }

    .nav-tabs > li.active > a {
        color: black;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    .myCerlenderSpan {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 4px;
    }

    .myCerlenderSpanLeft {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 4px;
    }

    .CerlenderDetail {
        position: absolute;
        top: 11px;
        left: 157px;
    }

    .CerlenderPadding {
        padding: 7px 20px;
    }

    .myInputCelender {
        padding-left: 30px !important;
    }

    .myGroupChooseWeekFromTo {
        padding-top: 8px;
        text-align: right;
    }

    .myClassify {
        left: 200px !important;
    }

    .btn-default {
        /*border-color: white;*/
    }

    .btn-default:hover:hover {
        /*background-color: #ededed;
        border-color: white;*/
    }

    .actions {
        float: left;
    }

    .bootgrid-header .actionBar {
        text-align: right;
    }

    .bootgrid-header, .bootgrid-header .container-fluid {
        padding: 0;
    }

    .bootgrid-header .search {
        margin: 0;
    }

    .bootgrid-footer .col-sm-6 {
        float: right;
        padding: 10px 0px 20px;
        text-align: right;
    }

    .bootgrid-footer .infoBar .infos {
        float: left;
    }

    /*BaoTD: Sửa code nhớ comment, class cho margin mà add padding chi vậy?*/
    /*.m-r-10 {
        padding-left: 130px;
    }*/

    .table > tbody > tr > td {
        border: 0.1px solid #e0e0e0 !important;
    }

    .table > thead:first-child > tr:first-child > th > label, .table > tbody > tr > td {
        font-size: 14px;
    }

    .highcharts-tooltip span {
        width: 200px;
    }

    .table > thead > tr > td {
        border: 1px solid #e0e0e0 !important;
    }

    .myOption {
        text-align: right;
        padding-top: 20px;
    }

    #providerListTableModal td:first-child, #providerListTableModal td:last-child {
        padding: 10px 0px;
        text-align: center;
    }

    #providerListTable > thead > tr > td:first-child, #providerListTable > thead > tr > td:last-child {
        text-align: center;
    }

    .getimagefromelfinder {
        margin-top: 5px;
    }

    .btn-inverse {
        border-color: #454545;
    }

    #tableChooseItem .span2 {
        font-size: 14px;
        text-align: center;
    }

    #tableChooseItem thead td:first-child {
        padding-left: 0px !important;
    }

    #tableChooseItem thead td:last-child {
        padding-right: 0px !important;
    }

    #divLoadItem #searchProduct {
        padding: 6.25px 0px;
    }

    .myGroup-radio-buttons {
        right: 260px;
        top: 10px;
        position: static!important;
    }


    .table > thead > tr > th {
        text-transform: none;
    }

    .m-t-10 {
        margin-top: 10px;
    }

    .m-t-8 {
        margin-top: 8px;
    }

    .myGroup-radio-buttons-Five {
        top: -1px;
    }

    .myCelenderA {
        position: absolute;
        z-index: 3;
        top: 11px;
        right: 15px;
    }

    .CelenderA {
        position: absolute;
        z-index: 99;
        top: 12px;
        right: 65px;
    }

    .p-7 {
        padding: 7px;
        text-align: center;
    }

    .mySmall-margin > [class*="col-"] {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }

    .Right30 {
        right: 30px;
    }

    .p-t-3 {
        padding-top: 3px;
    }

    .p-t-9 {
        padding-top: 9px;
    }


    .Inventory {
        font-size: 150%;
    }

    .realistics {
        border: none;
        border-radius: 4px;
        margin-bottom: 3px;
        text-align: center;
        padding: 0px;
        width: 65px;
        margin: 0 auto;
    }

    .SmallChildHeader {
        font-size: 70% !important;
    }

    .myTable > thead > tr > th {
        padding: 1px;
    }

    tbody .SmallChildHeader {
        font-size: 100% !important;
    }

    .p-7-30 {
        padding: 7px 30px;
    }


    /**/
    .form-horizontal .control-label .left-icon {
        margin-right: 10px;
    }


    /*========== Loader ==========*/
    .loading-gif {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        height: 100%;
        /*background: rgba(0, 0, 0, 0.1);*/
        background: none;
        text-align: center;
        display: none;
    }

    .loading-gif img {
        width: 190px;
        height: auto;
        position: absolute;
        bottom: 15px;
        left: 35px;
    }
/*
    Date: 05/07/2016
    Author: GiangHNM
    */
    .widget-body .btn {
        margin-bottom: 15px !important;
    }

    .btnInInventory {
        width: 50px;
        height: 35px;
        margin-top: 4px;
    }

    .pocell {
        text-align: center;
    }

    #searchFunction .form-control:not(.fc-alt) {
        padding: 0;
    }

    #searchFunction .select2-container-multi .select2-choices {
        border: none;
    }

    .left-90 {
        left: 90px;
    }

    .btn-link:hover {
        border: 4px solid;
    }
/*
    Date: 07/07/2016
    Author: GiangHNM
    Infobox
    */
    .infobox.infobox-block {
        width: 100%;
        padding: 5px;
        height: 70px;
        position: relative;
        margin: 0;
        border: none;
    }

    .infobox.infobox-block .infobox-data {
        width: 100%;
        padding-top: 5px;
        padding-left: 70px;
        line-height: 18px;
    }

    .infobox.infobox-block .infobox-content:first-child {
        text-transform: uppercase;
    }

    .infobox.infobox-block > .infobox-icon,
    .infobox.infobox-block > .infobox-progress {
        width: auto;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .infobox.infobox-block > .infobox-icon > .ace-icon {
        width: 58px;
        height: 58px;
        padding: 4px 0px 4px 1px;
        box-shadow: none;
    }

    .infobox.infobox-block > .infobox-icon > .ace-icon:before {
        background-color: transparent;
        color: #fff;
        width: auto;
        padding: 14px 0 15px;
    }

    .ace-icon {
        text-align: center;
    }

/*
    Author: GiangHNM
    */
    .modal .modal-footer {
        border-top: 1px solid #e5e5e5;
        padding: 20px;
    }

    .modal .modal-header {
        padding: 20px;
        border-bottom: 1px solid #e5e5e5;
    }

    .modal .modal-body {
        padding: 20px;
    }
/*
    Date: 08/07/2016
    Author: GiangHNM
    */
    .btn-xl {
        padding: 10px;
        line-height: 1;
        font-size: 18px;
        border-width: 5px;
        border-radius: 0;
        margin-bottom: 25px !important;
        text-transform: none;
        color: white;
    }

    .btn-xl .btn-icon {
        display: block;
        height: 35px;
        margin-bottom: 15px;
        box-shadow: none;
        width: 100%;
    }

    .btn-xl .btn-icon img {
        height: 100%;
    }

    .btn-dark-purple {
        background-color: #892e65 !important;
        border-color: #892e65;
    }

    .btn-dark-purple:hover,
    .btn-dark-purple:active,
    .btn-dark-purple:focus {
        background-color: #582042 !important;
        border-color: #892e65;
        color: white;
    }

    @media only screen and (min-width: 1224px) {
        .btn-xl {
            padding: 16px;
            border-width: 10px;
        }

        .btn-xl .btn-icon {
            height: 50px;
        }
    }

    .top-menu {
        padding-right: 18px;
    }

    .label {
        font-size: 80%;
    }

/*
    Date: 08/07/2016
    Author: GiangHNM
    Menu side bar
    */
    .mCustomScrollBox {
        background: #3a3738;
    }

    .main-menu > li > a {
        background: #3a3738;
        color: white;
        border: none;
    }

    .sub-menu ul {
        background: #262324;
    }

    .sub-menu ul > li > a {
        color:#f3f1f1;
    }

    .sub-menu ul > li > a:hover {
        color: white;
    }

    .sub-menu ul > li > ul > li > a {
        color: rgba(0,0,0,0.8);
    }

    .sub-menu.toggled ul > li a{
        color: white;
    } 


    .sub-menu > a:after, .sub-menu > a:before {
        color: white;
    }

    .sub-menu > a:hover::after, .sub-menu > a:hover::before{
        color:black;
    } 

    .main-menu .sub-menu ul li > a:hover, .main-menu .sub-menu ul li > a:hover{
        color:black;
        background-color: #F0F0F0;
    } 

    .submenu-style  ul  a:hover, .submenu-style  ul  a:hover{
        color: black!important;
        background-color: #F0F0F0;
    }

    .sub-menu ul > li ul{
        background-color: rgba(102, 100, 100, 0.7);
        font-weight: 500;
        margin-top: 0px; /* BaoTD: no margin please */
    } 
    
    

    .width230 {
        width: 230px !important;
    }

    .InventoryStatusBtn {
        width: 71px;
        margin-left: 5px;
    }

    #mCSB_1_container .active a:hover {
        color: black !important;
    }

    #toggle-export, #toggle-import {
        cursor: pointer;
    }

    .table-condensed > thead > tr > th {
        padding: 5px;
    }

    .myGroup-radio-buttons .col-md-3:last-child {
        margin-top: 0px;
    }

    .myImg-responsive {
        max-width: 130px;
    }

    .myForm {
        padding: 6px 0px !important;
    }

    .btn-assign {
        margin-right: 3px;
    }

    #assign-role-modal .modal-dialog .modal-content .modal-body .row .col-md-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-horizontal .myForm-group {
        margin-left: 150px;
        margin-right: 150px;
    }

/*#s2id_productApplyList {
    border: none;
    }*/

    #select2-drop {
        /*left: 618.484px !important;*/
        /*width: 191px !important;*/
    }

    .alertEmpty {
        font-weight: bold;
        color: red;
        margin-left: 15px;
    }

/*#s2id_giftApplyList {
    border: none;
    }*/

/*#editDetailModal #select2-drop {
    left: 618.484px !important;
    width: 191px !important;
    }*/
    .myUploadImg {
        margin-right: 80px;
    }

/*.btn-group > .btn, .btn-group .btn-default:before {
    background-color: rgba(255,255,255,0.1);
    }*/

    .btn-group .btn-default .caret {
        display: none;
    }

    .bootstrap-datetimepicker-widget button {
        background: #112b44 !important;
        color: white !important;
    }

    .bootstrap-datetimepicker-widget button:hover {
        color: white !important;
    }

    #btn-save-item {
        padding: 6px 7px;
    }

    .no-p-l {
        padding-left: 0px !important;
    }

    .no-p-r {
        padding-right: 0px !important;
    }

    #groupCategoryReportDatatable tbody > tr:first-child > td {
        border: none !important;
    }

    #main-table tbody > tr:first-child > td {
        border-top: none !important;
        border-bottom: none !important;
    }

    .saleRatio {
        color: #FF2500;
        border: none;
        background: rgba(255,255,255,.15) !important;
        font-size: 130%;
    }

    #orderDetailPanel .modal-dialog .modal-content .modal-body .clearfix .myOrderDetail {
        width: 36%;
    }

    .assignStore {
        margin-top: 7px;
        margin-bottom: 5px;
    }

    .p-l-45 {
        padding-left: 45px;
    }

    .p-r-45 {
        padding-right: 45px;
    }

    .p-15-30 {
        padding: 15px 30px;
    }

    #form-create-session .myTime {
        width: 28%;
    }

    .myTimeLabel {
        padding-top: 8px;
    }

    .myCategory {
        display: block;
        padding: 6px;
        width: 120px;
    }

    .p-b-25 {
        padding-bottom: 25px;
    }

    .myButton a:first-child {
        margin-left: 3px;
    }

    #profile-main .pm-overview {
        width: 100%;
    }

    #profile-main {
        height: 100%;
    }

    #mCSB_3.mCustomScrollBox.mCS-minimal-dark.mCSB_vertical_horizontal.mCSB_outside {
        background: white;
    }

    .bootstrap-datetimepicker-widget .glyphicon-time {
        background: red !important;
    }


    .btn-group:not(.bootstrap-select), .btn-group-vertical:not(.bootstrap-select) {
        box-shadow: none;
    }

    .disableSuccessBtn:hover:hover {
        background: #4CAF50;
        cursor: default;
    }

    .disableWarningBtn:hover:hover {
        border-color: #bf7033;
        cursor: default;
    }

    .hideLine {
        box-shadow: none;
    }

    .hideLine > li > a:after {
        background: none !important;
    }

    #profile-main .pmo-block {
        word-break: break-all;
        background: rgba(255,255,255,0.7);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    }

    #profile-main .clearfix .row.custom {
        padding: 20px 15px;
        background: rgba(255,255,255,0.7);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    }

    #profile-main .clearfix .row.custom .col-md-4 {
        padding-left: 0px;
        padding-right: 0px;
    }

    #profile-main .clearfix .row.custom .col-md-4 .clearfix {
        padding: 0px 15px 8px 15px;
    }

    #profile-main .clearfix .row.custom .col-md-4 .bgm-amber {
        background-color: #f0ad4e !important;
    }

    #profile-main .clearfix .row.custom .col-md-4 .bgm-cyan {
        background-color: #5bc0de !important;
    }

    #profile-main .clearfix .row.custom .col-md-4 .bgm-green {
        background-color: #d9534f !important;
    }

    #profile-main .clearfix .row.custom .col-md-4 .clearfix .count h3 {
        color: white;
    }

    .tab-nav.tn-justified > li {
        width: 245px;
    }

    .m-l-10 {
        margin-left: 10px;
    }

    .pmo-contact.custom{
        word-break: break-all;
        background: rgba(255,255,255,0.7);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        padding-top: 10px;
    }
    .detailPanelTitle{
        color:white; 
        font-size:14px;
        text-align:right; 
        padding-right:10px; 
        margin-top:10px;
    }
    .detailPanelIcon{
        text-align:left;
        float:left;
        padding-left:10px; 
        font-size:40px;
        padding-bottom:10px;
    }
    .detailPanelInfo{
        padding-top:10px;
        margin-bottom:10px; 
        float:right;
        text-align:right;
        padding-right:10px; 
        font-size:26px;
    }

    /*Long Pham*/
    .datetime > .fg-line{
        width: 100% !important; /*Nov 7th fix - BaoTD*/
        float: right;
        margin-top: 0px !important; /*Nov 7th fix - BaoTD ---- -1px => 0px*/
    }

    .fg-line > #reportrange > input, .fg-line > #reportrange3 > input, .fg-line > #reportrangee > input, .fg-line > #reportrange22 > input {
        height:37px;
        width: 100%;
        padding-left: 0;
    }

    .fg-line > .height-fix input{
        height:37px;
        width: 100% !important;
        padding-left: 0;
    }

    .myDatetimePicker{
        margin-bottom: 10px;
    }

    .myGroup-radio-buttons .col-md-3{
        margin-bottom: 10px;   
    }

    .myChoosebox .col-md-3{
        margin-bottom: 10px;
        width: 90px;
    }

    .fa-calendar{
        z-index: 0;
    }

    .col-md-4{
        margin-bottom: 10px;
    }

    .styled-select {
        background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 94% 0;
        height: 29px;
        overflow: hidden;
        /*width: 240px;*/
        padding: 0px;
    }

    .styled-select .select2-choice {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 29px;
        width: 100%;
        color: white;
        font-weight:300;
    }

    .styled-select select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 29px;
        width: 100%;
        color: white;
        font-weight:300;
        padding-left: 10px;
        -webkit-appearance: none;
    }

    .styled-select select option {
        color: black;
    }

    /* -------------------- Rounded Corners */

    .semi-square {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    /* -------------------- Colors: Background */

    .blue {
        background-color:#244363;
    }



    .myGroupChooseWeek > .blue{
        margin-top: -5px;

    }

    .select2-arrow{
        opacity: 0;
    }

    .daterangepicker{
        margin-top: 38px !important;
    }
}

.tab-pane{
    width: 96% !important;
}

#iso-container li{
    padding:11px;
}

.profile-menu > a .profile-info {
    font-size: 14px;
    font-weight: 600;

}

.tableDiv-responsive {
/*        overflow-x: scroll;
*/        width: 100%;
}

.bootstrap-select{
    background-color: white !important;
}

.bootstrap-select > .filter-option{
    background-color: white;
}

.actionBar > .actions > .open > ul{
    display:inline-table;
}

@media(max-width: 768px){
    .dataTables_wrapper{
        margin-top: 30px;
    }


    .service-item +.service-item-sm{
        margin-top: 30px !important;
    }

    #product-table-panel{
        width:50%;
    }
    #order .col-md-6{
        text-align: -webkit-center;  
    }
    .tableDiv-responsive {
        overflow-x: scroll;
        width: 100%;
    }
}

@media(max-width: 425px){
    #product-table-panel{
        width:90%;
    }
}

@media(max-width:320px){
    .input-group.pull-right{
        left:10px;
    }
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group, .input-group-btn > .btn{
    z-index: 2;
    margin-left: -1px;
    margin-top: -1px !important;
    height: 37px;
    padding-top: 7px;
}

.calendar-footer{
    width: 100%;
    float: initial !important;
    max-width: 100% !important;
    font-size: 13px;
    font-weight: 600;
}

.btn-group.bootstrap-select{
    padding-right: 2px;
    border: solid 1px rgba(185, 178, 178, 0.48);
    border-radius: 2px;
}

.btn-group.bootstrap-select > .btn.dropdown-toggle{
    padding: 5px;
    margin-bottom: 0px !important;
    border-right: none !important;
     border-bottom: none !important;
}

.SmallChildHeader{
    background-color: rgba(119, 175, 156, 0.52) !important;
    transition:visibility 12s linear 11.5s,opacity 11.5s linear;
} 

table{
    /*font-family: 'Roboto', sans-serif !important;*/
}  

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px !important;
  width: 30%;
  margin-right: 3% !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #dd4b39;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-success {
  border-top-color: #00a65a;
}
.box.box-default {
  border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}
.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}
.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .border-right {
  border-right: 1px solid #f4f4f4;
}
.box .border-left {
  border-left: 1px solid #f4f4f4;
}
.box.box-solid {
  border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}
.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-success {
  border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.box-header > .box-tools .dropdown-menu > li > a {
  color: #444!important;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
.chart-legend {
  margin: 10px 0;
}
@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}
.box-comments {
  background: #f7f7f7;
}
.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
  content: " ";
  display: table;
}
.box-comments .box-comment:after {
  clear: both;
}
.box-comments .box-comment:last-of-type {
  border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
  padding-top: 0;
}
.box-comments .box-comment img {
  float: left;
}
.box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}
.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}
.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}



