﻿@model IEnumerable<HmsService.ViewModels.StoreViewModel>


<ul id="TabList" class="tab-nav tn-justified row" style="overflow: hidden; width: 100%">
    <li class="active waves-effect col-md-4"><a data-toggle="tab" id="all" href="#all_tab"><i class="fa fa-globe"></i> Hệ thống</a></li>
    <li class="waves-effect col-md-4"><a data-toggle="tab" id="store" href="#store_tab"><i class="fa fa-home"></i> Cửa hàng</a></li>
    <li class="waves-effect col-md-4"><a data-toggle="tab" id="group" href="#group_tab"><i class="fa fa-users"></i> Nhóm cửa hàng</a></li>
</ul>
<div class="tab-content">
    @*all tab*@
    <div id="all_tab" class="tab-pane fade in active">
        @* code htbd *@
        @*<div class="row" style="margin-top: 19px;">*@
        <div class="col-md-12">
            <div class="styled-select blue semi-square" hidden style="width: 150px;">
                <select id="SystemReport">
                    <option value="0">Tất cả cửa hàng</option>
                </select>
            </div>

            <form id="form-create-session_all" class="form-inline">
                <div class="input-group pull-right">
                    <div class="dateTime width230">
                        <div class="fg-line m-t-5">
                            <div id="reportranger_all" class="height-fix">
                                <input id="date-string_all" size="26" readonly class="form-control text-center pull-right">
                                <a class="myCelenderA" id=""> <i class="fa fa-calendar"></i></a>
                            </div>
                        </div>
                    </div>
                    @*<div class="input-group-btn FindButtonDateTime">
                            <a class="btn btn-primary btn-sm FindDateTime" id="btnSearch_all" style="margin-top: -5px;">
                                <i class="left-icon fa fa-search"></i> Tìm
                            </a>
                        </div>*@
                </div>
                <input type="text" id="sTime_all" name="startTime" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                <input type="text" id="eTime_all" name="endTime" placeholder="Chọn giờ kết thúc" hidden="hidden" />
            </form>
        </div>
        @*</div>*@


        <div class="row">
            <div class="col-md-6">


                <button type="button" data-show="show" id="btnChart_all"
                        class="btn btn-primary btn-sm" style="width:150px" onclick="ShowChart_all()">
                    <i class="fa fa-plus">
                    </i> Hiển thị biểu đồ
                </button>
            </div>
            <div class="col-md-6">

                <div style="text-align: right">

                    <button type="submit" id="exportAllStore" class="width230 btn btn-primary btn-sm">
                        <i class="fa fa-download"></i>
                        Xuất ra file Excel
                    </button>
                </div>
            </div>
        </div>
        <div id="container_all" style="min-width: 310px; height: 300px;"></div>
        <div id="datatable_all" style="padding-top: 5px">
            @* table data will be setup at this place *@
        </div>

        <form class="hidden" id="formReportExcel_all" action="@Url.Action("ReportDayOfWeekExportExcelEPPlus","TimeReport")">
            <input name="startTime" />
            <input name="endTime" />
            <input name="storeIdReport" />
        </form>

    </div>

    @* store tab *@
    <div id="store_tab" class="tab-pane fade in">
        <div class="row m-t-20">
            <div class="col-md-12">
                <form id="form-create-session" class="form-inline">

                    <div class="input-group myGroupChooseWeek" style="display: -webkit-inline-box;">
                        <label class="right-icon">Cửa hàng: &nbsp;</label>

                        <div class="styled-select blue semi-square" style="width: 180px;">
                            <select id="storeIdReport">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.ID">@item.Name</option>

                                }
                            </select>
                        </div>


                    </div>
                    <div class="input-group pull-right">
                        <div class="dateTime width230">
                            <div class="fg-line m-t-5">
                                <div id="reportranger" class="height-fix">
                                    <input id="date-string" size="26" readonly class="form-control text-center pull-right">
                                    <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                                </div>
                            </div>
                        </div>
                        @*<div class="input-group-btn FindButtonDateTime">
                                <a class="btn btn-primary btn-sm FindDateTime" id="btnSearch" style="margin-top: -5px;">
                                    <i class="left-icon fa fa-search"></i> Tìm
                                </a>
                            </div>*@
                    </div>
                    <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                    <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" hidden="hidden" />
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="button" data-show="show" id="btnChart_store"
                        class="btn btn-primary btn-sm" style="width:150px" onclick="ShowChart_store()">
                    <i class="fa fa-plus">
                    </i> Hiển thị biểu đồ
                </button>
            </div>
            <div class="col-md-6">

                <div style="text-align: right">

                    <button type="submit" id="exportOneStore" class="width230 btn btn-primary btn-sm">
                        <i class="fa fa-download"></i>
                        Xuất ra file Excel
                    </button>
                </div>
            </div>

        </div>
        <div id="container_store" style="min-width: 310px; height: 300px;"></div>
        <div id="datatable" style="padding-top: 5px">

        </div>

        <form class="hidden" id="formReportExcel_store" action="@Url.Action("ReportDayOfWeekExportExcelEPPlus","TimeReport")">
            <input name="startTime" />
            <input name="endTime" />
            <input name="storeIdReport" />
        </form>
    </div>

    @* group tab *@
    <div id="group_tab" class="tab-pane fade in">
        <div class="row" style="margin-top: 19px;">
            <div class="col-md-12">
                <form id="form-create-session" class="form-inline">

                    <div class="input-group myGroupChooseWeek" style="display: inline-flex;">
                        <label class="right-icon">Nhóm cửa hàng: &nbsp;</label>


                        <div class="styled-select blue semi-square" style="width: 225px;">
                            <select id="storeGroupCombobox"></select>
                        </div>


                    </div>
                    <div class="input-group pull-right">
                        <div class="dateTime width230">
                            <div class="fg-line m-t-5">
                                <div id="reportranger_group" class="height-fix">
                                    <input id="date-string_group" size="26" readonly class="form-control text-center pull-right">
                                    <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                                </div>
                            </div>
                        </div>
                        @*<div class="input-group-btn FindButtonDateTime">
                                <a class="btn btn-primary btn-sm FindDateTime" id="btnSearch_group" style="margin-top: -5px;">
                                    <i class="left-icon fa fa-search"></i> Tìm
                                </a>
                            </div>*@
                    </div>
                    <input type="text" id="sTime_group" name="startTime" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                    <input type="text" id="eTime_group" name="endTime" placeholder="Chọn giờ kết thúc" hidden="hidden" />
                </form>
            </div>
        </div>

        <div class="row">
            <style>
                p.paddingofbutton {
                    padding: 2cm;
                }
            </style>
            <div class="col-md-6">

                <button type="button" data-show="show" id="btnChart_group"
                        class="btn btn-primary btn-sm" style="width:150px" onclick="ShowChart_group()">
                    <i class="fa fa-plus">
                    </i> Hiển thị biểu đồ
                </button>
            </div>
            <div class="col-md-6">

                <div style="text-align: right">

                    <button type="submit" id="exportGroupStore" class="width230 btn btn-primary btn-sm">
                        <i class="fa fa-download"></i>
                        Xuất ra file Excel
                    </button>
                </div>
            </div>

        </div>
        <div id="container_group" style="min-width: 310px; height: 300px;"></div>
        <div id="datatable_group" style="padding-top: 5px">

        </div>


        <form class="hidden" id="formReportExcel_group" action="@Url.Action("ExportExcelGroupReport","TimeReport")">
            <input name="startTime" />
            <input name="endTime" />
            @*<input name="storeIdReport" />*@
        </form>

    </div>
</div>

<script>
    $('#exportAllStore').on('click', null, function () {
        $('[name=startTime]').val($('#sTime_all').val());
        $('[name=endTime]').val($('#eTime_all').val());
        $('[name=storeIdReport]').val($('#SystemReport').val());
        $('#formReportExcel_all').submit();
    });
    $('#exportOneStore').on('click', null, function () {
        $('[name=startTime]').val($('#sTime').val());
        $('[name=endTime]').val($('#eTime').val());
        $('[name=storeIdReport]').val($('#storeIdReport').val());
        $('#formReportExcel_store').submit();
    });
    $('#exportGroupStore').on('click', null, function () {
        $('[name=startTime]').val($('#sTime_group').val());
        $('[name=endTime]').val($('#eTime_group').val());
        //$('[name=storeIdReport]').val($('#storeGroupCombobox').val());
        $('#formReportExcel_group').submit();
    });

    $(document).ready(function () {
        setupDaterangerpickerall();
        DayOfWeekReportAllStore();
        DayOfWeekReportOneStore();
        //DayOfWeekReportGroupStore();
        GetStoreGroupList();

        //$('#containerCol2').hide();
        $('#container_all').hide();
        $('#container_group').hide();
    });
    //tab hệ thống====================================================================================================================================================
    $('#store').on('click', function (e) {
        $('#btnChart_store').data('show', 'show');
        $('#btnChart_store').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        $('#container_store').hide();

        $('#btnChart_group').data('show', 'show');
        $('#btnChart_group').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        $('#container_group').hide();
        setupDaterangerpickerall();
        DayOfWeekReportAllStore();


    });
    function ShowChart_all() {
        var display = $('#btnChart_all').data('show');
        if (display == "hide") {
            $('#btnChart_all').data('show', 'show');
            $('#btnChart_all').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        }
        else {
            $('#btnChart_all').html(' <i class="fa fa-minus"></i> Ẩn biểu đồ');
            $('#btnChart_all').data('show', 'hide');
        }
        $('#container_all').stop().slideToggle();
    }
    function setupDaterangerpickerall() {
        function cb_all(start, end, label) {
            //Prepare start time and end time format
            var startTime = start.format("DD/MM/YYYY"),
                endTime = end.format("DD/MM/YYYY"),
                dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

            if (label != "Tùy chọn") {
                $('#date-string_all').val(label);
            } else {
                $('#date-string_all').val(dateString);
            }

            $('#sTime_all').val(startTime);
            $('#eTime_all').val(endTime);

            //Chage date at page header
            $('[data-role=small-date]').html(dateString);

            $('#reportrange_all span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
            loadDataOnChangeAll();
        };
        cb_all(moment().add(0, 'week').startOf('isoweek'), moment().add(0, 'week').endOf('isoweek'), "Tuần này");
        $('#reportranger_all').daterangepicker({
            format: 'DD/MM/YYYY',
            startDate: moment().add(0, 'week').startOf('isoweek'),
            endDate: moment().add(0, 'week').endOf('isoweek'),
            minDate: '01/01/2012',
            maxDate: '31/12/2100',
            dateLimit: { days: 365 },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
                'Tuần này': [moment().add(0, 'week').startOf('isoweek'), moment().add(0, 'week').endOf('isoweek')],
                'Tuần trước': [moment().add(-1, 'week').startOf('isoweek'), moment().add(-1, 'week').endOf('isoweek')],
                'Tháng này': [moment().add(0, 'month').startOf('month'), moment().add(0, 'month').endOf('month')],
                'Tháng trước': [moment().add(-1, 'month').startOf('month'), moment().add(-1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-success',
            separator: ' to ',
            locale: {
                applyLabel: 'Chọn',
                cancelLabel: 'Hủy',
                fromLabel: 'Từ',
                toLabel: 'Đến',
                customRangeLabel: 'Tùy chọn',
                daysOfWeek: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                firstDay: 1
            }
        }, cb_all);

        $('#reportranger_all').on('apply.daterangepicker', function (ev, picker) {
            DayOfWeekReportAllStore();
        });
    }

    function loadDataOnChangeAll() {
        if ($("#eTime_all").val().length > 16 || $("#sTime_all").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }

        DayOfWeekReportAllStore();
    };

    function RefreshTable_all() {
        var oTable = $("#dayRReport_all").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    function InitProDatatableAll(data) {
        $("#dayRReport_all").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            'data': data,
            "bProcessing": true,
            "bPaginate": false,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8],
                    "bSortable": false,
                    "sClass": "text-center"
                },
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);
    };

    // select all store
    function DayOfWeekReportAllStore() {
        $.ajax({
            type: 'GET',
            url: '@this.Url.Action("LoadDayOfWeekReportAllStore")',
            data: { 'startTime': $('#sTime_all').val(), 'endTime': $('#eTime_all').val() },
            //TODO
            success: function (result) {
                debugger
                $('#datatable_all').html('<table id="dayRReport_all" class="table table-striped table-bordered table-hover">'
                    + '<thead>'
                    + '<tr>'
                    + '<th>'
                        + '<label style="width: 80px;" class="">Thứ</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Số lượng (Mang đi)</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '<th>'
                       + '<label class="">Số lượng (Tại store)</label>'
                    + '</th>'
                    + '<th>'
                       + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Số lượng (Giao hàng)</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Tổng cộng</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '</tr>'
                    + '</thead>'
                    + '<tbody></tbody>'
                    + '</table');

                InitProDatatableAll(result.datatable);
                DoanhThuChartAll(result.dataChart)
            }
        });
    };

    function DoanhThuChartAll(dataChart) {
        $('#container_all').highcharts({
            chart: {
                style: {
                    fontFamily: 'arial'
                }
            },
            title: {
                text: 'BIỂU ĐỒ HÓA ĐƠN',
                x: -20 //center
            },
            subtitle: {
                text: 'Bộ lọc:',
                align: 'right',
                x: -330,
                y: 42,
            },
            xAxis: {
                categories: dataChart.WeekDay
            },
            yAxis: {
                title: {
                    text: 'Hóa đơn'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y} '
            },
            series: [
                 {
                     name: 'Mang đi',
                     data: dataChart.TakeAway,
                 },
                 {
                     name: 'Tại cửa hàng',
                     data: dataChart.AtStore,
                 },
                 {
                     name: 'Giao hàng',
                     data: dataChart.Delivery,
                 }
            ]
        });
    };
    //kết thúc tab hệ thống===========================================================================================================================================

    //tab cửa hàng====================================================================================================================================================
    function ShowChart_store() {
        var display = $('#btnChart_store').data('show');
        if (display == "hide") {
            $('#btnChart_store').data('show', 'show');
            $('#btnChart_store').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        }
        else {
            $('#btnChart_store').html(' <i class="fa fa-minus"></i> Ẩn biểu đồ');
            $('#btnChart_store').data('show', 'hide');
        }
        $('#container_store').stop().slideToggle();
    }

    //load data khi vào tab store
    $('#store').on('click', function (e) {
        $('#btnChart_all').data('show', 'show');
        $('#btnChart_all').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        $('#container_all').hide();
        $('#btnChart_group').data('show', 'show');
        $('#btnChart_group').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        $('#container_group').hide();
        setupDaterangerpicker();
        DayOfWeekReportOneStore();
    });

    function setupDaterangerpicker() {
        function cb(start, end, label) {
            //Prepare start time and end time format
            var startTime = start.format("DD/MM/YYYY"),
                endTime = end.format("DD/MM/YYYY"),
                dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

            if (label != "Tùy chọn") {
                $('#date-string').val(label);
            } else {
                $('#date-string').val(dateString);
            }

            $('#sTime').val(startTime);
            $('#eTime').val(endTime);

            //Chage date at page header
            $('[data-role=small-date]').html(dateString);

            $('#reportranger span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
            loadDataOnchangeStore();
        };
        cb(moment().add(0, 'week').startOf('isoweek'), moment().add(0, 'week').endOf('isoweek'), "Tuần này");
        $('#reportranger').daterangepicker({
            format: 'DD/MM/YYYY',
            startDate: moment().add(0, 'week').startOf('isoweek'),
            endDate: moment().add(0, 'week').endOf('isoweek'),
            minDate: '01/01/2012',
            maxDate: '31/12/2100',
            dateLimit: { days: 365 },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            //parentEl: '.modal-body',
            ranges: {
                'Tuần này': [moment().add(0, 'week').startOf('isoweek'), moment().add(0, 'week').endOf('isoweek')],
                'Tuần trước': [moment().add(-1, 'week').startOf('isoweek'), moment().add(-1, 'week').endOf('isoweek')],
                'Tháng này': [moment().add(0, 'month').startOf('month'), moment().add(0, 'month').endOf('month')],
                'Tháng trước': [moment().add(-1, 'month').startOf('month'), moment().add(-1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-success',
            separator: ' to ',
            locale: {
                applyLabel: 'Chọn',
                cancelLabel: 'Hủy',
                fromLabel: 'Từ',
                toLabel: 'Đến',
                customRangeLabel: 'Tùy chọn',
                daysOfWeek: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                firstDay: 1
            }
        }, cb);


    }

    function loadDataOnchangeStore() {
        if ($("#eTime").val().length > 16 || $("#sTime").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            DayOfWeekReportOneStore();
        }
    };

    function RefreshTable() {
        var oTable = $("#dayRReport").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    function InitProDatatable(data) {
        $("#dayRReport").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            'data': data,
            "bProcessing": true,
            "bPaginate": false,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6, 7],
                    "bSortable": false,
                    "sClass": "text-center"
                },
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);
    };


    // select one store
    function DayOfWeekReportOneStore() {

        $.ajax({
            type: 'GET',
            url: '@this.Url.Action("LoadDayOfWeekReportOneStore")',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(), "storeIdReport": $('#storeIdReport').val() },
            success: function (result) {
                $('#datatable').html('<table id="dayRReport" class="table table-striped table-bordered table-hover">'
                    + '<thead>'
                    + '<tr>'
                    + '<th>'
                        + '<label style="width: 80px;" class="">Thứ</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Số lượng(Mang đi)</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '<th>'
                       + '<label class="">Số lượng(Tại store)</label>'
                    + '</th>'
                    + '<th>'
                       + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Số lượng(Giao hàng)</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Tổng cộng</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '</tr>'
                    + '</thead>'
                    + '<tbody></tbody>'
                    + '</table');

                InitProDatatable(result.datatable);
                DoanhThuChart(result.dataChart)
            }
        });
    };

    $('#storeIdReport').on('change', function () {
        loadDataOnchangeStore();
    });



    function DoanhThuChart(dataChart) {
        $('#container_store').highcharts({
            chart: {
                style: {
                    fontFamily: 'arial'
                }
            },
            title: {
                text: 'BIỂU ĐỒ HÓA ĐƠN',
                x: -20 //center
            },
            subtitle: {
                text: 'Bộ lọc:',
                align: 'right',
                x: -330,
                y: 42,
            },
            xAxis: {
                categories: dataChart.WeekDay
            },
            yAxis: {
                title: {
                    text: 'Hóa đơn'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y} '
            },
            series: [
                 {
                     name: 'Mang đi',
                     data: dataChart.TakeAway,
                 },
                 {
                     name: 'Tại cửa hàng',
                     data: dataChart.AtStore,
                 },
                 {
                     name: 'Giao hàng',
                     data: dataChart.Delivery,
                 }
            ]
        });
    };
    //kết thúc tab cửa hàng====================================================================================================================================================

    //tab nhóm ====================================================================================================================================================
    function ShowChart_group() {
        var display = $('#btnChart_group').data('show');
        if (display == "hide") {
            $('#btnChart_group').data('show', 'show');
            $('#btnChart_group').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        }
        else {
            $('#btnChart_group').html(' <i class="fa fa-minus"></i> Ẩn biểu đồ');
            $('#btnChart_group').data('show', 'hide');
        }
        $('#container_group').stop().slideToggle();
    }

    $('#group').on('click', function (e) {
        $('#btnChart_all').data('show', 'show');
        $('#btnChart_all').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        $('#container_all').hide();
        $('#btnChart_store').data('show', 'show');
        $('#btnChart_store').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        $('#container_store').hide();
        setupDaterangerpicker_group();
        DayOfWeekReportGroupStore();

    });
    $('#storeGroupCombobox').on('change', function () {
        loadDataOnchangeStoreGroups();
    });
    function loadDataOnchangeStoreGroups() {
        if ($("#eTime_group").val().length > 16 || $("#sTime_group").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            DayOfWeekReportGroupStore();
        }

    };
    function GetStoreGroupList() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadStoreGroupList", "TimeReport")',
            success: function (result) {
                if (result.storeGroup.length == 0) {
                    $('#group').hide();
                    //$('store_tab').hide();
                }
                else {
                    for (var i = 0; i < result.storeGroup.length; i++) {
                        $('#storeGroupCombobox').append('<option value="' + result.storeGroup[i].GroupID + '">' + result.storeGroup[i].GroupName + '</option>')
                        //$('#storeGroupCombobox').selectpicker('refresh');
                    }
                }
            }
        });
    }
    function setupDaterangerpicker_group() {
        function cb(start, end, label) {
            //Prepare start time and end time format
            var startTime = start.format("DD/MM/YYYY"),
                endTime = end.format("DD/MM/YYYY"),
                dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

            if (label != "Tùy chọn") {
                $('#date-string_group').val(label);
            } else {
                $('#date-string_group').val(dateString);
            }

            $('#sTime_group').val(startTime);
            $('#eTime_group').val(endTime);

            //Chage date at page header
            $('[data-role=small-date]').html(dateString);

            $('#reportranger_group span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
            loadDataOnchangeStoreGroups();
        };
        cb(moment().add(0, 'week').startOf('isoweek'), moment().add(0, 'week').endOf('isoweek'), "Tuần này");
        $('#reportranger_group').daterangepicker({
            format: 'DD/MM/YYYY',
            startDate: moment().add(0, 'week').startOf('isoweek'),
            endDate: moment().add(0, 'week').endOf('isoweek'),
            minDate: '01/01/2012',
            maxDate: '31/12/2100',
            dateLimit: { days: 365 },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            //parentEl: '.modal-body',
            ranges: {
                'Tuần này': [moment().add(0, 'week').startOf('isoweek'), moment().add(0, 'week').endOf('isoweek')],
                'Tuần trước': [moment().add(-1, 'week').startOf('isoweek'), moment().add(-1, 'week').endOf('isoweek')],
                'Tháng này': [moment().add(0, 'month').startOf('month'), moment().add(0, 'month').endOf('month')],
                'Tháng trước': [moment().add(-1, 'month').startOf('month'), moment().add(-1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-success',
            separator: ' to ',
            locale: {
                applyLabel: 'Chọn',
                cancelLabel: 'Hủy',
                fromLabel: 'Từ',
                toLabel: 'Đến',
                customRangeLabel: 'Tùy chọn',
                daysOfWeek: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                firstDay: 1
            }
        }, cb);

    }

    function RefreshTable_group() {
        var oTable = $("#dayRReport_group").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    var InitProDatatableGroup = function (data) {
        $("#dayRReport_group").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            'data': data,
            "bProcessing": true,
            "bPaginate": false,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6, 7],
                    "bSortable": false,
                    "sClass": "text-center"
                },
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);
    };


    // select one store
    function DayOfWeekReportGroupStore() {

        $.ajax({
            type: 'GET',
            url: '@this.Url.Action("LoadDayOfWeekReportGroupStore")',
            data: { 'startTime': $('#sTime_group').val(), 'endTime': $('#eTime_group').val(), "groupIdReport": $('#storeGroupCombobox').val() },
            success: function (result) {
                $('#datatable_group').html('<table id="dayRReport_group" class="table table-striped table-bordered table-hover">'
                    + '<thead>'
                    + '<tr>'
                    + '<th>'
                        + '<label class="" style="width: 80px;">Thứ</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Số lượng(Mang đi)</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '<th>'
                       + '<label class="">Số lượng(Tại store)</label>'
                    + '</th>'
                    + '<th>'
                       + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Số lượng(Giao hàng)</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Tổng cộng</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Thành tiền</label>'
                    + '</th>'
                    + '</tr>'
                    + '</thead>'
                    + '<tbody></tbody>'
                    + '</table');

                InitProDatatableGroup(result.datatable);
                DoanhThuChart_group(result.dataChart)
            }
        });
    };

    function DoanhThuChart_group(dataChart) {
        $('#container_group').highcharts({
            chart: {
                style: {
                    fontFamily: 'arial'
                }
            },
            title: {
                text: 'BIỂU ĐỒ HÓA ĐƠN',
                x: -20 //center
            },
            subtitle: {
                text: 'Bộ lọc:',
                align: 'right',
                x: -330,
                y: 42,
            },
            xAxis: {
                categories: dataChart.WeekDay
            },
            yAxis: {
                title: {
                    text: 'Hóa đơn'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y} '
            },
            series: [
                 {
                     name: 'Mang đi',
                     data: dataChart.TakeAway,
                 },
                 {
                     name: 'Tại cửa hàng',
                     data: dataChart.AtStore,
                 },
                 {
                     name: 'Giao hàng',
                     data: dataChart.Delivery,
                 }
            ]
        });
    };
    //kết thúc tab nhóm====================================================================================================================================================
</script>

<style>
    .tab-pane > .col-md-12 {
        margin-top: 19px;
        padding-right: 0px;
    }

        .tab-pane > .col-md-12 form {
            min-height: 33px;
        }

    .tn-justified > li {
        margin-bottom: 0px;
    }
</style>