﻿@model IEnumerable<HmsService.ViewModels.StoreViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .tab-nav.tn-justified > li {
        width: 33% !important;
        padding: 0px;
    }
</style>

<div class="card">


    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3>Báo cáo doanh thu theo ngày</h3>
                <h5 data-role="small-date" id="dateRange"></h5>
            </div>
        </div>
        <hr />
        <ul id="TabList" class="tab-nav tn-justified" style="overflow: hidden;width: 100%">
            <li class="active waves-effect col-lg-6"><a data-toggle="tab" id="allTab" href="#menu1"><i class="fa fa-globe"></i> Hệ Thống</a></li>
            <li class="waves-effect col-lg-6"><a data-toggle="tab" id="storeTab" href="#menu2"><i class="fa fa-home"></i> Cửa hàng</a></li>
          @*  <li class="waves-effect col-lg-6"><a data-toggle="tab" id="groupTab" href="#menu3"><i class="fa fa-users"></i> Nhóm cửa hàng</a></li>*@
        </ul>

        <div class="tab-content">

            @*hệ thống*@
            <div id="menu1" class="tab-pane fade in active">
                @*date range picker*@
                <div class="col-md-12">
                    <form id="form-create-session" class="form-inline">
                        <div class="input-group pull-right">
                            <div class="dateTime width230 pull-right">
                                <div class="fg-line m-t-5">
                                    <div id="reportrange3">
                                        <input id="date-string3" readonly class="form-control text-center">
                                        <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group-btn FindButtonDateTime">
                                <a class="btn btn-primary btn-sm FindDateTime" id="btnSearch3" style="margin-top: -5px;">
                                    <i class="left-icon fa fa-search"></i> Tìm
                                </a>
                            </div>
                        </div>
                        <input type="text" id="sTime3" name="startTime3" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                        <input type="text" id="eTime3" name="endTime3" placeholder="Chọn giờ kết thúc" hidden="hidden" />
                    </form>
                </div>

                @*table và chart*@
                <div class="style=" padding:25px;"">
                    <div>
                        <button type="submit" id="export3" class="btn btn-primary btn-sm pull-right">
                            <i class="fa fa-download"></i>
                            Xuất ra file Excel
                        </button>
                        <button type="button" data-show="show" id="buttonChart3" class="btn btn-primary btn-sm" style="width:180px" onclick="ShowChart2()">
                            <i class="fa fa-plus">
                            </i> Hiển thị biểu đồ
                        </button>
                    </div>
                    <form class="hidden" id="formDateReportExcel3" action="@Url.Action("ExportDateAllReportToExcel","TimeReport")">
                        <input id="startTime3" name="startTime" />
                        <input id="endTime3" name="endTime" />
                    </form>
                    <div id="chartHeThong" style="min-width: 300px; height: 290px;" hidden="hidden"></div>
                    <div id="datatableHeThong">
                    </div>
                </div>
            </div>
            @*cửa hàng*@
            <div id="menu2" class="tab-pane fade">
                @*dropdownlist và date range picker*@
                <div class="col-md-12">
                    <form id="form-create-session" class="form-inline">
                        @*dropdownlist*@
                        <div class="input-group myGroupChooseWeek" style="display: inline-flex;">
                            <label class="right-icon">Cửa hàng: &nbsp;</label>
                            <div class="styled-select blue semi-square" style="width: 180px;">
                                <select id="storeIdReport">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        @*date range picker*@
                        <div class="input-group pull-right">
                            <div class="dateTime width230 pull-right">
                                <div class="fg-line">
                                    <div id="reportrangee">
                                        <input id="date-string" readonly class="form-control text-center">
                                        <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group-btn FindButtonDateTime">
                                <a class="btn btn-primary btn-sm FindDateTime" id="btnSearch" style="margin-top: -5px;">
                                    <i class="left-icon fa fa-search"></i> Tìm
                                </a>
                            </div>
                        </div>
                        <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                        <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" hidden="hidden" />
                    </form>
                </div>

                @*table và chart*@
                <div class="style=" padding:25px;"">
                    <div>
                        <button type="submit" id="export" class="btn btn-primary btn-sm pull-right">
                            <i class="fa fa-download"></i>
                            Xuất ra file Excel
                        </button>
                        <button type="button" data-show="show" id="buttonChart" class="btn btn-primary btn-sm" style="width:180px" onclick="ShowChart1()">
                            <i class="fa fa-plus">
                            </i> Hiển thị biểu đồ
                        </button>
                    </div>

                    <form class="hidden" id="formDateReportExcel" action="@Url.Action("ExportDateStoreReportToExcel","TimeReport")">
                        <input id="startTime" name="startTime" />
                        <input id="endTime" name="endTime" />
                        <input id="selectedStoreId" name="selectedStoreId" />
                    </form>

                    <div id="chartCuaHang" style="min-width: 300px; height: 290px;" hidden="hidden"></div>
                    <div id="datatableCuaHang">
                    </div>
                </div>
            </div>
            @*nhóm*@
            <div id="menu3" class="tab-pane fade">
                @*dropdownlist và date range picker*@
                <div class="col-md-12">
                    <form id="form-create-session" class="form-inline">
                        @*dropdownlist*@
                        <div class="input-group myGroupChooseWeek" style="display: inline-flex;">
                            <label class="right-icon">Nhóm: &nbsp;</label>
                            <div class="styled-select blue semi-square" style="width: 180px;">
                                <select id="groupIdReport"></select>
                            </div>
                        </div>
                        @*date range picker*@
                        <div class="input-group pull-right">
                            <div class="dateTime width230 pull-right">
                                <div class="fg-line m-t-5">
                                    <div id="reportrange22">
                                        <input id="date-string2" readonly class="form-control text-center">
                                        <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group-btn FindButtonDateTime">
                                <a class="btn btn-primary btn-sm FindDateTime" id="btnSearch2" style="margin-top: -5px;">
                                    <i class="left-icon fa fa-search"></i> Tìm
                                </a>
                            </div>
                        </div>
                        <input type="text" id="sTime2" name="startTime2" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                        <input type="text" id="eTime2" name="endTime2" placeholder="Chọn giờ kết thúc" hidden="hidden" />
                    </form>
                </div>

                @*table và chart*@
                <div class="style=" padding:25px;"">
                    <div>
                        <button type="submit" id="export2" class="btn btn-primary btn-sm pull-right">
                            <i class="fa fa-download"></i>
                            Xuất ra file Excel
                        </button>
                        <button type="button" data-show="show" id="buttonChart2" class="btn btn-primary btn-sm" style="width:180px" onclick="ShowChart3()">
                            <i class="fa fa-plus">
                            </i> Hiển thị biểu đồ
                        </button>
                    </div>

                    <form class="hidden" id="formDateReportExcel2" action="@Url.Action("ExportDateGroupReportToExcel","TimeReport")">
                        <input id="startTime2" name="startTime" />
                        <input id="endTime2" name="endTime" />
                        <input id="groupIdd" name="groupIdd" />
                    </form>
                    <div id="chartNhom" style="min-width: 300px; height: 290px;" hidden="hidden"></div>
                    <div id="datatableNhom">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#buttonChart").click(function () {
            $("#chartCuaHang").toggle();
        });
        $("#buttonChart2").click(function () {
            $("#chartNhom").toggle();
        });
        $("#buttonChart3").click(function () {
            $("#chartHeThong").toggle();
        });
        cb(moment().startOf('month'), moment(), "Tháng này");
        setupDaterangepicker();
        setupDaterangepicker3();
        cb2(moment().startOf('month'), moment(), "Tháng này");
        cb3(moment().startOf('month'), moment(), "Tháng này");
        GetStoreGroupList();
        ReportAll();
    });


    //day la load date range picker
    function cb(start, end, label) {
        var startTime = start.format("DD/MM/YYYY"),
            endTime = end.format("DD/MM/YYYY"),
            dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

        if (label != "Tùy chọn") {
            $('#date-string').val(label);
        } else {
            $("#date-string").val(dateString);
        }

        $("#sTime").val(startTime);
        $("#eTime").val(endTime);
        $("#dateRange").html(dateString);
    }
    function cb2(start, end, label) {
        var startTime2 = start.format("DD/MM/YYYY"),
            endTime2 = end.format("DD/MM/YYYY"),
            dateString2 = "(" + startTime2 + (startTime2 == endTime2 ? "" : " - " + endTime2) + ")";

        if (label != "Tùy chọn") {
            $('#date-string2').val(label);
        } else {
            $("#date-string2").val(dateString2);
        }

        $("#sTime2").val(startTime2);
        $("#eTime2").val(endTime2);
        $("#dateRange").html(dateString2);
    }
    function cb3(start, end, label) {
        var startTime3 = start.format("DD/MM/YYYY"),
            endTime3 = end.format("DD/MM/YYYY"),
            dateString3 = "(" + startTime3 + (startTime3 == endTime3 ? "" : " - " + endTime3) + ")";

        if (label != "Tùy chọn") {
            $('#date-string3').val(label);
        } else {
            $("#date-string3").val(dateString3);
        }

        $("#sTime3").val(startTime3);
        $("#eTime3").val(endTime3);
        $("#dateRange").html(dateString3);
    }
    function setupDaterangepicker() {
        $('#reportrangee span').html(moment().add(-30, 'days').format('MMM D, YYYY') + ' - ' + moment().add(0, 'days').format('MMM D, YYYY'));
        $('#reportrangee').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
    }
    function setupDaterangepicker2() {
        $('#reportrange22 span').html(moment().add(-30, 'days').format('MMM D, YYYY') + ' - ' + moment().add(0, 'days').format('MMM D, YYYY'));
        $('#reportrange22').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb2);
    }
    function setupDaterangepicker3() {
        $('#reportrange3 span').html(moment().add(-30, 'days').format('MMM D, YYYY') + ' - ' + moment().add(0, 'days').format('MMM D, YYYY'));
        $('#reportrange3').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb3);
    }
    //list group
    function GetStoreGroupList() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadStoreGroupList", "TimeReport")',
            success: function (result) {
                for (var i = 0; i < result.storeGroup.length; i++) {
                    $('#groupIdReport').append('<option value="' + result.storeGroup[i].GroupID + '">' + result.storeGroup[i].GroupName + '</option>')
                }
                if ($('#groupIdReport').val() == null) {
                    $('#groupTab').hide();
                }
            }

        });
    }
    //chart
    function ChartStore(dataChart) {
        $('#chartCuaHang').highcharts({
            title: {
                text: 'BIỂU ĐỒ HÓA ĐƠN',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: dataChart.DateName
            },
            yAxis: {
                title: {
                    text: 'Hóa đơn'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Hóa đơn'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [
                {
                    name: 'TakeAway',
                    data: dataChart.TakeAway,
                },
                {
                    name: 'AtStore',
                    data: dataChart.AtStore,
                },
                {
                    name: 'Delivery',
                    data: dataChart.Delivery,
                }
            ]
        });
    }
    function ChartAll(dataChart) {
        $('#chartHeThong').highcharts({
            title: {
                text: 'BIỂU ĐỒ HÓA ĐƠN',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: dataChart.DateName
            },
            yAxis: {
                title: {
                    text: 'Hóa đơn'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Hóa đơn'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [
                {
                    name: 'TakeAway',
                    data: dataChart.TakeAway,
                },
                {
                    name: 'AtStore',
                    data: dataChart.AtStore,
                },
                {
                    name: 'Delivery',
                    data: dataChart.Delivery,
                }
            ]
        });
    }
    function ChartGroup(dataChart) {
        $('#chartNhom').highcharts({
            title: {
                text: 'BIỂU ĐỒ HÓA ĐƠN',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: dataChart.DateName
            },
            yAxis: {
                title: {
                    text: 'Hóa đơn'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Hóa đơn'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [
                {
                    name: 'TakeAway',
                    data: dataChart.TakeAway,
                },
                {
                    name: 'AtStore',
                    data: dataChart.AtStore,
                },
                {
                    name: 'Delivery',
                    data: dataChart.Delivery,
                }
            ]
        });
    }
    //datatable
    var InitProDatatableStore = function (data) {

        $('#datatableCuaHang').html('<table id="storeReportDatatable" class="table table-condensed table-striped table-bordered table-hover">'
                    + "<thead style=\"white-space: nowrap; text-overflow: ellipsis;\">"
                        + "<tr>"
                            + "<th>"
                                + "<label class=\"\">Ngày</label>"
                            + "</th>"
                            + "<th>"
                                + "<label class=\"\">Tổng danh thu</label>"
                            + "</th>"
                            + "<th>"
                                + "<label class=\"\">Giảm giá</label>"
                            + "</th>"
                            + "<th>"
                                + "<label class=\"\">Doanh thu sau giảm giá</label>"
                            + "</th>"
                        + "</tr>"
                    + "</thead>"
                    + "<tbody></tbody>"
                + "</table>");

        $("#storeReportDatatable").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "data": data,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3],
                    "sClass": "text-center"
                },
                {
                    'aTargets': [1, 2, 3],
                    "mRender": function (data, type, row) {
                        return toMoney(data, ',', 'đ');
                    }
                }
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);
        $('table').wrap('<div class="tableDiv-responsive" />');
    }
    var ReportStores = function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("DateReportTable", "TimeReport")',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(), 'storeIdd': $('#storeIdReport').val() },
            success: function (result) {
                InitProDatatableStore(result.dataList);
                ChartStore(result.dataChart);
            }
        });
    };
    var InitProDatatableGroup = function (data) {

        $('#datatableNhom').html('<table id="groupReportDatatable" class="table table-condensed table-striped table-bordered table-hover">'
                    + "<thead style=\"white-space: nowrap; text-overflow: ellipsis;\">"
                        + "<tr>"
                            + "<th>"
                                + "<label class=\"\">Ngày</label>"
                            + "</th>"
                            + "<th>"
                                + "<label class=\"\">Tổng danh thu</label>"
                            + "</th>"
                            + "<th>"
                                + "<label class=\"\">Giảm giá</label>"
                            + "</th>"
                            + "<th>"
                                + "<label class=\"\">Doanh thu sau giảm giá</label>"
                            + "</th>"
                        + "</tr>"
                    + "</thead>"
                    + "<tbody></tbody>"
                + "</table>");

        $("#groupReportDatatable").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "data": data,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3],
                    "sClass": "text-center"
                },
                {
                    'aTargets': [1, 2, 3],
                    "mRender": function (data, type, row) {
                        return toMoney(data, ',', 'đ');
                    }
                }
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);
        $('table').wrap('<div class="tableDiv-responsive" />');
    }
    var ReportGroup = function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("DateReportTableGroup", "TimeReport")',
            data: { 'startTime': $('#sTime2').val(), 'endTime': $('#eTime2').val(), 'groupIdd': $('#groupIdReport').val() },
            success: function (result) {
                InitProDatatableGroup(result.dataList);
                ChartGroup(result.dataChart);
            }
        });
    }
    var InitProDatatableAll = function (data) {

        $('#datatableHeThong').html('<table id="allReportDatatable" class="table table-condensed table-striped table-bordered table-hover">'
                    + "<thead style=\"white-space: nowrap; text-overflow: ellipsis;\">"
                        + "<tr>"
                            + "<th>"
                                + "<label class=\"\">Ngày</label>"
                            + "</th>"
                            + "<th>"
                                + "<label class=\"\">Tổng danh thu</label>"
                            + "</th>"
                            + "<th>"
                                + "<label class=\"\">Giảm giá</label>"
                            + "</th>"
                            + "<th>"
                                + "<label class=\"\">Doanh thu sau giảm giá</label>"
                            + "</th>"
                        + "</tr>"
                    + "</thead>"
                    + "<tbody></tbody>"
                + "</table>");

        $("#allReportDatatable").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "data": data,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3],
                    "sClass": "text-center"
                },
                {
                    'aTargets': [1, 2, 3],
                    "mRender": function (data, type, row) {
                        return toMoney(data, ',', 'đ');
                    }
                }
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);
        $('table').wrap('<div class="tableDiv-responsive" />');
    }
    var ReportAll = function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("DateReportTableAll", "TimeReport")',
            data: { 'startTime': $('#sTime3').val(), 'endTime': $('#eTime3').val(), 'groupId': $('groupId').val() },
            success: function (result) {
                InitProDatatableAll(result.dataList);
                ChartAll(result.dataChart);
            }
        });
    }
    //search button
    $('#btnSearch').on('click', function () {
        ReportStores();
    });
    $('#btnSearch2').on('click', function () {
        ReportGroup();
    });
    $('#btnSearch3').on('click', function () {
        ReportAll();
    });
    //combobox change
    function ShowChart2() {
        var display = $('#buttonChart3').data('show');
        if (display == "hide") {
            $('#buttonChart3').data('show', 'show');
            $('#buttonChart3').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        }
        else {
            $('#buttonChart3').html(' <i class="fa fa-minus"></i> Ẩn biểu đồ');
            $('#buttonChart3').data('show', 'hide');
        }
    }
    function ShowChart1() {
        var display = $('#buttonChart').data('show');
        if (display == "hide") {
            $('#buttonChart').data('show', 'show');
            $('#buttonChart').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        }
        else {
            $('#buttonChart').html(' <i class="fa fa-minus"></i> Ẩn biểu đồ');
            $('#buttonChart').data('show', 'hide');
        }
    }
    function ShowChart3() {
        var display = $('#buttonChart2').data('show');
        if (display == "hide") {
            $('#buttonChart2').data('show', 'show');
            $('#buttonChart2').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        }
        else {
            $('#buttonChart2').html(' <i class="fa fa-minus"></i> Ẩn biểu đồ');
            $('#buttonChart2').data('show', 'hide');
        }
    }

    //export to exel
    $(document).on('click', '#export', function () {
        $('#startTime').val($('#sTime').val());
        $('#endTime').val($('#eTime').val());
        $("#selectedStoreId").val($('#storeIdReport').val());
        $('#formDateReportExcel').submit();
    });
    $(document).on('click', '#export2', function () {
        $('#startTime2').val($('#sTime2').val());
        $('#endTime2').val($('#eTime2').val());
        $("#groupIdd").val($('#groupIdReport').val());
        $('#formDateReportExcel2').submit();
    });
    $(document).on('click', '#export3', function () {
        $('#startTime3').val($('#sTime3').val());
        $('#endTime3').val($('#eTime3').val());
        $('#formDateReportExcel3').submit();
    });
    //may cai them them
    $('#groupTab').one('click', function () {
        setupDaterangepicker2();
        ReportGroup();
    });
    $('#allTab').one('click', function () {

    });
    $('#storeTab').one('click', function () {
        ReportStores();
    });
</script>

<style>
    .tab-pane > .col-md-12 {
        margin-top: 19px;
        padding-right: 0px;
    }

        .tab-pane > .col-md-12 form {
            min-height: 33px;
        }
</style>