﻿@{
    ViewBag.Title = "Index";
    var currentStoreDomain = this.ViewBag.CurrentDomain as StoreDomainViewModel;
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h3>Thư viện ảnh</h3>
            </div>
        </div>
        <hr />
    </div>
    <div class="card-padding">
        <table id="UserDatatable" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        <label class="">STT</label>
                    </th>
                    <th>
                        <label class="">Thư Viện</label>
                    </th>
                    <th>
                        <label class="">Số lượng hình ảnh</label>
                    </th>
                    <th>
                        <label class="">Tùy chọn</label>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            InitUserDatatable();
        });

        function InitUserDatatable() {

            $("#UserDatatable").dataTable({

                "bSort": false,
                "bServerSide": false,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "sAjaxSource": "@Url.Action("IndexList", "ImageCollection")",
                "bProcessing": true,
                "aLengthMenu": [10, 25, 50],
                "bFilter": true,
                "oLanguage": {
                    "sSearchPlaceholder": "Tên sản phẩm",
                    "sSearch": "Tìm kiếm:",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2, 3],
                        "bSortable": false,
                        "sClass": "text-center mid-v-align"
                    },
                    {
                        "aTargets": [3],
                        "mRender": function (data, type, row) {
                            var productImageCollection = data;
                            var editButton = '<button title="Chỉnh sửa" onclick="onEditProductCollection(this);" data-id="' + productImageCollection + '" ' +
                                'class="btn btn-primary btn-lg" data-toggle="tooltip" >' +
                                '<i class="glyphicon glyphicon-pencil"></i></button>';
                            return editButton;
                        },
                        "bSortable": false,
                        "sClass": "text-center"
                    },

                ],
                "bAutoWidth": false,
            }).fnSetFilteringDelay(delaySearch);;
        }


        //redraw datatable without reload
        function reDrawDatatable(id) {
            $.fn.dataTableExt.oApi.fnStandingRedraw = function (oSettings) {
                if (oSettings.oFeatures.bServerSide === false) {
                    var before = oSettings._iDisplayStart;
                    oSettings.oApi._fnReDraw(oSettings);
                    //iDisplayStart has been reset to zero - so lets change it back
                    oSettings._iDisplayStart = before;
                    oSettings.oApi._fnCalculateEnd(oSettings);
                }

                //draw the 'current' page
                oSettings.oApi._fnDraw(oSettings);
            };
            $(id).dataTable().fnStandingRedraw();
        }

        //user datatable
        function RefreshTable() {
            reDrawDatatable("#UserDatatable");
        }

        function onEditProductCollection(btn) {
            var id = $(btn).attr("data-id");
            window.location.href = "@this.Url.Action("Edit", new {parameters = currentStoreDomain.Directory})/" + id;
        }

    </script>
}