﻿@model ImageCollectionViewModel
@{
    ViewBag.Title = "IndexDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var currentStoreDomain = this.ViewBag.CurrentDomain as StoreDomainViewModel;
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h3>Thư viện ảnh @(Model.Name)</h3>
            </div>
            <div class="col-md-4 text-right">
                <a id="btn-create-imageCollection"
                   class="btn btn-primary btn-icon-text waves-effect">
                    <i class="zmdi zmdi-plus"></i> Thêm hình ảnh
                </a>
            </div>
        </div>
        <hr />
    </div>
    <div class="card-padding">
        <table id="UserDatatable" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        <label class="">STT</label>
                    </th>
                    <th>
                        <label class="">Hình Ảnh</label>
                    </th>
                    <th>
                        <label class="">Title</label>
                    </th>
                    <th>
                        <label class="">Description</label>
                    </th>
                    <th>
                        <label class="">Position</label>
                    </th>
                    <th>
                        <label class="">Tùy chọn</label>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="EditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modalUserHeader">Chỉnh sửa thông tin hình ảnh</h4>
            </div>
            <div class="modal-body p-b-0">
                <div class="form-horizontal">
                    <div class="attribute-panel">
                        <div class="pair-group form-group m-0">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h2>Hình ảnh đại diện</h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="row sm-margin">
                                            <div class="col-md-12">
                                                <ul class="row sm-margin images-preview avatar" id="avatar-preview">
                                                    <li class="col-md-12 photo-item removeable img-vpos">
                                                        <div class="ratio-wrapper ratio-wrapper-1-1">
                                                            <div class="ratio-item">
                                                                <div class="img-container" id="image_link"><img src="" id="imagepreview" /></div>
                                                                <input type="hidden" name="SelectedImages" value="" id="hiden_link" />
                                                                <span class="btn-remove" onclick="delImg()"><i class="glyphicon glyphicon-remove"></i></span>
                                                            </div>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="center">
                                            <input type="hidden" value="" id="PicURL" />
                                            @*<div style="display: none">
                                                <input type="file" hidden id="uploadImage" accept="image/*" class="btn btn-sm btn-success uploadImageToBlob" />
                                            </div>*@
                                            <button type="button" id="btnUploadImage" class="btn btn-sm btn-success getimagefromelfindertoinput">
                                                <i class="icon-upload"></i>Browse
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h2 id="title-modal">Thông tin</h2>
                                    </div>
                                    <div class="card-body card-padding">
                                        <input type="hidden" id="currentImageSelected" value="" />
                                        <div class="row">
                                            <label class="control-label col-md-4">Title</label>
                                        </div>
                                        <div class="row">
                                            <div class="fg-line">
                                                <input class="form-control" value="" id="title-value" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-4">Title (English)</label>
                                        </div>
                                        <div class="row">
                                            <div class="fg-line">
                                                <input class="form-control" value="" id="titleEng-value" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-4">Desicription</label>
                                        </div>
                                        <div class="row">
                                            <div class="fg-line">
                                                <textarea class="form-control col-md-12" id="description_id" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-4">Desicription (English)</label>
                                        </div>
                                        <div class="row">
                                            <div class="fg-line">
                                                <textarea class="form-control col-md-12" id="descriptionEng_id" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-4">Link</label>
                                        </div>
                                        <div class="row">
                                            <div class="fg-line">
                                                <input class="form-control" id="link_id" value=""/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-4">Position</label>
                                        </div>
                                        <div class="row">
                                            <div class="fg-line">
                                                <input type="number" value="" id="position_value" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-primary" id="btnsubmit">Cập Nhật</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<input type="hidden" id="currentStep" value="3" />
@section scripts {
    <script>
        $(document).ready(function () {
            InitUserDatatable();
            //$("#btnUploadImage").on('click', function () {
            //    $('#uploadImage').click();
            //});

             $("#uploadImage").on('change', function () {

                                                    var file, img;
                                                    if ((file = this.files[0])) {
                                                        img = new Image();
                                                        img.onload = function () {
                                                            sendFile(file);
                                                        };
                                                        img.onerror = function () {
                                                            ShowMessage("Not a valid file:" + file.type, 1);
                                                        };
                                                        var _URL = window.URL || window.webkitURL;
                                                        img.src = _URL.createObjectURL(file);
                                                    }
                                                });

            $("#PicURL").on('change', function () {
                                                    var url = $(this).val();
                                                    if (url.length <= 0) {
                                                        url = "/Content/images/default_product.jpg"
                                                    }
                                                    var htmlInnerData = '<li class="col-md-4 photo-item removeable img-vpos">' +
                                                        '<div class="ratio-wrapper ratio-wrapper-1-1">' +
                                                        '<div class="ratio-item"><div class="img-container"><img src="' + url + '"/></div>' +
                                                        '<input type="hidden" name="SelectedImages" value="' + url + '"/>'
                                                        + '<span class="btn-remove" onclick="delImg()"><i class="glyphicon glyphicon-remove"></i></span>' +
                                                        '</div></div></li>';
                $("#avatar-preview").html(htmlInnerData);
                                                });

                                                function sendFile(file) {
                                                    var formData = new FormData();
                                                    formData.append('file', $('#uploadImage')[0].files[0]);
                $.ajax({
                                                        type: 'POST',
                    url: '@Url.Action("UploadImages", "File")',
                    data: formData,
                    success: function (result) {
                                                            if (result.success) {
                                                                var htmlInnerData = '<li class="col-md-4 photo-item removeable img-vpos">' +
                                                                    '<div class="ratio-wrapper ratio-wrapper-1-1">' +
                                                                    '<div class="ratio-item"><div class="img-container"><img src="' + result.imagesUrl[0] + '"/></div>' +
                                                                '<input type="hidden" name="SelectedImages" value="' + result.imagesUrl[0] + '"/>'
                                                                + '<span class="btn-remove" onclick="delImg()"><i class="glyphicon glyphicon-remove"></i></span>' +
                                                                                '</div></div></li>';
                            $("#avatar-preview").html(htmlInnerData);
                            $("#PicURL").val(result.imagesUrl[0]);
                                                            }
                                                        },
                    processData: false,
                    contentType: false,
                    error: function () {
                                                            ShowMessage("Có lỗi xảy ra!", 1);
                                                        }
                                                    });
            }
        });
        function delImg() {
            $("#PicURL").val("");
            $("#avatar-preview").html("");
        }


        function onDeleteButtonClick(btn) {
            if (confirm("Are you sure to delete this record?")) {
                var id = $(btn).attr("data-id");
                window.location.href = "@this.Url.Action("Delete", new { parameters = currentStoreDomain.Directory })/" + id;
            }
        }

        function InitUserDatatable() {

            $("#UserDatatable").dataTable({

                "bSort": false,
                "bServerSide": false,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "sAjaxSource": "@Url.Action("IndexListDetail", "ImageCollection")",
                "bProcessing": true,
                "aLengthMenu": [10, 25, 50],
                "bFilter": true,
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "imageCollectionId", "value": '@Model.Id' })
                },
                "oLanguage": {
                    "sSearchPlaceholder": "Tên sản phẩm",
                    "sSearch": "Tìm kiếm:",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2, 3, 4, 5],
                        "bSortable": false,
                        "sClass": "text-center mid-v-align"
                    },
                    {
                        "aTargets": [1],
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            return "<img class='img-responsive myImg-responsive' src='" + ((row[1] != null) ? row[1] : "~/Content/images/default_product.jpg") + "' onerror='this.onerror=null; this.src=\"@Url.Content("~/Content/images/default_product.jpg")\"'/>";
                        }
                    },
                    {
                        "aTargets": [4],
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            return data;
                        }
                    },
                    {
                        "aTargets": [5],
                        "mRender": function (data, type, row) {
                            var productImageCollection = data;
                            var editButton = '<button title="Chỉnh sửa" id="Edit" data-id="' + productImageCollection + '" ' +
                                'class="btn btn-primary btn-lg" data-toggle="tooltip" >' +
                                '<i class="glyphicon glyphicon-pencil"></i></button>';
                            var deleteButton = '<button title="Xóa" onclick="onDeleteButtonClick(this);" style="margin-left: -3px;" data-id="' + productImageCollection + '" ' +
                                'class="btn btn-danger btn-lg" data-toggle="tooltip" >' +
                                '<i class="glyphicon glyphicon-trash"></i></button>';
                            return editButton + " " + deleteButton;
                        },
                        "bSortable": false,
                        "sClass": "text-center"
                    },

                ],
                "bAutoWidth": false,
            }).fnSetFilteringDelay(delaySearch);;
        }


        //redraw datatable without reload
        function reDrawDatatable(id) {
            $.fn.dataTableExt.oApi.fnStandingRedraw = function (oSettings) {
                if (oSettings.oFeatures.bServerSide === false) {
                    var before = oSettings._iDisplayStart;
                    oSettings.oApi._fnReDraw(oSettings);
                    //iDisplayStart has been reset to zero - so lets change it back
                    oSettings._iDisplayStart = before;
                    oSettings.oApi._fnCalculateEnd(oSettings);
                }

                //draw the 'current' page
                oSettings.oApi._fnDraw(oSettings);
            };
            $(id).dataTable().fnStandingRedraw();
        }

        //user datatable
        function RefreshTable() {
            var oTable = $("#UserDatatable").dataTable();
            oTable._fnPageChange(0);
            oTable._fnAjaxUpdate();
        }

        $('#UserDatatable tbody').on('click', '#Edit', function () {
            var table = $('#UserDatatable').DataTable();
            var data = table.row($(this).parents('tr')).data();
            $("#title-value").val("");
            $("#titleEng-value").val("");
            $("#description_id").val("");
            $("#descriptionEng_id").val("");
            $("#link_id").val("");
            $("#position_value").val("");
            $("#PicURL").val("");
            $("#image_link").attr("src", "");
            $("#SelectedImages").val("");
            $("#currentImageSelected").val("");

            if (data[2] != null) {
               $("#title-value").val(data[2]);
            }
            if (data[3] != null) {
                $("#description_id").val(data[3]);
            }
            if (data[6] != null) {
                $("#titleEng-value").val(data[6]);
            }
            if (data[7] != null) {
                $("#descriptionEng_id").val(data[7]);
            }
            if (data[8] != null) {
                $("#link_id").val(data[8]);
            }
            
            $("#position_value").val(data[4]);
            $("#PicURL").val(data[1]);
            $("#imagepreview").attr("src", data[1]);
            $("#image_link").attr("src", data[1]);
            $("#SelectedImages").val(data[1]);
            $("#currentImageSelected").val(data[5]);
            $("#EditModal").modal("show");
            var htmlInnerData = '<li class="col-md-4 photo-item removeable img-vpos">' +
                '<div class="ratio-wrapper ratio-wrapper-1-1">' +
                '<div class="ratio-item"><div class="img-container"><img src="' + data[1] + '"/></div>' +
                '<input type="hidden" name="SelectedImages" value="' + data[1] + '"/>'
                + '<span class="btn-remove" onclick="delImg()"><i class="glyphicon glyphicon-remove"></i></span>' +
                '</div></div></li>';
            $("#avatar-preview").html(htmlInnerData);
            //Update step 1;
            $("#currentStep").val(1);
        });


        $(document).on("click", "#btn-create-imageCollection", function () {
            $("#currentStep").val(0);
            $("#title-value").val("");
            $("#titleEng-value").val("");
            $("#description_id").val("");
            $("#descriptionEng_id").val("");
            $("#link_id").val("");
            $("#position_value").val("");
            $("#PicURL").val("");
            $("#image_link").attr("src", "");
            $("#SelectedImages").val("");
            $("#currentImageSelected").val("");
            var htmlInnerData = '<li class="col-md-4 photo-item removeable img-vpos">' +
                '<div class="ratio-wrapper ratio-wrapper-1-1">' +
                '<div class="ratio-item"><div class="img-container"><img src=""/></div>' +
                '<input type="hidden" name="SelectedImages" value=""/>'
                + '<span class="btn-remove" onclick="delImg()"><i class="glyphicon glyphicon-remove"></i></span>' +
                '</div></div></li>';
            $("#avatar-preview").html(htmlInnerData);
            $("#EditModal").modal("show");
        });

        $(document).on("click", "#btnsubmit", function () {
            var currentStep = $("#currentStep").val();
            if (currentStep == 1) {
                $.ajax({
                 type: 'GET',
                 url: '@Url.Action("UpdateImageItem", "ImageCollection")',
                 data: {
                     imageId: $("#currentImageSelected").val(),
                     linkImage: $("#PicURL").val(),
                     title: $("#title-value").val(),
                     titleEng: $("#titleEng-value").val(),
                     description: $("#description_id").val(),
                     descriptionEng: $("#descriptionEng_id").val(),
                     link: $("#link_id").val(),
                     position: $("#position_value").val()
                 },
                 success: function (result) {
                      if (result.success == true) {

                            RefreshTable();
                            $('#EditModal').modal('hide');
                            ShowMessage("Thành công", 2);
                            $("#currentStep").val(3);
                        } else {
                          ShowMessage("Whoops something went wrong!", 1);
                          $("#currentStep").val(3);
                      }
                 }
                    ,
                 error: function () {
                     $("#currentStep").val(3);
                 }
                });
            } else {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("CreateImage", "ImageCollection")',
                    data: {
                        linkImage: $("#PicURL").val(),
                        title: $("#title-value").val(),
                        titleEng: $("#titleEng-value").val(),
                        description: $("#description_id").val(),
                        descriptionEng: $("#descriptionEng_id").val(),
                        position: $("#position_value").val(),
                        link: $("#link_id").val(),
                        collectionId: '@Model.Id'
                    },
                    success: function (result) {
                        if (result.success == true) {
                            $("#currentStep").val(3);
                            RefreshTable();
                            $('#EditModal').modal('hide');
                            ShowMessage("Thành công", 2);

                        } else {
                            ShowMessage("Whoops something went wrong!", 1);
                            $("#currentStep").val(3);
                        }
                    },
                    error: function () {
                        $("#currentStep").val(3);
                    }
                });
            }
        });


        function onDeleteButtonClick(btn) {
            ShowConfirm("Bạn có chắc là mình muốn xóa ảnh này này không??", function () {
                var id = $(btn).attr("data-id");
                $.ajax({
                    url: "@this.Url.Action("Delete", new {parameters = currentStoreDomain.Directory})",
                    type: 'POST',
                    data: { imageId: id },
                    error: function () {
                        ShowMessage(data.message, 1);
                    },
                    success: function (data) {
                        if (data.success) {
                            ShowAlert(data.message, 2, null)
                            RefreshTable();
                        } else {
                            ShowMessage(data.message, 1);
                        }
                    }
                });
            });
        }

    </script>
}
