﻿@model WebCustomerFeedbackViewModel
@{
    ViewBag.Title = "Detail";
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@Model.Title</h4>
</div>
<div class="modal-body">
    
        <span><i class="fa fa-check-circle-o"></i> Họ tên: @(Model.Fullname)</span><br />
        <span><i class="fa fa-check-circle-o"></i> Số điện thoại: @(Model.Phone)</span><br />
        <span><i class="fa fa-check-circle-o"></i> Email: @(Model.Email)</span><br />
        <span><i class="fa fa-check-circle-o"></i> Chi tiết: @Html.Raw(Model.Content)</span><br />
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
</div>
