﻿@model HmsService.ViewModels.PromotionDetailViewModel
@{
    Layout = null;
}
@this.Html.Partial("Editor", this.Model)
<input id="isMember" hidden value="@Model.isMember" />
<input hidden value="@ViewBag.Promo.PromotionCode" id="promoCode" />
<script type="text/javascript">

    function checkDigit(str) {
        var check = /^-?$|^-?\d+$/.test(str);
        if (!check) {
            return "";
        }
        return str;
    }
    function confirmSubmit(btn) {
        debugger
        var min = $('#MinBuyQuantity').val();
        var max = $('#MaxBuyQuantity').val();
        var minOr = $('#MinOrderAmount').val();
        var maxOr = $('#MaxOrderAmount').val();

        $('#GiftProductCode').val($('#giftApplyList').val());
        $('#BuyProductCode').val($('#productApplyList').val());
        //if($('#isMember').val() == '1'){
        //    if($('#textinput').val() == "")
        //    {
        //        ShowMessage("Vui lòng nhập mã thẻ.", 1);
        //        return;
        //    }
        //    if( /[^a-zA-Z0-9\-]/.test($('#textinput').val()) ){
        //        ShowMessage("Không được chứa ký tự đặc biệt!", 1);
        //        return;
        //    }
        //}
        if('@ViewBag.Promo.IsForMember' == "True"){
            if($('#group-membership-code').val() == '-1') // -1 nghĩa là k chọn j hết
            {
                ShowMessage("Xin hãy chọn nhóm thẻ!", 1);
                return;
            }
        }
        if ($('#productApplyList').val() == "") {
            ShowMessage("Xin chọn sản phẩm áp dụng!", 1);
            return;
        }
        if(parseInt($('#MinBuyQuantity').val())<0 || min == ""){
            ShowMessage("Lượng mua tối thiểu không được nhỏ hơn 0!", 1);
            return;
        }
        if(max != "" && parseInt($('#MaxBuyQuantity').val())<0){
            ShowMessage("Lượng mua tối đa không được nhỏ hơn 0!", 1);
            return;
        }
        if(parseInt(max) >= 10000){
            ShowMessage("Lượng mua tối đa không được vượt mức 10000", 1);
            return;
        }
        if(parseInt(minOr)<0 || minOr ==""){
            ShowMessage("Tổng tiền hóa đơn tối thiểu không được nhỏ hơn 0!", 1);
            return;
        }
        if(maxOr != "" && parseInt(maxOr) < 0){
            ShowMessage("Tổng tiền hóa đơn tối đa không được nhỏ hơn 0!", 1);
            return;
        }
        if ($('#MaxBuyQuantity').val() != "" && ($('#MinBuyQuantity').val()) >= parseInt($('#MaxBuyQuantity').val())) {
            ShowMessage("Lượng mua tối đa phải lớn hơn lượng mua tối thiểu!", 1);
            return;
        }
        if (maxOr != "" && parseInt(minOr) >= parseInt(maxOr) ) {
            ShowMessage("Tổng tiền hóa đơn tối đa phải lớn hơn tổng tiền hóa đơn tối thiểu!", 1);
            return;
        }
        if(parseInt(maxOr ) >= 100000000){
            ShowMessage("Tổng tiền hóa đơn tối đa không được trên 100 triệu", 1);
            return;
        }
        //else{
        //    if( /[^a-zA-Z0-9\-\/]/.test($('#textinput').val()) ){
        //        ShowMessage("Không được chứa ký tự đặc biệt!", 1);
        //        return;
        //    }
        //    else if (min != "" && max != "" && parseInt(min) >= parseInt(max)) {
        //        ShowMessage("Lượng mua tối đa phải lớn hơn lượng mua tối thiểu!", 1);
        //        return;
        //    }
        //    else if (minOr != "" && maxOr != "" && parseInt(minOr) >= parseInt(maxOr)) {
        //        ShowMessage("Tổng tiền hóa đơn tối đa phải lớn hơn tổng tiền hóa đơn tối thiểu!", 1);
        //        return;
        //    }
        //}
        if(@ViewBag.Promo.GiftType == 0){
            if($('#DiscountRate').val() == ""|| parseInt($('#DiscountRate').val())>100||parseInt($('#DiscountRate').val())<=0)
            {
                ShowMessage("Tỉ lệ giảm giá không hợp lệ", 1);
                return;
            }
        }
        if(@ViewBag.Promo.GiftType == 1){
            if($('#GiftProductCode').val()=="")
            {
                ShowMessage("Vui lòng chọn sản phẩm KM", 1);
                return;
            }
            if(@ViewBag.Promo.ApplyLevel == 1)
            {
                if($('#GiftQuantity').val() == ""|| parseInt($('#GiftQuantity').val())<=0 )
                {
                    ShowMessage("Số lượng quà tặng không hợp lệ", 1);
                    return;
                }

            }
        }
        //if ($('#textinput').val() != "") {
        //    if ($('#regexinput').val() == "start") {
        //        $('#RegExCode').val("/^" + $('#textinput').val() + "/");
        //    }
        //    else if ($('#regexinput').val() == "end") {
        //        $('#RegExCode').val("/" + $('#textinput').val() + "$/");
        //    }
        //    else if ($('#regexinput').val() == "contain") {
        //        $('#RegExCode').val("/" + $('#textinput').val() + "/");
        //    }
        //    else if($('#regexinput').val() == "same"){
        //        $('#RegExCode').val("^" + $('#textinput').val() + "$");
        //    }
        //    createDetail();
        //}
            $('#PromotionCode').val($('#promoCode').val());
            createDetail();

    }
    function createDetail() {
        //var formData = $('#promotionDetailForm').serialize();

        var formData = new FormData($('#promotionDetailForm')[0]);

        if('@ViewBag.Promo.IsForMember' == "True")
        formData.append('GroupCode',$('#group-membership-code').val());

        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateDetail")',
            dataType: 'JSON',
            data: formData,
            processData: false,
            contentType:false,
            success: function (result) {
                if (result.success) {
                    ShowMessage(result.message,2)
                    $('#createDetailModal').modal('hide');
                    RefreshTable();
                    //location.reload();
                } else {
                    ShowMessage(result.message, 1);
                }
            },
        });
    }

    //Test
    function loadAllProductCreate() {
        $.ajax({
            url: '@Url.Action("LoadAllProducts","PromotionDetail")',
            type: 'POST',
            success: function (data) {
                if (data.success) {
                    //$('#productApplyList').myOwnSelect2({
                    //    data: data.data,
                    //    allowClear: true,
                    //});
                    myOwnSelect2.call($('#productApplyList'),{
                        data: data.data,
                        allowClear: true,
                    });
                    //$('#giftApplyList').select2({
                    //    data: data.data,
                    //    allowClear: true,
                    //});
                    myOwnSelect2.call($('#giftApplyList'),{
                        data: data.data,
                        allowClear: true,
                    });
                    //window['productApplyList'] = data.data;
                    //console.log(data.data);
                    //$('#productApplyList').select2({
                    //    data: data.data,
                    //    matcher: filterFunction,
                    //    allowClear: true,
                    //});
                    //window['giftApplyList'] = data.data;
                    //$('#giftApplyList').select2({
                    //    data: data.data,
                    //    matcher: filterFunction,
                    //    allowClear: true,
                    //});
                }
            }
        });
    }
    function getListProduct() {
        var term = '';
        if (event.target.tagName === 'INPUT') {
            term = $(event.target).val().toLowerCase();
        }
        //if (term.length < 2) return false;
        //delay(function () {
        //    alert("Really?");
        //}, 5000);
        var count = 0;
        var tmp = window['productApplyList'].filter(function (ele) {
            if (ele.text != null) {
                var text = ele.text.toLowerCase();
                if (text == undefined)
                    return false;
                else {
                    return term === '' || text.indexOf(term) > -1;
                }
            }
        });
        return {
            text: 'text',
            results: tmp.slice(0,100)
        };
    }
    function getGiftProduct() {
        var term = '';
        if (event.target.tagName === 'INPUT') {
            term = $(event.target).val().toLowerCase();
        }
        //if (term.length < 2) return false;
        //delay(function () {
        //    alert("Really?");
        //}, 5000);
        var count = 0;
        var tmp = window['giftApplyList'].filter(function (ele) {
            if (ele.text != null) {
                var text = ele.text.toLowerCase();
                if (text == undefined)
                    return false;
                else {
                    return term === '' || text.indexOf(term) > -1;
                }
            }
        });
        return {
            text: 'text',
            results: tmp.slice(0,100)
        };
    }
    function filterFunction(term, text, ele) {
        return term === '' || ele.text.toLowerCase().indexOf(term.toLowerCase()) > -1;
    }
    function formatSelect2(state) {
        var markup =
            '<div class="row">' +
            '<div class="col-xs-7" style="white-space: nowrap">' + state.text + '</div>' +
            '</div>';
        markup += '</div>';
        return markup;
    }


    //$('#modal-dialog').on('click','#s2id_productApplyList',function(){
    //    alert('1');
    //    $("#select2-drop").css('top', $("#select2-drop").position().top - 7 + "px");
    //    $("#select2-drop").css('left', $("#select2-drop").position().left + 8 + "px");
    //    $("#select2-drop").css('width', $("#select2-drop").width() - 14 + "px");
    //});

</script>