﻿@model HmsService.ViewModels.PromotionDetailViewModel
<link href="~/Content/plugins/select2-4.0.3/dist/css/select2.min.css" rel="stylesheet" />
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalBrandHeader"></h4>
        </div>
        <div class="modal-body">
            <form id="promotionDetailForm">
                <div class="form-horizontal">
                    <div id="FormError" class="alert alert-danger" style="display: none; padding: 10px; margin-left: 10px"></div>
                    <div id="FormSuccess" class="alert alert-success" style="display: none; padding: 10px; margin-left: 10px"></div>
                    <div class="col-xs-12">
                        <div class="card-padding">
                            <div class="modal-body">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                @Html.HiddenFor(q => q.PromotionCode)
                                @Html.HiddenFor(q => q.PromotionDetailCode)
                                @Html.HiddenFor(q => q.RegExCode, new { id = "RegExCode" })
                                @Html.HiddenFor(q => q.PromotionDetailID)
                                <div class="form-horizontal">
                                    <div class="row group-info" style="margin-left:-2px; margin-right:-2px">
                                        @if (ViewBag.Promo.IsForMember)
                                        {
                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="Name">Nhóm thẻ</label>
                                                <div class="col-md-6" style="padding: 0px">
                                                    @*<div class="col-md-6">
                                                        <div class="fg-line">
                                                            <select class="form-control" id="regexinput">
                                                                <option value="same">Mã thẻ giống</option>
                                                                <option value="start">Bắt đầu</option>
                                                                <option value="end">Kết thúc</option>
                                                                <option value="contain">Có chứa</option>
                                                            </select>
                                                        </div>
                                                    </div>*@
                                                    <div class="col-md-6">
                                                        @*<input type="text" class="form-control" style="" id="textinput" />*@
                                                        <select id="group-membership-code" style="width:207px;height:35px;">
                                                            <option value="-1">Nothing selected</option>
                                                            @for (int i = 0; i < Model.MembershipCardTypeList.Count; i++)
		                    	                                {
			                                                        <option value="@Model.MembershipCardTypeList[i].AppendCode">
                                                                        @Model.MembershipCardTypeList[i].TypeName
                                                                    </option>
			                                                    }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.Promo.ApplyLevel == 0 || ViewBag.Promo.ApplyLevel == 2)
                                        {
                                            if (ViewBag.Promo.ApplyLevel == 2)
                                            {
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" for="Name">Sản phẩm áp dụng<span style="color:red">*</span></label>
                                                    <div class="col-md-6">
                                                        <div class="fg-line">
                                                            <input id="productApplyList" name="productApply" class="form-control" style="width: 100%" />
                                                            @if (Model.BuyProductCode == null)
                                                            {
                                                                <label style="font-weight:bold; color:red">(Bỏ trống nếu không chọn)</label>
                                                            }
                                                            @Html.HiddenFor(q => q.BuyProductCode, new { @id = "BuyProductCode" })

                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="Name">Tổng tiền tối thiểu (VNĐ)<span style="color:red">*</span></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line">
                                                        @Html.TextBoxFor(q => q.MinOrderAmount, new { id = "MinOrderAmount", @class = "form-control", onkeyup = "this.value = checkDigit(this.value)" })
                                                        
                                                     </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="Name">Tổng tiền tối đa (VNĐ)</label>
                                                <div class="col-md-6">
                                                    <div class="fg-line">
                                                        @Html.TextBoxFor(q => q.MaxOrderAmount, new { id = "MaxOrderAmount", @class = "form-control", onkeyup = "this.value = checkDigit(this.value)", placeholder="Bỏ trống nếu không giới hạn" })
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else if (ViewBag.Promo.ApplyLevel == 1)
                                        {
                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="Name">Sản phẩm áp dụng<span style="color:red">*</span></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line">
                                                        <input id="productApplyList" name="productApply" class="form-control" style="width: 100%" />
                                                        @if (Model.BuyProductCode == null)
                                                        {
                                                            <label style="font-weight:bold; color:red">(Bỏ trống nếu không chọn)</label>
                                                        }
                                                        @Html.HiddenFor(q => q.BuyProductCode, new { @id = "BuyProductCode" })
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            if (ViewBag.Promo.ApplyLevel != 2) { 
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" for="Name">Số lượng tối thiểu<span style="color:red">*</span></label>
                                                    <div class="col-md-6">
                                                        <div class="fg-line">
                                                            @Html.TextBoxFor(q => q.MinBuyQuantity, new { id = "MinBuyQuantity", @class = "form-control", onkeyup = "this.value = checkDigit(this.value)" })
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" for="Name">Số lượng tối đa</label>
                                                    <div class="col-md-6">
                                                        <div class="fg-line">
                                                            @Html.TextBoxFor(q => q.MaxBuyQuantity, new { id = "MaxBuyQuantity", @class = "form-control", onkeyup = "this.value = checkDigit(this.value)", placeholder="Bỏ trống nếu không giới hạn" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }

                                        @if (@ViewBag.Promo.GiftType == 1)
                                        {

                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="Name">Sản phẩm KM<span style="color:red">*</span></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line">
                                                        <input id="giftApplyList" name="productApply" class="form-control" style="width: 100%" />
                                                        @*@if (ViewBag.Promo.GiftType == 0 && Model.GiftProductCode == null)
                                                        {
                                                            <label style="font-weight:bold; color:red">(Bỏ trống nếu không chọn)</label>
                                                        }*@
                                                        @Html.HiddenFor(q => q.GiftProductCode, new { @id = "GiftProductCode" })
                                                        
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="Name">Số lượng<span style="color:red">*</span></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line">
                                                        @Html.TextBoxFor(q => q.GiftQuantity, new { id = "GiftQuantity", @class = "form-control", onkeyup = "this.value = checkDigit(this.value)" })
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else if (@ViewBag.Promo.GiftType == 0)
                                        {
                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="Name">Giảm giá (%)<span style="color:red">*</span></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line">
                                                        @Html.TextBoxFor(q => q.DiscountRate, new { id = "DiscountRate", @class = "form-control", @type = "number"})
                                                        
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else if (@ViewBag.Promo.GiftType == 2)
                                        {
                                            <div class="form-group">
                                                <label class="control-label col-md-4" for="Name">Giảm giá (Tiền mặt)<span style="color:red">*</span></label>
                                                <div class="col-md-6">
                                                    <div class="fg-line">
                                                        @Html.TextBoxFor(q => q.DiscountAmount, new { id = "DiscountAmount", @class = "form-control", onkeyup = "this.value = checkDigit(this.value)" })
                                                        
                                                      </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer" style="border-top: none;">
            <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
            <input type="button" onclick="confirmSubmit(this)" value="Hoàn tất" class="btn btn-primary" />
        </div>
    </div><!-- /.modal-content -->
</div>
<style>
    /*#select2-drop {
        left: 618.484px !important;
        width: 191px !important;
    }*/
</style>
<script src="~/Content/plugins/select2-4.0.3/dist/js/select2.full.min.js"></script>
<script>
    $(document).ready(function () {
       


    });

</script>