﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h3>Quản lý khách hàng</h3>
            </div>
            <div class="col-md-2">
                <button type="submit" id="exportCSV" class="btn btn-primary btn-sm pull-right">
                    <i class="fa fa-download"></i>
                    Tải về danh sách
                </button>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Create")" class="btn btn-primary pull-right">
                    <i class="left-icon fa fa-plus"></i> Thêm khách hàng
                </a>
            </div>
        </div>
        <hr />

    </div>

    <div class="card-body">
        <div class="card-padding">
            <form id="formCustList" action="@Url.Action("ExportCustomerList","Customer")">
                <div class="row">
                    <!--Social Type Picker -->
                    <div class="col-md-5">
                        Loại thành viên:
                        <button type="button" id="btn-customerType" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="overflow-y : scroll; max-height: 150px" id="customerType-menu"></ul>

                        <input type="hidden" id="customerTypeId" name="customerTypeId" value="-1" />
                    </div>

                    <!-- Filter chooser -->
                    <div class="col-md-7 ">
                        Bộ lọc:

                        <button type="button" id="btn-filters" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="overflow-y : scroll; max-height: 150px" id="filter-menu"></ul>
                        <input type="hidden" id="filterId" name="filterId" value="-1" />
                    </div>
                    @*<div class="group-radio-buttons" style="right:-140px; margin-top:-9px;">
                            <div class="row mySmall-margin">
                                <div class="col-md-3">
                                    <input type="radio" name="searchBy" value="1" class="nice-check" id="byName" checked />
                                    <label for="byName"><span>Tìm theo tên</span></label>
                                </div>
                                <div class="col-md-3">
                                    <input type="radio" name="searchBy" value="0" class="nice-check" id="byAccount" />
                                    <label for="byAccount"><span>Tìm theo tài khoản</span></label>
                                </div>
                                <div class="col-md-3">
                                    <input type="radio" name="searchBy" value="2" class="nice-check" id="byBoth" />
                                    <label for="byBoth"><span>Cả hai</span></label>
                                </div>
                            </div>
                        </div>*@

                </div>
                <input type="hidden" name="searchVal" id="searchVal" value="" />
            </form>
            <div class="row">
                <!-- Customer Table -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="allcust">

                        <!-- Datatable -->
                        <div class="row">
                            <div class="col-md-12">


                                <table id="UserDatatable" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="">STT</label>
                                            </th>
                                            <th>
                                                <label class="">Tên khách hàng</label>
                                            </th>
                                            <th>
                                                <label class="">Giới tính</label>
                                            </th>
                                            <th>
                                                <label class="">Email</label>
                                            </th>
                                            <th>
                                                <label class="">Địa chỉ</label>
                                            </th>
                                            <th>
                                                <label class="">Điện thoại</label>
                                            </th>
                                            @*<th>
                                                    <label class="">Số lần đến</label>
                                                </th>
                                                <th>
                                                    <label class="">Lần đến gần nhất</label>
                                                </th>*@
                                            <th class="opt">
                                                <label class="">Tùy chọn</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script>

        $(document).ready(function () {
            loadAllFilter();
            loadAllCustomerType();
            //setupDaterangepicker();
            InitUserDatatable();
            $('[name=searchBy]').change(function () {
                RefreshTableFilter('#UserDatatable', true);
            });
        });




        //Load Store
        function loadAllFilter() {

            $.ajax({
                url: '@Url.Action("LoadAllFilter")',
                type: "POST",
                success: function (result) {
                    //if (result != null && result.length > 0) {
                    //    //render to store dropdown
                    //    $('#filter-menu').html();
                    //    $('#filter-menu').append("<li onclick=\"changeFilter(-1, \'Không dùng bộ lọc\')\"><a href=\'#\'>Không dùng bộ lọc</a></li>");
                    //    for (var i = 0; i < result.length; i++) {
                    //        $('#filter-menu').append("<li onclick=\"changeFilter(" + result[i].FilterId + ", \'" + result[i].Name + "\')\"><a href=\'#\'>" + result[i].Name + "</a></li>");
                    //    }

                    //    //default store
                    //    $('#btn-filters').html('Không dùng bộ lọc &#9660');
                    //    $('#filterId').val(-1);

                    //    //finish load store
                    //    InitUserDatatable();

                    //} else {
                    //    $('#btn-filters').html('Không tìm thấy bộ lọc');
                    //    $('#filterId').val(-2);
                    //}

                    // combobox text
                    $('#btn-filters').html('Không dùng bộ lọc &#9660');

                    // default filter
                    $('#filter-menu').append("<li onclick=\"changeFilter(-1, \'Không dùng bộ lọc\')\"><a style='cursor: pointer;'>Không dùng bộ lọc</a></li>");
                    $('#filterId').val(-1);

                    // render db filter
                    if (result != null && result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            $('#filter-menu').append("<li onclick=\"changeFilter(" + result[i].FilterId + ", \'" + result[i].Name + "\')\"><a style='cursor: pointer;'>" + result[i].Name + "</a></li>");
                        }
                    }
                },
                error: function (error) {
                    alert("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin");
                }
            });
        }

        function changeFilter(filterId, filterName) {
            $('#btn-filters').html(filterName + " &#9660");
            $('#filterId').val(filterId);

            RefreshTable();

        }



        // load customer type
        function loadAllCustomerType() {

            $.ajax({
                url: '@Url.Action("LoadAllCustomerType")',
                type: "POST",
                success: function (result) {
                    if (result != null && result.length > 0) {
                        //render to store dropdown
                        $('#customerType-menu').html();
                        $('#customerType-menu').append("<li onclick=\"changeCustomerType(-1, \'Tất cả loại thành viên\')\"><a href=\'#\'>Tất cả loại thành viên</a></li>");
                        for (var i = 0; i < result.length; i++) {
                            $('#customerType-menu').append("<li onclick=\"changeCustomerType(" + result[i].CustomerTypeId + ", \'" + result[i].Name + "\')\"><a href=\'#\'>" + result[i].Name + "</a></li>");
                        }

                        //default store
                        $('#btn-customerType').html('Tất cả loại thành viên &#9660');
                        $('#customerTypeId').val(-1);

                    } else {
                        $('#btn-customerType').html('Không tìm thấy loại thành viên');
                        $('#customerTypeId').val(-1);
                    }
                },
                error: function (error) {
                    alert("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin");
                }
            });
        }

        function changeCustomerType(cusTypeId, storeName) {
            $('#btn-customerType').html(storeName + " &#9660");
            $('#customerTypeId').val(cusTypeId);

            RefreshTable();

        }

        //init dateRange picker
        function setupDaterangepicker() {
            $('#reportrange span').html(moment().add(-30, 'days').format('MMM D, YYYY') + ' - ' + moment().add(0, 'days').format('MMM D, YYYY'));
            $('#reportrange').daterangepicker({
                format: 'DD/MM/YYYY',
                startDate: moment().add(-30, 'days'),
                endDate: moment().add(0, 'days'),
                minDate: '01/01/2012',
                maxDate: '31/12/2100',
                dateLimit: { days: 3650 },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                parentEl: '.modal-body',
                ranges: {
                    'Hôm nay': [moment.utc().startOf('day'), moment.utc().endOf('day')],
                    'Hôm qua': [moment.utc().startOf('day').add(-1, 'days'), moment.utc().endOf('day').add(-1, 'days')],
                    'Tuần này': [moment().add(0, 'week').startOf('isoweek'), moment().add(0, 'week').endOf('isoweek')],
                    'Tuần trước': [moment().add(-1, 'week').startOf('isoweek'), moment().add(-1, 'week').endOf('isoweek')],
                    'Tháng này': [moment().add(0, 'month').startOf('month'), moment().add(0, 'month').endOf('month')],
                    'Tháng trước': [moment().add(-1, 'month').startOf('month'), moment().add(-1, 'month').endOf('month')]
                },
                opens: 'left',
                drops: 'down',
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-primary',
                cancelClass: 'btn-default',
                separator: ' to ',
                locale: {
                    applyLabel: 'Chọn',
                    cancelLabel: 'Hủy',
                    fromLabel: 'Từ',
                    toLabel: 'Đến',
                    customRangeLabel: 'Tùy chọn',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            }, function (start, end, label) {
                //console.log(start.toISOString(), end.toISOString(), label);

                $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
            });

            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                RefreshTable();
            });
        }

        function InitUserDatatable() {
            $("#UserDatatable").dataTable({
                //"bFilter": true,
                "bSort": false,
                "bRetrieve": true,
                "bServerSide": true,
                "bScrollCollapse": true,
                "sAjaxSource": "@Url.Action("GetListCustomer")",
                "bDeferRender": true,
                "bProcessing": true,

                "fnServerParams": function (aoData) {
                    aoData.push(
                        { "name": "filterId", "value": $('#filterId').val() },
                        { "name": "customerTypeId", "value": $('#customerTypeId').val() }
                    );
                },
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "Tên khách hàng",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "sInfoEmpty": "Không có dữ liệu",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 2, 3, 6],
                        "className": "dt-center"

                    }
                    ,
                    {
                        "aTargets": [4],
                        "sWidth": "25%",
                        "mRender": function (name, type, row) {
                            var data = row[4];
                            return data;
                        }
                    },
                    {
                        "aTargets": [1],
                        "sWidth": "15%",
                        "order": ["asc"],
                        "mRender": function (name, type, row) {
                            var data = row[6];
                            var detail = "<a href='@Url.Action("CustomerDetail")\/" + data + "\'  target = '_Blank' >" + name + "</a>";
                            return detail;
                        }
                    },
                    {
                        "aTargets": [6],
                        "mRender": function (data, type, row) {
                            var data = row[6];
                            var detail = "<a title='Chi tiết'class='btn btn-sm btn-success' href='@Url.Action("CustomerDetail")\/" + data + "\'target = '_Blank' ><i class='glyphicon glyphicon-eye-open'></i></a>";
                            var edit = "<a title='Chỉnh sửa' class='btn btn-sm btn-primary' href='@Url.Action("Edit")\/" + data + "\'><i class='glyphicon glyphicon-pencil'></i></a>";
                            return detail + " " + edit;// + " " + deleteCustomer;
                        },
                        "bSortable": false,
                        "sClass": "text-center",
                    }

                ],
                "bAutoWidth": false,
            }).fnSetFilteringDelay(800);

        }

        function showMoreText(customerId) {
            var curCustomer = document.getElementById('cus-' + customerId);
            var curCell = document.getElementById('hidden-acc-' + customerId);

            if (curCustomer.getAttribute('data-status') == 'hide') {

                curCell.style = "display:block";
                curCustomer.setAttribute('data-status', 'show');
                curCustomer.innerHTML = 'Show less';
            } else {

                curCell.style = "display:none";
                curCustomer.setAttribute('data-status', 'hide');
                curCustomer.innerHTML = 'Show more';
            }
        }


        function Delete(id) {
            //alert("Không thể xóa");
            $.ajax({
                url: '@Url.Action("DeleteCustomer")',
                type: "POST",
                data: { id: id },
                success: function (result) {
                    if (result != null && result.length > 0) {
                        alert(result.message);
                        alert("Xóa thành công");
                        location.reload();

                    } else {
                        alert(result.message);
                        alert("Không thể xóa");
                    }
                },
                error: function (error) {
                    alert("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin");
                }
            });
        }


        //redraw datatable without reload
        function reDrawDatatable(id) {
            $(id).dataTable()._fnPageChange(0);
            $(id).dataTable()._fnAjaxUpdate();
        }

        //user datatable
        function RefreshTable() {
            reDrawDatatable("#UserDatatable");

        }

        // export csv
        $(document).on('click', '#exportCSV', function () {
            $('#searchVal').val($('.dataTables_filter input').val());
            $('#formCustList').submit();
        });
    </script>

}