﻿@{
    ViewBag.Title = "Quản lý bài đăng";
    var storeId = ViewBag.storeId;
    var storeName = ViewBag.storeName;
    var brandId = ViewBag.brandId;


    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table {
        width: 100% !important;
    }

    .leftTable {
        text-align: left !important;
    }

    .table > thead > tr > th {
        border: 0.1px solid #00b743 !important;
        font-weight: normal !important;
    }

    .col-sm-2 {
        width: 19% !important;
    }

    .m-b-25 {
        margin-bottom: 0px !important;
    }
    .card .card-body {
        padding-top: 0px;
    }
    #selectAllButtonPostTbl {
        font-size:large;
    }
</style>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h3 id="titlePage">Bài đăng khách hàng</h3>
            </div>
        </div>
        <hr />
    </div>
    <!--Header-->


    <!--Body-->
    <div class="card-body">
        <div role="tabpanel" class="tab">
            <!--Tab content-->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane animated fadeIn active" id="post">
                    <div class="" id="filter-container" style="margin-bottom:10px;margin-right: 10px;">

                        <div class="row">
                            <div class="col-sm-2 m-b-25">
                                <p class="f-500 m-b-15 c-black">Nội dung</p>
                                <select id="contentId" class="selectpicker">
                                    <option value="0">Test 1</option>
                                    <option>Test 2</option>
                                    <option>Test 3</option>
                                </select>
                            </div>
                            <div class="col-sm-2 m-b-25">
                                <p class="f-500 m-b-15 c-black">Tình trạng</p>
                                <select id="statusId" class="selectpicker">
                                    <option value="0">Tất cả</option>
                                    <option value="1">Đang hiển thị</option>
                                    <option value="2">Đang cảnh báo</option>
                                    <option value="3">Đã duyệt</option>
                                    <option value="4">Đang ẩn</option>
                                    <option value="5">Đã xóa</option>
                                </select>
                            </div>
                            <div class="col-sm-2 m-b-25">
                                <p class="f-500 m-b-15 c-black">Trạng thái</p>
                                <select id="isRead" class="selectpicker">
                                    <option value="2">Tất cả</option>
                                    <option value="1">Đã đọc</option>
                                    <option value="0">Chưa đọc</option>
                                </select>
                            </div>
                            <div class="col-sm-2 m-b-25">
                                <p class="f-500 m-b-15 c-black">Mục đích</p>
                                <select id="intentId" class="selectpicker">
                                    <option value="0">Tất cả</option>
                                    <option>Tích cực</option>
                                    <option>Tiêu cực</option>
                                </select>
                            </div>
                            <div class="col-sm-2 m-b-25">
                                <p class="c-black f-500 m-b-15">Thời gian</p>
                                <div class="input-group form-group">
                                    <div class="dtp-container dropdown">
                                        <div id="reportrange">
                                            <input id="date-string" readonly class="form-control text-center">
                                            <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="sTime" />
                            <input type="hidden" id="eTime" />
                            <div>
                                <p class="c-black f-500 m-b-15">.</p>
                                <div>
                                    <button onclick="btnRefine()" class="btn btn-primary waves-effect">Lọc</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./Filter condition-->
                    <!--Post table-->
                    <div class="table-responsive">
                        <table id="tblPost" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <input id="checkAllPostTbl" type="checkbox" onchange="checkAllPost()">
                                    </th>
                                    <th>Bài đăng</th>
                                    <th>Người đăng</th>
                                    <th>Đánh giá</th>
                                    <th>Thích</th>
                                    <th>Chia sẻ</th>
                                    <th>Bình luận</th>
                                    <th>Mục đích</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày tạo</th>
                                    <th>Đã đọc</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!--./ Post table-->
                </div>
                <div role="tabpanel" class="tab-pane animated fadeIn" id="comment">
                    <p>
                        Quan ly comment
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane animated fadeIn" id="user">
                    <p>
                        Quan ly facebook user
                    </p>
                </div>
            </div>
            <!--./Tab content-->
        </div>
    </div>
</div>

<script>
    var checkStatus;
    var checkCustomer;
    var listSelectedPost = [];
    var isRead = null;
    var isIntend = null;
    var isStatus = null;
    var isContent = null;
    function btnRefine() {
        if ($('#intentId').val() == 0) {
            isIntend = null;
        } else {
            isIntend = $('#intentId').val();
        }
        if ($('#statusId').val() == 0) {
            isStatus = null;
        } else {
            isStatus = $('#statusId').val();
        }
        if ($('#isRead').val() == 2) {
            isRead = null;
        } else {
            if ($('#isRead').val() == 1) {
                isRead = true;
            } else {
                isRead = false;
            }
        }
        RefreshTable();
    }
    $(document).ready(function () {
        function cb(start, end, label) {
            var startTime = start.format("MM/DD/YYYY"),
                endTime = end.format("MM/DD/YYYY"),
                dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

            if (label != "Tùy chọn") {
                $('#date-string').val(label);
            } else {
                $("#date-string").val(dateString);
            }

            $("#sTime").val(startTime);
            $("#eTime").val(endTime);
            $("#dateRange").html(dateString);
            //RefreshTable();
        }
        cb(moment(), moment(), "Hôm nay");

        $('#reportrange').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Tuần này': [moment().startOf('isoweek'), moment().endOf('isoweek')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('isoweek'), moment().subtract(1, 'week').endOf('isoweek')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        InitPostTable();
    });
    function InitPostTable() {
        $("#tblPost").dataTable({
            "sDom": 'l<"PostToolBar">frtip',
            "bProcessing": true,
            "bSort": false,
            "bFilter": true,
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("GetListPostByCustomer", "Post")",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "endDate", "value": $('#eTime').val().concat(" 23:59:59.000") });
                aoData.push({ "name": "startDate", "value": $('#sTime').val() });
                aoData.push({ "name": "intentId", "value": isIntend });
                aoData.push({ "name": "statusId", "value": isStatus });
                aoData.push({ "name": "isRead", "value": isRead });
            },
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sSearchPlaceholder": "Bài đăng",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                } 
            },
            "aoColumnDefs": [
                        {
                            "aTargets": [11],
                            "mRender": function (data, type, row) {
                                var hiden = "";
                                var remove = "";
                                if (row[9] != row[10]) { // kiểm tra xem người đăng có phải chủ shop hay khộng
                                    if (row[7] == 2) { // kiểm tra trạng thái của bài đăng
                                        hiden = "<a id='notApproval" + row[0] + "' onclick='btnApproPost(\"" + row[0] + "\")'><span class='btn btn-sm btn-success'>Duyệt</span></a>";
                                    } else if (row[7] == 1 || row[7] == 2 || row[7] == 4) {
                                        hiden = "<a id='hidePost" + row[0] + "' onclick='btnHidePost(\"" + row[0] + "\")'><span class='btn btn-sm btn-warning'>Ẩn</span></a>";
                                    } else if (row[7] == 3) {
                                        hiden = "<a id='hidePost" + row[0] + "' onclick='btnUnHidePost(\"" + row[0] + "\")'><span class='btn btn-sm btn-info'>Bỏ ẩn</span></a>";
                                    }
                                }
                                if (row[7] != 5) {
                                    remove = "<a id='removePost" + row[0] + "' onclick='btnDeletePost(\"" + row[0] + "\")'><span class='btn btn-sm btn-danger'>Xóa</span></a>";
                                }
                                return hiden + remove;
                            },
                            "bSortable": false,
                            "sClass": "leftTable",
                        },
                        {
                            "aTargets": [3, 4, 5, 6], "width": "8%"

                        },
                        {
                            "aTargets": [9],
                            "mRender": function (data, type, row) {
                                return row[12];
                            }
                        },
                        {
                            "aTargets": [3],
                            "mRender": function (data, type, row) {
                                return row[13];
                            }
                        },
                        {
                            "aTargets": [6],
                            "mRender": function (data, type, row) {
                                return row[5];
                            }
                        },
                        {
                            "aTargets": [5],
                            "mRender": function (data, type, row) {
                                return row[4];
                            }
                        },
                        {
                            "aTargets": [4],
                            "mRender": function (data, type, row) {
                                return row[3];
                            }
                        },
                        {
                            "aTargets": [8],
                            "mRender": function (data, type, row) {
                                var content = "";
                                data = row[7];
                                if (data == 1) {
                                    content = "<div id='conTentText" + row[0] + "' class='label label-primary myCategory'>Đang hiển thị</div>";
                                    checkStatus = false;
                                } else if (data == 2) {
                                    content = "<div id='conTentText" + row[0] + "' class='label label-warning myCategory'>Cảnh báo</div>";
                                    checkStatus = false;
                                } else if (data == 3) {
                                    content = "<div id='conTentText" + row[0] + "' class='label label-warning myCategory'>Đang ẩn</div>";
                                    checkStatus = false;
                                } else if (data == 4) {
                                    content = "<div id='conTentText" + row[0] + "' class='label label-success myCategory'>Đã duyệt</div>";
                                    checkStatus = false;
                                } else if (data == 5) {
                                    content = "<div id='conTentText" + row[0] + "' class='label label-danger myCategory'>Đã xóa</div>";
                                    checkStatus = true;
                                }
                                return content;
                            },
                            "bSortable": false,
                            "sClass": "text-center",
                        },
                        {
                            "aTargets": [7],
                            "sClass": "hidden",
                        },
                        {
                            "mData": function (data, type, row) {
                                if (checkStatus == true) {
                                    return null;
                                } else {
                                    if (data[9] != data[10]) {
                                        return "<input type='checkbox' id='checkBoxIndex" + data[0] + "' value='" + data[0] + "' onchange='checkBoxCheckedPostTbl(this)'>";
                                    }
                                    else {
                                        return null;
                                    }
                                    //return "<div class='checkbox m-b-15'><label><input type='checkbox' value=''><i class='input-helper'></i></label></div>";
                                }
                            }, "aTargets": [0], "width": "1%", "bSortable": false
                        },
                        {
                            "mData": function (data, type, row) {

                                return "<a href='http://facebook.com/" + data[0] + "' onclick='btnReadPost(\"" + data[0] + "\")' target='_blank'>" + data[1] + "</a>";
                            }, "aTargets": [1], "bSortable": false
                        },
                        {
                            "mData": function (data, type, row) {
                                return "<a href='http://facebook.com/" + data[10] + "' target='_blank'>" + data[2] + "</a>";
                            }, "aTargets": [2], "bSortable": false
                        },
                        {
                            "aTargets": [10],
                            "mData": function (data, type, row) {
                                if (data[8] == true && data[7]) {
                                    return '<div class="checkbox">'
                               + '<label>'
                                    + '<input id=unRead' + data[0] + ' type="checkbox" id="isthisVoucher" checked="checked" disabled />'
                                    + '<i class="input-helper"></i>'
                                + '</label>'
                            + '</div>';
                                } else {
                                    return '<div class="checkbox">'
                               + '<label>'
                                    + '<input id=unRead' + data[0] + ' type="checkbox" id="isthisVoucher" disabled />'
                                    + '<i class="input-helper"></i>'
                                + '</label>'
                            + '</div>';
                                }
                            }, "width": "1%", "bSortable": false
                        },


            ],

        }).fnSetFilteringDelay(delaySearch);
        $("div.PostToolBar").html("<div class='col-sm-2'>" +
                       "<div class='btn-group'>" +
                           "<button id='selectAllButtonPostTbl' data-toggle='dropdown' class='btn btn-default dropdown-toggle'>Đã chọn 0 bài đăng&nbsp;<span class='caret'></span></button>" +
                           "<ul class='dropdown-menu'>" +
                               "<li><a href='javascript:void(0)' onclick='hideAllPost()'>Ẩn những bài đăng đã chọn</a></li>" +
                               "<li><a href='javascript:void(0)' onclick='UnhideAllPost()'>Bỏ ẩn những bài đăng đã chọn</a></li>" +
                               "<li><a href='javascript:void(0)' onclick='deleteAllPost()'>Xóa những bài đăng đã chọn</a></li>" +
                           "</ul>" +
                       "</div>" +
                   "</div>");
    }

    function reDrawDatatable(id) {
        $.fn.dataTableExt.oApi.fnStandingRedraw = function (oSettings) {
            if (oSettings.oFeatures.bServerSide === false) {
                var before = oSettings._iDisplayStart;
                oSettings.oApi._fnReDraw(oSettings);
                //iDisplayStart has been reset to zero - so lets change it back
                oSettings._iDisplayStart = before;
                oSettings.oApi._fnCalculateEnd(oSettings);
            }
            //draw the 'current' page
            oSettings.oApi._fnDraw(oSettings);
        };
        $(id).dataTable().fnStandingRedraw();
    }

    //user datatable
    function RefreshTable() {
        reDrawDatatable("#tblPost");
        listSelectedPost = [];
        $('#selectAllButtonPostTbl').empty();
        $('#selectAllButtonPostTbl').append("Đã chọn " + listSelectedPost.length + " bài đăng&nbsp; <span class='caret'></span>");
        $('#checkAllPostTbl').attr("checked", false);
    }

    function CheckIsRead(IdPost) {
        for (var i = 0; i < IdPost.length; i++) {
            $('#unRead' + IdPost[i]).attr("checked", "checked");
        }
    }

    function CheckApproved(IdPost) {
        for (var i = 0; i < IdPost.length; i++) {
            $('#notApproval' + IdPost[i]).removeClass('btn btn-sm btn-success');
            $('#notApproval' + IdPost[i]).text('');
            $('#conTentText' + IdPost[i]).removeClass('label-primary label-warning label-success label-danger');
            $('#conTentText' + IdPost[i]).text('');

            $('#conTentText' + IdPost[i]).addClass('label-success');
            $('#conTentText' + IdPost[i]).text('Đã duyệt');
        }
    }

    function CheckDeleted(IdPost) {
        for (var i = 0; i < IdPost.length; i++) {
            $('#removePost' + IdPost[i]).removeClass('btn btn-sm btn-danger pull-left');
            $('#hidePost' + IdPost[i]).removeClass('btn btn-sm btn-info pull-left');
            $('#hidePost' + IdPost[i]).removeClass('btn btn-sm btn-warning pull-left');
            $('#conTentText' + IdPost[i]).removeClass('label-primary label-warning label-success label-danger');
            $('#conTentText' + IdPost[i]).text('');
            $('#checkBoxIndex' + IdPost[i]).remove();
            $('#removePost' + IdPost[i]).text('');
            $('#hidePost' + IdPost[i]).text('');

            $('#unRead' + IdPost[i]).attr("checked", "checked");
            $('#conTentText' + IdPost[i]).addClass('label-danger');
            $('#conTentText' + IdPost[i]).text('Đã xóa');
        }
    }

    function CheckHidden(IdPost) {
        for (var i = 0; i < IdPost.length; i++) {
            $('#hidePost' + IdPost[i]).removeClass('btn btn-sm btn-warning');
            $('#hidePost' + IdPost[i]).text('');
            $('#hidePost' + IdPost[i]).removeAttr("onclick");
            $('#conTentText' + IdPost[i]).removeClass('label-primary label-warning label-success label-danger');
            $('#conTentText' + IdPost[i]).text('');

            $('#hidePost' + IdPost[i]).addClass('btn btn-sm btn-info');
            $('#hidePost' + IdPost[i]).text('Bỏ ẩn');
            $('#hidePost' + IdPost[i]).attr("onclick", "btnUnHidePost(\"" + IdPost[i] + "\")");
            $('#conTentText' + IdPost[i]).addClass('label-warning');
            $('#conTentText' + IdPost[i]).text('Đang ẩn');
        }
    }

    function CheckUnHide(IdPost) {
        for (var i = 0; i < IdPost.length; i++) {
            $('#hidePost' + IdPost[i]).removeClass('btn btn-sm btn-info');
            $('#hidePost' + IdPost[i]).text('');
            $('#hidePost' + IdPost[i]).removeAttr("onclick");
            $('#conTentText' + IdPost[i]).removeClass('label-primary label-warning label-success label-danger');
            $('#conTentText' + IdPost[i]).text('');

            $('#hidePost' + IdPost[i]).addClass('btn btn-sm btn-warning');
            $('#hidePost' + IdPost[i]).text('Ẩn');
            $('#hidePost' + IdPost[i]).attr("onclick", "btnHidePost(\"" + IdPost[i] + "\")");
            $('#conTentText' + IdPost[i]).addClass('label-primary');
            $('#conTentText' + IdPost[i]).text('Đang hiển thị');
        }
    }

    function btnDeletePost(IdPost) {
        ShowConfirm("Bạn có muốn xóa bài đăng này?", function () {
            listSelectedPost.push(IdPost);
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeletePost","Post")',
                data: { postId: listSelectedPost },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Xóa bài đăng thành công", 2, function () {
                            CheckDeleted(listSelectedPost);
                        });
                        CheckDeleted(listSelectedPost);
                    } else {
                        ShowAlert("Xóa bài đăng thất bại", 1);
                    }
                    listSelectedPost = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                }
            });
        });
    }

    function btnHidePost(IdPost) {
        ShowConfirm("Bạn có muốn ẩn bài đăng này?", function () {
            listSelectedPost.push(IdPost);
            $.ajax({
                type: "POST",
                url: '@Url.Action("HidePost", "Post")',
                data: { postId: listSelectedPost },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Ẩn bài đăng thành công", 2, function () {
                            CheckHidden(listSelectedPost);
                            CheckIsRead(listSelectedPost);
                        });
                        CheckHidden(listSelectedPost);
                    } else {
                        ShowAlert("Ẩn bài đăng thất bại", 1);
                    }
                    listSelectedPost = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                }
            });
        });
        $('#selectAllButtonPostTbl').empty();
        $('#selectAllButtonPostTbl').append("Đã chọn " + listSelectedPost.length + " bài đăng&nbsp; <span class='caret'></span>");
    }
    function btnCollapse() {
        $('#intentId').val(0);
        $('#statusId').val(0);
        $('#isRead').val(2);
    }

    function btnUnHidePost(IdPost) {
        ShowConfirm("Bạn có muốn bỏ ẩn bài đăng này?", function () {
            listSelectedPost.push(IdPost);
            $.ajax({
                type: "POST",
                url: '@Url.Action("UnhidePost", "Post")',
                data: { postId: listSelectedPost },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Bỏ ẩn bài đăng thành công", 2, function () {
                            CheckUnHide(listSelectedPost);
                            CheckIsRead(listSelectedPost);
                        });
                        CheckUnHide(listSelectedPost);
                    } else {
                        ShowAlert("Bỏ ẩn bài đăng thất bại", 1);
                    }
                    listSelectedPost = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                }
            });
        });
        $('#selectAllButtonPostTbl').empty();
        $('#selectAllButtonPostTbl').append("Đã chọn " + listSelectedPost.length + " bài đăng&nbsp; <span class='caret'></span>");
    }
    function btnReadPost(IdPost) {
        listSelectedPost.push(IdPost);
        $.ajax({
            type: "POST",
            url: '@Url.Action("ReadPost", "Post")',
            data: { postId: listSelectedPost },
            success: function (result) {
                CheckIsRead(listSelectedPost);
                listSelectedPost = [];
            },
            error: function (error) {
            }
        });
        $('#selectAllButtonPostTbl').empty();
        $('#selectAllButtonPostTbl').append("Đã chọn " + listSelectedPost.length + " bài đăng&nbsp; <span class='caret'></span>");
    }

    function btnApproPost(IdPost) {
        listSelectedPost.push(IdPost);
        $.ajax({
            type: "POST",
            url: '@Url.Action("ApprovePost", "Post")',
            data: { postId: listSelectedPost },
            success: function (result) {
                CheckApproved(listSelectedPost);
                listSelectedPost = [];
            },
            error: function (error) {
            }
        });
        $('#selectAllButtonPostTbl').empty();
        $('#selectAllButtonPostTbl').append("Đã chọn " + listSelectedPost.length + " bài đăng&nbsp; <span class='caret'></span>");
    }

    function deleteAllPost() {
        ShowConfirm("Bạn có muốn xóa bài đăng này?", function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeletePost","Post")',
                data: { postId: listSelectedPost },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Xóa bài đăng thành công", 2, function () {
                            RefreshTable();
                        });
                    } else {
                        ShowAlert("Xóa bài đăng thất bại", 1);
                    }
                    listSelectedPost = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                }
            });
        });
    }

    function hideAllPost() {
        ShowConfirm("Bạn có muốn ẩn bài đăng này?", function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("HidePost", "Post")',
                data: { postId: listSelectedPost },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Ẩn bài đăng thành công", 2, function () {
                            CheckHidden(listSelectedComment);
                            CheckIsRead(listSelectedComment);
                        });
                        CheckHidden(listSelectedComment);
                    } else {
                        ShowAlert("Ẩn bài đăng thất bại", 1);
                    }
                    listSelectedPost = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                }
            });
        });
        $('#selectAllButtonPostTbl').empty();
        $('#selectAllButtonPostTbl').append("Đã chọn " + listSelectedPost.length + " bài đăng&nbsp; <span class='caret'></span>");
    }

    function UnhideAllPost() {
        ShowConfirm("Bạn có muốn bỏ ẩn bài đăng này?", function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UnhidePost", "Post")',
                data: { postId: listSelectedPost },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Bỏ ẩn bài đăng thành công", 2, function () {
                            RefreshTable();
                        });
                    } else {
                        ShowAlert("Bỏ ẩn bài đăng thất bại", 1);
                    }
                    listSelectedPost = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                }
            });
        });
        $('#selectAllButtonPostTbl').empty();
        $('#selectAllButtonPostTbl').append("Đã chọn " + listSelectedPost.length + " bài đăng&nbsp; <span class='caret'></span>");
    }

    function checkBoxCheckedPostTbl(checkbox) {
        if ($('#checkAllPostTbl').is(':checked')) {
            $('#checkAllPostTbl').prop('checked', false);
        }
        if ($(checkbox).is(':checked')) {
            $(checkbox).closest("tr").addClass("active");
            listSelectedPost.push(checkbox.value);
            console.log(listSelectedPost);
        } else {
            $(checkbox).closest("tr").removeClass("active");
            for (var i = 0; i < listSelectedPost.length; i++) {
                if (listSelectedPost[i] == checkbox.value) {
                    listSelectedPost.splice(i, 1);
                }
            }
            console.log(listSelectedPost);
        }
        $('#selectAllButtonPostTbl').empty();
        $('#selectAllButtonPostTbl').append("Đã chọn " + listSelectedPost.length + " bài đăng &nbsp;<span class='caret'></span>");
    }

    function checkAllPost() {
        $('#selectAllButtonPostTbl').empty();
        if ($('#checkAllPostTbl').is(':checked')) {
            listSelectedPost.splice(0, listSelectedPost.length);
            $('#tblPost').find("tbody > tr > td > input").each(function () {
                $(this).parent().parent().addClass("active");
                $(this).prop('checked', true);
                listSelectedPost.push($(this).val());
            });
        } else {
            listSelectedPost.splice(0, listSelectedPost.length);
            $('#tblPost').find("tbody > tr > td > input").each(function () {
                $(this).parent().parent().removeClass("active");
                $(this).prop('checked', false);
            });
        }
        $('#selectAllButtonPostTbl').append("Đã chọn " + listSelectedPost.length + " bài đăng &nbsp;<span class='caret'></span>");
        console.log(listSelectedPost);
    }

    function ShowAlertWithCallback(message, type, callback) {
        var mapper = {
            '1': ['error', 'Lỗi'],
            '2': ['success', 'Thành công'],
            '3': ['info', 'Thông tin']
        }
        swal({
            title: mapper[type][1],
            text: message,
            type: mapper[type][0]
        }, callback);
    }
</script>