﻿@model  ProductViewModel
@{
    ViewBag.Title = "ProductGeneralDetail";
    var storeId = ViewBag.storeId;
    if (ViewContext.RouteData.Values["storeId"] != null)
    {
        storeId = int.Parse(ViewContext.RouteData.Values["storeId"]?.ToString());
    }
    var store = Utils.GetStore(storeId);
}
<div class="card">
    <div class="card-header">
        <div class="row" style="margin-top: 5px">
            <div class="col-md-6">
                <h3>Chi tiết dòng sản phẩm - <strong>@ViewBag.productName.ToUpper()</strong></h3>
            </div>
            <div class="col-md-6 text-right">
                <a id="btn-comeback" href="@Url.Action("Index")" class="btn btn-success">Quay lại</a>
            </div>
        </div>
        <hr />
    </div>

    <div class="clearfix bgm-green" style="border-radius:5px">
        <h3 style="color: white; padding-left:10px;">Thông tin chính</h3>
        <ul style="columns: 2; list-style-type:none; -moz-column-count: 2;">
            <li style="color: white" title="Tên dòng sản phẩm"><i class="zmdi zmdi-account"></i>Tên dòng sản phẩm: <strong>@this.Model.ProductName</strong></li>
            <li style="color: white" title="Mã dòng sản phẩm"><i class="zmdi zmdi-code"></i>Mã dòng sản phẩm: <strong>@this.Model.Code</strong> </li>
            <li style="color: white" title="Loại sản phẩm"><i class="zmdi zmdi-account"></i>Loại sản phẩm: <strong>@this.Model.ProductCategory.CateName</strong> </li>
            @*<li style="color: white" title="Nhóm sản phẩm"><i class="zmdi zmdi-account"></i>Nhóm sản phẩm: <strong>@this.Model.ProductCollections</strong></li>*@
            <li style="color: white" title="Mô tả"><i class="zmdi zmdi-library"></i>Mô tả: <strong>@Model.Description</strong></li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header row">
            <h3 class="col-md-6">Danh sách sản phẩm con</h3>
            @if (storeId == 0 || store.Type == (int)StoreTypeEnum.Website)
            {
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("CreateProduct", "ProductGeneral", new { generalProductId = this.Model.ProductID})"
                       class="btn btn-primary btn-icon-text waves-effect m-t-20">
                        <i class="zmdi zmdi-plus"></i> Thêm sản phẩm con
                    </a>
                </div>
            }
        </div>
        <div class="card-padding">
            <!-- Customer Table -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="allcust">
                    <!-- Datatable -->
                    <div class="row">
                        <div class="col-md-12">
                            <table id="ProductDatatable" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="">STT</label>
                                        </th>
                                        <th>
                                            <label class="">Hình ảnh</label>
                                        </th>
                                        <th>
                                            <label class="">Tên</label>
                                        </th>
                                        <th>
                                            <label class="">Mã</label>
                                        </th>
                                        <th>
                                            <label class="">Giá</label>
                                        </th>
                                        <th>
                                            <label class="">Giảm giá</label>
                                        </th>
                                        <th>
                                            <label class="">Loại</label>
                                        </th>
                                        <th>
                                            <label class="">Tùy chọn</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="product-detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        InitProductDatatable();

        $('#btn-comeback').fixedScroll(70);
    });
    function InitProductDatatable() {
        $("#ProductDatatable").dataTable({
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "bProcessing": true,
            "bDeferRender": true,
            "iDisplayLength": 10,
            "aLengthMenu": [10, 25, 50],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "Id", "value": '@ViewBag.productId' });
            },
            "sAjaxSource": '@Url.Action("ListDetail", "ProductGeneral")',

            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                },
                "sSearchPlaceholder": "Mã hoặc tên"
            },
            "aoColumnDefs": [
                    {
                        "bSearchable": false,
                        "aTargets": [0, 1, 3, 4, 5, 6, 7],
                    },
                    {
                        "aTargets": [0, 2, 3, 4, 5, 6, 7],
                        "bSortable": false,
                        "sClass": "text-center"
                    },
                    {
                        "aTargets": [1],
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            return "<img class='img-responsive myImg-responsive' src='" + ((row[1] != null) ? row[1] : "~/Content/images/default_product.jpg") + "' onerror='this.onerror=null; this.src=\"@Url.Content("~/Content/images/default_product.jpg")\"'/>";
                        }
                    },

                    {
                        "aTargets": [7],
                        "mRender": function (data, type, row) {
                            var productId = row[7];


                            var editButton = "<a title='Chi tiết'class='btn btn-sm btn-success' href='@Url.Action("EditProduct", "ProductGeneral")?id=" + productId + "'><i class='glyphicon glyphicon-pencil'></i></a>";

                            return editButton;
                        },
                        "bSortable": false,
                        "sClass": "text-center"
                    },

            ],
            "bAutoWidth": false,

        });
    };
</script>