﻿@model Wisky.SkyUp.Website.Areas.Admin.Models.ViewModels.ProductCategoryEditViewModel

@{
    ViewBag.Title = "Tạo nhóm sản phẩm";
}

@this.Html.Partial("Editor", this.Model)

@section scripts {

    <link href="~/Content/plugins/elfinder/css/elfinder.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/elfinder/css/theme.css" rel="stylesheet" />

    <script src="~/Content/plugins/elfinder/js/elfinder.full.js"></script>

    <script>
        $(function () {
            SKYWEB.Admin.Product.init();
            SKYWEB.Admin.General.init();
            SKYWEB.Admin.General.setupElfinderToCkeditor('inputDescription');
        });

    </script>
}