﻿@model IEnumerable<HmsService.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Index";
    var currentStoreDomain = this.ViewBag.CurrentDomain as StoreDomainViewModel;
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Danh sách loại sản phẩm</h2>
            </div>
            <div class="col-md-4 text-right">
                <a href="@this.Url.Action("Create", new { parameters = currentStoreDomain.Directory })" class="btn btn-primary btn-icon-text waves-effect">
                    <i class="zmdi zmdi-plus"></i> Thêm loại sản phẩm
                </a>
            </div>
        </div>
    </div>
    <table id="lst-products" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th data-column-id="CateName">Tên loại sản phẩm</th>
                <th data-column-id="commands" data-formatter="Commands" data-sortable="false"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<template id="command-template" class="hidden">
    <div>
        <a class="btn btn-primary btn-sm"
           data-toggle="tooltip" title="Edit">
            <i class="fa fa-pencil"></i>
        </a>
        <button onclick="onDeleteButtonClick(this);" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</template>

@section scripts {
    <script>
        $(function () {
            var commandTemplate = $("#command-template").html();

            $("#lst-products").bootgrid({
                rowCount: [10, 20, 50, ],

                ajax: true,
                url: "@this.Url.Action("IndexList", new { parameters = currentStoreDomain.Directory })",

                formatters: {
                    "Commands": function (column, row) {
                        var template = $(commandTemplate);

                        template.find("[title=Edit]").attr("href", "@(this.Url.Action("Edit", new { parameters = currentStoreDomain.Directory }))/" + row.CateID);
                        template.find("[title=Delete]").attr("data-id", row.CateID);

                        return template[0].outerHTML;
                    },
                },
            });
        });

        function onDeleteButtonClick(btn) {
            if (confirm("Are you sure to delete this record?")) {
                var id = $(btn).attr("data-id");
                window.location.href = "@this.Url.Action("Delete", new { parameters = currentStoreDomain.Directory })/" + id;
            }
        }

    </script>
}