﻿@model  HmsService.ViewModels.AspNetUserEditViewModel

@{
    this.ViewBag.Title = "Create Account";
}

<form class="form-horizontal" method="post">
    @this.Html.AntiForgeryToken()
    @this.Html.HiddenFor(q => q.AspNetUser.Id)

    @this.Html.Partial("ValidationSummary")

    <div class="card">
        <div class="card-header">
            <h2>Create Accounts</h2>
        </div>
        <div class="card-body card-padding">
            <div class="form-group">
                @this.Html.EditorFor(q => q.AspNetUser.UserName)
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-lg">Save</button>
            </div>

        </div>
    </div>
</form>