﻿@model HmsService.ViewModels.AspNetUserEditViewModel

@{
    this.ViewBag.Title = "Edit Account";
}

<form class="form-horizontal" method="post">
    @this.Html.AntiForgeryToken()
    @this.Html.HiddenFor(q => q.AspNetUser.Id)

    @this.Html.Partial("ValidationSummary")

    <div class="card">
        <div class="card-header">
            <h2>Edit Accounts</h2>
        </div>
        <div class="card-body card-padding">
            <div class="form-group">
                <label class="col-sm-2 control-label">Roles</label>
                <div class="col-sm-10">
                    <div class="row">
                        @foreach (var role in this.Model.AvailableRoles)
                        {
                            <div class="col-sm-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="@this.Html.NameFor(q => q.SelectedRoles)"
                                               checked="@(role.Selected ? "" : null)" value="@(role.Value)" />
                                        <i class="input-helper"></i>
                                        @(role.Text)
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Store Admin</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="fg-line">
                            <select class="selectpicker" data-live-search="true" name="@this.Html.NameFor(q => q.AdminStoreId)">
                                @foreach (var item in this.Model.AvailableStores)
                                {
                                    <option value="@(item.Value)" selected="@(item.Selected ? "" : null)">@(item.Text)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary btn-lg">Save</button>
            </div>

        </div>
    </div>
</form>