﻿@model IEnumerable<HmsService.ViewModels.AspNetUserDetailsViewModel>

@{
    this.ViewBag.Title = "Accounts";

    var counter = 0;
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Accounts</h2>
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="@this.Url.Action("Create")" class="btn btn-primary btn-icon-text waves-effect">
                            <i class="zmdi zmdi-plus"></i> Create Account
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Roles</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in this.Model)
                        {
                            <tr>
                                <td>@(++counter)</td>
                                <td>@(account.AspNetUser.UserName)</td>
                                <td class="col-sm-6">
                                    @string.Join(", ", account.Roles.Select(q => q.Name))

                                    @if (account.AdminStoreName != null)
                                    {
                                        <br />
                                        <span class="text-warning">@(account.AdminStoreName)</span>
                                    }
                                </td>
                                <td>
                                    <button data-id="@(account.AspNetUser.Id)" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Set Password" onclick="onSetPasswordClick(this);">
                                        <i class="fa fa-lock"></i>
                                    </button>
                                    <a href="@this.Url.Action("Edit", new { id = account.AspNetUser.Id })" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<form id="frm-set-password" class="hidden" action="@this.Url.Action("SetPassword")" method="post">
    @this.Html.AntiForgeryToken()

    <input type="hidden" name="id" />
    <input type="hidden" name="password" />
</form>

@section scripts {
    <script>
        function onSetPasswordClick(btn) {
            var pw = prompt("Enter new password");

            if (!pw) { return; }

            var id = $(btn).attr("data-id");

            var frm = $("#frm-set-password");
            frm.find("[name=id]").val(id);
            frm.find("[name=password]").val(pw);
            frm.submit();
        }
    </script>
}