﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/css/hieu-facebook.css" rel="stylesheet" />
<style>
    .edit-info-cancel {
        color: #F34343;
    }

    hr {
        margin-top: 6.5px;
        margin-bottom: 6.5px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&key=AIzaSyDwJA7jUX5F9KR44NAKvfJsxn-9cjQwzZk"></script>
<div id="modalOrderDetails" class="modal fade" role="dialog" data-backdrop="true"></div>
<div id="modalInfoProduct" class="modal fade in modalInfoProduct" role="dialog" data-backdrop="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="modalInfoProduct-content">
        </div>
    </div>
</div>
<div id="modalEditProduct" class="modal fade in modalInfoProduct" role="dialog" data-backdrop="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="modalEditProduct-content">
        </div>
    </div>
</div>
<div class="messages card">
    <div class="col-md-8 col-sm-12" style="padding: 0">
        <div class="col-md-4 col-sm-4 m-sidebar">
            <header>
                <h2 class="hidden-xs" style="height: 9.65%">Tin nhắn và bình luận</h2>

                <ul class="tab-nav" data-tab-color="green">
                    <li class="waves-effect col-md-4 active">
                        <a href="#">
                            <i class="zmdi zmdi-comment-text"></i>
                        </a>
                    </li>
                    <li class="waves-effect col-md-4">
                        <a href="#">
                            <i class="zmdi zmdi-comment-text"></i>
                        </a>
                    </li>
                    <li class="waves-effect col-md-4">
                        <a href="#">
                            <i class="zmdi zmdi-comment-text"></i>
                        </a>
                    </li>
                </ul>
            </header>

            <div class="ms-search hidden-xs">
                <div class="fg-line">
                    <i class="zmdi zmdi-search"></i><input type="text" class="form-control" placeholder="Search...">
                </div>
            </div>

            <div id="list_conversation" class="list-group c-overflow">
            </div>
        </div>

        <div class="col-md-8 col-sm-8 m-body m-sidebar">
            <header class="mb-header">
                <ul class="tab tab-nav" data-tab-color="green">
                    <li class="waves-effect col-md-6 active" id="tabChat">
                        <a href="#user-chat" data-toggle="tab" style="height:9.5%">Tin nhắn</a>
                    </li>
                    <li class="waves-effect col-md-6" id="tabComment" onclick="InitCommentTable()">
                        <a href="#user-comment" data-toggle="tab" style="height:9.5%">Bình luận</a>
                    </li>
                </ul>
            </header>
            <div class="tab-content">
                <div class="tab-pane active" id="user-chat">
                    @*<div class="">*@
                    <div class="mbh-user clearfix" id="">
                        <img src="" alt="" class="img-user" id="profile-picture-header">
                        <div id="user-name-header" class="p-t-5"></div>
                        <ul class="actions">
                            <li>
                                <a href="#">
                                    <i class="zmdi zmdi-refresh-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="zmdi zmdi-delete"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="#">Contact Info</a>
                                    </li>
                                    <li>
                                        <a href="#">Mute</a>
                                    </li>
                                    <li>
                                        <a href="#">Clear Messages</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @*</div>*@
                    <hr />
                    <div class="mbl-messages c-overflow" style="height: 67%"></div>
                    <div class="mbl-compose">
                        <textarea id="message-content" placeholder="Type a message..."></textarea>
                        <button id="btn-send-message"><i class="zmdi zmdi-mail-send"></i></button>
                    </div>
                </div>

                <div id="user-comment" class="tab-pane" style="height:94%">
                    @*<div class="table-responsive">
                        <table id="tblUserComment" class="table table-hover dataTable table-condensed table-striped no-footer " width="100%">
                            <thead>
                                <tr>
                                    <th>Bình luận</th>
                                    <th>Bài đăng</th>
                                    <th>Thời gian</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>*@




                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12" style="padding: 0">
        <div class="col-md-12 col-sm-12 m-sidebar">
            <header>
                <ul class="tab tab-nav" data-tab-color="green">
                    <li class="waves-effect col-md-4 active">
                        <a href="#info-content" data-toggle="tab">
                            Thông tin
                        </a>
                    </li>
                    <li class="waves-effect col-md-4">
                        <a href="#invoice-content" data-toggle="tab">
                            Đơn hàng
                        </a>
                    </li>
                    <li class="waves-effect col-md-4">
                        <a href="#cate-content" data-toggle="tab">
                            Chi Tiết Đơn Hàng
                        </a>
                    </li>
                </ul>
            </header>
            <div class="tab-content">
                <div id="info-content" class="tab-pane active fade in" style="height:94%">
                    <div class="info-customer">
                        <a id="info-edit-cancel" href="#" class="edit-info edit-info-cancel pull-left hidden"><i class="zmdi zmdi-close"></i>Hủy</a>
                        <a id="info-edit" href="#" class="edit-info pull-right"><i class="zmdi zmdi-edit"></i>Chỉnh sửa thông tin</a>
                        <div class="info-item waves-effect">
                            <i class="zmdi zmdi-account"></i>
                            <input type="text" value="" id="facebook-id" disabled hidden />
                        </div>
                        <div class="info-item waves-effect">
                            <i class="zmdi zmdi-account"></i>
                            <input type="text" value="" id="name-customer" disabled />
                        </div>
                        <div class="info-item waves-effect">
                            <i class="zmdi zmdi-email"></i>
                            <input type="text" value="" disabled id="email-customer" />
                        </div>
                        <div class="info-item waves-effect">
                            <i class="zmdi zmdi-phone"></i>
                            <input type="text" value="" disabled id="phone-customer" />
                        </div>
                        <div class="info-item waves-effect">
                            <i class="zmdi zmdi-home"></i>
                            <input id="addr-customer" class="" disabled />
                            <i class="zmdi zmdi-map button-map"></i>
                        </div>
                        <div class="maps">
                            <div id="map-canvas" style="width: 100%; height: 180px;"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="note">
                        <header>
                            <h5>Ghi chú</h5><br />
                            <a href="#" id="edit-note-cancel" class="edit-info edit-info-cancel pull-right hidden"><i class="zmdi zmdi-close"></i>Hủy</a>
                            <a href="#" id="edit-note" class="edit-info pull-right"><i class="zmdi zmdi-edit"></i>Chỉnh sửa ghi chú</a>
                        </header>
                        <textarea id="note-area" placeholder="Không có ghi chú nào." disabled></textarea>
                    </div>
                    <hr />
                    <div class="invoice-container">
                        <table style="width:100%" id="tblOrderOverview">
                            <thead>
                                <tr>
                                    <th>Mã hóa đơn</th>
                                    <th>Ngày đặt hàng</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div id="invoice-content" class="tab-pane fade" style="height:94%">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-5">
                                <select class="form-control" id="category-menu" data-filter="category">
                                    <option value="-1">Tất cả</option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control" data-filter="name" placeholder="Tìm theo tên" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12" style="width:100%; margin-top: 15px;height: 50%;">
                            <div id="forScroll" class="row small-margin" style="height:calc(94% - 20px); overflow-y: auto; overflow: hidden; outline:none ;padding: 0">
                                <ul class="row small-margin" data-role="service-container" id="iso-container" style="width:100%; list-style-type: none; padding-left: 0"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 c-overflow order-container">
                        <table id="orderItemDatatable" class="table table-hover dataTable table-condensed table-striped no-footer">
                            <thead style="white-space: nowrap;">
                                <tr>
                                    <th>
                                        <label class="">Tên</label>
                                    </th>
                                    <th>
                                        <label class="">Đơn giá</label>
                                    </th>
                                    <th>
                                        <label class="">SL</label>
                                    </th>
                                    <th>
                                        <label class="">Tổng cộng</label>
                                    </th>
                                    <th>
                                        <label class="">Thao tác</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <label id="total-Item" class="pull-right text-bold"></label>
                    </div>
                    <button class="pull-right btn-order" type="submit" onclick="confirmOrder()">Đặt hàng</button>
                </div>
                <div id="cate-content" class="tab-pane fade">
                    <div class="info-customer">
                        <div class="info-customer">
                            <div class="info-item waves-effect">
                                <i class="zmdi zmdi-account"></i>
                                <input type="text" value="" id="order-name-customer" />
                            </div>
                            <div class="info-item waves-effect">
                                <i class="zmdi zmdi-email"></i>
                                <input type="text" value="" id="order-email-customer" />
                            </div>
                            <div class="info-item waves-effect">
                                <i class="zmdi zmdi-phone"></i>
                                <input type="text" value="" id="order-phone-customer" />
                            </div>
                            <div class="info-item waves-effect">
                                <i class="zmdi zmdi-home"></i>
                                <input type="text" value="" id="order-addr-customer" />
                                <i class="zmdi zmdi-map button-map"></i>
                            </div>
                            <div class="maps">
                                <div id="map-canvas-order" style="width: 100%; height: 180px;"></div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="note">
                        <header>
                            <h5>Ghi chú</h5>
                        </header>
                        <textarea id="order-note-area" placeholder="Không có ghi chú nào" style="height:40px;"></textarea>
                    </div>
                    @*<hr />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <select class="form-control" id="category-menu" data-filter="category">
                                        <option value="-1">Tất cả</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <input class="form-control" data-filter="name" placeholder="Tìm theo tên" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="width:100%; margin-top: 15px;">
                                <div id="forScroll" class="row small-margin" style="height:calc(94% - 20px); overflow-y: auto; overflow: hidden; outline:none ;padding: 0">
                                    <ul class="row small-margin" data-role="service-container" id="iso-container" style="width:100%; list-style-type: none; padding-left: 0"></ul>
                                </div>
                            </div>
                        </div>*@
                </div>

            </div>
        </div>
    </div>
</div>

<template id="templatePreview">
    <a class="list-group-item media" href="#" tabindex="" id="">
        <div class="pull-left">
            <img src="" alt="profile-picture" class="img-user mCS_img_loaded">
        </div>
        <div class="media-body">
            <div class="lgi-heading" id=""></div>
            <small class="lgi-text"></small><br />
            <small class="ms-time"></small>
        </div>
    </a>
</template>

<template id="templateMessage">
    <div class="mblm-item mblm-item-left">
        <div>
            <div class="mblmi-img">
                <img src="~/Content/images/login/Contact-background.jpg" alt="">
            </div>
        </div>
        <small>6:10 PM</small>
    </div>
    <div class="mblm-item mblm-item-left">
        <div>
            Donec id elit non mi porta gravida at eget metus
        </div>
        <small>6:11 PM</small>
    </div>
</template>

<template id="tmpServiceItem">
    <li class="col-md-3 col-sm-2">
        <div class="service-item service-item-sm no-border">
            <div class="ratio-wrapper ratio-wrapper-1-1">
                <div class="ratio-item">
                    <a class="img-container" data-spinner="plus">
                        <input type="hidden" value="" data-role="productId" />
                        <img src="/Content/images/Default_product_img.jpg"
                             onerror="window.HMS.ServiceItemHandler.resetDefaultImage(this)">
                        <div class="price">
                            <label data-role="price"></label>
                        </div>
                        <div class="title">
                            <label data-role="name"></label>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ace-spinner touch-spinner">
                <div class="input-group">
                    <div class="spinner-buttons input-group-btn spinner-left" data-spinner="minus">
                        <button class="btn btn-danger btn-minus btn-xs">
                            <i class="fa fa-minus smaller-75"></i>
                        </button>
                    </div>
                    <input type="text" class="input-sm input-quantity form-control" value="1" maxlength="4" onkeyup="this.value = checkDigit(this.value)">
                    <div class="spinner-buttons input-group-btn spinner-right" style="right:31px">
                        <button class="btn btn-success btn-plus btn-xs" data-type="spinner">
                            <i class="fa fa-plus smaller-75"></i>
                        </button>
                    </div>
                    <div class="spinner-buttons input-group-btn spinner-right">
                        <button class="btn btn-success btn-order btn-xs" data-action="order-item" data-type="spinner">
                            <i class="fa fa-check smaller-75"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </li>
</template>

<template id="tmpServiceItemRow">
    <tr>
        <td data-role="name"></td>
        <td data-role="price"></td>
        <td data-role="quantity"></td>
        <td data-role="total"></td>
        <td>
            <button class="btn btn-xs btn-primary" data-action="edit-ordered-item"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-xs btn-danger" data-action="delete-ordered-item"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
    </tr>
</template>
<template id="tmpExtraRow">
    <tr data-role="extra">
        <td data-role="extra-name"></td>
        <td data-role="extra-price"></td>
        <td data-role="extra-quantity"></td>
        <td data-role="extra-total"></td>
        <td>
            <button class="btn btn-xs btn-primary" data-action="edit-ordered-item"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-xs btn-danger" data-action="delete-ordered-item"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
    </tr>
</template>

<template id="tmpExtraTab">
    <li class="extra-item">
        <span class="button extra-minus">
            <i class="zmdi zmdi-minus-circle-outline"></i>
        </span>
        <span class="extra-quantity">
            0
        </span>
        <span class="button extra-plus">
            <i class="zmdi zmdi-plus-circle-o"></i>
        </span>
        <span class="extra-name">
        </span>
        <span data-role="price" class="extra-price"></span>
    </li>
</template>
<script src="~/Content/Delivery/delivery.js"></script>
<script>
    var orderDetail;
    var shopId = '@ViewBag.currentStore.FbShopId';
    var userExisted = false;
    var loadAllOrderList;
    var customerModel;
    //Message region

    //Load all previews
    setTimeout(function () {
        $.get('@Url.Action("GetConversationPreviews", "Messenger")', function (data) {
            if (data.success != false) {
                var first = "";
                for (i = 0; i < data.length; i++) {
                    console.log(data[i].ThreadId);
                    if (i == 0) {
                        first = data[i].ThreadId;
                    }
                    var isSelecting = false;
                    if (data[i].UserFbId == $('.mbh-user').attr('id')) {
                        isSelecting = true;
                    }
                    $template = $('#templatePreview').html().trim();
                    $('#list_conversation #mCSB_2_container').append($template);
                    var preview = $('#list_conversation .list-group-item:nth-child(n + ' + (i + 1) + ')');
                    preview.find('img').attr('src', data[i].AvatarUrl);
                    preview.find('div.lgi-heading').html(data[i].UserName);
                    preview.find('div.lgi-heading').attr('id', data[i].UserFbId);
                    preview.find('small.lgi-text').html(data[i].RecentMess);
                    preview.find('small.ms-time').html(FormatChatDateTimeVN(data[i].CreatedTime));
                    preview.attr('id', data[i].ThreadId);

                    if (data[i].RecentMess == null || data[i].RecentMess == '') {
                        var recent = preview.find('small.lgi-text');
                        if (data[i].AttachmentType == "img") {
                            recent.html(data[i].UserName + " đã gửi ảnh.");
                        }
                        else {
                            recent.html(data[i].UserName + " đã gửi tập tin.");
                        }
                    }

                    preview.data('intentid', data[i].IntentId);

                    preview.on("click", function () {
                        var conversation = this;
                        var conversationId = $(conversation).attr('id');
                        var content = $(conversation).data('content');
                        if (content == null) {
                            $.ajax({
                                url: '@Url.Action("GetConversationContent", "Messenger")',
                                data: { 'conversationId': $(conversation).attr('id'), 'userFacebookId': $(conversation).find('div.lgi-heading').attr('id') },
                                type: 'GET',
                                success: function (data) {
                                    if (data.success) {
                                        $(conversation).data('content', data.content);
                                        $(conversation).data('user', data.user);
                                        $(conversation).data('avatar', $(conversation).find('img').attr('src'));
                                        $('#tabComment').attr("data-userId", data.user.id);
                                        DisplayConversationContent($(conversation).data('content'), $(conversation).data('avatar'), $(conversation).attr('id'));
                                        infoEditable = true;
                                        customerModel = data.user;
                                        $('#info-edit-cancel').click();
                                        $('#edit-note-cancel').click();
                                        SetUserInfo(data.user);
                                        saveTemporaryInfo();
                                        saveDescription();

                                        $('#tabComment').removeClass('active');
                                        $('#user-comment').removeClass('active');

                                        $('#tabChat').addClass('active');
                                        $('#user-chat').addClass('active');
                                    }
                                },
                                error: function (data) {
                                    ShowMessage("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin", 1);
                                }
                            });
                        } else {
                            DisplayConversationContent(content, $(conversation).data('avatar'), $(conversation).attr('id'));
                            infoEditable = true;
                            $('#info-edit-cancel').click();
                            $('#edit-note-cancel').click();
                            SetUserInfo($(conversation).data('user'));
                            saveTemporaryInfo();
                            saveDescription();
                        }

                        $('#user-name-header').html($(conversation).find('div.lgi-heading').html());

                        $.ajax({
                            url:'@Url.Action("LoadAllOrder", "Messenger")',
                            type: 'GET',
                            data: {'facebookId': $(conversation).find('div.lgi-heading').attr('id')},
                            success: function(result) {
                                if(result.success) {
                                    $('#tblOrderOverview').dataTable({
                                        "bSort": false,
                                        "bPaginate": false,
                                        "bInfo": false,
                                        "bRetrieve": false,
                                        "bServerSide": false,
                                        "bScrollCollapse": true,
                                        "bDestroy": true,
                                        "bProcessing": true,
                                        "bFilter": false,
                                        "bLengthChange": false,
                                        "data": result.orders,
                                        "iDisplayLength": result.orders.length,
                                        "oLanguage": {
                                            "sSearch": "Tìm kiếm:",
                                            "sZeroRecords": "Không có dữ liệu phù hợp",
                                            "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                                            "sEmptyTable": "Không có dữ liệu",
                                            "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                                            "sLengthMenu": "Hiển thị _MENU_ dòng",
                                            "sProcessing": "Đang xử lý...",
                                            "oPaginate": {
                                                "sNext": "<i class='fa fa-chevron-right'></i>",
                                                "sPrevious": "<i class='fa fa-chevron-left'></i>"
                                            },
                                            "sSearchPlaceholder": "Mã hóa đơn"
                                        },
                                        "aoColumnDefs": [
                                           {
                                               "aTargets": [0, 1],
                                               "sClass": "text-center"
                                           },
                                           {
                                               "aTargets": [0],
                                               "mRender": function (data,type,row){
                                                   return "<a href='#'>" + data + "</a>";
                                               }

                                           },
                                           {
                                               "aTargets": [1],
                                               "mRender": function(data, type, row) {
                                                   var date = moment(data);
                                                   return date.format("DD/MM/YYYY");
                                               }
                                           }
                                        ],
                                        "bAutoWidth": false
                                    });

                                    $('#tblOrderOverview a').on("click", function() {
                                        $.ajax({
                                            url: '@Url.Action("OrderDetail", "Messenger")',
                                            data: { "invoiceId": $(this).html() },
                                            type: "POST",
                                            success: function(result) {
                                                $('#modalOrderDetails').html(result);
                                                $('#modalOrderDetails').modal("show");
                                            }
                                        });
                                    });
                                }

                                setTimeout(function() {
                                    $(".mCustomScrollbar").mCustomScrollbar("scrollTo", "bottom");
                                }, 100);
                            }
                        });
                    });
                }

                $('#list_conversation #mCSB_2_container a:first-child').click();
            }
            else {
                //$('#conv_loading').hide();
                //$('#no_result').unbind('click');
                //$('#no_result').show();
            }
            $('#conv_loading').hide();
        });
    }, 300);

    function SetUserInfo(user) {
        if (user != null) {
            userExisted = true;
            $('#name-customer').val(user.Name);
            $('#facebook-id').val(user.FacebookId);
            $('#email-customer').val(user.Email);
            $('#phone-customer').val(user.Phone);
            $('#addr-customer').val(user.Address);
            $('#note-area').val(user.Description);

            $('#order-note-area').val('');
            $('#order-name-customer').val(user.Name);
            $('#order-email-customer').val(user.Email);
            $('#order-phone-customer').val(user.Phone);
            $('#order-addr-customer').val(user.Address);
        } else {
            userExisted = false;
            setTimeout(function () {
                $('#name-customer').val($('#user-name-header').html());
            }, 200);
            $('#facebook-id').val('');
            $('#email-customer').val('');
            $('#phone-customer').val('');
            $('#addr-customer').val('');
            $('#note-area').val('');
        }
    }

    function DisplayConversationContent(data, avatar, threadId) {
        $('#btn-send-message').data('threadId', threadId);
        $('#mCSB_3_container').html('');
        $('#profile-picture-header').attr('src', avatar);

        var finalContent = "";

        for (i = 0; i < data.Messages.length; i++) {
            var message = data.Messages[i];
            //Check has attachments
            var cssClass = message.UserId != shopId ? "mblm-item-left" : "mblm-item-right";

            var strMessage = '<div class="mblm-item ' + cssClass + '">';

            if(message.UserId != shopId) {
                strMessage += '<img src="' + avatar + '" alt="profile-picture" class="img-user">';
            }
            //strMessage += '<img src="' + avatar + '" alt="profile-picture" class="img-user">';
            strMessage += '<div>';
            if (message.Attachments.length > 0) {
                strMessage += '<div class="attachments">';
                for (var j = 0; j < message.Attachments.length; j++) {
                    var att = message.Attachments[j];
                    if (att.Type == "img") {
                        //strMessage += '<div class="mblmi-img">';
                        strMessage += '<img alt="image" class="mblmi-img img-attachment" src="' + att.Url + '">'
                        //strMessage += '</div>';

                        if (j == message.Attachments.length - 1) {
                            strMessage += '<br/>';
                        }
                    }
                    else {
                        strMessage += '<div style="word-wrap: break-word;">';
                        strMessage += '<a href="' + att.Url + '" target="_blank" style="color:white;">' + att.Filename + '</a>';
                        strMessage += '</div><br/>';
                    }
                }
                strMessage += '</div>';
            }

            if (message.MessContent.length > 0) {
                strMessage += message.MessContent;
            }

            if (i == 0) {
                var recent = $('a[id="' + threadId + '"]').find('small.lgi-text');
                if (message.MessContent != null && message.MessContent != '') {
                    recent.html(message.MessContent);
                } else if (message.Attachments.length > 0) {
                    var att = message.Attachments[0];
                    if (att.Type == "img") {
                        recent.html($('#user-name-header').html() + " đã gửi ảnh.");
                    }
                    else {
                        recent.html($('#user-name-header').html() + " đã gửi tập tin.");
                    }
                }
            }

            strMessage += '</div>';

            strMessage += '<small>' + FormatChatDateTimeVN(message.DateCreated) + '</small>';
            strMessage += '</div>';

            //$('#mCSB_3_container').prepend(strMessage);
            finalContent = strMessage + finalContent;
            //if (message.UserId != shopId) {
            //    $('#mCSB_3_container > div:first-child').addClass('mblm-item-left');
            //    $('#mCSB_3_container > div:first-child').prepend('<img src="' + avatar + '" alt="profile-picture" class="img-user">');
            //} else {
            //    $('#mCSB_3_container > div:first-child').addClass('mblm-item-right');
            //}

            $('.attachments').each(function () {
                $(this).parent().css({ 'padding': '0px', 'background': 'none' })
            });
        }

        $('#mCSB_3_container').append(finalContent);

        if(data.NextUrl != "null") {
            $('#mCSB_3_container').prepend('<a href="#" id="next-content" class="col-md-12" style="text-align:center;">Load previous messages...</a>');
            $('#next-content').unbind('click');

            $('#next-content').click(function () {
                $('#next-content').attr('disabled', true);
                $.ajax({
                    method: 'POST',
                    url: '/Messenger/GetConversationContentNext',
                    data: { "url": data.NextUrl, "storeId": @ViewBag.currentStore.ID },
                    success: function (data) {
                        $('#next-content').remove();
                        if (data != null) {
                            var conversation = $('a[id="' + $('#btn-send-message').data('threadId') + '"]');
                            var messages = conversation.data('content');

                            if (messages != null) {
                                var message = data.Messages;
                                messages.Messages = messages.Messages.concat(message);
                                messages.NextUrl = data.NextUrl;
                                conversation.data('content', messages);

                                DisplayConversationContent(messages, $('a[id="' + $('#btn-send-message').data('threadId') + '"]').find('img').attr('src'), $('#btn-send-message').data('threadId'));
                            } else {
                                DisplayConversationContent(data);
                            }
                        }
                    }
                });
            });
        }

        $(".mCustomScrollbar").mCustomScrollbar("update");
    }

    $('#btn-send-message').click(function () {
        var tid = $(this).data('threadId');
        var mess = $('#message-content').val();

        if (mess.trim().length > 0) {
            var strMessage = '<div class="mblm-item mblm-item-right">';
            strMessage += '<div>';
            strMessage += mess;

            $('a[id="' + $(this).data('threadId') + '"]').find('small.lgi-text').html(mess);

            strMessage += '</div>';

            strMessage += '<small>Hôm nay ' + moment().format("h:mma").toLowerCase() + '</small>';
            strMessage += '</div>';

            $('#mCSB_3_container > div:last-child').addClass('mblm-item-right');

            var sent_id = "";

            $(document).unbind('ajaxStart');
            $(document).unbind('ajaxStop');

            $.ajax({
                async: false,
                method: 'POST',
                async: true,
                url: '@Url.Action("SendMessage", "Messenger")',
                data: {
                    "threadId": tid,
                    "message": mess
                },
                success: function (data) {
                    if (data.success) {
                        sent_id = data.id;

                        var conversation = $('a[id="' + $('#btn-send-message').data('threadId') + '"]');
                        var messages = conversation.data('content');

                        if (messages != null) {
                            var message = data.message;
                            messages.Messages.splice(0, 0, message);
                            conversation.data('content', messages);

                            DisplayConversationContent(messages, $('a[id="' + $('#btn-send-message').data('threadId') + '"]').find('img').attr('src'), $('#btn-send-message').data('threadId'));
                            setTimeout(function() {
                                $(".mCustomScrollbar").mCustomScrollbar("scrollTo", "bottom");
                            }, 100);
                        }
                    }
                    else {
                        ShowMessage("Không thể gửi tin nhắn, vui lòng thử lại.", 1);
                    }
                },
                error: function (data) {
                    ShowMessage("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin", 1);
                }
            });

            $(document).bind('ajaxStart', function () {
                $('.loading-gif').fadeIn();
            }).bind('ajaxStop', function () {
                $('.loading-gif').fadeOut();
            });

            $('#mCSB_3_container').append(strMessage);
            $('#message-content').val('');
            setTimeout(function() {
                $(".mCustomScrollbar").mCustomScrollbar("scrollTo", "bottom");
            }, 100);
        }
    });

    $('#message-content').on('keypress', function (e) {
        if ((e.keyCode || e.which) == 13) {
            e.preventDefault();
            $('#btn-send-message').click();
        }
    });
    //End Message region


    function AddAndUpdateCustomer() {
        var url = "";
        if (userExisted) {
            url = '@Url.Action("EditCustomer", "Messenger")';
        } else {
            url = '@Url.Action("AddCustomer", "Messenger")';
        }

        $.ajax({
            url: url,
            type: "POST",
            data: { Name: name, Address: address, Phone: phone, Email: email, Description: description, FacebookId: $('a[id="' + $('#btn-send-message').data('threadId') + '"]').find('div.lgi-heading').attr('id') },
            success: function (result) {
                if (result.success) {
                    var customer = result.customer;
                    var conversation = $('a[id="' + $('#btn-send-message').data('threadId') + '"]');
                    conversation.data('user', customer);
                    userExisted = true;
                    if (userExisted) {
                        ShowMessage("Cập nhật khách hàng thành công!", 2);
                    } else {
                        ShowMessage("Thêm khách hàng thành công!", 2);
                    }
                }
            },
            error: function (result) {
                ShowMessage("Có lỗi xảy ra, vui lòng liên hệ admin!", 1);
            }
        });
    }

    var infoEditable = false;
    var desEditable = false;
    var name = "", address = "", phone = "", email = "", description = "", facebookId = "";
    function saveTemporaryInfo() {
        name = $('#name-customer').val();
        address = $('#addr-customer').val();
        email = $('#email-customer').val();
        phone = $('#phone-customer').val();
        facebookId = $('#facebook-id').val();
    }

    function saveDescription() {
        description = $('#note-area').val();
    }

    var echo = 0, MAX_VALUE = 500, MIN_VALUE = 1;
    $('#info-edit').on('click', function () {
        if (infoEditable == false) {
            $('#info-content .info-item input').removeAttr('disabled');
            $('#info-content .info-item textarea').removeAttr('disabled');
            $('#info-edit-cancel').removeClass('hidden');
            $(this).html('<i class="zmdi zmdi-download"></i>Lưu thông tin');
            saveTemporaryInfo();
        }
        else {
            saveTemporaryInfo();
            $('#info-content .info-item input').attr('disabled', 'disabled');
            $('#info-content .info-item textarea').attr('disabled', 'disabled');
            $('#info-edit-cancel').addClass('hidden');
            $(this).html('<i class="zmdi zmdi-edit"></i>Chỉnh sửa thông tin');
            AddAndUpdateCustomer();
        }
        infoEditable = !infoEditable;
    });

    $('#info-edit-cancel').on('click', function () {
        $('#info-content .info-item input').attr('disabled', 'disabled');
        $('#info-content .info-item textarea').attr('disabled', 'disabled');
        $(this).addClass('hidden');
        $('#info-edit').html('<i class="zmdi zmdi-edit"></i>Chỉnh sửa thông tin');
        infoEditable = false;
        $('#facebook-id').val(facebookId);
        $('#name-customer').val(name);
        $('#addr-customer').val(address);
        $('#email-customer').val(email);
        $('#phone-customer').val(phone);
    });

    $('#edit-note').click(function () {
        if (desEditable == false) {
            $('#note-area').removeAttr('disabled');
            $('#edit-note-cancel').removeClass('hidden');
            $(this).html('<i class="zmdi zmdi-download"></i> Lưu ghi chú');
            saveDescription();
        }
        else {
            saveDescription();
            $('#note-area').attr('disabled', 'disabled');
            $('#edit-note-cancel').addClass('hidden');
            $(this).html('<i class="zmdi zmdi-edit"></i> Chỉnh sửa ghi chú');
            AddAndUpdateCustomer();
        }
        desEditable = !desEditable;
    });

    $('#edit-note-cancel').on('click', function () {
        $('#note-area').attr('disabled', 'disabled');
        $(this).addClass('hidden');
        $('#edit-note').html('<i class="zmdi zmdi-edit"></i>Chỉnh sửa ghi chú');
        desEditable = false;
        $('#note-area').val(description);
    });

    $(document).ready(function () {

        loadAllCategory();
        renderServiceItem();
        $("#forScroll").niceScroll({
            cursorcolor: "black",
            cursoropacitymin: 0.3,
            background: "#bbb",
            cursorborder: "1",
            autohidemode: true,
            cursorfixedheight: 50
        });
        window.OnlineOrder = new DeliveryOrder(window['storeId'],
            '@Url.Action("CreateOnlineOrder")');
        $(function () {
            google.maps.event.addDomListener(window, 'load', initialize('map-canvas'));
        });
        $('.maps').hide();
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('addr-customer')), { types: ['geocode'] });
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('order-addr-customer')), { types: ['geocode'] });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $('.maps').hide();
            var href = $(this).attr("href");
            var str = "map-canvas";
            if(href == "#invoice-content"){
                str = "map-canvas-order"
            }
            initialize(str);

        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            fillInAddress();
        });

    });

    function loadAllCategory() {
        $.ajax({
            url: '@Url.Action("LoadAllCategory","Messenger", new { @area="Facebook"})',
            type: "POST",
            success: function (result) {
                if (result != null && result.length > 0) {
                    //render to store dropdown
                    $('#category-menu').html();
                    for (var i = 0; i < result.length; i++) {
                        $('#category-menu').append("<option value=\'" + result[i].CategoryId + "\'>" + result[i].Name + "</option>");
                    }
                }
            },
            error: function (error) {
                ShowMessage("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin", 1);
            }
        });
    };


    function renderServiceItem() {

        var filter_category = $('[data-filter="category"]').val(),
            filter_name = $('[data-filter="name"]').val();

        $.ajax({
            url: '@Url.Action("LoadItemByCategory", "Messenger")',
            type: 'POST',
            data: {
                echo: ++echo,
                cateId: filter_category,
                'pattern': filter_name,
            },
            cache: true,
            success: function (result) {
                if (result.echo >= echo) {
                    var nodes = [];
                    $.each(result.products, function (i, e) {
                        var node = $($('#tmpServiceItem').html().trim());
                        node.children().data('ServiceItem', e);
                        node.find('[data-role="name"]').html(e.name);
                        node.find('[data-role="price"]').html(e.price);
                        node.find('[data-role="productId"]').val(e.id);
                        nodes.push(node);
                    });
                    $('[data-role=service-container]').html(nodes);
                    $('.scroll-div').niceScroll();
                }
            }
        });
    }

    $('[data-filter="category"]').on('change', function () {
        renderServiceItem();
    });

    $('[data-filter="name"]').on('keyup', function () {
        renderServiceItem();
    });

    $(document).on('click', '[data-spinner="plus"]', function (e) {
        $.ajax({
            url: "@Url.Action("getProductDetail", "Messenger")",
            data: {
                productId: $(this).find('[data-role="productId"]').val()
            },
            success: function (result) {
                $('#modalInfoProduct').modal('show');
                //$($('#modalInfoProduct-content').html().trim()).data('ProductDetail', result);
                $('#modalInfoProduct-content').html(result);
                //$('#modalInfoProduct-content').data('ProductDetail', result);
            }
        });
    });

    $(document).on('click', '.btn-plus', function (e) {
        var item = $(e.currentTarget).parents('.service-item'),
            input = item.find('.input-quantity'),
            currentValue = $(input).val();
        currentValue++;
        $(input).val(currentValue);
    });

    $(document).on('click', '.btn-minus', function () {
        var input = $(event.toElement).closest('.input-group').children('.input-quantity');
        var label = $(event.toElement).closest('.ace-spinner').closest('li').find('.label');
        var currentValue = $(input).val();
        if (currentValue <= MIN_VALUE) {
            return;
        }
        currentValue--;
        $(input).val(currentValue);
        $(label).html(currentValue);
    });

    $(document).on('click', '[data-action="order-item"]', function () {
        var $item = $(this).parents('.service-item'),
            data = $item.data('ServiceItem');
        data.quantity = parseInt($item.find('.input-quantity').val());
        data.extra = new Array();

        //check redudant
        var allOrderDetails = window.OnlineOrder.Order.OrderDetails;
        //loadAllOrderList  = window.OnlineOrder.Order.OrderDetails;
        var checkOrder = false;
        var index = -1;
        var numOfOrder = checkNumOfProductOrder(allOrderDetails, data);
        if (numOfOrder.length == 0) {
            addNewOrderDetail(data);
            ShowMessage("Thêm hàng vào giỏ thành công", 2);
            return;
        }

        for (var i = 0; i < numOfOrder.length; i++) {

            checkOrder = checkOrderDetail(allOrderDetails[numOfOrder[i]], data);
            if (checkOrder == false) {
                allOrderDetails[numOfOrder[i]]['Quantity'] += data.quantity;
                var totalAmount = totalPrice(data.extra, allOrderDetails[numOfOrder[i]].Quantity, data.price),
                   finalAmount = totalAmount * (100 - data.discount) / 100;
                allOrderDetails[numOfOrder[i]]['TotalAmount'] = totalAmount;
                allOrderDetails[numOfOrder[i]]['FinalAmount'] = finalAmount;
                $('#orderItemDatatable tbody tr[data-id=' + allOrderDetails[numOfOrder[i]]['Id'] + '] td[data-role=quantity]').html(allOrderDetails[numOfOrder[i]]['Quantity']);
                $('#orderItemDatatable tbody tr[data-id=' + allOrderDetails[numOfOrder[i]]['Id'] + '] td[data-role=total]').html(toMoney(finalAmount, '.', ''));

                $('#total-Item').html('Tổng cộng : ' + toMoney(window.OnlineOrder.getTotal(), ',', ''));
                ShowMessage("Thêm hàng vào giỏ thành công", 2);
                return;
            }

            if (checkOrder == true && i == (numOfOrder.length - 1) && index == -1) {
                addNewOrderDetail(data);
                ShowMessage("Thêm hàng vào giỏ thành công", 2);
                return;
            }
        }
        addNewOrderDetail(data);
    });

    function checkNumOfProductOrder(allOrderDetails, data) {
        var count = new Array();
        loadAllOrderList = allOrderDetails;
        for (var i = 0; i < allOrderDetails.length; i++) {
            if (allOrderDetails[i]['ProductID'] == data.id) {
                count.push(i);
            }
        }
        return count;
    }

    function totalPrice(extras, currentValue, price) {
        var total = 0;
        $.each(extras, function (i, e) {
            total += this.Quantity * this.Money * currentValue;
        });
        return total + price * currentValue;
    }

    function addNewOrderDetail(data) {
        var orderId = window.OnlineOrder.addOrderDetail(data);
        var $tmpItemRow = $($('#tmpServiceItemRow').html().trim());
        $.each(data, function (i, e) {
            var $key = $tmpItemRow.find('[data-role="' + i + '"]');
            if ($key != undefined) {
                $key.html(e);
            }
        });
        $tmpItemRow.attr('data-id', orderId);
        $tmpItemRow.attr('data-role', 'order-detail');
        $tmpItemRow.find('[data-role="total"]').html(toMoney(data.price * data.quantity));
        $('#orderItemDatatable > tbody').append($tmpItemRow);
        if (data.extra.length > 0) {
            $.each(data.extra, function (j, f) {
                var $tmpExtraRow = $($('#tmpExtraRow').html().trim());
                $tmpExtraRow.attr('data-id', f.Id);
                $tmpExtraRow.attr('data-parentId', orderId);
                $tmpExtraRow.find('[data-role="extra-name"]').html(f.Name);
                $tmpExtraRow.find('[data-role="extra-price"]').html(f.Money);
                $tmpExtraRow.find('[data-role="extra-quantity"]').html(f.Quantity);
                $tmpExtraRow.find('[data-role="extra-total"]').html(toMoney(f.Quantity * f.Money));
                $('#orderItemDatatable > tbody').append($tmpExtraRow);
            });
        }

        // Add new item as row into dataTable
        $('#total-Item').html('Tổng cộng : ' + toMoney(window.OnlineOrder.getTotal(), ',', ''));
    }

    function checkOrderDetail(orderDetail, data) {
        if (data.extra.length == 0 && orderDetail.Extra.length == 0) {
            return false;
        }
        if (data.extra.length < orderDetail.Extra.length || data.extra.length > orderDetail.Extra.length) {
            return true;
        }
        if (data.extra.length == orderDetail.Extra.length) {
            for (var i = 0; i < data.extra.length; i++) {
                var exist = -1;
                for (var j = 0; j < orderDetail.Extra.length; j++) {
                    if (data.extra[i].Id == orderDetail.Extra[j].Id) {
                        exist = j;
                    }
                }
                if (exist > -1) {
                    if (data.extra[i].Quantity != orderDetail.Extra[exist].Quantity) {
                        return true;
                    }
                }
                else {
                    return true;
                }
            }
            return false;
        }
    }

    $(document).on('click', '[data-action="delete-ordered-item"]', function (e) {
        var orderId = parseInt($(this).parents('tr').attr('data-id'));
        var orderExtraId = parseInt($(this).parents('tr[data-role=extra]').attr('data-id'));
        var orderParentId = $(this).parents('tr[data-role=extra]').attr('data-parentId');
        swal({
            title: "Xác nhận",
            text: "Bạn có muốn xóa sản phẩm này không?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Đồng ý",
            closeOnConfirm: true
        },
        function(isConfirm){
            if (isConfirm) {
                if(orderParentId != undefined){
                    window.OnlineOrder.removeExtraOrder(orderParentId, orderExtraId);
                    $('#orderItemDatatable > tbody [data-role=extra][data-parentId="' + orderParentId + '"][data-id="'+orderExtraId+'"]').remove();
                }
                if(orderParentId == undefined) {
                    window.OnlineOrder.removeOrderDetail(orderId);
                    $('#orderItemDatatable > tbody [data-role=order-detail][data-id="' + orderId + '"]').remove();
                    $('#orderItemDatatable > tbody [data-role=extra][data-parentId="' + orderId + '"]').remove();
                }
                loadAllOrderList  = window.OnlineOrder.Order.OrderDetails;
                //$('#total-Item').html('Tổng cộng : ' + window.OnlineOrder.getTotal().toMoney(0, ',', '.'));
                $('#total-Item').html('Tổng cộng : ' + toMoney(window.OnlineOrder.getTotal(), ',', ''));
            }
        });
    });

    $(document).on('click', '[data-action="edit-ordered-item"]', function (e) {
        var orderId = parseInt($(this).parents('tr').attr('data-id'));
        var orderExtraId = parseInt($(this).parents('tr[data-role=extra]').attr('data-id'));
        var orderParentId = $(this).parents('tr[data-role=extra]').attr('data-parentId');
        if(orderParentId != undefined){
            orderDetail = window.OnlineOrder.findOrderedById(orderParentId);
        }
        else{
            orderDetail = window.OnlineOrder.findOrderedById(orderId);
        }
        $.ajax({
            url: "@Url.Action("ProductEditModal", "Messenger")",
            success: function (result) {
                $('#modalEditProduct-content').html(result);
                $('#modalEditProduct').modal('show');
            }
        });
    });

    var mapOpened = false;
    $('.button-map').click(function () {
        if (mapOpened == false) {
            $('.maps').show();
            mapOpened = true;
            google.maps.event.trigger(map, 'resize');
            addMarker();
        }
        else {
            $('.maps').hide();
            mapOpened = false;
        }
        //google.maps.event.trigger(map, 'resize');
        //addMarker();
    });
    /*Bản đồ*/
    var map;
    var mapOptions;
    var listStore = new Array();
    function initialize(str) {
        var styles = [{ featureType: "road.highway", stylers: [{ visibility: "off" }] }, { featureType: "landscape", stylers: [{ visibility: "off" }] }, { featureType: "transit", stylers: [{ visibility: "off" }] }, { featureType: "poi", stylers: [{ visibility: "off" }] }, { featureType: "poi.park", stylers: [{ visibility: "on" }] }, { featureType: "poi.park", elementType: "labels", stylers: [{ visibility: "off" }] }, { featureType: "poi.park", elementType: "geometry.fill", stylers: [{ color: "#d3d3d3" }, { visibility: "on" }] }, { featureType: "poi.medical", stylers: [{ visibility: "off" }] }, { featureType: "poi.medical", stylers: [{ visibility: "off" }] }, { featureType: "road", elementType: "geometry.stroke", stylers: [{ color: "#cccccc" }] }, { featureType: "water", elementType: "geometry.fill", stylers: [{ visibility: "on" }, { color: "#cecece" }] }, { featureType: "road.local", elementType: "labels.text.fill", stylers: [{ visibility: "on" }, { color: "#808080" }] }, { featureType: "administrative", elementType: "labels.text.fill", stylers: [{ visibility: "on" }, { color: "#808080" }] }, { featureType: "road", elementType: "geometry.fill", stylers: [{ visibility: "on" }, { color: "#fdfdfd" }] }, { featureType: "road", elementType: "labels.icon", stylers: [{ visibility: "off" }] }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }] }, { featureType: "poi", elementType: "geometry.fill", stylers: [{ color: "#d2d2d2" }] }];

        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles,
        { name: "Styled Map" });

        mapOptions = {
            center: new google.maps.LatLng(10.789886817455374, 106.6787300934875),
            zoom: 14,
            mapTypeControlOptions: {
                mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
        };
        map = new google.maps.Map(document.getElementById(str),mapOptions);
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
        window.map = map;
        window.geocoder = new google.maps.Geocoder();
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        $('.button-map').trigger('click');
    }

    var resultMarker = null;

    function addMarker() {
        var id = $('.tab-pane.active').attr("id");
        var address = $('#addr-customer').val();
        if(id == "invoice-content"){
            address = $('#order-addr-customer').val();
        }
        window.geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                if (resultMarker != null) {
                    resultMarker.setMap(null);
                }
                resultMarker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                ShowMessage("Geocode không thành công vì: " + status, 1);
            }
        });
    }


    function FormatChatDateTimeVN(date) {
        var milli = date.replace(/\/Date\((-?\d+)\)\//, '$1');
        var d = new Date(parseInt(milli));

        var now = new Date();
        var day = "";
        if (d.getDate() == now.getDate()) {
            day = "Hôm nay";
        }
        else if (d.getDate() == now.getDate() - 1) {
            day = "Hôm qua";
        }
        else {
            day = d.getDate() + "/" + (d.getMonth() + 1);
            if (now.getFullYear() != d.getFullYear()) {
                day += "/" + d.getFullYear().toString().substr(2, 2);
            }
        }

        var hours = d.getHours();
        var minutes = d.getMinutes();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ampm;

        return day + " " + strTime;
    }

    function confirmOrder() {
        swal({
            title: "Xác nhận",
            text: "Bạn có muốn tạo hóa đơn này không?",
            type: "warning",
            showCancelButton: true,

            cancelButtonText: "Hủy bỏ",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Đồng ý",
            closeOnConfirm: true
        },
        function(isConfirm){
            debugger
            if(isConfirm){
                var dataAllOrderList = JSON.stringify(loadAllOrderList);
                var CustomerId = customerModel.CustomerID;
                $.ajax({
                    dataType: 'JSON',
                    url: '@Url.Action("CreateOrder")',
                    type: 'GET',
                    data: {
                        "FacebookId": facebookId,
                        "DeliveryAddress": address,
                        "OrderDetails" : dataAllOrderList,
                        "CustomerId" : CustomerId,
                    },
                    success: function (result) {
                        if (result.success) {
                            ShowMessage(result.msg, 2);
                        } else {
                            ShowMessage(result.msg, 1);
                        }
                    },
                    error: function (error) {
                        ShowMessage("Error Occured", 1)
                    }
                });
                $('#orderItemDatatable > tbody [data-role=order-detail]').remove();
                $('#orderItemDatatable > tbody [data-role=extra]').remove();
                $('#total-Item').remove();
                window.OnlineOrder.Order.OrderDetails = window.OnlineOrder.Order.OrderDetails.filter(function (o, n) {
                    return o.Id === -1;
                });
                console.log();
            }
        });
    }

    function InitCommentTable() {
        var conversation = $('a[id="' + $('#btn-send-message').data('threadId') + '"]');
        $("#tblUserComment").dataTable({
            "oLanguage": {
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "bDestroy": true,
            "sDom": 'l<"CommentToolBar">rtip',
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("GetAllCommentByUser", "Messenger")",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "SenderId", "value": $(conversation).find('div.lgi-heading').attr('id') });
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "mData": function (source) {
                        return "<a href='https://www.facebook.com/" + source.Id + "'target='_blank' >" + source.CommentContent + "</a>"
                    },
                    "sClass": "text-left",
                    "width": "20%",
                },
                {
                    "aTargets": [1],
                    "mData": function (source) { return "<a href='https://www.facebook.com/" + source.PostId + "' target='_blank'>" + source.PostContent + "</a>" },
                    "sClass": "text-left",
                    "width": "20%",
                },
                {
                    "aTargets": [2],
                    "mData": function (source) { return FormatDateVN(source.DateCreated) },
                    "width": "20%",
                    "sClass": "text-left",
                },
                {
                    "aTargets": [3],
                    "mData": function (source) {
                        var string = "";
                        switch (source.Status) {
                            case 1:
                                string = "<div id='conTentText" + source.Id + "' class='label label-primary myCategory'>Đang hiển thị</div>";
                                checkStatus = false;
                                break;
                            case 2:
                                string = "<div id='conTentText" + source.Id + "' class='label label-warning myCategory'>Cảnh báo</div>";
                                checkStatus = false;
                                break;
                            case 3:
                                string = "<div id='conTentText" + source.Id + "' class='label label-warning myCategory'>Đang ẩn</div>";
                                checkStatus = false;
                                break;
                            case 5:
                                string = "<div id='conTentText" + source.Id + "' class='label label-danger myCategory'>Đã xóa</div>";
                                checkStatus = true;
                                break;
                            case 4:
                                string = "<div id='conTentText" + source.Id + "' class='label label-success myCategory'>Đã duyệt</div>";
                                checkStatus = false;
                                break;
                            default:
                                string = "Invalid";
                                checkStatus = false;
                                break;
                        }
                        return string;
                    },
                    "width": "15%",
                    "sClass": "text-left",
                },

            ],
        });
        $("div.CommentToolBar").html("<div class='col-sm-2'>" +
                       //"<div class='btn-group'>" +
                       //    "<button id='selectAllButtonCommentTbl' data-toggle='dropdown' class='btn btn-default dropdown-toggle'>Đã chọn 0 bình luận&nbsp;<span class='caret'></span></button>" +
                       //    "<ul class='dropdown-menu'>" +
                       //        "<li><a href='javascript:void(0)' onclick='hideAllComment()'>Ẩn những bình luận đã chọn</a></li>" +
                       //        "<li><a href='javascript:void(0)' onclick='UnhideAllComment()'>Bỏ ẩn những bình luận đã chọn</a></li>" +
                       //        "<li><a href='javascript:void(0)' onclick='deleteAllComment()'>Xóa những bình luận đã chọn</a></li>" +
                       //    "</ul>" +
                       //"</div>" +
                   "</div>");
    }

    function InitCommentTable() {
        var conversation = $('a[id="' + $('#btn-send-message').data('threadId') + '"]');
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetAllCommentByUser", "Messenger")',
            data: { SenderId: $(conversation).find('div.lgi-heading').attr('id') },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                for (var i =0; i< result.aaData.length; i++) {
                    $("#user-comment").append("<div class='list-group-item media'> <div class='checkbox pull-left'><label> " +
                        "<input type='checkbox' value=''> <i class='input-helper'></i></label></div> " + 
                          "<div class='pull-right'><div class='actions dropdown'><a href=' " + result.aaData[i].Id + " 'target='_blank' data-toggle='dropdown' "+
                          " aria-expanded='false'><i class='zmdi zmdi-more-vert'></i></a><ul class='dropdown-menu dropdown-menu-right'>"+ 
                                            "<li><a href='#'>Edit</a></li>"+
                                            "<li><a href='#'>Delete</a></li>"+
                                        "</ul></div></div> "+
                               " <div class='media-body'>"+
                                    "<div class='lgi-heading'>"+ result.aaData[i].CommentContent +"</div>"+ 
                                "<ul class='lgi-attrs'> "+
                                        "<li>Date Created:"+ FormatDateVN(result.aaData[i].DateCreated)+ " </li>"+
                                        "<li>Delete </li>"+
                                        "<li>Published: Yes</li>"+
                                    "</ul></div></div>");
                }
            },
        });

        //function checkBoxCheckedCommentTbl(checkbox) {
        //    if ($('#checkAllCommentTbl').is(':checked')) {
        //        $('#checkAllCommentTbl').prop('checked', false);
        //    }
        //    if ($(checkbox).is(':checked')) {
        //        $(checkbox).closest("tr").addClass("active");
        //        listSelectedComment.push(checkbox.value);
        //        console.log(listSelectedComment);
        //    } else {
        //        $(checkbox).closest("tr").removeClass("active");
        //        for (var i = 0; i < listSelectedComment.length; i++) {
        //            if (listSelectedComment[i] == checkbox.value) {
        //                listSelectedComment.splice(i, 1);
        //            }
        //        }
        //        console.log(listSelectedComment);
        //    }
        //    $('#selectAllButtonCommentTbl').empty();
        //    $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận &nbsp;<span class='caret'></span>");
        //}

        //function checkAllComment() {
        //    $('#selectAllButtonCommentTbl').empty();
        //    if ($('#checkAllCommentTbl').is(':checked')) {
        //        listSelectedComment.splice(0, listSelectedComment.length);
        //        $('#tblComment').find("tbody > tr > td > input").each(function () {
        //            $(this).parent().parent().addClass("active");
        //            $(this).prop('checked', true);
        //            listSelectedComment.push($(this).val());
        //        });
        //    } else {
        //        listSelectedComment.splice(0, listSelectedComment.length);
        //        $('#tblComment').find("tbody > tr > td > input").each(function () {
        //            $(this).parent().parent().removeClass("active");
        //            $(this).prop('checked', false);
        //        });
        //    }
        //    $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận &nbsp;<span class='caret'></span>");
        //    console.log(listSelectedComment);
        //}

        //Function format date time to vn format
        function FormatDateVN(date) {
            var milli = date.replace(/\/Date\((-?\d+)\)\//, '$1');
            var d = new Date(parseInt(milli));
            return d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes();
        }

        function reDrawDatatable(id) {
            $.fn.dataTableExt.oApi.fnStandingRedraw = function (oSettings) {
                if (oSettings.oFeatures.bServerSide === false) {
                    var before = oSettings._iDisplayStart;
                    oSettings.oApi._fnReDraw(oSettings);
                    //iDisplayStart has been reset to zero - so lets change it back
                    oSettings._iDisplayStart = before;
                    oSettings.oApi._fnCalculateEnd(oSettings);
                }
                //draw the 'current' page
                oSettings.oApi._fnDraw(oSettings);
            };
            $(id).dataTable().fnStandingRedraw();
        }
    }
</script>