﻿@using HmsService.Models;
@model HmsService.ViewModels.OrderViewModel

@{
    Layout = null;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Chi tiết hóa đơn</h4>
        </div>
        <div class="modal-body">
            <div class="clearfix" style="margin-bottom: 20px;">
                <div class="col-md-6 float-left">
                    <div class="col-md-12 no-padding">
                        <label class="col-md-5 no-padding text-bold float-left" style="font-weight:bold">Tên khách hàng:</label>
                        <label class="control-label float-left" data-role="customer-name">@Model.Customer.Name</label>
                    </div>
                    <div class="col-md-12 no-padding">
                        <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Địa chỉ giao:</label>
                        <label class="control-label float-left" data-role="delivery-address">@Model.DeliveryAddress</label>
                        <br />
                    </div>
                    <div class="col-md-12 no-padding">
                        <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Điện thoại:</label>
                        <label class="control-label float-left" data-role="customer-phone">@Model.DeliveryPhone</label>
                    </div>
                    <div class="col-md-12 no-padding">
                        <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Cửa hàng:</label>
                        <label class="control-label float-left" data-role="store">@Model.Store.Name</label>
                    </div>
                    <div class="col-md-12 no-padding">
                        <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Thời gian đặt:</label>
                        <label class="control-label float-left " data-role="order-time">@Model.CheckInDate.Value.ToShortDateString()</label>
                    </div>
                </div>
                <div class="col-md-6 float-right">
                    <div class="col-md-12 no-padding">
                        <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Mã hóa đơn:</label>
                        <label class="control-label float-left" data-role="invoiceid">@Model.InvoiceID</label>
                    </div>
                    <div class="col-md-12 no-padding">
                        <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Tổng cộng:</label>
                        <label class="control-label float-left" data-role="total-amount">@Model.TotalAmount.ToString("#,#.#")</label>
                    </div>
                    <div class="col-md-12 no-padding">
                        <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Giảm giá:</label>
                        <label class="control-label float-left" data-role="discount">@Model.Discount.ToString("#,#.#")</label>
                    </div>
                    <div class="col-md-12 no-padding">
                        <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Thanh toán:</label>
                        <label class="control-label float-left" data-role="final-amount">@Model.FinalAmount.ToString("#,#.#")</label>
                    </div>
                    <div class="col-md-12 no-padding">
                        <label class="col-md-5 no-padding control-label text-bold float-left" style="font-weight:bold">Ghi chú:</label>
                        <label class="control-label float-left" data-role="notes">@Model.Notes</label>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-condensed table-striped table-hover" id="order-report-detail-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Tình trạng</th>
                        <th>Giảm giá</th>
                        <th>Thanh toán</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th style="text-align:left" colspan="5"></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    var jsonDetails = '@Html.Raw(ViewBag.OrderDetails)';
    var details = JSON.parse(jsonDetails);
    $('#order-report-detail-table').dataTable({
        "footerCallback": function (row, data, start, end, display) {
            var cells = row.getElementsByTagName('th');
            cells[0].innerHTML = "Tổng cộng: " + toMoney(@Model.TotalAmount, ',', '');
            cells[1].innerHTML = toMoney(@Model.Discount, ',', '');
            cells[2].innerHTML = toMoney(@Model.FinalAmount, ',', '');
        },

        "bFilter": false,
        "bRetrieve": false,
        "bDestroy": true,
        "bServerSide": false,
        "bScrollCollapse": true,
        "bProcessing": true,
        "data": details,
        "oLanguage": {
            "sSearch": "Tên Phòng:",
            "sZeroRecords": "Không có dữ liệu phù hợp",
            "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
            "sEmptyTable": "Không có dữ liệu",
            "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
            "sLengthMenu": "Hiển thị _MENU_ dòng",
            "sProcessing": "Đang xử lý...",
            "oPaginate": {
                "sNext": "<i class='fa fa-chevron-right'></i>",
                "sPrevious": "<i class='fa fa-chevron-left'></i>"
            }

        },
        "aoColumnDefs": [
            { "aTargets": [0, 1, 2, 3, 4, 5, 6], "bSortable": false },
            { "aTargets": [2, 3, 4, 5], "sClass": "text-center" },
            {
                "aTargets": [2],
                "mRender": function (data, type, row) {
                    var data = row[2];
                    return toMoney(data, ',', '');
                }
            },
            {
                "aTargets": [5],
                "mRender": function (data, type, row) {
                    var data = row[5];
                    return toMoney(data, ',', '');
                }
            },
            {
                "aTargets": [6],
                "mRender": function (data, type, row) {
                    var data = row[6];
                    return toMoney(data, ',', '');
                }
            },
            {
                "aTargets": [7],
                "sClass": "hidden",
            },
            {
                "aTargets": [4],
                "mRender": function (data, type, row) {
                    var type = "";
                    var color = "";
                    data = row[4];
                    switch (data) {
                        case 11:
                            type = "@Resources.EnumLanguage.View_PosFinished";
                            color = "<div class='label label-success myCategory'>";
                            break;
                        case 12:
                            type = "@Resources.EnumLanguage.View_PosPreCancel";
                            color = "<div class='label label-warning myCategory'>";
                            break;
                        case 13:
                            type = "@Resources.EnumLanguage.View_PosCancel";
                            color = "<div class='label label-warning myCategory'>";
                            break;
                        default:
                            type = "---";
                            color = "<div>";

                    }
                    return color + type + '</div>';
                }

            },
        ],
        "bAutoWidth": false
    }).fnSetFilteringDelay(delaySearch);
</script>