﻿@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="pull-right btn btn-link btn-close" data-dismiss="modal">
        <i class="fa fa-close" style="padding-top: 9px;"></i>
    </button>
    <h4>Thông tin sản phẩm</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/images/Default_product_img.jpg" />
        </div>
        <div class="col-md-8" style="padding:0;">
            <h3 class="product-name"></h3>
            <small id="edit-primaryPrice"></small>
            <div class="form-group product-details">
                <div class="col-md-4">
                    <label>Giới thiệu sản phẩm</label>
                </div>
                <div class="col-md-8">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Số lượng</label>
                </div>
                <div class="col-md-8 order-quantity">
                    <span class="button" id="btn-edit-minus">
                        <i class="zmdi zmdi-minus-circle-outline"></i>
                    </span>
                    <span id="edit-quantity">
                    </span>
                    <span class="button" id="btn-edit-plus">
                        <i class="zmdi zmdi-plus-circle-o"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="extra-container" hidden="hidden">
        <h4 style="font-weight:700">Mỗi ly dùng thêm bao gồm:</h4>
        <ul class="tab tab-nav" id="header-extra-edit-tab"></ul>
        <div class="tab-content" id="tab-extra-edit-content">
        </div>
    </div>

</div>
<div class="modal-footer">
    <label class="pull-left" id="edit-total"></label>
    <button class="pull-right addToCart" onclick="addToCart()"><i class="zmdi zmdi-shopping-cart-plus"></i>Thay đổi đặt hàng</button>
</div>



<script>
    var dong = true;
    var hasChild = new Array();
    var extras = orderDetail.Extra;
    var currentTotal = parseInt(orderDetail.FinalAmount);
    var MIN_EXTRA = 0, MAX_EXTRA = 20, echo = 0;
    var totalString = 'Thành tiền: ';

    $(document).ready(function () {
        loadDetailOnModal();
    });

    function loadDetailOnModal() {
        $('#edit-total').text(totalString + toMoney(currentTotal, '.', 'đ'));
        $('h3.product-name').text(orderDetail.Name);
        $('#edit-primaryPrice').text(orderDetail.UnitPrice);
        $('#edit-quantity').text(orderDetail.Quantity);
        debugger
        if (orderDetail.Extra.length > 0) {
            $('#modalEditProduct .extra-container').removeAttr("hidden");
            loadAllCateExtra();
        }
    }

    var moneyToNumber = function (str) {
        return parseInt(str.replace('đ', '').replace(/\./g, ''));
    }

    var toMoney = function (val, splitter, unit) {
        var s = splitter || '.';
        var u = unit || '';
        return accounting.formatMoney(val, "", 0, s) + u;
    }

    $("#btn-edit-minus").on('click', function () {
        var currentValue = $('#edit-quantity').text();
        if (currentValue <= MIN_VALUE) {
            return;
        }
        currentValue--;
        $('#edit-quantity').text(currentValue);
        if (extras.lenght == 0) {
            currentTotal = orderDetail.UnitPrice * currentValue;
        }
        else {
            currentTotal = totalPrice(extras, currentValue, orderDetail.UnitPrice);
        }
        $('#edit-total').text(totalString + toMoney(currentTotal, '.', 'đ'));
    });

    $('#btn-edit-plus').on('click', function () {
        var currentValue = $('#edit-quantity').text();
        currentValue++;
        $('#edit-quantity').text(currentValue);
        if (extras.lenght == 0) {
            currentTotal = orderDetail.UnitPrice * currentValue;
        }
        else {
            currentTotal = totalPrice(extras, currentValue, orderDetail.UnitPrice);
        }
        $('#edit-total').text(totalString + toMoney(currentTotal, '.', 'đ'));
    });



    function findExtra(extras, item) {
        var index = -1;
        $.each(extras, function (i, e) {
            if (this.Id == item.Id) {
                index = i;
            }
        });
        return index;
    }

    function totalPrice(extras, currentValue, price) {
        var total = 0;
        $.each(extras, function (i, e) {
            total += this.Quantity * this.Money * currentValue;
        });
        return total + price * currentValue;
    }

    function loadAllCateExtra() {
        $.ajax({
            url: '@Url.Action("LoadCateExtra", "Messenger", new { @area="Facebook"})',
            type: "POST",
            success: function (result) {
                if (result != null && result.length > 0) {
                    //render to store dropdown
                    //$('#category-menu').html();
                    for (var i = 0; i < result.length; i++) {
                        $('#header-extra-edit-tab').append('<li><a href=\"#edit-' + result[i].CategoryId + '\" data-toggle=\"tab\" onclick=\"getExtraItemByExtraCate(' + result[i].CategoryId +
                                                ')\"> <i class=\"fa fa-cutlery\"></i> ' + result[i].Name + '</a></li>');
                        $('#tab-extra-edit-content').append('<div class=\"tab-pane\" id=\"edit-' + result[i].CategoryId + '\"><ul class="extra-content"></ul></div>');
                    }
                }
            },
            error: function (error) {
                ShowMessage("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin", 1);
            }
        });
    }

    function getExtraItemByExtraCate(cateId) {
        if (hasChild[cateId] == 1) {
            return;
        }
        else {
            $.ajax({
                url: '@Url.Action("LoadItemByCategory", "Messenger", new { @area="Facebook"})',
                type: "POST",
                data: {
                    echo: ++echo,
                    cateId: cateId,
                    'pattern': '',
                },
                success: function (result) {
                    if (result.echo >= echo) {
                        var nodes = [];
                        $.each(result.products, function (i, e) {
                            var node = $($('#tmpExtraTab').html().trim());
                            node.children().data('ExtraItem', e);
                            node.find('.extra-name').prepend(e.name);
                            node.find('[data-role="price"]').html(e.price);
                            node.attr("data-id", e.id);
                            nodes.push(node);
                        });
                        //$('#tab-extra-content').append(node.html());
                        $('#modalEditProduct-content #edit-' + cateId + ' .extra-content').html(nodes);
                        $.each(orderDetail.Extra, function (i, e) {
                            if (e.CateId == cateId) {
                                $('[data-id="' + e.Id + '"').children('.extra-quantity').text(e.Quantity);
                            }
                        });
                        hasChild[cateId] = 1;
                    }
                },
                error: function (error) {
                    ShowMessage("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin", 1);
                }
            });
        }

    }

    $(document).off('click', '.extra-plus').on('click', '.extra-plus', function (e) {
        debugger
        var input = $(event.toElement).closest('.extra-item').children('.extra-quantity');
        var currentValue = parseInt(input.text());
        var price = parseInt($(event.toElement).closest('.extra-item').children('[data-role="price"]').text());
        var name = $(event.toElement).closest('.extra-item').children('.extra-name').text();
        var id = $(event.toElement).parents('.extra-item').attr("data-id");
        var productQuantity = $('#edit-quantity').text();
        var cateId = $('#tab-extra-content').find('.tab-pane.active').attr('id');
        currentValue++;
        input.text(currentValue);
        currentTotal = currentTotal + price * productQuantity;
        $('#edit-total').text(totalString + toMoney(currentTotal, '.', 'đ'));
        var extra = { Quantity: currentValue, Money: price, Name: name, Id: id, CateId: cateId };
        var searchExtra = findExtra(extras, extra);
        if (searchExtra == -1) {
            extras.push(extra);
        }
        else {
            extras[searchExtra].Quantity = extra.Quantity;
        }
    });

    $(document).off('click', '.extra-minus').on('click', '.extra-minus', function (e) {
        var input = $(event.toElement).closest('.extra-item').children('.extra-quantity');
        var currentValue = parseInt(input.text());
        var price = parseInt($(event.toElement).closest('.extra-item').children('[data-role="price"]').text());
        var name = $(event.toElement).closest('.extra-item').children('.extra-name').text();
        var id = $(event.toElement).parents('.extra-item').attr("data-id")
        var productQuantity = $('#edit-quantity').text();
        var cateId = $('#tab-extra-content').find('.tab-pane.active').attr('id');
        if (currentValue <= 0) {
            return;
        }
        currentValue--;
        input.text(currentValue);
        currentTotal = currentTotal - price * productQuantity;
        $('#edit-total').text(totalString + toMoney(currentTotal, '.', 'đ'));
        var extra = { Quantity: currentValue, Money: price, Name: name, Id: id, CateId: cateId };
        var searchExtra = findExtra(extras, extra);
        if (searchExtra > -1) {
            if (currentValue == 0) {
                extras.splice(searchExtra, 1);
            }
            else {
                extras[searchExtra].Quantity = extra.Quantity;
            }
        }
    });
    function addToCart() {
        debugger
        var copy = [];
        var data = {
            discount: orderDetail.DiscountPercent,
            id: orderDetail.ProductID,
            name: orderDetail.Name,
            price: orderDetail.UnitPrice,
            type: orderDetail.ProductType,
            //quantity: parseInt($(event.toElement).closest('#edit-quantity').text())
            quantity: parseInt($('#edit-quantity').text()),
            //extra: $('.extra-content').data('ExtraService'),
            extra: copy.concat(extras),
        };
        var allOrderDetails = window.OnlineOrder.Order.OrderDetails;
        var index = orderDetail.Id - 1;
        checkOrderDetailChanged(allOrderDetails[index], data);
        allOrderDetails[index]['Quantity'] = data.quantity;
        var totalAmount = totalPrice(data.extra, allOrderDetails[index].Quantity, data.price),
           finalAmount = totalAmount * (100 - data.discount) / 100;
        allOrderDetails[index]['TotalAmount'] = totalAmount;
        allOrderDetails[index]['FinalAmount'] = finalAmount;
        $('#orderItemDatatable tbody tr[data-id=' + allOrderDetails[index]['Id'] + '] td[data-role=quantity]').html(allOrderDetails[index]['Quantity']);
        $('#orderItemDatatable tbody tr[data-id=' + allOrderDetails[index]['Id'] + '] td[data-role=total]').html(toMoney(finalAmount, '.', ''));

        $('#edit-total-Item').html('Tổng cộng : ' + toMoney(window.OnlineOrder.getTotal(), ',', ''));
        ShowMessage("Thay đổi đặt hàng thành công", 3);
        return;
    };

    function checkOrderDetailChanged(orderDetail, data) {
        $('#orderItemDatatable > tbody [data-role=extra][data-parentId="' + orderDetail.Id + '"]').remove();
        if (data.extra.length > 0) {
            $.each(data.extra, function (j, f) {
                var $tmpExtraRow = $($('#tmpExtraRow').html().trim());
                $tmpExtraRow.attr('data-id', f.Id);
                $tmpExtraRow.attr('data-parentId', orderDetail.Id);
                $tmpExtraRow.find('[data-role="extra-name"]').html(f.Name);
                $tmpExtraRow.find('[data-role="extra-price"]').html(f.Money);
                $tmpExtraRow.find('[data-role="extra-quantity"]').html(f.Quantity);
                $tmpExtraRow.find('[data-role="extra-total"]').html(toMoney(f.Quantity * f.Money));
                $('#orderItemDatatable > tbody').append($tmpExtraRow);
            });
        }
        orderDetail.Extra = data.extra;
    }
</script>
