﻿@model HmsService.ViewModels.ProductViewModel
@{
    Layout = null;

}
<div class="modal-header">
    <button type="button" class="pull-right btn btn-link btn-close" data-dismiss="modal">
        <i class="fa fa-close" style="padding-top: 9px;"></i>
    </button>
    <h4>Thông tin sản phẩm</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/images/Default_product_img.jpg" />
        </div>
        <div class="col-md-8" style="padding:0;">
            <h3 class="product-name">
                @Model.ProductName
            </h3>
                <small id="primaryPrice">@Model.FormattedPrice</small>
            <div class="form-group product-details">
                <div class="col-md-4">
                    <label>Giới thiệu sản phẩm</label>
                </div>
                <div class="col-md-8">
                    @Model.Description
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Số lượng</label>
                </div>
                <div class="col-md-8 order-quantity">
                    <span class="button" id="btn-minus">
                        <i class="zmdi zmdi-minus-circle-outline"></i>
                    </span>
                    <span id="quantity">
                        1
                    </span>
                    <span class="button" id="btn-plus">
                        <i class="zmdi zmdi-plus-circle-o"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    @if (Model.HasExtra == true)
    {
        <div class="extra-container">
            <h4 style="font-weight:700">Mỗi ly dùng thêm bao gồm:</h4>
            <ul class="tab tab-nav" id="header-extra-tab"></ul>
            <div class="tab-content" id="tab-extra-content">
            </div>
        </div>
    }

</div>
<div class="modal-footer">
    <label class="pull-left" id="total"></label>
    <button class="pull-right addToCart" onclick="addToCart()"><i class="zmdi zmdi-shopping-cart-plus"></i>Thêm vào giỏ hàng</button>
</div>

@*<template id="tmpExtraTab">
    <li class="extra-item">
        <span class="button extra-minus">
            <i class="zmdi zmdi-minus-circle-outline"></i>
        </span>
        <span class="extra-quantity">
            0
        </span>
        <span class="button extra-plus">
            <i class="zmdi zmdi-plus-circle-o"></i>
        </span>
        <span class="extra-name">
            <input type="hidden" value="" />
        </span>
        <span data-role="price" class="extra-price"></span>
    </li>
</template>*@

<script>
    var dong = true;
    var hasChild = new Array();
    var extras = new Array();
    var currentTotal = parseInt('@Model.PrimaryPrice');
    var MIN_EXTRA = 0, MAX_EXTRA = 20, echo = 0;
    var totalString = 'Thành tiền: ';

    $(document).ready(function () {

        $('#total').text(totalString + toMoney(currentTotal, '.', 'đ'));
        loadAllCateExtra();
    })

    var moneyToNumber = function (str) {
        return parseInt(str.replace('đ', '').replace(/\./g, ''));
    }

    var toMoney = function (val, splitter, unit) {
        var s = splitter || '.';
        var u = unit || '';
        return accounting.formatMoney(val, "", 0, s) + u;
    }

    $("#btn-minus").on('click', function () {
        var currentValue = $('#quantity').text();
        if (currentValue <= MIN_VALUE) {
            return;
        }
        currentValue--;
        $('#quantity').text(currentValue);
        if (extras.lenght == 0) {
            currentTotal = '@Model.PrimaryPrice' * currentValue;
        }
        else {
            currentTotal = totalPrice(extras, currentValue, '@Model.PrimaryPrice');
        }
        $('#total').text(totalString + toMoney(currentTotal, '.', 'đ'));
    });

    $('#btn-plus').on('click', function () {
        var currentValue = $('#quantity').text();
        currentValue++;
        $('#quantity').text(currentValue);
        if (extras.lenght == 0) {
            currentTotal = '@Model.PrimaryPrice' * currentValue;
        }
        else {
            currentTotal = totalPrice(extras, currentValue, '@Model.PrimaryPrice');
        }
        $('#total').text(totalString + toMoney(currentTotal, '.', 'đ'));
    });



    function findExtra(extras, item) {
        var index = -1;
        $.each(extras, function (i, e) {
            if (this.Id == item.Id) {
                index = i;
            }
        });
        return index;
    }

    function loadAllCateExtra() {
        $.ajax({
            url: '@Url.Action("LoadCateExtra", "Messenger", new { @area="Facebook"})',
            type: "POST",
            success: function (result) {
                if (result != null && result.length > 0) {
                    //render to store dropdown
                    //$('#category-menu').html();
                    for (var i = 0; i < result.length; i++) {
                        $('#header-extra-tab').append('<li><a href=\"#' + result[i].CategoryId + '\" data-toggle=\"tab\" onclick=\"getExtraItemByExtraCate(' + result[i].CategoryId +
                                                ')\"> <i class=\"fa fa-cutlery\"></i> ' + result[i].Name + '</a></li>');
                        $('#tab-extra-content').append('<div class=\"tab-pane\" id=\"' + result[i].CategoryId + '\"><ul class="extra-content"></ul></div>');
                    }
                }
            },
            error: function (error) {
                ShowMessage("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin", 1);
            }
        });
    }

    function getExtraItemByExtraCate(cateId) {

        if (hasChild[cateId] == 1) {
            return;
        }
        else {
            $.ajax({
                url: '@Url.Action("LoadItemByCategory", "Messenger", new { @area="Facebook"})',
                type: "POST",
                data: {
                    echo: ++echo,
                    cateId: cateId,
                    'pattern': '',
                },
                success: function (result) {
                    if (result.echo >= echo) {
                        var nodes = [];
                        $.each(result.products, function (i, e) {
                            var node = $($('#tmpExtraTab').html().trim());
                            node.children().data('ExtraItem', e);
                            node.find('.extra-name').prepend(e.name);
                            node.find('[data-role="price"]').html(e.price);
                            node.attr("data-id", e.id);
                            nodes.push(node);
                        });
                        //$('#tab-extra-content').append(node.html());
                        $('#' + cateId + ' .extra-content').html(nodes);
                        hasChild[cateId] = 1;
                    }
                },
                error: function (error) {
                    ShowMessage("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin", 1);
                }
            });
        }

    }

    $(document).off('click', '.extra-plus').on('click', '.extra-plus', function (e) {
        var input = $(event.toElement).closest('.extra-item').children('.extra-quantity');
        var currentValue = parseInt(input.text());
        var price = parseInt($(event.toElement).closest('.extra-item').children('[data-role="price"]').text());
        var name = $(event.toElement).closest('.extra-item').children('.extra-name').text();
        var id = $(event.toElement).parents('.extra-item').attr("data-id");
        var productQuantity = $('#quantity').text();
        var cateId = $('#tab-extra-content').find('.tab-pane.active').attr('id');
        currentValue++;
        input.text(currentValue);
        currentTotal = currentTotal + price * productQuantity;
        $('#total').text(totalString + toMoney(currentTotal, '.', 'đ'));
        var extra = { Quantity: currentValue, Money: price, Name: name, Id: id, CateId: cateId };
        var searchExtra = findExtra(extras, extra);
        if (searchExtra == -1) {
            extras.push(extra);
        }
        else {
            extras[searchExtra].Quantity = extra.Quantity;
        }
    });

    $(document).off('click', '.extra-minus').on('click', '.extra-minus', function (e) {
        var input = $(event.toElement).closest('.extra-item').children('.extra-quantity');
        var currentValue = parseInt(input.text());
        var price = parseInt($(event.toElement).closest('.extra-item').children('[data-role="price"]').text());
        var name = $(event.toElement).closest('.extra-item').children('.extra-name').text();
        var id = $(event.toElement).parents('.extra-item').attr("data-id");
        var productQuantity = $('#quantity').text();
        var cateId = $('#tab-extra-content').find('.tab-pane.active').attr('id');
        if (currentValue <= 0) {
            return;
        }
        currentValue--;
        input.text(currentValue);
        currentTotal = currentTotal - price * productQuantity;
        $('#total').text(totalString + toMoney(currentTotal, '.', 'đ'));
        var extra = { Quantity: currentValue, Money: price, Name: name, Id: id, CateId: cateId };
        var searchExtra = findExtra(extras, extra);
        if (searchExtra > -1) {
            if (currentValue == 0) {
                extras.splice(searchExtra, 1);
            }
            else {
                extras[searchExtra].Quantity = extra.Quantity;
            }
        }
    });
    function addToCart() {
        var copy = [];
        var data = {
            discount: '@Model.DiscountPercent',
            id: '@Model.ProductID',
            name: '@Model.ProductName',
            image: '@Model.PicURL',
            price: '@Model.PrimaryPrice',
            type: '@Model.ProductType',
            //quantity: parseInt($(event.toElement).closest('#quantity').text())
            quantity: parseInt($('#quantity').text()),
            //extra: $('.extra-content').data('ExtraService'),
            extra: copy.concat(extras),
        };
        var allOrderDetails = window.OnlineOrder.Order.OrderDetails;
        //check redudant

        var checkOrder = false;
        var numOfOrder = checkNumOfProductOrder(allOrderDetails, data);
        if (numOfOrder.length == 0) {
            addNewOrderDetail(data);
            ShowMessage("Thêm hàng vào giỏ thành công", 3);
            return;
        }

        for (var i = 0; i < numOfOrder.length; i++) {

            checkOrder = checkOrderDetail(allOrderDetails[numOfOrder[i]], data);
            if (checkOrder == false) {
                allOrderDetails[numOfOrder[i]]['Quantity'] += data.quantity;
                var totalAmount = totalPrice(data.extra, allOrderDetails[numOfOrder[i]].Quantity, data.price),
                   finalAmount = totalAmount * (100 - data.discount) / 100;
                allOrderDetails[numOfOrder[i]]['TotalAmount'] = totalAmount;
                allOrderDetails[numOfOrder[i]]['FinalAmount'] = finalAmount;
                $('#orderItemDatatable tbody tr[data-id=' + allOrderDetails[numOfOrder[i]]['Id'] + '] td[data-role=quantity]').html(allOrderDetails[numOfOrder[i]]['Quantity']);
                $('#orderItemDatatable tbody tr[data-id=' + allOrderDetails[numOfOrder[i]]['Id'] + '] td[data-role=total]').html(toMoney(finalAmount, '.', ''));

                $('#total-Item').html('Tổng cộng : ' + toMoney(window.OnlineOrder.getTotal(), ',', ''));
                ShowMessage("Thêm hàng vào giỏ thành công", 3);
                return;
            }

            if (checkOrder == true && i == (numOfOrder.length - 1) && index == -1) {
                addNewOrderDetail(data);
                ShowMessage("Thêm hàng vào giỏ thành công", 3);
                return;
            }
        }
    };

    
</script>