﻿@{
    ViewBag.Title = "Index";
    var currentStoreDomain = this.ViewBag.CurrentDomain as StoreDomainViewModel;
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Danh sách bài blog</h2>
            </div>
            <div class="col-md-4 text-right">
                <a href="@this.Url.Action("Create", new { parameters = currentStoreDomain.Directory })" class="btn btn-primary btn-icon-text waves-effect">
                    <i class="zmdi zmdi-plus"></i> Thêm bài blog
                </a>
            </div>
        </div>
    </div>

    <table id="lst-items" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th>Hình ảnh</th>
                <th>Tiêu đề</th>
                <th>Chuyên mục</th>
                <th>Thời gian tạo</th>
                <th>Thời gian cập nhật</th>
                <th>Tác giả</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<template id="command-template" class="hidden">
    <div>
        <a class="btn btn-primary btn-sm"
           data-toggle="tooltip" title="Edit">
            <i class="fa fa-pencil"></i>
        </a>
        <button onclick="onDeleteButtonClick(this);" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</template>

@section scripts {
    <script>
            var commandTemplate = $("#command-template").html();
            InitCollectionDatatable();
            function InitCollectionDatatable() {

                $("#lst-items").dataTable({
                    "bSort": false,
                    "bServerSide": true,
                    "bRetrieve": true,
                    "bScrollCollapse": true,
                    "sAjaxSource": "@Url.Action("IndexList", "BlogPost")",
                    "bProcessing": true,
                    "aLengthMenu": [10, 25, 50],
                    "bFilter": true,
                //"fnServerParams": function (aoData) {
                //    aoData.push({ "name": "productGroup", "value": $('#productGroupList').val() }),
                //    aoData.push({ "name": "status", "value": $('input[name=filter-status]:checked').val() }),
                //    aoData.push({ "name": "type", "value": $('input[name=filter-type]:checked').val() });
                    //},
                    "oLanguage": {
                        "sSearchPlaceholder": "Tên bộ sưu tập",
                        "sSearch": "Tìm kiếm:",
                        "sZeroRecords": "Không có dữ liệu phù hợp",
                        "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                        "sEmptyTable": "Không có dữ liệu",
                        "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                        "sLengthMenu": "Hiển thị _MENU_ dòng",
                        "sProcessing": "Đang xử lý...",
                        "oPaginate": {
                            "sNext": "<i class='fa fa-chevron-right'></i>",
                            "sPrevious": "<i class='fa fa-chevron-left'></i>"
                        }
                    },
                    "aoColumnDefs": [
                        {
                            "aTargets": [0, 1, 2, 3, 4],
                            "bSortable": false,
                            "sClass": "text-center mid-v-align"
                        },
                        {
                            "aTargets": [0],
                            "bSortable": false,
                            "mRender": function (data, type, row) {
                                return "<img class='img-responsive myImg-responsive' src='" + ((row[0] != null) ? row[0] : "~/Content/images/default_product.jpg") + "' onerror='this.onerror=null; this.src=\"@Url.Content("~/Content/images/default_product.jpg")\"'/>";
                            }
                        },
                        //{
                    //    "aTargets": [4],
                    //    "mRender": function (data, type, row) {
                    //        var productCollectionId = row[0];
                    //        var Id = row[0];
                    //        var editButton = '<button title="Chỉnh sửa" onclick="onEditCollection(this);" data-id="' + productCollectionId + '" ' +
                    //            'class="btn btn-primary btn-lg" data-toggle="tooltip" >' +
                    //            '<i class="glyphicon glyphicon-pencil"></i></button>';
                    //        var deleteButton = '<button title="Xóa" onclick="onDeleteButtonClick(this);" style="margin-left: -3px;" data-id="' + productCollectionId + '" ' +
                    //            'class="btn btn-danger btn-lg" data-toggle="tooltip" >' +
                    //            '<i class="glyphicon glyphicon-trash"></i></button>';
                    //        return editButton + " " + deleteButton;
                    //    },
                    //    "bSortable": false,
                    //    "sClass": "text-center"
                        //},
                    ],
                    "bAutoWidth": false,
                }).fnSetFilteringDelay(delaySearch);
            }

            function reDrawDatatable(id) {
                $.fn.dataTableExt.oApi.fnStandingRedraw = function (oSettings) {
                    if (oSettings.oFeatures.bServerSide === false) {
                        var before = oSettings._iDisplayStart;
                        oSettings.oApi._fnReDraw(oSettings);
                        //iDisplayStart has been reset to zero - so lets change it back
                        oSettings._iDisplayStart = before;
                        oSettings.oApi._fnCalculateEnd(oSettings);
                    }
                    //draw the 'current' page
                    oSettings.oApi._fnDraw(oSettings);
                };
                $(id).dataTable().fnStandingRedraw();
            }
            //user datatable
            function RefreshTable() {
                reDrawDatatable("#lst-items");
            }




            @*$("#lst-items").bootgrid({
                rowCount: [10, 20, 50, ],

                ajax: true,
                url: "@this.Url.Action("IndexList", new { parameters = currentStoreDomain.Directory })",

                formatters: {
                    "Picture": function (column, row) {
                        return "<img class='img-responsive' src='" + (row.BlogPost.Image || "") + "' />";
                    },
                    "Title": function (column, row) {
                        return row.BlogPost.Title;
                    },
                    "Commands": function (column, row) {
                        var template = $(commandTemplate);

                        template.find("[title=Edit]").attr("href", "@(this.Url.Action("Edit", new { parameters = currentStoreDomain.Directory }))/" + row.BlogPost.Id);
                        template.find("[title=Delete]").attr("data-id", row.BlogPost.Id);

                        return template[0].outerHTML;
                    },
                    "BlogCollectionName": function (column, row) {
                        var stringResult = "";
                        if (row.BlogPostCollections && row.BlogPostCollections.length > 0) {
                            for (var i = 0; i < row.BlogPostCollections.length; i++) {
                                stringResult += row.BlogPostCollections[i].Name;
                                if (row.BlogPostCollections.length > i + 1) {
                                    stringResult += ", ";
                                }
                            }
                        }
                        return stringResult;
                    },
                    "Categories": function (column, row) {
                        var result = "";

                        for (var i = 0; i < row.BlogPostCollections.length; i++) {
                            result += (i > 0 ? ", " : "") + row.BlogPostCollections[i].Name;
                        }

                        return result;
                    },

                    "Title" : function(column, row) {
                        return row.BlogPost.Title;
                    },

                    "Check": function (column, row) {
                        var icon = row[column.id] ? "fa-check" : "fa-remove";

                        return "<i class='fa " + icon + "'></i>";
                    }
                },
            });
        });*@

        @*function onDeleteButtonClick(btn) {
            if (confirm("Are you sure to delete this record?")) {
                var id = $(btn).attr("data-id");
                window.location.href = "@this.Url.Action("Delete", new { parameters = currentStoreDomain.Directory })/" + id;
            }
        }*@

    </script>
}