﻿
<style>
    .tab-pane > .row > .col-md-12 {
        margin-bottom: 0.4em;
    }
</style>

<div class="row">
    <div class="col-md-12 small-bot-margin">
        <div class="input-group pull-right">

            <!-- Daterange picker -->
            <div class="dateTime width230">
                <div class="fg-line m-t-5">
                    <input name="startYear2" id="startYear2" readonly onchange="SetDateForForm2()" style="height:37px" class="date-picker-year form-control text-center" />
                </div>
            </div>
            <form id="form-create-session" class="form-inline" style="display:none">
                <input type="text" id="sTime2" name="startTime2" placeholder="Chọn giờ bắt đầu" />
                <input type="text" id="eTime2" name="endTime2" placeholder="Chọn giờ kết thúc" />
            </form>
            @*<form id="form-create-session" class="form-inline" style="display:none">
                    <input type="text" id="sTime2" name="startTime2" placeholder="Chọn giờ bắt đầu" />
                    <input type="text" id="eTime2" name="endTime2" placeholder="Chọn giờ kết thúc" />
                </form>*@
        </div>

    </div>
</div>

<!-- LINE CHART -->
<div>
    <button type="button" data-show="show" id="btnChart2" class="btn btn-primary btn-sm" style="width:150px" onclick="ShowChart2()">
        <i class="fa fa-plus">
        </i> Hiển thị biểu đồ
    </button>
    <!-- export to excel -->
    <button type="submit" id="export2" class="width230 btn btn-primary btn-sm pull-right">
        <i class="fa fa-download"></i>
        Xuất ra file Excel
    </button>
</div>
@*<div id="container2" data-show="show" style="min-width: 150px; height: 300px; display:none;padding:7px;"></div>*@
<div id="containerCol2" style="min-width: 310px;height:400px;padding:7px;display:none;transition: visibility 0s, opacity 0.5s linear;"></div>
<div id="datatable2" style="padding-top:5px;">

</div>
<form class="hidden" id="formMonthReportExcel2" action="@Url.Action("ExportMonthTableToExcel","TimeReport")">
    <input id="startTime2" name="startTime" />
    <input id="endTime2" name="endTime" />
    @*<input id="selectedStoreId2" name="selectedStoreId" />*@
</form>


@*<form class="hidden" id="formMonthReportExcelTest" action="@Url.Action("ExportMonthTableToExceltest","TimeReport")">
        <input id="startTime1" name="startTime" />
        <input id="endTime1" name="endTime" />
        <input id="storeId1" name="storeId" />
    </form>*@
<script>
    $(document).ready(function () {

        $("#eTime2").val("31/12/" + new Date().getFullYear());
        $("#sTime2").val("01/01/" + new Date().getFullYear());
        $('#startYear2').val(new Date().getFullYear());

        $('.date-picker-year').datepicker({
            changeYear: true,
            showButtonPanel: true,
            format: 'yyyy',
            viewMode: "years",
            orientation: "left",
            endDate: new Date(),
            autoclose: true,
            minViewMode: "years",
            onClose: function (dateText, inst) {
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, 1));
            }
        });
        $(".date-picker-year").focus(function () {
            $(".ui-datepicker-month").hide();
        });
        hourReportStores();
    });

    function SetDateForForm2() {
        $("#eTime2").val("31/12/" + $("#startYear2").val());
        $("#sTime2").val("01/01/" + $("#startYear2").val());
    }

    function RefreshTable() {
        var oTable = $("#monthRReport").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    function InitProDatatable2(data) {
        $('#datatable2').html('<table id="monthRReportStores" class="table table-condensed table-striped table-bordered table-hover">'
                    + '<thead>'
                    + '<tr>'
                    + '<th>'
                        + '<label class="">Tháng</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Số hóa đơn (Mang đi)</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Số hóa đơn (Tại store)</label>'
                    + '</th>'

                    + '<th>'
                        + '<label class="">Số hóa đơn (Giao hàng)</label>'
                    + '</th>'
                    + '<th>'
                       + '<label class="">Tổng số hóa đơn</label>'
                    + '</th>'
                    + '<th>'
                       + '<label class="">Tổng giảm giá</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Doanh thu</label>'
                    + '</th>'
                    + '</tr>'
                    + '</thead>'
                    + '<tbody></tbody>'
                    + '</table');

        $("#monthRReportStores").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            'data': data,
            "bProcessing": true,
            "bPaginate": false,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6],
                    "bSortable": false,
                    "sClass": "text-center"
                },
            ],
            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);
        $('table').wrap('<div class="tableDiv-responsive" />');
    };

    //seach button + store on change

    function loadDataOnChange() {
        if ($("#eTime2").val().length > 16 || $("#sTime2").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            $('#selectedStoreId').val($('#storeCombobox').val());
            hourReportStores();
        }
    };

    //search report

    function hourReportStores() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadMonthReport", "TimeReport")',
            data: { 'startTime': $('#sTime2').val(), 'endTime': $('#eTime2').val(), },
            success: function (result) {
                var startTime = $('#sTime2').val();
                var endTime = $('#eTime2').val();
                var dateRange = startTime + (startTime == endTime ? '' : ' - ' + endTime);
                if (dateRange != "") {

                    $('[data-role=small-date]').html('(' + dateRange + ')'); // Chage date at page header
                }
                else {
                    $('[data-role=small-date]').html('(01/01/' + new Date().getFullYear() + ' - 31/12/' + new Date().getFullYear() + ')');
                }
                InitProDatatable2(result.datatable);
                DoanhThuChart2(result.dataChart);
            }
        });
    };


    //-------------
    //- LINE CHART -
    //--------------

    function DoanhThuChart2(dataChart) {
        $('#container2').highcharts({
            chart: {
                style: {
                    fontFamily: 'arial'
                }
            },
            title: {
                text: 'BIỂU ĐỒ HÓA ĐƠN',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: dataChart.MonthName
            },
            yAxis: {
                title: {
                    text: 'Hóa Đơn'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Hóa Đơn'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [
                {
                    name: 'TakeAway',
                    data: dataChart.TakeAway,
                },
                {
                    name: 'AtStore',
                    data: dataChart.AtStore,
                },
                {
                    name: 'Delivery',
                    data: dataChart.Delivery,
                }
            ]
        });
        $('#containerCol2').highcharts({
            chart: {
                type: 'column',
                style: {
                    fontFamily: 'arial'
                }
            },
            title: {
                text: 'BIỂU ĐỒ HÓA ĐƠN'
            },
            subtitle: {
                text: 'Bộ lọc:',
                align: 'right',
                x: -330,
                y: 42,
            },
            xAxis: {
                categories: dataChart.MonthName
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Hóa Đơn'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Tổng cộng: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: [
                {
                    name: 'Mang đi',
                    data: dataChart.TakeAway,
                },
                {
                    name: 'Tại cửa hàng',
                    data: dataChart.AtStore,
                },
                {
                    name: 'Giao hàng',
                    data: dataChart.Delivery,
                }
            ]
        });
    };

    // export to excel

    $(document).on('click', '#export2', function () {
        $('#startTime2').val($('#sTime2').val());
        $('#endTime2').val($('#eTime2').val());
        //$('#storeId').val(ViewBag.storeId);
        $("#selectedStoreId2").val($('#storeCombobox').val());
        ;
        $('#formMonthReportExcel2').submit();
    });



    @*$(document).on('click', '#exporttest', function () {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ExportMonthTableToExceltest","TimeReportController")',
                    data: {
                        'selectedStoreId': $('#storeCombobox').val()
                    },
                });
            });*@

    function ShowChart2() {
        var display = $('#btnChart2').data('show');
        if (display == "hide") {
            $('#btnChart2').data('show', 'show');
            $('#btnChart2').html(' <i class="fa fa-plus"></i> Hiển thị biểu đồ');
        }
        else {
            $('#btnChart2').html(' <i class="fa fa-minus"></i> Ẩn biểu đồ');
            $('#btnChart2').data('show', 'hide');
        }
        $('#containerCol2').stop().slideToggle();
    }
</script>
