﻿
@{
    ViewBag.Title = "Báo cáo theo giờ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .modal-content {
        width: 1180px;
    }
</style>

<div class="page-content">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1>Báo cáo theo giờ <small data-role="small-date" id="dateRange"></small></h1>
            </div>
            <div class="col-md-6 text-right">
                <form id="form-create-session" class="form-inline">
                    <div class="input-group">
                        <label class="right-icon">Cửa hàng:</label>
                        <select id="storeIdReport">
                            <option value="0">Tất cả cửa hàng</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="date-picker">
                            <input type="text" id="date-string" readonly="">
                            <a id="reportrange"><i class="fa fa-calendar"></i></a>
                        </div><!-- /input-group -->
                        <div class="input-group-btn">
                            <a class="btn btn-success btn-sm" id="btnSearch">
                                <i class="left-icon fa fa-search"></i>Tìm
                            </a>
                        </div>
                    </div>
                    <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" hidden="hidden" />
                    <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" hidden="hidden" />
                </form>
            </div>
        </div>
    </div>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <br />

    <!-- export to excel-->
    <div style="margin-right:15px;">
        <button type="submit" id="exportAllStore" class="btn btn-success btn-sm">
            <i class="fa fa-download"></i>
            Xuất ra file Excel
        </button>

        <button type="submit" id="exportOneStore" class="btn btn-success btn-sm">
            <i class="fa fa-download"></i>
            Xuất ra file Excel
        </button>
    </div>

    <div id="datatable">
        <table id="hourReport" class="table table-striped table-bordered table-hover" style="width: 100% !important">
            <thead style="white-space: nowrap; text-overflow: ellipsis;">
                <tr>
                    <th>
                        <label class="">STT</label>
                    </th>
                    <th>
                        <label class="">Khoảng thời gian</label>
                    </th>
                    <th>
                        <label class="">Số lượng(Mang đi)</label>
                    </th>
                    <th>
                        <label class="">Thành tiền</label>
                    </th>
                    <th>
                        <label class="">Số lượng(Tại store)</label>
                    </th>
                    <th>
                        <label class="">Thành tiền</label>
                    </th>
                    <th>
                        <label class="">Số lượng(Giao hàng)</label>
                    </th>
                    <th>
                        <label class="">Thành tiền</label>
                    </th>
                    <th>
                        <label class="">Tổng cộng</label>
                    </th>
                    <th>
                        <label class="">Thành tiền</label>
                    </th>
                    <th>
                        <label class="">So sánh</label>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="modal fade " tabindex="-1" id="store-comparison-modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center">abc</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">

                        <!-- Chart -->
                        <div class="col-md-9">
                            <div id="comparison" style="width: 885px; height: auto; margin: 0 auto"></div>
                        </div>

                        <!-- Store list check box show here -->
                        <div class="col-md-3">

                            <!-- chart -->
                            <div id="filter" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row"></div>
                            </div>

                            <!-- select & unselect button -->
                            <div id="filter-option" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-top: 10px">
                                <button class="btn btn-success btn-sm" id="filter-select-all">Select all</button>
                                <button class="btn btn-success btn-sm" id="filter-unselect-all">Unselect all</button>
                            </div><!-- Select all and Unselect all -->

                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Daterange picker
        function cb(start, end, label) {
            var startTime = start.format("DD/MM/YYYY"),
                endTime = end.format("DD/MM/YYYY"),
                dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

            if (label != "Custom Range") {
                $('#date-string').val(label);
            } else {
                $("#date-string").val(dateString);
            }

            $("#sTime").val(startTime);
            $("#eTime").val(endTime);
            $("#dateRange").html(dateString);
        }
        cb(moment(), moment(), "Hôm nay");

        $('#reportrange').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Tuần này': [moment().startOf('week'), moment().endOf('week')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        loadStores();
        hourReportAllStore();

        var Comparisondata = [];

        $('#filter').on('change', function () {

            var filterStoreList = [];
            var filterFinalAmount = [];

            $('.store-name-filter:checked').each(function () {
                filterStoreList.push($(this).val());
                filterFinalAmount.push($(this).data('finalamount'));
            });

            Comparisondata.StoreName = filterStoreList;
            Comparisondata.FinalAmount = filterFinalAmount;
            comparisonchart(Comparisondata);
        });

        // select & unselect click event
        $('#filter-option').on('click', '#filter-select-all', function () {
            $('.store-name-filter').prop('checked', 'checked');
            $('#filter').trigger('change');
        });

        $('#filter-option').on('click', '#filter-unselect-all', function () {
            $('.store-name-filter').removeAttr('checked');
            $('#filter').trigger('change');
        });

        $(document).on('click', '.btnComparison', function () {
            title = $(this).data('time');
            starTime = $(this).data('starttime');
            $('#filter .row').empty();

            $.ajax({
                url: '@Url.Action("LoadHourReportComparison","SystemReport")',
                type: 'GET',
                data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(), Time: starTime },
                success: function (rs) {

                    Comparisondata = rs.dataChart;
                    comparisonchart(Comparisondata);

                    var checkbox = function (index, val) {
                        return $('<div/>', {
                            'class': 'col-md-6',
                            'html': [
                                $('<input/>', {
                                    'type': 'checkbox',
                                    'value': val,
                                    'class': 'nice-check nice-check-sm store-name-filter',
                                    'id': 'filter-' + index,
                                    'checked': 'checked'
                                }),
                                $('<label/>', {
                                    'type': 'checkbox',
                                    'for': 'filter-' + index,
                                    'html': val
                                }),
                            ]
                        });
                    }

                    $.each(Comparisondata.StoreName, function (index, value) {
                        $('#filter .row').append(checkbox(index, value));
                    });

                    var listCheckbox = $('.store-name-filter');
                    $.each(Comparisondata.FinalAmount, function (index, value) {
                        var check = listCheckbox.eq(index); // use function eq to list all store
                        check.attr('data-finalamount', value);
                    });
                }
            });

            $('#store-comparison-modal').modal('show');
            $('.modal-title').html(title);
        });

    });

    $('#btnSearch').on('click', function () {
        if ($("#eTime").val().length > 16 || $("#sTime").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }

        if ($('#storeIdReport').val() == 0) {
            hourReportAllStore();
        }
        else {
            hourReportOneStore();
        }


    });

    var hourReportOneStore = function () {
        $('#exportOneStore').show();
        $('#exportAllStore').hide();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("HourReportOneStore","SystemReport")',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(), 'storeIdReport': $('#storeIdReport').val() },
            //dataType: 'html',
            success: function (result) {
                $('#datatable').html('<table id="hourReport" class="table table-striped table-bordered table-hover" style="width: 100% !important">'
                    + '<thead style="white-space: nowrap; text-overflow: ellipsis;"><tr><th><label class="">STT</label></th><th><label class="">Khoảng thời gian</label></th>'
                    + '<th><label class="">Số lượng(Mang đi)</label></th><th><label class="">Thành tiền</label></th>'
                    + '<th><label class="">Số lượng(Tại store)</label></th><th><label class="">Thành tiền</label></th>'
                    + '<th><label class="">Số lượng(Giao hàng)</label></th><th><label class="">Thành tiền</label></th><th><label class="">Tổng cộng</label></th>'
                    + '<th><label class="">Thành tiền</label></th></tr>');
                initHourReportDatatable(result.datatable, false);
                setUpChart(result.chartdata);
            }
        });
    };

    var hourReportAllStore = function () {
        $('#exportAllStore').show();
        $('#exportOneStore').hide();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("HourReportAllStore","SystemReport")',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val() },
            //dataType: 'html',
            success: function (result) {
                $('#datatable').html('<table id="hourReport" class="table table-striped table-bordered table-hover" style="width: 100% !important">'
                    + '<thead style="white-space: nowrap; text-overflow: ellipsis;"><tr><th><label class="">STT</label></th><th><label class="">Khoảng thời gian</label></th>'
                    + '<th><label class="">Số lượng(Mang đi)</label></th><th><label class="">Thành tiền</label></th>'
                    + '<th><label class="">Số lượng(Tại store)</label></th><th><label class="">Thành tiền</label></th>'
                    + '<th><label class="">Số lượng(Giao hàng)</label></th><th><label class="">Thành tiền</label></th><th><label class="">Tổng cộng</label></th>'
                    + '<th><label class="">Thành tiền</label></th><th><label class="">So Sánh</label></th></tr>');
                initHourReportDatatable(result.datatable, true);
                setUpChart(result.chartdata);
                //console.log(result.dataTable);
            }
        });
    };

    var initHourReportDatatable = function (data, visible) {
        $("#hourReport").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "data": data,
            "iDisplayLength": 25,
            "aLengthMenu": [25],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."

            },
            "aoColumnDefs": [
                {
                    'aTargets': [0, 1, 2, 3, 4, 5, 6, 7, 8],
                    "bSortable": false
                },
                {
                    'aTargets': [10],
                    "mRender": function (data, type, o) {
                        return '<a data-time="' + o[1] + '" data-starttime="' + o[10] + '" class="btn btn-sm btn-info btnComparison"><span class="fa fa-tasks"></span></a>';
                    },
                    'visible': visible
                }
            ],
            "bAutoWidth": false
        });
    };


    var setUpChart = function (data) {
        //HuyNQ - View line chart flow hour

        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Biểu Đồ kinh Doanh Theo Giờ'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: data.Time,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Số Lượng'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y} sản phẩm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Tại chỗ',
                    data: data.AtStore

                }, {
                    name: 'Mang đi',
                    data: data.TakeAway

                }, {
                    name: 'Giao Hàng',
                    data: data.Delivery

                }]
            });
        });
    }

    // export to excel
    $(document).on('click', '#exportAllStore', function () {

        $.ajax({
            url: '@Url.Action("ExportHourAllStoreToExcel","SystemReport")',
            type: 'GET',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val() },
            success: function (rs) {
                if (rs.success == true) {
                    ShowMessage('Xuất file Excel thành công <br/>'+ rs.fileName, 3);
                } else {
                    ShowMessage('Xuất file Excel thất bại <br/> Vui lòng tắt file trước khi xuất', 1);
                }
            }
        });
    });
    // export to excel
    $(document).on('click', '#exportOneStore', function () {

        $.ajax({
            url: '@Url.Action("ExportHourOneStoreToExcel", "SystemReport")',
            type: 'GET',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(), 'storeIdReport': $('#storeIdReport').val() },
            success: function (rs) {
                if (rs.success == true) {
                    ShowMessage('Xuất file Excel thành công - D:\\', 3);
                } else {
                    ShowMessage('Xuất file Excel thất bại <br/> Vui lòng tắt file trước khi xuất', 1);
                }
            }
        });
    });

    function loadStores() {
        $.ajax({
            url: '@Url.Action("LoadStores","SystemReport")',
            type: "POST",
            success: function (result) {
                if (result != null && result.length > 0) {
                    //render to store dropdown
                    $('#storeIdReport').html();
                    for (var i = 0; i < result.length; i++) {
                        $('#storeIdReport').append('<option value="' + result[i].ID + '">' + result[i].Name + '</option>');
                    }
                }
            },
            error: function (error) {
                alert("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin");
            }
        });
    }

    //Comparison chart
    function comparisonchart(data) {

        $('#comparison').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'So sánh theo cửa hàng'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: data.StoreName,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Tổng tiền'
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Tổng tiền',
                data: data.FinalAmount
            }]
        });
    }
</script>

