﻿
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h2>Danh sách Bình Luận</h2>
                </div>
                <button class="btn btn-success col-md-3" onclick="CheckedComment()"> Xem Các Bình Luận Đã Được Duyệt</button>
                <button class="btn btn-warning col-md-3" onclick="UnCheckedComment()"> Xem Các Bình Luận Chưa Được Duyệt</button>
            </div>
        </div>
        <div class="card-body">
            <table id="data-table-command" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th class="col-md-1">STT</th>
                        <th class="col-md-1">Mã sản phẩm</th>
                        <th class="col-md-2">Khách Hàng</th>
                        <th class="col-md-6">Nội Dung</th>
                        <th class="col-md-3">Xét Duyệt</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        
    </div>

<script>
    var choose = 0;
    $(document).ready(function () {
        InitCmtDatatable(choose);
    });
    function CheckedComment() {
        $('#data-table-command').dataTable().fnDestroy();
        choose = 1;
        InitCmtDatatable(choose);
    }
    function UnCheckedComment() {
        $('#data-table-command').dataTable().fnDestroy();
        choose = 0;
        InitCmtDatatable(choose);
    }
    function InitCmtDatatable(choose) {

        $("#data-table-command").dataTable({

            "bSort": false,
            "bServerSide": true,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "sAjaxSource": "@Url.Action("LoadCmt")",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "Choose", "value": choose })
            },
            "bProcessing": true,
            "aLengthMenu": [10, 25, 50],
            "bFilter": true,
            "oLanguage": {
                "sSearchPlaceholder": "Mã sản phẩm",
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                                {
                                    "aTargets": [0],
                                    "bSortable": false,
                                    "sClass": "text-center"
                                },
             {
                 "aTargets": [1],
                 "bSortable": false,
                 "sClass": "text-center"
             },
             {
                 "aTargets": [2],
                 "bSortable": false,
                 "sClass": "text-center"
             },
             {
                 "aTargets": [3],
                 "bSortable": false,
                 "sClass": "text-center"
             },
             {
                 "aTargets": [4],
                 "bSortable": false,
                 "mRender": function (data, type, row) {
                     if (choose == 0) {
                         var html = "<button class='btn btn-success'  onclick='checkCmt(" + data + ")'>Duyệt</button><button  class='btn btn-danger'   onclick='DelCmt(" + data + ")'>Xóa</button>"
                     } else {
                         var html = "<button class='btn btn-warning' onclick='unCheckCmt(" + data + ")'>Bỏ Duyệt</button><button  class='btn btn-danger'   onclick='DelCmt(" + data + ")'>Xóa</button>"
                     }
                    
                     return html;
                 }
             }
            ],
            "bAutoWidth": false,
        }).fnSetFilteringDelay(delaySearch);;
    }
    function checkCmt(data) {
        $.ajax({
            url: "@Url.Action("Check")",
            type: 'POST',
            data: {
                'data':data
            },
            success: function (result) {
                if (result.success) {
                    ShowMessage(data.message, 3);
                    $('#data-table-command').dataTable().fnDestroy();
                    InitCmtDatatable(choose);
            } else {
                ShowMessage(data.message, 1);
            }
        },
        error: function () {
            ShowMessage(data.message, 1);
        },
    });
    }
    function unCheckCmt(data) {
        $.ajax({
            url: "@Url.Action("unCheck")",
            type: 'POST',
        data: {
            'data':data
        },
        success: function (result) {
            if (result.success) {
                ShowMessage(data.message, 3);
                $('#data-table-command').dataTable().fnDestroy();
                InitCmtDatatable(choose);
            } else {
                ShowMessage(data.message, 1);
            }
        },
        error: function () {
            ShowMessage(data.message, 1);
        },
    });
    }
    function DelCmt(data) {
        $.ajax({
            url: "@Url.Action("DelCmt")",
            type: 'POST',
        data: {
            'data':data
        },
        success: function (result) {
            if (result.success) {
                ShowMessage(data.message, 3);
                $('#data-table-command').dataTable().fnDestroy();
                InitCmtDatatable(choose);
            } else {
                ShowMessage(data.message, 1);
            }
        },
        error: function () {
            ShowMessage(data.message, 1);
        },
    });
    }
</script>