﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/MacChefWeb/_LayoutExternalLogin.cshtml";
}
<div id="forgot-password" class="container">
    <h1 class="page-title">Tài khoản xác thực thành công</h1>
    <div class="line"></div>

    <div class="main-box">
        <h2 class="section-title">Tài khoản của bạn đã được xác thực</h2>
        <div class="description" data-lang="">
            Cảm ơn bạn đã xác thực email.<br />
            Vui lòng <a href="/dang-nhap">nhấp vào đây</a> để đăng nhập
        </div>
        <div class="text-center" style="margin-top:20px">
            <a href="/" class="btn btn-bordered ">Về trang chủ</a>
        </div>
    </div>
</div>
