﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/MacChefWeb/_LayoutExternalLogin.cshtml";
}
@model Wisky.SkyUp.Website.Models.ExternalLoginConfirmationViewModel


<div id="forgot-password" class="container">
    <h1 class="page-title">Liên kết với tài khoản @ViewBag.LoginProvider</h1>
    <div class="line"></div>

    <div class="main-box">

        @using (Html.BeginForm("ExternalLoginConfirmation", "Login", new { ReturnUrl = "/" }, FormMethod.Post))
            {
            <h2 class="section-title">Bạn đã xác thực thành công với <strong>@ViewBag.LoginProvider</strong></h2>
            <div class="description" data-lang="">
                Vui lòng nhập địa chỉ email của bạn dưới đây. <br>
                Chúng tôi sẽ gửi link khởi tạo mật khẩu mới qua email của bạn.
            </div>
            @Html.AntiForgeryToken()            
            @Html.TextBoxFor(m => m.Username, new { @class = "custom-text-input", placeholder = "* Tên đăng nhập" })
            @Html.ValidationMessageFor(m => m.Username , "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new { @class = "custom-text-input", placeholder = "* Email", @style = "margin-bottom: 5px" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="go-back clearfix">
                <div class="pull-left">
                    <a href="@(Html.UrlWithDirectory("dang-nhap"))">
                        <img width="15" height="10" class="icon" src="/Content/images/icon/icon_backarrow_2x.png">
                        Quay về trang đăng nhập
                    </a>
                </div>
                <div class="pull-right require">
                    * Bắt buộc
                </div>
            </div>
            <input type="submit" class="btn btn-bordered btn-send" value="GỬI" />
        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




