﻿@model Wisky.SkyUp.Website.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/MacChefWeb/_LayoutExternalLogin.cshtml";
}

<div id="forgot-password" style="margin-bottom:100px">
    <h1 class="page-title" style="margin-top:20px; font-size:30px">Quên mật khẩu</h1>
    <div class="line"></div>

    <div class="main-box" style="width:600px">
        <h2 class="section-title">Bạn đã quên mật khẩu</h2>
        <div class="description" data-lang="">
            Vui lòng nhập email đã đăng kí tài khoản.
        </div>
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new { @class = "custom-text-input" })
            <div class="text-center" style="margin-top:20px">
                <input type="submit" class="btn btn-bordered" style="width:100px" value="Gửi" />
            </div>
        }
    </div>
</div>

