﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/MacChefWeb/_LayoutExternalLogin.cshtml";
}
<div id="forgot-password" class="container">
    <h1 class="page-title">Đã gửi Email</h1>
    <div class="line"></div>

    <div class="main-box">
        <h2 class="section-title">Đã gửi email đặt lại mật khẩu</h2>
        <div class="description" data-lang="">
            Vui lòng kiểm tra email để đặt lại mật khẩu
        </div>
        <div class="text-center" style="margin-top:20px">
            <a href="/" class="btn btn-bordered ">Về trang chủ</a>
        </div>
    </div>
</div>
