﻿@model System.Web.Mvc.HandleErrorInfo

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div id="forgot-password" style="margin-bottom:50px">
    <h1 class="page-title" style="margin-top:20px; font-size:30px">Tài khoản chưa kích hoạt</h1>
    <div class="line"></div>

    <div class="main-box" style="width:600px">
        <h2 class="section-title">Tài khoản của bạn chưa được xác thực email.</h2>
        <div class="description" data-lang="">
            Vui lòng kiểm tra email (bao gồm thư mục spam) để xác thực tài khoản này
        </div>
        <div class="description" data-lang="">
            Nếu không nhận được email. Vui lòng nhập lại email của bạn để xác thực
        </div>
        <input type="email" id="ConfirmEmail" class="custom-text-input" placeholder="Nhập Email đã đăng kí tài khoản"/>
        @*<div class="go-back clearfix">
            <div class="text-center">
                <a href="@(Html.UrlWithDirectory("dang-nhap"))">
                    <img width="15" height="10" class="icon" src="/Content/images/icon/icon_backarrow_2x.png">
                    Quay về trang đăng nhập
                </a>
            </div>
        </div>*@
        <div class="text-center" style="margin-top:20px">
            <a id="ResendEmailConfirm" class="btn btn-bordered ">Gửi lại</a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
</div>