﻿@model Wisky.SkyUp.Website.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/MacChefWeb/_LayoutExternalLogin.cshtml";
}
<div id="forgot-password" style="margin-bottom:50px">
    <h1 class="page-title" style="margin-top:20px; font-size:30px">Đặt lại mật khẩu</h1>
    <div class="line"></div>

    <div class="main-box" style="width:600px">
        <h2 class="section-title">Đặt lại mật khẩu</h2>
        <div class="description" data-lang="">
            Vui lòng nhập email và mật khẩu mới.
        </div>
        @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "custom-text-input", @placeholder = "Email" })
                    @Html.PasswordFor(m => m.Password, new { @class = "custom-text-input", @placeholder = "Mật khẩu mới" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "custom-text-input", @placeholder = "Nhập lại mật khẩu" })
                </div>
            </div>
            <div class="text-center" style="margin-top:20px">
                <input type="submit" class="btn btn-bordered" style="width:100px" value="Gửi" />
            </div>
        }
    </div>
</div>

