﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/MacChefWeb/_LayoutExternalLogin.cshtml";
}
<div id="forgot-password" class="container">
    <h1 class="page-title">Đã đổi mật khẩu thành công</h1>
    <div class="line"></div>

    <div class="main-box">
        <h2 class="section-title">Đã đổi mật khẩu thành công</h2>
        <div class="description" data-lang="">
            Quay vể trang đăng nhập bằng mật khẩu mới
        </div>
        <div class="text-center" style="margin-top:15px">
            <a href="@(Html.UrlWithDirectory("dang-nhap"))">
                <img width="15" height="10" class="icon" src="/Content/images/icon/icon_backarrow_2x.png">
                Quay về trang đăng nhập
            </a>
        </div>
        <div class="text-center" style="margin-top:20px">
            <a href="/" class="btn btn-bordered ">Về trang chủ</a>
        </div>
    </div>
</div>
