﻿@model Wisky.SkyUp.Website.Models.SendCodeViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/MacChefWeb/_LayoutExternalLogin.cshtml";
}
<div id="forgot-password" class="container">
    <h1 class="page-title">Gửi mã xác thực</h1>
    <div class="line"></div>

    <div class="main-box">
        <h2 class="section-title">Gửi mã xác thực</h2>
        <div class="description" data-lang="">
            Đã có lỗi xảy ra trong quá trình xử lý<br>
            Vui lòng thử lại
        </div>
        @using (Html.BeginForm("SendCode", "Login", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("rememberMe", @Model.RememberMe)
            <div class="row">
                <div class="col-md-8">
                    Lựa chọn nhà cung cấp xác thực 2 bước:
                    @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                    <input type="submit" value="Gửi" class="btn btn-bordered btn-send" />
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

