﻿@model Wisky.SkyUp.Website.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/MacChefWeb/_LayoutExternalLogin.cshtml";
}
<div id="forgot-password" class="container">
    <h1 class="page-title">Nhập mã xác thực</h1>
    <div class="line"></div>

    <div class="main-box">
        <h2 class="section-title">Vui lòng nhập mã xác thực</h2>
        <div class="description" data-lang="">
        </div>
        @using (Html.BeginForm("VerifyCode", "Login", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("provider", @Model.Provider)
            @Html.Hidden("rememberMe", @Model.RememberMe)
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberBrowser)
                        @Html.LabelFor(m => m.RememberBrowser)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-bordered btn-send" value="Gửi" />
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




