﻿/* @import url(opensans.css); */
.ordernote {
    resize: none;
}

.main-form {
    height: 750px;
}

.infobox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-h2 {
    padding-top: 70px;
}

body {
    background: white;
    margin: 0px;
}

.divider-black {
    background-repeat: repeat-x;
    height: 4px;
    background-image: none;
    border-bottom: 1px dotted #222;
    margin-bottom: 12px;
}

.everything {
    background-color: white;
}

#order {
    width: 1000px;
}

#map {
    position: absolute;
    bottom: -0px;
    left: 340px;
    top: 10px;
    height: 350px;
    width: 600px;
    z-index: 9999999;
}

@-moz-keyframes bounce_Loading {
    0% {
        -moz-transform: scale(1);
    }

    100% {
        -moz-transform: scale(.3);
    }
}

@-webkit-keyframes bounce_Loading {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(.3);
    }
}

@-ms-keyframes bounce_Loading {
    0% {
        -ms-transform: scale(1);
    }

    100% {
        -ms-transform: scale(.3);
    }
}

@-o-keyframes bounce_Loading {
    0% {
        -o-transform: scale(1);
    }

    100% {
        -o-transform: scale(.3);
    }
}

@keyframes bounce_Loading {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.3);
    }
}

.form-group {
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 0px !important;
}

.color-blue {
    color: #0082dd;
}

.color-red {
    color: #ea5449;
}

body {
    color: #666666;
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
    background: whitesmoke;
    height: auto;
}

a, .user-login {
    color: #0082dd;
    text-decoration: none;
}

.container {
    background-color: white;
    width: 1180px;
    padding-bottom: 30px;
    height: 75%;
    margin: 0 auto;
    /*-moz-box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
    -webkit-box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
    box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);*/
}

h2 {
    padding-top: 10px;
    display: inline-block;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: #2c3e50;
    font-size: 38px;
    padding-top: 30px;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
    max-width: 1152px;
    margin: auto;
}

h2, h3 {
    color: #2c3e50;
    font-weight: 800;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-top: 0px;
}

h2 {
    padding-bottom: 10px;
    margin-top: 35px;
}

h3 {
    padding: 0px 10px 10px 10px;
    font-size: 15px;
    color: #2c3e50;
}


.form-info {
    width: initial;
    margin-left: 100px;
    margin-right: 100px;
}

.btn-next {
    position: absolute;
    top: 420px;
    right: 30px;
    height: 45px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 22px;
    /* line-height: 1.2em; */
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    background: #e50000;
    color: white;
    cursor: pointer;
    border: 0;
    outline: 0;
    white-space: nowrap;
}

.btn-checkout, .btn-submit-coupon, .continue-coupon, .cancel-coupon {
    margin-left: 800px;
    height: 45px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 22px;
    /* line-height: 1.2em; */
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    background: #e50000;
    color: white;
    cursor: pointer;
    border: 0;
    outline: 0;
    white-space: nowrap;
    margin-top: 7px;
}

    .btn-checkout:hover, .btn-submit-coupon:hover, .continue-coupon:hover, .btn-next:hover {
        background-color: #ff0000;
        color: #fff;
        opacity: 0.8;
    }

.error {
    border: 1px dashed #f88d81 !important;
    color: #F06455 !important;
    display: block;
    padding: 5px 7px;
}

.coupon-error {
    margin-top: 10px;
    padding: 5px;
}

.error.summary {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    display: none;
}

[aria-invalid="true"] {
    border: 1px dashed #f88d81 !important;
}

#datepicker {
    color: red;
}

#hasDatepicker {
    color: red;
}

.checkout-complete .box-complete {
    width: 660px;
    background: #fff;
    -moz-box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
    -webkit-box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
    box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    border-radius: 3px;
    padding: 35px;
    margin: auto;
    text-align: left;
    margin-top: 20px;
}


.btn-back {
    color: #0082dd;
    position: relative;
    font-size: 14px;
    text-transform: capitalize;
    height: 30px;
    font-weight: 400;
    line-height: 30px;
    background: url(../images/back-checkout.png) no-repeat center left;
    padding-left: 22px;
}

@media only screen and (min-width:1201px) {
    .btn-checkout-first {
        display: none;
    }
}

.hide-shipping {
    height: 0;
    overflow: hidden;
}
