﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3>Re-Run Report</h3>
            </div>

        </div>
        <hr />
    </div>

    <div class="card-padding">

        <div class="col-md-4 pull-right p-r-0">
            <div class="input-group">
                <div class="input-group date" id="datetimepicker" style="float: right">
                    <input id="date-time" type="text" class="input-group-addon form-control myInputCelender" style="padding-left: 0px !important;height: 37px; margin-top: -1px;" />
                    <span class="input-group-addon myCerlenderSpan">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
                <div class="input-group-btn">
                    <a class="btn btn-primary btn-sm" id="btnSearch">
                        <i class="left-icon fa fa-search"></i>     Tìm
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="allcust">
                    <!-- Datatable -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="reDateReport" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="">STT</label>
                                                </th>
                                                <th>
                                                    <label class="">StoreId</label>
                                                </th>
                                                <th>
                                                    <label class="">NumberOrders</label>
                                                </th>
                                                <th>
                                                    <label class="">RealNumberOrders</label>
                                                </th>
                                                <th>
                                                    <label class="">Status</label>
                                                </th>
                                                <th>
                                                    <label class="">Tùy chọn</label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*
    <input type="button" value="View Report" onclick="location.href='@Url.Action("ViewReport", "ReDateReport", new {brandId = 1, date = "01/03/2017" })'" />

        @if (@Model != null && @Model.count() > 0)
    {
        <table border="1" cellpadding="10">
            <tr>
                <td>ID</td>
                <td>Store</td>
                <td>Date</td>
                <td>CreateBy</td>
                <td>TotalOrder</td>
                <td>TotalAmount</td>
                <td>Discount</td>
                <td>DiscountOrderDetail</td>
                <td>FinalAmount</td>
                <td>TotalCash</td>
            </tr>
        </table>

        foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Store</td>
                <td>@item.Date</td>
                <td>@item.CreateBy</td>
                <td>@item.TotalOrder</td>
                <td>@item.TotalAmount</td>
                <td>@item.Discount</td>
                <td>@item.DiscountOrderDetail</td>
                <td>@item.FinalAmount</td>
                <td>@item.TotalCash</td>
            </tr>
        }
    }*@





<script>
    $(document).ready(function () {
        //InitBrandDatatable();
    });
    $(function () {
        $('#datetimepicker').datetimepicker({
            'maxDate': moment(),
            format: 'DD/MM/YYYY',
            defaultDate: moment(),
        });
    });

    $('#btnSearch').click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewReport", "ReDateReport")',
            data: {
                "date": $('#date-time').val(),
                "brandId": '1'
            },
            dataType: "json",
            success: function (result) {
                if (result.success == true) {
                    initialDatatable(result.listReport);
                }
            }
            });
        });

    function initialDatatable(data) {
        $('#reDateReport').dataTable().fnDestroy();
        $('#reDateReport').dataTable({
            "bFilter": false,
            "bSort": true,
            "bRetrieve": true,
            "bProcessing": true,
            "bScrollCollapse": true,
            "bLengthChange": true,
            "aaData": data,
            //"iDisplayLength": 50,
            //"aLengthMenu": [50, 150],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },

            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5],
                    "sClass": "text-center"
                },
                {
                    "aTargets": [2],
                    "mRender": function (name, type, row) {
                        var data = row[2];
                        if (data != null) {
                            var detail = data;
                            return detail;
                        } else return "---";
                    },
                },
                {
                    "aTargets": [3],
                    "mRender": function (name, type, row) {
                        var data = row[3];
                        if (data != null) {
                            var detail = data;
                            return detail;
                        } else return "---";
                    },
                },
                {
                    "aTargets": [4],
                    "mRender": function (data, type, row) {
                        var data1 = row[2];
                        var data2 = row[3];
                        if (data1 == data2)
                            return "true";
                        else
                            return "false";
                    },
                },
                {
                    "aTargets": [5],
                    "mRender": function (data, type, row) {
                        var storeId = row[1]
                        var reportId = row[5]
                        var data1 = row[2];
                        var data2 = row[3];
                        if (data1 == data2)
                            return "---";
                        else {
                            var result = '';
                            result = '<div><a class="btn btn-info"'
                                + ' id = "report-' + reportId + '"'
                                + ' onclick = "updateReport(' + reportId + ', ' + storeId + ')"'
                                + ' > Update </a></div>';
                            return result;
                        }
                    },
                }
            ],
            "bAutoWidth": true,
            "order": [[1, 'asc']],
        });
    }

    function updateReport(reportId, storeId) {

        $.ajax({
            //disable buttons
            type: "POST",
            url: '@Url.Action("ReCreateReport", "ReDateReport")',
            data: {
                "date": $('#date-time').val(),
                "reportId": reportId,
                "storeId": storeId
            },
            dataType: "json",
            success: function (result) {
                if (result.success == true) {
                    ShowMessage("Cập nhật thông tin báo cáo thành công", 2);
                    $('#btnSearch').click();
                }
            }
            });
        };

</script>