﻿@using System.Globalization
@model IEnumerable<HMS.SEA.WEB.Areas.Report.Models.GroupCategoryReportModal>
@{
    var categories = (List<Tuple<string, int>>)ViewBag.Category;
    var count = 0;
    
}
<p>Chi tiết ngày: @ViewBag.Start - @ViewBag.End</p>


<table id="groupCategoryReportDatatable" class="table table-striped table-bordered table-hover" style="width: 100% !important">
    <thead style="white-space: nowrap; text-overflow: ellipsis;">
        <tr>
            <th>
                <label class="">Tên sản phẩm</label>
            </th>
            <th>
                <label class="">Ngành hàng</label>
            </th>
            <th>
                <label class="">Số lượng</label>
            </th>
            <th>
                <label class="">Tổng tiền</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.CateName</td>
                <td>@item.Quantity</td>
                <td>
                    @string.Format(CultureInfo.InvariantCulture,
                        "{0:0,0}", @item.TotalPrice)
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#groupCategoryReportDatatable").datatablevpn({
            "iDisplayLength": 50,
            "aLengthMenu": [50, 150],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },

            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "/Content/ace/assets/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
        {
            "sExtends": "copy",
            "oSelectorOpts": { filter: 'applied', order: 'current' }
        },
        {
            "sExtends": "xls",
            "oSelectorOpts": { filter: 'applied', order: 'current' },
            "sFileName": "Báo cáo sản phẩm-@ViewBag.Store-@ViewBag.Start-@ViewBag.End .xls"
        },
        {
            "sExtends": "print",
            "oSelectorOpts": { filter: 'applied', order: 'current' },
        }
                ]
            },
            "aoColumnDefs": [
                {
                    "visible": false, "targets": 1
                }
            ],
            "bAutoWidth": true,
            "order": [[1, 'asc']],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(1, { page: 'current' }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr><td class="bg-warning" colspan="5">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            },
        });
    });

    //HuyNQ - View line chart category and product
    @*$(function () {
        // Create the chart
        var categoryTemp = @Html.Raw(Json.Encode(categories));
        var totalProduct = parseInt(@{ @ViewBag.TotalProduct })/1000;
        console.log(totalProduct);
        var categoryChart = [];
        for (var i = 0; i < categoryTemp.length; i++) {
            var array = { "name": categoryTemp[i].Item1, "y": categoryTemp[i].Item2/totalProduct, "drilldown": categoryTemp[i].Item1 };
            categoryChart.push(array);
            console.log(categoryTemp[i].Item1 +": " +categoryTemp[i].Item2/totalProduct);
        }
        console.log(categoryChart);
        console.log(totalProduct);
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.1f}%</b> of total<br/>'
            },

            series: [{
                name: "Ty le",
                colorByPoint: true,
                data: categoryChart
            }],
        });
    });*@
</script>