﻿@using System.Globalization
@model List<HMS.SEA.WEB.Areas.Report.Models.ShiftReportModel>
@{
    var count = 1;
}
<p>Chi tiết ngày: @ViewBag.Start - @ViewBag.End</p>
<table id="shiftReport" class="table table-striped table-bordered table-hover" style="width: 100% !important">
    <thead style="white-space: nowrap; text-overflow: ellipsis;">
        <tr>
            <th rowspan="2" style="text-align: center">Ngày</th>
            <th colspan="3" style="text-align: center">Ca 1</th>
            <th colspan="3" style="text-align: center">Ca 2</th>
        </tr>
        <tr>
            <th>Bill</th>
            <th>Tổng tiền</th>
            <th>TB Bill</th>
            <th>Bill</th>
            <th>Tổng tiền</th>
            <th>TB Bill</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td style="text-align: center">@item.StartTime</td>
                <td>@item.TotalOrderShift1</td>
                <td>@string.Format(CultureInfo.InvariantCulture,
                     "{0:0,0}", @item.TotalPriceShift1)</td>
                <td>@string.Format(CultureInfo.InvariantCulture,
                     "{0:0,0}", @item.AverageShift1)</td>
                <td>@item.TotalOrderShift2</td>
                <td>@string.Format(CultureInfo.InvariantCulture,
                     "{0:0,0}", @item.TotalPriceShift2)</td>
                <td>@string.Format(CultureInfo.InvariantCulture,
                     "{0:0,0}", @item.AverageShift2)</td>


            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#shiftReport").dataTable({
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },

            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "/Content/ace/assets/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
        {
            "sExtends": "copy",
            "oSelectorOpts": { filter: 'applied', order: 'current' }
        },
        {
            "sExtends": "xls",
            "oSelectorOpts": { filter: 'applied', order: 'current' },
            "sFileName": "Báo cáo ca-@ViewBag.Start-@ViewBag.End .xls"
        },
        {
            "sExtends": "print",
            "oSelectorOpts": { filter: 'applied', order: 'current' },
        }
                ]
            }
        });
    });

</script>