﻿@using System.Globalization
@{
    var categories = (List<Tuple<string, int, int>>)ViewBag.Category;
    var count = 0;
}
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br/>
<p>Chi tiết ngày: @ViewBag.Start - @ViewBag.End</p>
<table id="categoryReport" class="table table-striped table-bordered table-hover" style="width: 100% !important">
    <thead style="white-space: nowrap; -moz-text-overflow: ellipsis; text-overflow: ellipsis;">
        <tr>
            <th>
                <label class="">STT</label>
            </th>
            <th>
                <label class="">Tên danh mục</label>
            </th>
            <th>
                <label class="">Số lượng sản phẩm</label>
            </th>
            <th>
                <label class="">Tổng doanh thu</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in categories)
        {
            <tr>
                <td>@(++count)</td>
                <td>@item.Item1</td>
                <td>@item.Item2</td>
                <td>@string.Format(CultureInfo.InvariantCulture,
                           "{0:0,0}", @item.Item3)</td>
            </tr>
        }
    </tbody>
    @*<tfoot>
            <tr>
                <th colspan="2" style="text-align:right">Tổng doanh thu của tất cả cửa hàng:</th>
                <th></th>
            </tr>
        </tfoot>*@
</table>
<script>
    $(document).ready(function () {
        $("#categoryReport").dataTable({
            "iDisplayLength": 25,
            "aLengthMenu": [25],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "/Content/ace/assets/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
        {
            "sExtends": "copy",
            "oSelectorOpts": { filter: 'applied', order: 'current' }
        },
        {
            "sExtends": "xls",
            "oSelectorOpts": { filter: 'applied', order: 'current' },
            "sFileName": "Báo cáo ngành hàng .xls"
        },
        {
            "sExtends": "print",
            "oSelectorOpts": { filter: 'applied', order: 'current' },
        }
                ]
            }
        });
    });
    
     $(function () {
         // Create the chart
         var categoryTemp = @Html.Raw(Json.Encode(categories));
         var totalProduct = parseInt(@{ @ViewBag.TotalProduct })/100;
         console.log(totalProduct);
         var categoryChart = [];
         for (var i = 0; i < categoryTemp.length; i++) {
             var array = { "name": categoryTemp[i].Item1, "y": categoryTemp[i].Item2/totalProduct, "drilldown": categoryTemp[i].Item1 };
             categoryChart.push(array);
             console.log(categoryTemp[i].Item1 +": " +categoryTemp[i].Item2/totalProduct);
         }
         console.log(categoryChart);
         console.log(totalProduct);
         $('#container').highcharts({
             chart: {
                 type: 'column'
             },
             title: {
                 text: ''
             },
             subtitle: {
                 text: ''
             },
             xAxis: {
                 type: 'category'
             },
             yAxis: {
                 title: {
                     text: 'Total percent market share'
                 }

             },
             legend: {
                 enabled: false
             },
             plotOptions: {
                 series: {
                     borderWidth: 0,
                     dataLabels: {
                         enabled: true,
                         format: '{point.y:.1f}%'
                     }
                 }
             },

             tooltip: {
                 headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                 pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.1f}</b> of total<br/>'
             },

             series: [{
                 name: "Ty le",
                 colorByPoint: true,
                 data: categoryChart
             }],
         });
     });

</script>
