﻿@using System.Globalization
@model IEnumerable<HMS.SEA.WEB.Areas.Report.Controllers.TempStoreRevenueReportItem>



<div id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
<br />
<p>Chi tiết ngày: @ViewBag.Start - @ViewBag.End</p>
<table id="storeReportDatatable" class="table table-striped table-bordered table-hover" style="width: 100% !important">
    <thead style="white-space: nowrap; text-overflow: ellipsis;">
        <tr>
            <th>
                <label class="">Ngày</label>
            </th>
            <th>
                <label class="">Tổng doanh thu</label>
            </th>
            <th>
                <label class="">Giảm giá</label>
            </th>
            <th>
                <label class="">Doanh thu sau giảm giá</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StartTime.ToShortDateString()</td>
                <td>
                    @string.Format(CultureInfo.InvariantCulture,
                        "{0:0,0}", @item.TotalAmount)
                </td>
                <td>
                    @string.Format(CultureInfo.InvariantCulture,
                        "{0:0,0}", @item.TotalDiscountFee)
                </td>
                <td>
                    @string.Format(CultureInfo.InvariantCulture,
                        "{0:0,0}", @item.TotalFinal)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="1" style="text-align: right">Tổng doanh thu của cửa hàng:</th>
            <th>
                @string.Format(CultureInfo.InvariantCulture,
                          "{0:0,0}", @ViewBag.TotalAmount)
            </th>
            <th>
                @string.Format(CultureInfo.InvariantCulture,
                          "{0:0,0}", @ViewBag.TotalDiscount)
            </th>
            <th>
                @string.Format(CultureInfo.InvariantCulture,
                          "{0:0,0}", @ViewBag.TotalFinal)
            </th>
        </tr>
    </tfoot>
</table>

<script>
    $(document).ready(function () {
        $("#storeReportDatatable").dataTable({
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "/Content/ace/assets/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                    {
                        "sExtends": "copy",
                        "oSelectorOpts": { filter: 'applied', order: 'current' }
                    },
                    {
                        "sExtends": "xls",
                        "oSelectorOpts": { filter: 'applied', order: 'current' },
                        "sFileName": "Báo cáo doanh thu .xls"
                    },
                    {
                        "sExtends": "print",
                        "oSelectorOpts": { filter: 'applied', order: 'current' },
                    }
                ]
            }
        });
    });


    // HuyNQ 04/08/2105 - View High Chart
    $(function () {
        var listDate = [];
        var listTotal = [];
        var index = 0;
        @foreach (var item in Model)
        {
           @:listDate[index] = "@item.StartTime";
           @:listTotal[index] = parseInt("@item.TotalFinal");
           @:index ++;
        }
       
        $('#container').highcharts({
            title: {
                text: 'BIỂU ĐỒ KINH DOANH',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: listDate
            },
            yAxis: {
                title: {
                    text: 'VNĐ'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'VNĐ'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Values',
                data: listTotal,
            }]
        });
    });
</script>