﻿@using Resources
@{
    var p = (List<Hotel.Data.Product>)ViewBag.Product;
}

<div class="row">

    <div class="col-md-3">
        <a class="btn btn-success btn-block" id="showSearch" href="#">
            <i class="left-icon fa fa-external-link"></i>Hiện/Ẩn Tìm kiếm
        </a>
    </div>



    <div class="col-md-8 col-md-offset-1">
        <form class="form-horizontal" id="searchFunction">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="control-label col-md-3">Tên sản phẩm</label>
                        <div class="col-md-9">
                            <select id="product-list" class="form-control" multiple="multiple">
                                @foreach (var item in p)
                                {
                                    <option value="@item.ProductID">@item.ProductName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Giá từ</label>
                        <div class="col-md-4">
                            <input id="largerPrice" name="largerPrice" class="form-control" />
                        </div>
                        <label class="control-label col-md-1">đến</label>
                        <div class="col-md-4">
                            <input id="smallerPrice" name="smallerPrice" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <a class="btn btn-primary btn-block btn-sm" id="searchResult" href="#">
                                <i class="left-icon fa fa-search"></i>Tìm kiếm
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <a class="btn btn-danger btn-block btn-sm" id="clearResult" href="#">
                                <i class="left-icon fa fa-times"></i>Xóa
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div style="margin-top: 20px">
    <table id="tblOrderDetail" class="table table-striped table-bordered table-hover" style="width: 100% !important;">
        <thead style="white-space: nowrap;">
            <tr>
                <th>
                    <label class="">STT</label>
                </th>
                <th>
                    <label class="">Mã hóa đơn</label>
                </th>
                <th>
                    <label class="">Số lượng</label>
                </th>
                <th>
                    <label class="">Tổng cộng</label>
                </th>
                <th>
                    <label class="">Giảm giá</label>
                </th>
                <th>
                    <label class="">Thanh toán</label>
                </th>
                <th>
                    <label class="">Thời gian</label>
                </th>
                <th>
                    <label class="">Loại hóa đơn</label>
                </th>
                <th>
                    <label class="">Cashier</label>
                </th>
                <th>
                    <label class="">Chi tiết</label>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade " tabindex="-1" id="order-detail-report-modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Chi tiết hóa đơn</h4>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <div id="delivery">
                        <div class="col-md-12">
                            <label class="control-label text-left text-bold col-md-6">Tên khách hàng:</label>
                            <label class="control-label text-left col-md-6" data-role="customer-name"></label>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label text-left text-bold col-md-6">Địa chỉ giao hàng:</label>
                            <label class="control-label text-left col-md-6" data-role="delivery-address"></label>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label text-left text-bold col-md-6">Điện thoại:</label>
                            <label class="control-label text-left col-md-6" data-role="customer-phone"></label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label text-left text-bold col-md-6">Mã hóa đơn:</label>
                        <div class="col-md-6">
                            <label class="control-label text-left " data-role="invoiceid">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label text-left text-bold col-md-6">Cashier:</label>
                        <div class="col-md-6">
                            <label class="control-label text-left " data-role="cashier">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label text-left text-bold col-md-6">Thời gian đặt:</label>
                        <div class="col-md-6">
                            <label class="control-label text-left " data-role="order-time">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label text-left text-bold col-md-6">Loại hóa đơn:</label>
                        <div class="col-md-6">
                            <label class="control-label text-left" data-role="status">
                            </label>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover" id="order-report-detail-table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giảm giá (%)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            @*<div class="modal-footer">
                    <a class="btn btn-success" id="order-detail-submit">Lưu thay đổi</a>
                    <a class="btn btn-default close" data-dismiss="modal" aria-label="Close">Thoát</a>
                </div>*@
        </div>
    </div>
</div>
<script>
    var orderDetailTable = null;
    var currentId = -1;
    $(document).ready(function () {
        InitOrderDatatable();
        $('#delivery').hide();
        $('#product-list').select2();
        $('#searchResult').on("click", function (e) {
            RefreshOrderTable();
        });

        $('#clearResult').on("click", function (e) {
            $('#product-list').select2('val', []);
            $('#largerPrice').val('');
            $('#smallerPrice').val('');
            RefreshOrderTable();
        });

        //$('#product-list').on("change", function (e) {
        //    RefreshOrderTable();
        //});
        //$('#largerPrice').on("keyup", function (e) {
        //    RefreshOrderTable();
        //});
        //$('#smallerPrice').on("keyup", function (e) {
        //    RefreshOrderTable();
        //});
        $("#showSearch").click(function () {
            $("#searchFunction").fadeToggle();
        });

        $("#searchFunction").hide();
    });

    function RefreshOrderTable() {
        var oTable = $("#tblOrderDetail").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    }

    function InitOrderDatatable() {
        $("#tblOrderDetail").datatablevpn({
            "bSort": false,
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "/Report/StoreReport/LoadOrderDatatables",
            "bProcessing": true,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "fnServerData": function (sSource, aoData, fnCallback, oSetting) {
                var data = getDataTableData(aoData);
                data.productId = $('#product-list').val();
                oSetting.jqXHR = $.ajax({
                    'dataType': 'json',
                    contentType: "application/json;charset=utf-8",
                    'type': 'POST',
                    'url': '/Report/StoreReport/LoadOrderDatatables',
                    'data': JSON.stringify(data),
                    'success': fnCallback
                });
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "reportDate", "value": '@ViewBag.ReportDate' });
                aoData.push({ "name": "storeId", "value": '@ViewBag.storeId' });
                aoData.push({ "name": "largerPrice", "value": $('#largerPrice').val() });
                aoData.push({ "name": "smallerPrice", "value": $('#smallerPrice').val() });
            },
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 4, 6, 8],
                    "bSortable": false
                },
                {
                    "aTargets": [3],
                    "fnRender": function (o) {
                        var money = o.aData[3].toMoney(0, ',', '.');
                        return money;
                    }
                },
                {
                    "aTargets": [5],
                    "fnRender": function (o) {
                        var money = o.aData[5].toMoney(0, ',', '.');
                        return money;
                    }
                },
                {
                    "aTargets": [7],
                    "fnRender": function (o) {
                        var status = "";
                        var color = "";
                        switch (o.aData[7]) {
                            case 4:
                                status = "@Resources.View_AtStore";
                                color = "<span class='badge badge-primary'>";
                                break;
                            case 5:
                                status = "@Resources.View_TakeAway";
                                color = "<span class='badge badge-success'>";
                                break;
                            case 6:
                                status = "@Resources.View_Delivery";
                                color = "<span class='badge badge-warning'>";
                                break;
                        }
                        return color + status + '</span>';
                    }
                },
                {
                    "aTargets": [9],
                    "fnRender": function (o) {
                        var btn = $('<a/>', {
                            'class': 'btn btn-sm btn-info',
                            'html': $('<span/>', {
                                'class': 'fa fa-tasks'
                            }),
                            'data-invoiceid': o.aData[1],
                            'data-cashier': o.aData[8],
                            'data-id': o.aData[9],
                            'data-order-time': o.aData[6],
                            'data-status': o.aData[7],
                            'data-store-name': o.aData[10],
                            'data-role': 'detail'
                        });
                        return btn[0].outerHTML;
                    }
                }

            ],
            "bAutoWidth": false
        });
    }

    $(document).on('click', '[data-role=detail]', function () {
        currentId = $(this).data('id');
        console.log(currentId);
        var status = "";
        if ($(this).data('status') == 5) {
            status = '<span class="badge badge-success">@Resources.View_TakeAway</span>';
        }
        else if ($(this).data('status') == 4) {
            status = '<span class="badge badge-primary">@Resources.View_AtStore</span>';
        } else {
            status = '<span class="badge badge-warning">@Resources.View_Delivery</span>';
        }

        $('#order-detail-report-modal').modal('show');
        $('#order-detail-report-modal [data-role=customer-name]').html($(this).data('customer-name'));
        $('#order-detail-report-modal [data-role=delivery-address]').html($(this).data('delivery-address'));
        $('#order-detail-report-modal [data-role=customer-phone]').html($(this).data('customer-phone'));
        $('#order-detail-report-modal [data-role=store-name]').html($(this).data('delivery-address'));
        $('#order-detail-report-modal [data-role=order-time]').html($(this).data('order-time'));
        $('#order-detail-report-modal [data-role=invoiceid]').html($(this).data('invoiceid'));
        $('#order-detail-report-modal [data-role=cashier]').html($(this).data('cashier'));
        $('#order-detail-report-modal [data-role=status]').html(status);
        $('#order-detail-report-modal [data-role=store-name]').html($(this).data('store-name'));
        if ($(this).data('status') == 'Delivery') {
            $('#delivery').show();
        }
        orderDetailTable();
        RefreshTableOrderDetail();
        //orderDetailTable._fnPageChange(0);
        //orderDetailTable._fnAjaxUpdate();
    });


    var orderDetailTable = function () {
        $('#order-report-detail-table').dataTable({
            "bFilter": false,
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "/Report/StoreReport/LoadOrderDetailDatables",
            "bProcessing": true,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "rentId", "value": currentId });
            },
            "oLanguage": {
                "sSearch": "Tên Phòng:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."

            },
            "aoColumnDefs": [
                { "aTargets": [0, 1, 2, 3, 4], "bSortable": false },
                {
                    "aTargets": [2],
                    "fnRender": function (o) {
                        var money = o.aData[2].toMoney(0, ',', '.');
                        return money;
                    }
                },
            ],
            "bAutoWidth": false
        });
    };

    function RefreshTableOrderDetail() {
        var oTable = $("#order-report-detail-table").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    }

</script>

