﻿@using Hotel.Data
@{
    var dp = (List<DateProduct>)ViewBag.DateProducts;
    int count = 1;
}


<div style="margin-top: 20px">
    <table id="tblProduct" class="table table-striped table-bordered table-hover" style="width: 100% !important;">
        <thead style="white-space: nowrap;">
            <tr>
                <th>
                    <label class="">STT</label>
                </th>
                <th>
                    <label class="">Tên sản phẩm</label>
                </th>
                <th>
                    <label class="">Số lượng bán ra</label>
                </th>
                <th>
                    <label class="">Doanh thu</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (dp != null)
            {
                foreach (var item in dp)
                {
                    <tr>
                        <td>@(count++) </td>
                        <td>@item.ProductName_</td>
                        <td>@item.Quantity</td>
                        <td>@(item.TotalAmount.ToString("N0"))</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (dp != null)
{
    <script>
        $(document).ready(function () {
            $("#tblProduct").DataTable({
                "iDisplayLength": 50,
                "aLengthMenu": [50, 100],
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý..."
                }
            });
        });
    </script>
}
else
{
    <script>
    $(document).ready(function () {
        InitProductDatatable();
    });

    function RefreshProductTable() {
        var oTable = $("#tblProduct").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    }

    function InitProductDatatable() {
        $("#tblProduct").datatablevpn({

            "bSort": false,
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "/Report/StoreReport/LoadProductDatatables",
            "bProcessing": true,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "reportDate", "value": '@ViewBag.ReportDate' });
                aoData.push({ "name": "storeId", "value": '@ViewBag.storeId' });
            },
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."

            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3],
                    "bSortable": false
                }
            ],
            "bAutoWidth": false
        });
    }

        </script>
}
