﻿
<table id="tblCashier" class="table table-striped table-bordered table-hover" style="width: 100% !important;">
    <thead style="white-space: nowrap;">
        <tr>
            <th>
                <label class="">#</label>
            </th>
            <th>
                <label class="">Họ và tên</label>
            </th>
            <th>
                <label class="">Tên đăng nhập</label>
            </th>
            <th>
                <label class="">Tổng hóa đơn</label>
            </th>
            <th>
                <label class="">Tổng tiền thu được</label>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(document).ready(function () {
        $("#tblCashier").datatablevpn({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "/Report/StoreReport/LoadCashierDatatables",
            "bProcessing": true,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "reportDate", "value": '@ViewBag.ReportDate' });
                aoData.push({ "name": "storeId", "value": '@ViewBag.storeId' });
            },
            "oLanguage": {
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ ",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " ",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."

            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3],
                    "bSortable": false
                },
                {
                    "aTargets": [4],
                    "fnRender": function (o) {
                        var money = o.aData[4].toMoney(0, ',', '.');
                        return money;
                    }
                }
            ],
            "bAutoWidth": false
        });
    });

    </script>