﻿@{
    ViewBag.Title = "Báo cáo theo tháng";
  //  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1>Báo cáo theo tháng<small data-role="small-date"></small></h1>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <div class="input-group">
                    <div class="date-picker">
                        <input type="text" id="date-string" readonly />
                        <a id="reportrange"><i class="fa fa-calendar"></i></a>
                    </div><!-- /input-group -->

                    <div class="input-group-btn">
                        <a class="btn btn-success btn-sm" id="btnSearch">
                            <i class="left-icon fa fa-search"></i>Lọc
                        </a>
                    </div>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
    <form id="form-create-session" class="form-inline" style="display:none">
        <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" />
        <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" />
    </form>

    <!-- LINE CHART -->
    <div id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>

    <!-- export to excel -->
    <div style="margin-right:15px;">
        <button type="submit" id="export" class="btn btn-success btn-sm">
            <i class="fa fa-download"></i>
            Xuất ra file Excel
        </button>
    </div>

    <div id="datatable">
        <table id="monthRReport" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <label class=""></label>
                    </th>

                    <th>
                        <label class="">Số lượng hóa đơn(Mang đi)</label>
                    </th>

                    <th>
                        <label class="">Số lượng hóa đơn(Tại store)</label>
                    </th>

                    <th>
                        <label class="">Số lượng hóa đơn(Giao hàng)</label>
                    </th>
                    <th>
                        <label class="">Tổng số hóa đơn</label>
                    </th>
                    <th>
                        <label class="">Tổng giảm giá</label>
                    </th>
                    <th>
                        <label class="">Doanh thu</label>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        function cb(start, end, label) {
            var startTime = start.format('DD/MM/YYYY'),
                endTime = end.format('DD/MM/YYYY');
            var dateRange = startTime + (startTime == endTime ? '' : ' - ' + endTime);

            if (label != "Tùy chọn") {
                $('.date-picker input').val(label);
            } else {
                $('.date-picker input').val(dateRange);
            }
            $('#sTime').val(startTime);
            $('#eTime').val(endTime);
        }
        //show date time input
        cb(moment().startOf('year'), moment().endOf('year'),' Năm nay');

        $('#reportrange').daterangepicker({
            startDate: moment(),
            endDate: moment(),
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '7 ngày trước': [moment().subtract(6, 'days'), moment()],
                '30 ngày trước': [moment().subtract(29, 'days'), moment()],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Năm nay':[moment().startOf('year'), moment().endOf('year')],
                'Năm ngoái': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
            }
        }, cb);

        hourReport();
    });

    function RefreshTable() {
        var oTable = $("#monthRReport").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    var InitProDatatable = function(data) {
        $('#datatable').html('<table id="monthRReport" class="table table-striped table-bordered table-hover">'
                    +'<thead>'
                    +'<tr>'
                    +'<th>'
                        +'<label class=""></label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Số lượng hóa đơn(Mang đi)</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Số lượng hóa đơn(Tại store)</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Số lượng hóa đơn(Giao hàng)</label>'
                    +'</th>'
                    +'<th>'
                       +'<label class="">Tổng số hóa đơn</label>'
                    +'</th>'
                    +'<th>'
                       +'<label class="">Tổng giảm giá</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Doanh thu</label>'
                    +'</th>'
                    +'</tr>'
                    +'</thead>'
                    +'<tbody></tbody>'
                    +'</table');

        $("#monthRReport").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            'data':data,
            "bProcessing": true,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6],
                    "bSortable": false
                },
            ],
            "bAutoWidth": false
        });
    };

    $('#btnSearch').on('click', function () {
        if ($("#eTime").val().length > 16 || $("#sTime").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            hourReport();
        }
    });

    var hourReport = function () {
        $.ajax({
            type: 'GET',
            url: '/Report/StoreReport/LoadMonthReport',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(),'storeId': @ViewBag.storeId },
            success: function (result) {
                var startTime = $('#sTime').val();
                var endTime = $('#eTime').val();
                var dateRange = startTime + (startTime == endTime ? '' : ' - ' + endTime);

                $('[data-role=small-date]').html('(' + dateRange + ')'); // Chage date at page header

                InitProDatatable(result.datatable);
                DoanhThuChart(result.dataChart);
            }
        });
    };

    //-------------
    //- LINE CHART -
    //--------------
    function DoanhThuChart(dataChart)
    {
        $('#container').highcharts({
            title: {
                text: 'BIỂU ĐỒ HÓA ĐƠN',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: dataChart.MonthName
            },
            yAxis: {
                title: {
                    text: 'Hóa Đơn'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Hóa Đơn'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [
                {
                    name: 'TakeAway',
                    data: dataChart.TakeAway,
                },
                {
                    name: 'AtStore',
                    data: dataChart.AtStore,
                },
                {
                    name: 'Delivery',
                    data: dataChart.Delivery,
                }
            ]
        });
    };

    // export to excel
    $(document).on('click', '#export', function () {
        $.ajax({
            url: '/Report/StoreReport/ExportMonthTableToExcel',
            type: 'GET',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(),'storeId': @ViewBag.storeId },
            success: function (rs) {
                if(rs.success == true) {
                    ShowMessage('Xuất file Excel thành công <br/>' + rs.fileName, 3);
                }else {
                    ShowMessage('Xuất file Excel thất bại', 1);
                }
            }
        });
    });
</script>
