﻿@using Hotel.Data
@model IEnumerable<Hotel.Data.ProductCategory>
@{
    ViewBag.Title = "Báo cáo doanh thu theo ngành hàng";
 //   Layout = "~/Views/Shared/_Layout.cshtml";
    var list = (List<Store>)ViewBag.Store;
}

<div class="page-content">
    <!-- PAGE HEADER -->
    <div class="page-header">
        <div class="row small-margin">
            <!-- HEADER NAME -->
            <div class="col-md-6">
                <h1>Báo cáo ngành hàng<small data-role="small-date"></small></h1>
            </div><!-- HEADER NAME END -->
            <!-- SEARCH -->
            <div class="col-md-3 col-md-offset-3">
                <div class="input-group">
                    <!-- DATE PICKER -->
                    <div class="date-picker">
                        <input type="text" id="date-string" readonly />
                        <a id="reportrange"><i class="fa fa-calendar"></i></a>
                    </div><!-- DATE PICKER END -->
                    <!-- SEARCH BUTTON -->
                    <div class="input-group-btn">
                        <a class="btn btn-success btn-sm" id="btnSearch">
                            <i class="left-icon fa fa-search"></i>Lọc
                        </a>
                    </div><!-- SEARCH BUTTON -->
                </div><!-- /input-group -->
            </div><!-- SEARCH END -->
        </div>
    </div><!-- PAGE HEADER END -->
    <!-- STORE DATE VALUE -->
    <form id="form-create-session" class="form-inline">
        <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" hidden />
        <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" hidden />
    </form><!-- STORE DATE VALUE END -->
    <!-- CATEGORIES CHART -->
    <div id="container" style="width:100%;height:auto"></div><!-- CATEGORIES CHART END -->
    <!-- EXPORT TO EXCEL -->
    <div style="margin-right:1px;margin-bottom: 10px;">
        <button type="button" id="export" class="btn btn-success btn-sm">
            <i class="fa fa-download"></i>
            Xuất ra file Exce
        </button>
 
    </div><!-- EXPORT TO EXCEL -->
    <!-- CATEGORIES TABLE -->
    <div id="datatable" class="table-relative">
        <!-- CATEGORIES SELECTION -->
        <div class="form-inline form-absolute">
            <div class="form-group">
                <label>Phân loại</label>
                <select class="form-control" id="categoryId">
                    <option value="0">Tất cả ngành hàng</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.CateID">@item.CateName</option>
                    }
                </select>
            </div>
        </div><!-- CATEGORIES SELECTION -->
        <!-- TABLE -->
        <div id="categoryReportArea">
            <table id="categoryReport" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <label class="">STT</label>
                        </th>
                        <th>
                            <label class="">Tên danh mục</label>
                        </th>
                        <th>
                            <label class="">Số lượng sản phẩm</label>
                        </th>
                        <th>
                            <label class="">Tổng doanh thu</label>
                        </th>
                        <th>
                            <label class="">Giảm giá</label>
                        </th>
                        <th>
                            <label class="">Tỉ lệ xuất hiện trên hóa đơn/Tổng hóa đơn</label>
                        </th>
                        <th>
                            <label class="">Tỉ lệ đóng góp doanh số</label>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table><!-- TABLE END -->
        </div>
    </div><!-- CATEGORIES TABLE END -->
</div>

<script>
    $(document).ready(function () {
        function cb(start, end, label) {
            var startTime = start.format('DD/MM/YYYY'),
                endTime = end.format('DD/MM/YYYY');
            var dateRange = startTime + (startTime == endTime ? '' : ' - ' + endTime);

            if (label != "Tùy chọn") {
                $('.date-picker input').val(label);
            } else {
                $('.date-picker input').val(dateRange);
            }
            $('#sTime').val(startTime);
            $('#eTime').val(endTime);
        }
        cb(moment(), moment(),'Hôm nay');

        $('#reportrange').daterangepicker({
            'maxDate': moment().subtract(1, 'day'),
            locale: {
               format: 'DD/MM/YYYY'
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Tuần này': [moment().startOf('week'), moment().endOf('week')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        //InitCateDatatable();
        getData();
    });

    function getData() {
        var startTime = $('#sTime').val();
        var endTime = $('#eTime').val();

        $.ajax({
            url: '/Report/@ViewBag.storeId/@ViewBag.storeName/StoreReport/LoadCategoryReport',
            type: 'GET',
            data: {
                'startTime': startTime,
                'endTime': endTime,
                'catetoryId': $('#categoryId').val(),
                'storeId': @ViewBag.storeId,
            },
            success: function (rs) {
                var dateRange = startTime + (startTime == endTime ? '' : ' - ' + endTime);

                $('[data-role=small-date]').html(dateRange);// Change date range in header.
                InitCateDatatable(rs.dataTable);
                setUpCategoriesChart(rs.dataChart);
            }
        });
    };

    function InitCateDatatable(data) {
        $('#categoryReportArea').html('<table id="categoryReport" class="table table-striped table-bordered table-hover">'
                + '<thead>'
                    + '<tr>'
                        + '<th>'
                            + '<label class="">STT</label>'
                        + '</th>'
                        + '<th>'
                            + '<label class="">Tên danh mục</label>'
                        + '</th>'
                        + '<th>'
                            + '<label class="">Số lượng sản phẩm</label>'
                        + '</th>'
                        + '<th>'
                            + '<label class="">Tổng doanh thu</label>'
                        + '</th>'
                        + '<th>'
                            + '<label class="">Giảm giá</label>'
                        + '</th>'
                        + '<th>'
                            + '<label class="">Tỉ lệ xuất hiện trên hóa đơn/Tổng hóa đơn</label>'
                        + '</th>'
                        + '<th>'
                            + '<label class="">Tỉ lệ đóng góp doanh số</label>'
                        + '</th>'
                    + '</tr>'
                + '</thead>'
                + '<tbody></tbody>'
            + '</table>');

        $("#categoryReport").DataTable({
            "bSort": false,
            "bInfo": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "data": data,
            "bProcessing": true,
            "dom": '<"top"f>rt<"bottom"ilp><"clear">',
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6],
                    "bSortable": false
                },
                {
                    "aTargets": [5],
                    "visible": false,
                }
            ],
            "bAutoWidth": false
        });

        // Change date range in header
        var startTime = $('#sTime').val();
        var endTime = $('#eTime').val();
        var dateRange = startTime + (startTime == endTime ? '' : ' - ' + endTime);

        $('[data-role=small-date]').html('(' + dateRange + ')'); // Chage date at page header
    };

    $('#btnSearch').on('click', function () {
        if ($("#eTime").val().length > 16 || $("#sTime").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            getData();
        }
    });

    function setUpCategoriesChart(data) {
        var categoryTemp = data.listCategories;
        var totalProduct = data.totalProduct;
        var categoryChart = [];
        for (var i = 0; i < categoryTemp.length; i++) {
            var array = { "name": categoryTemp[i].Item1, "y": (categoryTemp[i].Item2 / totalProduct) * 100, "drilldown": categoryTemp[i].Item1 };
            categoryChart.push(array);
        }

        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Biểu đồ ngành hàng'
            },
            subtitle: {
                text: $("#date").html()
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: ''
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    }
                }
            },
            tooltip: {
                valueDecimals: 1,
                valueSuffix: '%'
            },
            series: [{
                name: "Tỷ lệ",
                colorByPoint: true,
                data: categoryChart
            }],
        });
    };

    // export to excel
    $(document).on('click', '#export', function () {
        $.ajax({
            url: '/Report/StoreReport/ExportCategoryTableToExcel',
            type: 'GET',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(), 'catetoryId': $('#categoryId').val(), 'storeId': @ViewBag.storeId },
            success: function (rs) {
                if(rs.success == true) {
                    ShowMessage('Xuất file Excel thành công <br/> ' + rs.fileName, 3);
                }else {
                    ShowMessage('Xuất file Excel thất bại', 1);
                }
            }
        });
    });
</script>
