﻿@{
    ViewBag.Title = "Báo cáo theo giờ";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    Báo cáo khoảng thời gian<small data-role="small-date"></small>
                </h1>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <div class="input-group">
                    <div class="date-picker">
                        <input type="text" id="date-string" readonly />
                        <a id="reportrange"><i class="fa fa-calendar"></i></a>
                    </div><!-- /input-group -->

                    <div class="input-group-btn">
                        <a class="btn btn-success btn-sm" id="btnSearch">
                            <i class="left-icon fa fa-search"></i>Lọc
                        </a>
                    </div>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
    <form id="form-create-session" class="form-inline" style="display:none">
        <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" />
        <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" />
    </form>

    <!-- BAR CHART -->
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    
    <!-- export to excel -->
    <div style="margin-right:15px;">
        <button type="submit" id="export" class="btn btn-success btn-sm">
            <i class="fa fa-download"></i>
            Xuất ra file Excel
        </button>
    </div>
    
    <div id="datatable">
        <table id="hourRReport" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <label class="">STT</label>
                    </th>
                    <th>
                        <label class="">Khoảng thời gian</label>
                    </th>
                    <th>
                        <label class="">Số lượng(Mang đi)</label>
                    </th>
                    <th>
                        <label class="">Thành tiền</label>
                    </th>
                    <th>
                        <label class="">Số lượng(Tại quán)</label>
                    </th>
                    <th>
                        <label class="">Thành tiền</label>
                    </th>
                    <th>
                        <label class="">Số lượng(Giao hàng)</label>
                    </th>
                    <th>
                        <label class="">Thành tiền</label>
                    </th>
                    <th>
                        <label class="">Tổng cộng</label>
                    </th>
                    <th>
                        <label class="">Thành tiền</label>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        function cb(start, end, label) {
            var startTime = start.format('DD/MM/YYYY'),
                endTime = end.format('DD/MM/YYYY');
            var dateRange = startTime + (startTime == endTime? "":" - " + endTime);

            if (label != "Tùy chọn") {
                $('.date-picker input').val(label);
            } else {
                $('.date-picker input').val(dateRange);
            }

            //Store data of start time and end time
            $('#sTime').val(startTime);
            $('#eTime').val(endTime);
        }
        //show day in input bar
        cb(moment(), moment(), 'Hôm nay');

        $('#reportrange').daterangepicker({
            maxDate: moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Tuần này': [moment().startOf('week'), moment().endOf('week')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        hourReport();
    });

    function RefreshTable() {
        var oTable = $("#hourRReport").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    var InitProDatatable = function(data) {
        console.log(data);
        $('#datatable').html('<table id="hourRReport" class="table table-striped table-bordered table-hover">'
                    +'<thead>'
                    +'<tr>'
                    +'<th>'
                        +'<label class="">STT</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Khoảng thời gian</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Số lượng (Mang Đi)</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Thành tiền</label>'
                    +'</th>'
                    +'<th>'
                       +'<label class="">Số lượng (Tại quán)</label>'
                    +'</th>'
                    +'<th>'
                       +'<label class="">Thành tiền</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Số lượng (Giao Hàng)</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Thành tiền</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Tổng cộng</label>'
                    +'</th>'
                    +'<th>'
                        +'<label class="">Thành tiền</label>'
                    +'</th>'
                    +'</tr>'
                    +'</thead>'
                    +'<tbody></tbody>'
                    +'</table');

        $("#hourRReport").dataTable({
            "bFilter": false,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            'data':data,
            "bProcessing": true,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                    "bSortable": false
                },
            ],
            "bAutoWidth": false
        });
    };

    $('#btnSearch').on('click', function () {
        if ($("#eTime").val().length > 16 || $("#sTime").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            hourReport();
        }
    });

    var hourReport = function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadHourReport", "StoreReport")',
            //url: '/StoreReport/LoadHourReport',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(),'storeId':@ViewBag.storeId },
            success: function (result) {
                var sDate = $('#sTime').val();
                var eDate = $('#eTime').val();
                var dateRange = "(" + sDate + (sDate == eDate? "":" - " + eDate) + ")";

                $('[data-role=small-date]').html(dateRange);// Chage date at page header

                InitProDatatable(result.datatable);
                DataChart(result.datachart);
            }
        });
    };
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */
    //-------------
    //- BAR CHART -
    //-------------
    function DataChart(datachart){

        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'category',
                categories: datachart.Time,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total percent market share'
                }

            },

            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },

            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },

            series: [
                {
                    name: 'TakeAway',
                    data: datachart.TakeAway,
                },
                {
                    name: 'AtStore',
                    data: datachart.AtStore,
                },
                {
                    name: 'Delivery',
                    data: datachart.Delivery,
                }
            ],
        });
    };

    // export to excel
    $(document).on('click', '#export', function () {

        $.ajax({
            url: '/Report/StoreReport/ExportHourTableToExcel',
            type: 'GET',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(),'storeId': @ViewBag.storeId },
            success: function (rs) {
                if(rs.success == true) {
                    ShowMessage('Xuất file Excel thành công <br/>' + rs.fileName, 3);
                }else {
                    ShowMessage('Xuất file Excel thất bại', 1);
                }
            }
        });
    });
</script>
