﻿@{
    ViewBag.Title = "Báo cáo doanh thu Ngày";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1>Báo cáo doanh thu theo ngày<small data-role="small-date"></small></h1>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <div class="input-group">
                    <div class="date-picker">
                        <input type="text" id="date-string" readonly />
                        <a id="reportrange"><i class="fa fa-calendar"></i></a>
                    </div><!-- /input-group -->

                    <div class="input-group-btn">
                        <a class="btn btn-success btn-sm" id="btnSearch">
                            <i class="left-icon fa fa-search"></i>Lọc
                        </a>
                    </div>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>

    <form id="form-create-session" class="form-inline">
        <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" hidden />
        <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" hidden />
    </form>

    <!-- LINE CHART -->
    <div id="container" style="width: auto; height: auto; margin: 0 auto"></div>

    <!-- export to excel -->
    <div style="margin-right:15px;">
        <button type="submit" id="export" class="btn btn-success btn-sm">
            <i class="fa fa-download"></i>
            Xuất ra file Excel
        </button>
    </div>

    <div id="storeReportDatatableArea">
        <table id="storeReportDatatable" class="table table-striped table-bordered table-hover" style="width: 100% !important">
            <thead style="white-space: nowrap; text-overflow: ellipsis;">

                <tr>
                    <th rowspan="2" style="text-align: center">Ngày</th>
                    <th colspan="3" style="text-align: center">Doanh thu</th>
                    <th colspan="4" style="text-align: center">Hóa đơn</th>
                </tr>
                <tr>
                    <th>
                        <label class="">Tổng doanh thu</label>
                    </th>
                    <th>
                        <label class="">Giảm giá</label>
                    </th>
                    <th>
                        <label class="">Doanh thu sau giảm giá</label>
                    </th>
                    <th>
                        <label class="">Hóa đơn (AtStore)</label>
                    </th>
                    <th>
                        <label class="">Hóa đơn (Delivery)</label>
                    </th>
                    <th>
                        <label class="">Hóa đơn (TakeAway)</label>
                    </th>
                    <th>
                        <label class="">Tổng hóa đơn</label>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        function cb(start, end, label) {
            var startTime = start.format('DD/MM/YYYY'),
                endTime = end.format('DD/MM/YYYY');
            var dateRange = startTime + (startTime == endTime ? '' : ' - ' + endTime);

            if (label != "Tùy chọn") {
                $('.date-picker input').val(label);
            } else {
                $('.date-picker input').val(dateRange);
            }
            $('#sTime').val(startTime);
            $('#eTime').val(endTime);
        }
        cb(moment().startOf('month'),  moment().subtract(1, 'days'), "Tháng này");

        $('#reportrange').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Tuần này': [moment().startOf('week'), moment().endOf('week')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        //$(document).on('click', '#excelExport', function () {
        //    $("#storeReportDatatable").table2excel({
        //        exclude: ".noExl",
        //        name: "Excel Document Name",
        //        filename: "Doanh Thu và Hóa Đơn theo ngày",
        //        exclude_img: true,
        //        exclude_links: true,
        //        exclude_inputs: true
        //    });
        //});

        //InitRevenueDatatable();
        getData();
    });

    function RefreshTable() {
        var oTable = $("#storeReportDatatable").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    function reDrawTable() {
        $("#storeReportDatatableArea").html('<table id="storeReportDatatable" class="table table-striped table-bordered table-hover" style="width: 100% !important">'
            + '<thead style="white-space: nowrap; text-overflow: ellipsis;">'

                + '<tr>'
                    + '<th rowspan="2" style="text-align: center">Ngày</th>'
                    + '<th colspan="3" style="text-align: center">Doanh thu</th>'
                    + '<th colspan="4" style="text-align: center">Hóa đơn</th>'
                + '</tr>'
                + '<tr>'
                    + '<th>'
                        + '<label class="">Tổng doanh thu</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Giảm giá</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Doanh thu sau giảm giá</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Hóa đơn (AtStore)</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Hóa đơn (Delivery)</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Hóa đơn (TakeAway)</label>'
                    + '</th>'
                    + '<th>'
                        + '<label class="">Tổng hóa đơn</label>'
                    + '</th>'
                + '</tr>'
            + '</thead>'
            + '<tbody></tbody>'
            + '<tfoot>'
            + '</tfoot>'
        + '</table>');
    };

    function InitRevenueDatatable(data) {
        reDrawTable();
        var datat = $("#storeReportDatatable").dataTable({
            //"bSort": false,
            "bRetrieve": true,
            //"bServerSide": true,
            "bScrollCollapse": true,
            //"sAjaxSource": '/Report/StoreReport/LoadRevenueReport',
            "data": data,
            //"bProcessing": true,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            @*"fnServerParams": function (aoData) {
                aoData.push({ "name": "startTime", "value": $('#sTime').val() });
                aoData.push({ "name": "endTime", "value": $('#eTime').val() });
                aoData.push({ "name": "storeId", "value": @ViewBag.storeId });
            },*@
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0,1, 2, 3, 4, 5, 6, 7],
                    "bSortable": false
                },
            ],
            "aaSorting":[[ 0, "desc" ]],
            "bAutoWidth": false
        });
    };

    $('#btnSearch').on('click', function () {
        if ($("#eTime").val().length > 16 || $("#sTime").val().length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            //InitRevenueDatatable();
            //RefreshTable();
            getData();
        }
    });

    var hourReport = function () {
        $.ajax({
            type: 'GET',
            url: '/Report/' + '@ViewBag.storeId' + '/' + '@ViewBag.storeName' + '/StoreReport/LoadRevenueReport',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val() },
            dataType: 'html',
            success: function (result) {
                $('#datatable').html(result);
            }
        });
    };

    function getData()
    {
        $.ajax({
            type: 'GET',
            url: '/Report/StoreReport/LoadRevenueReport',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(),'storeId': @ViewBag.storeId },
            success: function (rs) {
                var startTime = $('#sTime').val(),
                    endTime = $('#eTime').val();
                var dateRange = startTime + (startTime == endTime ? '' : ' - ' + endTime);

                $('[data-role=small-date]').html("(" + dateRange + ")");

                InitRevenueDatatable(rs.datatable);

                var dataChart = rs.datachart;
                if(dataChart.dateList.length > 1) {
                    DoanhThuChart(rs.datachart);
                    $("#container").show();
                } else {
                    $("#container").hide();
                }
                //datachart=rs.dataChart;
                //$('#DoanhThuChart').show();
                //$('#lineChart').remove();
                //$('#DoanhThuChart .box-body').append('<canvas id="lineChart" style="min-width: 310px;width: 100%; height: 430px; margin: 0 auto"></canvas>');
                //DoanhThuChart(datachart);
            }
        });
    }
    //-------------
    //- LINE CHART -
    //--------------
    function DoanhThuChart(dataChart)
    {
        console.log(dataChart.dateList);
        $('#container').highcharts({
            title: {
                text: 'BIỂU ĐỒ DOANH THU',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: dataChart.dateList
            },
            yAxis: {
                title: {
                    text: 'VNĐ'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' VNĐ'
            },
            //legend: {
            //    layout: 'vertical',
            //    align: 'bottom',
            //    verticalAlign: 'middle',
            //    borderWidth: 0
            //},
            series: [
                {
                    name: 'Tổng doanh thu',
                    data: dataChart.totalAmount,
                },
                {
                    name: 'Giảm giá',
                    data: dataChart.totalDiscountFee,
                },
                {
                    name: 'Doanh thu sau giảm giá',
                    data: dataChart.totalFinal,
                }
            ]
        });
    };

    // export to excel
    $(document).on('click', '#export', function () {

        $.ajax({
            url: '/Report/StoreReport/ExportRevenueTableToExcel',
            type: 'GET',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val(), 'catetoryId': $('#categoryId').val(), 'storeId': @ViewBag.storeId },
            success: function (rs) {
                if(rs.success == true) {
                    ShowMessage('Xuất file Excel thành công <br/> ' + rs.fileName, 3);
                }else {
                    ShowMessage('Xuất file Excel thất bại', 1);
                }
            }
        });
    });
</script>
