﻿@{
    ViewBag.Title = "Báo cáo tổng hợp ca";
  //  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    Báo cáo ca
                    <small data-role="small-date"></small>
                </h1>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <div class="input-group">
                    <div class="date-picker">
                        <input type="text" id="date-string" readonly />
                        <a id="reportrange"><i class="fa fa-calendar"></i></a>
                    </div><!-- /input-group -->

                    <div class="input-group-btn">
                        <a class="btn btn-success btn-sm" id="btnSearch">
                            <i class="left-icon fa fa-search"></i>Lọc
                        </a>
                    </div>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
    <form id="form-create-session" class="form-inline" style="display:none">
        <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" />
        <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" />
    </form>

    <!-- export to excel
    <div class="text-right" style="margin-right:15px;">
        <button type="submit" id="export" class="btn btn-success btn-sm">
            <i class="fa fa-download"></i>
            Xuất ra file Excel
        </button>
    </div>-->

    <div id="container"></div>
    <button type="submit" id="export" class="btn btn-success btn-sm">
        <i class="fa fa-download"></i>
        Xuất ra file Excel
    </button>
    <!-- DataTable -->
    <div id="datatable">
        <table id="shiftReport" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th rowspan="2" style="text-align: center">Ngày</th>
                    <th colspan="3" style="text-align: center">Ca 1</th>
                    <th colspan="3" style="text-align: center">Ca 2</th>
                </tr>
                <tr>
                    <th>Bill</th>
                    <th>Tổng tiền</th>
                    <th>TB Bill</th>
                    <th>Bill</th>
                    <th>Tổng tiền</th>
                    <th>TB Bill</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div> <!-- ./DataTable -->
</div>

<script>
    $(document).ready(function () {
        //function cb(start, end, label) {
        //    if (label != "Tùy chọn") {
        //        $('.date-picker input').val(label);
        //    } else {
        //        $('.date-picker input').val(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
        //    }
        //    $('#sTime').val(start.format('DD-MM-YYYY'));
        //    $('#eTime').val(end.format('DD-MM-YYYY'));
        //}
        //cb(moment(), moment());

        function cb(start, end, label) {
            if (label != "Tùy chọn") {
                $('#date-string').val(label);
            } else if (start.format('DD/MM/YYYY') == end.format('DD/MM/YYYY')) {
                $('#date-string').val(start.format('DD/MM/YYYY'));
            } else {
                $('#date-string').val(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
            }
            $('#sTime').val(start.format('DD/MM/YYYY'));
            $('#eTime').val(end.format('DD/MM/YYYY'));

            //Prepare start time and end time format
            var startTime = start.format('DD/MM/YYYY'),
                endTime = end.format('DD/MM/YYYY');

            //Chage date at page header
            $('[data-role=small-date]').html('(' + startTime + (startTime == endTime ? '' : ' - ' + endTime) + ')');
        }
        cb(moment(), moment(), 'Hôm nay');

        $('#reportrange').daterangepicker({
            "maxDate": moment(),
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Tuần này': [moment().startOf('week'), moment().endOf('week')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        var startDate = $("#sTime").val(),
            endDate = $("#eTime").val();
        $('[data-role=small-date]').html('(' + startDate + ')');

        $(document).on('click', '#export', function () {
            var strStartDate = $('#sTime').val(),
                strEndDate = $('#eTime').val();

            $.ajax({
                url: '/Report/StoreReport/ExportShiftReportToExcel',
                type: 'GET',
                data: { startTime: strStartDate, endTime: strEndDate, storeId: @ViewBag.storeId },
                success: function (rs) {
                    if(rs.success == true) {
                        ShowMessage('Xuất file Excel thành công <br/> ' + rs.fileName, 3);
                    }else {
                        ShowMessage('Xuất file Excel thất bại', 1);
                    }
                }
            });
        });

        getDate();
        //InitProDatatable();
    });

    function RefreshTable() {
        var oTable = $("#shiftReport").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    function InitProDatatable(data) {
        console.log(data);
        $('#datatable').html('<table id="shiftReport" class="table table-striped table-bordered table-hover">'
            + '<thead>'
                + '<tr>'
                    + '<th rowspan="2" style="text-align: center">Ngày</th>'
                    + '<th colspan="3" style="text-align: center">Ca 1</th>'
                    + '<th colspan="3" style="text-align: center">Ca 2</th>'
                + '</tr>'
                + '<tr>'
                    + '<th>Bill</th>'
                    + '<th>Tổng tiền</th>'
                    + '<th>TB Bill</th>'
                    + '<th>Bill</th>'
                    + '<th>Tổng tiền</th>'
                    + '<th>TB Bill</th>'
                + '</tr>'
            + '</thead>'
            + '<tbody></tbody>'
        + '</table>');

        $("#shiftReport").dataTable({
            "bSort": false,
            "bRetrieve": true,
            //"bServerSide": true,
            "bScrollCollapse": true,
            "data": data,
            //"bProcessing": true,
            "iDisplayLength": 50,
            "aLengthMenu": [50, 100],
            @*"fnServerParams": function (aoData) {
                aoData.push({ "name": "startTime", "value": $('#sTime').val() });
                aoData.push({ "name": "endTime", "value": $('#eTime').val() });
                aoData.push({ "name": "storeId", "value": @ViewBag.storeId });
            },*@
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5, 6],
                    "bSortable": false
                },
            ],
            "bAutoWidth": false
        });
    };

    $('#btnSearch').on('click', function () {
        var startDate = $("#sTime").val(),
            endDate = $("#eTime").val();

        if (startDate.length > 16 || endDate.length > 16) {
            ShowMessage("Vui lòng nhập thời gian đúng định dạng", 3);
            return;
        }
        else {
            $('[data-role=small-date]').html('(' + startDate + (startDate == endDate ? '':' - ' + endDate) + ')');

            getDate();
            //InitProDatatable();
            //RefreshTable();
        }
    });

    var setUpReportChart = function (data) {
        $('#container').highcharts({
            title: {
                text: 'Báo cáo doanh thu',
                x: -20 //center
            },
            //subtitle: {
            //    text: 'Source: WorldClimate.com',
            //    x: -20
            //},
            xAxis: {
                categories: data.listDate
            },
            yAxis: {
                title: {
                    text: ' VNĐ'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'VNĐ'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Ca 1',
                data: data.listTotalMoneyShift1
            }, {
                name: 'Ca 2',
                data: data.listTotalMoneyShift2
            }]
        });
    };

    @*var shiftReport = function () {
        $.ajax({
            type: 'GET',
            url: '/Report/' + '@ViewBag.storeId' + '/' + '@ViewBag.storeName' + '/StoreReport/LoadShiftReport',
            data: { 'startTime': $('#sTime').val(), 'endTime': $('#eTime').val() },
            dataType: 'html',
            success: function (result) {
                $('#datatable').html(result);
            }
        });
    };*@

    var getDate = function () {
        var strStartDate = $('#sTime').val(),
            strEndDate = $('#eTime').val();
        var dStartDate = moment(strStartDate).format('DD/MM/YYYY'),
            dEndDate = moment(strEndDate).format('DD/MM/YYYY');

        $.ajax({
            url: '/Report/StoreReport/LoadShiftReport',
            type: 'GET',
            data: { startTime: strStartDate, endTime: strEndDate, storeId: @ViewBag.storeId },
            success: function (rs) {
                //Add new data to datatable
                InitProDatatable(rs.dataTable);
                //Draw Tổng tiền chart
                if(dStartDate != dEndDate) {
                    setUpReportChart(rs.dataChart);
                }
            }
        });
    };

</script>
