/**
    Page: SIGN IN
    Author: DucBM
**/

@media (min-width: 992px) {
    #sign-in-page {
        width: 944px;
    }
}

#sign-in-page .page-title {
    margin: 120px 0 0 0;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #a87b4f;
    text-transform: uppercase;
    text-align: center;
}
#sign-in-page .line {
    width: 51px;
    height: 5px;
    background: #a87b4f;
    margin-top: 15px;
    margin-bottom: 58px;
    margin-left: auto;
    margin-right: auto;
}
#sign-in-page .main {
    margin-bottom: 213px;
}

#sign-in-page .section-title {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
#sign-in-page .use-mine .section-title {
    margin-top: 14px;
}

#sign-in-page .custom-text-input {
    width: 250px;
    height: 40px;
    border: solid 1px #a87b4f;
    padding: 0 17px;
}
@media (min-width: 1200px) {
    #sign-in-page .custom-text-input {
        width: 285px;
    }
}
#sign-in-page .table-form {
    margin: 15px auto 0;
    width: auto;
    border-collapse: separate;
    border-spacing: 16px;
    position: relative;
    left: -30px;
}
@media (min-width: 768px) {
    #sign-in-page .table-form {
        margin: 15px auto 0 10px;
        position: static;
    }
}
#sign-in-page .table-form .icon {
    margin-right: 12px;
}

#sign-in-page .table-form th,
#sign-in-page .table-form td {
    border: none;
}

#sign-in-page .table-form .btn-sign-in {
    width: 140px;
    height: 40px;
    padding: 0;
    margin-top: 14px;
}

#sign-in-page .table-form .help,
#sign-in-page .table-form .help a {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

#sign-in-page .custom-checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px #000000;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
}
#sign-in-page input[type="checkbox"] {
    display: none;
}
#sign-in-page input[type="checkbox"]:checked ~ .custom-checkbox::after {
    content: '';
    display: block;
    background: black;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 6px;
    height: 6px;
}
#sign-in-page .custom-checkbox-label {
    font-weight: 500;
    display: block;
    margin: 0;
}

#sign-in-page .btn-sign-up {
    width: 281px;
    height: 40px;
    padding: 0;
    display: block;
    margin: 25px auto 0;
}

#sign-in-page .create-new {
    background-color: #f9f9f9;
    padding: 24px 35px 40px;
}
#sign-in-page .description {
    margin-top: 20px;
}
#sign-in-page .description {
    margin-top: 20px;
    font-weight: 500;
}
#sign-in-page .btn-facebook {
    width: 281px;
    height: 40px;
    padding: 0;
    display: block;
    margin: 20px auto 0;
    border-color: #39579a;
    color: #39579a;
}
#sign-in-page .btn-facebook:hover {
    color: white;
    background: #39579a;
}
#sign-in-page .btn-facebook .pull-left {
    height: 100%;
    width: 43px;
    border-right: solid 1px #39579a;
    padding: 7px 0 0 0;
}
#sign-in-page .btn-facebook:hover .pull-left  {
    border-right-color: white;
}
#sign-in-page .btn-facebook .fa {
    font-size: 24px;
    line-height: 26px;
}

#sign-in-page .btn-facebook .pull-right {
    height: 100%;
    width: calc(100% - 43px);
    padding-top: 9px;
}

