/* main color: #a87b4f */


/** GENERAL **/


@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Ultralight.eot');
    src: url('../fonts/SanFranciscoDisplay-Ultralight.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Ultralight.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Ultralight.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Ultralight.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Ultralight.svg#SanFranciscoDisplay-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Thin.eot');
    src: url('../fonts/SanFranciscoDisplay-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Thin.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Thin.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Thin.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Thin.svg#SanFranciscoDisplay-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Light.eot');
    src: url('../fonts/SanFranciscoDisplay-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Light.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Light.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Light.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Light.svg#SanFranciscoDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Regular.eot');
    src: url('../fonts/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Regular.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Regular.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Regular.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Regular.svg#SanFranciscoDisplay-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Regular.eot');
    src: url('../fonts/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Regular.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Regular.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Regular.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Regular.svg#SanFranciscoDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Medium.eot');
    src: url('../fonts/SanFranciscoDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Medium.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Medium.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Medium.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Medium.svg#SanFranciscoDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Semibold.eot');
    src: url('../fonts/SanFranciscoDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Semibold.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Semibold.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Semibold.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Semibold.svg#SanFranciscoDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Bold.eot');
    src: url('../fonts/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Bold.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Bold.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Bold.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Bold.svg#SanFranciscoDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Bold.eot');
    src: url('../fonts/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Bold.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Bold.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Bold.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Bold.svg#SanFranciscoDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Heavy.eot');
    src: url('../fonts/SanFranciscoDisplay-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Heavy.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Heavy.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Heavy.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Heavy.svg#SanFranciscoDisplay-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFranciscoDisplay-Black.eot');
    src: url('../fonts/SanFranciscoDisplay-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFranciscoDisplay-Black.woff2') format('woff2'), url('../fonts/SanFranciscoDisplay-Black.woff') format('woff'), url('../fonts/SanFranciscoDisplay-Black.ttf') format('truetype'), url('../fonts/SanFranciscoDisplay-Black.svg#SanFranciscoDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'San Francisco', sans-serif;
    letter-spacing: 0.41px;
}

.text-12 {
    font-size: 12px !important;
}

.section-title {
    text-align: center;
    font-size: 30px;
    color: #a87b4f;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.icon-arrow-left,
.icon-arrow-right {
    height: 27px;
    width: 14px;
}

/** Customized Select tag **/
.select {
    margin: 0;
    padding: 0 51px 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../images/icon/icon_arrow_down_2x.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 14px 7px;
    border: solid 1px #a87b4f;
    height: 30px;
}

    .select:focus {
        outline: none;
    }

/** Bordered button **/
.btn.btn-bordered {
    border: solid 1px #a87b4f;
    color: #a87b4f;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px;
    text-align: center;
    background: none;
    border-radius: 0;
}

    .btn.btn-bordered:hover,
    .btn.btn-bordered:active {
        background: #a87b4f;
        color: white;
    }

/** /Bordered button **/

/** /GENERAL **/


/** HEADER **/

#header {
    color: #a87b4f;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 12px;
    font-weight: 600;
    z-index: 21;
    position: relative;
    /*height: 100px;*/
}

    #header a {
        color: #a87b4f;
    }

    #header .center {
        text-align: center;
        padding-top: 12px;
    }

    #header .logo {
        width: 170px;
        height: 70px;
    }

@media screen and (min-width: 768px) {
    #header .left {
        padding-top: 58px;
    }

    #header .right {
        padding-top: 45px;
    }
}

#header .lang {
    border: 1px solid #a87b4f;
    border-radius: 6px;
    color: #a87b4f;
    margin-right: 17px;
    width: auto;
    height: auto;
    font-size: 12px;
    padding: 2px 8px;
}

#header .action:first-child {
    padding-left: 20px;
}

#header .action:not(:first-child) {
    border-right: 1px solid #a87b4f;
    padding: 0 22px;
}

#header .icon-account {
    margin-right: 10px;
    width: 15px !important;
}

#header .icon {
    display: inline-block;
    vertical-align: baseline;
    width: 25px;
    height: 25px;
}


/** /HEADER **/


/** NAV **/

#nav {
    background: #a87b4f;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 21;
}

    #nav li > a {
        /* padding: 0; */
        padding-right: 0;
        padding-left: 0;
        color: white;
        text-transform: uppercase;
        height: 60px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
    }
    
    @media (min-width: 992px) {
        #nav li > a {
            font-size: 16px;
        }
    }

    #nav .navbar-toggle:focus {
        background: none;
    }

    #nav .navbar-toggle:hover {
        background: white;
    }

    #nav .icon-bar {
        background: white;
    }

    #nav .navbar-toggle:hover .icon-bar {
        background: #a87b4f;
    }

    #nav ul.nav {
        position: relative;
    }

        #nav ul.nav li {
            position: static;
        }

@media screen and (min-width: 768px) {
    #nav ul.nav {
        float: none;
        text-align: justify;
        font-size: 0;
        letter-spacing: 0;
        /* white-space: nowrap; */
        /* margin-left: -35px; */
        /* margin-right: -15px; */
    }

        #nav ul.nav::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 0;
        }

        #nav ul.nav li {
            display: inline-block;
            float: none;
            font-size: initial;
            transition-duration: .2s;
            width: auto;
            white-space: nowrap;
            text-align: center;
        }

    #nav .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}


/*#nav ul.nav li:hover {
    background: rgba(255, 255, 255, .3);
}*/

#nav ul.nav li.active > a {
    background: rgba(255, 255, 255, .3);
}

#nav ul.nav li:hover > a {
    position: relative;
}

#nav ul.nav li.dropdown:hover > a:after {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    display: inline-block;
    border: solid transparent;
    border-width: 15px;
    border-bottom-color: white;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-width: 10px;
}


/** /NAV **/


/** MAIN SLIDER **/

#main-slider .slide-title-sm {
    font-size: 2.0vw;
    color: black;
    font-weight: normal;
    margin: 0;
}

#main-slider .slide-title-lg {
    font-size: 4vw;
    line-height: 4vw;
    color: black;
    font-weight: normal;
    font-weight: bolder;
    margin: 0;
    margin-top: 0.2vw;
}

    #main-slider .slide-title-lg span {
        color: #a87b4f;
    }

#main-slider .slide-1 .shop-now {
    border: 0.2vw solid #a87b4f;
    padding: 0.65vw 1.9vw;
    color: #a87b4f;
    display: inline-block;
    margin-top: 1.9vw;
    font-weight: 600;
    font-size: 1.2vw;
}

#main-slider .ratio-wrapper-team-img::before {
    padding-top: 69.4%;
}

#main-slider .swiper-button-next {
    text-align: right;
    right: 5px;
}

#main-slider .swiper-button-prev {
    text-align: left;
    left: 5px;
}

@media screen and (min-width: 992px) {
    #main-slider .swiper-button-next {
        right: 68px;
    }

    #main-slider .swiper-button-prev {
        left: 68px;
    }
}

#main-slider .swiper-slide {
    overflow: hidden;
}

#main-slider .swiper-pagination-bullet {
    border: 1px solid #ffffff;
    border-radius: 50%;
    background: none;
    height: 12px;
    width: 12px;
    opacity: 1;
}

#main-slider .swiper-pagination-bullet-active {
    background: #ffffff;
}

#main-slider .slide-1 .right {
    padding-top: 8vw;
}


/*@media screen and (min-width: 768px) {
        }*/


/** /MAIN SLIDER **/


/** CATEGORIES **/

#categories {
    margin-top: 20px;
}

    #categories .image {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 20px;
    }

        #categories .image::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 86px;
            background: #EF0E0E;
            background: -moz-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
            background: -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
            background: -o-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
            background: -ms-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
            background: linear-gradient(top bottom, transparent 0, rgba(0, 0, 0, .7) 100%);
        }

    #categories .image-half,
    #categories .image-full {
        height: 260px;
    }

@media screen and (min-width: 768px) {
    #categories .image-full {
        height: 540px;
    }
}

#categories .cate {
    position: absolute;
    left: 35px;
    bottom: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    font-size: 30px;
}


/** /CATEGORIES **/


/** ADS **/

#ads .image {
    display: block;
}

    #ads .image img {
        height: auto;
        width: 100%;
    }

#ads .row {
    margin: 0;
}

    #ads .row > * {
        padding: 0;
    }


/** /ADS **/


/** TOP PRODUCTS **/

#top-products {
    margin-top: 80px;
}


/** /TOP PRODUCTS **/


/** CUSTOMERS **/

#customers {
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 80px;
    background: rgb(249, 249, 249);
    height: 360px;
}

    #customers .image {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 120px;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        transition-duration: 0;
    }

        #customers .image:hover,
        #customers .image:active {
            -webkit-filter: grayscale(0);
            /* Safari 6.0 - 9.0 */
            filter: grayscale(0);
        }

    #customers .swiper {
        margin-top: 50px;
        position: relative;
    }


/*#customers .swiper-button-next,
    #customers .swiper-button-prev {
        background: none;
        color: #a87b4f;
        font-size: 30px;
        transform: translateY(-22px);
        }*/


/** /CUSTOMERS **/


/** Modify Swipers **/

.swiper-button-next,
.swiper-button-prev {
    text-align: center;
    background: none;
    color: #a87b4f;
    font-size: 22px;
}

#top-products .swiper-button-next,
#customers .swiper-button-next {
    right: -45px;
}

#top-products .swiper-button-prev,
#customers .swiper-button-prev {
    left: -45px;
}

#top-products .swiper,
#customers .swiper {
    margin-left: 45px;
    margin-right: 45px;
}

@media screen and (min-width: 1200px) {
    #top-products .swiper,
    #customers .swiper {
        margin-left: 0;
        margin-right: 0;
    }
}


/** /Modify Swipers * **/

#footer {
    background-color: #a87b4f;
    color: white;
    padding: 85px 0;
}

    #footer .feature-container .logo {
        display: block;
        margin-bottom: 15px;
        /*background: url("../images/logo/MC_Logo-01.png");
    background-size: 100% 140px;
    background-repeat: no-repeat;
    background-position: -24px -14px;*/
        width: 100%;
        height: 92px;
    }

        #footer .feature-container .logo img {
            width: 205px;
            height: 90px;
        }

    #footer .feature-container .description label {
        display: block;
        font-weight: normal;
    }

    #footer .feature-container .feature {
        padding: 0;
    }

        #footer .feature-container .feature ul {
            list-style: none;
            margin-left: -37px;
        }

            #footer .feature-container .feature ul li:first-child {
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
            }

            #footer .feature-container .feature ul li {
                margin-top: 13px;
            }

                #footer .feature-container .feature ul li a {
                    color: white;
                }

                    #footer .feature-container .feature ul li a:hover {
                        text-decoration: none;
                    }

    #footer .feature-container .search-content {
        margin-top: 25px;
        position: relative;
    }

        #footer .feature-container .search-content input {
            width: 100%;
            height: 40px;
            background-color: #a87b4f;
            outline: none;
            padding: 15px 20px;
            border: 2px groove white;
        }

            #footer .feature-container .search-content input::-webkit-input-placeholder {
                color: white;
                font-weight: 100;
            }

        #footer .feature-container .search-content button {
            position: absolute;
            top: 50%;
            right: 0;
            color: #a87b4f;
            background-color: white;
            width: 40px;
            height: 40px;
            border: 0 white;
            outline: none;
            transform: translateY(-50%);
            padding: 0 13px;
        }

            #footer .feature-container .search-content button img {
                width: 100%;
                height: 23px;
            }

    #footer .feature-container .social {
        margin-top: 30px;
    }

        #footer .feature-container .social a {
            display: inline-block;
        }

            #footer .feature-container .social a img {
                width: 15px;
                height: 30px;
            }

#copyright {
    color: #a87b4f;
    padding: 15px;
    font-size: 14px;
}

    #copyright .left {
        padding-top: 15px;
    }

/*design for contact*/


/*design for map*/

#contact * {
    color: #505050;
}

#contact .maps {
    margin-bottom: 30px;
}

    #contact .maps #map-canvas {
        width: 100%;
        height: 448px;
    }


/*end map*/
#contact .discription-content {
    margin-bottom: 45px;
}

    #contact .discription-content p {
        font-weight: 500;
        max-width: 756px;
    }

    #contact .discription-content .line {
        width: 51px;
        height: 5px;
        background: #a87b4f;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    #contact .discription-content span {
        margin-bottom: 12px;
        margin-top: 12px;
        display: block;
        font-size: 14px;
        line-height: 24px;
    }

    #contact .discription-content .here {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 14px;
    }

#contact .contact-content .left {
    font-weight: 500;
    color: #505050;
}

    #contact .contact-content .left ul {
        list-style: none;
        padding: 0;
        font-weight: 500;
    }

        #contact .contact-content .left ul .title {
            margin-top: 15px;
            color: #505050;
            display: inline-block;
        }

    #contact .contact-content .left > h4 {
        text-transform: uppercase;
        color: #a87b4f;
        font-weight: bold;
        margin-top: 25px;
        font-size: 16px;
    }

    #contact .contact-content .left .company-name {
        margin-top: 35px;
        margin-bottom: 0;
        text-transform: none;
    }

    #contact .contact-content .left .title {
        color: #505050;
        margin-bottom: 5px;
        font-weight: 700;
    }

#contact .contact-content .right .form-group label {
    margin-bottom: 0;
    margin-top: 9px;
    font-size: 16px;
    font-weight: bold;
    color: #505050;
}

#contact .contact-content .right .form-group input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #505050;
    border-radius: 0;
}

#contact .contact-content .right .form-group textarea {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #505050;
    resize: none;
    margin-top: 23px;
    height: 192px;
}

#contact .contact-content .right .form-group select {
    box-shadow: none;
    border: 1px solid #505050;
    border-radius: 0;
    height: 40px;
    margin-top: 18px;
    color: #505050;
    font-weight: 500;
}

#contact .contact-content .right input[type="button"] {
    border: none;
    background-color: #a87b4f;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    font-weight: 600;
}

#contact .contact-content .right fieldset {
    border: 1px double #a87b4f;
    padding: 5px 36px 25px;
}

#contact .contact-content .right {
    padding: 20px;
}

    #contact .contact-content .right legend {
        width: auto;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        color: #a87b4f;
        font-size: 30px;
        margin-bottom: 17px;
        padding-left: 10px;
        padding-right: 10px;
    }

.navigator {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: auto;
    background: white;
    z-index: 10;
    margin-left: -40px;
    margin-right: -40px;
    padding-top: 1px;
    text-align: left;
}

    .navigator a:hover {
        text-decoration: none;
        opacity: 1 !important;
    }

    .navigator .image-wrapper {
        height: 360px;
        overflow: hidden;
        padding: 0;
    }

    .navigator .image {
        width: 100%;
    }

    @media (min-width: 992px) {
        .navigator .sub-menu {
            padding-left: 69px;
        }
    }

        .navigator .sub-menu a {
            text-transform: uppercase;
            color: #a87b4f !important;
            opacity: 0.5;
            margin-top: 45px;
            display: inline-block;
            font-weight: 600;
            font-size: 14px;
            white-space: normal;
        }
        @media (min-width: 992px) {
            .navigator .sub-menu a {
                font-size: 16px;
            }
        }

.dark-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 20;
}

#download-cata {
    background: #a87b4f;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    transform-origin: bottom right;
    position: fixed;
    right: 0;
    top: 50%;
    display: inline-block;
    z-index: 19;
    transform: translate(0%, -300%) rotate(-90deg);
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    padding: 0 25px;
}

.fixedScroll {
    position: absolute !important;
    /*top: 319% !important;*/
}

#download-cata img {
    width: 20px;
    height: 25px;
    margin-right: 8px;
    position: relative;
    top: -6px;
}

#download-cata span {
    position: relative;
    top: -5px;
}

/** Component: PRODUCT SLIDER **/

.component-product-slider .image {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.component-product-slider .swiper {
    position: relative;
}

.component-product-slider .swiper-button-next,
.component-product-slider .swiper-button-prev {
    transform: translateY(-100%);
}

.component-product-slider .swiper-slide {
    text-align: center;
    box-sizing: border-box;
}

.component-product-slider .name {
    font-weight: bold;
    color: #a87b4f;
    font-size: 20px;
    margin: 15px 0 0;
    text-transform: uppercase;
}

.component-product-slider a:hover {
    text-decoration: none;
}

.component-product-slider .price {
    color: #a87b4f;
    margin-top: 10px;
    font-size: 18px;
}

.component-product-slider .swiper-button-next {
    right: -45px;
}

.component-product-slider .swiper-button-prev {
    left: -45px;
}

.component-product-slider .swiper-button-disabled {
    display: none;
}


/** Component: PRODUCT SLIDER **/

@media(min-width: 1440px) {
    .container-wisky {
        width: 1170px;
    }
}

@media(min-width: 1600px) {
    .container-wisky {
        width: 1170px;
    }
}


/*Product details css*/

#product-detail {
    margin-top: 45px;
}

    #product-detail ul {
        list-style: none;
        font-size: 0;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 0 15px 0;
        border-bottom: 1px solid #a87b4f;
        margin-bottom: 40px;
        text-align: justify;
    }

        #product-detail ul li {
            display: inline-block;
            width: auto;
            font-size: 16px;
            text-align: justify;
        }
        
        #product-detail ul::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 0;
        }

            #product-detail ul li:first-child {
                text-align: left;
            }

            #product-detail ul li:last-child {
                text-align: right;
            }

            #product-detail ul li a {
                color: rgba(168, 123, 79, 0.6);
                font-weight: bold;
            }

            #product-detail ul li.active a {
                color: #a87b4f;
            }

            #product-detail ul li a:hover,
            #product-detail ul li a:focus {
                text-decoration: none;
            }

    #product-detail #productDetail .detail-content {
        display: block;
        line-height: 30px;
    }

        #product-detail #productDetail .detail-content label {
            width: 13%;
            color: #505050;
        }

        #product-detail #productDetail .detail-content span {
            width: 87%;
            float: right;
        }

    #product-detail .plain-text-box {
        max-width: 747px;
    }

    #product-detail .size-table-box {
        max-width: 558px;
        margin-left: auto;
        margin-right: auto;
    }

    #product-detail .comment-box {
        max-width: 628px;
        margin: 50px auto 0;
    }

    #product-detail .comment-description {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #505050;
        text-align: center;
    }

    #product-detail .comment-title {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #505050;
        text-align: center;
        margin: 34px 0 0 0;
        text-transform: uppercase;
    }

    #product-detail .comment-form {
        margin-top: 40px;
    }

    #product-detail input {
        border: solid 1px rgba(168, 123, 79, .65);
        height: 40px;
        padding: 0 12px;
        width: 100%;
    }

    #product-detail .customer-email {
        margin-top: 25px;
    }

    #product-detail .rating {
        margin-top: 35px;
        text-align: right;
    }

        #product-detail .rating .title {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #505050;
            margin-right: 15px;
        }

    #product-detail textarea {
        border: solid 1px rgba(168, 123, 79, .65);
        padding: 12px 15px;
        width: 100%;
    }

    #product-detail .btn-send-comment {
        margin: 40px auto 0;
        display: block;
        width: 110px;
        height: 48px;
        font-size: 16px;
    }

    #product-detail .star-rating {
        display: inline-block;
        position: relative;
        top: -2px;
    }

        #product-detail .star-rating .item {
            width: 16px;
        }
