﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <!--Body-->
    <div class="card-body">
        <div role="tabpanel" class="tab">
            <!--Tab content-->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane animated fadeIn active" id="Comment">
                    <input type="hidden" id="sTime" />
                    <input type="hidden" id="eTime" />
                    <!--./Comment Filter button-->
                    <!--Filter condition-->

                    <div class="row">
                        <div class="col-sm-4">
                            <p class="f-500 m-b-15 c-black">Theo bài post</p>
                            <select id="post-list" class="selectpicker">
                                <option value="0">Tất cả</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <p class="c-black f-500 m-b-15">Thời gian</p>
                            <div class="input-group form-group">
                                <div class="dtp-container dropdown">
                                    <div id="reportrange">
                                        <input id="date-string" readonly class="form-control text-center">
                                        <a class="myCelenderA" id=""><i class="fa fa-calendar"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <p class="c-black f-500 m-b-15">.</p>
                            <div>
                                <button onclick="btnRefine()" class=" btn btn-primary waves-effect">Lọc</button>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <p class="f-500 m-b-15 c-black">Nội dung</p>
                            <select class="selectpicker">
                                <option value="0">Tất cả</option>
                                <option>haha</option>
                                <option>hihi</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <p class="f-500 m-b-15 c-black">Trạng thái</p>
                            <select class="selectpicker" id="statusId">
                                <option value="0">Tất cả</option>
                                <option value="1">Đang hiển thị</option>
                                <option value="2">Đang cảnh báo</option>
                                <option value="3">Đã duyệt</option>
                                <option value="4">Đang ẩn</option>
                                <option value="5">Đã xóa</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <p class="f-500 m-b-15 c-black">Đã đọc</p>
                            <select class="selectpicker" id="isRead">
                                <option value="2">Tất cả</option>
                                <option value="1">Đã đọc</option>
                                <option value="0">Chưa</option>
                            </select>
                        </div>
                        <div class="col-sm-2 m-b-25">
                            <p class="f-500 m-b-15 c-black">Mục đích</p>
                            <select class="selectpicker" id="intentId">
                                <option value="0">Tất cả</option>
                                <option>Tích cực</option>
                                <option>Tiêu cực</option>
                            </select>
                        </div>
                    </div>

                    <!--./Filter condition-->
                    <!--Comment table-->
                    <div class="table-responsive">
                        <table id="tblComment" class="table table-hover dataTable table-condensed table-striped no-footer " width="100%">
                            <thead>
                                <tr>
                                    <th><input id="checkAllCommentTbl" type="checkbox" onchange="checkAllComment()"></th>
                                    <th>Bình luận</th>
                                    <th>Bài đăng</th>
                                    <th>Người đăng</th>
                                    <th>Mục đích</th>
                                    <th>Thời gian</th>
                                    <th>Trạng thái</th>
                                    <th>Đã đọc</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!--./ Comment table-->
                </div>
                <div role="tabpanel" class="tab-pane animated fadeIn" id="comment">
                    <p>
                        Quan ly comment
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane animated fadeIn" id="user">
                    <p>
                        Quan ly facebook user
                    </p>
                </div>
            </div>
            <!--./Tab content-->
        </div>
    </div>
</div>

<script>
    var checkStatus;
    var checkCustomer;
    var listSelectedComment = [];
    var isRead = null;
    var isIntend = null;
    var isStatus = null;
    var PostId = "0";

    function btnRefine() {
        if ($('#intentId').val() == 0) {
            isIntend = null;
        } else {
            isIntend = $('#intentId').val();
        }
        if ($('#statusId').val() == 0) {
            isStatus = null;
        } else {
            isStatus = $('#statusId').val();
        }
        if ($('#isRead').val() == 2) {
            isRead = null;
        } else {
            if ($('#isRead').val() == 1) {
                isRead = true;
            } else {
                isRead = false;
            }
        }
        if ($('#post-list').val() == 0) {
            PostId = "0";
        } else {
            PostId = $('#post-list').val();
        }
        RefreshTable();
        $('#selectAllButtonCommentTbl').empty();
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận&nbsp; <span class='caret'></span>");
    }

    function loadAllPost() {

        $.ajax({
            url: '@Url.Action("LoadAllPost", "CommentAnalysis", new { @area="Facebook"})',
            type: "POST", async: false,
            success: function (result) {
                if (result != null && result.length > 0) {
                    //render to store dropdown

                    $('#post-list').html();
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].Name != null) {
                            $('#post-list').append("<option value=\'" + result[i].PostId + "\'>" + result[i].Name + "</option>");
                        }
                    }
                }
            },
            error: function (error) {
                ShowMessage("Có lỗi xảy ra, vui lòng thử lại. Nếu lỗi tiếp tục tiếp diễn xin vui lòng liên hệ admin", 1);
            }
        });
    };


    $(document).ready(function () {
        loadAllPost();
        InitCommentTable();
        function cb(start, end, label) {
            var startTime = start.format("MM/DD/YYYY"),
                endTime = end.format("MM/DD/YYYY"),
                dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

            if (label != "Tùy chọn") {
                $('#date-string').val(label);
            } else {
                $("#date-string").val(dateString);
            }

            $("#sTime").val(startTime);
            $("#eTime").val(endTime);
            $("#dateRange").html(dateString);
            //RefreshTable();
        }
        cb(moment(), moment(), "Hôm nay");

        $('#reportrange').daterangepicker({
            "opens": "left",
            "maxDate": moment(),
            locale: {
                format: 'MM/DD/YYYY'
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment()],
                'Tuần này': [moment().startOf('isoweek'), moment().endOf('isoweek')],
                'Tuần trước': [moment().subtract(1, 'week').startOf('isoweek'), moment().subtract(1, 'week').endOf('isoweek')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
    });
    function InitCommentTable() {
        $("#tblComment").dataTable({
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "sDom": 'l<"CommentToolBar">rtip',
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("GetCommentByShopAndCondition", "CommentAnalysis")",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "startDate", "value": $('#sTime').val() });
                aoData.push({ "name": "endDate", "value": $('#eTime').val().concat(" 23:59:59.000") });
                aoData.push({ "name": "intentId", "value": isIntend });
                aoData.push({ "name": "status", "value": isStatus });
                aoData.push({ "name": "isRead", "value": isRead });
                aoData.push({ "name": "postId", "value": PostId });
            },
            "aoColumnDefs": [
                {
                    "aTargets": [1],
                    "mData": function (source) {
                        return "<a href='https://www.facebook.com/" + source.Id + "'target='_blank'" + "' onclick='btnReadComment(\"" + source.Id + "\")'>" + source.CommentContent + "</a>"
                    },
                    "sClass": "text-left",
                    "width": "12%",
                },
                {
                    "aTargets": [2],
                    "mData": function (source) { return "<a href='https://www.facebook.com/" + source.PostId + "' target='_blank'>" + source.PostContent + "</a>" },
                    "sClass": "text-left",
                    "width": "12%",
                },
                {
                    "aTargets": [3],
                    "mData": function (source) { return "<a href='https://www.facebook.com/" + source.SenderFbId + "' target='_blank'>" + source.SenderName + "</a>" },
                    "sClass": "text-left",
                    "width": "12%",
                },
                {
                    "aTargets": [4],
                    "mData": "IntentName",
                    "sClass": "text-left",
                    "width": "10%",
                },
                {
                    "aTargets": [5],
                    "mData": function (source) { return FormatDateVN(source.DateCreated) },
                    "width": "12%",
                    "sClass": "text-left",
                },
                {
                    "aTargets": [6],
                    "mData": function (source) {
                        var string = "";
                        switch (source.Status) {
                            case 1:
                                string = "<div id='conTentText" + source.Id + "' class='label label-primary myCategory'>Đang hiển thị</div>";
                                checkStatus = false;
                                break;
                            case 2:
                                string = "<div id='conTentText" + source.Id + "' class='label label-warning myCategory'>Cảnh báo</div>";
                                checkStatus = false;
                                break;
                            case 3:
                                string = "<div id='conTentText" + source.Id + "' class='label label-warning myCategory'>Đang ẩn</div>";
                                checkStatus = false;
                                break;
                            case 5:
                                string = "<div id='conTentText" + source.Id + "' class='label label-danger myCategory'>Đã xóa</div>";
                                checkStatus = true;
                                break;
                            case 4:
                                string = "<div id='conTentText" + source.Id + "' class='label label-success myCategory'>Đã duyệt</div>";
                                checkStatus = false;
                                break;
                            default:
                                string = "Invalid";
                                checkStatus = false;
                                break;
                        }
                        return string;
                    },
                    width: "12%",
                    "sClass": "text-left",
                },
                {
                    "aTargets": [7],
                    "mData": function (source) {
                        if (source.Status != 5) {
                            if (source.IsRead == true) {
                                return "<div><label><i id='unRead" + source.Id + "' class='fa fa-check-square-o' style='font-size:20px'></i></label></div>";
                            } else {
                                return "<div><label ><i id='unRead" + source.Id + "' class='fa fa-square-o' style='font-size:20px'></i>@*<input type='hidden' value='" + source.Id +
                                    "' />*@</label></div>";
                            }
                        }
                        return null;
                    }, "sClass": "text-center", "width": "8%", "bSortable": false
                },
                {
                    "aTargets": [8],
                    "mData": function (source) {
                        var hidden = "";
                        var remove = "";
                        var approval = "";
                        if ((source.Status == 1 || source.Status == 2 || source.Status == 4) && source.CanHide == true) {
                            hidden = "<a ><span onclick='btnHideComment(\"" + source.Id + "\")' id='hideComment" + source.Id + "' class='btn btn-sm btn-warning pull-left'style='margin-left : 5px'>Ẩn</span></a>";
                        } else if (source.Status == 3) {
                            hidden = "<a ><span onclick='btnUnHideComment(\"" + source.Id + "\")' id='hideComment" + source.Id + "' class='btn btn-sm btn-info pull-left'style='margin-left : 5px'>Bỏ ẩn</span></a>";
                        }
                        if (source.Status != 5) {
                            remove = "<a onclick='btnDeleteComment(\"" + source.Id + "\")'><span id='removeComment" + source.Id + "' class='btn btn-sm btn-danger pull-left'>Xóa</span></a>";
                        }
                        if (source.Status == 2) {
                            approval = "<a onclick='btnApprovalComment(\"" + source.Id + "\")'><span id='notApproval" + source.Id + "' class='btn btn-sm btn-success pull-left' style='margin-left : 5px'>Duyệt</span></a>";
                        }
                        return remove + hidden + approval;
                    },
                    "bSortable": false, "width": "16.5%",
                },
                {
                    "aTargets": [0],
                    "mData": function (source) {
                        if (source.Status != 5) {
                            return "<input id='checkBoxIndex" + source.Id + "' type='checkbox' value='" + source.Id + "' onchange='checkBoxCheckedCommentTbl(this)'>";
                        }
                        else {
                            return null;
                        }
                        //return "<div class='checkbox m-b-15'><label><input type='checkbox' value=''><i class='input-helper'></i></label></div>";
                    }, "sClass": "text-center", "width": "1%", "bSortable": false
                },
            ],

        });
        $("div.CommentToolBar").html("<div class='col-sm-2'>" +
                       "<div class='btn-group'>" +
                           "<button id='selectAllButtonCommentTbl' data-toggle='dropdown' class='btn btn-default dropdown-toggle'>Đã chọn 0 bình luận&nbsp;<span class='caret'></span></button>" +
                           "<ul class='dropdown-menu'>" +
                               "<li><a href='javascript:void(0)' onclick='hideAllComment()'>Ẩn những bình luận đã chọn</a></li>" +
                               "<li><a href='javascript:void(0)' onclick='UnhideAllComment()'>Bỏ ẩn những bình luận đã chọn</a></li>" +
                               "<li><a href='javascript:void(0)' onclick='deleteAllComment()'>Xóa những bình luận đã chọn</a></li>" +
                           "</ul>" +
                       "</div>" +
                   "</div>");
    }


    function reDrawDatatable(id) {
        $.fn.dataTableExt.oApi.fnStandingRedraw = function (oSettings) {
            if (oSettings.oFeatures.bServerSide === false) {
                var before = oSettings._iDisplayStart;
                oSettings.oApi._fnReDraw(oSettings);
                //iDisplayStart has been reset to zero - so lets change it back
                oSettings._iDisplayStart = before;
                oSettings.oApi._fnCalculateEnd(oSettings);
            }
            //draw the 'current' page
            oSettings.oApi._fnDraw(oSettings);
        };
        $(id).dataTable().fnStandingRedraw();
    }

    //$(document).on('click', '#unRead',function () {
    //    var idComment = $('#unRead').find('input[type="hidden"]').val();
    //    btnReadComment(idComment);
    //});


    //user datatable
    function RefreshTable() {
        listSelectedComment = [];
        reDrawDatatable("#tblComment");
        $('#checkAllCommentTbl').prop('checked', false);
    }


    function CheckIsRead(IdComment) {
        for (var i = 0; i < IdComment.length; i++) {
            $('#unRead' + IdComment[i]).removeClass('fa-square-o');
            $('#unRead' + IdComment[i]).addClass('fa-check-square-o');
        }
    }

    function CheckApproved(IdComment) {
        for (var i = 0; i < IdComment.length; i++) {
            $('#notApproval' + IdComment[i]).removeClass('btn btn-sm btn-success pull-left');
            $('#notApproval' + IdComment[i]).text('');
            $('#conTentText' + IdComment[i]).removeClass('label-primary label-warning label-success label-danger');
            $('#conTentText' + IdComment[i]).text('');

            $('#conTentText' + IdComment[i]).addClass('label-success');
            $('#conTentText' + IdComment[i]).text('Đã duyệt');
        }
    }

    function CheckDeleted(IdComment) {
        for (var i = 0; i < IdComment.length; i++) {
            $('#removeComment' + IdComment[i]).removeClass('btn btn-sm btn-danger pull-left');
            $('#hideComment' + IdComment[i]).removeClass('btn btn-sm btn-info pull-left');
            $('#hideComment' + IdComment[i]).removeClass('btn btn-sm btn-warning pull-left');
            $('#conTentText' + IdComment[i]).removeClass('label-primary label-warning label-success label-danger');
            $('#conTentText' + IdComment[i]).text('');
            $('#checkBoxIndex' + IdComment[i]).remove();
            $('#removeComment' + IdComment[i]).text('');
            $('#hideComment' + IdComment[i]).text('');
            $('#unRead' + IdComment[i]).removeClass('fa fa-square-o fa-check-square-o');

            $('#conTentText' + IdComment[i]).addClass('label-danger');
            $('#conTentText' + IdComment[i]).text('Đã xóa');
        }
    }

    function CheckHidden(IdComment) {
        for (var i = 0; i < IdComment.length; i++) {
            $('#hideComment' + IdComment[i]).removeClass('btn btn-sm btn-warning pull-left');
            $('#hideComment' + IdComment[i]).text('');
            $('#hideComment' + IdComment[i]).removeAttr("onclick");
            $('#conTentText' + IdComment[i]).removeClass('label-primary label-warning label-success label-danger');
            $('#conTentText' + IdComment[i]).text('');

            $('#hideComment' + IdComment[i]).addClass('btn btn-sm btn-info pull-left');
            $('#hideComment' + IdComment[i]).text('Bỏ ẩn');
            $('#hideComment' + IdComment[i]).attr("onclick", "btnUnHideComment(\"" + IdComment[i] + "\")");
            $('#conTentText' + IdComment[i]).addClass('label-warning');
            $('#conTentText' + IdComment[i]).text('Đang ẩn');
        }
    }

    function CheckUnHide(IdComment) {
        for (var i = 0; i < IdComment.length; i++) {
            $('#hideComment' + IdComment[i]).removeClass('btn btn-sm btn-info pull-left');
            $('#hideComment' + IdComment[i]).text('');
            $('#hideComment' + IdComment[i]).removeAttr("onclick");
            $('#conTentText' + IdComment[i]).removeClass('label-primary label-warning label-success label-danger');
            $('#conTentText' + IdComment[i]).text('');

            $('#hideComment' + IdComment[i]).addClass('btn btn-sm btn-warning pull-left');
            $('#hideComment' + IdComment[i]).text('Ẩn');
            $('#hideComment' + IdComment[i]).attr("onclick", "btnHideComment(\"" + IdComment[i] + "\")");
            $('#conTentText' + IdComment[i]).addClass('label-primary');
            $('#conTentText' + IdComment[i]).text('Đang hiển thị');
        }
    }

    function btnCollapse() {
        $('#intentId').val(0);
        $('#statusId').val(0);
        $('#isRead').val(2);
    }

    function btnDeleteComment(IdComment) {
        listSelectedComment.push(IdComment);
        ShowConfirm("Bạn có muốn xóa bình luận này?", function () {
            $.ajax({
                type: "Comment",
                url: '@Url.Action("DeleteComment", "CommentAnalysis")',
                data: { CommentId: listSelectedComment },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Xóa bình luận thành công", 2, function () {
                            CheckDeleted(listSelectedComment);
                        });
                        CheckDeleted(listSelectedComment);
                    } else {
                        ShowAlert("Xóa bình luận thất bại", 1);
                    }
                    listSelectedComment = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                    listSelectedComment = [];
                }
            });
        });
        $('#selectAllButtonCommentTbl').empty();
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận&nbsp; <span class='caret'></span>");
    }

    function btnApprovalComment(IdComment) {
        listSelectedComment.push(IdComment);
        ShowConfirm("Bạn có bỏ đánh dấu bình luận này?", function () {
            $.ajax({
                type: "Comment",
                url: '@Url.Action("ApprovalComment", "CommentAnalysis")',
                data: { CommentId: listSelectedComment },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Bỏ đánh dấu bình luận thành công", 2, function () {
                            CheckApproved(listSelectedComment);
                            CheckIsRead(listSelectedComment);
                        });
                        CheckApproved(listSelectedComment);
                    } else {
                        ShowAlert("Bỏ đánh dấu bình luận thất bại", 1);
                    }
                    listSelectedComment = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                    listSelectedComment = [];
                }
            });
        });
        $('#selectAllButtonCommentTbl').empty();
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận&nbsp; <span class='caret'></span>");
    }

    function btnHideComment(IdComment) {
        listSelectedComment.push(IdComment);
        ShowConfirm("Bạn có muốn ẩn bình luận này?", function () {
            $.ajax({
                type: "Comment",
                url: '@Url.Action("HideComment", "CommentAnalysis")',
                data: { CommentId: listSelectedComment },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Ẩn bình luận thành công", 2, function () {
                            CheckHidden(listSelectedComment);
                            CheckIsRead(listSelectedComment);
                        });
                        CheckHidden(listSelectedComment);
                    } else {
                        ShowAlert("Ẩn bình luận thất bại", 1);
                    }
                    listSelectedComment = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                    listSelectedComment = [];
                }
            });
        });
        $('#selectAllButtonCommentTbl').empty();
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận&nbsp; <span class='caret'></span>");
    }

    function btnUnHideComment(IdComment) {
        listSelectedComment.push(IdComment);
        ShowConfirm("Bạn có muốn bỏ ẩn bình luận này?", function () {
            $.ajax({
                type: "Comment",
                url: '@Url.Action("UnHideComment", "CommentAnalysis")',
                data: { CommentId: listSelectedComment },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Bỏ ẩn bình luận thành công", 2, function () {
                            CheckUnHide(listSelectedComment);
                            CheckIsRead(listSelectedComment);
                        });
                        CheckUnHide(listSelectedComment);
                    } else {
                        ShowAlert("Bỏ ẩn bình luận thất bại", 1);
                    }
                    listSelectedComment = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                    listSelectedComment = [];
                }
            });
        });
        $('#selectAllButtonCommentTbl').empty();
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận&nbsp; <span class='caret'></span>");
    }

    function btnReadComment(IdComment) {
        listSelectedComment.push(IdComment);
        $.ajax({
            type: "Comment",
            url: '@Url.Action("SetCommentIsRead", "CommentAnalysis")',
            data: { CommentId: listSelectedComment },
            success: function (result) {
                CheckIsRead(listSelectedComment);
                listSelectedComment = [];
            },
            error: function (error) {
                listSelectedComment = [];
            }
        });
        $('#selectAllButtonCommentTbl').empty();
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận&nbsp; <span class='caret'></span>");
    }


    function deleteAllComment() {
        ShowConfirm("Bạn có muốn xóa bình luận này?", function () {
            $.ajax({
                type: "Comment",
                url: '@Url.Action("DeleteComment", "CommentAnalysis")',
                data: { CommentId: listSelectedComment },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Xóa bình luận thành công", 2, function () {
                            CheckIsRead(listSelectedComment);
                            CheckDeleted(listSelectedComment);
                        });
                        CheckDeleted(listSelectedComment);
                    } else {
                        ShowAlert("Xóa bình luận thất bại", 1);
                    }
                    listSelectedComment = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                    listSelectedComment = [];
                }
            });
        });
        $('#selectAllButtonCommentTbl').empty();
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận&nbsp; <span class='caret'></span>");
    }

    function hideAllComment() {
        ShowConfirm("Bạn có muốn ẩn bình luận này?", function () {
            $.ajax({
                type: "Comment",
                url: '@Url.Action("HideComment", "CommentAnalysis")',
                data: { CommentId: listSelectedComment },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Ẩn bình luận thành công", 2, function () {
                            CheckHidden(listSelectedComment);
                            CheckIsRead(listSelectedComment)
                        });
                        CheckHidden(listSelectedComment);
                    } else {
                        ShowAlert("Ẩn bình luận thất bại", 1);
                    }
                    listSelectedComment = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                    listSelectedComment = [];
                }
            });
        });
        $('#selectAllButtonCommentTbl').empty();
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận&nbsp; <span class='caret'></span>");
    }

    function UnhideAllComment() {
        ShowConfirm("Bạn có muốn bỏ ẩn bình luận này?", function () {
            $.ajax({
                type: "Comment",
                url: '@Url.Action("UnHideComment", "CommentAnalysis")',
                data: { CommentId: listSelectedComment },
                success: function (result) {
                    if (result.success) {
                        ShowAlertWithCallback("Bỏ ẩn bình luận thành công", 2, function () {
                            CheckUnHide(listSelectedComment);
                            CheckIsRead(listSelectedComment)
                        });
                        CheckUnHide(listSelectedComment);
                    } else {
                        ShowAlert("Bỏ ẩn bình luận thất bại", 1);
                    }
                    listSelectedComment = [];
                },
                error: function (error) {
                    ShowAlert("ErrorOccured", 1);
                    listSelectedComment = [];
                }
            });
        });
        $('#selectAllButtonCommentTbl').empty();
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận&nbsp; <span class='caret'></span>");
    }

    function checkBoxCheckedCommentTbl(checkbox) {
        if ($('#checkAllCommentTbl').is(':checked')) {
            $('#checkAllCommentTbl').prop('checked', false);
        }
        if ($(checkbox).is(':checked')) {
            $(checkbox).closest("tr").addClass("active");
            listSelectedComment.push(checkbox.value);
            console.log(listSelectedComment);
        } else {
            $(checkbox).closest("tr").removeClass("active");
            for (var i = 0; i < listSelectedComment.length; i++) {
                if (listSelectedComment[i] == checkbox.value) {
                    listSelectedComment.splice(i, 1);
                }
            }
            console.log(listSelectedComment);
        }
        $('#selectAllButtonCommentTbl').empty();
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận &nbsp;<span class='caret'></span>");
    }

    function checkAllComment() {
        $('#selectAllButtonCommentTbl').empty();
        if ($('#checkAllCommentTbl').is(':checked')) {
            listSelectedComment.splice(0, listSelectedComment.length);
            $('#tblComment').find("tbody > tr > td > input").each(function () {
                $(this).parent().parent().addClass("active");
                $(this).prop('checked', true);
                listSelectedComment.push($(this).val());
            });
        } else {
            listSelectedComment.splice(0, listSelectedComment.length);
            $('#tblComment').find("tbody > tr > td > input").each(function () {
                $(this).parent().parent().removeClass("active");
                $(this).prop('checked', false);
            });
        }
        $('#selectAllButtonCommentTbl').append("Đã chọn " + listSelectedComment.length + " bình luận &nbsp;<span class='caret'></span>");
        console.log(listSelectedComment);
    }

    function ShowAlertWithCallback(message, type, callback) {
        var mapper = {
            '1': ['error', 'Lỗi'],
            '2': ['success', 'Thành công'],
            '3': ['info', 'Thông tin']
        }
        swal({
            title: mapper[type][1],
            text: message,
            type: mapper[type][0]
        }, callback);
    }

    //Function format date time to vn format
    function FormatDateVN(date) {
        var milli = date.replace(/\/Date\((-?\d+)\)\//, '$1');
        var d = new Date(parseInt(milli));
        return d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes();
    }
</script>
