﻿@model HmsService.ViewModels.InventoryReceiptEditViewModel
@{
    ViewBag.Title = "ListImportInventory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .text-center {
        text-align: center;
    }

    .group-radio-buttons {
        width: 100%;
        position: static;
        padding-top:5px;
    }

    .medium-radio-button-width {
        width: 18%;
        float: left;
    }

    .large-radio-button-width {
        width: 22%;
        float: left;
    }
</style>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <h3>Phiếu nhập hàng</h3>
            </div>
            <div class="col-md-7">
                <div class="group-radio-buttons">
                    <div class="row small-margin">
                        <div class="medium-radio-button-width text-center">
                            <input type="radio" name="report-filter" value="3" class="nice-check" id="filter4" checked />
                            <label for="filter4"><span>Tất cả</span></label>
                        </div>
                        <div class="large-radio-button-width text-center">
                            <input type="radio" name="report-filter" value="0" class="nice-check" id="filter1" />
                            <label for="filter1"><span>Chờ duyệt</span></label>
                        </div>
                        <div class="medium-radio-button-width text-center">
                            <input type="radio" name="report-filter" value="1" class="nice-check" id="filter2" />
                            <label for="filter2"><span>Đã duyệt</span></label>
                        </div>
                        <div class="medium-radio-button-width text-center">
                            <input type="radio" name="report-filter" value="2" class="nice-check" id="filter3" />
                            <label for="filter3"><span>Đã hủy</span></label>
                        </div>
                        <div class="large-radio-button-width">
                            <input type="radio" name="report-filter" value="4" class="nice-check" id="filter5" />
                            <label for="filter5"><span>Đã đóng</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <a href="@(Url.Action("ImportInventory","ProductInventory"))" class="btn btn-primary btn-icon-text waves-effect addNewEmp">
                    <i class="zmdi zmdi-plus"></i> Thêm hóa đơn
                </a>
            </div>
        </div>
        <hr />

    </div>

    @*<div class="col-lg-5 col-lg-offset-1 col-md-6">
            <div class="row small-margin">
                <div class="col-md-3">
                    <input type="radio" name="report-filter" value="3" class="nice-check" id="filter4" checked />
                    <label for="filter4">Tất cả</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" name="report-filter" value="0" class="nice-check" id="filter1" />
                    <label for="filter1">Chờ duyệt</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" name="report-filter" value="1" class="nice-check" id="filter2" />
                    <label for="filter2">Đã duyệt</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" name="report-filter" value="2" class="nice-check" id="filter3" />
                    <label for="filter3">Đã hủy</label>
                </div>
            </div>
        </div>*@
    <div class="card-padding">
        <table id="inventoryReceiptTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th><label>STT</label></th>
                    <th><label>Tên Hóa Đơn</label></th>
                    <th><label>Mã Hóa Đơn</label></th>
                    <th><label>Người phụ trách</label></th>
                    <th><label>Ngày tạo</label></th>
                    <th><label>Trạng thái</label></th>
                    <th><label>Ghi chú</label></th>
                    <th><label>Nhà cung cấp</label></th>
                    <th><label>Tùy chọn</label></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>

@section InventoryReceipt{
    <script>
        function AcceptReceipt(id) {
            ShowConfirm("Xác nhận duyệt đơn hàng này?", function () {
                $.ajax({
                    "type": "post",
                    "url": "@(Url.Action("AcceptReceipt","ProductInventory"))",
                    "data": {
                        id: parseInt(id)
                    },
                    success: function (result) {
                        ShowAlert("Đã duyệt thành công!", 2);
                        //location.href = "(Url.Action("ListImportInventory", "ProductInventory"))";
                        RefreshTable();
                    }
                });
            });
        }
        function RejectReceipt(id) {
            ShowConfirm("Xác nhận từ chối đơn hàng này?", function () {
                $.ajax({
                    "type": "post",
                    "url": "@(Url.Action("RejectReceipt","ProductInventory"))",
                    "data": {
                        id: parseInt(id)
                    },
                    success: function (result) {
                        ShowAlert("Đã từ chối thành công!", 2);
                        RefreshTable();
                    }
                })
            });
        }
        $(document).ready(function () {
            InitVoucherCampaignDatatable();
            $('[name="report-filter"]').change(function (e) {
                RefreshTableFilter("#inventoryReceiptTable", true);
            });
        });

        function InitVoucherCampaignDatatable() {
            var table = $("#inventoryReceiptTable").dataTable({
                "bFilter": true,
                "bSort": false,
                "bRetrieve": true,
                "bServerSide": true,
                "bScrollCollapse": true,
                "deferRender": true,
                "sAjaxSource": "@Url.Action("LoadImportInventory")",
                "bProcessing": true,
                "bFilter": true,
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "status", "value": $('input[name=report-filter]:checked').val() });
                },
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng", 
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " ",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    },
                    "sSearchPlaceholder": "Tên hóa đơn"


                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 3, 4, 5],
                        "sClass": "text-center"
                    },
                    {
                        "aTargets": [0, 1, 2, 3, 4, 6, 7],
                        "bSortable": false,
                    },
                    {
                        "aTargets": [5],
                        "mRender": function (data, type, row) {
                            var data = row[5];
                            var result = "";
                            if (data === 0) {
                                result = "<div class='label myStatus not-approved meStatus'>Chưa duyệt</div>";
                            }
                            else if (data === 1) {
                                result = "<div class='label myStatus approved meStatus'>Đã duyệt</div>";
                            }
                            else if (data === 2) {
                                result = "<div class='label myStatus canceled meStatus'>Đã hủy</div>";
                            }
                            else if (data === 3) {
                                result = "<div class='label myStatus rejected meStatus'>Đã từ chối</div>";
                            }
                            else if (data === 4) {
                                result = "<div class='label myStatus closed meStatus'>Đã đóng</div>";
                            }
                            return result;
                        },
                        "bSortable": false,
                        "sClass": "text-center"
                    },
                    {
                        "aTargets": [8],
                        "mRender": function (data, type, row) {
                            var data = row[8];
                            var result = "";
                            if (row[4] === '@Utils.GetCurrentDateTime().ToString("dd/MM/yyyy")' && row[5] === 0) {
                                result = "<a class='btn btn-sm btn-primary' title='Chi tiết' href='InventoryReceiptItem/" + data + "'><i class='glyphicon glyphicon-eye-open' style='color: white'></i></a>" + "  " +
                                    "<a class='btn btn-sm btn-success' title='Duyệt'  onclick='AcceptReceipt(" + data + ")'><i class='glyphicon glyphicon-ok' style='color: white'></i></a>" + "  " +
                                    "<a class='btn btn-sm btn-danger'  title='Từ chối'  onclick='RejectReceipt(" + data + ")'><i class='glyphicon glyphicon-remove' style='color: white'></i></a>" + "  ";
                            }
                            else if (row[4] === '@Utils.GetCurrentDateTime().ToString("dd/MM/yyyy")' && row[5] === 1) {
                                result = "<a class='btn btn-sm btn-primary' title='Chi tiết' href='InventoryReceiptItem/" + data + "'><i class='glyphicon glyphicon-eye-open' style='color: white'></i></a>" + "  " +
                                    "<a class='btn btn-sm btn-danger'  title='Từ chối'  onclick='RejectReceipt(" + data + ")'><i class='glyphicon glyphicon-remove' style='color: white'></i></a>" + "  ";
                            }
                            else {
                                result = "<a class='btn btn-sm btn-primary' title='Chi tiết' href='InventoryReceiptItem/" + data + "'><i class='glyphicon glyphicon-eye-open' style='color: white'></i></a>" + "  ";
                            }
                            return result;
                        },
                        "bSortable": false,
                        "sClass": "text-center"
                    }
                ],
                "bAutoWidth": false,
            }).fnSetFilteringDelay(delaySearch);
        }
        function reDrawDatatable(id) {
            $.fn.dataTableExt.oApi.fnStandingRedraw = function (oSettings) {
                if (oSettings.oFeatures.bServerSide === false) {
                    var before = oSettings._iDisplayStart;
                    oSettings.oApi._fnReDraw(oSettings);
                    //iDisplayStart has been reset to zero - so lets change it back
                    oSettings._iDisplayStart = before;
                    oSettings.oApi._fnCalculateEnd(oSettings);
                }

                //draw the 'current' page
                oSettings.oApi._fnDraw(oSettings);
            };
            $(id).dataTable().fnStandingRedraw();
        }
        //user datatable
        function RefreshTable() {
            reDrawDatatable("#inventoryReceiptTable");
        }
    </script>
}

