﻿@model IEnumerable<StoreWebSettingViewModel>

@{
    ViewBag.Title = "Website Settings";

    var counter = 0;
}

<form role="form" method="post" class="form-horizontal">
    @this.Html.AntiForgeryToken()

    <div class="block-header">
        <h2>Thiết lập trang web</h2>

        <ul class="actions">
            <li>
                <button type="submit" class="btn btn-primary" id="btn-submit-product">Hoàn tất</button>
            </li>
        </ul>
    </div>

    @if (this.ViewData.ModelState.Any(q => q.Value.Errors.Count > 0))
    {
        <div class="card">
            <div class="card-body card-padding text-danger">
                @this.Html.ValidationSummary()
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body card-padding">
                    @foreach (var item in this.Model)
                    {
                        var prefix = "Pairs[" + counter + "]";
                        <input type="hidden" name="@(prefix).Id" value="@(item.Id)" />

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="@(prefix).Value">@(item.Name)</label>
                            <div class="col-sm-10">
                                <div class="fg-line">
                                    <input id="@(prefix).Value" name="@(prefix).Value" value="@(item.Value)" class="form-control"
                                           placeholder="@(item.Name)" />
                                </div>
                            </div>

                        </div>

                        ++counter;
                    }
                </div>
            </div>
        </div>
    </div>
</form>