﻿@model ProductViewModel
@{
//    List<HmsService.ViewModels.Group> listGroup = (List<Hotel.Data.Group>)ViewBag.Group;
    ProductViewModel general = ViewBag.ProductGeneral;
}
<h4>Thêm sản phẩm con</h4>
<form id="formCreateProductChildGeneral">

    @*@using (Html.BeginForm("CreateProductGeneral", "Product", FormMethod.Post, new { id = "createProductGeneral", enctype = "multipart/form-data" }))
        {*@
    @Html.ValidationSummary(true)
    @Html.HiddenFor(a => a.ProductType, new { Value = general.ProductType})
    @Html.HiddenFor(q => q.CatID, new { Value = general.CatID})
    

    <input type="hidden" name="GeneralProductId" value="@general.ProductID" />
    <div class="form-horizontal" style="float:left">
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Mã
            </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Tên
            </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(@general.Att1))
        {
            <div class="form-group">
                <label class="col-sm-4 control-label">
                    @general.Att1
                </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Att1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Att1)
                </div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(@general.Att2))
        {
            <div class="form-group">
                <label class="col-sm-4 control-label">
                    @general.Att2
                </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Att2, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Att2)
                </div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(@general.Att3))
        {
            <div class="form-group">
                <label class="col-sm-4 control-label">
                    @general.Att3
                </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Att3, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Att3)
                </div>
            </div>
        }

        <div class="form-group">
            <label class="col-sm-4 control-label">
                Giá
            </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Giảm giá
            </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.DiscountPercent, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DiscountPercent)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Loại
            </label>
            <div class="col-sm-8">
                @Html.DropDownListFor(Model => Model.SaleType, ((SelectList)ViewBag.SaleTypeList))
                @*@Html.TextBoxFor(model => model.DiscountPercent, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DiscountPercent)*@
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-sm-4 control-label">Mục</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.CatID, ViewData["CatID"] as SelectListItem[], new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CatID)
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <a id="submitCreateChild" class="btn btn-success form-control">
                    <i class="left-icon fa fa-plus"></i>Thêm
                </a>
            </div>
        </div>
    </div>
    @*}*@
</form>
