﻿@model Wisky.SkyUp.Website.Areas.Admin.Models.ViewModels.ProductEditViewModel
@{
    var currentStoreDomain = this.ViewBag.CurrentDomain as StoreDomainViewModel;
    var discountPriceName = Constants.DiscountPriceSpecificationName;
    var productSpecifications = this.Model.ProductSpecifications;
}
<form role="form" method="post">
    @this.Html.AntiForgeryToken()
    @this.Html.HiddenFor(q => q.ProductID)
    @this.Html.HiddenFor(q => q.Active)

    <div class="block-header">
        <h2>Thêm mới sản phẩm</h2>

        <ul class="actions">
            <li class="m-r-10">
                <a href="@this.Url.Action("Index", new { parameters = currentStoreDomain.Directory })" class="btn btn-default">Quay lại</a>
            </li>
            <li>
                <button type="button" class="btn btn-primary" id="btn-submit-product">Hoàn tất</button>
                <button type="submit" class="btn btn-primary" style="display: none"></button>
            </li>
        </ul>
    </div>

    @if (this.ViewData.ModelState.Any(q => q.Value.Errors.Count > 0))
    {
        <div class="card">
            <div class="card-body card-padding text-danger">
                @this.Html.ValidationSummary()
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h2>Thông tin chính</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="form-group">
                        <label for="inputTitle" class="control-label">Tên sản phẩm</label>
                        <div class="fg-line">
                            @this.Html.EditorFor(q => q.ProductName,
                                new
                                {
                                    additionalClasses = "seo-source",
                                    htmlAttributes = new KeyValuePair<string, string>[] { new KeyValuePair<string, string>("data-seo-target", "#SeoName"), }
                                })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTitle" class="control-label">Mã sản phẩm</label>
                        <div class="fg-line">
                            @this.Html.EditorFor(q => q.Code)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription" class="control-label">Mô tả</label>
                        <div class="fg-line">
                            @this.Html.EditorFor(q => q.Description, new
                       {
                           TextArea = true,
                           Rows = 6,
                           additionalClasses = "ckeditor",
                           @class = "ckeditor"
                       })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Loại sản phẩm</label>
                        <div class="fg-line">
                            <div class="select">
                                @this.Html.DropDownListFor(q => q.CatID, this.Model.AvailableCategories, new { @class = "form-control", })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nhóm sản phẩm</label>
                        <div class="fg-line">
                            <select class="selectpicker" name="@this.Html.NameFor(q => q.SelectedProductCollections)" multiple>
                                @foreach (var item in this.Model.AvailableCollections)
                                {
                                    <option value="@(item.Value)" selected="@(item.Selected ? "" : null)">@(item.Text)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!--Card: Employee-->
            @*<div class="card">
                    <div class="card-header">
                        <h2>Nhân viên huấn luyện</h2>
                    </div>
                    <div class="card-body card-padding">
                        <div class="form-horizontal">
                            <div class="employee-panel">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-default btn-icon-text waves-effect" data-action="add-employee-group">
                                        <i class="zmdi zmdi-plus"></i>Thêm
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

            <!-- Card: Images -->
            <div class="card">
                <div class="card-header">
                    <h2>Hình ảnh</h2>

                </div>
                <div class="card-body card-padding">
                    <div class="row sm-margin">
                        <div class="col-md-4">
                            <ul class="row sm-margin images-preview avatar" id="avatar-preview">
                                @if (this.Model.ProductImages != null && this.Model.ProductImages.Count() > 0)
                                {
                                    var url = this.Model.ProductImages.First().ImageUrl;

                                    <li class="col-md-4 photo-item removeable">
                                        <div class="ratio-wrapper ratio-wrapper-1-1">
                                            <div class="ratio-item">
                                                <div class="img-container">
                                                    <img src="@(url)" />
                                                </div>
                                                <input type="hidden" name="@this.Html.NameFor(q => q.SelectedImages)" value="@(url)" />
                                                <span class="btn-remove"><i class="glyphicon glyphicon-remove"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                }


                            </ul>
                        </div>
                        <div class="col-md-8">
                            <ul class="row sm-margin images-preview" id="images-preview">
                                @if (this.Model.ProductImages != null && this.Model.ProductImages.Count() > 1)
                                {
                                    var firstImage = true;

                                    foreach (var image in this.Model.ProductImages)
                                    {
                                        if (firstImage)
                                        {
                                            firstImage = false;
                                            continue;
                                        }

                                        var url = image.ImageUrl;

                                        <li class="col-md-4 photo-item removeable">
                                            <div class="ratio-wrapper ratio-wrapper-1-1">
                                                <div class="ratio-item">
                                                    <div class="img-container">
                                                        <img src="@(url)" />
                                                    </div>
                                                    <input type="hidden" name="@this.Html.NameFor(q => q.SelectedImages)" value="@(url)" />
                                                    <span class="btn-remove"><i class="glyphicon glyphicon-remove"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div>
                        <input type="hidden" id="PicURL" data-name="@this.Html.NameFor(q => q.SelectedImages)" />
                        <button type="button" id="GetElImage" class="btn btn-sm btn-success getimagefromelfinder">
                            <i class="icon-upload"></i>Browse
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body card-padding">
                    <div class="form-group">
                        @this.Html.EditorFor(q => q.IsAvailable, new { DisplayString = "Kích hoạt", })
                    </div>
                </div>
            </div>
            <!-- Card: Pairs -->
            <div class="card">
                <div class="card-header">
                    <h2>Thông số</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="form-horizontal">
                        <div class="pair-panel">
                            <div class="pair-group form-group xs-margin">
                                <div class="col-sm-5">
                                    <div class="fg-line">
                                        <input type="text" class="form-control" readonly value="Ưu tiên hiển thị">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="fg-line">
                                        <input type="number" class="form-control" name="@Html.NameFor(a=>a.Product.Position)" placeholder="Ưu tiên hiển thị" value="@(Model.Product.Position)">

                                    </div>
                                </div>
                            </div>
                            <div class="pair-group form-group xs-margin">
                                <div class="col-sm-5">
                                    <div class="fg-line">
                                        <input type="text" class="form-control" readonly value="Giá">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="fg-line">
                                        <input type="hidden" class="form-control" name="@Html.NameFor(a=>a.Product.Price)" id="result" placeholder="Giá bán" value="@(Model.Product.Price)">
                                        <input type="text" class="form-control" name="ShowPrice" id="ShowPrice" onchange="editPrices()" placeholder="Giá bán" value="">
                                        <script>
                                            $(document).ready(function () {
                                                loadPrice();
                                            });
                                            function loadPrice() {
                                                var strPrice = numeral(document.getElementById('result').value).format('0,0');
                                                document.getElementById('ShowPrice').value = strPrice;

                                            }
                                            function editPrices() {
                                                var strPrice = document.getElementById('ShowPrice').value;
                                                var number = numeral().unformat(strPrice);
                                                document.getElementById('result').value = number;
                                                document.getElementById('ShowPrice').value = numeral(number).format('0,0');
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="pair-group form-group xs-margin">
                                <div class="col-sm-5">
                                    <div class="fg-line">
                                        <input type="text" class="form-control" readonly value="Giá khuyến mãi">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="fg-line">
                                        <input type="text" class="form-control" id="ShowFormatPrice" onchange="editPrice()" placeholder="Để trống nếu không có" value="" />
                                        <input type="hidden" class="form-control" name="@(Html.NameFor(a=>a.Product.DiscountPriceEdit))"
                                               id="formatPrice"
                                               value="@(Model.Product.DiscountPrice == 0?"":Model.Product.DiscountPrice.ToString())" />
                                        <script>
										$(document).ready(function () {
                                                var strDiscount = document.getElementById('formatPrice').value;
                                                if (strDiscount == "") {
                                                    document.getElementById('ShowFormatPrice').value = "";
                                                } else {
                                                    document.getElementById('ShowFormatPrice').value = numeral(strDiscount).format('0,0');
                                                }
												
                                            });
										
                                            function editPrice() {
                                                var strPrice = document.getElementById('ShowFormatPrice').value;
                                                if (strPrice == "") {
                                                    document.getElementById('formatPrice').value = "";
                                                } else {
                                                    var number = numeral().unformat(strPrice);
                                                    document.getElementById('formatPrice').value = number;
                                                    document.getElementById('ShowFormatPrice').value = numeral(number).format('0,0');

                                                }

                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="pair-group form-group xs-margin">
                                <div class="col-sm-5">
                                    <div class="fg-line">
                                        <input type="text" class="form-control" readonly value="Ghi chú">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="fg-line">
                                        <input type="text" class="form-control" name="@Html.NameFor(a=>a.Product.Note)" placeholder="Ghi chú" value="@(Model.Product.Note)">
                                    </div>
                                </div>
                            </div>
                            @if (productSpecifications != null)
                            {
                                foreach (var spec in productSpecifications)
                                {
                                    <div class="pair-group form-group xs-margin">
                                        <div class="col-sm-5">
                                            <div class="fg-line">
                                                <input type="text" class="form-control" name="Specifications.Name" placeholder="Tên" value="@(spec.Name)">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="fg-line">
                                                <input type="text" class="form-control" name="Specifications.Value" placeholder="Nội dung" value="@(spec.Value)">
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-danger form-control" data-action="remove-pair-group">
                                                <i class="zmdi zmdi-close"></i>
                                            </button>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-default btn-icon-text waves-effect" data-action="add-pair-group">
                                    <i class="zmdi zmdi-plus"></i>Thêm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card: SEO -->
            <div class="card">
                <div class="card-header">
                    <h2>SEO</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="form-group">
                        <label class="control-label">Từ khóa SEO</label>
                        <div class="fg-line">
                            @this.Html.EditorFor(q => q.SeoKeyWords)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả SEO</label>
                        <div class="fg-line">
                            @this.Html.EditorFor(q => q.SeoKeyWords, new { TextArea = true, Rows = 6, })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Đường dẫn</label>
                        <div class="fg-line">
                            @this.Html.EditorFor(q => q.SeoName)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<!-- Template Pair Group -->
<template id="templatePairGroup">
    <div class="pair-group form-group xs-margin">
        <div class="col-sm-5">
            <div class="fg-line">
                <input type="text" class="form-control" name="Specifications.Name" placeholder="Tên" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="fg-line">
                <input type="text" class="form-control" name="Specifications.Value" placeholder="Nội dung" />
            </div>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-danger form-control" data-action="remove-pair-group">
                <i class="zmdi zmdi-close"></i>
            </button>
        </div>
    </div>
</template>

<!-- Template Variant Group -->
<template id="templateVariantGroup">
    <div class="variant-group form-group sm-margin">
        <div class="col-sm-4">
            <div class="fg-line">
                <input type="text" class="form-control" name="title" />
            </div>
        </div>
        <div class="col-sm-7">
            <div class="fg-line">
                <input type="text" class="form-control" name="content" />
            </div>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-danger form-control" data-action="remove-variant-group">
                <i class="zmdi zmdi-close"></i>
            </button>
        </div>
    </div>
</template>

<!-- Template Mutant Group -->
<template id="templateMutantGroup">
    <div class="mutant-group form-group sm-margin">
        <div class="col-sm-4 mutant-label"></div>
        <div class="col-sm-8">
            <div class="fg-line">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
</template>

<!-- Template Photo Block -->
<template id="tmpPhotoBlock">
    <li class="col-md-4 photo-item removeable">
        <div class="ratio-wrapper ratio-wrapper-1-1">
            <div class="ratio-item">
                <div class="img-container">
                    <img />
                </div>
                <input type="hidden" name="@this.Html.NameFor(q => q.SelectedImages)" value="" />
            </div>
        </div>
    </li>
</template>

<!--Templete Employee-->
<template id="tmpEmployeeGroup">
    <div class="box-card">
        <div class="row sm-margin">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-header">
                        <h2>Hình ảnh nhân viên</h2>
                    </div>
                    <div class="card-body card-padding">
                        <div class="row sm-margin">
                            <div class="col-md-4">
                                <ul class="row sm-margin images-preview avatar" id="avatar-preview">
                                    @if (this.Model.ProductImages != null && this.Model.ProductImages.Count() > 0)
                                    {
                                        var url = this.Model.ProductImages.First().ImageUrl;

                                        <li class="col-md-4 photo-item removeable">
                                            <div class="ratio-wrapper ratio-wrapper-1-1">
                                                <div class="ratio-item">
                                                    <div class="img-container">
                                                        <img src="@(url)" />
                                                    </div>
                                                    <input type="hidden" name="@this.Html.NameFor(q => q.SelectedImages)" value="@(url)" />
                                                    <span class="btn-remove"><i class="glyphicon glyphicon-remove"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                            <div class="col-md-8">
                                <ul class="row sm-margin images-preview" id="images-preview">
                                    @if (this.Model.ProductImages != null && this.Model.ProductImages.Count() > 1)
                                    {
                                        var firstImage = true;

                                        foreach (var image in this.Model.ProductImages)
                                        {
                                            if (firstImage)
                                            {
                                                firstImage = false;
                                                continue;
                                            }

                                            var url = image.ImageUrl;

                                            <li class="col-md-4 photo-item removeable">
                                                <div class="ratio-wrapper ratio-wrapper-1-1">
                                                    <div class="ratio-item">
                                                        <div class="img-container">
                                                            <img src="@(url)" />
                                                        </div>
                                                        <input type="hidden" name="@this.Html.NameFor(q => q.SelectedImages)" value="@(url)" />
                                                        <span class="btn-remove"><i class="glyphicon glyphicon-remove"></i></span>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" id="PicURL" data-name="@this.Html.NameFor(q => q.SelectedImages)" />
                            <button type="button" id="GetElImage" class="btn btn-sm btn-success getimagefromelfinder">
                                <i class="icon-upload"></i>Browse
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-danger form-control" data-action="remove-employee-group">
                    <i class="zmdi zmdi-close"></i>
                </button>
            </div>
        </div>
        <div class="form-group xs-margin">
            <div class="col-sm-4">
                <div class="fg-line">
                    <input type="text" class="form-control" readonly value="Tên">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control" name="@Html.NameFor(a=>a.Product.Note)" placeholder="Tên" value="@(Model.Product.Note)">
                </div>
            </div>
        </div>
        <div class="form-group xs-margin">
            <div class="col-sm-4">
                <div class="fg-line">
                    <input type="text" class="form-control" readonly value="Chức vụ">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control" name="@Html.NameFor(a=>a.Product.Note)" placeholder="Chức vụ" value="@(Model.Product.Note)">
                </div>
            </div>
        </div>
        <div class="form-group xs-margin">
            <div class="col-sm-4">
                <div class="fg-line">
                    <input type="text" class="form-control" readonly value="Mô tả">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="fg-line">
                    @*<input type="text" class="form-control" name="@Html.NameFor(a=>a.Product.Note)" placeholder="Mô tả" value="@(Model.Product.Note)">*@
                    <textarea class="form-control" rows="5" placeholder="Nội dung"></textarea>
                </div>
            </div>
        </div>
    </div>
</template>