﻿@{
    ViewBag.Title = "Index";
    var currentStoreDomain = this.ViewBag.CurrentDomain as StoreDomainViewModel;
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Danh sách sản phẩm</h2>
            </div>
            <div class="col-md-4 text-right">
                <a href="@this.Url.Action("Create", new { parameters = currentStoreDomain.Directory })" class="btn btn-primary btn-icon-text waves-effect">
                    <i class="zmdi zmdi-plus"></i> Thêm sản phẩm
                </a>
            </div>
        </div>
    </div>
    <table id="lst-items" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th data-column-id="PicURL" data-formatter="Picture" data-sortable="false">Hình ảnh</th>
                <th data-column-id="Code">Mã SP</th>
                <th data-column-id="ProductName">Tên SP</th>
                <th data-column-id="ProductCategory" data-formatter="CategoryName">Loại SP</th>
                <th data-column-id="Position" data-formatter="Position">Thứ tự xuất hiện</th>
                <th data-column-id="IsAvailable" data-formatter="Check">Trạng thái</th>
                <th data-column-id="commands" data-formatter="Commands" data-sortable="false"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<template id="command-template" class="hidden">
    <div>
        <a class="btn btn-primary btn-sm"
           data-toggle="tooltip" title="Edit">
            <i class="fa fa-pencil"></i>
        </a>
        <button onclick="onDeleteButtonClick(this);" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</template>




@section scripts {
    <script>
        $(function () {
            var commandTemplate = $("#command-template").html();

            $("#lst-items").bootgrid({
                rowCount: [10, 20, 50, ],

                ajax: true,
                url: "@this.Url.Action("IndexList", new { parameters = currentStoreDomain.Directory })",

                formatters: {
                    "Picture": function (column, row) {
                        return "<img class='img-responsive' src='" + (row.PicURL || "") + "' />";
                    },

                    "Commands": function (column, row) {
                        var template = $(commandTemplate);

                        template.find("[title=Edit]").attr("href", "@(this.Url.Action("Edit", new { parameters = currentStoreDomain.Directory }))/" + row.ProductID);
                        template.find("[title=Delete]").attr("data-id", row.ProductID);

                        return template[0].outerHTML;
                    },

                    "CategoryName": function (column, row) {
                        return row.CateName;
                    },
                    "Position": function(column, row)
                    {
                        return row.Position;
                    },

                    "Check": function (column, row) {
                        var icon = row[column.id] ? "fa-check" : "fa-remove";
                        
                        return "<i class='fa " + icon + "'></i>";
                    }
                },
            });
        });

        function onDeleteButtonClick(btn) {
            if (confirm("Are you sure to delete this record?")) {
                var id = $(btn).attr("data-id");
                window.location.href = "@this.Url.Action("Delete", new { parameters = currentStoreDomain.Directory })/" + id;
            }
        }

    </script>
}