/**
    Page: PRODUCT 
    Author: DucBM
**/

#product-page {
    padding-bottom: 160px;
}

/** Section: OVERVIEW **/
    #overview .banner {
        width: 100%;
    }
    #overview .heading {
        margin-top: 63px;
        font-size: 48px;
        text-transform: uppercase;
        color: #a77b4e;
        font-weight: 700;
        letter-spacing: 1px;
    }
    /* Underline for heading */
    #overview .heading::after {
        content: '';
        display: block;
        width: 50px;
        height: 5px;
        background: #a87b4f;
        margin-top: 15px;
        margin-bottom: 0;
    }
    #overview .description {
        max-width: 849px;
        font-size: 14px;
        line-height: 28px;
        margin-top: 37px;
        margin-left: -3px;
    }
    #overview .description a {
        font-weight: bold;
        color: #a87b4f;
    }
/** /Section: OVERVIEW **/

/** Section: FILTER TOPBAR **/
    #filter-topbar {
        background: #a87b4f;
        margin-top: 64px;
    }
    #filter-topbar h2 {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        margin: 0;
    }
    #filter-topbar h3 {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        margin: 0;
    }
    #filter-topbar .select {
        color: #a87b4f;
        font-size: 14px;
    }

    #filter-topbar .heading,
    #filter-topbar .sorting,
    #filter-topbar .showing {
        border-right: 1px solid transparent;
        text-align: center;
        vertical-align: middle;
        padding: 11px 0;
    }
    #filter-topbar .heading {
        width: calc(234/1170*100%);
        position: relative;
        height: 52px;
        text-align: left;
        padding-top: 15px;
    }
    #filter-topbar .sorting {
        width: calc(542/1170*100%);
        padding-left: 16px;
    }
    #filter-topbar .showing {
        width: calc(369/1170*100%);
    }
    #filter-topbar .spinner {
        border-left: 1px solid rgba(252,252,252,.5);
        border-right: 1px solid rgba(252,252,252,.5);
        position: absolute;
        right: 0;
        top: 0;
        height: 52px;
        width: 69px;
        text-align: center;
        padding-top: 15px;
    }
    #filter-topbar .spinner img {
        height: auto;
        width: 25px;
    }
    #filter-topbar .sorting > *,
    #filter-topbar .showing > * {
        display: inline-block;
    }
    #filter-topbar .sorting .select {
        margin-left: 29px;
        width: 292px;
        font-weight: 600;
    }
    #filter-topbar .sorting option {
        font-weight: 600;
    }
    #filter-topbar .showing .select {
        margin-left: 36px;
        width: 125px;
        font-weight: bold;
    }
    #filter-topbar .showing option {
        font-weight: bold;
    }
/** /Section: FILTER TOPBAR **/

/** Section: FILTER SIDEBAR **/
    #filter-sidebar {
        width: calc(234/1170*100%);
        padding-right: 39px;
        border-right: 1px solid #a87b4f;
    }
    #filter-sidebar .filter-field {
        margin-top: 19px;
    }
    #filter-sidebar .filter-field.no-border-top {
        border-top: none !important;
    }
    #filter-sidebar .filter-field.togglable .body {
        display: none;
    }
    #filter-sidebar .filter-field.togglable button {
        transition-duration: .3s;
        transform-origin: center;
        outline: none;
        font-size: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: initial;
        width: initial;
        margin: 0;
        padding: 3px 3px;
    }
    #filter-sidebar .filter-field.togglable button i {
        font-size: 22px;
        line-height: 14px;
        color: black;
    }
    #filter-sidebar .filter-field.togglable.active button {
        transform: rotate(180deg);
    }

    #filter-sidebar .filter-field:not(:first-child) {
        padding-top: 19px;
        margin-bottom: 0;
        border-top: solid 1px black;
    }
    #filter-sidebar .head {
        font-size: 14px;
        font-weight: bold;
        color: black;
        position: relative;
    }
    #filter-sidebar .body label {
        font-weight: 400;
        color: #505050;
        display: block;
        position: relative;
        margin: 6px 0 0 0;
    }
    #filter-sidebar .body label:first-child {
        margin: 8px 0 0 0;
    }
    #filter-sidebar .body input[type="radio"] {
        display: none;
    }
    #filter-sidebar .body .custom-radio {    
        position: absolute;
        right: 7px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        border: solid 1px black;
        overflow: hidden;
        cursor: pointer;
    }
    #filter-sidebar .body input[type="radio"]:checked ~ .custom-radio::after {
        content: '';
        display: block;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 1px;
        left: 1px;
        background: black;
    }
    #filter-sidebar .btn {
        margin-top: 25px;
        width: 100%;
        font-size: 18px;
        outline: none;
    }
    #filter-sidebar .btn-filter {
        transition-duration: .1s;
    }
    #filter-sidebar .btn-filter:hover,
    #filter-sidebar .btn-filter:active {
        background: #a87b4f;
        color: white;
    }
    #filter-sidebar .ui-slider {
        width: 100%;
        height: 7px;
        border-radius: 100px;
        background-color: #d8d8d8;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        margin-top: 10px;
    }
    #filter-sidebar .ui-slider .ui-slider-range {
        background: none;
    }
    #filter-sidebar .ui-slider-handle {
        width: 10px;
        height: 10px;
        background-color: #f6f6f6;
        box-shadow: 2px 1px 3px 0 rgba(0, 0, 0, 0.21);
        top: -3px;
        border-radius: 50%;
        transform: translateX(50%);
    }
    #filter-sidebar .price-range {        
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #505050;
        margin-top: 18px;
    }
/** /Section: FILTER SIDEBAR **/

/** Section: FILTER RESULTS **/
    #filter-results {
        width: calc(100% - 234/1170*100%);
        padding-left: 62px;
    }
    #filter-results .product {
        margin-top: 28px;
        margin-bottom: 34px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #filter-results .ratio-wrapper {
        margin-left: -15px;
        margin-right: -15px;
        width: auto;
    }
    #filter-results .ratio-wrapper::before {
        padding-top: calc(283/252*100%);
    }
    #filter-results .ratio-item {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #filter-results .name {
        color: black;
        font-size: 14px;
        font-weight: bold;
    }
    #filter-results .price {
        color: black;
        font-size: 14px;
        font-weight: 400;
    }
    #filter-results .code {
        color: black;
        font-size: 10px;
        font-style: italic;
    }
    #filter-results .color {
        font-size: 0;
        margin-top: 50px;
    }
    #filter-results .color > div {
        font-size: initial;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border: solid 1px #d8d8d8;
        display: inline-block;
        margin-right: 16px;
    }
    #filter-results .info {
        margin-top: 10px;
        border-top: 2px solid rgba(0, 0, 0, 0.47);
        padding-top: 8px;
    }
    #filter-results .pagi {
        font-size: 16px;
        text-align: center;
        margin-top: 3px;
    }
    #filter-results .pagi a {
        color: black;
        opacity: .5;
        margin-right: 9px;
    }
    #filter-results .pagi a.active {
        font-weight: bold;
        opacity: 1;
    }
    #filter-results .pagi .icon {
        width: 7px;
        height: 15px;
        margin-left: 5px;
    }
/** /Section: FILTER RESULTS **/

/**
    /Page: PRODUCT 
**/