/**
    Page: PRODUCT DETAILS
**/
#product-detail-page #breadcum {
    margin-top: 40px;    
}
#product-detail-page #product-summary {
    margin-top: 40px;
}
#product-detail-page #recomended-products {
    margin-top: 75px;
}
#product-detail-page #ads {
    margin-top: 80px;
    margin-bottom: 130px;
}

/** BREAD CUM **/
#breadcum a {
    color: #505050; /* darkgray */
}
#breadcum .fa {
    margin: 0 10px;
}
/** /BREAD CUM **/

/** PRODUCT SUMMARY **/
#product-summary .summary-left {
    width: 100%;
}
#product-summary .summary-right {
    width: 100%;
}
@media screen and (min-width: 768px) {
    #product-summary .summary-left {
        width: calc(486/1145*100%);
        margin-right: 74px;
    }
    #product-summary .summary-right {
        width: calc(519/1145*100%);
    }
}
@media screen and (min-width: 992px) {
    #product-summary .summary-left {
        width: calc(486/1145*100%);
    }
    #product-summary .summary-right {
        width: calc(519/1145*100%);
    }
}
@media screen and (min-width: 1200px) {
    #product-summary .summary-left {
        width: calc(486/1145*100%);
    }
    #product-summary .summary-right {
        width: calc(519/1145*100%);
    }
}


#product-images .ratio-wrapper:before {
    padding-top: calc(618/486*100%);
}
#product-images .ratio-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#product-images .slider-nav-wrapper {
    position: relative;
}
#product-images .slider-nav {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
}
#product-images .slider-nav .item {
    padding: 0 10px;
}
#product-images .slider-nav-wrapper img.icon {
    width: 14px;
    height: 27px;
    cursor: pointer;
}
#product-images .slider-nav-wrapper .slick-prev,
#product-images .slider-nav-wrapper .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#product-images .slider-nav-wrapper .slick-prev {
    left: -35px;
}
#product-images .slider-nav-wrapper .slick-next {
    right: -35px;
}
#product-images .slider-nav-wrapper .slick-slide:focus {
    outline: none;
}
#product-images .slider-nav-wrapper .slick-slide .ratio-item {
    border: solid 2px transparent;
}
#product-images .slider-nav-wrapper .slick-slide.slick-current .ratio-item {
    border-color: #a87b4f;
}
/* Hinh san pham: can giua khi con < 4 hinh; */
#product-images .slick-arrow.slick-hidden ~ .slider-nav .slick-track {
    margin-left: auto;
    margin-right: auto;
}
#product-images .slick-arrow.slick-disabled {
    display: none !important;
}

#product-items {
    margin-top: 46px;
}
#product-items .name {
    font-size: 40px;
    font-weight: bold;
    color: #a87b4f;    
}
#product-items .price,
#product-items .code {
    font-size: 24px;
    font-weight: bold;
    color: #a87b4f;    
}
#product-items .price {
    font-weight: bold;
}
#product-items .line {
    border-top: solid 1px #a87b4f;
    margin: 0;
}
#product-items .line-blur {
    opacity: .5; 
    border-width: 2px;
}
#product-items .title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a87b4f;
    text-transform: uppercase;
}
#product-items .detail {
    margin-top: 20px;
    line-height: 25px;
}
#product-items .detail-body {
    margin-top: 15px;
}

#product-items .rating {
    font-size: 0;
}
#product-items .rating .item {
    font-size: initial;
    color: #a87b4f;
    width: 21px;
    margin-right: 11.1px;
}
#product-items .rating .item:last-child {
    margin-right: 7.5px;
}

#product-items .color {
    margin-top: 50px;
}
#product-items .color .choices {
    font-size: 0;
    margin-top: 25px;
}
#product-items .color .choices .item {
    font-size: initial;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    border: solid 1px #979797;
}

#product-items .size {
    margin-top: 25px;
}
#product-items .size .select {
    margin-top: 25px;
    width: 100%;
}
#product-items .size .hint {
    font-style: italic;
    color: #656565;
}

#product-items .size .hint a {
    color: #656565;
}

#product-items .quantity {
    margin-top: 25px;
}
#product-items .quantity .select {
    padding: 0 78px 0 7px;
    background-position: calc(100% - 7px) center;    
    font-size: 16px;
}
#product-items .quantity .controls {
    margin-top: 25px;
}
#product-items .quantity .controls img {
    height: 28px;
    margin-left: 20px;
}

#product-items .actions .btn {
    width: 100%;
    margin-top: 60px;
}
/** /PRODUCT SUMMARY **/

/** RECOMENDED PRODUCT **/
#recomended-products .component-product-slider {
    margin-top: 40px;
}
/** /RECOMENDED PRODUCT **/

/** Component: PRODUCT SLIDER **/
.component-product-slider .image {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.component-product-slider .swiper {
    position: relative;
}

.component-product-slider .swiper-button-next,
.component-product-slider .swiper-button-prev {
    transform: translateY(-100%);
}

.component-product-slider .swiper-slide {
    text-align: center;
    box-sizing: border-box;
}

.component-product-slider .name {
    font-weight: bold;
    color: #a87b4f;
    font-size: 20px;
    margin: 15px 0 0;
}

.component-product-slider a:hover {
    text-decoration: none;
}

.component-product-slider .price {
    color: #a87b4f;
    margin-top: 10px;
}

.component-product-slider .swiper-button-next {
    right: -45px;
}
.component-product-slider .swiper-button-prev {
    left: -45px;
}
.component-product-slider .swiper-button-disabled {
    display: none;
}
/** Component: PRODUCT SLIDER **/


/** Section Title **/
.section-title.lined {
    position: relative;
}
.section-title.lined:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background: #a87b4f;
}
.section-title.lined .inner {
    padding-left: 50px;
    padding-right: 50px;
    background: white;
    position: relative;
    font-weight: bold;
}
/** /Section Title **/

/** Section: Add Embroidery **/
#modal-embroidery .modal-dialog {
    width: 1044px;
    max-width: 100%;
    height: calc(100% - 60px);
}
#modal-embroidery .content {
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}
#modal-embroidery ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#modal-embroidery ul li {
    margin: 0;
}
#modal-embroidery .content-left {
    position: relative;
    background: white;
    width: calc(279/1044*100%);

    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    filter:progid:DXImageTransform.Microsoft.dropshadow(
        OffX=2px, OffY=4px, Color='black', Positive='false'
    ); /* IE 5.5 */ 
    border-collapse: separate; /* Required by IE 9 */
    }
#modal-embroidery .content-left .title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a87b4f;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
}
#modal-embroidery .content-left .btn-close {
    background: #a87b4f;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-size: 18px;
    border-top: 1px solid rgba(151, 151, 151, 0.25);
}
#modal-embroidery .btn-close .fa {
    margin-right: 10px;
}
#modal-embroidery .nav li {
    margin-top: 0;
}
#modal-embroidery .nav li a {
    border-radius: 0;
    padding: 16px 0 15px 23px;
    background: none;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #656565;
    border-top: 1px solid rgba(151, 151, 151, 0.25);
}
#modal-embroidery .nav li.active a {
    background: #a87b4f;
    color: white;
}
#modal-embroidery .content-right {
    width: calc(765/1044*100%);
    padding: 26px 22px;
    background: white;
    max-height: 100%;
    overflow-y: auto;
}
#modal-embroidery .content-right input[type="checkbox"] {
    display: none;
}
#modal-embroidery .content-right input[type="checkbox"] ~ .custom-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #a87b4f;
    display: inline-block;
    cursor: pointer;
}
#modal-embroidery .content-right input[type="checkbox"]:checked ~ .custom-checkbox::after {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    background: #a87b4f;
    margin-left: 1px;
    margin-top: 1px;
}
#modal-embroidery .content-right .head .custom-checkbox {
    margin-right: 9px;
}
#modal-embroidery .content-right .head label {
    color: #a87b4f;
    font-size: 16px;
    margin-right: 18px;
    margin-bottom: 0;
}
#modal-embroidery .content-right .description {
    font-weight: 500;
    font-size: 14px;
    color: #656565;
}
#modal-embroidery .custom-textfield {
    width: 100%;
    height: 25px;
    padding: 2px 7px 0 7px;
    border: solid 1px #a87b4f;
    outline: none;
}
#modal-embroidery .custom-textfield::-webkit-input-placeholder {
    position: relative;
    top: -2px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(168, 123, 79, 0.5);
}
/* Word Embroider */
#modal-embroidery .word-embroider .checkbox-wrapper {
    margin-left: 29px;
}
#modal-embroidery .word-embroider .content-wrapper {
    margin-left: 14px;
    width: calc(100% - 60px);
}
#modal-embroidery .word-embroider .select {
    height: 25px;
    width: 100%;
    color: rgba(168, 123, 79, 0.5);
    font-size: 12px;
    line-height: normal;
    padding-left: 7px;
    padding-right: 30px;
    background-position: calc(100% - 10px) center;
}
#modal-embroidery .word-embroider .select option {
    color: black;
}
#modal-embroidery .word-embroider .body {
    margin-top: 10px;
    padding-right: 70px;
}
#modal-embroidery .word-embroider .body .custom-checkbox {
    position: relative;
    top: 5px;
}
#modal-embroidery .word-embroider .body .notice {
    margin-left: 60px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .4px;
    color: #656565;
}
#modal-embroidery .word-embroider .row {
    margin-left: -10px;
    margin-right: -10px;
}
#modal-embroidery .word-embroider .row [class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}
#modal-embroidery .word-embroider ul li:not(:first-child) {
    margin-top: 10px;
}

/* Flag Embroider */
#modal-embroidery .flag-embroider {
    margin-top: 40px;
}
#modal-embroidery .flag-embroider .item {
    max-width: 90px;
    text-align: center;
    text-transform: uppercase;
}
#modal-embroidery .flag-embroider .ratio-flag::before {
    padding-top: calc(54/90*100%);
}
#modal-embroidery .flag-embroider .ratio-item {
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}
#modal-embroidery .flag-embroider .body {
    max-width: 495px;
    margin-left: 60px;
    margin-top: 20px;
}
#modal-embroidery .flag-embroider .body .name {
    margin-top: 11px;
    font-size: 12px;
    font-weight: normal;
}
#modal-embroidery .flag-embroider .body .item {
    margin-bottom: 27px;
    display: block;
    max-width: 93px;
}
#modal-embroidery .flag-embroider .body input[type="radio"] {
    display: none;
}
#modal-embroidery .flag-embroider .body .flag-radio {
    position: relative;
    cursor: pointer;
}
#modal-embroidery .flag-embroider .body input[type="radio"]:checked ~ .flag-radio::after {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    border: 2px solid #a87b4f;
}
/* Logo Embroider */
#modal-embroidery .logo-embroider .head {
    margin-left: 26px;
}
#modal-embroidery .logo-embroider .body {
    width: calc(100% - 135px);
}
/** /Section: Add Embroidery **/

