/**
    Page: POLICY
**/

#return-exchange-page {
    padding-bottom: 105px;
}

#return-exchange-page .heading {
    margin-top: 80px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #a87b4f;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
}

/* Underline for heading */
#return-exchange-page .heading::after {
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    background: #a87b4f;
    margin-top: 13px;
    margin-bottom: 0;
    margin-left: 1px;
}

#return-exchange-page .section-title {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .8px;
    color: #a87b4f;
    text-align: left;
    margin: 0;
}

#return-exchange-page .method {
    margin-top: 57px;
}

#return-exchange-page .section-intro {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .4px;
    color: #a87b4f;
    margin: 40px 0 14px 1px;
}

#return-exchange-page ul {
    padding-left: 28px;
}

#return-exchange-page ul ul {
    list-style-type: none;
}

#return-exchange-page ul li {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: 0.42px;
    color: #505050;
    padding-left: 10px;
    position: relative;
}

#return-exchange-page li li:before {
    content: "-"; /* Insert content that looks like bullets */
    left: -15px;
    position: absolute;
}
#return-exchange-page .policy {
    margin: 39px 0 0 0;
}

#return-exchange-page .download-link {
    font-weight: bold;
    color: #a87b4f;
}