/**
    Page: SIZE CHART
    Author: DucBM
**/

#size-chart-page {
    padding-bottom: 170px;
}

#size-chart-page .banner {
    width: 100%;
}
#size-chart-page .heading {
    margin-top: 63px;
    text-transform: uppercase;
    color: #a87b4f;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
}
/* Underline for heading */
#size-chart-page .heading::after {
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    background: #a87b4f;
    margin-top: 15px;
    margin-bottom: 0;
}

#size-chart-page .heading {
}

#size-chart-page .section-title {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .8px;
    color: #a87b4f;
    text-align: left;
    margin: 80px 0 0 0;
}

/** Section: MEASURING **/
#measuring .body {
    margin-top: 14px;
}

#measuring .image {
    width: 407px;
    max-width: 100%;
    display: block;
}

#measuring .content {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #505050;
}

#measuring .content h3 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .6px;
    color: #a87b4f;
    margin-top: 27px;
    margin-bottom: 18px;
}

#measuring .content ul {
    padding-left: 26px;
}
#measuring .content li {
    padding-left: 9px;
    line-height: 24px;
}
#measuring .content li:not(last-child) {
    /* margin-bottom: 10px; */
}

@media (min-width: 992px) {
    #measuring .image {
        margin-left: auto;
        margin-right: 0;
    }
    #measuring .content {
        padding-left: 86px;
    }
}
/** /Section: MEASURING **/

/** Section: SIZE TABLE **/
#size-table img {
    display: block;
}

#size-table .coat-women,
#size-table .coat-men,
#size-table .pants-men,
#size-table .pants-women {
    max-width: 100%;
    margin: 40px auto 0;
}

#size-table .pants-men {
    width: 686px;
}

#size-table .pants-women {
    width: 558px;
}
/** /Section: SIZE TABLE **/