@font-face {
    font-family: 'San Francisco';
    font-style: italic;
    src: url('../fonts/SanFranciscoTextItalic.eot');
    src: url('../fonts/SanFranciscoTextItalic.eot') format('embedded-opentype'),
         url('../fonts/SanFranciscoTextItalic.woff2') format('woff2'),
         url('../fonts/SanFranciscoTextItalic.woff') format('woff'),
         url('../fonts/SanFranciscoTextItalic.ttf') format('truetype'),
         url('../fonts/SanFranciscoTextItalic.svg#SanFranciscoTextItalic') format('svg');
}

@font-face {
    font-family: 'San Francisco';
    font-weight: 200;
    src: url('../fonts/SanFranciscoTextLight.eot');
    src: url('../fonts/SanFranciscoTextLight.eot') format('embedded-opentype'),
         url('../fonts/SanFranciscoTextLight.woff2') format('woff2'),
         url('../fonts/SanFranciscoTextLight.woff') format('woff'),
         url('../fonts/SanFranciscoTextLight.ttf') format('truetype'),
         url('../fonts/SanFranciscoTextLight.svg#SanFranciscoTextLight') format('svg');
}

@font-face {
    font-family: 'San Francisco';
    font-weight: 400;
    src: url('../fonts/SanFranciscoTextRegular.eot');
    src: url('../fonts/SanFranciscoTextRegular.eot') format('embedded-opentype'),
         url('../fonts/SanFranciscoTextRegular.woff2') format('woff2'),
         url('../fonts/SanFranciscoTextRegular.woff') format('woff'),
         url('../fonts/SanFranciscoTextRegular.ttf') format('truetype'),
         url('../fonts/SanFranciscoTextRegular.svg#SanFranciscoTextRegular') format('svg');
}

@font-face {
    font-family: 'San Francisco';
    font-weight: 700;
    src: url('../fonts/SanFranciscoTextSemibold.eot');
    src: url('../fonts/SanFranciscoTextSemibold.eot') format('embedded-opentype'),
         url('../fonts/SanFranciscoTextSemibold.woff2') format('woff2'),
         url('../fonts/SanFranciscoTextSemibold.woff') format('woff'),
         url('../fonts/SanFranciscoTextSemibold.ttf') format('truetype'),
         url('../fonts/SanFranciscoTextSemibold.svg#SanFranciscoTextSemibold') format('svg');
}

@font-face {
    font-family: 'San Francisco';
    font-weight: 800;
    src: url('../fonts/SanFranciscoTextBold.eot');
    src: url('../fonts/SanFranciscoTextBold.eot') format('embedded-opentype'),
         url('../fonts/SanFranciscoTextBold.woff2') format('woff2'),
         url('../fonts/SanFranciscoTextBold.woff') format('woff'),
         url('../fonts/SanFranciscoTextBold.ttf') format('truetype'),
         url('../fonts/SanFranciscoTextBold.svg#SanFranciscoTextBold') format('svg');
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'San Francisco', sans-serif;
    font-weight: normal;
}