﻿
@{
    ViewBag.Title = "Index";
    var currentStoreDomain = this.ViewBag.CurrentDomain as HmsService.ViewModels.StoreDomainViewModel;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Danh sách lời nhắn từ khách hàng</h2>
            </div>
        </div>
    </div>
    <table id="lst-items" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th data-column-id="Title">Tiêu đề</th>
                <th data-column-id="Fullname">Họ và tên</th>
                <th data-column-id="Phone">Số điện thoại</th>
                <th data-column-id="Email">Email</th>
                <th data-column-id="Content">Nội dung</th>
                <th data-column-id="commands" ata-sortable="false" data-formatter="Commands"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<template id="command-template" class="hidden">
    <div>
        <a  onclick="onDetailButtonClick(this);" class="btn btn-primary btn-sm" data-role="Detail"
           data-toggle="tooltip" title="Chi tiết">
            <i class="fa fa-eye"></i>
        </a>
        <button onclick="onDeleteButtonClick(this);" class="btn btn-danger btn-sm" data-role="Delete"
                 data-toggle="tooltip" title="Xóa">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</template>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var commandTemplate = $("#command-template").html();

            $("#lst-items").bootgrid({
                rowCount: [10, 20, 50],

                ajax: true,
                url: "@this.Url.Action("IndexList", new { parameters = currentStoreDomain.Directory })",

                formatters: {
                    "Commands": function (column, row) {
                        var template = $(commandTemplate);

                        template.find("[data-role=Detail]").attr("data-id", row.Id);
                        template.find("[data-role=Delete]").attr("data-id", row.Id);

                        return template[0].outerHTML;
                    }
                },
            });
        });



        function onDeleteButtonClick(btn) {
            if (confirm("Are you sure to delete this record?")) {
                var id = $(btn).attr("data-id");
                window.location.href = "@this.Url.Action("Delete", new { parameters = currentStoreDomain.Directory })/" + id;
            }
        }

        function onDetailButtonClick(btn)
        {
            var idDetail = $(btn).attr("data-id");
            $.ajax({
                url: "@Url.Action("Detail")",
                data: {id : idDetail},
                success: function (result) {
                    $('#myModal').modal('show');
                    $('.modal-content').html(result);
                }
            });
        }
    </script>
}