﻿@model int?

@{
    ViewBag.Title = "Store Domains";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Store Domains</h2>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-primary btn-icon-text waves-effect" onclick="onAddButtonClick();">
                    <i class="zmdi zmdi-plus"></i> Add Domain
                </button>
            </div>
        </div>
    </div>
    <table id="lst-items" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th data-column-id="Domain" data-formatter="Domain">Domain</th>
                <th data-column-id="commands" data-formatter="Commands" data-sortable="false"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<template id="command-template" class="hidden">
    <div>
        <button onclick="onDeleteButtonClick(this);" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</template>

<form id="frm-add" class="hidden" method="post" action="@this.Url.Action("Create")">
    @this.Html.AntiForgeryToken()

    <input type="hidden" name="id" value="@(this.Model)" />
    <input type="hidden" name="protocol" value="" />
    <input type="hidden" name="hostName" value="" />
    <input type="hidden" name="port" value="" />
</form>

@section scripts {
    <script>
        $(function () {
            var commandTemplate = $("#command-template").html();

            $("#lst-items").bootgrid({
                rowCount: [10, 20, 50, ],

                ajax: true,
                url: "@this.Url.Action("StoreList")",
                post: {
                    id: "@(this.Model)",
                },

                formatters: {
                    "Check": function(column, row) {
                        var icon = row[column.id] ? "fa-check" : "fa-remove";

                        return "<i class='fa " + icon + "'></i>";
                    },

                    "Domain": function(column, row) {
                        return row.Protocol + "://" + row.HostName + ":" + row.Port;
                    },

                    "Commands": function (column, row) {
                        var template = $(commandTemplate);

                        template.find("[title=Delete]").attr("data-id", row.Id);

                        return template[0].outerHTML;
                    },
                },
            });
        });

        function onAddButtonClick() {
            var domain = prompt("Enter the domain components seperated by a space (for e.g `http www.wisky.vn 80`)");

            if (!domain) {
                return;
            }

            var domainParts = domain.split(" ");
            var frm = $("#frm-add");
            frm.find("[name=protocol]").val(domainParts[0]);
            frm.find("[name=hostName]").val(domainParts[1]);
            frm.find("[name=port]").val(domainParts[2]);
            frm.submit();
        }

        function onDeleteButtonClick(btn) {
            if (confirm("Are you sure to delete this record?")) {
                var id = $(btn).attr("data-id");
                window.location.href = "@this.Url.Action("Delete")/" + id;
            }
        }

    </script>
}