﻿<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Danh sách nhóm</h2>
            </div>
        </div>
    </div>

    <table id="listCollectionTable" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th data-column-id="id" data-type="numeric" width="15%" style="text-align:left">Thứ tự</th>
                <th data-column-id="name" width="60%">Tên nhóm</th>
                <th data-column-id="name" width="25%">Trạng thái</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts {
    @*<link href="/Content/template-material/vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">
        <script src="/Content/template-material/vendors/bootgrid/jquery.bootgrid.min.js"></script>*@
    <!-- Data Table -->
    <script type="text/javascript">
         $(document).ready(function () {
            SKYWEB.Admin.ProductCollection.initDatatable();
            //RefreshTable();
        });

    </script>
}