/*--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */:
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html{
	font-family: 'Strait', sans-serif;
	background-color:rgba(0, 0, 0, 0.11);;
	background: url(../image/cloud.png) no-repeat center center fixed;;
	/*background-repeat: repeat-y;
	background-size: 100%;*/

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.wrap{

	/*position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
/*	margin: 0px;
	margin-top: 20px;
	position: relative;*/
}
h1{
	background-color: #A77B4E;
	color: #fff;
	font-size: 30px;
	padding: 20px 0px 10px 20px;
	display:none;
}
.banner{
	/*width: 700px;*/
	width: 60%;
	margin: 20px auto 0 auto ;s
}
.banner img{

}
.search{
	width:300px;
	margin:0px auto 0 auto; 
	position: relative;
}

.submit-404{
	background: url(../images/sub-bttn.png);
	width: 60px;
	height: 31px;
	border: solid 1px ;
	position: absolute;
	cursor: pointer;
}
.copy{
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #744971;
	
}
.copy a{
	color: #fff;
}


.crt-btn{
	text-align: center;

}

.crt-btn a {
/*	text-transform: capitalize;
	display: inline-block;
	padding: 6px 16px;
	font-size: 32px;
	font-weight: 400;
	font-family: Roboto;
	color: black;*/
	/*	border: 1px solid black;*/
	/*border-radius: 7px 7px 7px 7px;*/
	/*background-color:blue;
	text-decoration: none;*/
	border-style: solid;
	border-width: 0px 0px 3px;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	color: #FFFFFF;	   
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: all 200ms ease-in-out 0s;
	white-space: nowrap;	
	font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
	font-weight: 700;	
	padding: 19px 39px 18px;
	font-size: 18px;
	border-color: #326E99;
	background-color: #244363;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.crt-btn a:hover {
	background-color: #397CAC;
	border-color: #326E99;   
/*	background: #A77B4E;
	color: white;
	border: 1px solid white;*/
}

/*@media (max-width: 425px){
	.wrap{
		height: 918px;

	}

	.banner{
		margin-top:150px;
	}

	h1{
		width: 680px;
		font-size: 50px;
	}

	.crt-btn{
		margin-left: 220px;
	}
}


@media (max-width: 375px){
	.wrap{
		height: 1050px;
	}

	
}

@media (max-width: 320px){
	.wrap{
		height: 1230px;
	}

	.crt-btn{
		margin-left: 270px;
	}
	}*/

/*#A77B4E*/
