﻿@model ImageCollectionDetailsViewModel
@{
    var currentStoreDomain = this.ViewBag.CurrentDomain as StoreDomainViewModel;
}
<div class="block-header">
    <h2>Thư viện hình ảnh "@(Model.ImageCollection.Name)"</h2>
    <ul class="actions">
        <li class="m-r-10">
            <a class="btn btn-default" href="@this.Url.Action("Index", new { parameters = currentStoreDomain.Directory })">Quay lại</a>
        </li>
        <li>
            <button type="submit" class="btn btn-primary" id="btn-submit-collection">Hoàn tất</button>
        </li>
    </ul>
</div>
<div class="card">
    <div class="card-header"></div>
    <div class="card-body card-padding">
        <div class="row" id="galleryContainer">
            @foreach (var item in Model.Items ?? new List<ImageCollectionItemViewModel>())
            {
            <!-- Gallery item -->
                <div class="col-md-3">
                    <div class="removeable">
                        <div class="gallery-item">
                            <div class="ratio-wrapper ratio-wrapper-4-3">
                                <div class="ratio-item">
                                    <div class="img-container">
                                        <img class="img-responsive" src="@item.ImageUrl" />
                                    </div>

                                </div>
                            </div>
                            <div class="caption" style="position:initial;">
                                @{
                                    /*
                                     * MÔ TẢ
                                     * 3 Textbox được ghi vào 1 Cột Title phân biệt bởi | và {
                                     * Khi đỗ dữ liệu vào file .cshtml -> dùng @{ title.substring(0,title.indexOf("|"))... } hoặc splice để xử lý.
                                     */
                                    //Tiêu đề, mô tả, Link được nối lại theo dạng format Tiêuđề|môtả{link và ghi vào Title trong table ImageCollectionItem
                                    var imageTitle = "";
                                    var imageDescription = "";
                                    var imageLink = "";
                                    var strStart = item.Title.Trim();
                                    var posSplitDescription = strStart.IndexOf("|");
                                    var posSplitLink = strStart.IndexOf("{");

                                    //Thêm |{ trong table;

                                    imageTitle = strStart.Substring(0, posSplitDescription).Trim();//Tiêu đề (cắt chuỗi từ vị trí 0 -> vị trí '|')
                                    imageDescription = strStart.Substring(posSplitDescription+1, posSplitLink - posSplitDescription-1).Trim();//Mô tả (cắt chuỗi từ vị trí '|' -> vị trí '{' )
                                    imageLink = strStart.Substring(posSplitLink+1, strStart.Length - posSplitLink - 1).Trim();//Link (cắt chuỗi từ vị trí '{' -> vị trí cuối )
                                }
                                <input class="form-control Imagetitle" placeholder="Tiêu đề" value="@(imageTitle)" />
                                <input class="form-control Imagedescription" placeholder="Mô tả" value="@(imageDescription)" />
                                <input class="form-control Imagelink" placeholder="Liên kết" value="@(imageLink)" />
                            </div>
                        </div>
                        <a class="btn-remove" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                                    }
            <!-- Gallery item -->
            <div class="col-md-3">
                <div class="gallery-item plus-item">
                    <div class="ratio-wrapper ratio-wrapper-4-3">
                        <div class="ratio-item">
                            <a data-action="add-gallery-item" href="#"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Gallery item-->
        </div>
    </div>
</div>
<!-- Gallery item used for Gallery pages-->
<template id="tmpGalleryItem">
    <div class="col-md-3">
        <div class="removeable">
            <div class="gallery-item">
                <div class="ratio-wrapper ratio-wrapper-4-3">
                    <div class="ratio-item">
                        <div class="img-container">
                            <img class="img-responsive" src="~/Content/images/default_product.jpg" />
                        </div>

                    </div>
                </div>
                <div class="caption">
                    @*<input class="form-control" placeholder="Chú thích" />*@
                    <input class="form-control Imagetitle" placeholder="Tiêu đề"/>
                    <input class="form-control Imagedescription" placeholder="Mô tả"/>
                    <input class="form-control Imagelink" placeholder="Liên kết" />
                </div>
            </div>
            <a class="btn-remove" href="#"><i class="fa fa-times"></i></a>
        </div>
    </div>
</template>
